[2022-08-01 08:27] petersopko commented on #3639
this requires additional thought on how to actually do this, please first propose some solution before moving further with the task

[2022-08-01 09:10] KngZhi commented on #3639
👋

[2022-08-01 09:12] KngZhi commented on #3639
My suggestion would goes same on the RMRK chain, have a tooltip shows end date on user's timezone

[2022-08-01 10:34] petersopko commented on #3639
ok let's do that

[2022-08-01 11:13] cryptodamsky commented on #3605
I’d go for a bit user friendly term and that would be "Change price" or "Adjust price" instead of relist. The term itself isn’t very explaining for end-user

[2022-08-01 11:17] cryptodamsky commented on #3605
Why are these price values not shown the same?

<img width="342" alt="image" src="https://user-images.githubusercontent.com/92786519/182136338-7c434676-935a-4cdf-ac4e-307ac0747048.png">

It’s a bit missleading to see 2 different numbers ? (comma or dot missing down there)

I belive this is listed for 10k BSX, but it shows something else?

+ the nft is listed afaik for

[2022-08-01 11:18] cryptodamsky commented on #3605
When i try to explore and look for the minted nft, it’s not anywhere - ( not sure if related, is this logged? )

LOG:

Access to fetch at 'https://app.gc.subsquid.io/beta/snekk/003/graphql' from origin 'https://deploy-preview-3617--koda-nuxt.netlify.app' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is pres

[2022-08-01 13:56] vikiival commented on #3613
pay 50 usd

[2022-08-02 00:52] preschian commented on #3626
👋

[2022-08-02 00:52] #3612 closed

[2022-08-02 08:38] petersopko commented on #3613
alright, tested this a bunch and it seems all of this got cleaned up:
- https://github.com/kodadot/snek/pull/46

[2022-08-02 08:38] #3613 closed

[2022-08-02 08:48] JustLuuuu opened #3643 "Issue with the offers numbers"
STATS: Offers numbers are a little bit off I think.
![image](https://user-images.githubusercontent.com/104380776/182332685-aea740a6-e3ee-4873-b40f-97f7885740e6.png)

_Originally posted by @JustLuuuu in https://github.com/kodadot/nft-gallery/issues/3640#issuecomment-1202199622_

[2022-08-02 08:51] petersopko commented on #3643
what do you mean by little bit off?

[2022-08-02 09:22] petersopko opened #3645 "can't load certain collections"
such as:

https://beta.kodadot.xyz/rmrk/collection/4682CA87AF7499A12C-4EEPVRPIX-G9N
https://beta.kodadot.xyz/rmrk/collection/143C325AFD7DC09C22-AMSZFAQ-MGNGD

happening on prod, beta and locally

![image](https://user-images.githubusercontent.com/73316633/182340483-f2bb79db-ee8d-49af-8b13-a7600f5e1b7f.png)

this is from rubick:

[code]

[2022-08-02 09:34] KngZhi commented on #3645
👋

[2022-08-02 10:26] vikiival commented on #3613
Imo bounty should be paid but the @kodabot hasn't worked :/

[2022-08-02 11:20] yangwao opened #3646 "Fix charts on Basilisk in collection"
Time to fix the charts on collections in Basilisk.
We are not using current Basilisk data in charts.

Add floor prices and buy events as we have on RMRK charts.

https://beta.kodadot.xyz/bsx/collection/3612943633?tab=chart
![image](https://user-images.githubusercontent.com/5887929/182354802-eb7b80e5-339a-44bb-8e54-85ecb8df4592.png)

![image](https://user-images.githubusercontent.com/5887929/182354

[2022-08-02 11:22] preschian commented on #3646
👋

[2022-08-02 12:24] KngZhi commented on #3645
while, the endpoint is set to `https://api.subquery.network/sq/vikiival/magick `
and the result is
[code]

[2022-08-02 12:42] KngZhi commented on #3645
on the output of *Nuxt* config of apollo, the rmrk's httpEndpoint would be `sq/vikiival/magick`, it should goes to Rubick, right @vikiival ?

[code]

[2022-08-02 12:45] vikiival commented on #3645
Yeah maybe time to upgrade kodadot/packages/vuex-options

[2022-08-02 12:47] KngZhi commented on #3645
Yeah, I remember once you want to migrate from `vikiival` to `kodadot` :)

[2022-08-02 12:48] KngZhi commented on #3645
and btw, this is from `@kodadot1/vuex-options` pkg.

`import { INDEXERS } from '@kodadot1/vuex-options'` from `utils/config/defineApolloConfig.ts`

[2022-08-02 13:08] yangwao opened #3647 "MoonRiver & MoonBeam compatibility v0"
Currently, we are using for Moonsama [Click](https://github.com/kodadot/click), which is using an old implementation of SubSquid.
For example, we encounter some bugs on the old version, like not correctly catching mint events, and it's not supported by SQ team. We will be upgrading to FireSquid, from the fresh template.

### What will be done
- Migrate Click to FireSquid
  - https://github.com/kod

[2022-08-02 13:16] yangwao opened #3648 "Basilisk v0.3"
We will be moving here issues from original parent issue #660, which weren't done in the first phase and will be done in the upcoming phase.

## Tracking Bugs
- #3756

## Roadmap
- More changes related to the current BSX implementation are coming soon:
- [x] https://github.com/kodadot/nft-gallery/issues/3376

### Explorer

- [x] https://github.com/kodadot/nft-gallery/issues/2881

### Offers
- [x]

[2022-08-02 13:25] yangwao commented on #3512
<img src="https://media0.giphy.com/media/3ohjUX4aH1n0ORxJnO/giphy.gif"/>

https://github.com/galacticcouncil/Basilisk-node/issues/539

[2022-08-02 14:00] vikiival commented on #3645
everything is under [kodadot/packages](http://github.com/kodadot/packages/)

[2022-08-02 14:00] DeluneClaire opened #3649 "We could add the tooltip for expiration on offer table also in a user profile"
https://user-images.githubusercontent.com/104791453/182393646-bf74d159-c77c-4c3b-ba2a-76ce08b16c4c.mov

We could add the time also in a user profile.

[2022-08-02 14:00] vikiival commented on #3649
@DeluneClaire maybe add description and change title?

[2022-08-02 14:01] DeluneClaire commented on #3649
Yes , I'm on it now.

[2022-08-02 14:02] KngZhi commented on #3649
👋

[2022-08-02 14:11] JustLuuuu commented on #3643
Maybe I just got confused. Do we really have almost 16 million active offers? It seemed too much for me for only 539 minted NFTs. If I got it wrong, my bad and you can close this issue.

[2022-08-02 14:21] Jarsen136 commented on #3643
👋

[2022-08-02 14:31] KngZhi commented on #3613
@petersopko @yangwao mind take a look?

[2022-08-02 22:24] #3643 closed

[2022-08-03 01:06] #3622 closed

[2022-08-03 04:05] #3639 closed

[2022-08-03 04:05] #3649 closed

[2022-08-03 04:07] prachi00 commented on #3583
yeah I think if we can add an expired status it will be useful for #3401

[2022-08-03 04:41] prachi00 commented on #2638
<img width="692" alt="Screen Shot 2022-08-02 at 9 41 24 PM" src="https://user-images.githubusercontent.com/39299315/182525577-4c81e742-3696-4f6e-a859-e4dfdf1d80c3.png">

for this, are we replacing the popular collections with popular collections from last week?

[2022-08-03 07:19] petersopko commented on #3613
added your address here, let me try

[2022-08-03 07:19] petersopko commented on #3613
pay 75 usd

[2022-08-03 07:19] yangwao commented on #3613
😍 Perfect, I’ve sent the payout
💵 $75 @ 61.12 USD/KSM ~ 1.227 $KSM
🧗 [HgpGWWmqrw8t6viwSy6LPcTVr2SuVPKWW5ArdNp2xCJY2U4](https://kusama.subscan.io/account/HgpGWWmqrw8t6viwSy6LPcTVr2SuVPKWW5ArdNp2xCJY2U4)
🔗 [0x4fbe7e10681d46d2656458abd9180f35fd1d021a23b17046ed9b8c9d31a1b620](https://kusama.subscan.io/extrinsic/0x4fbe7e10681d46d2656458abd9180f35fd1d021a23b17046ed9b8c9d31a1b620)

🪅 Let’s grab another i

[2022-08-03 07:21] KngZhi commented on #3613
Many thanks :)

[2022-08-03 08:33] vikiival commented on #3583
Issue is here. May @KngZhi can pickup
https://github.com/kodadot/snek/issues/13

[2022-08-03 08:35] KngZhi commented on #3583
👋

[2022-08-03 08:35] KngZhi commented on #3583
Okay, I will try it.

[2022-08-03 08:48] vikiival commented on #3583
just to be @KngZhi sure: This task is focused on the https://github.com/kodadot/snek/issues/13

[2022-08-03 08:58] KngZhi commented on #3583
Got it.

[2022-08-03 09:00] yangwao opened #3652 "Remove your own offer from NFT you bought"
Following from here, we should remove the offer once I bought NFT, probably could be done in batch, after buying you should remove your own offer from that NFT.

Provide please demonstration and test case :)

ht jrafaelangarita for idea

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/3619#issuecomment-1203677662_

[2022-08-03 09:00] KngZhi commented on #3583
@petersopko might post the link of the screenshot, thus I can test.

[2022-08-03 09:05] KngZhi commented on #3652
👋

[2022-08-03 09:05] KngZhi commented on #3652
@yangwao you mean from the backend?

[2022-08-03 09:17] yangwao commented on #3652
yes.

[2022-08-03 09:43] yangwao opened #3653 "Show total volume on hover in collection explorer"
We should show the total volume in collection explorer on collections where buy events happened.

![image](https://user-images.githubusercontent.com/5887929/182576498-84d09d95-0f79-4c97-a605-3b9a4426bc26.png)

https://deploy-preview-3651--koda-nuxt.netlify.app/bsx/collection/3248880134?tab=history&event=BUY

![image](https://user-images.githubusercontent.com/5887929/182576431-edd14cd5-de25-4c2d-b8

[2022-08-03 09:44] petersopko commented on #3583
you can check out the screen shot here:
- https://beta.kodadot.xyz/bsx/u/bXkVgiXLvvJAmUNni8huN9NZdjaxKGav9fSszhRXFeg6Xuvih?tab=offers&page=1

[2022-08-03 09:44] KngZhi commented on #3653
👋

[2022-08-03 09:55] yangwao opened #3654 "Series insights for Basilisk"
We would now need a series of insights for Basilisk.
For now, we just start light, so we can test it out there.
Link it to Stats as Dropdown

| Colection name | Volume | Floor Price | Buys | Offers | Owners | Assets |
| -- | -- | -- | -- | -- | -- | -- |
| name of collection | total volume of buys | lowest listed price | amount of buy events | total count of active offers | amount of unique addres

[2022-08-03 10:01] yangwao commented on #3514
Any progress on this @zhengow 👀

[2022-08-03 10:14] yangwao commented on #3463
yes.
check original issue, I've just updated it :)

[2022-08-03 10:57] yangwao opened #3655 "Add Rococo Basilisk explorer"
There is Basilisk Rococo explorer.

Add it to history components transactions.

https://calamar.play.hydration.cloud/extrinsic/0000542017-000001-7647c

Once it's deployed and done issues below
- #3512
- #3511

[2022-08-03 11:04] Jarsen136 commented on #3655
👋

[2022-08-03 11:18] jrafaelangarita opened #3656 "Can't send/Gift NFTs"
### What happened?

Trying to gift it, but appear " prefix mistake, i only copy and paste the  bsx adress from the extensión "

### Please reproduce in steps

Send Gift - paste the adress

### Expected Behavior

Send the gift without problem

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

beta.kodadot.xyz

### Are you logged in?

Yes

### Whi

[2022-08-03 11:36] Jarsen136 commented on #3656
👋

[2022-08-03 13:31] vikiival commented on #3514
yup I would close this without limit :) kodadot/rubick#109

[2022-08-03 14:07] jrafaelangarita opened #3657 "remove the units of the market place"
### Is your feature request related to a problem?

this will only bring confusion, in the basilisk swap test people hated it and it was removed

### Describe the solution you would like

stay with the base unit, be it bsx or ksm, no micro ksm or micro bsx, etc

### Describe alternatives you have considered

.

### Screeenshots

![Screenshot_89](https://user-images.githubusercontent.com/84519335/18

[2022-08-03 14:12] #3645 closed

[2022-08-03 14:22] jrafaelangarita opened #3659 "place the balance amount in a visible place and make the profile-settings menu more intuitive"
### Is your feature request related to a problem?

I would like to see my balance without the need to enter an nft,

in turn it is not intuitive that where the address appears, it is the profile configuration menu, it seems simply the place where you connect the wallet and change to another

### Describe the solution you would like

with the first case, a) it can be placed right there above in a n

[2022-08-03 15:07] petersopko opened #3660 "Add arrows on image detail for Basilisk"
There are arrows to list through gallery items detail on RMRK, let's add that on bsx as well

![image](https://user-images.githubusercontent.com/73316633/182642917-f83d934c-4f54-4cc2-bf1a-578b0522a8c2.png)

[2022-08-03 15:26] Jarsen136 commented on #3660
👋

[2022-08-03 15:35] prachi00 commented on #3463
Okay I'll start working on this one

[2022-08-03 22:53] #3540 closed

[2022-08-04 03:21] preschian commented on #3646
hhmm, the PR already exists 🤔
do I need additional step?

[2022-08-04 03:24] preschian commented on #3586
👋

[2022-08-04 04:21] prachi00 commented on #3463
@yangwao so when you say F1 filter, do you mean two tabs? where one tab shows
created offers by particular address TABLE
and other shows
incoming offers by particular address TABLE
and at the top we can have a text input field where we can input the particular address?

[2022-08-04 05:50] #3333 closed

[2022-08-04 09:06] cryptodamsky commented on #3630
What’s the status of this? I just minted a collection, re https://kusama.subscan.io/extrinsic/13857023-5 but it isn’t anywhere. Should i start new issue?

[2022-08-04 09:16] yangwao commented on #3630
there was just recent push to the production, should be live in 5-10 minutes https://github.com/kodadot/nft-gallery/commit/d560fc381a1ebd2f3233b280760acfe933d43aa2

[2022-08-04 10:04] #3605 closed

[2022-08-04 10:14] petersopko commented on #3646
ignore

[2022-08-04 10:15] petersopko commented on #3646
no, for some reason the bot didn't pick up your opening of PR for this issue, otherwise it wouldn't unassign you. not sure what happened, maybe you've linked the issue after opening PR, or this was caused by the Autocode outage

[2022-08-04 10:31] petersopko commented on #3657
@vikiival is working already on implementation of this

[2022-08-04 10:31] petersopko commented on #3657
@jrafaelangarita thanks for bringing this to our attention tho :)

[2022-08-04 10:39] petersopko commented on #3630
minted collection, minted nft

[2022-08-04 10:39] #3630 closed

[2022-08-04 11:12] vikiival opened #3665 "App fails when you visit collection chart multiple times"
### What happened?

Not sure if the chart is poorly implemented or what's the cause but seems like the app crashes

### Please reproduce in steps

- [Open a collection](https://kodadot.xyz/rmrk/collection/A4598F5615F201D739-UDF)
- go to chart
- go to other tab
- go to char
- app shows error

### Expected Behavior

App should not fail

### What browsers are you seeing the problem on?

Chrome

### A

[2022-08-04 11:13] Jarsen136 commented on #3665
👋

[2022-08-04 11:23] preschian commented on #3665
should be fixed with this PR https://github.com/kodadot/nft-gallery/pull/3651
or, for a faster fix add these two lines https://github.com/kodadot/nft-gallery/pull/3585/files#diff-76b48236de40baba9863fa6e3ccb21320bf8bca31374a859d5de8119d043ee34R96-R97

[2022-08-04 11:41] vikiival commented on #3665
thanks for the fix @preschian 🙏

love it!

[2022-08-04 11:48] vikiival opened #3666 "Smarter ID generation for pallet collections"
### Is your feature request related to a problem?

Currently the id is generated as 10 random 32-byte numbers and then we check which number is usable

### Describe the solution you would like

as we have max limit of 128 bits it would be nice to prefix collections with the first 8 bytes of the creators address (same as RMRK impl)

### Describe alternatives you have considered

[code]

### Screeen

[2022-08-04 11:56] cryptodamsky opened #3668 "POAP claim button implementation"
### Is your feature request related to a problem?

It would be awesome that when i mint NFTs like poaps, or others, to have a CLAIM button (simillarly like we have offers on basilisk) and i could just come and hit approve, the nft would transfer automatically to new owner

### Describe the solution you would like

While minting, you could choose if the NFT can be claimable and therefore a button w

[2022-08-04 12:52] vikiival opened #3671 "Implement block explorer for BSX"
### Is your feature request related to a problem?

Currently both SandBox and Rococo does not contain blockexplorer

### Describe the solution you would like

I would like to have Calamari block explorer by @topmonks for better debugging

### Describe alternatives you have considered

Other parachains have subscan

https://basilisk.subscan.io/

### Screeenshots

_No response_

### Are there opened

[2022-08-04 12:55] vikiival commented on #3671
Blocked by topmonks/calamar#10

[2022-08-04 14:27] vikiival commented on #3311
So far short list

[code]

[2022-08-04 14:52] #3665 closed

[2022-08-04 16:19] #3660 closed

[2022-08-05 04:02] prachi00 commented on #3311
@vikiival dont we already have some of these components that is shared? like `Identity`

[2022-08-05 09:06] vikiival commented on #3311
Yes, we have component called `Identity` but it is doing too much logic. & has more than 200 lines of code

[2022-08-05 10:01] yangwao commented on #3653
hey @KngZhi, I've updated the issue with a video where it means change to be,
- when you open https://beta.kodadot.xyz/bsx/explore/
- and you hover over the picture

Probably https://github.com/kodadot/nft-gallery/pull/3677 is wrong with the popup, but at least good nudge we should put statistic on collection in the place

[2022-08-05 10:02] yangwao commented on #3571
@zhengow seems we can continue on this?:)

[2022-08-05 10:05] yangwao opened #3678 "Seems collections statistics are gone on RMRK?"
It seems we accidentally disabled collection stats on RMRK where they've been before.
https://beta.kodadot.xyz/rmrk/collection/0a8ce195286c168f19-DONKEY

![image](https://user-images.githubusercontent.com/5887929/183054599-eaedf44a-099b-49af-bb25-c037f56161f9.png)

[2022-08-05 10:07] KngZhi commented on #3653
Oh, okay, I get it. I will update soon. And the UI of popup is good? If so, I would use the same UI for that.

[2022-08-05 10:10] KngZhi commented on #3678
👋

[2022-08-05 11:02] yangwao commented on #3653
I mean, we would not need to change anything in UI in this issue 😁

We will be planning to do a whole redesign of the landing and gallery items, so save your CSS skills for later :D

[2022-08-05 11:10] KngZhi commented on #3653
shoot, I totally misunderstood 🤦‍♂️

[2022-08-05 12:15] petersopko opened #3679 "Connect Cypress tests into CI/CD pipeline"
As started in
- #2911

I was unsuccessful to implement cypress as GH action / Netlify plugin, we got the tests available to run locally right now, but the ultimate idea is to move this into automated thing which will run with every PR. @preschian you look like an ideal candidate for this one and it would help us a lot 👀

Not sure if any of these references help:

- https://github.com/cypress-io/ne

[2022-08-05 12:26] petersopko opened #3680 "Simple mint RMRK - E2E Test"
We would like to expand our current E2E test by testing simple mint from the user perspective.

Could be done like this:

- [ ]  upload file (https://www.tutorialspoint.com/how-to-upload-a-file-in-cypress)
- [ ] fill out name
- [ ] fill out symbol
- [ ] fill out some tags
- [ ] fill out the price price
- [ ] check out the calculated fees, toggles and check whether button to create NFT gets clickab

[2022-08-05 12:40] petersopko opened #3681 "E2E - Spotlight / Series Insight / Hot"
We would like to expand our current E2E test by testing Spotlight / Series Insight and Hot stats on RMRK

- [ ] check if filtering works
- [ ] check if sorting works
- [ ] check if data fetching behaves as expected after testing
- [ ] check if clickable links behave as expected

[2022-08-05 12:42] petersopko commented on #2006
partially solved in

- #3451

following up in:

- #3681
- #3680

[2022-08-05 12:42] #2006 closed

[2022-08-05 12:45] petersopko opened #3682 "E2E and Unit Testing"
Cypress E2E:
- [x] #3965
- [x] #3841
- [x] #3971
- [ ] #3681
- [ ] #3764
- [ ] #3775
- [ ] #3776
- [x] #3755
- [x] #3679
- [x] #3680
- [x] #3760
- [x] #3750

Vitest Unit tests:
- [x] #3586
- [x] #2964

GraphQL queries test:
- [ ] #2028

[2022-08-05 13:04] petersopko commented on #2911
since we kickstarted this in
- #3451

I think we can close this one and track tests more granularly in
- #3682

[2022-08-05 13:04] #2911 closed

[2022-08-05 14:02] #3656 closed

[2022-08-05 14:24] kkukelka commented on #3681
👋

[2022-08-05 14:32] petersopko opened #3685 "Prompt Builder"
Since we're currently witnessing rollout of multiple AI image generation models, leading with DALL·E 2, into the wild (and we're fortunate enough to have access to it ourselves) it seems that people are hungry for prompts and easier prompt building.

The world of prompting is expanding right now and even though there's ton of material about how to build prompts, what I've been missing during my ex

[2022-08-05 15:10] kkukelka commented on #3679
👋

[2022-08-05 15:17] JustLuuuu opened #3686 "Issues with the offers we made"
**My profile: offers made:**

First issue: I'm not sure if that's possible, but it would be nice if expired offers would be cancelled automatically.

Another issue: after clicking on cancel and cancelling one offer - it did not disappear automatically (dissapeared after refresh); it stayed like this: (look at the first picture - NFT Spodee - you can see that red X is "clicked").
![image](https://u

[2022-08-05 15:59] prachi00 commented on #3686
👋

[2022-08-05 17:24] jrafaelangarita commented on #3646
hey I would like a chart that is a little easier to manipulate, that will add a bar that allows you to move the chart horizontally, without changing the zoom. actually something simpler

[2022-08-05 17:40] jrafaelangarita opened #3687 "Issue re: Unlist the nft, after it was sent as a gift"
### What happened?

I sent an nft as a gift, to check that it was fixed and when entering the other account (n2), the nft is still listed (action performed in the original account or n1)

### Please reproduce in steps

list a nft, send it like gift, check on the receive adress, that is still listed

### Expected Behavior

being a gift, it should not save the previous action, and should  unlist the

[2022-08-05 22:08] jrafaelangarita opened #3688 "relist event, does not update directly on the page"
### What happened?

I made a relist of the nft, but this action does not appear in the history after completing the tx in the block, it only appears after reloading the page
the price if it updates immediately, but not history

 it is similar to bug #3686

### Please reproduce in steps

relist a nft, and after complete the tx, check history rewards, not will appear the new list, after reload and w

[2022-08-06 00:34] Jarsen136 commented on #3688
👋

[2022-08-06 07:09] preschian commented on #3646
I updated the config to disable zoom by scroll and enable zoom by selection/drag. the experience should be better
what do you guys think? @yangwao @jrafaelangarita
link preview: https://deploy-preview-3651--koda-nuxt.netlify.app/bsx/collection/515729876?tab=chart&page=1

https://user-images.githubusercontent.com/734428/183238548-3a3f2ea0-aea1-495c-a852-4fe215ab245e.mov

[2022-08-06 07:51] preschian commented on #3680
@petersopko does the test until successful minting, or only check the button is clickable?

[2022-08-06 10:22] preschian commented on #3362
👋

[2022-08-06 11:09] preschian commented on #3352
seems already fixed, works for me

[2022-08-06 13:01] #3653 closed

[2022-08-06 14:39] jrafaelangarita commented on #3646
personally I don't like that way, I would prefer that some + and - buttons appear, perhaps to better control the zoom, and the bar that I mentioned before, since as you can see in the first approach, it is not very well centered and you have to reset , and try again, etc.

idk what do you think? @preschian @yangwao

[2022-08-06 22:25] prachi00 commented on #3678
@KngZhi are you working on this one?

[2022-08-06 22:34] KngZhi commented on #3678
Yeah

[2022-08-07 07:06] kkukelka commented on #3679
this is kind of blocked until we get `pnpm start` to work properly again

[2022-08-07 12:35] yangwao opened #3694 "Popular collection list for bsx once we will be live"
Do I need to show popular collection list for bsx? Currently I hide it because there is no issue for it.
[code]

_Originally posted by @zhengow in https://github.com/kodadot/nft-gallery/issues/3693#issuecomment-1207352638_

[2022-08-07 12:37] yangwao commented on #3571
🔜 #3694

[2022-08-08 09:35] yangwao commented on #3352
@cryptodamsky 👀😅

[2022-08-08 09:54] petersopko commented on #3680
It would be best to go ahead and try actual minting, however, after speaking @yangwao about how to go about this, best way would be to have a testnet which doesn't require us to use actual money (KSM) in order to mint.

Right now, I'd settle for the expected behavior of simple mint before actually hinting the "Create NFT" button, we can expand on this later

[2022-08-08 09:54] petersopko commented on #3679
what needs to be done in this regard?

[2022-08-08 10:00] #3678 closed

[2022-08-08 10:08] petersopko commented on #3686
- https://github.com/kodadot/nft-gallery/issues/3583

Let's add reload/refetch data here, not should what's possible but iirc, refetching the data happens at the detail level of gallery item

Can't reproduce the last one, adding bug-hunt label here

[2022-08-08 10:16] petersopko commented on #3688
pay 30 usd

[2022-08-08 10:16] yangwao commented on #3688
😍 Perfect, I’ve sent the payout
💵 $30 @ 66.1 USD/KSM ~ 0.454 $KSM
🧗 [Hy8UnZSNvchEzKLBZ6X6qXq6xc8gVNGyo8ALuuNUXeTiD6K](https://kusama.subscan.io/account/Hy8UnZSNvchEzKLBZ6X6qXq6xc8gVNGyo8ALuuNUXeTiD6K)
🔗 [0x41a3ee787380f472df25569ab0cdb4222dd2bf0eec677fc58c360b2288441e15](https://kusama.subscan.io/extrinsic/0x41a3ee787380f472df25569ab0cdb4222dd2bf0eec677fc58c360b2288441e15)

🪅 Let’s grab another is

[2022-08-08 10:17] petersopko commented on #3688
@jrafaelangarita thanks for catching this :)

[2022-08-08 10:26] #3586 closed

[2022-08-08 10:54] petersopko commented on #3646
2 things:

1. please, let's try to keep the conversation / feedbacking going in PR, once PR was open ( such as this case )
2. I think I'd like to stick with the version which already exists and do with this issue, what was supposed to be done, i.e. -> add data to chart.

Feel free to open up new issue about suggested changes to the chart visuals / manipulation :)

[2022-08-08 10:57] #3688 closed

[2022-08-08 11:10] preschian commented on #3646
👍👍👍
I agree, for now, how about focusing on the title first?

let me summarise the suggested improvements based on the thread discussion. basically, there are two requirements based on GitHub comments:
1. simple chart (bar, disable zoom) https://github.com/kodadot/nft-gallery/issues/3646#issuecomment-1206680752
2. show all the buys event on the chart https://github.com/kodadot/nft-gallery/pull/365

[2022-08-08 11:13] vikiival commented on #3311
Just found out there is a new version of [Vue 2.7](https://github.com/vuejs/vue/blob/main/CHANGELOG.md#270-2022-07-01) that we can implement before full Vue3

Only blocking
- https://github.com/buefy/buefy/issues/3768

[2022-08-08 11:13] petersopko commented on #3646
@preschian I agree with what you're suggesting about avg / sum, let's just run this by @yangwao to avoid further confusion 😆

[2022-08-08 11:28] yangwao opened #3696 "when I'm going from landing to newest lists on rmrk"
I'll land on https://beta.kodadot.xyz/rmrk/explore?page=1&sort=UPDATED_AT_DESC&tab=GALLERY and seems we don't support filters through subsquid there?

https://user-images.githubusercontent.com/5887929/183407915-2df1c6b9-11b3-4d7a-a724-1b004ef60267.mov

[2022-08-08 11:31] Jarsen136 commented on #3696
👋

[2022-08-08 11:56] yangwao commented on #796
if you can help us with migration, that would be superior! :)

[2022-08-08 12:12] petersopko commented on #660
as discussed, I've moved the unfinished issues from this one into
- #3648

since we're moving forward

[2022-08-08 12:12] #660 closed

[2022-08-08 12:54] kkukelka commented on #3679
in our cypress action we need to use `pnpm generate` and `pnpm start`, but with our current `nuxt-edge` version we face this problem https://github.com/nuxt/framework/issues/6200
this is related to some issue with how pnpm installs packages (we would face this with yarn and npm i assume)

i tried out the latest `nuxt-edge` release but here the pnpm issue still doesnt seem to be resolved. but a dif

[2022-08-08 12:57] petersopko commented on #3291
ok, the explainer was added and this also doesn't seem to be an issue after I've tested this a bunch of times in the past couple of days, idk whether you want to move forward with:

But in case yes, maybe we should include this as part of our refactor, wdyt @yangwao

![image](https://user-images.githubusercontent.com/73316633/183417485-98160513-7049-40ff-9007-f8d5d1d411db.png)

[2022-08-08 13:49] preschian commented on #3679
because the output from `generate` is static files under the `dist` folder, running with `http-server` should work. let's try to run with this command:
[code]

https://www.npmjs.com/package/serve

alternative: https://www.npmjs.com/package/http-serve

[2022-08-08 15:17] yangwao opened #3699 "Handle large numbers in input field of minting"
![image](https://user-images.githubusercontent.com/5887929/183452454-bdb2481b-b37a-418a-a639-c544240a1b6a.png)

![image](https://user-images.githubusercontent.com/5887929/183452487-5df37c21-b900-417a-890a-b581a7197eae.png)

[2022-08-08 15:21] yangwao opened #3700 "Retry minting pins same file again?"
I guess it's not behaviour we want to have?
If the already file is there, we should not try uploading it again?

![image](https://user-images.githubusercontent.com/5887929/183453247-de905bd4-4984-4f00-8a36-0eaae2bfae5e.png)

[2022-08-08 15:23] petersopko commented on #3699
just minted with no problem? 👀

[2022-08-08 15:26] petersopko commented on #3699
the problem which you've encountered here is one with large numbers, I've described it here:
- https://github.com/kodadot/nft-gallery/issues/3389

Was supposed to be fixed in:

- https://github.com/kodadot/nft-gallery/pull/3529

I guess, something may have broken given the recent `BalanceInput.vue` problems

[2022-08-08 15:27] preschian commented on #3700
👋

[2022-08-08 15:27] petersopko commented on #3700
could be caused by the number being too large and solved here
- https://github.com/kodadot/nft-gallery/issues/3699

but maybe not, further testing needed, I couldn't reproduce this one, if anybody can pinpoit what's the bug here, please let us know

[2022-08-08 15:28] yangwao commented on #3699
Didn't work even without putting number there 🤔

[2022-08-08 15:30] prachi00 commented on #3699
👋

[2022-08-08 15:42] kkukelka commented on #3679
oh wow, lets see if i can get this to work. thanks for the input 👍

[2022-08-08 15:45] yangwao commented on #3700
Seems retry happened as I did not receive signing request at all and it was going in cycle, if this helps
After reloading whole chrome and empty cache it haven't happened again

[2022-08-08 15:47] yangwao commented on #3699
Apparently, after emptying cache, it's working again 👀
Super strange, it was on https://beta.kodadot.xyz

[2022-08-08 15:47] #3699 closed

[2022-08-08 15:52] yangwao commented on #3235
@DeluneClaire is it working for you already on Basilisk?

[2022-08-08 15:55] #3362 closed

[2022-08-08 15:56] yangwao commented on #3352
don't forget clear all your cache in Firefox
(found way where it somehow cache previous version on beta)

[2022-08-08 17:35] kkukelka opened #3701 "Fix some E2E tests"
### What happened?

Some code submissions after @petersopko 's initial creation of basic E2E tests have broken some of those tests.
-> Needs to be fixed asap after blocker is merged

blocked by https://github.com/kodadot/nft-gallery/pull/3689

you can quickly get a sense of whats going on by using GUI Cypress suite via ` "test:e2e-gui": "cypress open --project tests",` :fire

<img width="988" alt=

[2022-08-08 17:37] petersopko commented on #3701
Thanks for reporting this ❤️ I've most likely merged something without tags today, will fix tomorrow morning.

[2022-08-08 17:44] kkukelka commented on #3679
your suggestion worked wonders ❤️

[2022-08-09 04:17] prachi00 commented on #3686
@JustLuuuu is the fetching issue solved for you now?

[2022-08-09 04:20] prachi00 commented on #3311
this is not a blocker then right? If not, we can follow this https://blog.vuejs.org/posts/vue-2-7-naruto.html
to upgrade to 2.7

[2022-08-09 04:23] kkukelka commented on #3311
i've updated vue to 2.7.5 in here https://github.com/kodadot/nft-gallery/pull/3689
buefy seems to work nonetheless

[2022-08-09 08:04] petersopko commented on #3701
@kkukelka hmm, I've just pulled the latest main and it's all passing?

![image](https://user-images.githubusercontent.com/73316633/183597592-86ab19ba-8104-471d-b31a-7147b3d64491.png)

[2022-08-09 08:27] #3528 closed

[2022-08-09 08:27] #3600 closed

[2022-08-09 08:27] #3604 closed

[2022-08-09 08:32] petersopko opened #3703 "Unify minting process experience - BalanceInput.vue"
After we added additional checks in #3546, it would be nice if somebody could take a look at the overall way in which we handle minting process, more specifically, how do we check for things such as:

- [ ] insufficient balance
- [ ] invalid characters
- [ ] form validation in general

As an example, I've noticed one difference: On rmrk, insufficient balance means disabled submit button, on bsx in

[2022-08-09 08:49] cryptodamsky opened #3704 "Minted a collection, it’s nowhere"
### What happened?

Minted a collection, it’s nowhere

### Please reproduce in steps

Minted a collection, went to nft section, can’t choose it

TX id: https://kusama.subscan.io/extrinsic/13928664-6

### Expected Behavior

/

### What browsers are you seeing the problem on?

Firefox

### At which address did you encounter bug?

kodadot.xyz

### Are you logged in?

Yes

### Which wallet you are usi

[2022-08-09 09:10] petersopko commented on #3704
just minted collection and it appeared after a while, that's the reason we added the explainer to wait 😄 If you still cannot see yours, maybe there's something else wrong.

[2022-08-09 09:16] JustLuuuu commented on #3686
I just tried it and its okay now :)

[2022-08-09 09:28] cryptodamsky commented on #3704
I mean, it has been 12 minutes at the time of post, how long should i wait? 🗡️

[2022-08-09 09:33] petersopko commented on #3704
obviously that's a lot, it's usually within 1 minute max for me, my guess is, it's Firefox again.

Can you try to delete your cookies/open up browser in incognito mode, log in again and see if the collection shows up or not?

[2022-08-09 09:34] #3686 closed

[2022-08-09 09:44] yangwao commented on #2277
yes :)

[2022-08-09 09:53] #3679 closed

[2022-08-09 11:49] kkukelka commented on #3701
sweet

[2022-08-09 12:09] vikiival commented on #3704
So the issue is:

You minted collection `9 Days to Dusk gleam campaign POAP`
[code]

But your collection `Metahours 12 POAP`

[code]

has the same `ID` field - which is illegal - therefore collection hasn't been processed.

Please try to mint it with different symbol (it has to be unique).

Meanwhile we can top up the issue existing issue:

- #212

[2022-08-09 12:18] vikiival opened #3706 "Refactor: Deprecate indexer state"
### Is your feature request related to a problem?

Since we use
- #2929

It would be nice to remove `store/indexer.ts` from the repository and other underlying components.

### Describe alternatives you have considered

Please this is a good first issue.

### ~~ **Do not pick it up if you contribute on a regular basis.** ~~

[2022-08-09 13:36] petersopko opened #3707 "Reintroduce Most Reacted sorting on RMRK"
After speaking with @vikiival, we need to expand/change query in rubick in order to get back the `Most reacted` sorting option in gallery on rmrk.

**Original comment by @Jarsen136:**

I removed the sort condition `most reacted` in this PR, so the e2e test failed.

The root issue is the query `nftListWithSearch nftEntities` do not support sorting by `most reacted`,  after this commit 52af7112ce8b6

[2022-08-09 13:55] #3696 closed

[2022-08-09 14:07] Jarsen136 commented on #3703
👋

[2022-08-09 14:38] yangwao commented on #3587
fix is coming
![image](https://user-images.githubusercontent.com/5887929/183677481-87ef832b-2d8f-4cd4-ab3e-a07b54561b60.png)

[2022-08-09 14:39] yangwao commented on #3587
<img src="https://media1.giphy.com/media/sS1eTi9FGyVZgNB03M/giphy.gif"/>

[2022-08-09 14:53] vikiival commented on #3587
Refactoring in KodaDot these days

![maneuver](https://user-images.githubusercontent.com/22471030/183682111-799164a8-5d34-4e17-9516-c854f0fa99fd.jpg)

[2022-08-09 15:06] Jarsen136 commented on #3707
👋

[2022-08-09 20:57] cryptodamsky commented on #3704
Yeah ok but why can’t we have more than one symbol? I’d like to use that symbol for poap stuff, otherwise i dont really understand why its there if i cant use the same symbol again. Imagine thousands come minting and cannot create collection bcz of used symbol :D

[2022-08-10 10:17] preschian commented on #3541
I got different errors currently in beta
<img width="2032" alt="Screen Shot 2022-08-10 at 17 09 01" src="https://user-images.githubusercontent.com/734428/183877413-60b7a112-f08f-4ad3-a2c5-a832a8cf1198.png">

[2022-08-10 11:02] preschian commented on #3311
some questions:
1. it's time to remove `nuxt-property-decorator` and use [`vue composition API`](https://vuejs.org/guide/extras/composition-api-faq.html) instead?
2. do we need [storybook](https://storybook.js.org/) to manage and preview our components?

[2022-08-10 11:04] preschian commented on #3680
👋🏻

[2022-08-11 09:15] yangwao opened #3713 "Make white background as toggle everywhere"
You can start from #2947 (once is merged),
let's make the default white background everywhere

Please check
- explorer
- series
- Check do any other tables
- click through the whole app where is black background and change it to a white one

Currently known black bg

## Action
![image](https://user-images.githubusercontent.com/5887929/184141824-044fc66d-dbd1-4d99-8ce7-61be27bf4db3.png)

## Basilis

[2022-08-11 09:32] #3570 closed

[2022-08-11 09:32] #3571 closed

[2022-08-11 09:33] #3626 closed

[2022-08-11 11:59] vikiival commented on #3704
Soooo if i'll make a smart contract and i'll name it USDC can I tell u it's a stable coin?

The alternative is just to remove the sybol and yolo

[2022-08-11 12:01] vikiival commented on #3311
Yup, best time is to write new components in composition api and also refactor some.

[2022-08-11 13:55] preschian opened #3714 "Refactor: landing page"
Refactor components to use vue composition API. To make it easier for review and test, I will make multiple PR based on this list:

trying to refactor from the deepest/low-level component, in summary, carousel components are something like this:

[code]

- [ ] [not started] curated list
- [ ] [not started] latest sales, popular collections, and newest list (move component from /rmrk/)
- [ ] [ongoi

[2022-08-11 13:55] preschian commented on #3311
ok then, I will start with some components on the landing page https://github.com/kodadot/nft-gallery/issues/3714

[2022-08-11 15:01] vikiival commented on #3713
![image](https://user-images.githubusercontent.com/22471030/184164929-f9a82506-1b08-4523-9677-f92c675e7b36.png)

[2022-08-11 16:56] prachi00 commented on #3713
👋

[2022-08-11 17:24] #3646 closed

[2022-08-11 20:24] yangwao opened #3716 "Focus on Search bar while pressing K"
Make the focus on to search bar input while pressing 'k' so user can afterwards starts writing search term

![image](https://user-images.githubusercontent.com/5887929/184235404-a8574adb-42f7-43e8-be2a-5567520f9ae0.png)

[2022-08-11 20:25] prachi00 commented on #3716
👋

[2022-08-11 22:35] prachi00 commented on #3713
@yangwao just to confirm, are we like going to provide a toggle to switch back to dark (night mode) ?

[2022-08-12 07:44] vikiival commented on #3713
From the description

let's make the default white background everywhere

the switch is already there ;)

[2022-08-12 08:10] #3716 closed

[2022-08-12 09:46] petersopko commented on #3713
loading looks like this during mint looks like this
![image](https://user-images.githubusercontent.com/73316633/184329484-1a2ec196-6e13-4132-8fa0-64d966d7b18b.png)

[2022-08-12 09:48] petersopko commented on #3713
item actions detail:

![image](https://user-images.githubusercontent.com/73316633/184329750-fb53a5fa-c703-4c13-8d28-2c42ad838a18.png)

[2022-08-12 10:01] petersopko commented on #3713
teleport:
![image](https://user-images.githubusercontent.com/73316633/184332082-cc8b5cd2-9180-43d1-b12d-c48226dd53cf.png)

[2022-08-12 10:02] petersopko commented on #3713
admin:
![image](https://user-images.githubusercontent.com/73316633/184332126-7f13d6d8-d17b-4a07-a7f9-e78dce2380ca.png)

[2022-08-12 10:02] petersopko commented on #3713
transfer:

![image](https://user-images.githubusercontent.com/73316633/184332242-1b7e1f05-4356-4198-be9d-a2dd5343de79.png)

[2022-08-12 12:04] cryptodamsky commented on #3352
Yup, works now

[2022-08-12 12:04] #3352 closed

[2022-08-12 12:05] cryptodamsky commented on #3704
I’d go for that. Right now when i’m minting something, im feeling like.. hmm.. what if this symbol was used already. It’s sort of pointless to have it there for end user

[2022-08-12 12:33] zhengow commented on #3514
[kodadot/snek#45](https://github.com/kodadot/snek/pull/52)
Waiting for review.

[2022-08-12 12:36] cryptodamsky commented on #3647
https://form.kodadot.xyz/evm Let’s see.

[2022-08-12 12:44] zhengow commented on #3001
Any progress on this 👀

[2022-08-12 13:23] petersopko commented on #3001
well this one needs to be done first:
- https://github.com/kodadot/rubick/pull/107

[2022-08-12 17:04] yangwao opened #3720 "More from this collection is missing?"
We had a side-scrolling feed on the gallery item detail showing other NFTs from the same collection in the past, and it seems, it's gone now.
Can we have it back, please? :D

Maybe the query needs to be remade to use subsquid? As we removed SubQuery recently maybe it was removed by that?

Bring it back, please for
- RMRK
- BSX

Query should be somewhere in code 👀

![image](https://user-images.gith

[2022-08-12 17:05] prachi00 commented on #3720
👋

[2022-08-12 18:52] roiLeo commented on #2
🧪  Testing Crowdin integration in https://github.com/roiLeo/nft-gallery/pull/21

[2022-08-13 07:09] petersopko commented on #3714
@preschian you need to link the issues in PR if you want to keep the assignment going past the allocated time :)

[2022-08-13 07:10] petersopko commented on #3714
@preschian or should the PR solve this one only partially? perhaps we can extract the part you've done to standalone issue if that's the case?

[2022-08-13 07:28] preschian commented on #3714
oohh I think this is better. Yaps, this is only partial, next parts I will open a new standalone issue and link to this issue 👍

[2022-08-13 12:35] yangwao opened #3721 "Newest list seems broken on BSX?"
Does the newest list seem broken?

![image](https://user-images.githubusercontent.com/5887929/184494266-0b3c389b-845c-4b9a-a2cf-0fb5a9566c42.png)

[2022-08-13 12:45] yangwao opened #3722 "Mint doesn't show up after 7 minutes"
I've minted through Simple on RMRK
https://beta.kodadot.xyz/rmrk/detail/13988594-0E76E3AC15B4C1FA1E-CENSORSHIP-CENSORSHIP_RESITANCY-0000000000000001

Are we using NFT storage for pinning on Simple mint ~~or Estuary~~?

after 1-3 minutes
![image](https://user-images.githubusercontent.com/5887929/184494494-0c4069e5-85a2-4ed6-8f83-c413524b859a.png)

after 3+ minutes
![image](https://user-images.githu

[2022-08-13 12:57] kkukelka commented on #3721
👋

[2022-08-13 12:58] yangwao commented on #3722
![Screenshot 2022-08-13 at 14 55 16](https://user-images.githubusercontent.com/5887929/184495140-71eec008-1325-4b4f-8cb1-a13f54e881ef.png)

after reload seems it's there

![Screenshot 2022-08-13 at 14 55 51](https://user-images.githubusercontent.com/5887929/184495164-535f9f58-6d01-433c-96d2-7efdbad12c6a.png)

Probably we should add reload button OR, even better, keep try fetching every 10 seconds

[2022-08-13 13:18] kkukelka commented on #3721
@vikiival might this be related to https://github.com/kodadot/snek/commit/4f70797eb485276207a13397cd1b55dffd41f326 ?
<img width="779" alt="Screenshot 2022-08-13 at 15 18 35" src="https://user-images.githubusercontent.com/17953978/184495910-0feb196e-65da-49d9-8930-f0712c36af9f.png">

[2022-08-13 13:24] vikiival commented on #3311
@preschian
https://github.com/histoire-dev/histoire

[2022-08-13 13:34] vikiival commented on #3721
Thanks for the spot.

https://github.com/kodadot/snek/actions/runs/2852163457

Should be built in less than 10 min

[2022-08-13 15:31] kkukelka commented on #3721
awesome 🙌

[2022-08-13 16:20] vikiival commented on #3721
<img width="1081" alt="Screenshot 2022-08-13 at 18 20 16" src="https://user-images.githubusercontent.com/22471030/184502417-7187d695-b7ce-4abb-af52-6fd301774caa.png">

Works as a charm

[2022-08-13 16:20] #3721 closed

[2022-08-14 03:33] preschian commented on #3311
looks cool, thanks, will try to experiment with it later 👍

[2022-08-14 11:18] Jarsen136 commented on #3720
👋

[2022-08-14 17:09] yangwao opened #3725 "RMRK 2.0 implementation v0"
Been briefly chatting with @vikiival and decided to support RMRKv2 as well

Right now, chatting within internal circles as it consists few issues across our ecosystem tools to extend support for this.
Also looking candidates who made more than few PRs to Rubick to be eglible for this task ;)

### Ref
- Tests for RMRK 2.0 https://github.com/rmrk-team/rmrk-tools/tree/master/test/2.0.0
- https://gith

[2022-08-14 18:10] yangwao commented on #3360
hey, @Jarsen136 would you like to look at this one? :)

[2022-08-14 18:31] yangwao opened #3727 "Extra queries to magick from Searchbar?"
For some strange reason, the search bar is making requests to `magick` graphql endpoint where it probably should not.

Check and remove it, maybe will be fixed in #3360

https://user-images.githubusercontent.com/5887929/184550213-52703a17-fcd9-4764-8261-775e23796f78.mov

###
- #3360

[2022-08-14 20:31] prachi00 commented on #3727
👋

[2022-08-15 01:49] Jarsen136 commented on #3360
Yup, I would take a try.

[2022-08-15 01:50] Jarsen136 commented on #3360
👋

[2022-08-15 09:17] vikiival opened #3728 "Token management"
### Is your feature request related to a problem?

Last things to implement for Basilisk Rococo
- [ ] fetch and subscribe balances for the tokens.
- [ ] replace fetch in snek components to use state
- [ ] fetch tokens in the beginning of the app
- [ ] fallback for single tokened chains (kusama, bsx sandbox)

### Describe the solution you would like

~

### Describe alternatives you have considered

[2022-08-15 09:31] #3720 closed

[2022-08-15 10:02] yangwao commented on #3360
🖖

[2022-08-15 14:31] yangwao commented on #3728
when landing 👀
<img src="https://media2.giphy.com/media/3orif8CHtteQvHcYM0/giphy.gif"/>

[2022-08-15 14:44] petersopko commented on #3713
when browsing gallery / collections, this popup which appears on hover is way too dark:

![image](https://user-images.githubusercontent.com/73316633/184657249-a65b7a01-bb3b-4311-a1dd-5f9241cd33c5.png)

[2022-08-15 14:46] yangwao opened #3731 "Post white-on-white and black-on-black fixes"
Seems #3730 post-fixes 👀

Make readable white texts on a white background by making them black?

- [ ] Creating on-chain identity needs better readability as well, currently there's no difference between the text which was already filled out (Handle) and text which is serving as a place holder
![image](https://user-images.githubusercontent.com/73316633/185383978-fa3a53a2-1e42-41d0-b6b5-aefa79748eb

[2022-08-15 14:48] petersopko commented on #3731
Creating on-chain identity needs better readability as well, currently there's no difference between the text which was already filled out (Handle) and text which is serving as a place holder
![image](https://user-images.githubusercontent.com/73316633/184658047-949e5b47-de11-4bbe-9951-2d2c0a044da1.png)

[2022-08-15 14:55] KngZhi commented on #3731
👋

[2022-08-15 15:07] petersopko opened #3732 "websocket is not connected"
Minted NFT but second transaction (list) threw an error:
![image](https://user-images.githubusercontent.com/73316633/184661063-172a2456-f52d-470e-a0f0-e09529cf1b53.png)

[2022-08-15 15:20] petersopko opened #3733 "Better messaging / instructions about Creative Mint"
Seems that people are often confused about what is Creative Mint capable of, we need better instructions and error messages, i.e. -> wrong filetype etc.

![image](https://user-images.githubusercontent.com/73316633/184663597-519a1765-aabb-4c7e-b04c-78ee1e1dd003.png)

[2022-08-15 15:21] petersopko commented on #3733
ignore

[2022-08-15 15:33] petersopko opened #3734 "Fix share icons on minted NFT"
Minted NFT, refreshed page (had to, tracked in #3722) and these are the icons I am looking at
RMRK/light mode, but please, test this for bsx as well
![image](https://user-images.githubusercontent.com/73316633/184666025-bc1b51a2-1759-40ed-ba96-e07d8cc68ba8.png)

[2022-08-15 15:36] petersopko opened #3735 "Check TypeErrors after mint"
To expand a little on @DeluneClaire comment, I've seen some TypeErrors after mint as well, didn't capture it, but it's shown in the video mentioned in PR below. Please check why does this happen.

So I would remove the "error" sign because it could confuse new users. And the NFT you can see only after reloading the page.

_Originally posted by @DeluneClaire in https://github.com/kodadot/nft-galler

[2022-08-15 15:40] KngZhi commented on #3734
👋

[2022-08-15 15:42] petersopko commented on #3732
trying to transfer some BSX:
![image](https://user-images.githubusercontent.com/73316633/184667876-85b71471-dea5-4e84-b518-10daf05fd8ef.png)

[2022-08-15 16:29] prachi00 commented on #3735
👋

[2022-08-15 16:44] yangwao opened #3736 "Wrong search results?"
When I search for Kessel I landed on this 👀

https://beta.kodadot.xyz/rmrk/explore?page=1&search=Kessel

![image](https://user-images.githubusercontent.com/5887929/184677986-15a8a8d6-5c2b-4fbf-900a-40f1cf2f1092.png)

[2022-08-15 17:00] petersopko opened #3737 "Landing Touch Up on 📱"
I've noticed our landing at beta could use touch up, here's part of it
![image](https://user-images.githubusercontent.com/73316633/184680853-91b64cf6-d784-4d6f-bcf5-d8da910694e4.png)

[2022-08-15 17:15] prachi00 commented on #3737
👋

[2022-08-15 17:16] prachi00 commented on #3736
👋

[2022-08-15 19:03] cazarov commented on #2964
👋

[2022-08-16 03:34] prachi00 commented on #3713
I am working on this one

[2022-08-16 03:50] prachi00 commented on #3713
@petersopko @yangwao half of the things mentioned here seems to have been solved already

[2022-08-16 04:32] prachi00 commented on #3713
<img width="418" alt="Screen Shot 2022-08-15 at 9 30 32 PM" src="https://user-images.githubusercontent.com/39299315/184798166-0b591306-2d7e-44db-8119-61513d12255b.png">
 for this, can we use svg instead?

[2022-08-16 07:33] #3737 closed

[2022-08-16 10:34] yangwao opened #3745 "Explore other fast IPFS gateways"
Seems we've reached pinata total requests (80%) plan and looking forward to a particular economical replacement. If we opt out, go from Pinata.

Right now, we've switched from pinning at Pinata to nft.storage which is good tho
There is nftstorage.link for

- [x] Reached out https://nftstorage.link/

![image](https://user-images.githubusercontent.com/5887929/184858864-48830c5e-6ab7-45c7-9c2b-793dd5

[2022-08-16 10:48] petersopko opened #3746 "Math Wallet Minting Broken?"
Tried to mint new nft into existing collection, received an error
![image](https://user-images.githubusercontent.com/73316633/184861707-268df0a0-37ae-46f9-9016-f9eaecb9a18c.jpeg)

[2022-08-16 11:02] yangwao commented on #2893
Meanwhile, efforts have started with the composition API
- https://github.com/kodadot/nft-gallery/pull/3718
- #3714

[2022-08-16 11:05] yangwao commented on #3687
@petersopko 👀

[2022-08-16 11:10] yangwao commented on #1348
👀

[2022-08-16 11:12] yangwao commented on #2276
Probably we can extend this with various mintings fees 👀
- RMRKv1, RMRKv2
- Basilisk
- MoonRiver/MoonBeam
- Astar

[2022-08-16 11:15] yangwao commented on #3345
let's try go with this

[2022-08-16 11:22] yangwao commented on #3089
$44 per/user/year for Team

hence we've got most of the features as public repositories; closing this

ref
- https://github.com/pricing

[2022-08-16 11:22] #3089 closed

[2022-08-16 11:40] preschian opened #3747 "Refactor: Identity component"
incremental refactor from https://github.com/kodadot/nft-gallery/issues/3714

- [x] move `Identity.vue` and `IdentityPopover` into same folder
- [x] split `Identity.vue` and `IdentityPopover` into smaller chunk
- [ ] #3760

[2022-08-16 11:41] preschian commented on #3747
👋🏻

[2022-08-16 11:45] kkukelka commented on #3746
👋

[2022-08-16 11:46] kkukelka commented on #3746
@petersopko on RMRK right?

[2022-08-16 11:47] kkukelka commented on #3746
👋

[2022-08-16 11:52] petersopko commented on #3746
Yes, also, autocode changed some limits so I had to upgrade my plan for bot to work. Should be ok now.

[2022-08-16 11:56] preschian opened #3749 "Refactor: Identity component - migrate to vue composition api"
can start after this https://github.com/kodadot/nft-gallery/issues/3747 resolved

- [ ] migrate `Identity` and related components to use Vue Compose API
- [ ] migrate related mixins to `composable` if exists

[2022-08-16 12:03] preschian opened #3750 "E2E - Media Component"
The media component can render multiple types of files. Such as:
- [ ] Image
- [ ] 3D Model
- [ ] Audio
- [ ] Video
- [ ] test 3D model in carousel and gallery item - https://github.com/kodadot/nft-gallery/issues/3751

what else?

related PR https://github.com/kodadot/nft-gallery/pull/3718

[2022-08-16 12:05] yangwao opened #3751 "3D objects are broken on gallery item detail"
https://beta.kodadot.xyz/rmrk/gallery/14024356-7CF9DAA38281A57331-APO-11-0000000000000011

![image](https://user-images.githubusercontent.com/5887929/184874931-e9f55f2d-53a1-4a62-8692-11dfd768d31c.png)
l

please test with basilisk 3D objects as well �

It seems in "more from this collection", it works 👀

https://user-images.githubusercontent.com/5887929/184875364-0c257064-56e0-4872-939f-9e42fc93d6

[2022-08-16 12:08] zhengow commented on #3751
It works for me:
<img width="1446" alt="image" src="https://user-images.githubusercontent.com/38389586/184875788-8a71d751-138a-4c08-803e-49ccd8ddf615.png">

Maybe network problem?

[2022-08-16 12:14] yangwao commented on #3751
more likely sounds like some weird cache issues even on incognito?
because in strip below it's loaded 👀 but when I click on it it won't load 😅🤔
and when I hit empty cache at least two times then it loads 😅

https://user-images.githubusercontent.com/5887929/184876747-98b4a68d-03f6-44f2-8354-9bb885b97515.mov

[2022-08-16 12:15] yangwao commented on #3750
If metadata loads
- title
- description
- collection name
- creator
- owner (if exists)

[2022-08-16 12:28] yangwao commented on #3751
Seems to be related issue on the creator's profile as well.
Some loads, some not?

https://beta.kodadot.xyz/rmrk/u/FQBgFrkzevAZCvFZB485rQa6h7gsZQz3UXRuYwxAzG7zQ4w?tab=nft&page=1

![image](https://user-images.githubusercontent.com/5887929/184879678-0645d84e-2e3d-46bb-b13a-58d6ecbbc47b.png)

[2022-08-16 12:32] yangwao commented on #3751
3D objects are not showing 😄

https://beta.kodadot.xyz/rmrk/collection/7CF9DAA38281A57331-APO?tab=items

![image](https://user-images.githubusercontent.com/5887929/184880206-ef321090-a532-49e0-8449-9d36fd6faa38.png)

[2022-08-16 12:36] yangwao commented on #3287
Meanwhile resolved

[2022-08-16 12:36] #3287 closed

[2022-08-16 12:36] yangwao commented on #3287
It was in the end query on the profile iirc (?)

[2022-08-16 12:46] roiLeo commented on #3751
Loads well for me in #3718

https://deploy-preview-3718--koda-nuxt.netlify.app/rmrk/collection/7CF9DAA38281A57331-APO?tab=items&page=1

[2022-08-16 12:49] yangwao opened #3752 "Newest list has showing recent listing price instead old one?"
- I've bought NFT for 10000 BSX
- List it for 333333 BSX
- Noticed on landing it's shows at newest list, recent price on second card, where should show old one - 10000 BSX

![image](https://user-images.githubusercontent.com/5887929/184882998-6c9e3586-be26-4e55-8b29-d10b6e649b08.png)

### Case
https://beta.kodadot.xyz/bsx/gallery/1643292083-2

![image](https://user-images.githubusercontent.com/5887

[2022-08-16 12:50] zhengow commented on #3752
👋

[2022-08-16 13:00] cryptodamsky opened #3753 "Our transfer function generates weird link that doesnt work"
### What happened?

I’ve used transfer function

### Please reproduce in steps

It generates this link

 https://undefined.subscan.io/extrinsic/0xbad28463be97b63443de249dada01683a5ee7b48a509c1c0b0e51ae93ab707a1

Instead of this one

https://kusama.subscan.io/extrinsic/14031877-15

### Expected Behavior

/

### What browsers are you seeing the problem on?

Firefox

### At which address did you enco

[2022-08-16 13:02] yangwao commented on #3753
oh yes, i've noticed same,  forgot to report it, heads up

https://kusama.subscan.io/extrinsic/0xbad28463be97b63443de249dada01683a5ee7b48a509c1c0b0e51ae93ab707a1

<img src="https://media1.giphy.com/media/VvxtXb86Lwicw/giphy.gif"/>

[2022-08-16 13:04] yangwao commented on #3751
oh nice, yes works for me

https://deploy-preview-3718--koda-nuxt.netlify.app/rmrk/u/FQBgFrkzevAZCvFZB485rQa6h7gsZQz3UXRuYwxAzG7zQ4w

![image](https://user-images.githubusercontent.com/5887929/184886491-9115bd82-9ff9-4c19-9e81-32e28a358165.png)

[2022-08-16 13:04] zhengow commented on #3753
👋

[2022-08-16 14:16] #3704 closed

[2022-08-16 14:21] yangwao opened #3754 "K placeholder with transparent background for white/black version"
We would need some version of K with transparent background

Options which would work

From #3345 options
A) K with transparent background

B) having two assets and set them based on white/black mode
- black logo on white
- white log on black

Presskit could be found here
- https://github.com/kodadot/kodadot-presskit/tree/main/v3

**Explore:** collections/gallery: Not sure if this is also somethin

[2022-08-16 14:26] preschian opened #3755 "E2E - Flaky test?"
seems like there is some flaky test. for example, try to open `test` jobs in this pipeline https://github.com/kodadot/nft-gallery/actions/runs/2862034445
<img width="882" alt="Screen Shot 2022-08-16 at 21 21 07" src="https://user-images.githubusercontent.com/734428/184903411-3127d735-10d5-412f-8f56-ef02fab8d006.png">

sometimes, it can be reproducible on local also. try to retry the test several t

[2022-08-16 14:35] yangwao commented on #3755
why it needs more than 4000ms?
let's try to raise it 10s, it depends on the CPU of the pipeline to render something?

[2022-08-16 14:40] yangwao opened #3756 "Bugs on Basilisk v0.2"
Current bugs we are aware.
Same flow as from #3368

# Sorted by severity (higher, more critical)
- [ ] #3790
- [ ] #3138
- [ ] #3350
- [x] #3395
- [x] #3291
- [x] #3235
- [x] #3423
- [x] https://github.com/kodadot/nft-gallery/issues/4000
- [x] #3752

[2022-08-16 14:40] yangwao commented on #3368
Continue to #3756

[2022-08-16 14:40] #3368 closed

[2022-08-16 14:41] preschian commented on #3755
tbh not sure, need further investigation. let me check it first 🙏🏻

[2022-08-16 15:13] roiLeo commented on #3345
![01-favicon](https://user-images.githubusercontent.com/9987732/184915172-452258a1-bf24-4e52-a17b-3e04606b865c.png)

![03-android-icon](https://user-images.githubusercontent.com/9987732/184915154-85b323d7-ff2f-480a-87d1-efca7305aad6.png)

[2022-08-16 15:16] #3751 closed

[2022-08-16 15:25] petersopko commented on #3687
tested this, still a problem, I've followed up in https://github.com/kodadot/snek/issues/56 since this is most likely going to get solved at indexer level

[2022-08-16 15:25] petersopko commented on #3713
what am I looking at?

[2022-08-16 15:37] #3703 closed

[2022-08-16 16:10] zhengow commented on #3752
So it should show the latest trade price instead of listing price? What about the fresh mint nft without trade history?

[2022-08-16 16:46] #2964 closed

[2022-08-16 16:52] kkukelka commented on #3754
👋

[2022-08-16 16:59] kkukelka commented on #3754
clear

[2022-08-16 17:02] kkukelka commented on #3746
sorry, but after doing some research i'm not comfortable using Math Wallet. Free to claim again

[2022-08-16 17:21] #3680 closed

[2022-08-16 17:23] petersopko commented on #3746
do you mind sharing the research / thinking behind this? 😅

[2022-08-16 17:23] #3700 closed

[2022-08-16 17:47] kkukelka commented on #3746
"research" was a bit of an exaggeration here 😛 , just many reports of denial of fund withdrawals

[2022-08-16 19:43] preschian opened #3760 "E2E - Identity.vue on hover"
- [ ] check some user identity on hover
- [ ] check user twitter
- [ ] check user discord
- [ ] https://github.com/dmtrKovalenko/cypress-real-events

[2022-08-16 20:04] roiLeo commented on #3746
Say what? could you share you're finding? If they are not so clean we can remove Math wallet integration.
I have the feeling that it's a bit like the "Wild West" in terms of wallets.

[2022-08-17 05:51] preschian commented on #3746
btw, is this error on `rmrk` also? the last time when I test, it only errors on `bsx`. seems well in the `rmrk`. my assumption at that time is because `Nova` still using `polkadot-js` old version https://github.com/kodadot/nft-gallery/pull/3642#issuecomment-1202285788

[2022-08-17 05:54] kkukelka commented on #3746
Just my gut feeling after sifting through Chrome Store & reddit, maybe a bit of a selection bias on my part. I assume its totally safe to use. 😛

[2022-08-17 06:42] roiLeo commented on #3736
can't reproduce on beta

<img width="1001" alt="Capture d’écran 2022-08-17 à 8 42 05 AM" src="https://user-images.githubusercontent.com/9987732/185052099-bfc73503-4bfe-43b5-8f54-ca6c7f69a7b2.png">

[2022-08-17 06:48] petersopko commented on #3736
Same as @roiLeo, following the attached link leads to correct search result 🤔

[2022-08-17 07:20] petersopko commented on #3734
ignore

[2022-08-17 07:59] petersopko opened #3764 "E2E - Testnets for testing transactions/chain operations"
We have jump started our E2E testing, and while we're already covering lot of functionality and we are tracking issues for more tests in:
- https://github.com/kodadot/nft-gallery/issues/3682

we're still missing testing of critical functionality such as
- [ ] minting
- [ ] transfer of currency
- [ ] buying / selling nfts
- [ ] gifting NFTs

or in general:

- [ ]  signing transactions and communica

[2022-08-17 08:05] petersopko opened #3765 "Tags on RMRK NFTs"
I've minted two NFTs with tags on RMRK recently and I can't find the tags of these NFTs. I've checked on the detail of the NFT in gallery

https://beta.kodadot.xyz/rmrk/gallery/14019028-A4598F5615F201D739-GBD-STATIC_NOISE-0000000000000001?page=1

and it's not there (perhaps the idea was to make it hidden?)

But then I've checked in rubick and I can't find it there either? @vikiival told me to look

[2022-08-17 08:13] petersopko opened #3766 "NFT detail History styling 📱"
History detail on NFTs needs touch up, currently looks like this:

https://user-images.githubusercontent.com/73316633/185068819-f7b91522-90f5-4fb0-b36f-04aba50e93bd.MOV

Let's make it the same as on desktop.

[2022-08-17 08:17] #3755 closed

[2022-08-17 09:09] Jarsen136 commented on #3766
👋

[2022-08-17 10:12] yangwao opened #3767 "3d objects are not showing in latest sales on landing?"
Maybe it's a related same bug with ?
Maybe it's @preschian something worked on already?

- #3751

https://beta.kodadot.xyz/rmrk/gallery/14024135-7CF9DAA38281A57331-APO-4-0000000000000004
![image](https://user-images.githubusercontent.com/5887929/185093890-5efef91e-03d6-46aa-8df1-4e1134848456.png)

[2022-08-17 10:13] Jarsen136 commented on #3767
👋

[2022-08-17 10:51] preschian commented on #3767
not yet, so @Jarsen136 can continue 👍🏻

Is this happening in another carousel also? For example, the carousel in “more from this collection”? if possible, it might be worth adding the e2e test case for this bug

[2022-08-17 11:08] vikiival commented on #3765
Having `meta` field empty means that rubick failed to fetch the metadata from the IPFS :).

The fix for that is tracked in the:
- https://github.com/kodadot/rubick/issues/126

Also the `<Property />` component is not available in the RMRK's `GalleryItem`

[2022-08-17 11:10] vikiival commented on #3713
Or `.wepb` with transparent background? :) svg would be too big.

You are looking at `placeholder.webp`

[2022-08-17 12:06] roiLeo commented on #3345
closed in #3757

[2022-08-17 12:23] yangwao commented on #3594
Builds now

[2022-08-17 12:23] #3594 closed

[2022-08-17 12:23] yangwao commented on #2671
👀😄

[2022-08-17 12:25] yangwao commented on #3426
If someone would take this 👀

[2022-08-17 12:40] preschian commented on #2671
🙈🙈🙈

[2022-08-17 15:52] #3734 closed

[2022-08-17 16:35] Jarsen136 commented on #3767
I think it would not happen on “more from this collection”, but on the landing page and search suggestion List.

[2022-08-18 05:30] preschian opened #3772 "Refactor: Curated List - Vue Composition API"

[2022-08-18 05:30] preschian opened #3773 "Refactor: Carousel - Move from `rmrk` folder"
move from `components/rmrk/` folder to `components/carousel/` or `components/landing/`?
- [ ] https://github.com/kodadot/nft-gallery/blob/main/components/rmrk/Gallery/LatestSales.vue
- [ ] https://github.com/kodadot/nft-gallery/blob/main/components/rmrk/Gallery/NewestList.vue
- [ ] https://github.com/kodadot/nft-gallery/blob/main/components/rmrk/Gallery/PopularCollections.vue
- [ ] https://github.

[2022-08-18 05:33] preschian opened #3774 "Refactor: Carousel - Vue Composition API"

[2022-08-18 06:04] preschian opened #3775 "E2E - Carousel"

[2022-08-18 06:04] preschian opened #3776 "E2E - Curated List"

[2022-08-18 06:30] roiLeo opened #3777 "Husky pre-commit sort-imports"
Since a new eslint rule has been introduce [sort-imports](https://eslint.org/docs/rules/sort-imports), we may need to auto fix this on commit hook

[2022-08-18 07:17] #3752 closed

[2022-08-18 08:09] preschian commented on #3777
👋🏻

[2022-08-18 09:33] yangwao commented on #3714
lol why it closed even not linked as `pr closes` 🤔
thanks for reopening 🙌

[2022-08-18 09:36] roiLeo commented on #3714
<img width="329" alt="Capture d’écran 2022-08-18 à 11 35 14 AM" src="https://user-images.githubusercontent.com/9987732/185363110-b24f8e99-f3e1-4e61-8207-ef91b36b387f.png">

linked issue in pr will close

[2022-08-18 09:47] #3713 closed

[2022-08-18 10:13] yangwao opened #3780 "Weird border on burger menu on mobile in light mode"
seems some smol glitch
after reload is not there tho so some state needs better handling

https://user-images.githubusercontent.com/5887929/185371135-deefbf1f-14ea-4732-9588-c61187363516.mov

[2022-08-18 10:34] roiLeo commented on #3780
If we can fix this too
![Screenshot 2022-08-18 at 12-33-55 KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/185374840-8f0ceef0-7634-446d-bc0e-9cf65446d606.png)

[2022-08-18 10:35] zhengow commented on #3780
👋

[2022-08-18 10:51] yangwao commented on #3780
<img src="https://media0.giphy.com/media/cQtlhD48EG0SY/giphy.gif"/>

[2022-08-18 10:54] yangwao commented on #3731
@KngZhi 👀

[2022-08-18 11:13] petersopko opened #3781 "Admin Panel doesn't show collections"
Testing RMRK https://beta.kodadot.xyz/rmrk/admin
I have collections for sure, they don't load up here

1. [ ] find out why, and fix it -> I suppose some query doesn't work as expected
2. [ ] even when there are no collections, can we change the design of empty dropdown to look a bit more pleasing? As opposed to the one on the picture

![image](https://user-images.githubusercontent.com/73316633/185

[2022-08-18 11:16] zhengow commented on #3781
Do you mean that the dropdown should be in above rather than below when it is empty?

[2022-08-18 11:16] zhengow commented on #3781
👋

[2022-08-18 11:24] petersopko commented on #3731
updated after testing
- https://github.com/kodadot/nft-gallery/pull/3742

this one has still some work left!

[2022-08-18 12:03] petersopko commented on #3781
Not sure if that's the correct solution here, I'd just go for everything which doesn't result in that see-through empty dropdown which covers part of the text by it's border. Maybe move the text below a bit lower to avoid this?

[2022-08-18 12:16] #3777 closed

[2022-08-18 12:21] petersopko commented on #3731
- [ ] collections sort in explorer
![image](https://user-images.githubusercontent.com/73316633/185393319-bab0ea8d-5144-4bb4-8e22-c61cf73f64cb.png)

[2022-08-18 12:24] petersopko commented on #3731
- [ ] wallet selection
![image](https://user-images.githubusercontent.com/73316633/185393988-a94a95f8-8eb7-4eeb-8373-4d0ab7bea380.png)

[2022-08-18 12:31] petersopko commented on #3736
tried searching bunch of stuff again today, all seems to be working well, closing this one and feel free to reopen in case it happens again

[2022-08-18 12:31] #3736 closed

[2022-08-18 12:34] #3747 closed

[2022-08-18 13:12] yangwao opened #3782 "Search while write doesn't work"
We've recently added Indices to make the search work while you typing fast.

https://github.com/kodadot/rubick/issues/123#event-7177423257

but seems it doesn't work

Might it be resolved in #3360 ?

### Testing cases
- Spirit Key
- Skullz Art

![image](https://user-images.githubusercontent.com/5887929/185402993-74a505fa-d173-4f5c-aa97-610055b52668.png)

![image](https://user-images.githubusercont

[2022-08-18 13:17] Jarsen136 commented on #3782
Yeah, I think so.

[2022-08-18 13:50] roiLeo commented on #3345
Tried my best in #3757, maybe i'll give another try

[2022-08-18 13:52] vikiival opened #3783 "Tracking: Identity"
### Is your feature request related to a problem?

Current implementation of the indentity is so far really bad and therefore I would like to propose a new way of doing/handling identity:

Technical background:
- [ ] Implement multichain @subsquid identity indexer (for Kusama, Basilisk, Moonriver, Acala, Astar).
- [ ] fetch data from indexer instead of connecting to chain - That's why you see hund

[2022-08-18 13:56] vikiival commented on #3765
<img width="462" alt="Screenshot 2022-08-18 at 15 53 32" src="https://user-images.githubusercontent.com/22471030/185412381-010ca66c-d4f2-4d1e-a8c7-074a0060054e.png">

`CreateToken.vue` Line:288 :) (hint: `.filter`) that's why it is not visible

[code]

[2022-08-18 14:06] #3766 closed

[2022-08-18 14:16] yangwao commented on #3783
<img src="https://media3.giphy.com/media/cnvYUsZkczj04Kpk3y/giphy.gif"/>

[2022-08-18 17:09] prachi00 commented on #3731
👋

[2022-08-19 04:17] prachi00 commented on #3731
<img width="451" alt="Screen Shot 2022-08-18 at 9 16 02 PM" src="https://user-images.githubusercontent.com/39299315/185541674-79b3bee5-6c22-4228-a5d6-197b92bd40c1.png">
I see it like this, maybe its dependent on the browser theme or something?

[2022-08-19 05:49] roiLeo commented on #3731
I can see difference on beta 🤔
![Screenshot 2022-08-19 at 07-47-42 KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/185551794-5eae3825-097a-4ad9-adea-2602701e906c.png)

same for me maybe OSX only?

[2022-08-19 06:35] KngZhi commented on #3731
Totally forget about it, sorry for that, I was in the middle of sth last night.
Since prachi00 is working on it, I would withdraw myself.

BTW, the sharing is already fixed via https://github.com/kodadot/nft-gallery/pull/3744/commits/2d57ca8d33e4682711f89fba3fca4510187a2db2, might save some time.

[2022-08-19 07:26] cryptodamsky commented on #3305
This has been written, final outcome https://kodadot.substack.com/p/the-story-behind-our-t-shirt-waifu

[2022-08-19 07:26] #3305 closed

[2022-08-19 08:58] petersopko commented on #3767
ignore

[2022-08-19 09:01] #3767 closed

[2022-08-19 10:23] yangwao commented on #3782
yes, seems it's working in #3763

[2022-08-19 11:16] roiLeo opened #3789 "update FIRST_TIME.md & STYLE_GUIDE.md using nuxt 3 implementation"
Some ressources:
- https://v3.nuxtjs.org/guide/features/data-fetching/
- https://github.com/nuxt/hackernews
- https://github.com/nuxt/modules
- https://github.com/justinmetros/NuxtShop
- https://github.com/productdevbook/productdevbook.com

[2022-08-19 11:30] Jarsen136 commented on #3765
I will check it : )

[2022-08-19 11:30] Jarsen136 commented on #3765
👋

[2022-08-19 11:39] #3750 closed

[2022-08-19 11:48] petersopko opened #3790 "Handle expired offers acceptation"
Currently on our front end, we leave space for confusion when it comes to expired offers. On image below, there is one of my NFTs after clicking on Action button, accept offer.

Proposed solution:
Let user click on the button and show red text above the table, saying `Selected offer is expired and can no longer be accepted`. Inspiration can be found in the way errors are handled at Create NFTs `/b

[2022-08-19 11:50] kkukelka commented on #3790
👋

[2022-08-19 12:07] roiLeo commented on #3790
Should we keep showing expired offer?
I noticed that on OpenSea they are no longer displayed

[2022-08-19 12:11] petersopko commented on #3790
hmm, maybe not everywhere? There are two related issues:
- https://github.com/kodadot/nft-gallery/issues/3401
- https://github.com/kodadot/nft-gallery/issues/3583

From the context, I think we want to keep them for user to withdraw, but maybe we don't want to show them at item detail? wdyt @yangwao

[2022-08-19 12:19] roiLeo commented on #3790
Oh, I recall, when an offer is made the balance is locked until the user withdraw even when expire

[2022-08-19 12:26] yangwao commented on #3790
we could default show active offers.

why?

[2022-08-19 18:32] jkdizajn opened #3793 ""See More" button not work"
### What happened?

"See more" button is not working properly
When clicked, the message "Network error: response not successful: received status code 400" appears.

The button points to the following link:
https://kodadot.xyz/rmrk/explore/?page=1&sort=UPDATED_AT_DESC&tab=GALLERY

Please fix its functionality

![obrázok](https://user-images.githubusercontent.com/81104034/185683197-683f03f9-f5f1-4cf

[2022-08-19 18:49] roiLeo commented on #3793
This will be fix in new release (works on beta.kodadot.xyz)

[2022-08-19 18:49] zhengow commented on #3781
Hard to reproduce this bug 😞

[2022-08-19 18:51] roiLeo commented on #3793
This will be fix in new release (works on beta.kodadot.xyz)

[2022-08-19 19:00] zhengow commented on #3781
If someone find out what happened, feel free to take this.

[2022-08-20 09:55] roiLeo opened #3796 "Statemine explorer not working"
#### Step to reproduce
- go to beta
- click on statemine chain
- click on explorer (https://beta.kodadot.xyz/statemine/explore)
- infinite loading (#3351 related)
- profit

Should we keep maintain this chain?

Some logs:
[code]
I sense it still use old magick endpoint (not subsquid)

[2022-08-20 11:01] kkukelka commented on #3790
I'll unassign my self until there is a consensus reached on what's the best approach here

[2022-08-20 13:01] roiLeo opened #3797 "BSX landing lastNftListEvent"
Since #3786 we don't have data in bsx landing page (Latest Sales & Newest List components)

Error log:
[code]

We need to extend https://github.com/kodadot/snek with the same PR done in https://github.com/kodadot/rubick

[2022-08-20 13:11] roiLeo commented on #3797
meanwhile https://github.com/kodadot/snek/pull/58

[2022-08-20 14:58] yangwao commented on #3797
Nice catch!
More likely subsquid
![image](https://user-images.githubusercontent.com/5887929/185752831-e234f184-6234-4375-aba1-7d6d81a0f4e6.png)

[2022-08-20 15:03] vikiival commented on #3797
Releasing!
https://github.com/kodadot/snek/actions/runs/2895166670

[2022-08-20 15:26] yangwao commented on #3797
✅

![image](https://user-images.githubusercontent.com/5887929/185754433-ba575e07-a910-476f-8660-b33578c437a8.png)

[2022-08-20 15:55] vikiival commented on #3797
⌘

[2022-08-20 15:55] #3797 closed

[2022-08-20 16:21] VladoTheBoi commented on #3685
@petersopko Hi, any thoughts here?

[2022-08-21 00:08] prachi00 commented on #1348
I can start working on this now, just to confirm, our focus is

- [ ] prefer bulma css over custom css
- [ ] move duplicate css into separate scss files
- [ ] for component which have css use scoped

CC @roiLeo @vikiival

[2022-08-21 06:04] preschian commented on #3745
is this related? sometimes hit this endpoint got `429 too many requests`
<img width="2032" alt="Screen Shot 2022-08-21 at 13 00 00" src="https://user-images.githubusercontent.com/734428/185777883-6cf8dbca-6ac1-4e3a-873f-de212e62cc3d.png">

[2022-08-21 06:48] preschian opened #3798 "3D Model not Loaded on Collection Page"
### What happened?

some items are not loaded on the collection page. because indexed-db only stored `type` key. maybe related with https://github.com/kodadot/nft-gallery/issues/3751

<img width="2032" alt="Screen Shot 2022-08-21 at 13 37 57" src="https://user-images.githubusercontent.com/734428/185778969-45e70d74-2717-4e63-92de-606cd5e0bb96.png">

### Please reproduce in steps

1. visit https://b

[2022-08-21 12:50] vikiival commented on #1348
Yeah,
but be aware that many components have changed (are rewritten via Composition API by @preschian )

[2022-08-21 16:35] yangwao commented on #3745
maybe cross-origin limits because of localhost 🤔

req should not be issue
![image](https://user-images.githubusercontent.com/5887929/185801416-b0ccbea8-fbff-4bc3-b070-f867e80bca55.png)

[2022-08-22 02:49] preschian commented on #3745
I got this error also in production. I guess that the e2e test for the media component still flakes because of this error

<img width="1624" alt="Screen Shot 2022-08-22 at 00 16 37" src="https://user-images.githubusercontent.com/734428/185828751-7b2d1dce-7c1a-46df-8e2d-17a66f3f1ee1.png">

[2022-08-22 12:15] roiLeo commented on #3355
Use [Intl.NumberFormat](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat)

[2022-08-23 07:27] roiLeo opened #3803 "option to reset search terms"
#### Step to reproduce
- go to beta
- search "test"
- now I want to reset my query
- erase "test" & press enter
- still looking at "test" results

#### possible solution
- let user make query even when there is no text

could be linked with #3360

[2022-08-23 10:10] yangwao commented on #3745
@preschian can you pass me url for particular url where it happens? Support might investigate a lil bit why it's happening :)

[2022-08-23 10:17] #3753 closed

[2022-08-23 10:25] #3659 closed

[2022-08-23 10:29] yangwao opened #3805 "Fill up translations strings where we are missing them"
We'll need to fill up translations where we are missing them.

Revisit
- landing page
- explorer
- dialogues
- search bar
- I'll probably miss other else where locations :)
- remove translations which aren't used in the app anymore
  -  remove it in particular other languages as well 🙏

![image](https://user-images.githubusercontent.com/5887929/186135551-5c52ca1a-f546-4095-8d55-0494b6ea86f6.png)

[2022-08-23 10:54] #3731 closed

[2022-08-23 10:55] preschian commented on #3745
URLs:
- https://kodadot.mypinata.cloud/ipfs/bafybeid3bodw4tqshwbtngnyywnv3dmfuutm64ykjqdarja7jcmg23q2fm
- https://kodadot.mypinata.cloud/ipfs/bafybeicun6hd22za2lqqah4eefbyasojdmkfuiybzng6qxyokep6gfwm6u

[2022-08-23 11:02] roiLeo commented on #3780
https://github.com/kodadot/nft-gallery/issues/3780#issuecomment-1219326908 😶‍🌫️

[2022-08-23 11:12] yangwao opened #3806 "Weird overlay in mobile while search"
If we can fix this too
![Screenshot 2022-08-18 at 12-33-55 KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/185374840-8f0ceef0-7634-446d-bc0e-9cf65446d606.png)

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/issues/3780#issuecomment-1219326908_

[2022-08-23 11:13] yangwao commented on #3780
-> #3806

<img src="https://media1.giphy.com/media/65WGIINB4VfA1JuXCH/giphy.gif"/>

[2022-08-23 11:13] #3780 closed

[2022-08-23 11:21] Jarsen136 commented on #3806
👋

[2022-08-23 11:29] #3754 closed

[2022-08-23 11:31] yangwao opened #3807 "Pagination buttons on explorer seems bit off"
😅

https://beta.kodadot.xyz/rmrk/explore/?tab=GALLERY&page=1

![image](https://user-images.githubusercontent.com/5887929/186147089-e13d5b70-13ac-4989-88d1-ba86a1f37f03.png)

[2022-08-23 11:37] yangwao commented on #3803
I guess something like this next to searched term?

![image](https://user-images.githubusercontent.com/5887929/186148334-f133c05c-ff78-46de-80d8-6b491d9f7040.png)

[2022-08-23 11:40] Jarsen136 commented on #3807
👋

[2022-08-23 11:43] yangwao commented on #3807
let's go :)

[2022-08-23 11:47] yangwao opened #3808 "Migrating to Fire Squid fam"
Squidy will be turning-off v5 archives, so we should move to FireSquid ones
Some of them have already been migrated, and some of them are being migrated

- [x] click-001-rc0
- [x] snekk-dev
- [ ] snekk-003 -> gonna be off
- [x] snekk-004-rc0
- [x] rubick-005
- [x] rubick-006
- https://github.com/kodadot/nft-gallery/issues/3813

Ballpark eta of turning it off @ 23/8 -> 6-8 weeks -> end of September

[2022-08-23 11:59] vikiival opened #3810 "Royalty is not visible in white mode"
### What happened?

<img width="288" alt="Screenshot 2022-08-23 at 13 58 34" src="https://user-images.githubusercontent.com/22471030/186152429-6ba21083-ea36-40aa-9e8b-8e728889a784.png">

<img width="293" alt="Screenshot 2022-08-23 at 13 58 39" src="https://user-images.githubusercontent.com/22471030/186152442-acc3b414-14a8-4d3e-9a83-0740a9f70248.png">

### Please reproduce in steps

- Open NFT with

[2022-08-23 12:03] yangwao opened #3811 "Wrong buyer on Latest sales on landing"
Wrong buyer on Latest sales on landing?

![image](https://user-images.githubusercontent.com/5887929/186152986-212effeb-a138-487f-b87e-407b3b0eff80.png)

When you check history of transactions

Item https://beta.kodadot.xyz/rmrk/gallery/14086334-900D19DC7D3C444E4C-DOGSUN-DOG_SUNSET_13-0000000000000013?event=ALL
![image](https://user-images.githubusercontent.com/5887929/186153113-035a7cbc-a9cb-4bc8-

[2022-08-23 12:04] zhengow commented on #3811
👋

[2022-08-23 12:11] yangwao opened #3812 "Longer timeout on media/audio ?"
I've noticed tests fail at some point here at audio again 👀

Does it seem maybe a longer timeout might help or retry?
Or a different audio file, a short one? to save time on load times on tests?

https://github.com/kodadot/nft-gallery/runs/7972581283?check_suite_focus=true

[2022-08-23 12:12] #3807 closed

[2022-08-23 12:25] yangwao opened #3813 "Deorbitting rubick-005 & rubick-006"
<img src="https://media0.giphy.com/media/X99a6xkNDxGXfIqBAj/giphy.gif"/>

As stated here

- https://github.com/kodadot/nft-gallery/issues/3808

we will be turning off 005 & 006

Check if everything works without 006

https://github.com/kodadot/nft-gallery/blob/3cfbd90799ace8e40af11f24899570ff5017aaff/utils/constants.ts#L34

- https://github.com/kodadot/nft-gallery/pull/3884

[2022-08-23 13:38] #3053 closed

[2022-08-23 13:52] roiLeo opened #3814 "responsive issue on large screen"
![Screenshot 2022-08-23 at 15-49-30 KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/186175838-b2397375-a00f-4181-803e-808fde98e9eb.png)

#### solution
- more breakpoints in `CarouselCardList`

[2022-08-23 14:40] #3727 closed

[2022-08-23 14:41] #3798 closed

[2022-08-23 15:22] #3814 closed

[2022-08-23 15:29] prachi00 commented on #3805
👋

[2022-08-23 15:37] prachi00 commented on #3810
👋

[2022-08-23 15:49] zhengow commented on #3811
It seems the bug from `007`:
<img width="1337" alt="image" src="https://user-images.githubusercontent.com/38389586/186203517-acc3eab3-9ffe-46f2-ad67-1712afd4e638.png">

<img width="1586" alt="image" src="https://user-images.githubusercontent.com/38389586/186203579-32d8e704-9588-4a28-b8c3-8c56c975cf2d.png">

<img width="1586" alt="image" src="https://user-images.githubusercontent.com/38389586/18620

[2022-08-23 15:50] zhengow commented on #3811
One solution is that we query `nftListbyIds` to check whether currentOwner is corrent. But I thinks it's better to fix `007` 👀

[2022-08-23 16:35] yangwao opened #3818 "Can't click on newest lists in search bar"
Seems can't click on the newest lists in the search bar when on focus.

Maybe @Jarsen136 can have a look?

I would like to include it in the current beta `main`,
so we can push release now out, and #3763 could go later out :)

https://user-images.githubusercontent.com/5887929/186213163-718ab040-ea8d-414d-aa90-79325a64882d.mov

[2022-08-23 17:12] Jarsen136 commented on #3818
👋

[2022-08-23 17:18] kkukelka commented on #3812
👋

[2022-08-23 20:13] spacesmutje opened #3821 "Buy order fails"
### What happened?

Wanted to buy a fine NFT on kodadot.xyz, but after clicking buy i receive this error message:

![Screenshot 2022-08-23 21 39 32](https://user-images.githubusercontent.com/106772187/186251375-5e50e51a-830b-4f51-accb-979e66ec97a6.png)

### Please reproduce in steps

- I went into the collection via this link posted on Discord [link](https://discord.com/channels/840514076538830888

[2022-08-23 20:36] yangwao commented on #3821
Can you check it if you can buy it on https://beta.kodadot.xyz ? 👀

[2022-08-23 20:42] spacesmutje commented on #3821
Resolved! Sometimes it's the easy stuff that keeps you going 💯 Thanks for your help!

[2022-08-24 01:19] Jarsen136 commented on #3806
Seems that I could not reproduce this issue on my device : )

[2022-08-24 01:28] Jarsen136 commented on #3803
👋

[2022-08-24 01:44] prachi00 opened #3824 "📱 Search text not visible in dark mode on mobile"
### What happened?

<img width="407" alt="Screen Shot 2022-08-23 at 6 43 13 PM" src="https://user-images.githubusercontent.com/39299315/186299045-f10ef993-89fa-4c93-a8ad-9ee5d4e622d8.png">

### Please reproduce in steps

.

### Expected Behavior

.

### What browsers are you seeing the problem on?

_No response_

### At which address did you encounter bug?

_No response_

### Are you logged in?

_

[2022-08-24 02:12] prachi00 commented on #3805
<img width="612" alt="Screen Shot 2022-08-23 at 7 11 35 PM" src="https://user-images.githubusercontent.com/39299315/186302265-13ae8f79-f80b-4e9e-b7b4-8a11208f34ac.png">
how do we handle translations for text like these, do we create 3 different strings in en.json? @roiLeo @vikiival

[2022-08-24 04:39] preschian commented on #3812
it seems my guess was correct regarding the flaky test because of `429 too many requests` https://github.com/kodadot/nft-gallery/issues/3745#issuecomment-1221730107

in this test, the media component got that error also. https://github.com/kodadot/nft-gallery/actions/runs/2916408314 (to see more screenshots from cypress, artifacts were available in this link)

![Media component -- should render 3d

[2022-08-24 05:30] kkukelka commented on #3812
yes, i think i have a quite good solution for it. ill open a PR later today

[2022-08-24 06:39] preschian commented on #3812
cool 🚀

[2022-08-24 06:42] roiLeo commented on #3805
Please use only one string, [this](https://kazupon.github.io/vue-i18n/guide/interpolation.html#component-interpolation) may help

[2022-08-24 09:55] #3818 closed

[2022-08-24 10:02] yangwao opened #3826 "Slow loading on particular collections"
I knew we had workers to pin all RMRK pictures to Cloudflare Images, and I know it needs to be reworked to drop one round-trip

Making this a reminder issue and can expand on it later

https://beta.kodadot.xyz/rmrk/collection/6e2d7ed8cfdba08927-KUSAMA%20INVADERS?tab=items&page=1

[2022-08-24 10:14] yangwao commented on #3821
It's should be fixed on https://kodadot.xyz as well in ten minutes! :)
Enjoy!

Ht for meme contribution ;)

https://github.com/kodadot/nft-gallery/releases/tag/0.0.17

[2022-08-24 10:14] #3821 closed

[2022-08-24 10:15] yangwao commented on #3793
yes, this is already fixed on https://beta.kodadot.xyz will be in released in ten minutes on https://kodadot.xyz

[2022-08-24 10:15] #3793 closed

[2022-08-24 10:55] vikiival opened #3828 "App throws error for .avif images"
### What happened?

I minted an image in the `.avif` format and the app thinks it is 3D model

<img width="1151" alt="Screenshot 2022-08-24 at 12 52 01" src="https://user-images.githubusercontent.com/22471030/186400868-410cdb1c-3052-4087-bb3a-912e4495f9ce.png">

### Please reproduce in steps

- mint image with `.avif`
- open detail
- see the error

### Expected Behavior

- should not throw error

[2022-08-24 12:08] yangwao opened #3829 "Can't load picture in gallery item detail, maybe cache issues"
Not sure if it's related to `.avif` format
- #3828

Weird is that it doesn't load only on beta, even after refresh

https://beta.kodadot.xyz/rmrk/gallery/14086554-900D19DC7D3C444E4C-DOGSUN-DOG_SUNSET_22-0000000000000022
![image](https://user-images.githubusercontent.com/5887929/186414267-45593cbe-87aa-4d16-90d5-0ee688dba765.png)

https://kodadot.xyz/rmrk/gallery/14086554-900D19DC7D3C444E4C-DOGSUN-

[2022-08-24 12:54] preschian commented on #3829
probably old cache. some caches are difficult to trace. maybe we need to clear indexed-db when this popup occurs
<img width="453" alt="Screen Shot 2022-08-24 at 12 24 11" src="https://user-images.githubusercontent.com/734428/186423057-ea7de25f-1845-43b9-a3aa-3fc8f67ed3c6.png">

https://martinfowler.com/bliki/TwoHardThings.html

[2022-08-24 13:44] yangwao commented on #3829
yes! :D

<img src="https://media0.giphy.com/media/h8rJNj3l2ASj14RCxa/giphy.gif"/>

That will be doable if you want to propose something on this! :)
I thought we are doing this already 🤔

- https://github.com/kodadot/nft-gallery/issues/1510
- https://github.com/kodadot/nft-gallery/issues/2237

[2022-08-24 15:02] yangwao opened #3830 "Black on black input on LIST"
Black on black while listing NFT
Please check all inputs 😇🙏

https://user-images.githubusercontent.com/5887929/186452771-b0a77c6c-790c-4a80-8515-596a281882c1.mov

[2022-08-24 15:05] KngZhi commented on #3830
:wave:

[2022-08-25 03:30] prachi00 commented on #3805
still working on this

[2022-08-25 04:40] preschian commented on #3829
I see, it's been there already. let me try to flush indexed-db then

[2022-08-25 08:57] preschian commented on #3745
I still learning about IPFS stuff

here is the result comparison between pinata and cf
**CF was 5x faster**
https://developers.cloudflare.com/web3/ipfs-gateway/

| [pinata](https://kodadot.mypinata.cloud/ipfs/bafkreihm52tibtck7iqwmtpncaxocczhxr65lskcugjr3xbix5gmytfzfy) | [cf](https://cloudflare-ipfs.com/ipfs/bafkreihm52tibtck7iqwmtpncaxocczhxr65lskcugjr3xbix5gmytfzfy) |
| --- | --- |
| 600 request

[2022-08-25 09:32] yangwao opened #3835 "Adjust shadows on landing page"
I guess we should have shadows on the bottom right? As with other components, we already have it them that way

<img width="1397" alt="image" src="https://user-images.githubusercontent.com/5887929/186629496-f6e13834-4621-42cc-9ec9-3d5e10d25ccd.png">

like in chain selector for example
<img width="247" alt="image" src="https://user-images.githubusercontent.com/5887929/186629636-e0d47c41-d5a5-48be-9

[2022-08-25 10:22] KngZhi commented on #3835
👋

[2022-08-25 10:33] yangwao opened #3836 "Black text on black overlay on hover at gallery explorer"
I thought this was already fixed 🥹

https://beta.kodadot.xyz/rmrk/explore?tab=GALLERY&page=1

<img width="389" alt="image" src="https://user-images.githubusercontent.com/5887929/186642368-d371d217-a9f8-4e5a-aa27-375d4507e8ce.png">

[2022-08-25 10:34] KngZhi commented on #3836
👋

[2022-08-25 10:36] DeluneClaire commented on #3836
<img width="865" alt="Snímek obrazovky 2022-08-25 v 12 35 38" src="https://user-images.githubusercontent.com/104791453/186643277-d153ce16-31d9-44a7-8467-fe36e204d309.png">
I don't see it there.

[2022-08-25 10:38] cryptodamsky opened #3837 "Text in Name, symbol, price and other fields is dark (on dark mode)"
### What happened?

Went to mint through simple mint, but can’t see what i’m writing

### Please reproduce in steps

/

### Expected Behavior

/

### What browsers are you seeing the problem on?

Firefox

### At which address did you encounter bug?

kodadot.xyz

### Are you logged in?

Yes

### Which wallet you are using?

PolkadotJS

### At which chain did you encounter bug?

RMRK

### Screenshot

[2022-08-25 10:40] DeluneClaire commented on #3836
Hm I didn't have there anything like that
<img width="191" alt="Snímek obrazovky 2022-08-25 v 12 39 15" src="https://user-images.githubusercontent.com/104791453/186643858-dbefe999-ff44-484e-af56-003d669ad244.png">

[2022-08-25 10:41] yangwao commented on #3837
the friendship ended with dark mode,
light mode is my new best friend

<img width="483" alt="image" src="https://user-images.githubusercontent.com/5887929/186643950-c9652bc0-4c78-4d1c-b646-99580d095554.png">

- #3830
- #3831

@cryptodamsky can you test in #3831 ?

[2022-08-25 16:38] #3765 closed

[2022-08-25 16:39] #3830 closed

[2022-08-25 16:58] #2237 closed

[2022-08-25 16:58] #3829 closed

[2022-08-25 18:04] #3828 closed

[2022-08-26 02:35] preschian commented on #3812
some selector commands still have a 10s timeout. maybe increasing the timeout resolved the issue

<img width="1162" alt="Screen Shot 2022-08-26 at 09 34 24" src="https://user-images.githubusercontent.com/734428/186804158-124a753c-c2ba-4fc2-8f66-df860416f73e.png">

[2022-08-26 03:07] KngZhi commented on #3835
hey @yangwao, you want to add box-shadow for the navbar button only or all buttons(e.g., SEE MORE) on the landing page?

[2022-08-26 04:29] kkukelka commented on #3812
sure thing. lets give it a try

[2022-08-26 07:25] #3836 closed

[2022-08-26 09:58] #3749 closed

[2022-08-26 09:59] roiLeo opened #3841 "E2E - Cypress parallelization"
currently we are at about 11min on ` Lint, Build & Test workflow`

[2022-08-26 10:25] #3760 closed

[2022-08-26 12:47] roiLeo opened #3842 "weird bug on firefox"
Looks like an old version of https://github.com/kodadot/packages/tree/main/sub-api
Tested both on: `https://beta.kodadot.xyz/`

### Firefox
<img width="437" alt="Capture d’écran 2022-08-26 à 2 42 03 PM" src="https://user-images.githubusercontent.com/9987732/186905986-e65749e8-f850-4f7b-bb32-3b0be9a348a0.png">

**console**
[code]

### Chrome
<img width="437" alt="Capture d’écran 2022-08-26 à 2

[2022-08-26 12:51] roiLeo commented on #3842
nvm worked after clearing indexDb & cookies

[2022-08-26 12:56] roiLeo commented on #3350
Same thing happened to me
<img width="911" alt="Capture d’écran 2022-08-26 à 2 55 03 PM" src="https://user-images.githubusercontent.com/9987732/186908269-261dc962-b9f5-40d9-821d-4687b9235d43.png">

Tested on `/bsx/gallery/2444376227-6`

[2022-08-26 13:42] yangwao opened #3843 "Add skeleton with 3-5 items in search bar"
We should show a skeleton items with at least 3-5 items in collections and NFTs till the client sees the final results
This should be done in
- #3763

https://user-images.githubusercontent.com/5887929/186915387-62dfe8c7-451b-47cf-a0cb-fcebcb679d38.mov

inspiration from looksrare ^

new search on slow 3G network
- #3763

https://user-images.githubusercontent.com/5887929/186916046-9c7f4a54-8b89-4f28

[2022-08-26 14:02] yangwao opened #3844 "Redesign Landing page"
<img width="1436" alt="Screenshot 2022-08-26 at 15 56 04" src="https://user-images.githubusercontent.com/5887929/186920082-9c03b4dd-ae75-4abf-8318-aae482ccf6e8.png">

We've been working quite a while on a new design, and we will start rolling with a new one as mentioned in https://github.com/kodadot/nft-gallery/discussions/3710
This issue is in the draft, and I will gradually add descriptions of p

[2022-08-26 14:05] yangwao commented on #3835
I've just meant just for boxes with text.

No need to do nothing with navbar here :)

[2022-08-26 14:54] yangwao commented on #3842
👀
- #2237

[2022-08-26 15:01] yangwao commented on #308
nvm, we have nice mobile at https://beta.kodadot.xyz and another is coming

[2022-08-26 15:01] #308 closed

[2022-08-26 15:04] yangwao opened #3846 "Sweep NFTs from collection"
For more big bag holders of particular tokens like $KSM $BSX and so on would be nice to have sweeping NFTs from the same collection a particular floor

- slider to set a floor price
- screen where user start seeing nfts how they appears in the cart
- buy batch on all nfts

[2022-08-26 15:05] yangwao commented on #160
Continue to #3846

[2022-08-26 15:05] #160 closed

[2022-08-26 15:08] yangwao commented on #343
Meanwhile done, forgot to link up

![image](https://user-images.githubusercontent.com/5887929/186936023-6e101590-a4b7-4490-abe6-fe66536d76ae.png)

[2022-08-26 15:08] #343 closed

[2022-08-26 15:11] #964 closed

[2022-08-26 15:11] yangwao commented on #954
Meanwhile

![image](https://user-images.githubusercontent.com/5887929/186936662-e23604ab-7d92-4c58-a3b1-56f7a19b009f.png)

[2022-08-26 15:14] yangwao commented on #1420
We've dropped SubQuery as don't have capacity to maintain it, closing it for now

[2022-08-26 15:14] #1420 closed

[2022-08-26 15:15] yangwao commented on #1202
Load times are way much faster as doesn't need to connect to RPC and this issue is still for grab.

[2022-08-26 15:17] yangwao commented on #1344
Latter

https://beta.kodadot.xyz/bsx/gallery/1329696649-3

[2022-08-26 15:17] #1344 closed

[2022-08-26 15:19] yangwao commented on #1743
`old-main-spa`

https://github.com/kodadot/nft-gallery/tree/old-main-spa

[2022-08-26 15:19] #1743 closed

[2022-08-26 15:22] yangwao commented on #1450
https://docs.kodadot.xyz/meta-hours.html#what-to-do-before-meta-hours-as-a-speaker

[2022-08-26 15:22] #1450 closed

[2022-08-26 15:23] yangwao commented on #1758
Meanwhile done 👀

[2022-08-26 15:23] #1758 closed

[2022-08-26 15:25] #2244 closed

[2022-08-26 15:27] yangwao commented on #707
Meanwhile we have tests, after all

- #3451
- #3689

[2022-08-26 15:27] #707 closed

[2022-08-26 15:33] yangwao commented on #2243
Still there 👀

`git pl;pnpm i;pnpm dev`

![image](https://user-images.githubusercontent.com/5887929/186940837-3cf64333-7300-4ca4-a73f-61fe41161cc2.png)

[2022-08-26 15:36] yangwao commented on #2195
Meanwhile done
![image](https://user-images.githubusercontent.com/5887929/186941607-90a47e5b-bbee-418f-b2b5-ef989896068c.png)

[2022-08-26 15:36] #2195 closed

[2022-08-26 15:39] yangwao commented on #1829
Meanwhile resolved!

#3404
#1129

[2022-08-26 15:39] #1829 closed

[2022-08-26 15:42] wmahendra1994 opened #3847 "Carousel Card List has no shadow on the left side"
### What happened?

( BUG ) Look at the arrows, you can see that on the right side there are annoying white/black shadows, while on the left side the view is clean without shadows

### Please reproduce in steps

improve the UI display, place the menu, and add the transaction history feature in the wallet menu

### Expected Behavior

Simple UI display, easy to operate. menu placement and features t

[2022-08-26 15:51] yangwao commented on #1433
I guess this is done!

[2022-08-26 15:51] #1433 closed

[2022-08-26 16:08] yangwao opened #3848 "History tab at search bar"
oh, good point; we've totally forgotten about it at redesigning 🥹 thanks for the reminder 🤩

@roiLeo History tab you thought this one

![image](https://user-images.githubusercontent.com/5887929/186947375-6af47a37-9016-49b2-9ad0-041a6956da86.png)

or historically searched terms in search bar ?

Better is to raise it now while our attention is at it

_Originally posted by @yangwao in https://github.

[2022-08-27 05:36] preschian commented on #2243
✋

[2022-08-27 06:41] preschian commented on #3812
seems still error sometimes https://github.com/kodadot/nft-gallery/runs/8048378163?check_suite_focus=true

[2022-08-27 07:17] kkukelka commented on #3812
the weird part is that the error says:

like if the pinata url wasn't called at all... its so tricky to debug this

[2022-08-27 07:17] kkukelka commented on #3812
the weird part is that the error says:

cy.wait()`timed out waiting`5000ms`for the 1st request to the route:`fetchMedia`. No request ever occurred.

 like if the pinata url wasn't called at all... its so tricky to debug this

[2022-08-27 08:48] #3773 closed

[2022-08-27 09:05] petersopko commented on #3796
this is still relevant, I wonder whether we should temporarily disable Statemine as an option in chain-select, since it's non-functional? or raise priority / give bounty to fixing this? @yangwao

[2022-08-27 09:09] petersopko commented on #3685
not currently. I can eventually expand the resources needed to fill up the form builder, however, this still needs to be built 😄

[2022-08-27 09:18] petersopko commented on #3790
maybe we want to show activity on the given item regardless and that was @yangwao's point? Created (even if expired) offer signals some demand for the item. @yangwao wdyt, maybe just disable the "Accept" green bill button when offer is expired?

Current implementation is still resulting in user being able to click the accept button, sign transaction and get response as seen on the screenshot.

[2022-08-27 09:24] #2243 closed

[2022-08-27 09:30] petersopko commented on #3781
now [Admin panel](https://beta.kodadot.xyz/rmrk/admin/) disappeared from the navbar options.
![image](https://user-images.githubusercontent.com/73316633/187024289-e683ce4a-6bb8-4209-9ca1-57c035f61aa9.png)

when visited through link, it still doesn't show collections as described above, however, the styling issue seems to be fixed
![image](https://user-images.githubusercontent.com/73316633/18702419

[2022-08-27 09:34] yangwao opened #3850 "IDBDatabase issues on deploy preview"
I noticed this indexdb issue on #3763 but it might be already solved

just raising awareness of that
![image](https://user-images.githubusercontent.com/5887929/187024370-33183390-b6c2-4027-bb23-3bc50a17b114.png)

[2022-08-27 09:36] #3835 closed

[2022-08-27 09:46] petersopko commented on #3837
I suppose, thanks to #3831, this is already fixed on beta

[2022-08-27 09:51] #3837 closed

[2022-08-27 11:36] petersopko opened #3851 "Identity popover - copy to clipboard broken"
It seems that `copy to clipboard` function got broken at identity popover, I get the message that address was copied, but it in fact isn't.
![image](https://user-images.githubusercontent.com/73316633/187028394-edd90e89-441c-444c-be3b-60e89dc8b8a2.png)

[2022-08-27 11:36] Jarsen136 commented on #3851
👋

[2022-08-27 11:38] #3463 closed

[2022-08-27 11:56] petersopko opened #3852 "Master offers - easier address fill up"
As @prachi00 mentioned in the comment on the bottom, current implementation of master offers results in some edge cases which I'd like to see handled in better way.

Continuing from:
- #3463

1. if user without connected wallet visits `/bsx/offers` and then connects the wallet, he gets logged in but his address won't get filled up
2. refreshing the page doesn't help (check the comment)
3. the only

[2022-08-27 12:02] KngZhi commented on #3852
👋

[2022-08-27 15:55] preschian commented on #3781
👋🏻

[2022-08-28 08:20] DeluneClaire opened #3856 "Explaination name on the funcions pictures"
### Is your feature request related to a problem?

- #3853 Here,
<img width="373" alt="Snímek obrazovky 2022-08-28 v 10 13 48" src="https://user-images.githubusercontent.com/104791453/187064705-ed7ccb39-b718-4c78-a9f9-40afa079eeb2.png">
 we had to fixed some problems with the clip function, but as a new user, you need to click on everything to see what it does. So maybe when you put your mouse po

[2022-08-28 08:34] Jarsen136 commented on #3856
👋

[2022-08-28 08:43] roiLeo commented on #3852
What is the original spec of this feature/page?

As a user I don't understand what's happening right here and I'm a bit confused
![Screenshot 2022-08-28 at 10-30-00 KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/187065090-c20a8bba-b631-4e33-a5db-6b9b5bc2f12e.png)

This is unclear too
![Screenshot 2022-08-28 at 10-32-12 KodaDot - Kusama NFT Market Explorer](

[2022-08-28 08:48] KngZhi commented on #3852
<img width="734" alt="image" src="https://user-images.githubusercontent.com/11361147/187065713-079cf53e-df03-455c-8498-2081142efd76.png">

This is working UI. Will be working after through discussion.

[2022-08-28 08:55] KngZhi commented on #3852
based on #3463, The goal would be for anyone/user can see per address offers.

it would fetch offers made by this address

[2022-08-28 09:32] petersopko commented on #3852
thanks @KngZhi, mostly answered. Some of your questions are answered in the actual spec of the issue, my bad for not linking it earlier. To the other comments, there was request for this kind of page (page where you can see / search for everything offers related) with possibility to filter for specific addresses. Hence the name, 'Master Offers' component.

Like I said, this was the spec, I've talk

[2022-08-28 09:38] petersopko commented on #3852
regardless, we'll still need some UX/UI perspective on how to get around managing the problem I described @roiLeo 🙏🏻

[2022-08-28 09:40] petersopko commented on #3852
@KngZhi please note, that the checking the validity of the address needs to be addressed as well, we don't want to see empty bar with error

![image](https://user-images.githubusercontent.com/73316633/187067683-31d3092f-87f4-4d58-98f7-47ee0e06d8ac.png)

[2022-08-28 09:56] petersopko commented on #3856
I don't think this is necessary.

Maybe as a new user of the internet, but I don't think we need to take care of those at KodaDot.

I'm all for making our page more accessible for users, but it's 2022 and if you can't identify share icon, I've got some bad news for you 😄

With all seriousness though, I think adding additional tooltips / explanation doesn't fit with the general idea or heading of t

[2022-08-28 10:05] #3851 closed

[2022-08-28 10:11] Tomitzu commented on #3087
I will try to work on an article that will include all the above-mentioned requirements.

[2022-08-28 10:42] #3806 closed

[2022-08-28 10:42] #3824 closed

[2022-08-28 10:42] #3810 closed

[2022-08-28 10:48] yangwao opened #3858 "Remove extra line at search at mobile"
Let's remove small input and keep only the full-width one.

https://user-images.githubusercontent.com/5887929/187070049-ecae64ee-5ebf-45df-8923-cbb49f5d0b55.mov

@Jarsen136 could do it in #3763

[2022-08-28 10:51] yangwao commented on #3850
Seems it's was some kind of glitch

[2022-08-28 10:51] #3850 closed

[2022-08-28 12:32] exezbcz opened #3860 "Text on hover in menu is not visible"
### What happened?

text hover in menu, there is no contrast

### Please reproduce in steps

hover on menu item - Stats/create
hover on item on list - spotlight
spotlight - text is not visible

### Expected Behavior

text changing to black so it has contrast

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

beta.kodadot.xyz

### Are you logged

[2022-08-28 12:34] Jarsen136 commented on #3860
👋

[2022-08-28 14:18] Jarsen136 commented on #3856
So how do we deal with this issue 👀

[2022-08-28 14:30] yangwao opened #3862 "Listing NFTs in stablecoin on KodaDot"
I guess right now the best candidate in our ecosystem would be to use $aUSD for listing NFTs on KodaDot

I bet this could be done on Basilisk with multicurrency support.

Just place holder, I can elaborate on this later.

[2022-08-28 15:37] petersopko commented on #2072
This could be useful, finally got around to fix it properly, will be updated at Sundays from now on:

https://github.com/kodadot/nft-gallery/blob/main/BURN_RATE.md
https://github.com/kodadot/nft-gallery/blob/main/LEADERBOARD.md

lmk if you need help with any data regarding the development :)

[2022-08-28 19:20] Tomitzu commented on #3087
Hi @yangwao
You can see the article I've done here ➡️ [https://medium.com/@Tomitzu/kodadot-the-metaverse-middleware-for-nft-builders-c84b4055b8f8](KodaDot - the Metaverse middleware for NFT builders)
Any feedback/ suggestion is more than welcome!

[2022-08-28 20:36] vikiival commented on #3781
Admin panel needs rework #2347

[2022-08-28 20:36] #3781 closed

[2022-08-29 04:39] preschian opened #3865 "Redesign: Carousel"
blocked by https://github.com/kodadot/nft-gallery/issues/3774

- [ ] redesign carousel to new design
- [ ] use feature flags behind it?

[2022-08-29 08:53] roiLeo opened #3866 "Landing: Top/Trending Collections component"
This is a placeholder

[2022-08-29 09:20] exezbcz commented on #3860
there is also a hover effect in white mode missing

[2022-08-29 09:23] petersopko opened #3867 "Close Emoji panel by clicking elsewhere"
Currently, only way to close emoji panel is to click again at the emoji button which opened up the panel.
I'd like to have the option to close it by clicking anywhere else except for the panel.
![image](https://user-images.githubusercontent.com/73316633/187167846-b0a1c272-ca31-4763-9423-3d2589ac0750.png)

[2022-08-29 09:24] Jarsen136 commented on #3867
👋

[2022-08-29 09:38] vikiival opened #3868 "Refactor: Format balance"
### Is your feature request related to a problem?

We have like 5 versions of format balance in the app :)

- formatBalance +  round
- formatBalance
- formatBalanceEmptyOnZero
- formatBsxBalanceEmptyOnZero
- formatBsxBalanceToNumber

+ rounding is implemented 3 time

### Describe the solution you would like

have a unified version that we can use :) also with vue3 impl

[code]

### Describe altern

[2022-08-29 09:48] KngZhi commented on #3868
👋

[2022-08-29 10:21] petersopko commented on #3856
I've just did some research and then briefly chatted with @exezbcz, whole gallery item detail will get redesigned and I think this will solve some of the confusion around what the buttons do 😄 It makes no sense to implement this at this stage, let's wait for that and if necessary, open this up again

[2022-08-29 12:15] roiLeo commented on #3860
- missing `::focus` on dark mode
![Capture d’écran 2022-08-29 à 2 14 06 PM](https://user-images.githubusercontent.com/9987732/187198774-07bf6ae1-4de4-4533-8301-37a657101ae2.png)

- missing `::hover` & `::focus` on light mode

[2022-08-29 12:36] roiLeo commented on #3852
I'm having trouble understanding the problem with adding the address of the logged in user in the text field.

Instead having one big input on top of the page why don't we try to add [searchable inputs](https://buefy.org/documentation/table/#searchable) on `OfferTable` (same goes for `selectedStatus` filter)

I think we'll need to add some extra text since when I go on this page (/bsx/offers) I do

[2022-08-29 12:49] Jarsen136 commented on #3860
will check later

[2022-08-29 13:15] #3010 closed

[2022-08-29 13:19] yangwao commented on #3728
All done in ?
- #3784

[2022-08-29 13:19] yangwao commented on #3512
Let's say it's there

![image](https://user-images.githubusercontent.com/5887929/187210651-d98dbd61-2d8e-45af-b5cb-86554af39da5.png)

[2022-08-29 13:19] #3512 closed

[2022-08-29 13:20] yangwao commented on #3511
this is done, haven't need to fiddle with anything as user

[2022-08-29 13:20] #3511 closed

[2022-08-29 13:21] yangwao commented on #3655
Basilisk Rococo has been merged meanwhile
- #3784

So @Jarsen136, we can fix #3661 finally! :)

[2022-08-29 13:28] roiLeo commented on #3842
![Capture d’écran 2022-08-29 à 3 27 19 PM](https://user-images.githubusercontent.com/9987732/187212216-2c1f4e49-29d9-4309-87ff-0510e005ab1c.png)

And again! I don't see "New version" notification :(

[2022-08-29 13:42] yangwao commented on #3842
Maybe this did not worked as anticipated?
- https://github.com/kodadot/nft-gallery/pull/3834

[2022-08-29 13:49] roiLeo opened #3873 "glb, gltf model viewer on create"
_As a User, I want to see the (3D) preview of what I'm going to mint_

small package if possible or reuse google/model-viewer

[2022-08-29 13:56] roiLeo commented on #3873
Oops!

[2022-08-29 13:56] #3873 closed

[2022-08-29 14:09] roiLeo opened #3874 "First time looking at 3D assets on wide screen"
By default, on /gallery/{id}, we show item in full width

When tested on 3D asset (/bsx/gallery/2444376227-3) I see nft take up the whole screen and I can't reduce the size

Hack to see in reduced size:
- go an any image nft
- click on
![Screenshot 2022-08-29 at 16-03-54 3D Ball KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/187219920-38535751-2275-4af9-b4c

[2022-08-29 14:32] petersopko opened #3875 "Assets page"
two things I'd like to see:

- [ ]  add route to /assets to profile dropdown - currently, only way to get to https://beta.kodadot.xyz/snek/assets/ is through link which prompts you to change the fees, such as on gallery item page
![image](https://user-images.githubusercontent.com/73316633/187225052-691556e4-10f2-400d-b789-bf34cf0c0d85.png)

- [ ] add explanation of what is the user looking at when

[2022-08-29 14:38] zhengow commented on #3875
👋

[2022-08-29 14:46] petersopko opened #3876 "Revisit basicE2E.cy.ts after Snek impl."
Basilisk portion of the tests will need to be update/rewritten to reflect our sunsetting of /bsx and update to /snek. I'll revisit this once we have back our stats components / whatever else isn't included in /snek.

[2022-08-29 14:46] petersopko commented on #3876
ignore

[2022-08-29 15:02] yangwao opened #3877 "Postfixes SearchBar Refactor & Redesign"
It's time to do postfixes in the search bar

- [ ] refactor into smaller components
- [ ] search bar doesn't open up on displays with 481px > width.
- [ ] I don't see suggestions on mobile

![image](https://user-images.githubusercontent.com/5887929/187231549-e82f2d31-886d-4f20-ad54-0683daf030db.png)

as on beta, it worked in the past
![image](https://user-images.githubusercontent.com/5887929/18723

[2022-08-29 15:03] #3782 closed

[2022-08-29 15:03] #3803 closed

[2022-08-29 15:03] #3843 closed

[2022-08-29 15:03] #3858 closed

[2022-08-29 15:15] #3728 closed

[2022-08-30 10:20] petersopko commented on #3852
I get your objections, this is the origination of the idea:

- #3462

I don't think redesigning should be done at this stage, even with your suggestion, there's more to figure out, but let me open up an issue to revisit Master Offers with the ongoing wave of redesigns coming to the app thanks to @exezbcz, maybe he'll have some ideas about this page as well.

sort of meta comment:

I didn't like ho

[2022-08-30 10:27] petersopko commented on #3842
I've just closed "Close to update" popup and got this, maybe some unrelated fluke, but still weird:
![image](https://user-images.githubusercontent.com/73316633/187414066-1560390b-f8f1-4e89-b236-9db3a42f1475.png)
![image](https://user-images.githubusercontent.com/73316633/187414221-ce5528a9-3fec-4b59-9d35-c3dd2307662d.png)

[2022-08-30 10:48] preschian commented on #3842
ah, I got this error also yesterday on Chrome. but I don't know how to reproduce it

same error regarding `PostgreSQL: No space left on device`

[2022-08-30 11:31] yangwao commented on #3842
I've asked SubSquid about PostgreSQL error; I've already seen that one long time ago.

[2022-08-30 11:52] yangwao opened #3881 "More comprehensive writing on current Basilisk Rococo implementation"
To remove confusion about what's new on Snek and to ambassadors has more fuel to marketing KodaDOt x Basilisk Rococo;

The stage is yours 🎤 @vikiival
let's drop writing here

<img src="https://media4.giphy.com/media/1iTX3MGiwDYxBJh6/giphy.gif"/>

I'll try to outline, till @vikiival pick this up
- Currently, we will use KSM as currency for buying and selling
- Users can use whatever currency they w

[2022-08-30 12:54] petersopko opened #3882 "Search Bar on mobile"
two postfixes on 📱 searchbar:

- [ ] search bar doesn't open up on displays with 481px > width -> please make it so that we have fully responsive searchbar
- [ ] suggestions don't show up on mobile at all - > same as the issue above, please make it work seamlessly in a way it works on desktop

Important: please test this on all chains

[2022-08-30 12:55] petersopko commented on #3877
following up these two in
- https://github.com/kodadot/nft-gallery/issues/3882

[2022-08-30 13:07] petersopko opened #3883 "Refactor: SearchBar - splitting into smaller components"
Currently, our search SearchBar.vue is at 909 lines of code (bad, hard to debug etc.)

We'd like to see this split up into smaller components, to give an easily demonstrated example, there are at least three different logical chunks I could see being components:
![image](https://user-images.githubusercontent.com/73316633/187443750-f0016be0-a6b9-43a1-8b41-d9a4fe5e99b0.png)

Somebody with previous e

[2022-08-30 13:08] petersopko commented on #3877
- https://github.com/kodadot/nft-gallery/issues/3883

[2022-08-30 13:19] Jarsen136 commented on #3883
👋

[2022-08-30 15:36] prachi00 commented on #3882
👋

[2022-08-30 15:39] #3860 closed

[2022-08-30 15:40] zhengow commented on #3875
Hi!
I started with what you said, feel free to give me advice and let me adjust it:)

[2022-08-30 18:10] vikiival commented on #3875
@zhengow snek is running on the rococo :). It is not a live version

@petersopko thats how is it called on the basilisk app. Maybe /tokens would be more appropriate name?

[2022-08-31 02:08] preschian commented on #3842
just some thoughts

for this case, who triggering the notification is from the `workbox`

but even if the user sees the notification, currently flush indexedDB does not work on firefox. because in this PR #3834 using `indexedDB.databases()`, I just realized it didn't work on firefox. source: https://developer.mozilla.org/en-US/docs/Web/API/IDBFactory/databases. quick fix, no need to use `indexedDB

[2022-08-31 07:06] petersopko commented on #3875
yes, this is a different chain/testnet. In order to claim tokens for testing, please visit our [Discord channel](https://discord.com/channels/840514076538830888/881839877140930630)

[2022-08-31 07:08] petersopko commented on #3875
from the user perspective, the only thing you can do/care about at that page are fees which you can change. Idk about future plans there, but that's what it is right now. How about /fees and the title in menu dropdown can be Fees Management/Fees Control/Fees...

[2022-08-31 07:36] #3867 closed

[2022-08-31 07:43] petersopko opened #3887 "Assign bot - weird behavior after closing PR"
check what happened here:
- https://github.com/kodadot/nft-gallery/issues/3867

[2022-08-31 08:26] #3852 closed

[2022-08-31 09:45] vikiival commented on #3875
+ you should see your balance 🤷

[2022-08-31 09:52] petersopko commented on #3875
okay, let's forget about it and keep it named assets then

[2022-08-31 10:30] petersopko commented on #3812
similar thing happening now at
- https://github.com/kodadot/nft-gallery/pull/3661
```CypressError: Timed out retrying after 5000ms: `cy.wait()` timed out waiting `5000ms` for the 1st request to the route: `fetchMedia`. No request ever occurred.```

I wonder what to do with this test, I have to re-run this quite frequently in order to get it passed, and I don't see the connection to the PR at hand.

[2022-08-31 10:42] preschian commented on #3812
I prefer to skip the test if the network got `429` errors https://github.com/kodadot/nft-gallery/issues/3812#issuecomment-1225181679

[2022-08-31 11:15] petersopko opened #3888 "Migrating Offers related components to /snek"
Since our /snek is up and running, we'd like to bring over the already implemented functionality from /bsx, I may have forgotten something + I'm not sure about the indexer here, whether new resolvers need to be written or not, regardless. this needs to be done. In case of required indexer work, this can be eventually split into multiple issues.

In the meantime, it would be nice to generate some o

[2022-08-31 13:00] petersopko opened #3890 "Migrating Latest Sales + Newest List to /snek"
Same as
- #3888

We need to bring our carousel components on landing over to /snek

[2022-08-31 13:20] roiLeo commented on #3890
same goes for /moonsama :)

[2022-08-31 13:24] zhengow commented on #3890
👋

[2022-08-31 13:25] roiLeo commented on #3842
any js command to hack/clear idb? I've encountered a new 🐛

![Capture d’écran 2022-08-31 à 3 22 17 PM](https://user-images.githubusercontent.com/9987732/187689004-6f1ad804-e0ce-46f2-9ac4-250ccc81c4b1.png)

[2022-08-31 15:51] zhengow commented on #3890
I found there is no `lastEventResolver` for moonsama, maybe leave it to another issue?

[2022-08-31 15:59] petersopko commented on #3890
Another issue for sure

[2022-08-31 16:01] petersopko opened #3891 "Latest sales/newest list MoonRiver"
- #3890

But for moonriver

### Ref
- #3884  - once this is merged

[2022-08-31 16:23] zhengow commented on #3888
Already finish this issue. Fortunately I found the indexer is good for these features in snek:)

[2022-09-01 04:38] #3655 closed

[2022-09-01 07:05] KngZhi commented on #3868
hey @vikiival  What's your ideal output is
A) implement `format` that has round functionality and `formatBalanceEmptyOnZero` should be based on that format or
B) the format should also have functionality of formatBalanceEmptyOnZero, and replace formatBalanceEmptyOnZero with `format`in codebase.

[2022-09-01 09:40] yangwao commented on #1492
let's proceed :)

that's would be great; I can reach out to Andrey and probably would need to redeploy on vercel?

[2022-09-01 10:21] preschian commented on #3842
maybe try this one `window.indexedDB.deleteDatabase('db-name')`

when developing on Chrome, I click this `Clear site data` button. maybe firefox has this panel also
<img width="645" alt="Screen Shot 2022-09-01 at 17 17 38" src="https://user-images.githubusercontent.com/734428/187891399-43c7f2f4-5c71-41b2-8268-cb2ef03773ba.png">

[2022-09-01 10:24] yangwao commented on #3841
Can we split tests into separate parallel processes?
Like with reusable workflows should be good to go.
At least saving time on lint & build to separate tests from overall time?
Splitting tests in some particular test suits, per components?

- https://github.com/orgs/community/discussions/26291
- https://github.com/community/community/discussions/14484
- https://rubyyagi.com/how-to-run-tests-in-pa

[2022-09-01 10:33] yangwao commented on #3813
Removed 006 in #3884

[2022-09-01 10:34] yangwao commented on #3808
Meanwhile done

[2022-09-01 10:34] #3808 closed

[2022-09-01 10:39] preschian commented on #3844
Hi, because some ordering components are a little bit different in the new design, I will prepare a new landing-page component with a query parameter approach https://github.com/kodadot/nft-gallery/discussions/3710#discussioncomment-3501133. Hopefully, everyone can start to redesign new components in that layout. And, it would be nice if the new components were written with Vue Compose API

Ref:
-

[2022-09-01 11:21] yangwao commented on #3876
Is this related?
https://github.com/kodadot/nft-gallery/pull/3884#issuecomment-1234105512

[2022-09-01 11:25] petersopko opened #3896 "Changing BSX to KSM on /snek"
There are still some leftovers from roccoco implementation which need to be adjusted, I may have forgotten something:

collections on-hover:
![image](https://user-images.githubusercontent.com/73316633/187901544-49940625-216b-4de1-8113-83a136e79740.png)
collections history tab:
![image](https://user-images.githubusercontent.com/73316633/187901592-1c151eaf-5ee6-4497-ad77-c9d16f2f2f7f.png)
gallery it

[2022-09-01 11:33] #3875 closed

[2022-09-01 11:33] petersopko commented on #3876
possibly, I can't see how as of now, but it seems that - #3884 is going to break /bsx (if this is desired outcome and we are definitely sunsetting BSX, I can push in that PR to skip tests for /bsx)

[2022-09-01 11:45] petersopko opened #3897 "Multi-currency Transfer for /snek"
It seems that as of now, Transfer at /snek allows only for transfer of BSX tokens. If I'm understanding this multicurrency implementation correctly, it should be possible to transfer KSM as well and therefore, we should give users an option to select which tokens they'd like to transfer.

[2022-09-01 11:58] yangwao commented on #3376
Having those components closes this
- global offers
- landing : latest sales & newest list

[2022-09-01 11:58] #3376 closed

[2022-09-01 12:05] yangwao commented on #3876
why skip?

[2022-09-01 12:10] petersopko commented on #3876
Okay, let's do that 😄

[2022-09-01 12:32] #3733 closed

[2022-09-01 12:32] yangwao commented on #3161
![image](https://user-images.githubusercontent.com/5887929/187914357-3b70f41f-a98a-489b-9a56-d97d4ba2efb9.png)

<img src="https://media3.giphy.com/media/gLv9hDfYSyFyg/giphy.gif"/>

<img src="https://media2.giphy.com/media/l3vR4yk0X20KimqJ2/giphy.gif"/>

We will continue with EVM implementation in
- #3647

[2022-09-01 12:32] #3161 closed

[2022-09-01 12:52] KngZhi commented on #3896
👋

[2022-09-01 13:28] petersopko commented on #3876
All good now with /snek, two things are left here to be fixed:
1. after #3893 we can turn on the test cases for navbar (stats are currently missing there)
2. /e2e-login doesn't seem to log in user with basilisk wallet, I don't know why and I'd need a hand here @vikiival 🥺 -> after this is fixed, some of the action buttons on gallery item can be tested again

[2022-09-01 18:30] yangwao commented on #3812
I suspect we are not only one who are doing tests from GH IP range and we are ending in pool of same rate limiter, I can check this with Pinata support or find other way around to have green tests.

Can someone pass me URL which is being tested, please? 🙏 Thank you!

[2022-09-02 06:05] preschian commented on #3812
list of URLs on `media.cy.ts`
- https://kodadot.xyz/rmrk/gallery/12451896-3892e43e923e5ad973-KAG-MUTAGEN_1500-0000000000000414
- https://kodadot.xyz/rmrk/gallery/11049994-e4c74212b3ed12d02b-INFINITY%20GEMS-GOLD_006-0000000000000094
- https://kodadot.xyz/bsx/gallery/2444376227-3
- https://kodadot.xyz/rmrk/gallery/11711019-ce25731cee6b347a26-9D46T-VIDEO-0000000000000026

[2022-09-02 06:45] preschian commented on #1492
ok, let me try to move the repository

It would be great if the output of the URL were still the same

[2022-09-02 06:49] preschian commented on #1492
unable to move the repository
`You don’t have the permission to create public repositories on kodadot`

[2022-09-02 08:49] #3772 closed

[2022-09-02 08:56] cryptodamsky opened #3900 "I’ve used simple mint, the nfts are nowhere"
### What happened?

Went to Kodadot.xyz, simple minted POAP

### Please reproduce in steps

It’s the last 2 transactions on this address..

https://kusama.subscan.io/account/DB42NYKDERAAK8fbgJtuYCsxNMmLrbzT1m4DNAK9Koxez3S

/

https://kusama.subscan.io/extrinsic/14262837-5
https://kusama.subscan.io/extrinsic/14262831-2

### Expected Behavior

/

### What browsers are you seeing the problem on?

Fir

[2022-09-02 09:16] petersopko commented on #3900
I've tried [simple mint](https://kodadot.xyz/rmrk/detail/14273893-A8B91ECFF496038553-GODZILLA-GODZILLA-0000000000000001) just now, can't reproduce 🤔 But I got this message:
![image](https://user-images.githubusercontent.com/73316633/188106993-37be3492-823c-4f76-8f4b-4d411e13414b.png)

[2022-09-02 09:31] vikiival commented on #3876
Should be fixed in #3901

[2022-09-02 10:04] #3813 closed

[2022-09-02 10:23] vikiival commented on #3868
## Describe the solution you would like

have a unified version that we can use :) also with vue3 impl

[2022-09-02 11:08] yangwao opened #3902 "First batch of MoonRiver contracts"
We will be indexing first MoonRiver collections
https://github.com/kodadot/click/pull/31/files#diff-5cd81bc14283d84eee395248c29c88ae4b00b3ba88fa05d4b02938fa2f7fa0baR8

We need to rename MoonSama -> MoonRiver in chain selector

![image](https://user-images.githubusercontent.com/5887929/188126795-31428000-fef6-4a65-88cf-48d35a8bd922.png)

[2022-09-02 11:42] AfroCodec opened #3903 "Cookie banner opacity causes content overlap on mobile viewport"
### What happened?

`We use third-party 🥠  in order to personalize your site experience    ACCEPT     DECLINE`

The cookie banner's opacity make its content overlap other contents on mobile viewport.

Issue is present in all mobile browsers — Chrome, Safari, DuckDuckGo, Brave, Kiwi and UC browser — on which I opened kodadot.xyz and beta.kodadot.xyz

Issue is also present when kodadot.xyz is opened

[2022-09-02 13:52] yangwao opened #3905 "Disable Statemine route from tests"
Disable Statemine from tests as temporarily we will drop support until reimplemented.
There is a new SubSquid Archive for Statemine, which we can put up later on

https://github.com/kodadot/nft-gallery/runs/8156755753?check_suite_focus=true#step:9:104

### Ref
- #3904

[2022-09-02 13:57] KngZhi commented on #3896
<img width="449" alt="image" src="https://user-images.githubusercontent.com/11361147/188165070-29932aea-4d98-4af4-a894-c6aa49256d42.png">

[2022-09-02 13:57] KngZhi commented on #3905
:wave:

[2022-09-02 14:00] petersopko commented on #3887
solution needs to be added for PR-edited webhook, it seems that bot has trouble figuring out what to do after devs link issue post-opening PR.

[2022-09-02 14:26] yangwao opened #3908 "Migrate to vite on production"
It seems's Vite issue is resolved meanwhile?
- https://github.com/nuxt/framework/issues/886

If yes, it would be nice to finally drop webpack and speed up stuff! :)

## Ref
- https://github.com/kodadot/nft-gallery/blob/main/nuxt.config.js#L28
- #1418
- #2692
- #2690

[2022-09-02 14:28] yangwao commented on #2658
Closing in favour

- #3908

[2022-09-02 14:28] #2658 closed

[2022-09-02 14:55] yangwao opened #3909 "Setup deployment for canary branch"
Set Netlify branch deployment for `canary` branch

Once there is something in Canary branch, can proceed

Best if it would be straight working something with Vue3 components

[2022-09-02 14:58] #3905 closed

[2022-09-03 09:14] yangwao opened #3910 "White K-logo placeholder on dark mode?"
I thought there was PR fixing this that on
- light mode is light K
- on dark mode is dark one?

after switching through light and back to dark is ok

Happens on fresh deploy preview https://deploy-preview-3904--koda-nuxt.netlify.app/movr/explore/?page=1

![image](https://user-images.githubusercontent.com/5887929/188264128-c36a4df3-cdb3-43a0-a1ce-711914c5284a.png)

[2022-09-03 11:06] KngZhi commented on #3910
👋

[2022-09-04 07:15] #3888 closed

[2022-09-05 07:56] cryptodamsky commented on #2944
### Hey wagmedia writers, i’ve heard you are writing! :)

Feel free to post your published links here, as we will be choosing one(or more) to publish on kodadot.

[2022-09-05 08:01] #3910 closed

[2022-09-05 08:26] xtaCrypto commented on #2944
What is this about?

Στις Δευ 5 Σεπ 2022 στις 10:57 π.μ., ο/η damsky ***@***.***>
έγραψε:

[2022-09-05 08:54] #3896 closed

[2022-09-05 10:22] roiLeo opened #3914 "modal: close button not visible in light mode"
In KeyboardShortcutModal component the close button is not visible, should be the same on QRcode modal

![Capture d’écran 2022-09-05 à 12 20 04 PM](https://user-images.githubusercontent.com/9987732/188427378-9129371f-caef-4652-a742-782b14bae26c.png)

[2022-09-05 10:33] Jarsen136 commented on #3914
👋

[2022-09-05 10:53] yangwao commented on #3812
Asked about those below, will see what's response on that.

https://kodadot.mypinata.cloud/ipfs/bafybeia2ibumqhe3ago4l7ftmtqkiyyk2gs53wplqdwbxz2sae5vgqkzsm
https://kodadot.mypinata.cloud/ipfs/bafybeihxrvrmmdymshva7gdsoamxfcwt3kkwax57x62tuphjzfjtzpudpy
https://kodadot.mypinata.cloud/ipfs/bafybeidvxpbkyoeoj3mddjh4vjtyy5qnawalcxsd7s36hnpifqyc3yimse
https://kodadot.mypinata.cloud/ipfs/bafybeibjxn7qp4s

[2022-09-05 12:12] roiLeo opened #3916 "Refactor: i18n module"
rewrite i18 module with Nuxt3 migration

possible candidate:
- i18 next: https://v8.i18n.nuxtjs.org/getting-started/setup (w/ or w/o bridge)
- intlify: https://github.com/intlify/nuxt3

[2022-09-05 13:09] burhank6161 commented on #2944
How long should the article and images be?

[2022-09-05 13:48] xtaCrypto commented on #2944
This is up to you sir! No restrictions, but not a small paragraph ofc.

[2022-09-05 16:08] jbone1985 commented on #2944
I'll be taking a stab at it. Will do my best!

[2022-09-07 04:39] prachi00 commented on #1348
is now a good time to start working on this? I dont want to get conflicts with the refactors and stuff? @roiLeo @vikiival @preschian

[2022-09-07 06:30] roiLeo commented on #1348
I don't think so since major part will be done when refactoring component, refer to #3710
But feel free to help on rewritting component vue3 way and/or with new design (#3844)

[2022-09-07 10:31] yangwao opened #3919 "balances.locks(AccountId32) is a map, requiring 1 arguments, 0 found"
When I land at https://beta.kodadot.xyz/snek/explore/?tab=GALLERY&page=1

![image](https://user-images.githubusercontent.com/5887929/188856343-613b3781-eade-4460-b49f-926ac5d0b02f.png)

This other one I can't replicate again, I went from collection to gallery
![image](https://user-images.githubusercontent.com/5887929/188856324-ac58aa6f-7166-4efa-8998-fb71266096e3.png)

Oh seems I can, sometimes it

[2022-09-07 10:33] Jarsen136 commented on #3919
👋

[2022-09-07 10:33] yangwao opened #3920 "bad user input at global offers"
while I visit non-logged, got error from graphql endpoint
https://beta.kodadot.xyz/snek/offers/

[code]

![image](https://user-images.githubusercontent.com/5887929/188857495-546299af-5224-4895-8c85-1071c4572757.png)

[2022-09-07 10:39] Jarsen136 commented on #3920
👋

[2022-09-07 13:53] #3805 closed

[2022-09-07 14:11] kkukelka commented on #3908
👋

[2022-09-07 14:25] yangwao commented on #3745
yes, I'm looking at that "web3" IPFS gateway from CF and deployed testing one with
`hyperjpeg.kodadot.xyz`  but seems doesn't play well for me, can explore it on that later

yes, looks like CF is way cheaper per requests as they offer in $5 package 100GB with $0.10/GB, which is like $65 for same pinata option where rn we have at pinata package for 750gb bandwidth  and paying $100

### Ref
https://

[2022-09-07 16:08] yangwao commented on #3812
🤷‍♂️ shrugs, seems nothing they could do about it and I have doubts we do more than 5req/s in peak, so.

This sounds like we would need to migrate off Pinata as the price per request is a bit higher than anticipated and won't scale with our budget.
- #3745

[2022-09-08 05:08] prachi00 commented on #3844
@preschian @yangwao can I start working on the footer design?
<img width="702" alt="Screen Shot 2022-09-07 at 10 08 38 PM" src="https://user-images.githubusercontent.com/39299315/189039131-e920da06-6850-4fd7-a12e-b7bf398bd9c0.png">

[2022-09-08 05:23] prachi00 commented on #1348
@roiLeo where are we doing the vue3 rewrite?

[2022-09-08 05:24] preschian commented on #3844
of course, yes, I guess 👍
you can start by creating a new branch from this branch https://github.com/kodadot/nft-gallery/pull/3895/files (while this branch is still in review)
for the new footer put the component in here `components/TheFooter.vue`

[2022-09-08 05:27] prachi00 commented on #3844
sounds good, thank you, I'll start on this one

[2022-09-08 06:35] roiLeo commented on #1348
We'll need to rewrite every components, some of them have already been done (#3825, #3771, #3718)

[2022-09-08 09:49] roiLeo opened #3922 "bring back DeviceOrientation on desktop"
Since when we disable DeviceOrientation feature?
can we have it on item detail? with a button to enable/diable next to
![Screenshot 2022-09-08 at 11-48-43 Kusama Bot 142 KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/189091711-93fe534d-8a73-44fd-94d5-d8af5c493835.png)

I think it was @prachi00 who introduce this feature

[2022-09-08 13:12] roiLeo opened #3923 "wallet connection is broken on beta"
[code]

<img width="637" alt="Capture d’écran 2022-09-08 à 3 12 05 PM" src="https://user-images.githubusercontent.com/9987732/189130830-20d39705-ca90-40dd-b707-e2c29ec3a60c.png">

[2022-09-08 14:23] roiLeo opened #3925 "can't access property "accounts", api.query.tokens is undefined"
https://user-images.githubusercontent.com/9987732/189146652-48e084bc-96b1-4beb-9222-f5dea1e922f8.mov

[2022-09-08 14:50] preschian opened #3927 "Indexer: add collection name in lastEvent query"
how to proper way to add collection properties in `lastEvent` query?
currently, there is no collection in that query

<img width="228" alt="Screen Shot 2022-09-08 at 21 48 56" src="https://user-images.githubusercontent.com/734428/189154152-5b55b461-915d-4611-b067-81e324a9a8ab.png">

[2022-09-08 14:54] preschian opened #3928 "Redesign: Carousel - call multi-chain endpoint"
support multi-chain endpoints
<img width="999" alt="Screen Shot 2022-09-08 at 21 53 47" src="https://user-images.githubusercontent.com/734428/189155046-d9070994-229e-42b5-b6ca-ef69f9809437.png">

[2022-09-08 15:07] roiLeo commented on #3927
you can check `lastNftListByEvent` query:
[code]

[2022-09-08 15:12] roiLeo commented on #3928
maybe [uniquery](https://github.com/kodadot/packages/tree/main/uniquery) will do the work? @vikiival

[2022-09-08 15:16] Tomitzu commented on #2944
Hi, @cryptodamsky. I'm a member of WagMedia writer and translator community and I made an article based on your above-mentioned suggestions ► [What makes KodaDot NFT Marketplace stand out from the crowd?](https://medium.com/@Tomitzu/what-makes-kodadot-nft-marketplace-stand-out-from-the-crowd-1641b4028a74)

[2022-09-08 15:21] preschian commented on #3927
seems already using that query, but this line `collection: name` is using nftName right? not collectionName? CMIIW. so, currently, output for fields `name` and `collection` will be the same

[2022-09-08 15:36] roiLeo commented on #3927
my bad you right it looks like it show nft name and not collection name

ref:
https://github.com/kodadot/snek/blob/5cd19f51b705e0812492ad683997d39a0f657bdd/src/server-extension/query/event.ts

[2022-09-08 16:56] vikiival commented on #3928
Uniquery wont help, :)
However api should return the origin prefix

[2022-09-09 05:45] preschian commented on #3745
the gateway was down?
`Account has been disabled. - ERR_ID:00022`

https://kodadot.mypinata.cloud/ipfs/bafkreihm52tibtck7iqwmtpncaxocczhxr65lskcugjr3xbix5gmytfzfy

<img width="830" alt="Screen Shot 2022-09-09 at 12 44 04" src="https://user-images.githubusercontent.com/734428/189279629-9745b12f-5737-4f9c-bbd9-7d1d56090655.png">

[2022-09-09 07:56] vikiival opened #3930 "Replace ID with String in SubSquid GraphQL queries"
### What happened?

The new GraphQL server does not expose `ID` type anymore.

Everything is exposed as the `String` type

### Please reproduce in steps

- Update `@subsquid/graphql-server` to the latest version on any indexer (rubick, click, snek)
- try to run any query that requires `ID` type
- Query will fail

### Expected Behavior

Query should run.

Fix.

In subsquid queries replace:
- `ID` -

[2022-09-09 08:46] yangwao commented on #3745
public shame ON 😅

probably pay for $1k/mo till we migrate off to CF. I bet CF has much better costs for us in the long run, and we should leverage CF images as well.

![telegram-cloud-photo-size-4-5825437780958885842-x](https://user-images.githubusercontent.com/5887929/189310314-ef5e7843-c747-42c0-a698-974eac415a5f.jpg)

[2022-09-09 08:55] yangwao opened #3931 "Update links for MoonRiver to point on TXN hash rather block"
Currently at history when I want to look on blockexplorer on transaction we are pointing on block rather than exact EVM transaction

![image](https://user-images.githubusercontent.com/5887929/189312058-e8d67caa-cee9-4328-a28d-7494cce21543.png)
https://deploy-preview-3904--koda-nuxt.netlify.app/movr/collection/0x79c8c73f85ec794f570aa7b768568a7fedb294f8?tab=history

link leads to https://moonriver.s

[2022-09-09 09:14] petersopko opened #3932 "Trait boxes on 📱"
currently, trait boxes on gallery item are not responding well to different sizes of screens, please check and make sure it works on every size of screen (not overflowing like now):
![image](https://user-images.githubusercontent.com/73316633/189315768-1a4d04c8-d139-4a19-9fb9-3598c4109168.png)

[2022-09-09 09:25] #3923 closed

[2022-09-09 09:26] roiLeo commented on #3932
👋
could you share item link?

[2022-09-09 09:40] #3925 closed

[2022-09-09 09:41] petersopko commented on #3932
I've found this while testing MOVR, from #3904 here's another example:
https://deploy-preview-3904--koda-nuxt.netlify.app/movr/gallery/0xb6e9e605aa159017173caa6181c522db455f6661-3000

[2022-09-09 10:11] petersopko commented on #3897
this issue is still up for grabs and needs an upgrade:
1. we support (and show) only BSX at /snek transfer (regardless of the KSM labels there):
![image](https://user-images.githubusercontent.com/73316633/189325031-5e03e24f-e40e-446d-9994-5dd67104dd89.png)

2. after successful transfer of BSX, the generated link leads nowhere on Calamar (I remember Jarsen was fixing this, maybe you can take a look

[2022-09-09 12:13] yangwao opened #3934 "Add MoonBeam to KodaDot"
The first batch of NFTs from Moonbeam on KodaDot

Need some links till Sunday 🥹🫡 🚀 for 🇩🇪 Berlin
---
<details>
  <summary>Target collection on Moonbeam </summary>

Exiled Racers Pilots
- 738
- https://moonbeam.moonscan.io/address/0x515e20e6275CEeFe19221FC53e77E38cc32b80Fb/contracts

Exilred Racers Racecrafts
- 654
- https://moonbeam.moonscan.io/address/0x104b904e19fBDa76bb864731A2C9E01E6b41f855/co

[2022-09-09 13:52] #3902 closed

[2022-09-10 10:08] kkukelka commented on #3931
👋

[2022-09-10 10:32] yangwao opened #3935 "Way to sync other translations files with en.json"
Hey, I'm just a proxy here from our ambassadors from Discord @spacesmutje

I guess right now as we've added/removed some phrases, there is no easy way than manually check until someone make some diff script which would manage these translations in sync against `en.json`

### Ref
- #2

[2022-09-10 10:59] yangwao opened #3936 "Collection numbers total items"
Seems I don't see 34 items.
Does it also count burned NFTs? Seems yes.
Listed 5 is ok when I switch to buy now.

Thinking we should show only items on RMRKv1 available in brackets, like, there are 12 of them to keep overall information on how much has been minted in a particular collection to pass user sensible information.
It would look a bit messy for now and the collection view is in the redesi

[2022-09-11 11:58] preschian opened #3938 "Indexer: checkIndexer query not working properly"
### What happened?

I got "Indexer Error" on the gallery item page

### Please reproduce in steps

open gallery item page such as: https://beta.kodadot.xyz/rmrk/gallery/10938663-0488b1a94fd8d61738-SHIBITS-SHIBITS_OR_PHARAOH_NIKU_OR_KUSAMA_KINGS-0000000000000354

### Expected Behavior

should not error indexer

### What browsers are you seeing the problem on?

Chrome

### At which address did you e

[2022-09-11 12:21] preschian commented on #3938
seems like the e2e test will throw an error because of this bug

[2022-09-11 15:16] Jarsen136 commented on #3919
https://github.com/kodadot/nft-gallery/pull/3921#issuecomment-1242341077

There is something that should be related to the same error.

![image](https://user-images.githubusercontent.com/31397967/189535113-3bdf948c-742d-4ea0-bcd3-7aeb041688d3.png)

[2022-09-12 06:44] #3932 closed

[2022-09-12 06:46] vikiival commented on #3919
This is related to Apollo and how it handles schema

[2022-09-12 07:59] petersopko commented on #3812
disabled media tests here until better solution comes around:
- https://github.com/kodadot/nft-gallery/pull/3941

[2022-09-12 08:15] roiLeo commented on #3919
Do you have an idea of which component may be causing this issue?
I noticed that you can toggle this error by scrolling to top, maybe it's related with IdentityComponent? with inside a hook/watcher which is triggered

[2022-09-12 08:32] #3920 closed

[2022-09-12 08:34] petersopko commented on #3919
NavabarProfileDropdown

[2022-09-12 08:45] #3914 closed

[2022-09-12 08:45] vikiival commented on #3938
#2929 👀

[2022-09-12 08:58] petersopko commented on #3842
this keeps happening (seemingly) randomly

[2022-09-12 09:02] vikiival commented on #3934
Throws errors on ethers.js
  // Groomlins = '0xf27a6c72398eb7e25543d19fda370b7083474735',
  // EXRMintPass = '0x3507fd182dc5bd1b29214950fdcde40bd167114f',
  // EXRInventory = '0xa0b48010ff75136bbb5c8a12fedfa37160819834',

[2022-09-12 09:19] #3903 closed

[2022-09-12 11:27] yangwao commented on #3844
Hey since https://github.com/kodadot/nft-gallery/pull/3895 is merged others can help with this? 👀

[2022-09-12 12:15] roiLeo commented on #2721
meanwhile https://docs.subsquid.io/tutorials/create-a-simple-squid/

[2022-09-12 12:44] thea-exe commented on #2721
yeah spoke to Wao, he said wanted one specifically from KodaDot when I
wrote this.

On Mon, Sep 12, 2022 at 8:15 AM roiLeo ***@***.***> wrote:

[2022-09-12 12:51] Jarsen136 commented on #3844
I will start working on bringing searchBar to landing page once #3894 is merged

<img width="748" alt="image" src="https://user-images.githubusercontent.com/31397967/189657747-7ca0dd10-35e7-40c6-b42f-0c222eddc147.png">

[2022-09-12 13:40] yangwao commented on #3745
head's up, if someone would take look at this and explore replacing pinata with CF gateway :)

[2022-09-12 15:59] preschian commented on #3938
I see, it means safe to remove that parts?

[2022-09-12 16:35] preschian opened #3944 "Redesign: Featured Articles"
parent task: https://github.com/kodadot/nft-gallery/issues/3844

- [ ] Redesign: Articles - Prepare UI
- [ ] Redesign: Articles - Dark Mode
- [ ] Redesign: Articles - Integrate API
- [ ] Redesign: Articles - Responsive

[2022-09-12 16:36] preschian commented on #3944
feel free to pick this task

[2022-09-12 16:39] preschian opened #3945 "Redesign: Carousel"
parent task: https://github.com/kodadot/nft-gallery/issues/3844

- [x] #3947
- [x] Redesign: Carousel - Responsive
- [x] Redesign: Carousel - Dark Mode
- [ ] Redesign: Carousel - Add collection name
- [ ] https://github.com/kodadot/nft-gallery/issues/3928
- [x] Redesign: Carousel - Hover and Press Interaction
- [x] Redesign: Carousel - Support scroll wheel

[2022-09-12 16:43] preschian opened #3946 "Redesign: Navbar"
parent task: https://github.com/kodadot/nft-gallery/issues/3844

- [ ] Redesign: Navbar - UI
- [ ] Redesign: Navbar - Dark Mode
- [ ] Redesign: Navbar - Responsive
- [ ] Redesign: Navbar - Add new searchbar component

[2022-09-12 16:45] preschian opened #3947 "Redesign: Carousel - Adjust spotlight data"

[2022-09-13 01:24] prachi00 commented on #3944
I can do this, but I have some doubts -
is the API for featured articles already there?

[2022-09-13 01:32] prachi00 opened #3948 "Redesign: Footer"
parent task: #3844

Quoting original issue:

Here we will collect email address into our Substack.
Link Substack of our Kodadot publication, can drop code for button
Other links are to

FAQ -> https://kodadot.xyz/rmrk/faq -> probably we should move FAQ to root, like https://kodadot.xyz/faq
Grants -> link to current grants form
Documentation -> https://docs.kodadot.xyz/
Contribute -> https://kodado

[2022-09-13 01:38] prachi00 commented on #3948
@preschian @roiLeo  I see we don't have any common scss variables set yet for the new common colors like #6188E7 , I can ho ahead and set all the new colours in `_variables.scss` in this PR if it sounds good to you?

[2022-09-13 02:08] prachi00 commented on #3948
@yangwao in the design I only see some options under the Kodadot heading
are we removing the others not mentioned like

- [ ] Carrers
- [ ] Ambassador Programs
- [ ] Press kit
- [ ] QR

[2022-09-13 06:53] #3936 closed

[2022-09-13 07:41] #876 closed, assigned to nobody

[2022-09-13 07:42] #49 closed

[2022-09-13 07:46] #35 closed

[2022-09-13 07:48] #145 closed

[2022-09-13 07:56] #319 closed

[2022-09-13 08:07] petersopko commented on #2792
Closing this one in favor of
- https://github.com/kodadot/nft-gallery/issues/3844

[2022-09-13 08:07] #2792 closed

[2022-09-13 10:32] yangwao opened #3949 "Once SubSquid will have `indexerHealthy`"
Once SubSquid will have it, we can add it back so we can tell users if something wrong and handle it more gracefully :)

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/3943#issuecomment-1245217921_

[2022-09-13 10:34] #3938 closed

[2022-09-13 10:45] #3865 closed

[2022-09-13 11:47] petersopko opened #3950 "Redesign: Neobrutalism"
It seems to me that redesign info / issues are scattered on too many places with too much text, let's have one simple issue for tracking what's currently happening. I'll keep this updated.

Related discussion:
- [ ] #3710

Landing:

- [x] #3844
- [x] #3944
- [x] #3945
  - [x] #3947
  - [x] #3928

Navbar and Footer (should be across whole app, not just landing):
- [x] #3946
- [x] #3948

Old redesig

[2022-09-13 11:47] yangwao commented on #3948
Let's keep these ones :)

[2022-09-13 11:48] preschian commented on #3948
of course, sounds good to me 👌

[2022-09-13 11:50] preschian commented on #3944
I think we can open another PR for integration with real API later. need to ask @yangwao for the API

[2022-09-13 12:31] yangwao commented on #3949
let's look on that and introduce healthy checks back

[2022-09-13 14:03] yangwao opened #3952 "Replace main Pinata `gateway` with Kodadot pinata instance on IPFS"
To fix the current 429 errors on various collections on MoonRiver, we need to start using https://kodadot.mypinata.cloud/

Probably related to https://github.com/kodadot/click

test here
https://beta.kodadot.xyz/movr/collection/0xd3a9c48df4d9342dc1a0ee2c185ce50588729fa9?page=1

`https://gateway.pinata.cloud/ipfs/QmUJLruvoTP2AmQy2KkC5tA2gfXif2hvUvehVmcAPjdhSH/461.png`

<img width="673" alt="image"

[2022-09-13 14:04] yangwao commented on #3844
stage is yours :)

[2022-09-14 05:20] prachi00 commented on #3948
`Link Substack of our Kodadot publication, can drop code for button
`
@yangwao can you explain this one more?

[2022-09-14 05:29] prachi00 commented on #3950
I see that the hover states for urls is missing in the design @petersopko @yangwao

[2022-09-14 09:26] vikiival opened #3954 "Message has incorrect color"
### What happened?

~

### Please reproduce in steps

~

### Expected Behavior

~

### What browsers are you seeing the problem on?

_No response_

### At which address did you encounter bug?

_No response_

### Are you logged in?

_No response_

### Which wallet you are using?

_No response_

### At which chain did you encounter bug?

_No response_

### Screenshots

<img width="704" alt="Screensh

[2022-09-14 10:18] Jarsen136 commented on #3954
👋

[2022-09-14 10:47] vikiival opened #3955 "Nova Wallet is polkadot-js"
### What happened?

In order to log in properly on mobile device (Using nova wallet) you need to select Polkadot-js

### Please reproduce in steps

- go to the NFT with nova wallet (rmrk/detail/14445658-8cc1b91e899d9be40e-2CENTS-MULTICOLORS-0000000000000007)
- log in using whatever
- do emote
- it will fail

### Expected Behavior

- Nova Wallet should be the only option when logging in via mobile

[2022-09-14 11:19] roiLeo commented on #3955
Was it before or after Confirmation screen?

Regarding the wallet modal something changed on Nova app it is not detected anymore as a mobile device

[2022-09-14 11:25] vikiival commented on #3955
My major issue is that it shows only these wallets on mobile

Cc @roiLeo

![image](https://user-images.githubusercontent.com/22471030/190141230-8d79d247-fc32-4748-be1f-205bb1c91e27.png)

[2022-09-14 11:50] #1619 closed

[2022-09-14 11:50] petersopko opened #3956 "Redesign: Leftovers from pre-Neobrutalism"
This issue should track leftovers from:
- kodadot/nft-gallery#1619

I've spent some time going through the issues mentioned there and two things are clear:
1. We are going into different direction with style
2. Many of the issues are not getting touched by anybody anymore

Anyways, let's track what was left from the previous iteration here, perhaps we'll come back to it later.

My goal is to remov

[2022-09-14 13:01] roiLeo opened #3961 "Nova Wallet: app crash on make_offer"
#### Step to reproduce
- on nova wallet app
- go on beta.kodadot.xyz
- conect your wallet
- /snek chain
- click any nft
- click on "MAKE OFFER"
- submit
- app is closing before Confirmation screen

[2022-09-14 13:07] #3955 closed

[2022-09-15 12:45] petersopko opened #3963 "⚠️ search bar on mobile broken"
@KngZhi in working on hotfix already👷🏻we've lost our mobile search due to

- #3894

our search on mobile is broken / doesn't open up. Specifically, Ref for Search.vue in Navbar.vue is pointing to function which is no longer in Search.vue but was refactored into SearchBar.vue (this.

Only thing changed in navbar was the imported file from SearchBar.vue to Search.vue, this isn't enough
`TypeError: t

[2022-09-15 13:11] petersopko opened #3965 "E2E - Mobile version"
E2E test needs to be extended to cover mobile as well. I'll start working on this, but first thing we'll need to solve to avoid bloating the test time further is:

- #3841

[2022-09-15 13:32] #3963 closed

[2022-09-15 13:40] roiLeo commented on #3949
would be cool if we can introduce a "status" dot like on astar app

relative screenshot
![Capture d’écran 2022-09-15 à 3 38 42 PM](https://user-images.githubusercontent.com/9987732/190419040-11959e52-7e11-4ca1-b3dc-1690f9db4362.png)

[2022-09-15 13:46] petersopko opened #3966 "Simple mint shows 0 fees for minting"
Fees for simple mint now show always zero, caught by cypress here but also tested manually:
//edit: test was temporarily disabled, please don't forget to enable it when solving this issue:
- https://github.com/kodadot/nft-gallery/pull/4002
![image](https://user-images.githubusercontent.com/73316633/190419499-27d55775-d9d4-44fa-a70b-59f2882f1ccb.png)

[2022-09-15 13:48] petersopko commented on #3841
here's one more ref for cypress parallelization
https://docs.cypress.io/guides/continuous-integration/github-actions#Worker-Jobs
here's a good resource to test this locally, can't do this with mobile internet right now (needs about 20gb for docker image)
https://github.com/nektos/act

[2022-09-15 13:57] petersopko opened #3967 "Master Offers v3"
to follow up from:
- https://github.com/kodadot/nft-gallery/issues/3463

"We can put it under the Stats dropdown in the navbar with the name Offers.

Later it becomes the replacement for current stats"

Currently, we have two routes where one is covering the functionality of the other minus the stats on the top of the page

https://beta.kodadot.xyz/snek/offers
https://beta.kodadot.xyz/snek/stats

[2022-09-15 14:29] kkukelka commented on #3966
👋

[2022-09-15 16:04] vikiival opened #3969 "Revert after weekend (18.09.2022)"
@vikiival if this is the desired outcome, wfm

![image](https://user-images.githubusercontent.com/73316633/190442453-b20bd8ef-cdbc-4d0a-b03b-985714989e64.png)

_Originally posted by @petersopko in https://github.com/kodadot/nft-gallery/issues/3958#issuecomment-1248249722_

[2022-09-16 11:27] petersopko opened #3971 "E2E - Color palette"
As previously discussed elsewhere, our tests could be expanded to cover checking of correct colors in app and catch easily avoided visual bugs

- [ ] Light mode
- [ ] Dark mode

[2022-09-16 11:48] petersopko opened #3972 "Light mode leftovers"
Collection select at /create
![image](https://user-images.githubusercontent.com/73316633/190629596-90f4ef7d-ec36-4776-a42b-68777d7b57b3.png)

Filtering collections at /explore:
![image](https://user-images.githubusercontent.com/73316633/190630080-6917c766-f26e-4d8a-98bc-7d7620b64699.png)

On hover overview of collection at /explore:
![image](https://user-images.githubusercontent.com/73316633/19063

[2022-09-16 11:58] KngZhi commented on #3972
👋

[2022-09-16 12:01] roiLeo commented on #3972
windows OS only?

[2022-09-16 12:03] petersopko commented on #3972
connecting wallet:

![image](https://user-images.githubusercontent.com/73316633/190634702-cbdb9622-fd45-4775-93ff-f3f657c8eb52.png)

[2022-09-16 12:04] petersopko commented on #3972
cannot verify the "only" part, but yes, I'm testing this from windows desktop

[2022-09-16 21:36] petersopko opened #3974 "links from stats at /snek"
generated hyperlinks in the tables at /offers and /stats are leading to /bsx prefixed destination -> should be /snek

steps to reproduce:

1. go to https://beta.kodadot.xyz/snek/stats

2. click on the first item in the table, see where link follows

[2022-09-16 22:22] prachi00 commented on #3974
👋

[2022-09-17 08:14] KngZhi commented on #3972
From the beta site and **macOS**, it seems there are no such issues. If this is window OS only, someone could take this issue since I don't have windows laptops, unable to test it.

hover on collection
<img width="713" alt="image" src="https://user-images.githubusercontent.com/11361147/190847202-710a0b6b-47c5-4a4d-93a2-3644e7ebc88c.png">

and select option
<img width="331" alt="image" src="https:/

[2022-09-17 14:17] alohaw0 commented on #3972
👋

[2022-09-18 05:55] vikiival opened #3976 "What have I missed on hackhatons?"
### Setup

- [ ] KodaDot hack template (Nuxt3 + Naive UI)
- [ ] Make mint SDK
- [x] Finish Uniquery

[2022-09-19 13:00] #3954 closed

[2022-09-19 13:08] petersopko opened #3981 "balance doesn't load on /snek"
I assume there's something wrong with our connection to rococo, other reported bug was that users can't mint:

![image](https://user-images.githubusercontent.com/73316633/191024275-2cce1101-6737-47bb-86fa-c28e0182b012.png)

[2022-09-19 13:13] petersopko commented on #3981
offer cancelation:
![image](https://user-images.githubusercontent.com/73316633/191025448-40fb47a1-f15a-40c9-9c2b-de8beea632a2.png)

[2022-09-19 14:25] green-jay commented on #3981
please switch to this RPC: `wss://rococo-basilisk-rpc.hydration.dev`

[2022-09-19 15:01] #3981 closed

[2022-09-20 09:50] roiLeo opened #3983 "Can we have Environments at home?"
I'm not sure if this applies to the project but it would be cool to setup github environments
https://docs.github.com/en/actions/deployment/targeting-different-environments/using-environments-for-deployment#creating-an-environment

Beta -> main
Production -> main-hyper
(Next -> canary)

[2022-09-20 10:45] #3972 closed

[2022-09-20 11:14] petersopko commented on #3966
this shows up on loading:
![image](https://user-images.githubusercontent.com/73316633/191243555-333145f6-e6f7-4a97-a0e5-f9213c488a8f.png)

this shows up every time I change price:
![image](https://user-images.githubusercontent.com/73316633/191243660-b8559c7b-5f8c-4858-bc41-8b01ab042707.png)

[2022-09-20 11:17] #3974 closed

[2022-09-20 11:24] yangwao commented on #3983
oh we've got env for netlify, but not for github actions, make sense

[2022-09-20 11:24] yangwao commented on #3976
<img src="https://media2.giphy.com/media/l2R013mIf1ZXdvoyI/giphy.gif"/>

😅

[2022-09-20 11:29] peter-sun-dev commented on #3931
👋

[2022-09-20 11:31] yangwao commented on #3950
for design issues best ping @exezbcz

[2022-09-20 11:36] #3969 closed

[2022-09-20 11:37] #3876 closed

[2022-09-20 12:12] vikiival commented on #3976
![replicate-prediction-oglacjy6ofcenicmtrutblcymm](https://user-images.githubusercontent.com/22471030/191254292-8ba3de8a-dfb7-40e7-a4f6-3484a274abcb.png)

[2022-09-20 13:56] kkukelka commented on #3966
i sadly wasn't able to find reason for this while debugging. so open to anyone

[2022-09-20 14:11] exezbcz commented on #3950
Hi, sorry for the late reply, yes, for design it is better to ping me. There is no hover in figma as it comes from a system that repeats. Therefore hover on text will cause bold and socials will change bg color to accent-light.

Thanks for the ping @yangwao

[2022-09-20 15:59] vikiival opened #3986 "Add transaction hash to the event entity"
### Is your feature request related to a problem?

Currently we do not store any data about transaction hash.
Thus it make sometimes hard to reference something important.

### Describe the solution you would like

Store variable `hash` in the `Event` on every indexer

### Describe alternatives you have considered

Extend `unwrap` function :)

### Screeenshots

_No response_

### Are there opened

[2022-09-20 16:38] petersopko opened #3987 "search suggestion w/o price"
[here's first nft](https://beta.kodadot.xyz/rmrk/gallery/12937186-5A37C441DF4354913E-KSMNDL-KUSAMANDALA_4-0000000000000003), clearly listed with price (happening on /snek as well):
![image](https://user-images.githubusercontent.com/73316633/191314937-f24455c6-61e2-44ff-a918-fd386d62faf9.png)

[2022-09-20 16:41] Jarsen136 commented on #3987
:wave

[2022-09-20 16:41] Jarsen136 commented on #3987
👋

[2022-09-20 16:52] petersopko commented on #3987
while at it, can we also check this scroll bar? or is it again only windows thing?
![image](https://user-images.githubusercontent.com/73316633/191318177-e0a2c718-4559-4909-8f94-d548e81b2721.png)

[2022-09-20 16:54] Jarsen136 commented on #3987
OKI, Will also take a look

[2022-09-20 22:37] prachi00 commented on #3948
@roiLeo for css, I am facing one issue, we already have overriding classes for some tags like `<a anchor tag,` so even if I override it, its not applying, the only solution is to remove the old ones but then it would break the current UI
LMYWYT

[2022-09-20 22:46] prachi00 commented on #3948
@yangwao

[2022-09-21 01:59] Jarsen136 commented on #3882
👋

[2022-09-21 06:37] petersopko commented on #3841
👋🏻

[2022-09-21 06:53] roiLeo commented on #3948
It's an old relic from the past.
Put your css rule inside `.footer` and it will override them?

Don't hesitate to push your code so we can see what's wrong.
I just thought that the new footer will be visible on all pages like the new searchbar.

[2022-09-21 07:30] roiLeo opened #3989 "darkMode: fix input design"
Something changed with newest PR, now the inputs on darkmode are hardly visible
Same for select, textarea, button, border box, card etc..

**on prod**
![Screenshot 2022-09-21 at 09-27-47 KodaDot Low fees and low carbon minting KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/191441991-981d0d14-3193-4e18-bfc8-01f3e2070aa3.png)

**on beta**
![Screenshot 2022-09

[2022-09-21 08:50] roiLeo commented on #3206
If I understand, the goal here is to add a feature (on /admin ?) when creator decide to burn collection it will burn all nfts from this collection & burn the collection.

[2022-09-21 09:05] petersopko opened #3992 "can't mint on snek"
not sure if I'm doing something wrong, but I'm unable to mint with snek through talisman wallet. can anybody else try please?
![image](https://user-images.githubusercontent.com/73316633/191463133-de433abd-01d7-4e81-9898-cf20178c0caa.png)

[2022-09-21 09:08] roiLeo commented on #3992
work for me with polkadot.js, any errors in console?

[2022-09-21 09:08] yangwao commented on #3976
- #2517
- #816

Missing Vue3 starter pack 👀

[2022-09-21 09:42] petersopko commented on #3992
no error, and also works with polkadot js hmm. I'll try this again with talisman in some time

[2022-09-21 09:48] roiLeo commented on #3350
After investigation nft data is still present on

Tested on: `/snek/gallery/1631038496-1`

[2022-09-21 10:02] vikiival commented on #3206
Yup, somehow in the UX friendly manner

[2022-09-21 10:30] preschian commented on #3950
hi @exezbcz do we have a disabled state UI? I think we need that for the arrow in the carousel when reaching the start/end carousel pages, similar to the current implementation in production

[2022-09-21 10:34] #3989 closed

[2022-09-21 10:34] preschian commented on #3745
I want to help with this but don't know where to start. does changing the URL to the new gateway enough? refer to this file https://github.com/kodadot/nft-gallery/blob/87d2a952a3e7b1177db98adcf92c62e166f5d1cb/components/rmrk/utils.ts#L33

[2022-09-21 11:13] preschian commented on #3950
@exezbcz does the navbar UI final already? If I compare it with the current implementation missing some buttons, such as history, language, dark mode, and chain selection (is it moved to the landing page section?). and how does the search bar in the navbar work, because on the desktop seems missing in the navbar?

[2022-09-21 11:24] #3930 closed

[2022-09-21 13:08] preschian opened #3993 "Some Queries Return 400"
### What happened?

some queries return 400 error

### Please reproduce in steps

data not loaded properly on these page:
- https://beta.kodadot.xyz/spotlight/
- https://beta.kodadot.xyz/series-insight
- https://beta.kodadot.xyz/hot

`seriesInsightList` queries used by the search bar component also

### Expected Behavior

should return the page properly

### What browsers are you seeing the proble

[2022-09-21 13:29] petersopko commented on #3681
👋🏻

[2022-09-21 13:44] preschian commented on #3966
need to update `@polkadot/api` to the latest? https://substrate.stackexchange.com/a/4838
currently we are using `@polkadot/api@8.14.1`
latest version is `@polkadot/api@9.4.1`

[2022-09-21 13:45] #3993 closed

[2022-09-21 13:46] roiLeo commented on #3966
related with kodadot/packages#48 ?

[2022-09-21 13:47] exezbcz commented on #3950
Hey @preschian, good questions, I didn't think specifically about the disabled state for arrows, we can resolve it quickly how it's done on multiple pages, and remove the element once you reach the end of the carousel. As for the search bar in the navbar, it's in Figma in the "components + prototypes" subpage. Maybe I did not make it clear enough, sorry for that. Missing elements in nav - yup, tha

[2022-09-21 13:51] preschian commented on #3966
aahh, I see. yes it might be related with that PR

[2022-09-21 14:23] petersopko commented on #3992
this is just talisman issue on my part

[2022-09-21 14:23] #3992 closed

[2022-09-21 19:01] yangwao opened #3997 "Integrate OpenRarity"
way to describe relative scarcity in collections to avoid having varying results of rarity

‍> OpenRarity provides a verifiable, consistent & mathematically-grounded approach to rarity calculations.

I guess tasks are to make openrarity integrated for
- Basilisk
- MoonRiver
- MoonBeam

### Ref
- [openrarity.dev](https://www.openrarity.dev/)
- https://support.opensea.io/hc/en-us/articles/9517355517

[2022-09-22 06:57] preschian commented on #3919
👋🏻

[2022-09-22 07:18] preschian commented on #3928
can you elaborate more?
What is the proper way to call multi-chain API?
is it ok to call rubick, snek, and click simultaneously in one component?

[2022-09-22 08:29] roiLeo commented on #1906
MIT is good otherwise [DBAD](https://github.com/philsturgeon/dbad/blob/master/LICENSE.md) 😉

[2022-09-22 10:03] yangwao opened #4000 "Don't see fresh mint in explorer on SNEK"
I've made a fresh new mint https://beta.kodadot.xyz/snek/gallery/1559871636-2?page=1&message=congrats&search, and I don't see it in explorer at https://beta.kodadot.xyz/snek/explore?tab=GALLERY&page=1
No errors in the console.

Is it known bug?

![image](https://user-images.githubusercontent.com/5887929/191718789-5890a0f2-9240-4bb9-bd33-87df0358ace1.png)

plus seems I don't see Creator & Collectio

[2022-09-22 10:31] vikiival commented on #4000
This looks like an issue of the recent snek release

[2022-09-22 10:48] petersopko commented on #4000
something weird with snek happening, this is screenshot from yesterday's query
![image](https://user-images.githubusercontent.com/73316633/191727405-2d3238f2-2842-4de5-82b0-a59a6dc8b609.png)

today I can't find any collections except for one:
![image](https://user-images.githubusercontent.com/73316633/191727626-831bc357-03aa-4a0d-9c95-546197bdac55.png)

[2022-09-22 12:54] yangwao opened #4003 "Soft Basilisk launch"
this is check list for @vikiival

- [ ] check prod & critical bugs
- [ ] enable Basilisk in chain selector
- [ ] put Basilisk on Kusama first in the list for convenience for users
- [ ] test if everything works or aren't any obv bugs lurking around

![image](https://user-images.githubusercontent.com/5887929/191751975-d3a27b77-5486-463c-ada0-61238fa6e582.png)

[2022-09-22 12:58] petersopko opened #4004 "Covering the missing strings"
To followup on this comment, we need to look through the app again and cover all of the strings as there are still some leftovers

ref:

- https://github.com/kodadot/nft-gallery/issues/3805
- https://github.com/kodadot/nft-gallery/pull/3886

- [ ] [No1](https://media.discordapp.net/attachments/958772808215822396/1022474753921003520/unknown.png?width=720&height=405)
- [ ] [No2](https://media.discor

[2022-09-22 13:03] #3947 closed

[2022-09-22 13:10] #3987 closed

[2022-09-22 13:21] #3919 closed

[2022-09-22 14:08] vikiival commented on #4000
Sirs I have been informed that a runtime upgrade has happened.
Issue is tracked here

- https://github.com/kodadot/snek/issues/65

<img width="716" alt="Screenshot 2022-09-22 at 16 06 05" src="https://user-images.githubusercontent.com/22471030/191769345-dcb12808-be63-40fe-b96e-006955f5953a.png">

[2022-09-22 14:23] vikiival commented on #3997
I see that it wasnt linked #3929

[2022-09-22 14:26] vikiival commented on #3928
Yup but make sure you do not make huge queries on the endpoint :)

[2022-09-22 14:27] vikiival commented on #3928
and maybe ideally split into the card list for chain

[2022-09-22 14:32] vikiival opened #4005 "Update minter for BSX so royalty can have 2 decimal places"
### What happened?

Basilisk is now supporting royalties with two decimal places

It would be nice to have it in the minter

### Expected Behavior

Super Trivial fix:
- extend the slider have smaller steps

Better fix:
- make percent input component some it is user friendly

Bounty applicable for beter fix.

### Ref

- kodadot/snek#65

### Code of Conduct

- [X] I agree to follow this project's Co

[2022-09-22 15:01] Jarsen136 commented on #4005
👋

[2022-09-22 15:06] vikiival commented on #4005
@Jarsen136 I forgot to mention a caveats that needs to be handled

[2022-09-22 15:35] preschian commented on #3928
I see, thanks. will try it then

[2022-09-22 17:37] prachi00 commented on #4004
👋

[2022-09-22 18:12] yangwao commented on #3745
yes, for using from client, that's it, for using CF not sure how it works or what's format tbh this is I see in dashboard

![image](https://user-images.githubusercontent.com/5887929/191820911-ca326eb2-51db-4fe0-b5f5-fe81c0b8e709.png)

[2022-09-22 18:13] yangwao commented on #3745
does fetching https://hyperjpeg.kodadot.xyz/ipfs/bafkreihm52tibtck7iqwmtpncaxocczhxr65lskcugjr3xbix5gmytfzfy works for you?

[2022-09-22 18:25] yangwao commented on #3745
hey, quickly looking on superhot api gateway from protocol labs broski as seems CF works only particular IPNS content which might not be our case.

let's look on this and can handover key if you want to play with
https://purrfect-tracker-45c.notion.site/SuperHot-Private-Beta-guide-ddf5a7def94b49ad9695209825b4ce1a

[2022-09-22 22:07] vikiival commented on #3687
This should be implemeted by either:
- [ ] in Basilisk Node as extension of the runtime pallet
- [ ] in KodaDot NFT gallery that should perform `batchAll[unlist, transfer]`

_Originally posted by @vikiival in https://github.com/kodadot/snek/issues/56#issuecomment-1255604590_

[2022-09-23 01:03] Jarsen136 opened #4007 "When I click on "x" I except the searchInput to be empty/erased on mobile"
![Capture d’écran 2022-09-22 à 9 12 46 AM](https://user-images.githubusercontent.com/9987732/191681989-168d84ee-49ab-46fb-9b42-09467c2bdfda.png)

- [ ]  When I click on a suggestion Item I'm redirected but I still see the searchbar open
- [ ] When I click on "x" I except the searchInput to be empty/erased

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/pull/3996#pullrequ

[2022-09-23 05:56] petersopko commented on #4000
I was doing something wrong, I somehow misunderstood and thought we're already using snek005.

However, the problem seems to be fixed in
- #4008

[2022-09-23 06:53] petersopko opened #4009 "Missing loader on Offer tab user detail"
tried to withdraw offer through user profile (snek/u/address) and when hitting the action button (X) no loader shows up, just prompt from wallet to sign transaction. After signing, I don't see any loader even though, offer is being withdrawn / accepted
![image](https://user-images.githubusercontent.com/73316633/191906249-bc53d22f-a952-46f0-8b8f-f2d5d4675147.png)
after some time this shows up:
![im

[2022-09-23 07:00] KngZhi commented on #4009
👋

[2022-09-23 07:09] petersopko opened #4010 "Traits on Basilisk"
We are still by default attaching 1 trait (carbonless) to every NFT which I find weird
![Pasted image 20220923084319](https://user-images.githubusercontent.com/73316633/191908420-4bc5c740-ec07-4d68-9296-f889a0e61a1f.png)
and it would be perhaps desirable to get rid of it or give user an option to select it voluntarily (I remember talking about this with @roiLeo somewhere)
![image](https://user-ima

[2022-09-23 07:10] petersopko commented on #4010
@vikiival what's the state of the traits on Snek? Is there a reason we are attaching carbonless to every NFT without an option to add more traits / remove this one?

[2022-09-23 07:27] petersopko commented on #4009
@KngZhi please also check loader everywhere else when it comes to offers: [incoming offers](https://beta.kodadot.xyz/snek/incomingoffers/), nft detail, and profile detail (afaik, that's all)

[2022-09-23 07:59] petersopko commented on #3897
I've tried transfer some KSM on /snek and I couldn't (balance too low, even when I had enough ksm), I guess the balances are mixed here
![image](https://user-images.githubusercontent.com/73316633/191916243-1ccfb48f-c15c-4c3d-94f3-231aad7660c8.png)

[2022-09-23 08:02] petersopko commented on #4003
## Tested on 23/09/2022 (should be fully working after #4008)

- [x] minted collection, shows up in explorer
- [x] minted NFT without price (unlisted)
- [x] minted NFT with price, with no royalty, shows up in explorer
- [x] minted NFT with price, with roylaty, shows up in explorer
- [ ] minted NFT with price, with no royalty, shows up in explorer (waiting for [this comment](https://github.com/koda

[2022-09-23 08:42] roiLeo commented on #4010
ref #3265

[2022-09-23 09:23] vikiival commented on #4003
https://stackoverflow.com/questions/44403930/error-network-error-error-writing-result-to-store-for-query-apollo-client

It would be good to find out which query does that

[2022-09-23 10:13] #3882 closed

[2022-09-23 10:17] yangwao commented on #3948
Hey, @prachi00 can you please push what you have so we can speed up things on this?

[2022-09-23 10:18] vikiival commented on #4000
We can close as this was issue of non-working indexer

[2022-09-23 10:18] #4000 closed

[2022-09-23 10:21] yangwao commented on #3948
https://support.substack.com/hc/en-us/articles/360041759232-Can-I-embed-a-signup-form-for-my-publication-

but struggle to find HTML code

[2022-09-23 10:23] yangwao commented on #3948
oh probably only iframe is current way to do it?
this is our substack we want to link up https://kodadot.substack.com

https://codepen.io/OceanSquad/pen/rNaoddK

```<iframe width="50%" height="320" src="https://kodadot.substack.com/embed" frameborder="0" scrolling="no"></iframe>```

[2022-09-23 10:23] vikiival commented on #3842
![](https://cdn.discordapp.com/attachments/881839877140930630/1022812771680800798/unknown.png)

[2022-09-23 10:24] vikiival commented on #3842
Looks like there is still some cache

I suspect `vue-persist`.

[2022-09-23 10:25] vikiival commented on #4003
bsx is running

<img width="1005" alt="Screenshot 2022-09-23 at 12 18 49" src="https://user-images.githubusercontent.com/22471030/191941503-553bedf4-8c4d-4922-a6dc-165cca3c6d0a.png">

[2022-09-23 10:39] Jarsen136 commented on #3265
👋

[2022-09-23 11:01] yangwao opened #4013 "RMRKv2 implementation"
I guess once will be RMRK 2.0 reader is merged, we can kick off implementing RMRK 2.0

Right now probably, we will need to prepare components there to be ready :)

As many collections migrated from RMRKv1 to RMRKv2 for their own needs/reasons or pushed by Singular authors for their needs to extend with equipable, we would like to keep up showing content in KodaDot for better comfort of one place s

[2022-09-23 14:13] yangwao opened #4015 "Update new version toast style"
I guess this is the perfect opportunity to style a new update toast in the same neo-brutalism style.
Now I've realized we don't have it in design and @exezbcz can sketch something! :)

![image](https://user-images.githubusercontent.com/5887929/191980413-9c8ad7f1-7aea-4f71-849e-9400b80ba919.png)

[2022-09-23 14:17] yangwao commented on #3944
We have three options
- A - hard code some articles with some blogging system, hardest option to go
- B - fetch from directly medium or hardcode links to medium with picture & header & intro paragraph
- C - Same as B, with Substack links/content

pinged @cryptodamsky to chime in

[2022-09-23 18:57] prachi00 commented on #3948
yeah seems like it isnt customizable, does this look okay to you? this is the iframe embedded
![Screen Shot 2022-09-23 at 11 56 47 AM](https://user-images.githubusercontent.com/39299315/192037961-70a222d2-bad4-4ba7-ad49-3d25ffece394.png)

[2022-09-23 19:08] prachi00 commented on #3948
@yangwao we can try the 1st method as well here for custom it seems
https://docs.substackapi.com/add-your-substack-signup-form-to-your-website

[2022-09-23 21:47] spacesmutje opened #4017 "Creating collection fails with Talisman"
### What happened?

Tried creating a collection on beta. and kodadot.xyz with talisman and it failed.

I guess it's related to todays update of the Talisman wallet.

### Please reproduce in steps

- clicked on create
- Added the cover, description, etc
- clicked on create collection
- clicked on approve in the talisman pop up

### Expected Behavior

A succesful creation of a collection.

### What

[2022-09-24 01:58] KngZhi opened #4018 "Notification covered by Navbar"
### What happened?

If you cancel of submit an offer, the notification is unreadable.

### Please reproduce in steps

as `What happened` described.

### Expected Behavior

It should
1. either we move down notifcation
2. lower the `z-index` of Navbar

### What browsers are you seeing the problem on?

_No response_

### At which address did you encounter bug?

_No response_

### Are you logged in?

[2022-09-24 01:58] KngZhi commented on #4018
👋

[2022-09-24 10:45] petersopko commented on #3235
this already works, the only problem left with minting on basilisk is talisman, ref:
- #4017

[2022-09-24 10:45] #3235 closed

[2022-09-24 10:45] petersopko commented on #4017
ah I see you're facing similar issue, I've thought I had somehow messed up my extension
- https://github.com/kodadot/nft-gallery/issues/3992

[2022-09-24 10:54] spacesmutje commented on #4017
I was looking for similar issues before creating mine. Must have missed yours, sorry.

[2022-09-24 10:55] cryptodamsky commented on #3944
Yeah let’s put substack to people’s attention since it’s less technical and has longer run.

C.

[2022-09-24 10:57] petersopko opened #4019 "Hide MoonRiver & Moonbeam (/glmr) route on production"
Not sure what the current  status is on the implementation here, but we have both on production and beta link to select moonbeam which leads nowhere, so please let's hide it until we move this issue furthe:

![image](https://user-images.githubusercontent.com/73316633/192093917-96339ec7-2634-4c89-932a-ce8c02bffe88.png)

[2022-09-24 11:13] petersopko opened #4020 "Image previews on Moonriver"
Currently, there are only default placeholders being shown on for collections. appears on both landing and at explore/collections page, can we have. Can we have some previews?
![image](https://user-images.githubusercontent.com/73316633/192094457-0f1bc177-5356-4567-999d-91818c8ab512.png)
![image](https://user-images.githubusercontent.com/73316633/192094460-9739a455-3d6c-45b4-83ad-3b6b3c7589d4.png)

[2022-09-24 12:10] petersopko opened #4021 "Collections sort on Moonriver doesn't work"
Sorting filter at explore doesn't work, since it have to options (new first/old first), I guess it has something to do with the screenshot attached below.

I suggest two moves here
1. disable the sorting option until we start indexing the age of these collections (I'm not sure why it's not possible now, or what's the issue there @vikiival)
2. I assume it's related to this? (if not pls update)
- ht

[2022-09-24 12:40] petersopko opened #4022 "Price related features on Moonriver"
Same as with
- https://github.com/kodadot/nft-gallery/issues/4021

~Since we don't have indexed the price of the NFTs, let's disable the features which are currently not operating:~

~1. sorting options related to price~
~2. price input~
~3. buy now button (both gallery and collections)~

![image](https://user-images.githubusercontent.com/73316633/192097939-46188fbb-7811-46a5-b47e-3551fb8f3252.png

[2022-09-24 13:46] petersopko opened #4023 "Unnamed NFTs on Moonriver"
It seems that there all of the NFTs from MoonriverBoredApeYachtClub are nameless which results in weird effect while exploring the gallery, i.e. there's empty popup on hover on card.

1. Are these NFTs indexed properly? should they be nameless?
2. If yes, (and there are in fact going to be more NFTs without names) can we handle the gallery overview in a better way? Not sure how, maybe @roiLeo can

[2022-09-24 14:52] roiLeo commented on #4023
Instead of hiding it we should show "NameOfCollection - #ID"

[2022-09-25 12:33] petersopko commented on #4003
Happened again today, while opening https://beta.kodadot.xyz/snek/explore

[2022-09-25 12:58] petersopko opened #4025 "Cannot load gallery item detail from specific collection /snek"
While browsing https://beta.kodadot.xyz/snek/collection/807893860, I cannot load the item detail when I click on any of the items, I get loaded just the placeholder. Happens specifically with this collection, not sure why (most of the others)
![image](https://user-images.githubusercontent.com/73316633/192144534-2bbad6c4-0ef9-4026-862e-91f84981f810.png)
![image](https://user-images.githubuserconten

[2022-09-25 13:11] #4009 closed

[2022-09-25 14:16] vikiival commented on #4021
Yup

[2022-09-25 14:17] vikiival commented on #4021
The problem is that with current setup I do not know the real date when the collection was created

[2022-09-25 14:46] Jarsen136 commented on #4025
Hey, I have fixed this bug in #4008 https://github.com/kodadot/nft-gallery/pull/4008/commits/703c29da7554aec522cc2dbb249a19339b6f1cfb

preview:
<img width="1419" alt="image" src="https://user-images.githubusercontent.com/31397967/192149787-ecca35ba-a28a-4a23-9c5c-568d534d6d75.png">

https://deploy-preview-4008--koda-nuxt.netlify.app/snek/gallery/807893860-4

[2022-09-25 15:19] yangwao commented on #3842
Hey, I guess time to figure out these cache issues with browser cache as some people have old endpoint after we've updated snek RPC for example

[2022-09-25 17:29] yangwao commented on #3265
I'm thinking about renaming carbonless to kodaforest 🤔

[2022-09-26 01:10] preschian commented on #3842
hhmm, let me check on this one

[2022-09-26 02:15] preschian commented on #4020
👋🏻

[2022-09-26 07:26] petersopko opened #4028 "Statistics on Moonriver"
There are at least two major problems which result in bugs, with the data we have for Moonriver collections:

1. We're not indexing price of the NFTs, i.e. we don't have any price related data, partially covered here:
- #4022

2. We have only two types of event interactions on Moonriver, `MINTNFT` (mint in app) and `SEND` (gift in app):
![image](https://user-images.githubusercontent.com/73316633/1

[2022-09-26 12:41] Jarsen136 commented on #4023
👋

[2022-09-26 13:59] yangwao commented on #4019
I've added on production env variables
`GLMR` `disabled`
`MOVR` `disabled`

which we can set to respect in code to hide GLMR & MOVR on production until it's done.
On beta.kodadot.xyz MOVR & GLMR could be shown.

[2022-09-27 09:38] #4005 closed

[2022-09-27 09:38] #4025 closed

[2022-09-27 10:32] #3423 closed

[2022-09-27 12:00] petersopko opened #4034 "kodabot - add labels to PR"
Since we're using labels for both `wfm` and `code lgtm` on PRs, it would be nice if the bot started adding these based on review interactions on PRs. we often forget to add them and they're useful for future reviews.

If the review interaction is `approve` and text contains `wfm` (or it's variations) add `wfm` label. same for `code lgtm`

if the review interaction is change requested, bot could ad

[2022-09-27 12:30] #4020 closed

[2022-09-27 12:30] #3952 closed

[2022-09-27 12:55] vikiival opened #4035 "Implement teleport KSM token from Kusama to Basilisk"
### Description

I am just wondering if teleport works for Basilisk :)

### What should be added.

We should have handlers for multicurrencies?

### Misc?

https://github.com/paraspell/sdk/issues/1

[2022-09-27 13:12] vikiival opened #4036 "Write how to "teleport" KSM to Basilisk"
[Karura Bridge](https://apps.karura.network/bridge?fromChainName=kusama&toChainName=basilisk)

<img width="676" alt="Screenshot 2022-09-27 at 15 09 48" src="https://user-images.githubusercontent.com/22471030/192535623-3601bdba-7267-4705-94e4-7d41cda504dd.png">

[How can I transfer assets using XCM?](https://substrate.stackexchange.com/questions/37/how-can-i-transfer-assets-using-xcm/38#38)

[2022-09-27 22:45] #4019 closed

[2022-09-28 07:26] vikiival opened #4038 "Implement fees"
### What happened?

Currently we do not take fees on Basilisk for sales.

### Please reproduce in steps

Go to snek
List NFT
Sell
No tokens goes to the fund

### Expected Behavior

How to implement:

- in Available actions check if action is buy
- use api.tx.utility.batchAll
- Where first arg is the buy callback cb(…args)
- Second I have to check since we use non-native tokens

### What browsers a

[2022-09-28 08:06] yangwao commented on #4038
I guess two options could be done is
- natively through proxied royalties, there fore bsx devs would need to extend pallet for it, so we can put our address own royalty and open doors for some revenue sharing
- adding it through the proposed solution above

[2022-09-28 08:26] vikiival opened #4039 "Incorrect currency shown at /bsx"
### What happened?

When you open a history table you can see the price in BSX instead of KSM

### Please reproduce in steps

1. Open any NFT with price
2. Toggle history table
3. the price is denominated in BSX instead of KSM

### Expected Behavior

There should be `KSM` instead of `BSX`

Please use the proper solution (we have component for that)

### What browsers are you seeing the problem on?

[2022-09-28 08:29] Jarsen136 commented on #4039
👋

[2022-09-28 10:26] yangwao commented on #4018
hey, any progress on this? 👀

<img width="535" alt="image" src="https://user-images.githubusercontent.com/5887929/192756192-ebaaf517-a5fa-4f0b-b692-9d678b290c30.png">

[2022-09-28 10:38] yangwao opened #4040 "Nuxt3 change deployment style"
With refactoring to Nuxt3 I guess we have the opportunity to fiddle with deployment
ht @vikiival showing tweet

<img width="588" alt="image" src="https://user-images.githubusercontent.com/5887929/192758471-ed9d77d8-f906-45bf-80f3-2953203326bc.png">

https://twitter.com/danielcroe/status/1575038802871332864?s=46&t=_LkxcC3VaCU5UkH60zzrAg

https://github.com/kodadot/nft-gallery/blob/2cbbb6372e6f5ac1b

[2022-09-28 10:53] petersopko commented on #4039
@Jarsen136 just a note that this is concerning the renewed /bsx route, it's already working on snek

[2022-09-28 10:56] #4003 closed

[2022-09-28 11:04] vikiival commented on #4039
They are using the same code sir :)

[2022-09-28 11:05] yangwao opened #4042 "Responsive navbar be gone?"
Seems on 1054px width it does this, can't log out

1024-1215 range

<img width="315" alt="image" src="https://user-images.githubusercontent.com/5887929/192763714-a1ebe765-7ec4-40c2-90d9-8b82b1767581.png">

[2022-09-28 11:13] petersopko commented on #4039
I assume that's the problem here sir 😄
snek nft history:
![image](https://user-images.githubusercontent.com/73316633/192764900-cf2fc155-5bb6-4bda-b0fe-2b7eb209fe9c.png)

bsx nft history:
![image](https://user-images.githubusercontent.com/73316633/192764739-6f9e8012-16c1-4453-b11a-1baad2e80a77.png)

[2022-09-28 11:13] Jarsen136 commented on #4042
👋

[2022-09-28 11:18] petersopko commented on #4039
okay, this is not just the history part, but this one all over again:
- https://github.com/kodadot/nft-gallery/issues/3896

related PR:
- https://github.com/kodadot/nft-gallery/pull/3906

@Jarsen136 please let's do this one first and push quickly for small supplemental release? 😄

[2022-09-28 11:26] yangwao opened #4043 "Zero balance on Basilisk even showing non-zero in assets page"
Does it seem in drop down we are showing zero when on the Assets page I see some BSX?

<img width="1018" alt="image" src="https://user-images.githubusercontent.com/5887929/192767270-fab6448a-4430-4306-98eb-da754bc369c3.png">

[2022-09-28 11:39] vikiival commented on #4043
<img width="238" alt="Screenshot 2022-09-28 at 13 38 51" src="https://user-images.githubusercontent.com/22471030/192769660-070c674f-eed5-4fc1-9006-809e21c8f1d7.png">

[2022-09-28 11:48] #4043 closed

[2022-09-28 12:12] yangwao opened #4046 "Zero balance on Basilisk at first log in"
Weird is that at some point doesn't even show Unit

<img width="467" alt="image" src="https://user-images.githubusercontent.com/5887929/192775159-95665608-fc6e-4b6a-a63e-ec7344dde56c.png">

after log out and log in again it's there (probably errors with old URL and cache issues)

<img width="397" alt="image" src="https://user-images.githubusercontent.com/5887929/192775221-7fa6db82-8273-4aff-a878-0

[2022-09-28 13:17] kkukelka commented on #4018
i can take a look 👋

[2022-09-28 13:53] #4046 closed

[2022-09-29 02:21] jak-pan commented on #4036
https://docs.bsx.fi/howto_bridge

[2022-09-29 03:38] prachi00 commented on #3944
so which articles are we picking from substack?

[2022-09-29 04:32] prachi00 commented on #4004
@petersopko
1 , 2 - seems like an issue with german language translation as it shows up fine for english
10 - I dont get it
11 - assets is already there
       score is already there
       emotes is already there
12 - I dont understand it
13 - I dont understand it
"days ago", "hours ago" - seems to be coming from date-fns

[2022-09-29 04:41] #3294 closed

[2022-09-29 04:41] #4039 closed

[2022-09-29 05:11] preschian commented on #3745
after some research:

- Unable to test perma-cache from https://api.nftstorage.link/, currently still invite-only access
- I couldn't find a cheaper alternative. seems like https://infura.io/pricing had a similar price

I think we need to use an image/storage CDN instead of using an ipfs dedicated gateway directly in the client. some provider does compatible with S3:
- https://fleek.co/
- https://

[2022-09-29 05:51] preschian opened #4052 "Multi-chain support for chart"
currently, the chart only works on `rmrk` and `bsx` endpoint. even though they are using different data sources. on `bsx` is using the same data sources as the History tab to show the chart (with list/buy filter). it seems enough to show a simple chart with that data sources.

I think we need to unify the chart component first for a simple chart. Some good inspiration for the chart from magiceden

[2022-09-29 07:55] roiLeo commented on #3599
closed in #4001, continue in #3935

[2022-09-29 07:55] #3599 closed

[2022-09-29 07:59] roiLeo commented on #2817
meanwhile `@/components/rmrk/Gallery/Collections.vue` is not used anymore, IMO we can safely remove it and close this issue

[2022-09-29 08:06] petersopko commented on #4004
@prachi00 the point is to go again through the application and cover all of the strings. I am not going to look through the screenshots, my suggestion would be to simply switch the language to one you don't understand and look for all of the English words which remain in the app. , look to our Spanish and German translations PRs and check the comments for ref.

Sometimes, the translation is simply

[2022-09-29 08:07] #4018 closed

[2022-09-29 08:12] kkukelka commented on #4007
I'll give this a shot 👋

[2022-09-29 12:12] vikiival commented on #3265
Mimochodom :)

<img width="763" alt="Screenshot 2022-09-29 at 14 10 50" src="https://user-images.githubusercontent.com/22471030/193028128-62ce74fb-9f21-478c-88d2-ca3b485a1276.png">

[2022-09-29 18:45] #2817 closed

[2022-09-29 19:13] yangwao commented on #3745
we thought about using r2 in past for sure https://github.com/kodadot/nft-gallery/issues/2229

that's what bao workers doing right now iirc? vik made implementation on that back in February, like we think alike!

[2022-09-29 19:16] yangwao commented on #3946
hey, if someone would like to grab this, @Jarsen136, maybe?:)

[2022-09-29 23:46] Jarsen136 commented on #3946
👋

[2022-09-30 06:03] petersopko commented on #3291
just tested this couple of times, we have both the message included and also, I just saw the collection show up instantly.

[2022-09-30 06:03] #3291 closed

[2022-09-30 06:06] petersopko commented on #3350
This is still true, also, I get redirected back to the NFT (technically speaking, it's a reload) and NFT doesn't appear to be burned. Needs another reload to see NFT being burned.

[2022-09-30 06:10] petersopko commented on #3395
There were recently some issues related to this, but after testing this multiple times I can't reproduce. Balance seem to be loading properly even when switching vigorously between chains.

Idk why or how did this get fixed, but I assume it's some api magic.

Good job 👍🏻 !

[2022-09-30 06:10] #3395 closed

[2022-09-30 06:15] petersopko commented on #3790
This was left on read for way too long, let's resolve this in the following way:

1. We are leaving expired offers to show, they are a good sign of activity around NFT
2. We should handle the button in a better way, I'd suggest disabled `Accept` with tooltip informing about the expiration of offer (please @roiLeo, take a look and let us know if there's more elegant way🧙🏻‍♂️)

[2022-09-30 06:26] petersopko commented on #3138
There are only couple things left when it comes to Basilisk, which need to be figured out. I know we've talked about this elsewhere, but regardless:

1. `Recently Interacted` and `Unpopular` are doing the same thing as `Recently Created` and `Oldest`. The reason for this (as far as I can tell) is that activity such as `Offer` isn't changing the `updatedAt` of the NFT, therefore, the NFT get's upda

[2022-09-30 06:36] roiLeo commented on #3395
On Beta this happen to me:
**BSX**
![Screenshot 2022-09-30 at 08-35-06 KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/193205916-46d593f0-2046-453d-8660-bfa4d41c54db.png)

**SNEK**
![Screenshot 2022-09-30 at 08-30-14 Fancy cat KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/193205779-514777de-59ad-4568-9196-c48461608a7

[2022-09-30 06:57] roiLeo commented on #3790
Aight, still don't agree with it but let's keep them

Sounds good to me, can we sort offers by expiration Date too?

[2022-09-30 07:57] vikiival commented on #3138
Please open issues in the snek repo :)

[2022-09-30 07:58] cryptodamsky commented on #3944
Hello,

https://kodadot.substack.com/p/the-story-behind-our-t-shirt-waifu
https://kodadot.substack.com/p/the-artists-inside-1-clown-world
https://kodadot.substack.com/p/ride-on-art-1-zluchkayaaa

[2022-09-30 08:26] roiLeo opened #4055 "update @kodadot1/sub-api package"
Update `@kodadot1/sub-api` to version `0.1.1-alpha.3`

after installing new sub-api package, it throws multiple @polkadot/ errors in console:
[code]

This could fix #3966
Don't forget to reintroduce test from #4002

[2022-09-30 09:26] #4042 closed

[2022-09-30 09:30] petersopko opened #4056 "Correct currency displayed in profiledropdown"
On Beta this happen to me:
**BSX**
![Screenshot 2022-09-30 at 08-35-06 KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/193205916-46d593f0-2046-453d-8660-bfa4d41c54db.png)

**SNEK**
![Screenshot 2022-09-30 at 08-30-14 Fancy cat KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/193205779-514777de-59ad-4568-9196-c48461608a7

[2022-09-30 09:31] petersopko commented on #4056
@roiLeo no it's not normal 😄

[2022-09-30 09:35] #4010 closed

[2022-09-30 09:35] #3265 closed

[2022-09-30 09:46] petersopko commented on #3790
it seems to be working
![image](https://user-images.githubusercontent.com/73316633/193243445-bf4e15ae-2768-4480-8481-1855cea324b8.png)

[2022-09-30 11:56] Jarsen136 commented on #3946
@exezbcz Hey, there are some design issues that need your help.

1. I need one single image composed of `KODADOT` and `beta`.
Now in the figma, they're two separate images.
<img width="984" alt="image" src="https://user-images.githubusercontent.com/31397967/193263486-959385cf-6d66-4919-be59-cf9816965327.png">

2. `beta` is missing from the logo image in dark mode.

<img width="900" alt="image" src

[2022-09-30 12:40] #3945 closed

[2022-09-30 14:07] petersopko commented on #4056
this shows up at /rmrk when I scroll up, possibly related
![image](https://user-images.githubusercontent.com/73316633/193287990-5d91f567-c71b-433a-b621-74bed5e0ee28.png)

[2022-09-30 16:05] kkukelka commented on #4056
👋

[2022-09-30 16:06] kkukelka commented on #4055
👋

[2022-10-01 11:01] yangwao opened #4058 "og:image doesn't render on Twitter?"
I recall it worked before(?) 😅

- https://kodadot.xyz/bsx/gallery/3231523574-2
- https://cards-dev.twitter.com/validator

<img width="1037" alt="image" src="https://user-images.githubusercontent.com/5887929/193406419-3f358a9e-30ec-4193-9afe-6755c9417384.png">

on telegram it works only with beta
<img width="455" alt="image" src="https://user-images.githubusercontent.com/5887929/193406523-f217cac3-

[2022-10-01 11:13] exezbcz commented on #3946
Hey @Jarsen136 , thanks for asking. Good question, the reason it is not composed together is because it will cause the auto layout to break. I will join the element together outside the page if that's okay. By the way, the whole group 32 is only the logo. I made it this way because I had not known where is the logo library so I made it itself.
ad 2 Yup, I did not put it there cuz it just changes c

[2022-10-01 11:30] yangwao opened #4059 "Enable 🎩 Top Collections on landing for Basilisk once there will be data"
Current State:
- :white_check_mark: working on /rmrk old landing
- :white_check_mark: working on /snek old landing (but only 2 results, rest has `null` floorprice)
- ✅ working on new landing, /?redesign=true
- 🔴  no data on /bsx old landing, I'm hidding component for now
- 🔴 got some cleaning to do in component 🧹

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/issues/3869#

[2022-10-01 11:32] #3866 closed

[2022-10-01 12:45] Jarsen136 commented on #3946
Thanks! I will take a look.

[2022-10-02 07:23] petersopko commented on #4059
I've just now noticed that the size of boxes here is not unified, maybe we want it like this, maybe we don't?
![image](https://user-images.githubusercontent.com/73316633/193442896-ca73044d-a96a-4f54-b8b4-bb07753534a0.png)

[2022-10-03 06:21] roiLeo commented on #4059
size of screen? Numbers are big, it make multiple lines, I might reduce the collection name text