[2021-11-26 13:14] onerawartist commented on #1311
even "Buy Now" looks better than "BUY NOW" , the second one looks like someone is screaming ^^

[2021-11-26 13:15] yangwao opened #1312 "Put emphasis on way to discover new items"
I will expand on this, check entrance points in the obsidian

i would like a reference system to my obsidian , like cross referencing blocks

[2021-11-26 15:52] yangwao opened #1313 "Collecting engine based on open-source Figma"
Something like https://here.fm/kodadotplays

I can expand on this later if you bump me

Like showing nft linked to the board where people can click and collect "together" like browsing together collection would be amazing and can drive engagement to collectors and unite whales together

# 💳 h/t @jkdizajn

[2021-11-26 16:03] yangwao commented on #1197
It could work in a way that when the author mints NFT collection, it can include NFT audio which would be as voice-narrator for that particular collection which could offer people to drive their rooms in "customized" way

[2021-11-26 17:00] #1072 closed

[2021-11-26 17:02] yangwao opened #1314 "Remove Hound and Add reviewdog"
Let's try remove Hound as issues stated here https://github.com/kodadot/nft-gallery/pull/1247#issuecomment-979827672

and add review dog https://github.com/reviewdog

[2021-11-26 17:13] yangwao commented on #1305
I guess it's a matter of sorting, good point!

Let's post your address, best from kodadot.xyz/transfer and I'm happy to payout you bug report! :)

[2021-11-26 17:19] yangwao commented on #1308
Probably let's start working on it for `main-nuxt` now?
Introducing new stuff to `main` would be a wasted time investment.

[2021-11-26 17:21] yangwao commented on #1310
I don't get it or I'm over-worked today.
If you can be more verbose it would help me to understand what you mean.

[2021-11-26 17:25] yangwao commented on #1311
I see. For "BUY NOW" was back then to be more straightforward and I guess it was quick hack back then. we can think about that in new UI bit #899

For now, fix would be changed to "Buy now"
let's make it #70b364 -- some colour which is not white closer to greyish with green pastel soul to trigger people more for buying art

[2021-11-26 18:11] onerawartist commented on #1305
^^

https://kodadot.xyz/transfer/?target=JHMAL5CyvxWc3Ud42QxRUTpSnUa4m56mRSzPK69d1TU8NG7

[2021-11-26 18:12] onerawartist commented on #1311
@yangwao

yes " Buy now " is better , and a pastel " Buy " is much better

[2021-11-26 18:13] onerawartist commented on #1305
forgot to mention you ^^
@yangwao

[2021-11-26 18:17] onerawartist commented on #1310
@yangwao
the problem is when we use the option to show the nfts in small size
the name of the artwork stays big, and that makes it impossible to read as shown in this pic
![01_LI](https://user-images.githubusercontent.com/71472224/143618824-5f2612fe-764b-4493-90a2-5b360f02e9ab.jpg)
.
the text showing the name of the nft should also scale down

[2021-11-26 18:23] yangwao opened #1316 "Generate payment link for transfer"
User can input their address and put the amount in dollars

In return, users can generate payment links and share them with others by clicking button

- Add button to generate this payment link and copy to clipboard

Add it probably next to USD?
Choose icon which best represents "creating payment link"
![image](https://user-images.githubusercontent.com/5887929/143619408-bb1390e5-aab1-409c-9dad-9a8

[2021-11-26 18:24] onerawartist commented on #1311
![ON](https://user-images.githubusercontent.com/71472224/143619326-be891a22-a9d0-48f4-b276-149fae677add.png)

@yangwao
this would great for the switch button, but in green when on , and grey when off

[2021-11-26 19:02] yangwao opened #1317 "Show on-chain identity for destination address in transfer"
Right now user could be unsure where is sending money to,
let's start showing destination address on-chain identity, show it next to the shortened address.

![image](https://user-images.githubusercontent.com/5887929/143621886-d5bad372-8ed8-41bb-9922-496e9fc8517a.png)

[2021-11-26 20:29] onerawartist opened #1318 "Artists collaboration (50/50) payments and Royalties"
1 - The 10% that go to artists after The artwork is sold the second time and onward.
I know that you are working on it

2 - and the idea i'm most excited about is the collaboration between artists:
Two artists work on an artwork and mint is as a collaboration, and it will be shown on both artists profiles.
And when its sold, both artists get 50% of the price
And when the nft is sold again the arti

[2021-11-26 20:53] vikiival opened #1319 "When I click to open in new tab I want to see gallery item instead of image"
### What happened?

A bug happened!

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

_No response_

### At which address did you encounter bug?

_No response_

### Screenshots

Paste from your clipboard or upload screenshots

### Relevant log output

[2021-11-26 21:19] vikiival opened #1320 "Enhance collection stats"
1. BURNT (available / existed) (1 - 4 / 24)*100 //  EXISTED (ever minted items including burned)
2. LISTED / TOTAL ITEMS should not consider burned in total
3. merge volumes under the one cell (24h / total) and put on place of 24h traded
4. Move floor price at place of prev total traded

example [CryptoCrystals](https://nft.kodadot.xyz/rmrk/collection/ecce50178c031b4f6a-Q4LLY)

[2021-11-26 22:04] yangwao opened #1321 "Model-viewer updates"
- bump new model viewer  version
- use current 3d image preview as poster
- placement should be in front of you to the ground, 1m before
- expecting safari fixes

[2021-11-26 22:05] vikiival commented on #1321
[model-viewer v1.9.1](https://github.com/google/model-viewer/releases/tag/v1.9.1)

[2021-11-26 22:53] vikiival commented on #1305
fix is to put order by serial number

ht/ @yangwao

[2021-11-26 23:10] onerawartist opened #1322 "Artist Profile and UI upgrades"
### Is your feature request related to a problem?

/

### Describe the solution you would like

![what to do](https://user-images.githubusercontent.com/71472224/143660200-a4ecb19d-6761-4e31-8a70-fb2c17e3b296.png)
![simple preview](https://user-images.githubusercontent.com/71472224/143660204-c4bcfdd8-982f-4588-ba07-5bf41474e24c.png)

1 - when u put the new logo , it should be bigger
2 - center the

[2021-11-26 23:11] onerawartist commented on #1322
![ON](https://user-images.githubusercontent.com/71472224/143660418-23b881e1-6162-4875-9b64-80263de0a451.png)

and one last thing , but i already mentioned it in the " BUY NOW is scary issue , to use this type of switch

[2021-11-26 23:27] onerawartist commented on #1322
![popup  copy](https://user-images.githubusercontent.com/71472224/143660775-5595a764-40cf-422b-b7c0-7b12632f44f4.png)
.
.
The pop up that shows when you hover the mouse over this places should show these informations :
1 - created by " the name of the artist"
2 - collections created by " the name of the artist "
3 - show only nfts available for purchase
4 - nfts collected by " the name of the prof

[2021-11-26 23:27] onerawartist commented on #1322
@yangwao @vikiival
thats all i wish to see in an artist profile

[2021-11-27 00:01] onerawartist opened #1323 "Support for Glass material maybe ?"
### Is your feature request related to a problem?

i wish i could put glass in my models
and i found this article online , i didn't understand much but i loved the result and i wonder is this possible to add to kodadot
.
.
https://threejs.org/examples/#webgl_loader_gltf_transmission

### Describe the solution you would like

/

### Describe alternatives you have considered

/

### Screeenshots

/

[2021-11-27 01:13] onerawartist commented on #1323
![13](https://user-images.githubusercontent.com/71472224/143663564-80b65700-c11f-499c-aed8-8396a129b851.jpg)

this would be amazing

[2021-11-27 01:35] dezine2dev opened #1324 "User address disappears in Profile"
### What happened?

User address is breaking in Profile page

### Please reproduce in steps

1. Login
2. Go to Profile Page
3. Click any tab in the profile avatar

You can see user address disappearing from the page.

### Expected Behavior

Even I click the tab, address should be still there

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

_No response_

##

[2021-11-27 06:43] yangwao commented on #1322
You can reference issues, hit # and type name of it :) it would help us link 🔗 together.

[2021-11-27 06:44] yangwao opened #1326 "![popup copy](https://user-images.githubusercontent.com/71472224/143660775-5595a764-40cf-422b-b7c0-7b12632f44f4.png)"
![popup  copy](https://user-images.githubusercontent.com/71472224/143660775-5595a764-40cf-422b-b7c0-7b12632f44f4.png)
.
.
The pop up that shows when you hover the mouse over this places should show these informations :
1 - created by " the name of the artist"
2 - collections created by " the name of the artist "
3 - show only nfts available for purchase
4 - nfts collected by " the name of the prof

[2021-11-27 06:46] yangwao commented on #1322
#1326

[2021-11-27 11:22] yangwao opened #1327 "KodaDot v3 -- Op Paperclip"
Once we finish #1060 we can continue to introduce the plugin's structure.

Probably we could join it by upgrading straight to the Vue3 and Nuxt3? What will be sooner, stable nuxt3 or our structure lol
Eta 22Q1Q2 weather might change

### Consists
- bsx
- statemine
- xr (kodaverse)
- RMRK2
- ... (others are in my obsidian I'm not disclosing bc copycats are swimming around, cheers)

### UI kit -- sh

[2021-11-27 12:07] #1194 closed

[2021-11-27 12:10] yangwao opened #1328 "Finally we can implement polkadot cluster"
Let's see if we can see add rank for our artists
best would be if someone make model for NFT artists which is chain agnostic, would be more useful as I subjective thinking that NFT artists is fresh blood in pool, rather others are OGs coming from years of "technology" expertise

https://hive.one/c/polkadot?page=1

Ask them for API keys
Tell them Mr. yangwao is sending regards to have them on KodaD

[2021-11-27 12:56] prachi00 commented on #1316
@yangwao I'll try to do this

[2021-11-27 13:03] prachi00 commented on #1326
@yangwao I'll do this

[2021-11-27 13:09] yangwao commented on #1326
Lfg

[2021-11-27 13:09] yangwao commented on #1316
Lfg

[2021-11-27 14:03] onerawartist commented on #1326
🔥🚀🔥 lets goooo

[2021-11-27 14:15] onerawartist commented on #1310
@yangwao do u understand it now ? Or should i make a draft using Photoshop?
And  can u change the name of the issue to '' scaling of text '' ?

[2021-11-27 22:33] onerawartist commented on #1323
one more useful link:

https://tympanus.net/codrops/2021/10/27/creating-the-effect-of-transparent-glass-and-plastic-in-three-js/

[2021-11-27 22:41] yangwao commented on #1310
Yeah more descriptive issue name way better.

Ah I got it. So text should be smaller on smaller layout

@roiLeo may check on that 👀

[2021-11-27 22:43] onerawartist commented on #1310
@yangwao i'm learning lol ^^

[2021-11-28 01:07] onerawartist commented on #1326
![IMG_20211128_020645.jpg](https://user-images.githubusercontent.com/71472224/143725020-4831e26b-a960-40e0-80ec-77c68d58935d.jpg)

@yangwao what are those ? 👀

[2021-11-28 09:15] yangwao opened #1330 "Ask for access"
Let's say there is premium NFT artist who doesn't want to disclose some precious piece 🧩 to public, to add bit speciality

Way how it could work, for now, it could be that having property which would show that viewer needs to own at least one public nft collection of that artist to be able view creators "secret" collection

It can be in tiers like patronage

- to see this art, you need to own at l

[2021-11-28 13:33] jkdizajn opened #1331 "Another NFT previews directly on the NFT page"
### Is your feature request related to a problem?

While looking through the art in the collection, I ran into a problem.If I want to view other art in the collection I have to go back in the browser. Or click on the link with the collection :)
![obrázok](https://user-images.githubusercontent.com/81104034/143769475-ce9e6dd8-febb-423e-b14f-f4382e91edb8.png)

### Describe the solution you would like

[2021-11-28 22:46] yangwao opened #1333 "Distribution Meta-Hours airdrop"
We need to be done sending out
- [x] art work
- [ ] Collect addresses from the channel at the defined time range #1054
- [ ] #1297

[2021-11-28 23:20] yangwao opened #1334 "Discovery weekly for collectors"
Based on their past taste
Generate weekly previews
Probably as new view
Show relatsd nft collectiona based on graph parricular artist has collected, might work well for now?
It can change actually dynamically how each artist followed by collectors collect as well

[2021-11-28 23:31] onerawartist commented on #1305
@yangwao when are the bounties served ? 😁👀 I started to lose count on my reports lol
I got 12 open issues

[2021-11-29 04:46] dtbx commented on #1304
For reference, this is the GitHub repo by @stevenleeg that did the original TCR party twitter bot:
https://github.com/alpineintel/tcrpartybot

By https://github.com/stevenleeg

[2021-11-29 11:14] yangwao opened #1337 "Put experimental label on KodaDot -- Beta label"
Most marketplaces puts them selves in the political position they are in beta, however, we are quite rolling revenue, traction userbase, with adding extra new features on daily basis could bring us more armour in argumentation and withstand any incoming drama (double spends hahahaa, pls resolve it yuri)

![image](https://user-images.githubusercontent.com/5887929/143858174-a6ac8ecc-1052-403c-a815-2

[2021-11-29 13:56] yangwao commented on #1220
Please someone make PR to en.json on `main` and `main-nuxt`

[2021-11-29 18:36] yangwao opened #1340 "Theater mode as curation feed"
Let's see if ppl see each other at one place it could work as passion feed but with shared interests of participants.

So like three people will show up and we can agreegate their passion feed based on previous buys and holdings

[2021-11-29 20:16] yangwao opened #1341 "Check if we can embed 3d models right into twitter"
Seems model-viewer carries new updates

https://twitter.com/hybridherbst/status/1465093146866556929

### Ref
#1321

[2021-11-29 20:22] yangwao opened #1342 "Hotspots on 3d model"
Let's lookup how we can leverage using hotspots on 3d models for gallery

https://twitter.com/modelviewer/status/1453856432873345025

[2021-11-29 21:01] vikiival opened #1343 "Add Base layout component"
### Is your feature request related to a problem?

@roiLeo suggested in #1339 many useful layout features.

Basically I copy this layout from a page to page and It would be nice to have a component:

[code]

### Describe the solution you would like

Basically it should be:

[code]

### Describe alternatives you have considered

:roc

### Screeenshots

Paste your vision

[2021-11-29 21:02] vikiival commented on #1343
Let's bring it to the nuxt version only

[2021-11-29 21:57] vikiival opened #1344 "Change url based on postfix"
### Is your feature request related to a problem?

We were talking w/ @yangwao how to make builds for kodadot

first approach is to deploy each application under the separated subdomain like `statemine.kodadot.xyz` or `bsx.kodadot.xyz`

the second approach is to use router postfixes such as `/rmrk` `/unique` `/bsx`
This approach should have build time of `1/N` and we only maintain only one instanc

[2021-11-30 00:08] rhaicode commented on #1294
Blocked until #1308 is resolved

[2021-11-30 08:48] vikiival opened #1346 "Refactor Create components"
### Is your feature request related to a problem?

Refactor CreateCollection and CreateToken Into more reusable pieces

### Describe the solution you would like

I would like to see

### Describe alternatives you have considered

I have tried this alternative

### Screeenshots

Paste your vision

[2021-11-30 08:55] roiLeo commented on #1346
I was thinking of changing "Creation" flow with [stepper component](https://buefy.org/documentation/steps/) to simplify user experience and to lighten UI.

[2021-11-30 09:00] roiLeo opened #1347 "i18n translations"
### What happened?

- can't change content language

### Please reproduce in steps

- Go to /rmrk/faq/
- Change language
- Content is not updating

### Expected Behavior

- Updating content from selected language
- see main branch for references

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

_No response_

### At which address did you encounter bug?

_No

[2021-11-30 09:40] vikiival opened #1348 "Refactor CSS"
### Is your feature request related to a problem?

Currently, we have tons of CSS which I think is either obsolete or already covered in [Bulma Helpers](https://bulma.io/documentation/helpers/).

Moreover, some styles are fighting against each other, so there is inconsistency.

### Describe the solution you would like

Have global CSS config for base styles?

### Describe alternatives you have con

[2021-11-30 09:48] #1324 closed

[2021-11-30 09:50] vikiival opened #1349 "Unable to go from collection to the gallery item"
### What happened?

A bug happened!

### Please reproduce in steps

1. [Go to Collection detail](https://beta.kodadot.xyz/rmrk/collection/FC77C33AB229A2056A-3DRAWCLGRF)
2. Click on any item
3. You'll get 404

### Expected Behavior

I've expected gallery item

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

_No response_

### At which address did you encount

[2021-11-30 11:58] vikiival commented on #1344
PoC: 90ffdee8c24d7ec4ae848e96217a95814262f8dc

[2021-11-30 12:21] yangwao opened #1351 "Subscription for upcoming releasese"
Whenever popular artists want to line up the attention theirs, subscribe to "alarms" and push notifications for their beloved artists

[2021-11-30 12:27] yangwao commented on #1344
Opt-in for a second option?

On Tue, Nov 30, 2021 at 12:58 PM Viki Val ***@***.***> wrote:

[2021-11-30 12:34] vikiival opened #1352 "Move meta outside of the components"
### Is your feature request related to a problem?

Meta tags are super nice to have but it generates a lot of noise in the components.

### Describe the solution you would like

I would like to see separated file in each directory like `meta.[json|js|ts]` which will handle these meta tags :)

### Describe alternatives you have considered

I have tried this alternative

### Screeenshots

Paste your

[2021-11-30 13:07] #1310 closed

[2021-11-30 13:17] #984 closed

[2021-11-30 13:45] yangwao opened #1353 "New Preloader contest"
Let's come up with the **best preloader out there**, it's time to upgrade preloader for Beta.

Come up with a great storyline of preloader, **give it soul**, **make it your best craft**, which would be seen by 50k unique users/monthly, ppl on daily basis in the future using KodaDot

@XyloDrone can lead this, [I've created a coordination channel on Discord!](https://discord.gg/HSptp8evGg)

Bounty i

[2021-11-30 13:52] #1234 closed

[2021-11-30 15:00] yangwao opened #1355 "Reflect new logo v3 in collections preloader"
#1207 #1274

Please crack on this as well with new logo 😄
Either let's use previews that green one loading SVGs or new logo, just to get rid of this one as well :)
![image](https://user-images.githubusercontent.com/5887929/144071380-c6215ebf-9b7d-446b-b10f-eaad5daf5131.png)

[2021-11-30 15:05] yangwao opened #1356 "Pool on indexer health"
I know this would add load for Subquery Subquid in the future, but w/o users need to reload, let's add pooling on the health of the indexer once per minute or half a minute as users don't need to reload for example.

![image](https://user-images.githubusercontent.com/5887929/144072351-9ff0fcd1-3b99-4dd4-b67b-e513178b829a.png)

[2021-11-30 15:06] vikiival commented on #1356
Better to have tooltip with a button thb

[2021-11-30 15:08] yangwao opened #1357 "Better filters on Collections view"
hotfix would be to remove card from row and it's not looking great
![Screenshot 2021-11-30 at 15-15-37 Low minting fees and carbonless NFTs](https://user-images.githubusercontent.com/9987732/144063564-006aef11-cb03-4304-8d51-a463d6d22a46.png)

I'm sure something can be done with graphql

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/issues/1292#issuecomment-982677569_

[2021-11-30 15:35] roiLeo commented on #1355
Isn't this already done? Are you refering images placeholder or page preloader?

[2021-11-30 16:29] yangwao opened #1358 "Try to pin rest assets from Singular"
For the comfort of browsing through KodaDot
I've had chat with Matt Ober from Pinata and let's try to estimate how much data is it for pinning the rest of the stuff from Singular
- number of assets
- total size added

Our current numbers
- 4182 items pinned
- 17G total pinned including replications
- 16G
- .5T/month transit

[2021-11-30 16:54] yangwao commented on #1355
Is?

Both probably! 😄

[2021-12-01 09:24] vikiival opened #1359 "Replace router link with nuxt link"
### Is your feature request related to a problem?

[What is the advantage of using nuxt-link over router-link?](https://stackoverflow.com/questions/62543010/what-is-the-advantage-of-using-nuxt-link-over-router-link)

### Describe the solution you would like

Replace router link with nuxt link as it adds a lot of cool features and hope will tackle current routing bugs

### Describe alternatives you

[2021-12-01 10:27] roiLeo opened #1360 "Refactoring code outside layout"
With #1350, we need to refactor code (chainproperty, checkindexer, etc..) and move it outside layout directory as it's not first entry point.

#### Suggestions
- We could move check Indexer to Vuex (#1308)
- Or we could create a [plug-in](https://nuxtjs.org/docs/directory-structure/plugins/#vue-plugins)
- Check Nuxt [lifecycle](https://nuxtjs.org/docs/concepts/nuxt-lifecycle/)

[2021-12-01 10:47] roiLeo commented on #1347
Markdown link in FAQ doesn't work too. Maybe 'MarkdownIt' package isn't installed or properly configured.

[2021-12-01 10:58] yangwao opened #1361 "Generate payment link for transfer v2"
Seems when I open https://deploy-preview-1329--nftkodadot.netlify.app/transfer?usdamount=100&target=EzGc4s9PgCPx1YnF3fqzhLzVHpHMTL4LWPScwpDrR8JKgSU it won't make me able to submit the transaction

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/1329#issuecomment-983522450_

[2021-12-01 11:06] prachi00 commented on #1361
checking this

[2021-12-01 11:20] yangwao commented on #1356
Bump 👀 seems it's happens often everytime and now

![image](https://user-images.githubusercontent.com/5887929/144225640-cb030922-e3b4-4797-b742-559d40c0ee19.png)

[2021-12-01 12:41] XyloDrone commented on #159
Any updated on this? Happy to design UI for the purpose, I believe the entire ecosystem could benefit from it.

[2021-12-01 12:43] XyloDrone commented on #152
Do we have this in English ?

[2021-12-01 12:45] vikiival commented on #152
Lady Xylo,
we do not possess the english version of this video

[2021-12-01 12:46] XyloDrone commented on #146
I saw we have this video turotial in Spanish. Can we link this [one](https://www.youtube.com/watch?v=mT7rUlQh660) as well, as it is in English

[2021-12-01 12:48] XyloDrone commented on #152
I shall ask One Raw Artist if he is up for it. What's the bounty?

[2021-12-01 13:12] XyloDrone commented on #145
I will design this for the landing page

[2021-12-01 13:41] yangwao commented on #1304
Just read the how tcr works with all the stuff. I bet we should simplify this stuff to get traction to get stuff going for what we need to, maybe integration with portcullis and passport would be neat idea, let's see what we can hack on

[2021-12-01 13:51] onerawartist commented on #152
i can work on it in my next mint, if the bounty is good ^^
@yangwao

[2021-12-01 14:25] XyloDrone commented on #378
Any updates on this? happy to jump on the ux/ui design

[2021-12-01 14:38] XyloDrone commented on #358
Is this ready to close and we have decided on Fira Code?

[2021-12-01 14:43] XyloDrone commented on #321
Any follow up on this? Can we link the notifications via email?

[2021-12-01 14:58] #1349 closed

[2021-12-01 15:10] XyloDrone commented on #319
Shall we add this to landing or make a separate page?
I also think it is related to this issue: #145 , correct me if I am wrong

[2021-12-01 15:11] vikiival commented on #321
We can make simple lambda and if creator has mail set through on-chain identity we can send a mail

[2021-12-01 15:15] XyloDrone commented on #418
We have a preview when the file is uploaded. Is this good enough or do we need a second page where the user can review all details?

[2021-12-01 15:16] XyloDrone commented on #321
Sounds like a plan

[2021-12-01 17:26] XyloDrone commented on #155
Do we have some kind of form for this or doc?

[2021-12-01 19:27] yangwao opened #1364 "Link Transform go to link"
Actually when I transform the link, maybe I want to go to that link...

![image](https://user-images.githubusercontent.com/5887929/144300505-cf419cdb-b87c-44b3-97ca-2b72b463a621.png)

[2021-12-01 19:50] yangwao commented on #1355
can't tell as let's merge recent `main-nuxt` to that branch?

By these hard to tell for me
https://deploy-preview-1274--koda-nuxt.netlify.app/rmrk/collection/1a5eac9a904a098255-%F0%9F%A7%A6
![image](https://user-images.githubusercontent.com/5887929/144303645-c57608b6-26f8-42bf-8956-c83c86c9cf1a.png)

[2021-12-01 20:18] yangwao commented on #159
Let's start this, putting some fuel

![](https://media.giphy.com/media/NXNq3hf0REPqkrLyoy/giphy.gif)

[2021-12-01 20:20] yangwao commented on #152
it's great, up to $300

[2021-12-01 20:20] yangwao commented on #146
We've got meanwhile https://kodadot.xyz/identity

[2021-12-01 20:22] yangwao commented on #145
Meanwhile added
#1115
#876
#1112
#1165
#531

Can be connected with #899

[2021-12-01 20:38] onerawartist commented on #152
@yangwao i'm working on it ^^

[2021-12-02 01:17] onerawartist opened #1366 "can't unlist my NFT or consume it"
### What happened?

i was making the video for " how to create a collection , how to mint an nft" , and when i came to " how to consume an nft"
i got this error:

here's the link to my collection:
https://nft.kodadot.xyz/rmrk/collection/FC77C33AB229A2056A-THECUBES

### Please reproduce in steps

/

### Expected Behavior

/

### What browsers are you seeing the problem on?

Chrome

### Are you logg

[2021-12-02 01:24] onerawartist opened #1367 "Hide empty collection on users profile"
### What happened?

i used ( extra > Admin panel ) to consume the collection i created by mistake but its still here:

https://nft.kodadot.xyz/rmrk/collection/FC77C33AB229A2056A-THECUBE
 all the nfts in it are gone, but it is still shown in my profile

### Please reproduce in steps

/

### Expected Behavior

to not be shown in my profile

### What browsers are you seeing the problem on?

Chrome

#

[2021-12-02 01:25] onerawartist commented on #1367
the collection doesn't show up in ( extra > Admin panel ), but its still there in my profile when i see " collections "

[2021-12-02 02:11] onerawartist commented on #1366
![fixed](https://user-images.githubusercontent.com/71472224/144344572-20862744-d491-44d2-aae3-901b34b5c998.png)

its back , i don't know what happened lol , is there a limit of time between minting and consuming ?
maybe that what happened

[2021-12-02 02:28] onerawartist commented on #1367
when i visited my profile through singular i don't see the collection i removed using Admin panel

![singular](https://user-images.githubusercontent.com/71472224/144346372-07a0d4b5-8f05-49d1-9749-f9eb20dc1ae2.png)

[2021-12-02 08:01] roiLeo commented on #1366
It happened because the Indexer was down.
There is already an issue about this error, we can close this in favor of #1356.

[2021-12-02 08:15] yangwao opened #1368 "Procedural storytelling"
Would be interesting to start grinding later stage on generative rooms, generative emerging storylines, character evolution 🧬 by player

There is potential to generate various dungeons as procedurally-generated content.

Probably could be linked with #(voice-narrator) issue

Term backward story sifting is definitely inspiring.

Did smol link surfing, def retrospect interesting stuff

### ref
- htt

[2021-12-02 09:14] yangwao opened #1370 "Grayscale & Monochrome option"
Let's see if we can add attribute monochrome and greyscale nfts and then we can filter them out.

Could be also made as plugin to drive greyscale/monochrome lenses over all NFTs

# ref
- https://en.wikipedia.org/wiki/Grayscale
- https://en.wikipedia.org/wiki/Monochrome

[2021-12-02 09:56] vikiival commented on #1370
<img width="1125" alt="Screenshot 2021-12-02 at 10 55 40" src="https://user-images.githubusercontent.com/22471030/144399336-0d341932-65c8-4c69-8b56-ee6705018d06.png">

[code]

[2021-12-02 10:31] vikiival commented on #1202
This is also applicable to the nuxt version

[2021-12-02 10:48] XyloDrone commented on #145
Cheers Ser.

[2021-12-02 10:51] XyloDrone commented on #146
Might be worth pointing out somewhere that people can set identities. Also I think we need a tutorial in english somewhere on how to create polkadot js account. I know it sounds absurd but it took me ages to figure out how to do it :D

[2021-12-02 10:52] XyloDrone commented on #159
Awesome, adding this into UX/UI development. Think this and the author's minting layout would be super cool to have.

[2021-12-02 12:06] yangwao opened #1371 "Public Office hours"
Probably once more people will show up, more questions they (creators, developers, architects, you name personas) will have with deeper progress we will make, we should determine some usual weekday, where we can answer questions ppl might have tho, later stage there will be more people coming around so probably they will answer the questions in peer fashion way.

I would propose a window on Friday

[2021-12-02 12:25] yangwao commented on #1370
Can we put it into options/settings #1308 #942

[2021-12-02 12:27] #1366 closed

[2021-12-02 12:27] yangwao opened #1372 "Bring Mono/Chromatic plugin/user preferences"
- all colours could be chosen in user preferences
  - on scale to choose
    - [color temperature](https://en.wikipedia.org/wiki/Color_temperature) -> 0 -> warmest.
    - saturation -> 0 -> Vivid (0 means grayscale)

It will put a chromatic effect overlay on the whole KodaDot

# Ref
- https://github.com/kodadot/nft-gallery/issues/1370
- #153

[2021-12-02 12:32] onerawartist commented on #1367
@vikiival im not saying there's something wrong with admin panel,
I created a collection , added some nfts in it
Then i used the admin panel to consume the nfts,
The result should be: the empty collection not showing up in my profile.
There must be a hack around , to hide collections when they become empty

[2021-12-02 12:35] onerawartist commented on #1367
I don't want all the tutorials showing up in my profile in the future.
Change the option in profiles , to only show a collection if it has an nft in it or more.
And stay invisible if its empty
@vikiival @yangwao

[2021-12-02 12:58] vikiival commented on #1372
Reading: [CSS filter](https://developer.mozilla.org/en-US/docs/Web/CSS/filter)

[2021-12-02 14:50] yangwao opened #1375 "Research on webmonetization implementation to Koda"
Web Monetization is an API that allows websites to automatically receive micro-payments from users, facilitated by the browser and a user's Web Monetization provider.

We should look on it how we can add it to KodaDot to drive payments way easier.

### Ref
- https://webmonetization.org/
- https://webmonetization.org/specification.html
- https://www.pumabrowser.com/

[2021-12-02 15:01] vikiival opened #1376 "Do we need all this polkadot stuff?"
### Is your feature request related to a problem?

ht/ @ro

### Describe the solution you would like

It think we only need `@polkadot/js-api` and `extension`

### Describe alternatives you have considered

Do we need `@vue-polkadot/vue-api`?

May check Talisman API and wrap it around

### Related

#439

[2021-12-02 15:44] #1343 closed

[2021-12-02 15:46] vikiival opened #1377 "We merged something wrong"
### What happened?

After the last PWA update, beta is not working

### Please reproduce in steps

Go to https://beta.kodadot.xyz

### Expected Behavior

I've expected working app

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

No

### At which address did you encounter bug?

beta.kodadot.xyz

### Screenshots

<img width="1792" alt="Screenshot 2021-12-02 at 16 44

[2021-12-02 15:59] #1377 closed

[2021-12-02 16:06] #1113 closed

[2021-12-02 16:16] yangwao opened #1378 "Position teleporting on mouse movement"
Sometimes one can be bored walking through room with WASD

### Ref
- https://www.artsteps.com/view/61a73fa19de72a300197e7ba

[2021-12-02 16:24] onerawartist commented on #1367
![kodadot](https://user-images.githubusercontent.com/71472224/144461794-75539280-ab6e-4f26-b275-e5d6b5dccc5b.png)
![singular](https://user-images.githubusercontent.com/71472224/144461826-34d0bf65-c235-40e1-8a36-7b5c162050d8.png)

[2021-12-02 16:25] onerawartist commented on #1367
kodadot shows the empty collection, while singular don't, i really think you should add feature to kodadot

[2021-12-02 16:26] prachi00 commented on #1361
@yangwao @vikiival So this is happening because the value of `this.$store.getters.getCurrentKSMValue ` is undefined initially, hence it isn't calculating the ksm value and the button is disabled, any idea why it is undefined?

[2021-12-02 16:56] vikiival commented on #442
Closing in favour of #1367

[2021-12-02 16:56] #442 closed

[2021-12-02 16:58] vikiival commented on #1361
May #1374 can fix 👀

[2021-12-02 17:46] jkdizajn opened #1379 "Broken user menu"
### What happened?

When the user profile is displayed, the page appears to be broken...
Test profile: https://beta.kodadot.xyz/rmrk/u/HXAi8NoJHQUU1FQUJrHYGtAECN1upNKgPPnJMj7er1eFRK8

### Please reproduce in steps

Check UI pages

### Expected Behavior

I've expected that it loads correctly :)

### What browsers are you seeing the problem on?

Firefox, Chrome

### Are you logged in?

Yes

### At w

[2021-12-02 17:52] jkdizajn opened #1380 "NFT in deafult view is not displayed correctly"
### What happened?

NFT in basic view is not displayed correctly, It is displayed twice in a row.
NFT tested:  https://beta.kodadot.xyz/rmrk/gallery/10150211-900D19DC7D3C444E4C-CHAOSFRACT-PASTELS_FRACTAL-0000000000000013

### Please reproduce in steps

Check the page UI

### Expected Behavior

I've expected that it loads correctly

### What browsers are you seeing the problem on?

Firefox, Chrome

[2021-12-02 17:59] jkdizajn commented on #1380
![obrázok](https://user-images.githubusercontent.com/81104034/144477361-348e5d37-7778-4904-82a4-85d2446993a4.png)
I see, on the NFT page the preview photo and the original are displayed at the same time...

[2021-12-02 22:34] jkdizajn commented on #1379
yes

[2021-12-02 22:52] onerawartist commented on #152
@vikiival @yangwao , i finished it
 DM me so i send you the link to check it out

[2021-12-03 06:28] prachi00 commented on #1361
Let's wait until that is merged then?

[2021-12-03 07:35] yangwao opened #1382 "Replace buy button text with yolo"
Do it for the lulz

https://twitter.com/mattigags/status/1466444838140841987?t=sfR6Ld7NZcFefiNZY91W_g&s=19

[2021-12-03 08:01] roiLeo commented on #1367
#1357 related

[2021-12-03 08:42] yangwao opened #1384 "Add sound once transaction is confirmed"
I really don't know how we could miss this

Let's find some high pitched sound in caghing, probably closest to Google pay does.

Mimicking sound old days cash desk sounds from early 19th

[2021-12-03 09:01] #1379 closed

[2021-12-03 09:01] #1380 closed

[2021-12-03 11:13] roiLeo commented on #1382
#1311 related, what will be the final solution?

[2021-12-03 11:45] yangwao commented on #1382
Yeah let's update it with YOLO and this so we can move forward :)

[2021-12-03 11:46] vikiival commented on #1376
- [ ] Load keyring as plugin

[2021-12-03 11:46] yangwao commented on #1311
@roiLeo asked in #1382 so let's push it to `main` and probably to `main-nuxt` as well

[2021-12-03 11:47] yangwao commented on #1376
#1327

[2021-12-03 11:49] vikiival commented on #1202
oor Use WorkBox?

[2021-12-03 12:08] roiLeo commented on #1202
See [vuex plugins](https://vuex.vuejs.org/guide/plugins.html) doc.
I think we can move these outside index store, create new [nuxt plugin](https://nuxtjs.org/docs/directory-structure/plugins/) and use mutiation from store in plugin.

[2021-12-03 12:45] yangwao opened #1385 "Found weird alien looking at me"
### What happened?

I've stared into Abyss

### Please reproduce in steps

Opened collection,
went to next page 2

### Expected Behavior

I'm fine with interstellar civilizations

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

No

### At which address did you encounter bug?

beta.kodadot.xyz

### Screenshots

![image](https://user-images.githubusercontent.com/588

[2021-12-03 13:16] vikiival commented on #1202
That's how it's implemented now

[2021-12-03 13:16] vikiival commented on #1202
That's how it's implemented now

[2021-12-03 13:36] vikiival commented on #1372
[BulmaCssVars](https://buefy.org/extensions/bulmacssvars)

[2021-12-03 14:06] yangwao opened #1386 "What's hot dashboard"
Showing dashboard of NFT collection which recently has made sales

We can probably recycle something from series-insight
Sort by time since the last sale from recent to oldest

verify queries you've created

| series name | buys | total volume | last sale size in KSM | time since last sale |  median time between sales |
|-|-|-|-|-|-|

### Ref
- #1818
- #1285
- #1496
- #2346

[2021-12-03 14:26] vikiival commented on #1385
Looks like Identicon somehow renders whole gallery component

<img width="280" alt="Screenshot 2021-12-03 at 15 25 41" src="https://user-images.githubusercontent.com/22471030/144618655-d8d8d1f0-6850-4187-a7fe-9ca77f87981c.png">

CC @dezine2dev

[2021-12-03 14:35] onerawartist commented on #1310
@yangwao No more bounties ? lol im no where near ''funded'' for a new laptop 😂

[2021-12-03 14:55] roiLeo commented on #1385
clear browser cache.
Things that don't work for me is pagination on profile as it rewriting url:
rmrk/u?page=2

[2021-12-03 15:49] yangwao commented on #1305
sent! https://kusama.subscan.io/extrinsic/0xe1ee393f84e3bc52de472a06dbb9da35b26b5510f620b88817a437c17f5a302b

[2021-12-03 15:58] roiLeo commented on #1382
Feel free anyone to edit this line
https://github.com/kodadot/nft-gallery/blob/a6d902cd01cf109a8524ee8ccae013c388d6fa83/langDir/en.json#L190

[2021-12-03 16:01] yangwao commented on #1379
#1385

[2021-12-03 16:07] roiLeo opened #1388 "White space in front of Twitter Identity"
On nuxt branch, there is a "space" between twitter icon & name.

![Screenshot 2021-12-03 at 17-04-41 nft-gallery-nuxt](https://user-images.githubusercontent.com/9987732/144634109-07d6792b-3bbe-4855-a358-edb56862b175.png)

![Capture d’écran 2021-12-03 à 5 06 29 PM](https://user-images.githubusercontent.com/9987732/144634399-21ea10e6-c9aa-48b7-9c90-64e87a595ae5.png)

[2021-12-03 18:32] onerawartist commented on #152
@yangwao i sent the link of the video to @vikiival

[2021-12-03 20:42] onerawartist commented on #1235
@yangwao , why not remove the emojis and put just a simple text.

![Annotation 2021-12-03 213934](https://user-images.githubusercontent.com/71472224/144670191-d32a4c86-b88d-4023-b629-4fe173bf6f6f.png)

[2021-12-03 21:32] onerawartist commented on #1007
@Top-Kraken @yangwao , any updates ?

[2021-12-04 11:02] jbienesdev commented on #1317
Hi @yangwao . For this issue are we going to just append the on-chain identity at the end of the shortened address like this?

![image](https://user-images.githubusercontent.com/17470909/144707055-fb326f48-9e63-41a5-b0bf-cfdc94ece3ed.png)

[2021-12-04 15:31] mrmetaverse commented on #1368
I'm a huge fan of procedural dungeons. The nerd in me can't wait until we have the ability to generate a planet, generate a puzzle on that planet, and generate a random item or chest at completion. This could literally be a game you can never fully complete, and would serve as a puzzle piece for others to add to their games, worlds, and experiences.

Definitely keep me updated. Happy to help produ

[2021-12-04 16:21] lohba commented on #1388
I will fix this

[2021-12-04 18:36] yangwao opened #1390 "Show whale collected nfts from particular creator"
When whale lands on creator profile. Show them somewhere in header how much nfts are collected from particular creator
Inspiration from Spotify

Enjoy chiptune hardbass

![Screenshot_20211204-193453.jpg](https://user-images.githubusercontent.com/5887929/144720780-9c765a84-e9e0-4296-b799-bc4ce1dbd28c.jpg)

[2021-12-04 20:31] yangwao opened #1391 "Test ui for Cthulhu Zalgo Unicode"
Check for bleding unicode characters over more lines

Ref
https://onlineunicodetools.com/generate-zalgo-unicode

[2021-12-04 21:45] yangwao opened #1392 "Research on interesting data points"
Check which data points we can showing for rmrk from

Check each collection for interesting insights
https://degendata.io/project/braindrops
https://degendata.io/project/mekaverse

It's freezing 🥶 on phone but number of TX seems doable.

Seems every collection has different datapoints, uwaga chujowo

![Screenshot_20211204-224727.jpg](https://user-images.githubusercontent.com/5887929/144725600-3bc5

[2021-12-04 22:35] onerawartist commented on #1326
@prachi00 any updates?

[2021-12-04 22:39] onerawartist commented on #1235
@vikiival @prachi00 is it possible?

[2021-12-05 09:39] vikiival commented on #1235
Oooor maybe flags ? Cc @roiLeo

[2021-12-05 12:13] yangwao opened #1394 "Migrate indexer under kodadot"
Once we've finished Beta rolling to production, we should migrate this and update URLs as well to new org etc

More ppl want to build around KodaDot so it would be easier for them find this under one org

### Ref
https://github.com/vikiival/magick

[2021-12-05 13:05] yangwao commented on #1202
i've been surfing internet https://github.com/israelss/vue-worker
https://gitlab.com/schoolmouv-open-source/vue-log-worker

[2021-12-05 13:17] yangwao opened #1397 "Create kodadot-app Netlify Deploy Button"
Let's put stuff up to bring forking kodadot faster.
Be mindful of all environments if everything works well

- List KodaDot here https://templates.netlify.com/
- When deploy happen, make PR should be listed in #1171

### Ref
- https://www.netlify.com/blog/2016/11/29/introducing-the-deploy-to-netlify-button/
- https://css-tricks.com/hack-the-deploy-to-netlify-button-using-environment-variables-to-m

[2021-12-05 13:48] #1388 closed

[2021-12-05 14:02] onerawartist commented on #1371
@yangwao i agree, something like (blender today) ,

a weekly live show on youtube, here's an episode:

https://www.youtube.com/watch?v=vkFu3fbhj4I&ab_channel=Blender
.
and the questions are asked on another website:
https://blender.community/c/today/?sorting=hot
.
he makes a post at the start of the show and try to asnwer as many question as possible each week ^^ ,
its a great way to build a commu

[2021-12-05 14:05] onerawartist commented on #1367
@yangwao  , can't we try to fix this one first , then work on #1357 . because this looks like a simple thing to do, to just hide the empty collections ?

[2021-12-05 14:16] onerawartist commented on #1353
https://user-images.githubusercontent.com/71472224/144750216-89919ff3-235f-43b9-82fa-a952cb67e8b0.mp4

@yangwao @XyloDrone can we use this ? i made it for the discord logo initially , but it will be cool here too ^^

[2021-12-05 14:18] yangwao commented on #1317
yes, this should be enough :)

[2021-12-05 14:29] yangwao commented on #146
Make it more native to set identity https://github.com/kodadot/nft-gallery/issues/1262

@XyloDrone let's take care of that!

[2021-12-05 14:45] yangwao commented on #1382
Let's edit colors https://github.com/kodadot/nft-gallery/commit/5c4c2172b2a23d8e3387c2930e672b4939607af2

[2021-12-05 15:19] yangwao opened #1398 "Generative voice narration for XR galleries"
Let's fetch description of exhibited NFTs and NFT collections and fabricate/generate text NLP and make it meaningfully for the viewer and create text to speech voice from that.
Hence GPT3 is in beta we can fetch and maybb offer it as service as it will always costs somethin

🙏 Collab w @vikiival

### Ref
- #1197

[2021-12-05 16:30] yangwao commented on #1392
Takeaways
- median price of NFT in collection
- number of tx transactions
- pie chart by owners (maybe add later?)
- highest sale
- maybe make graph of items for sale, bought and unique owners in time, it can tell us more about successfulness of collection
- graph Y: number of owned items from the collection, X: current KSM balance of holder address (optional Z: in time)
- zoom data based on the p

[2021-12-05 17:02] onerawartist commented on #152
@XyloDrone @yangwao @vikiival
.
https://drive.google.com/drive/folders/1zr1KpjQKlBXRPipvOa02tZyesLgH4bWR?usp=sharing

[2021-12-05 17:55] kkukelka commented on #1367
this can only be solved on the api-level through rewriting the respective resolver for the "collectionListWithSearch" query, since graphql queries cant filter out items with empty arrays in one of their properties

<img width="772" alt="Screenshot 2021-12-05 at 18 52 12" src="https://user-images.githubusercontent.com/17953978/144757636-8ec25098-b24e-45f5-8885-10462fdcad57.png">

[2021-12-06 09:18] roiLeo commented on #1235
+1 to use svg/png flags. Let's find a nice pack.

[2021-12-06 09:38] vikiival commented on #1367
Ref https://github.com/vikiival/magick/issues/11

[2021-12-06 13:17] yangwao opened #1402 "Gaze 'n Buy"
We've chatted with beloved friends here in Bled or internally called Blend and we are 100% sure it would work.

Let me briefly draft what's is about.

Let's implement something in a-frame, where you just stare on some item for a prolonged period and it automatically sign the transaction stuff so you collect by staring on items

@rchovatiya88 let's add some sauce and when we can see it pipeline 😄

[2021-12-06 13:29] yangwao commented on #1353
This is quite big, should be something simple, however I like usage of our v2 logo. Let's try make something with kodadot logo v3 👀

Something which has simple outlines best and works on b&w screens and is memorable and not annoying after seeing it thousand time :D

[2021-12-06 15:32] vikiival opened #1405 "Create @kodadot/apps-config"
### Is your feature request related to a problem?

Similar to @polkadot-js/apps config we need one for KodaDot.

### Describe the solution you would like

Why so?

now we have routes:
/rmrk - needs kusama WS
/unique - needs statemine

future
/bsx

First draft => Map<prefix, url>

### Describe alternatives you have considered

I have tried this alternative

### Screeenshots

Paste your vision

[2021-12-06 15:45] yangwao opened #1406 "Shopatainment - partybid like"
It should be interesting to put properties of shopatainment inside kodadot.

Like partybid but on top of collections could definitely work?

### Ref
- [https://a16z.com/2020/12/14/shopatainment/]()
- https://www.partybid.app/

[2021-12-07 09:36] roiLeo opened #1409 "navigation: dropdown"
- show dropdown arrow near "EXTRA" menu
- same for "CREATE"?
- [dropdown](https://buefy.org/documentation/dropdown/) on hover?
- test it on mobile

[2021-12-07 09:38] roiLeo opened #1410 "hide burned nft from stats"
We shouldn't add burned nft in stats as we don't show them anymore.

tested on:
/rmrk/collection/54eea4ff69b8f03873-8C7BN

![Screenshot 2021-12-07 at 10-37-54 nft-gallery-nuxt](https://user-images.githubusercontent.com/9987732/145004568-0544b3b5-094d-4554-9fd3-e82509c0bd9c.png)

![Screenshot 2021-12-07 at 10-38-15 nft-gallery-nuxt](https://user-images.githubusercontent.com/9987732/145004634-d56e38

[2021-12-07 09:56] roiLeo opened #1411 "Infinite Scroll on collection"
### Is your feature request related to a problem?

improvement

### Describe the solution you would like

I would like to see an infinite scroll in collection/{id}

### Brief
- fetch nft & image on scroll
- use [AsyncData](https://nuxtjs.org/docs/features/data-fetching/)
- lazy load images

### Describe alternatives you have considered

- create a new component

### Screeenshots

![Paste your visi

[2021-12-07 10:05] yangwao opened #1412 "When I choose my account on item detail"
Seems something went terrible wrong

@dezine2dev keen to explore?

![image](https://user-images.githubusercontent.com/5887929/145008864-c527afac-04e9-4b09-a7a4-2bee01fd4dd6.png)

[2021-12-07 10:08] yangwao opened #1413 "Handle non existing collection"
When I open
https://kodadot.xyz/rmrk/collection/10352274-409E451AFD98397563-AURA3D-AURA-V-0000000000000006

Keeps loading, but users really don't know if it's an issue in internet, our bug or what's happening.

We should handle somehow that user is opening non-existing collection, item, etc.

![image](https://user-images.githubusercontent.com/5887929/145009212-a32c3888-b67b-4d31-a65a-858de80470ff.

[2021-12-07 10:12] yangwao opened #1414 "Old links doesn't work with new Nuxt"
Testing case `/rmrk/detail/10414739-a88e885b621631ab0f-888-537_OR_DECOM888-0000000000001500`

Works https://kodadot.xyz/rmrk/detail/10414739-a88e885b621631ab0f-888-537_OR_DECOM888-0000000000001500 on old version

Does not work https://main-nuxt--koda-nuxt.netlify.app/rmrk/detail/10414739-a88e885b621631ab0f-888-537_OR_DECOM888-0000000000001500

[2021-12-07 10:21] yangwao opened #1415 "Creator twitter doesn't appear on collection"
When I'm going from
https://deploy-preview-1395--koda-nuxt.netlify.app/rmrk/gallery/10352274-409E451AFD98397563-AURA3D-AURA-V-0000000000000006

I see Twitter of artist
![image](https://user-images.githubusercontent.com/5887929/145011373-8cb94a2a-66c8-4142-963d-2f37f161067d.png)

When I land on collection I don't see it anymore 👀
![image](https://user-images.githubusercontent.com/5887929/145011418-

[2021-12-07 10:23] roiLeo commented on #1414
This has been replaced by:
/rmrk/gallery/{id} -> will show nft details
/rmrk/gallery -> will show nfts list

[2021-12-07 10:24] yangwao opened #1416 "Creator Twitter doesn't show on legacy version"
https://kodadot.xyz/rmrk/u/E33bfGiaTKhJ3q6F1c6WFhfaNpcu5f68E2WQLLL1vR7RiYi

![image](https://user-images.githubusercontent.com/5887929/145011928-65119e82-2ebd-4930-9ce3-445224968693.png)

Where on Beta it show's up
https://deploy-preview-1395--koda-nuxt.netlify.app/rmrk/u/E33bfGiaTKhJ3q6F1c6WFhfaNpcu5f68E2WQLLL1vR7RiYi

![image](https://user-images.githubusercontent.com/5887929/145011975-8f629c64-

[2021-12-07 10:34] #1382 closed

[2021-12-07 10:35] yangwao opened #1417 "Add YOLO to user preference"
- replace for user Buy Now with Yolo at particular places
- in collection filter, gallery, collections etc
- Replace BUY button at item detail with Yolo

### Ref
- https://github.com/kodadot/nft-gallery/issues/1382
- #942
- #1160
- https://github.com/kodadot/nft-gallery/issues/1311
- https://github.com/kodadot/nft-gallery/pull/1395

[2021-12-07 10:36] #1311 closed

[2021-12-07 10:59] yangwao opened #1418 "Add Vite to main so we can be at awesome-vite"
Because, why not?
![image](https://user-images.githubusercontent.com/5887929/145016855-d4a29c4a-0a1d-4471-b4c4-aee3caeb4770.png)

Seems we can use bridge right away https://v3.nuxtjs.org/getting-started/bridge/

## Ref
- https://github.com/vitejs/awesome-vite
- https://github.com/nuxt/vite -- seems Vite is part of NuxtBridge
- https://v3.nuxtjs.org/getting-started/bridge/

[2021-12-07 11:10] #1317 closed

[2021-12-07 11:14] yangwao opened #1419 "Would it be better to have current nft minting fee in common file (@.common:data.KSM.fee) or something like that?"
wouldn't it be better to have current nft minting fee in common file (@.common:data.KSM.fee) or something like that?

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/pull/1399#pullrequestreview-825002527_

[2021-12-07 11:24] yangwao commented on #452
This is already done by this https://kodadot.xyz/tutorials
But I guess we should revisit and add more tutorials there

[2021-12-07 11:55] yangwao opened #1420 "Choose your indexer"
Let's add this to settings somewhere

![image](https://user-images.githubusercontent.com/5887929/145024732-e6a2b13a-918c-47cf-87c7-505dcf85b250.png)

### Ref
- #942
- #1160

[2021-12-07 11:59] yangwao opened #1421 "Add storing Discord to Identity storage"
Let's add storing Discord handle to the Identity form

[2021-12-07 12:04] yangwao opened #1422 "Add preview hover card"
Like on Github, seems [hic.af](https://hic.af/o/528559) has it as well, was thinking about this a long time ago so it can help preview on a particular artist

Would be great just to prepare components for this as it will be reusable for other contextual stuff

The first implementation could carry this information about the artist
- 🕛 Time from the first mint. Like "3 months ago"
- 💸 number of coll

[2021-12-07 12:08] yangwao commented on #1210
Found this issue searching for something else, how this is looking this?

[2021-12-07 12:16] yangwao opened #1423 "Create repository for curating deny list of artists"
Thinking that we should have a curated list of addresses that are either
- copy minters
- you don't like them for reason - spamming gallery
- low-quality collections (someone perceive it as offensive)

The format of the list would be probably just list

- CuHWHNcBt3ASMVSJmcJyiBWGxxiWLyjYoYbGjfhL4ovoeSd - <reason>
- Somewhere here were spammy Dinos https://kodadot.xyz/rmrk/gallery?page=2242
- Exten

[2021-12-07 13:19] prachi00 commented on #1417
@yangwao I'll pick this up

[2021-12-07 13:22] prachi00 commented on #1413
maybe we can handle this by routing the user to /collection if the collection doesn't exist? @yangwao

[2021-12-07 14:14] yangwao opened #1425 "Hijack text-fragments for portaling users to particular position"
We could hijack this for the portal link between worlds probably and locations!

![image](https://user-images.githubusercontent.com/5887929/145044589-7cc52a74-4375-4bb8-b629-f7ffd2b63300.png)

### Demo

- `https://github.com/kodadot/kodadot-presskit/issues/17#:~:text=Just%20need%20to%20confirm%20our%20current%20no%20of%20users%20or%20remove%20this%20%2B%20decide%20which%20platform%20to%20post%20on

[2021-12-07 15:06] jbienesdev commented on #1422
@yangwao
Coded 2 sample layouts. Which one do you prefer or any suggestions you might have.

![image](https://user-images.githubusercontent.com/17470909/145053800-df4434a3-4694-4b6b-bd71-8ca6b6abff65.png)

![image](https://user-images.githubusercontent.com/17470909/145053919-ed420c5f-ae60-4458-ad19-4bcf1f9cfce3.png)

[2021-12-07 15:20] roiLeo commented on #1422
I prefer the second one, would it be possible to try a version with bottom content centered?

[2021-12-07 15:24] jbienesdev commented on #1422
Yes we can do that. Here's the bottom content centered version
![image](https://user-images.githubusercontent.com/17470909/145057149-b1129407-3af1-41ce-9bc1-44adccd9b321.png)

[2021-12-07 15:38] roiLeo commented on #1155
closed in #1403

[2021-12-07 15:38] #1155 closed

[2021-12-07 15:41] roiLeo commented on #988
closed in #1147

[2021-12-07 15:41] #988 closed

[2021-12-07 16:37] #653 closed

[2021-12-07 16:43] rchovatiya88 opened #1428 "Bugfix from `nuxt-xr` branch"

[2021-12-07 16:45] yangwao opened #1429 "Check bug on fetching data with XR gallery"

[2021-12-07 16:56] yangwao opened #1430 "Set default world fy_ice_world and make it fly"
- [ ] set default world - https://github.com/kodadot/nft-gallery/issues/1193
- [ ] missing navmesh @rchovatiya88
- [ ] positioning picture frames on the map
- [ ] adding portals/teleports to the map
- [x] place 3d models on top of island

[2021-12-07 17:20] onerawartist commented on #452
@yangwao if you liked what i made, i'm open to making more tutorials ^^

[2021-12-07 17:22] onerawartist commented on #1410
this is a must

[2021-12-07 17:57] yangwao opened #1431 "Research on compressing bigger gltf models and make it smaller"
I've found https://google.github.io/draco/ which could reduce the GLTF file size by 90-95%
https://aframe.io/docs/1.2.0/components/gltf-model.html

h/t @onerawartist for nudge on this!

[2021-12-08 07:42] yangwao opened #1432 "Buy me something random"
This could be plugin per se.

It could be on top of collection button, where we would offer component for user to buy something random available. Probably closest to Lootbox

- select range for price low - max buyer want to spend
- traits - user is looking for at
- how new is NFT
- other abrevations from filtrrd

### ref
- #(bring your own metadata)
- #(game dashboard)

[2021-12-08 07:53] yangwao opened #1433 "Brand Image and History"
Yeah, we've got grant from web3foundation in 2019, chopped through rewrite whole dotapps into VueJS, where we gained huge knowledge moat by knowing how things works.

Then we implemented RMRK as first unofficial explorer and nowadays we are NFT explorer for other parachains, like OpenSea for Parachains.

Fair enough or should we work on better messaging? @XyloDrone

[2021-12-08 08:28] yangwao opened #1436 "Preloader fun facts"
Till user stares at finishing their buy into Blockchain, would be nice to maintain contact with them in reasonable way, like fun facts about NFTs is probably cheapest hack

Similar like Disocrd tricks you while they loading app in the background.

It should be extended preloader component and fetch quotes from translations in random fashion.

Let me take first round. Add them to en.json please

Ad

[2021-12-08 08:38] yangwao opened #1437 "Add roles based on their on-chain activity"
Actually this could be more part of Portcullis so it would be nice to beta test ahead.

If ppl mint and buy something through KodaDot, we can mark them in Discord as "verified" creator/buyer through Discord role so we can create special channels for them.

h/t d14 for hint!

### Ref
- https://twitter.com/spooncave_nft/status/1468291646748086282?s=20

[2021-12-08 09:36] vikiival commented on #1289
In commit of 49a623512af2f108c778ba0a543a7c63dcec6913 , the buy logic was broken

[2021-12-08 10:16] yangwao opened #1439 "History browsing component of user history"
Would be nice to
- add an icon to the navbar so you can return to previously browsed NFTs
- Store it into Vuex for the last 50 NFTs?

In the popup, on the click -- fetch data from indexer? render toast to show them
- small preview of NFT
- name
- price if it's still available for sale
- X for removing it from the store
- Order it by days -- with headlines Today, yesterday, 2 days ago &c

![image](

[2021-12-08 10:20] yangwao opened #1440 "Add hall of fame for bug/security reporters"
We would encourage to ppl reporting us security, bugs, vulnerabilities &c to put top10 ppl reporting bugs founded in KodaDot

Could be separate .md, like hall_of_fame.md

Could be recycled from FAQ engine to make it like by year &c like Mozilla do
- Name - short one-liner to descript what has been reported

### Ref
- https://www.mozilla.org/en-US/security/bug-bounty/hall-of-fame/
- https://www.goo

[2021-12-08 10:56] vikiival opened #1441 "Post Mortem: Disabled buys"
### What happened?

Issue #1289 allowed users to skip one more step and instantly buy the NFT using the green buy button.

This feature was implemented in pull-request #1293.

What happened?

[code]

The implementation stated above just checked if the clicked action is `BUY` and then submit the transaction.
However, the implementation did not update the selected action. So people were submitting e

[2021-12-08 11:01] #1441 closed

[2021-12-08 11:03] #1301 closed

[2021-12-08 11:03] #1410 closed

[2021-12-08 11:28] kkukelka commented on #1418
@yangwao development build is still a mess with NuxtBridge 🥲 ... i will probably give it another show once Nuxt 3 is out of beta

<img width="932" alt="Screenshot 2021-12-08 at 12 27 04" src="https://user-images.githubusercontent.com/17953978/145200946-b7ce9f2f-7f7e-456f-bcf8-c1b6887f805c.png">

[2021-12-08 11:48] #1287 closed

[2021-12-08 11:53] jbienesdev commented on #1422
Hi @roiLeo @yangwao

I used [vue-tippy](https://github.com/KABBOUCHI/vue-tippy) to handle the popover feature. All static content for now.

https://user-images.githubusercontent.com/17470909/145204025-3496cfe3-6f01-4f0d-a0e8-03af4776035e.mp4

[2021-12-08 11:56] yangwao opened #1442 "Transition between pages"
Add transition preloading between pages
We really miss this to smooth the transition between pages in KodaDot

### Ref
https://user-images.githubusercontent.com/5887929/145204442-17504165-eb21-431d-b756-b3467a03af88.mov

[2021-12-08 11:58] kkukelka commented on #1439
@yangwao I'm on it.

[2021-12-08 12:36] yangwao opened #1444 "Matrix QR codes for higher payload"
Would be interesting to research matrix 2d barcodes we can use with higher payload
We would preserve air-gapped devices to work with kodadot in the future in "secured" way

https://en.wikipedia.org/wiki/Barcode#Matrix_(2D)_barcodes

[2021-12-08 12:48] #1272 closed

[2021-12-08 13:26] yangwao opened #1445 "Onboarding experience v0"
We will need to work out onboarding experience.
From freshly non-tech-savvy users you would take care for
- making that really weird questions
- creating answers to them, if have doubts, looking after others to help you with that
- take care of creating video tutorials (English native speaker required)
- explain how to install the extension
- how to do the first mint
- how to collect stuff
- what

[2021-12-08 14:14] onerawartist commented on #1445
@yangwao @vikiival
https://drive.google.com/file/d/1LH2eITqR4h0dBMq3b_9ErmW8nEk3QoIf/view?usp=sharing
if you liked the video i can take this, i'm not a coder and i can share my own experience

[2021-12-08 14:26] yangwao opened #1446 "Sponsoring KodaDot issues for external contributors"
Let's see that KodaDot sponsors out of its own pocket a few issues which are extremely great, but to close the gap on every growing issue and a backlog of KodaDot development, would be nice that others could participate and take chance to speed up development pumping up bounties on various issues.
Sponsors could maybe accrue $koda in return?

The ideal model, for now, would be that KodaDot can spo

[2021-12-08 14:33] yangwao opened #1448 "Putting "download toast" for service worker"
Whenever clients detect a new version, some users may notice a "slowed" app so to be the mind of that, we can tell them ahead their client is downloading the new version.

I sense that in the Nuxt we won't have this issue as the bundle isn't that big but I'm for every fun.

Make toast green like success or boring blue as the previous one?

h/t @ins0mn1a

[2021-12-08 15:02] yangwao opened #1449 "Export press-kit"
Let's make PR, but to press-kit
We need to post it and commit

https://github.com/kodadot/kodadot-presskit/issues/17

Then post your payment link using https://kodadot.xyz/transfer

Happy to process

[2021-12-08 16:06] #1429 closed

[2021-12-08 16:07] #1428 closed

[2021-12-08 16:40] yangwao opened #1450 "Things to do before Meta Hours as speaker"
Turn of sensitivity as it breaks sound

on OSX, go to the preference
![image](https://user-images.githubusercontent.com/5887929/145247565-b85e152c-d418-4716-b8d0-e53d2e643eeb.png)

![image](https://user-images.githubusercontent.com/5887929/145247371-28d0e4b2-eb38-4081-886b-0924403bb070.png)

![image](https://user-images.githubusercontent.com/5887929/145247399-15efa621-67ad-4e57-8a4a-b4ea505a4257.p

[2021-12-08 17:54] yangwao opened #1451 "Adding translation and explanantion to mass airdrop"
We should add some translation to mass airdrop

![image](https://user-images.githubusercontent.com/5887929/145258757-b9a2d5ea-3eb1-4dc3-a365-ec47165b9b4b.png)

[2021-12-08 18:23] yangwao commented on #1208
Meanwhile added to
- awesome-nuxt https://github.com/nuxt-community/awesome-nuxt/pull/497
- awesome-vue https://github.com/vuejs/awesome-vue/pull/3832

[2021-12-08 20:46] vikiival opened #1452 "Rename statemine routed"
From /unique to /statemine

[2021-12-09 02:54] rhaicode commented on #1294
I'm now resuming work for this. Does it mean I have to also work on #942  and #1160 ? @yangwao

[2021-12-09 09:07] #1452 closed

[2021-12-09 09:08] vikiival commented on #1450
May add to [Wiki](https://github.com/kodadot/nft-gallery/wiki)

[2021-12-09 09:11] vikiival commented on #1208
Post dev articles to the [dev.to](https://dev.to)

ht/ @roiLeo

[2021-12-09 09:18] vikiival opened #1453 "Tracking issue for the KodaDot Statemine"
- [x] after the collection is created, it doesn't show me that in a notification
- [x] when I go to mint and NFT and I got to choose I collection, I don't see the name of the collection instead, I see numbers (b42849f0d58fda79c5fc16ca4288ef4c9ccdc5f2)
- [x] broken route from profile -> collections to collection detail (b9c9a715e5833b828bd36b5d95bbd63cdecb4038)

ht/ @onerawartist

[2021-12-09 10:24] vikiival opened #1454 "Add Simple Mint to the Statemine integration"
Currently only Classic mint is working on the Statemine.

It would be cool to allow people to mint collections like [BirdBoy](https://statemine.netlify.app/unique/collection/1)

eg:
Same image, same meta, we can also skip metadata for the NFT (e.g fetch meta from the collection)

[2021-12-09 10:25] vikiival commented on #575
Closed by a36283484470f1cea1b444ca09eb8ac34709ee62

[2021-12-09 10:25] #575 closed

[2021-12-09 10:43] vikiival commented on #1454
Ref #1346

[2021-12-09 11:05] vikiival commented on #1257
Is this obsolete ?

[2021-12-09 11:15] yangwao opened #1455 "Add column unique owners per artist to Spotlight"
We should from Sold see how much owners artists have

Hint: This query/algo is written in collection detail
![image](https://user-images.githubusercontent.com/5887929/145386158-00635350-0e2f-4504-bb42-650467764298.png)

[2021-12-09 11:17] dezine2dev commented on #1257
I do not see the issue

[2021-12-09 11:22] #1257 closed

[2021-12-09 11:36] yangwao opened #1456 "Implement boost for artist"
Let's see how we would like to boost building the social on-chain graph.
Starting using `KODA::1.1.0::BOOST` we could implement boost creator by clicking 🖤  on #1422  and on profile.

The boost
would be expiring after 1 month,
like subscription.

It should work like,
you can give an artist boost,
once you've already own a particular NFT the creator.

You can give infinite boosts.

On the creator p

[2021-12-09 11:45] yangwao opened #1457 "Add which whale owns your NFT"
Add small Star at kodadot/ideas#16 when you are logged in and see if the whale owns nft from you

[2021-12-09 12:32] yangwao commented on #1422
amazing, let's make PR!

was thinking would be great instead of K logo
we could put there identicon of the creator
till we implement a way to show creators avatars :)

[2021-12-09 13:02] onerawartist commented on #1453
when i minted an nft , the page didn't refresh and take me to the nft page, nothing happened but the nft was indeed minted

![WM nft 01](https://user-images.githubusercontent.com/71472224/145401281-d79eeaa1-6c99-4cdd-a09b-f0d7e24e3f47.png)
![WM nft 02](https://user-images.githubusercontent.com/71472224/145401338-36b6076d-6615-4ea2-9ed4-41d1cb33d109.png)

[2021-12-09 13:03] onerawartist commented on #1453
when i go to profile , then i click on collections ,then i click on one of the collections , i supposed to see " the collection profile " , instead i get the "nft" type of page

![wm03](https://user-images.githubusercontent.com/71472224/145401477-5d25cf17-cdf0-4e73-afaa-9a83fbcb4eba.png)

this happens when the collection is still empty

[2021-12-09 13:04] onerawartist commented on #1453
my collections has names , but when i go to mint and nft and i got to choose i collection , i don't see the name of the collection , instead i see numbers ,

![wm01](https://user-images.githubusercontent.com/71472224/145401675-4d778b71-28c0-471b-9528-9afad8e427b2.png)

[2021-12-09 13:07] #1436 closed

[2021-12-09 13:17] yangwao opened #1459 "Rename /rmrk/gallery to /rmrk/detail"
We have some tiny bug that breaks testing

![image](https://user-images.githubusercontent.com/5887929/145403374-ee07afab-e65a-4ffa-93d3-62f88fc88d8c.png)

right now this doesn't work on beta tho

`/rmrk/detail/7479313-7a147cba01afccbf17-GA-GENERATIVE_ASTERISM_23-0000000000000023`

#1251

[2021-12-09 13:37] yangwao opened #1460 "Randomize quotes on preloader"
Seems when I'm hitting shuffle again I don't receive new quote 👀https://user-images.githubusercontent.com/5887929/145406405-8d38bd4f-ece5-4151-811c-34c0c01c5038.mp4

[2021-12-09 13:41] yangwao commented on #321
@XyloDrone  partially would be good to have this one as a start https://github.com/kodadot/nft-gallery/issues/1285

[2021-12-09 13:46] kkukelka commented on #1460
will fix it asap!

[2021-12-09 13:46] yangwao commented on #1285
Chance we can recycle
- #961
- #1426
@roiLeo for this?
I mean table component.

[2021-12-09 13:52] #961 closed

[2021-12-09 13:55] onerawartist commented on #1310
@yangwao this problem still exist on: https://beta.kodadot.xyz/

[2021-12-09 13:56] yangwao commented on #1364
Would be great also if I can paste link there and directly land into KodaDot, like redirecting through our router to KodaDot

i.e. test case
[code]

[2021-12-09 13:57] roiLeo commented on #1310
This will be added soon 👍

[2021-12-09 13:58] jbienesdev commented on #1422
@yangwao quick question on the PR, where should I get the information for Description, Collected, Created, Sold, and Started minting? Or will I just be hardcoding values for now for the generic component?

[2021-12-09 13:58] onerawartist commented on #1310
great ^^

[2021-12-09 13:58] yangwao commented on #1364
Goal is to,
- show button when someone pastes their Singular link to **GO TO URL**
- if someone opens it like this `https://kodadot.xyz/transform?url=https%3A%2F%2Fsingular.rmrk.app%2Fcollectibles%2F10321410-0E76E3AC15B4C1FA1E-KODADOT-KODADOT_PATRONAGE_PART_1_1-0000000000000001
` directly open that URL on KodaDot w/o waiting

[2021-12-09 14:03] onerawartist opened #1462 "share profile link in a tweet , writes weird text in the tweet"
### What happened?

weird text when sharing the profile in a tweet a tweet  (it happens only when sharing the profile , not the nft)

### Please reproduce in steps

try to share the profile of the artist

### Expected Behavior

just share the link + mention kodadot

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

Yes

### At which address did you encounter bug?

b

[2021-12-09 14:04] prachi00 commented on #1210
@yangwao tried doing router.push instead of replace, did not work as expected

[2021-12-09 14:10] roiLeo commented on #1285
We can create a table/card component like history but in artist profile "sold" tabs.
Let me see what I can do.

random note: I can't stand this buefy dashboard template anymore

[2021-12-09 14:19] yangwao opened #1463 "Absolute profile home for 42 substrate address"
Whenever we will work over more networks, in a similar fashion would be amazing to have a home for one address per more parachains.

Probably best solution out there would be to have https://kodadot.xyz/u/<42_ss58_address> where you can opt-out to jump on users profile per network like
- kusama (rmrk)
- bsx
- statemine
- astar
- which come next

Could be linked with #(home issue) where user once l

[2021-12-09 14:23] yangwao commented on #1414
Oh and why?
I mean if someone already linking to us,
this will break old links and we want to avoid that tho.

[2021-12-09 14:25] vikiival commented on #1405
WIP: 🚧
<img width="993" alt="Screenshot 2021-12-09 at 15 24 48" src="https://user-images.githubusercontent.com/22471030/145414313-c70a9ab2-47a6-4db4-af53-621d007ae6b9.png">

[2021-12-09 14:31] #1256 closed

[2021-12-09 14:32] #1114 closed

[2021-12-09 14:32] #1028 closed

[2021-12-09 14:38] roiLeo commented on #1359
Closed in #1350

[2021-12-09 14:38] #1359 closed

[2021-12-09 14:39] roiLeo commented on #1414
#1459 related

[2021-12-09 14:50] roiLeo opened #1466 "remove unused compiled route"
in your project's directory navigate to this:
`.nuxt/router.js`
and you will see all avaible routes.
Some of them will never be used
![Capture d’écran 2021-12-09 à 3 48 50 PM](https://user-images.githubusercontent.com/9987732/145418331-b8a66a62-d72a-47cd-b3b6-4fcb0319f222.png)

### Suggestion
- looks like nuxt i18n is generating wrong route

[2021-12-09 14:52] jbienesdev commented on #1422
Identicon has been disabled recently https://github.com/kodadot/nft-gallery/commit/36677acdd7515957d8460201949d8f90615be6b5 . Am I still going to continue using it or you have any image generators in mind.

[2021-12-09 14:54] yangwao opened #1467 "Zoom on user profile"
Knockout 3 col layout and replace it with 2 col layout for better impress
using instead of `is-one-third-desktop` -> `is-half-desktop`
![image](https://user-images.githubusercontent.com/5887929/145419235-ff6ba6e5-109b-4175-bce9-c23f76ed66c8.png)

[2021-12-09 15:06] #1467 closed

[2021-12-09 15:24] yangwao opened #1470 "Android Auto KodaDot"
Would be amazing to have something like KodaDot for Android Auto and explore possibilities. Audio definitely works!

 ![IMG_20211209_162001.jpg](https://user-images.githubusercontent.com/5887929/145424608-32821bcf-7d6b-4e5b-9f51-1e16004afadf.jpg)

[2021-12-09 16:57] yangwao opened #1472 "add discord badge to readme.md"
idk how it works or where to find it :D

![image](https://user-images.githubusercontent.com/5887929/145441311-64a2c7c4-8ddd-4741-8400-98b98970b481.png)

[2021-12-09 18:06] onerawartist commented on #1367
@vikiival @yangwao
can you also hide the number of the consumed nfts , from the collection statistics ?
i removed most of the nfts , because you guys added the thumbnail option, so i burned all my nfts , and minted them again, but when the statistics are shown like that , it gives bad image to the collection and to me
----------
![01](https://user-images.githubusercontent.com/71472224/145451308-2c

[2021-12-09 18:07] onerawartist commented on #1367
Hide empty collections and hide consumed nfts from collection statistics

[2021-12-09 18:15] onerawartist opened #1473 "i cant select the text in collection description / or click on the link"
### What happened?

i cant select the text in collection description / or click on the link
![01](https://user-images.githubusercontent.com/71472224/145452781-6a581c58-1531-474c-b15a-23d7f83b8013.png)

### Please reproduce in steps

/

### Expected Behavior

/

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

Yes

### At which address did you encounter bug?

nft.ko

[2021-12-10 09:46] roiLeo commented on #1473
New UI will fix this.
![Screenshot 2021-12-10 at 10-45-17 nft-gallery-nuxt](https://user-images.githubusercontent.com/9987732/145553230-1f43073e-1563-4484-af5a-c70e98ba1d8d.png)

@onerawartist fyi, if you want to display link in collection description you can use [Markdown link](https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-

[2021-12-10 11:38] yangwao opened #1476 "Set access discord bot based by roles"
To have much more streamlined community etc, we will be adding access roles based on what you are doing etc and have less channels and noise to look on.

I guess current roles we can have are
- creators - channels related to collab, creators hangout etc
- collectors - whale chat, proofing your holdings etc
- developers - ones who doing development for kodadot
- rest?

Inspired by psychadelic.ooo c

[2021-12-10 12:30] yangwao opened #1477 "Payout leaderboard for KodaDot"
We are all monkeys.
And would be nice to build trust for external contributors,
where external contributors could easier justify
that we do payouts on regular basis and see ppl how they contribute etc
The requirement to run as serverless function, best if we can deploy it in some public way, using autocode.xyz or something like that, should be few lines and cracking graphql and right queries
We'd

[2021-12-10 12:43] yangwao opened #1478 "Change preloader on beta"
let's change the preloader on the beta on something more creative and kodadotish

![image](https://user-images.githubusercontent.com/5887929/145575928-5e5f7455-ce9d-4ae5-8e32-54776944deec.png)

[2021-12-10 12:47] #1415 closed

[2021-12-10 13:16] yangwao commented on #1326
please @prachi00 don't forget to push #1404 also against `main-nuxt` thank you!

[2021-12-10 13:29] vikiival commented on #1405
🏗️  Most of the work done in

[code]

[2021-12-10 13:40] yangwao opened #1479 "Migrate BUYs column from series-insights to beta"
Seems to buy is missing in beta

kodadot.xyz/series-insights
![image](https://user-images.githubusercontent.com/5887929/145582810-416fe414-3ce9-4a79-a2b8-e302e18ff64e.png)

https://deploy-preview-1291--koda-nuxt.netlify.app/series-insight/
![image](https://user-images.githubusercontent.com/5887929/145582867-b442b13a-15e1-4e99-9417-adb6df87c883.png)

[2021-12-10 13:44] yangwao opened #1481 "Inspect CORS with our indexer provided by Subquery"
Okay, it behaves really sketchy as I receive 502 on 50/50 cases.
On some queries even I don't receive a reply from their gateway. Seems must be terrible gone bad on their side.
Some really basic queries do works.

Seems Subquery added checking CORS?

It happens both on kodadot.xyz and beta.kodadot.xyz and PR deploys against beta and kodadot.xyz

![image](https://user-images.githubusercontent.com/5

[2021-12-10 14:04] yangwao opened #1482 "Deploy Subsquid custodial starting implementing custodial service"
- DZLZV handed us over keys for nuclear weapons
- implement auth key stuff
- set up stuff for rolling testing on beta

[2021-12-10 14:06] vikiival commented on #1482
[Repo](github.com/kodadot/dark-magick)

[2021-12-10 14:26] yangwao opened #1483 "Add H-spread to the chart"
This is continued from
- #1121
- #1291
You might find research done by @rhaicode on this topic for faster implementation

### Spec
- Add H-spread to chart  #1119
- User could see the box plot  on the chart https://codepen.io/sgratzl/pen/QxoLoY
- it could be done as a dedicated chart or shown as separate column next to the main chart on the right

[2021-12-10 14:27] #1121 closed

[2021-12-10 14:57] yangwao opened #1485 "Links to creator doesn't work at Spotlight"
Links from Spotlight doesn't work

![image](https://user-images.githubusercontent.com/5887929/145594154-eed7436f-fd34-40ef-997f-9224fde945cf.png)

[2021-12-10 15:12] yangwao commented on #1466
yes, that's bug with 700+ generated unusual routes? that could help us to cut on builds minutes!

[2021-12-10 15:23] yangwao opened #1486 "Turn off skeleton while paginating on collection"
On collection, we should not "skeleton" data which are actually the same over on the next pages.
I know we don't once it's cached but it's breaking user attention

https://user-images.githubusercontent.com/5887929/145597950-9150a7be-3c8f-4c8e-9454-f3ce51103705.mov

[2021-12-10 15:24] yangwao commented on #1385
okay on recent beta.kodadot.xyz it's not happening for me
![image](https://user-images.githubusercontent.com/5887929/145598214-6d1a6ff8-2904-4329-9bbb-62491c891858.png)

[2021-12-10 15:24] #1385 closed

[2021-12-10 15:34] yangwao opened #1487 "Replace Facts place with chart engine"
I recall we thinking of removing facts for now totally and placing chart at the place where facts are right now

![image](https://user-images.githubusercontent.com/5887929/145599643-41527c4f-c287-40eb-9d4e-a6c3a2757ee4.png)

[2021-12-10 15:38] #1422 closed

[2021-12-10 15:52] #1414 closed

[2021-12-10 15:52] #1459 closed

[2021-12-10 15:52] #1466 closed

[2021-12-10 15:52] #1485 closed

[2021-12-10 16:18] yangwao opened #1489 "Smart article about KodaDot to hello"
We could put ourselves there as OpenSea for Polkadot, NFT explorer.
Aggregating NFT standards across Polkadot/Kusama parachains with emphasis on NFT analytics and highlighting
- series-insights
- spotlight
- whale index kodadot/ideas#16
- flipping dynamics kodadot/ideas#7
- what's hot kodadot/nft-gallery#1386

h/t @kkukelka for nudge

Before making PR to Polkadot/Kusama Wiki/Wikipedia, please elab

[2021-12-10 17:27] jbienesdev commented on #1477
Hi @yangwao this is an interesting feature. Mind if I start creating a script fot this. I'm gonna use Javascript if it's fine for you. Will ask questions if I have any.

[2021-12-10 20:21] vikiival opened #1491 "Mint VR scenes"
[Example](https://arweave.net/_N_D92ONxfZbxxrzT_hQTtdHJueBDxr1pFgSbbyyv0Y)

ht @rchovatiya88

[2021-12-11 06:23] kkukelka commented on #1419
@yangwao this can be closed as I additionally implemented it in #1399 👍

[2021-12-11 08:08] yangwao opened #1492 "Create dashboard status.kodadot"
For particular reason to be aware if we are up or not would be great to have handsome endpoints to see what's needed to have seamless working with users

### spec
We should be able monitoring endpoints and route on minute basis, hope that's enough using serverless functions

- [ ] subquery endpoint (magick)
- [ ] SubSquid endpoint (rubick)
- [ ] snek
- [ ] unique
- [ ] Netlify edge performance poi

[2021-12-11 09:47] yangwao commented on #1439
I'm thinking, let's make it bit advanced as we do have collections.

So if someone visits collection,
just add collection there.
If someone visits NFT from particular collection, add there collection and NFT under it.

Tricky part is how to visualize it easier there.

![Screenshot_20211211-104524.jpg](https://user-images.githubusercontent.com/5887929/145672095-5d66111e-3244-4112-81c6-2654a31e491c.

[2021-12-11 09:53] yangwao opened #1493 "Fast-checkout from history screen into user preferences"
Followup after
- https://github.com/kodadot/nft-gallery/issues/1439

We are thinking to speed up by adding the buy button to the history screen for those hungry whales

### Ref
- #942
- #1160

[2021-12-11 10:14] yangwao commented on #349
it's working on vite.dev https://vitejs.dev/ using Algolia https://www.algolia.com/pricing/ isn't that expensive!

[2021-12-11 10:16] yangwao commented on #349
Oh, I've missed this one.
Yeah, it could work appear on keyboard shortcut, maybe a button, people will learn later.
Yeah searching over collections would be best and showing nft names.

[2021-12-11 11:16] rhaicode commented on #1487
Hi @yangwao , I have provided a pull request for this issue. :)

[2021-12-11 16:16] XyloDrone opened #1495 "Make Mass Airdrop function More Vissible"
### Is your feature request related to a problem?

This function is currently listed under "advance settings". This terminolgy is a bit intimidating and does not imply that the mass airdrop function is hidden within it. This should be more obvious.

### Describe the solution you would like

I would like to see: "Multiple Airdrop" option pop up below the the editions setting once the user inputs th

[2021-12-12 10:26] yangwao opened #1496 "Total sales dashboard"
I will need show up in daily market sales on RMRK for reason

Best would be, take what we have on series insights columns and spotlight columns and squash them into one view like total overall

Mind showing there when was snapshot taken, this query could be potentially huge over time.

Combining with other dataviews would be imminent

Graph could be on top of https://github.com/kodadot/nft-gallery

[2021-12-12 10:36] vikiival opened #1497 "3D marketplace"
### Is your feature request related to a problem?

It would be nice to setup 3d only marketplace

### Describe the solution you would like

--

### Describe alternatives you have considered

--

### Screeenshots

 vision by @yangwao

[2021-12-12 11:05] #1487 closed

[2021-12-12 11:08] yangwao commented on #1419
ah I see! make sense

[2021-12-12 11:08] #1419 closed

[2021-12-12 11:10] yangwao commented on #1495
Well, when the user goes for multiple airdrops, the intent is clear before, so having some dedicated view would be way easier and more narrow for ppl to drive stuff plus we could make way to make it addressable, i.e. have ready made link where one just pass parameters to URL and can smash the button mint way easier so every fields would be pre-made!

[2021-12-12 11:11] yangwao commented on #1497
Having 3d.kodadot.xyz just showing 3d objects or in other way have something dedicated URL tho.

Definitely, something we can front-run into #1327 with ease into plugins to demo our dog flooding ability

[2021-12-12 11:12] yangwao commented on #1491
whole IKEA is bunch of `a-scene`s

[2021-12-12 11:17] onerawartist commented on #1497
i would like that, but i don't know about using a different link for it
it should be shown in the tabs on top, next to gallery and collections

[2021-12-12 11:33] yangwao opened #1498 "Portcullis investment club"
Once portcullis would be done,
we will open-investment or whale club channel on KodaDot discord

### Basic requirements

What would be needed as a basic premise to enter the channel?
10-50 collected, not received by airdrop but Bought.
5-10KSM spent at least?

@AndriiHrynchuk  👀

[2021-12-12 11:54] onerawartist commented on #1367
@vikiival @yangwao  i'm hating how my profile is looking :( , when can we get this feature ?

[2021-12-12 12:47] yangwao opened #1499 "History browsing v2"
Continue from
- https://github.com/kodadot/nft-gallery/issues/1439
- https://github.com/kodadot/nft-gallery/pull/1488 (once merged)

### Spec
- crack how to show videos and 3d objects in the history component
- show items that are still only for buy (be smart here, but keep them in history if users is off, meanwhile new owner put them on sale again so it should persist probably)
- https://github.c

[2021-12-12 13:01] yangwao commented on #1477
Sure, I'm planning to write '21Q4 article for kodadot so if we could get at least some static snapshot numbers, that would be amazing most probably and happy to mention you in the article! :)

[2021-12-12 13:55] yangwao opened #1500 "Add renovate bot"
Probably needs some configuration to take so we can update the right dependencies whenever needed

- https://github.com/renovatebot/renovate
- https://docs.renovatebot.com/configuration-options/

[2021-12-12 14:05] yangwao opened #1501 "Article about vikiival/magick on dev.to"
Had idea to write article about Subquery and what we are doing with it for RMRK and beyond

Would be good to migrate indexer under kodadot organization afterwards #1394

Extend with article about rubick

It would help our new developers to onboard how we use indexers from SubSquid and Subquery

#2013

[2021-12-12 14:08] yangwao opened #1502 "Bot candidates -- add your suggestion"
We need to add some neural artificial intelligence to help us on cracking issues faster
Shoot your candidates
Candidates
- https://probot.github.io/apps/todo/ approved by @vikiival
- https://probot.github.io/apps/wip/
- https://probot.github.io/apps/weekly-digest/
- https://probot.github.io/apps/dco/ related kodadot/ops-internal#1815
- https://probot.github.io/apps/in-solidarity/
- https://github.

[2021-12-12 14:22] yangwao opened #1503 "Fill up more test cases to our testsuite"
We would be looking for more real-world events to test new UI and features of KodaDot
Make PR against TESTSUITE.md with
URL to
- kodadot.xyz
- beta.kodadot.xyz
- bulk `rmrk/...`

### Profile
- lot of interaction per profile means
  - lot of created art - 3 entries
  - lot of sold art - 3 entries
  - lot of collected art  - 3 entries

### Collection
- lot of buy events
- lot of list events per coll

[2021-12-12 14:24] yangwao commented on #1314
@roiLeo let's remove hound and add reviewdog then?

[2021-12-12 16:21] yangwao opened #1505 "Wider layout for mobile"
Seems we have narrow layout on mobile on beta

![Screenshot_20211212-172014.jpg](https://user-images.githubusercontent.com/5887929/145720424-4565f30f-eaf7-400a-b861-bb82575aa9bc.jpg)

[2021-12-12 19:25] yangwao opened #1506 "Language translation v2"
We should revamp pushing ppl to help us to translate KodaDot.

- check where we miss translations to en.json
- prepare onboarding videos on how to translate @cryptodamsky could help us on this probably!
- #1891 -- set bounties for translation
- make a shout out

[2021-12-13 00:30] onerawartist commented on #1503
@yangwao i don't understand , should i repport more ?

[2021-12-13 08:23] roiLeo commented on #1506
It might be time to look at #2 to simplify contribution for non-developers

[2021-12-13 09:59] XyloDrone commented on #1495
Agreed!

[2021-12-13 10:01] XyloDrone commented on #1285
We can create a "statistics" tab for every NFT, artis and collection. how does this sound?

[2021-12-13 10:02] XyloDrone commented on #1433
We can write up an article on how KodaDot started in the "about" section. But we have some articles up already, no?

[2021-12-13 10:07] roiLeo commented on #1285
If you want to create the design I would be happy to integrate it

[2021-12-13 10:50] XyloDrone commented on #1285
Yeah, I am digging through all of our issues in order to redesign the whole site as we fell into a craigslist pit, the artist profiles are exceptionally driving me crazy

[2021-12-13 11:11] yangwao commented on #2
Nice!

But who will receive contribution credit for translation, transifex bot? If I'm right transifex it bridges through their bot to make it simple, which is doable, but we are quite loosing credits for person who contributed, hmm

[2021-12-13 11:16] vikiival commented on #1496
https://colab.research.google.com/drive/1XExu4LqnRn1TVEjEl6zk860epQuPkows?usp=sharing

[2021-12-13 11:17] yangwao commented on #1506
Yes, good point. Yet, contributors will loose attribution I guess? 👀

[2021-12-13 11:37] yangwao commented on #1499
Probably we can sort it on scrolling per day as modern Wikipedia has it 👀

https://user-images.githubusercontent.com/5887929/145805472-1882cd48-22b9-4912-8660-18cba0d289e8.mov

[2021-12-13 11:47] yangwao opened #1508 "Next and previous chevrons on NFT item detail"
To keep easy continuous browsing experience, show user chevrons and keyboard shortcuts if there are more NFTs for a particular collection or particular artist

### Spec
- show user chevrons on hover
- When the user opens NFT which is part of a bigger collection where is 1+ NFT, offer on gallery item detail right and left chevron on hover
- Add keyboard shortcuts, on keys left and right.
- prefetch

[2021-12-13 11:58] yangwao opened #1509 "The bottom border and persistence on history browser after action"
- Could be joined together with #1499
- When I don't have anything in history, probably hide the button at all?
https://github.com/kodadot/nft-gallery/pull/1488#issuecomment-992373361

- the bottom border should be fixed?
![image](https://user-images.githubusercontent.com/5887929/145805716-ae904a05-ad35-4c23-9afe-69a5f26ba222.png)

- I would preserve dialog once remove button is clicked as user mi

[2021-12-13 12:01] #1439 closed

[2021-12-13 12:15] yangwao opened #1510 "Reimplement Service worker and cache"
I've just had an occasion where toast came, clicked X, fetched a new version and collection links on collections view stopped working... then I opened a new window for beta.kodadot.xyz and their collections have worked.

Not sure what witchcraft is here, but I sense that service worker, pwa, cache reload doesn't work as intended should be.
It's quite hard to test out stuff but just raising awarene

[2021-12-13 12:28] yangwao opened #1511 "Wrong minting dates at hover card"
I strongly sense there are wrong times on hover cards
@jbienesdev 👀

This author has something which was made way weeks ago https://beta.kodadot.xyz/rmrk/u/J9cppW5x7akmWG6yTiEMHy5Cx8VVZ9YTQKV3AGfABvFXrFN

Also please recheck other numbers as well:)

![image](https://user-images.githubusercontent.com/5887929/145812039-fa2433ec-6037-4d98-a7c0-1a5e9337b00f.png)

[2021-12-13 12:37] jbienesdev commented on #1511
Sure! Will take a look on this

[2021-12-13 12:54] yangwao opened #1512 "Prefetch query on hover from preview card"
Once the user hovers with a card on artists or collection,
Let **do prefetch of data** as there is a high probability it will click there.

This could significantly improve UX and performance while browsing

### Ref
- #1422
- #1474

[2021-12-13 13:10] yangwao opened #1513 "Snapshot of huge data queries"
Currently, our UX is suffering slowness of response by Subquery on bigger queries than usual.
Sometimes client receives an HTTP status code 503 so we are still inspecting where is issue coming from.

In the long-term doubt, it would be sustainable for users and it can create a significant bill on our address. To avoid it, it could be potentially a later business model of ours.

### For now, we sho

[2021-12-13 13:26] kkukelka commented on #1509
On it. Sorry about the weird headline issue if nothing is in history.

[2021-12-13 13:29] yangwao opened #1515 "Fetch all jpegs and push them into Netlify LM"
This is quite experimental, but we need to supercharge our UX as with more parachains we need to push our stuff on the edge servers as Pinata suffers, is quite slow and doesn't quite keep pace for files.
We are a bit failing into a centralized pit, but we will store copies of IPFS & Arweave for sure still.
So stuff is still decentralized for whatever reason you need to have it permanent and distri

[2021-12-13 13:34] yangwao opened #1516 "Buy me something"
- use TensorFlow lite if possible
- hijack current random shuffle #1176
- adjust the range of what you want to buy low - max
- type
- which artist by spotlight score
- buy by #744 which means artist you previously own something!

this could be a bigger bounty if you hack it right!

[2021-12-13 13:38] #1511 closed

[2021-12-13 13:40] yangwao opened #1517 "KodaTree minimal reference data snapshot"
We are playing with the idea of having a static snapshot to probably avoid cases of what's happening due #1513 and this could unpack at the client way faster than handling each network per se, using IPFS addressing system for this.

It would be needed in cases like if user visits collection, we can have linked all NFT in that collections, so what happens you can get everything.

At some point, Sub

[2021-12-13 14:30] vikiival opened #1518 "try Very Peri color on KodaDot"
[Pantone Color Of The Year 2022](https://www.pantone.com/color-of-the-year-2022-palette-exploration) is Very Peri with the Hex code #6667AB

It would be nice to try and compare with the current dark pink

[2021-12-13 16:55] yangwao commented on #1360
Someone might appear @ironwebstar if so!

[2021-12-14 07:54] roiLeo commented on #1499
I don't know if this is the expected behavior but while using History browsing I found that we don't save/show video media, for exemple:
- /rmrk/detail/10512872-1455048def8aac1e30-6ZO0S-SNOW_GLOBE_2-0000000000000202
- /rmrk/detail/10507958-7e982817a2d2575031-ZWXW0-KUSAMA_BIRD_COLOURFULLMOOD28-0000000000000110

[2021-12-14 09:35] roiLeo commented on #1518
Gotcha fam!
![Screenshot 2021-12-14 at 10-34-01 nft-gallery-nuxt](https://user-images.githubusercontent.com/9987732/145972071-a07bbd1b-c3a2-4d24-959c-797c5d024397.png)

![Screenshot 2021-12-14 at 10-34-32 nft-gallery-nuxt](https://user-images.githubusercontent.com/9987732/145972110-5a6d61f7-64ac-4091-8c53-9b465cdd491d.png)

[2021-12-14 09:40] vikiival commented on #1518
Looks optimistic to me ! ❤️

[2021-12-14 10:25] yangwao commented on #1499
True, I was about to mention it into PR but noted it just in my brain, not the external world.

Probably we don't have previews for video media so that one would be tricky until we find a way to add "frame" from videos by the user or automatically.

Could be done for history v3 😄

[2021-12-14 10:56] roiLeo commented on #831
closed in #890 & #875

[2021-12-14 10:56] #831 closed

[2021-12-14 11:05] vikiival opened #1521 "Handle dynamic .graphql imports"
### What happened?

Currently, for the dynamic query import, I use magick like

[code]

In future, we will have more chains so having something like
[code]

would be perfect

### Please reproduce in steps

the current problem is that I am unable to get it up and running

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

_No response_

### Are you logged in

[2021-12-14 11:22] roiLeo opened #1522 "Update template-typescript-w-decorator.vue to use nuxt"
- We will need to update .vscode/vetur/snippetstemplate-typescript-w-decorator.vue to
[code]

[2021-12-14 13:03] jbienesdev commented on #1521
Hi @vikiival , for this issue since the example uses dynamic import, the gql file needs to be unwrapped by the `default` key. Without unwrapping `default`, the linter was complaining. So it goes like this
![image](https://user-images.githubusercontent.com/17470909/146002693-97f7109b-1504-4010-b35f-ab73f82a48e6.png)

We can also try to do the ES5 way of requiring
![image](https://user-images.github

[2021-12-14 13:08] roiLeo commented on #1224
Closed in #1255 & #1471

[2021-12-14 13:08] #1224 closed

[2021-12-14 13:30] roiLeo commented on #1294
Should be good now, you can start adding stuff in store/preferences.ts

[2021-12-14 14:40] vikiival commented on #1521
I am aware of that

I was unable to run this

[2021-12-14 15:02] #1479 closed

[2021-12-14 15:07] jbienesdev commented on #1521
Can confirm that it's working on my local and is able to run the appropriate query correctly.

[code]

Maybe you're in a file that doesn't support dynamic imports?

[2021-12-14 15:49] roiLeo commented on #2
Yes Transifex bot will do pull request.
Transifex user base don't have to link their github account to participate in some projects, you will always be able to see who has contributed the most to their platform but not here and I understand your concerns.

The good thing is that we can set up an approbation workflow where when we reach more than 80% of translated text it will create an automatic p

[2021-12-14 20:20] #1509 closed

[2021-12-15 01:45] Phantom20320 commented on #1512
Hello!
I started working on this issue.

[2021-12-15 12:16] yangwao opened #1526 "Gaming dashboard - Traits oriented"
We should catch the upcoming blockchain gaming wave by preparing a gaming interface for uploading NFT with various traits
- add an interface to mint in-game items and virtual worlds
- add #1162 #1357 #903 #349 #348
- dedicated interface where you could see traits on NFTs

I'll expand more later. If you want to work on this issue, feel free highlight me in war-room

How it works on Statemine now
![

[2021-12-15 12:19] yangwao commented on #349
Good idea, it could be somehow joined with #348

[2021-12-15 12:28] kkukelka commented on #1508
on it!

[2021-12-15 12:41] vikiival opened #1527 "Unify translations"
### Is your feature request related to a problem?

So far we do not have any normal structure in translations

### Describe the solution you would like

I would like to see unified translations

[code]

### Describe alternatives you have considered

I have tried this alternative

### Screeenshots

Paste your vision

[2021-12-15 12:48] vikiival opened #1528 "Landing for statemine"
### What happened?

When someone goes to /statemine

<img width="1172" alt="Screenshot 2021-12-15 at 13 49 39" src="https://user-images.githubusercontent.com/22471030/146189579-318a9b17-5da1-4178-8f90-82be706b9a89.png">

### Expected Behavior

I've expected go to landing page about statemine

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-12-15 12:58] yangwao opened #1529 "Update social media cards"
- Collections - https://beta.kodadot.xyz/rmrk/collections
![image](https://user-images.githubusercontent.com/5887929/146190002-1f05eb72-8ff1-471c-b517-ee52590dd607.png)

- Spotlight - https://beta.kodadot.xyz/spotlight
![image](https://user-images.githubusercontent.com/5887929/146190032-6de6f26f-2ec2-4380-a0a7-931830538973.png)

- Gallery feed - https://beta.kodadot.xyz/rmrk/gallery
![image](https

[2021-12-15 13:01] yangwao opened #1530 "New preloader on NFTs item details"
We've passed @jkdizajn new kodadot v3 so we can update it new SVG preloader with https://github.com/kodadot/kodadot-presskit/tree/main/v3 and close on #1216  #1274

[2021-12-15 13:09] vikiival opened #1531 "List of KodaDot communities"
[code]

[2021-12-15 13:10] #1531 closed

[2021-12-15 14:15] vikiival opened #1532 "Infinity loop on user's profile"
### What happened?

https://user-images.githubusercontent.com/22471030/146202361-87039555-8a3e-4f1b-8b64-10f06a08adbb.mov

### Please reproduce in steps

1. open [deeplogic profile](https://beta.kodadot.xyz/rmrk/u/FqCJeGcPidYSsvvmT17fHVaYdE2nXMYgPsBn3CP9gugvZR5)
2. on pagination set last page
3. change tab
4. enjoy infinity

### Expected Behavior

I've expected ...

### What browsers are you seein

[2021-12-15 15:13] vikiival opened #1533 "Invalid component name"
### What happened?

[code]

### Please reproduce in steps

Open any component name under `index.vue` or `_id.vue`

### Expected Behavior

to fix:

extend Component with `@Component` from ` 'nuxt-property-decorator'`
and pass the name inside

Example:
[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-12-15 15:32] skwsccss commented on #1530
how to create branch here to create new PR
@yangwao

[2021-12-15 15:54] yangwao commented on #802
Closing in favour #1294

[2021-12-15 15:54] #802 closed

[2021-12-15 17:37] #1532 closed

[2021-12-15 17:54] XyloDrone commented on #678
Related to #1190

[2021-12-15 17:55] XyloDrone commented on #1190
Related to #678

[2021-12-15 17:56] jkdizajn commented on #1530
Can JSON also be used? I converted SVG graphics to JSON using LottieFiles.
Here is the result:
[https://lottiefiles.com/web-player?lottie_url=https%3A%2F%2Fassets10.lottiefiles.com%2Fpackages%2Flf20_vlz0oz9b.json](url)
and here is gif:
![kodadot_preloader_gif](https://user-images.githubusercontent.com/81104034/146239625-a02a3259-b78e-44df-8126-402b7c07aa94.gif)
@yangwao @skwsccss

[2021-12-15 18:12] XyloDrone commented on #1007
I'll add an option in the design that the user can choose to see only unique NFTs. This would be just a check box.

[2021-12-15 18:16] XyloDrone commented on #979
Related to #1023

[2021-12-15 18:52] XyloDrone commented on #1094
Is this the same as #1005 ?

[2021-12-15 18:57] XyloDrone commented on #1097
Hey @7Love7code7 Do you have a polkadot.js account? You need to have one in order to mint, regardless if your extension is in the browser. Once you've passed the installation phase, there should be a "+" button at the top right corner to create an account. Let me know if you are still experiencing issues.

[2021-12-15 18:58] XyloDrone commented on #1100
IMO a border isn't needed here, but I differ.

[2021-12-15 21:14] arcadioramos commented on #1522
Is juts to update those import lines? If so I would like to work on it

[2021-12-15 21:28] jkdizajn commented on #1530
Version 2 (animated SVG)

https://user-images.githubusercontent.com/81104034/146267596-0dbbd792-79c9-4d63-a74a-101ac872d975.mp4

[2021-12-16 01:01] onerawartist commented on #1007
@XyloDrone make it ''On'' by default

[2021-12-16 08:15] roiLeo commented on #1100
There is a border because of the global css defined in GalleryItem component. By default, there should be none.

#1348 related

[2021-12-16 08:22] roiLeo commented on #1348
In some components the css is defined globally, we have strange behavior on other pages because it overwrite rules.
We will need to move css outside component into a file (`styles/global.scss`) **or** make it scoped.

[2021-12-16 08:35] roiLeo commented on #777
Isn't this already done with `BasicImage` Component?

[2021-12-16 09:35] vikiival opened #1536 "Tracking: Wen Statemine"
The following list of features should be available:
- [ ] Create Class
- [ ] Create NFT
- [ ] View Collection
- [ ] View NFT
- [ ] View Collection List
- [ ] View Profile
- [ ] Can Transfer
- [ ] Can Burn
- [ ] Can Transfer Collection
- [ ] Teleport

[2021-12-16 09:36] vikiival commented on #757
Closing in favour of #1536

[2021-12-16 09:36] #757 closed

[2021-12-16 09:37] vikiival commented on #1536
<img width="782" alt="Screenshot 2021-12-16 at 10 37 04" src="https://user-images.githubusercontent.com/22471030/146346353-9760b465-ca6c-457b-8d28-27f07d98dbc6.png">

[2021-12-16 10:20] yangwao commented on #349
cmd k <3
https://chakra-ui.com/

![image](https://user-images.githubusercontent.com/5887929/146353407-1d589d37-e656-445c-abc4-0dc209a3f95c.png)

[2021-12-16 10:33] vikiival commented on #1327
UI libs for Vue 3:
- Naive UI - https://www.naiveui.com/en-US/dark
- Vuestic - https://vuestic.dev/

[2021-12-16 10:48] yangwao opened #1537 "Deploy shortener for artists"
we've found it through autonomous trucker company which made Naive framework

https://github.com/supaflare/supaflare

best

[2021-12-16 10:51] yangwao opened #1538 "NFT analytics plugin (wip)"
- framework we could potentially use https://github.com/pengxiaotian/datav-vue

### Ref
- #1327

[2021-12-16 10:53] vikiival commented on #1460
@kkukelka looks like funfacts shifted css of the status

<img width="510" alt="Screenshot 2021-12-16 at 11 50 49" src="https://user-images.githubusercontent.com/22471030/146358204-9f34fb0c-4b6f-41dc-916a-4fa0711d45b0.png">

<img width="569" alt="Screenshot 2021-12-16 at 11 07 33" src="https://user-images.githubusercontent.com/22471030/146358216-14573695-4ddc-4aa9-a447-b9a1fbc7021a.png">

[2021-12-16 10:53] yangwao opened #1539 "Creators Analytics"
Creators Analytics dashboard

### Candidates
- https://naive-ui-admin-docs.vercel.app/
- https://github.com/zce/fearless

[2021-12-16 11:53] yangwao opened #1541 "New template for social media cards"
@XyloDrone has an idea to draft a new "template",
ill then it would be perfect to replace it with a new logo for the template so we can reflect new logo everywhere:)

Let's use this one as a new logo in the upper right corner https://github.com/kodadot/kodadot-presskit/blob/main/v3/K_outline_logo.png
Paging 📟 @AndriiHrynchuk

[2021-12-16 11:55] yangwao commented on #1477
I don't have anything on hand, let's request new

Tricky I see, let's try to do some fix using my address as most of the payouts we're sent through that and match connection to address written in payout section, what about that?

[2021-12-16 11:56] vikiival commented on #777
Jup!
Created in 2186c68ca6a77db4432b09ddfdead9e32b45f793

[2021-12-16 11:56] #777 closed

[2021-12-16 12:10] yangwao opened #1542 "(JS-S001) Regular Expression Denial of Service (ReDoS)"
## Description
The Regular expression Denial of Service (ReDoS) is a Denial of Service attack that exploits the fact that most Regular Expression implementations may reach extreme situations that cause them to work very slowly (exponentially related to input size).

## Occurrences
There are 4 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/k

[2021-12-16 12:12] yangwao opened #1543 "(JS-0693) Use interpolation expressions instead of the `v-html` attribute"
## Description
It is recommended to use interpolation expressions instead of using `v-html` as it prevents injection attacks like XSS.

## Occurrences
There are 5 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/kodadot/nft-gallery/issue/JS-0693/occurrences/](https://deepsource.io/gh/kodadot/nft-gallery/issue/JS-0693/occurrences/)

[2021-12-16 12:14] codiini commented on #1533
Hi @vikiival can I take this up?

[2021-12-16 13:03] kkukelka commented on #1543
@yangwao isn't this only relevant in relation to user-generated content? static texts like faqs shouldn't be prone to injections in that way

[2021-12-16 13:10] vikiival commented on #1533
Rise and shine :) @codiini

[2021-12-16 13:16] roiLeo commented on #1539
Is #1285 related with this one?

[2021-12-16 14:00] vikiival opened #1546 "Calculate last index used"
In create now I use `alreadyMinted` which is a skewed metric :)

[code]

[2021-12-16 14:12] codiini commented on #1533
@vikiival I've created a PR for this, please check it out and let me know. Thanks

[2021-12-16 14:18] codiini commented on #1529
hi @yangwao I'd like to take this up

[2021-12-16 14:51] #1546 closed

[2021-12-16 15:15] #1460 closed

[2021-12-16 16:53] ironwebstar commented on #1360
@yangwao  Could you add more details in description? chainproperty, checkindexer... little confused about refactoring instruction.

[2021-12-16 17:23] AndriiHrynchuk commented on #1541
Hey @yangwao, just deployed updated version with new logo

[2021-12-16 17:43] yangwao opened #1548 "My favourite"
Show data view of your favourites by emoted nfts new screen

[2021-12-16 17:51] yangwao opened #1549 "Add 400px to mobile chart"
![Screenshot_20211216-185111.jpg](https://user-images.githubusercontent.com/5887929/146423213-f8690844-e7bb-4c7f-bbd5-ca2bcb24d43d.jpg)

[2021-12-16 18:12] XyloDrone commented on #1541
Here are the design suggestions: https://www.figma.com/file/Pq0mMRkwcUCjFtVBFXnQ0Q/KodaDot%2FMetaPrime-Share-cards?node-id=0%3A1

We can either go for the square or landscape version. Besides having the logo and the price I'd remove everything from the card, as there is no point in having the name/author in the image when it is in the card itself.

Previous image from #1017

<img width="362" alt="

[2021-12-16 18:32] yangwao opened #1550 "Make landscape chart on mobile for collections activity"
Let's add way to inspect graph while app go landscape like Garmin has it for example

![Screenshot_20211216-185412.jpg](https://user-images.githubusercontent.com/5887929/146428550-3e0a3ee4-baf2-446a-a87a-1fad93dd5870.jpg)

![Screenshot_20211216-185330.jpg](https://user-images.githubusercontent.com/5887929/146428537-f5b93aa8-0506-46d3-9919-3661241e6f6f.jpg)

[2021-12-16 19:09] #1549 closed

[2021-12-16 19:42] AndriiHrynchuk commented on #1541
ok, new template has logo in left corner and no one in top right. Do we go fully for new template @yangwao ? @XyloDrone could I export new logo in svg from Figma?

[2021-12-16 19:42] #1508 closed

[2021-12-16 19:48] #1314 closed

[2021-12-16 19:48] XyloDrone commented on #1541
You can grab the logo here(svgs are in zip folders)
https://github.com/kodadot/kodadot-presskit/issues/16#issuecomment-994914580

[2021-12-16 19:50] #1486 closed

[2021-12-16 19:59] yangwao commented on #1208
Suggestion by @jkdizajn https://awesomeopensource.com/projects/nft

[2021-12-17 07:30] roiLeo commented on #1360
The goal is to move code outside layouts file (`layouts/default.vue` for example), and use them when we actually need it.
If I'm right some of the property are used by `NavbarProfileDropdown` and `GalleryItem` components

[2021-12-17 09:14] #1533 closed

[2021-12-17 09:41] yangwao opened #1555 "Link contributing to the kodadot faq"
Link https://github.com/kodadot/nft-gallery/blob/main/CONTRIBUTING.md as lot of devs fails to find this stuff

With some initial few sentences

[2021-12-17 10:03] roiLeo commented on #1235
I can see emoji flags on windows with firefox.
![Screenshot 2021-12-17 at 10-58-14 nft-gallery-nuxt](https://user-images.githubusercontent.com/9987732/146526410-ad919052-5c3d-4f66-824e-f1cb66b212ec.png)

Can't with Microsoft Edge and Google Chrome (Chromium based browser)
![image](https://user-images.githubusercontent.com/9987732/146526784-8fc1e99d-f722-4799-b3ae-6f06d20eb6c7.png)

Note: Weird fon

[2021-12-17 10:08] yangwao commented on #1555
[gifbot:dog]

[2021-12-17 10:21] yangwao commented on #1555
/giphy dog

[2021-12-17 10:34] yangwao commented on #1492
This is like great candidate https://calibreapp.com/

[2021-12-17 10:42] yangwao commented on #1492
Free public status page https://www.atlassian.com/software/statuspage/pricing?tab=public

[2021-12-17 10:47] yangwao opened #1557 "Squash to one point indexer endpoint"
Seems we need to deduplicate something from other files whenever we will be changing the stuff

![image](https://user-images.githubusercontent.com/5887929/146533088-22dd42c7-dae1-43ce-b31e-0417ed22e66b.png)

[2021-12-17 11:50] vikiival opened #1558 "Burning NFT should also remove the metadata"
### What happened?

<img width="1660" alt="Screenshot 2021-12-16 at 14 34 25" src="https://user-images.githubusercontent.com/22471030/146540635-75a1e503-628a-475b-be94-06381cdaf3a2.png">

### Please reproduce in steps

- go /statemine

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

_No response_

### At which addre

[2021-12-17 12:42] #1245 closed

[2021-12-17 12:57] yangwao opened #1559 "Move most of stuff from / to some utils folder or where it fits best"
Let's move most of the stuff files which don't have strong requirements to be in / somewhere else so users visit our "frontpage" readme.md doesn't need to scroll through like Eiffel tower
![](https://media.giphy.com/media/mNz7UVEEoZOxy/giphy.gif)

TIL https://en.wikipedia.org/wiki/Gustave_Eiffel
https://en.wikipedia.org/wiki/Eiffel_Tower

current status
![image](https://user-images.githubuserconte

[2021-12-17 12:58] yangwao commented on #1559
this could be merged with something else https://github.com/kodadot/nft-gallery/blob/main-nuxt/TESTING.md

[2021-12-17 12:59] yangwao commented on #1559
testsuite could be relocated as well https://github.com/kodadot/nft-gallery/blob/main-nuxt/TESTSUITE.md

[2021-12-17 13:49] roiLeo commented on #1559
We could remove travis config file too, I don't think it's used right now

[2021-12-17 15:08] yangwao commented on #1294
#349 is probably related!

[2021-12-17 15:09] yangwao commented on #1294
@pandasamanvaya has something working on recently, if you can join forces with @rhaicode that would be amazing!

[2021-12-17 15:18] #967 closed

[2021-12-17 15:29] yangwao opened #1562 "Search for meaning parent chief squash issue"
Issues related to search for the meaning
We should bit squash search issues and expand on others referring to this issue

![image](https://user-images.githubusercontent.com/5887929/146567938-6c716780-9d12-4ff8-a390-b8cde20431a6.png)

- #1294
- #349
- #1231
- #1138
- #1023
- #859
- #804
- #348
- #35
- #14

### Ref
- we've started trying chief/worker as tracking master/satellite issues https://en.wi

[2021-12-17 16:29] #1555 closed

[2021-12-18 10:33] pandasamanvaya commented on #1294
I added the images and gifs to the left of each nft. It works for most of the gifs("Appul" nfts)
![Screenshot from 2021-12-18 15-54-36](https://user-images.githubusercontent.com/44033666/146637845-ddc122fc-40fb-4bf6-bfab-e6a2cdd32fa1.png)

But throws an error while reading animation_url of few gifs("Spaceship" nfts). So an empty image is rendered. Any ideas?
![Screenshot from 2021-12-18 16-01-08](

[2021-12-18 10:34] pandasamanvaya commented on #1294
Btw @rhaicode, if you could comment your discord handle here then we could use discord for better communication.

[2021-12-18 18:42] kkukelka opened #1563 "Make color #d32e79 a scss variable"
Fun little refactoring task 🐰
Color with hexcode `#d32e79` appears on several occasions throughout the codebase and should be centralised via scss variable in file `derived-variables.scss`

call it `$secondary` or `$primary-light` (any better ideas?)

[2021-12-19 08:38] yangwao opened #1564 "GM route on kodadot"
let's make it and we could have a dedicated route for a gallery that would filter GM from name/metadata or it could be actually trait GM and thus creators could get highlighted on this route

[2021-12-19 08:42] #1478 closed

[2021-12-19 08:55] yangwao opened #1565 "Payout LGTM bot v0"
Time has come and I need to work on other stuff so we've decided to step up automatization

- [x] check on GitHub workflow and write one in JS/Rust as GH workflow
- [x] generate a new address (and setup identity for the new address)
- [x] parse from pull request, if there is a KSM address of the original author, prefer payout format or we should invent our own URI for this?
- [ ] publish on GitHub

[2021-12-19 09:11] yangwao opened #1566 "Step/storyline on collections"
Would be nice to create a dedicated view to list NFTs on top of the collection using the way we know from Instagram Stories

### Spec
- it goes slowly at some interval, should variable put into vuex for now
- with left-right arrows, you can go next and previous
- put some buttons on collection detail to engage this view

Later we can think this could be main view for collections and then have only

[2021-12-19 10:23] prachi00 commented on #1417
@yangwao About this, so the text should be replaced with YOLO right?

[2021-12-19 10:27] prachi00 commented on #1563
@kkukelka @yangwao I'll do this

[2021-12-19 10:46] prachi00 commented on #1559
@yangwao I'll try to do this cleanup

[2021-12-19 13:07] rhaicode commented on #1542
hi @yangwao , i'd like to take this! 👋

[2021-12-19 20:00] yangwao opened #1570 "Indexer error"
Seems toast has message for me 👀

![image](https://user-images.githubusercontent.com/5887929/146689108-5dc3932f-a747-4051-be5d-7c715c943d1a.png)

![image](https://user-images.githubusercontent.com/5887929/146689072-f55badf2-27a9-4d53-a754-e26efd952a80.png)

[2021-12-20 08:57] roiLeo commented on #1472
Added in https://github.com/kodadot/nft-gallery/commit/3dc61ce67fd8f67d92f87d0286b2579913008e42

[2021-12-20 11:54] vikiival commented on #1496
[code]

[2021-12-20 12:17] yangwao opened #1573 "Prepare for WebElement Clubhouse on Thursday 23/12"
- Why we had need to migrate -- faster UX on client, less render on client, considered limitations, build times (incremental builds),
- How we've migrated from SPA into Nuxt --
- How it's possible we've done it w/o the internal team --
- How long did it take us -- 9weeks
- Pain issues on the road (keep old routing, i18n, pwa)
- Scaling issues
- Async-first approach, in code and in team
- Gig econo

[2021-12-20 16:32] AndreyGrin commented on #1541
just updated design @yangwao

[2021-12-20 20:44] LatinSoul commented on #1543
Indeed, since it's not user-generated content, there shouldn't be any risk, although avoiding it when possible is considered best practice. That said, it seems that there is a gain in speed when using interpolation vs v-html as per what I've been reading on vue.js forum.  I'll do the changes and submit the PR.

[2021-12-21 09:38] yangwao commented on #925
@cryptodamsky maybe you want to take look and we can then put it on the page! :)

[2021-12-21 10:48] roiLeo opened #1577 "IdentityPopover: Lorem ipsum"
- Remove "lorem ipusm" from IdentityPopover component

[2021-12-21 11:01] yangwao opened #1578 "Mint by Voice"
Experimental feature to kodadot
leverage NLP
be creative
Leverage voice by text i.e from mobile
Create new component which could be reused

This could be as contest and multiple winners
Extra would be control kodadot by voice and navigation
like buying NFT

make flow,
- mint
- search,
- open collection X
- open NFT X
- buy X NFT

[2021-12-21 14:55] #1189 closed

[2021-12-21 14:55] yangwao commented on #1347
Is this still thing?

[2021-12-21 14:56] yangwao commented on #1412
identicon solved this

[2021-12-21 14:56] #1412 closed

[2021-12-21 15:03] roiLeo commented on #1189
Why?  I still have this problem 😢

[2021-12-21 15:06] yangwao opened #1579 "Another One Bites the Dust"
It's at the start want to make a disclaimer, that under pressure and heated discussion, a lot of bad things can happen, but as I wanted to process this fast, this might not be the best option, but let's not waste time and keep our organization most transparent I want to share some news whoever find it later through SEO.

We've decided to rewrite KodaDot into Nuxt. So we've decided to source talent

[2021-12-21 15:06] roiLeo commented on #1347
YES! French language, content is not updating but navbar is.
![Screenshot 2021-12-21 at 16-05-54 nft-gallery-nuxt](https://user-images.githubusercontent.com/9987732/146952150-ebde1be8-a972-4eff-a54f-56131cdf2a2a.png)

[2021-12-21 15:07] #1579 closed

[2021-12-21 16:50] #1413 closed

[2021-12-21 16:52] #1563 closed

[2021-12-22 02:17] XyloDrone commented on #1371
Might be worth doing this on Twitter spaces as the account has 12k followers? Keep it to Wednesdays? On Fridays people usually go out after work.

[2021-12-22 02:24] XyloDrone commented on #1351
Can these notifications and "follows" be incorporated into a profile dashboard or do we need to send alerts via email? If it can be done on the platform itself than I'll design this accordingly.

[2021-12-22 06:20] kkukelka opened #1581 "User preferences v2 -- followup features"
Once we've merged #1569 we've scarapped the following issues to new user preference tab:

- [ ] Grayscale & Monochrome option #1370
- [ ] Borders, shadow and gap #2177
- [ ] Ability to change colours in user preferences #1638

### This should go to the v3 follow up
- [ ] Choose your indexer #1420
- [ ] Fast-checkout from history screen into user preferences #1493
- [ ] user based deny list #1177
-

[2021-12-22 09:16] roiLeo commented on #1347
I discovered that i18n was configured in two different places.
One on `nuxt.config.js` and the other one on `i18n.ts`

[2021-12-22 10:17] yangwao opened #1582 "Infinite scrolling on demand"
I sense that purpose of this is you don't lose context when you are scrolling back wherewith pagination you do.

This is a chief issue.

### Spec
- Make a component that adds infinite scrolling on demand on any view we have right now
- apply on collection view #1411  as well
- mobile compatible
- future compatible
- [ ] explorer
- [ ] `collection/id`
- [x] collections #2781

### Demo
[you can try

[2021-12-22 10:38] roiLeo commented on #1582
related with #1411

[2021-12-22 11:00] yangwao commented on #1582
True! I Like we think along! 😄 Marking this as chief (parent) and other as worker issue
Edited main description

[2021-12-22 11:01] yangwao commented on #704
I'm needing this every day more and more 🥺

[2021-12-22 11:33] #1347 closed

[2021-12-22 18:08] yangwao opened #1585 "Hide prices from UI"
Part of user preference issue
#942 #1581

Hide prices at gallery view (by default?)
Collection view &c

[2021-12-22 18:13] prachi00 commented on #1585
@yangwao I'll try to do this

[2021-12-22 19:22] yangwao commented on #1585
Let's try! I'm plan to do following issue after merging recent PR creating user preference screen @kkukelka and it could be easily done :)

[2021-12-23 17:29] #1573 closed

[2021-12-24 01:43] jbienesdev commented on #1477
@yangwao this is noted. I'll try this implementation and will let you know if it works. Thanks!

[2021-12-24 09:21] roiLeo commented on #1136
Reopen for #1274 as we don't have the v3 cards.
ping @XyloDrone

[2021-12-24 10:42] yangwao opened #1592 "Setup HNS domain"
Would be amazing to be more web3 native and run at least one instance under handshake domain to give it a try

- explore setup
- prepare deployment at Netlify if there is extra requirement

[2021-12-24 11:38] #1536 closed

[2021-12-24 11:38] #1557 closed

[2021-12-24 11:38] #1558 closed

[2021-12-24 13:21] yangwao opened #1593 "Add autocomplete to search"
We have autocomplete in search bar

Re #1576

![image](https://user-images.githubusercontent.com/5887929/147355643-f9526cdb-9f62-4589-8808-5c82c15e13c1.png)

[2021-12-24 13:25] XyloDrone commented on #1136
New cards here:
https://github.com/kodadot/weyland/issues/11

[2021-12-24 13:28] yangwao opened #1594 "Migrate pictures from Pinata to CDN"
We will be migrating pictures from Pinata for faster UX to Cloudflare Images/R2 or Netlify Large media

It's prior research how to do it best but I guess we already got written scrapper by @vikiival

https://github.com/kodadot/nft-gallery/pull/1576#discussion_r774384969

[2021-12-24 13:31] #1593 closed

[2021-12-24 13:34] #1167 closed

[2021-12-24 14:37] #942 closed

[2021-12-25 09:55] #1455 closed

[2021-12-25 10:07] #1442 closed

[2021-12-25 10:22] yangwao opened #1596 "Add custom discord widget to landing page"
Yeah, I'd quote someone,

Here starts the idea to have a better discord widget so people could easier find us!
### Spec
- fits design of our page
- logo / users / online users / join button
- @ins0mn1a will sketch something!

### Ref
- [Discord API](https://discord.com/developers/docs/resources/guild#list-guild-members)
- https://github.com/sveenxx/discord-widget
- https://devbest.com/threads/cust

[2021-12-25 10:27] #1559 closed

[2021-12-25 10:42] yangwao commented on #1453
@vikiival can we close this?

[2021-12-25 11:39] #1453 closed

[2021-12-25 23:15] vikiival commented on #349
May option to use [CommandBar](https://www.commandbar.com/pricing)

[2021-12-26 07:36] yangwao opened #1598 "After buy suggest user next targets to acquire"
Same as on Twitter wants enhance graphs and feed ppl more stuff to consume and brighten their peak interest by particular subset of ppl, we could leverage #(passion-feed) to reccommend you to snipe another set of NFTs

I need expand bit more, but definitely someone should write reccomendation query

![Screenshot_20211226-083446.jpg](https://user-images.githubusercontent.com/5887929/147401904-d246e

[2021-12-26 09:32] roiLeo opened #1599 "Error on docker build with new version"
<img width="903" alt="Capture d’écran 2021-12-26 à 10 31 50 AM" src="https://user-images.githubusercontent.com/9987732/147404179-3af4f583-5879-443e-b014-8ef7da6a80ba.png">

<img width="1395" alt="Capture d’écran 2021-12-26 à 10 29 27 AM" src="https://user-images.githubusercontent.com/9987732/147404160-8727b6c6-b6d8-47f8-a679-51e2cace028a.png">

[2021-12-26 10:12] yangwao opened #1600 "Add link to presskit to the footer"
Add link **Press Kit** pointing to https://github.com/kodadot/kodadot-presskit/tree/main/v3 to footer

![image](https://user-images.githubusercontent.com/5887929/147405101-f5208421-588b-4176-bbd3-a63749ade0f8.png)

[2021-12-26 11:01] vikiival opened #1601 "Tracking issue for magick stats"
- [ ] #1285
- [ ] #678
- [ ] #877
- [ ] #571
- [ ] #898
- [ ] #878
- [ ] #827
- [ ] 1496

[2021-12-26 11:11] #1462 closed

[2021-12-26 11:23] #966 closed

[2021-12-26 11:25] yangwao commented on #1599
Sounds like @vikiival updated vue-settings 👀

[2021-12-26 11:25] yangwao commented on #1599
Impressive that Netlify went okayish https://app.netlify.com/sites/koda-nuxt/deploys/61c74658fc340b0007a112a5

[2021-12-26 11:26] yangwao commented on #1200
Time is now

[2021-12-26 11:28] yangwao opened #1602 "Replace magic wand with dice"
Seems when I google "random", more dices appears than magic wands, so it would be way more recognized what it does for now

![image](https://user-images.githubusercontent.com/5887929/147406565-697d2dc9-f363-4458-934f-54b12b66dff1.png)

[2021-12-26 11:49] vikiival commented on #1599
Yup, It looks like settings

[2021-12-26 11:51] yangwao opened #1603 "Change background colour for loader"
Once facts are over some white background, it's quite invisible to eye.
Maybe adding some border with slight grey background to white can stand out?

![image](https://user-images.githubusercontent.com/5887929/147407069-4e82c3e3-f2f6-48e2-b0b8-33a0cf234673.png)

[2021-12-26 11:52] vikiival commented on #1602
Choose your dice

<img width="1232" alt="Screenshot 2021-12-26 at 12 51 47" src="https://user-images.githubusercontent.com/22471030/147407132-c00566fa-ff28-48b2-a522-d7a714fec4a9.png">

[2021-12-26 11:56] vikiival commented on #1603
[code]

Source: [Buefy Docs](https://buefy.org/documentation/loading#variables-view)

[2021-12-26 12:35] yangwao opened #1604 "Revisit FAQ and add new"
Let's revisit our current FAQ!
Since our FAQ is linkable and addressable and you can direct users there with onboarding

### Spec
- remove obsolete questions
- update current/present questions
- add frequent questions from discord, so we can redirect people there and save time! :)

https://github.com/kodadot/nft-gallery/blob/main-nuxt/langDir/en.json

![image](https://user-images.githubusercontent

[2021-12-26 12:55] lohba commented on #1603
I'll take a look

[2021-12-26 12:56] prachi00 commented on #1603
![Uploading Screenshot 2021-12-26 at 6.26.40 PM.png…]()
@vikiival @yangwao something like this?

[2021-12-26 13:12] prachi00 commented on #1585
@yangwao hiding prices in gallery and collection view should be different checkbox options or combined in one in user preferences?

[2021-12-26 14:52] yangwao opened #1606 "Change price of your NFTs under one collection"
Mass adjust the price in your collection, i.e. set a new LIST price

### Spec
- select which NFTs, with preview + name
- select ALL
- add price per selected NFT
- add price for whole selected NFTs together

![image](https://user-images.githubusercontent.com/5887929/147411734-3c316d8c-5fbe-4e9d-ba4c-11305d2ad147.png)

[2021-12-26 14:56] yangwao opened #1607 "make advanced settings addressable url"
https://beta.kodadot.xyz/settings/advanced ?

![image](https://user-images.githubusercontent.com/5887929/147411873-8534ac16-3c86-4b99-8b8f-ad8e63191a66.png)

[2021-12-26 15:04] mies47 commented on #592
Hi @yangwao, I'd like to do this.

[2021-12-26 15:44] yangwao commented on #1482
/giphy launching nuclear rocket

[2021-12-26 16:58] prachi00 commented on #1607
@yangwao I'll try to do this

[2021-12-27 09:22] roiLeo commented on #1510
is it still relevant?
<img width="926" alt="Capture d’écran 2021-12-27 à 10 21 51 AM" src="https://user-images.githubusercontent.com/9987732/147456886-a2077e7b-5944-40de-9cc1-14f009bdb702.png">

[2021-12-27 09:30] roiLeo opened #1611 "font-style is not loaded correctly"
#### Browser
- Google Chrome OSX Version 96.0.4664.110
- It happened on Windows too
- 🆗 on Safari
- 🆗 on Firefox

<img width="1366" alt="Capture d’écran 2021-12-27 à 10 25 09 AM" src="https://user-images.githubusercontent.com/9987732/147457172-6694d914-5edd-4ac7-b649-1da07cdc2f8b.png">

[2021-12-27 10:14] vikiival commented on #1604
May use Markdown FAQ?

[@nuxt/content](https://content.nuxtjs.org)

[2021-12-27 10:16] vikiival opened #1612 "Tracking issue for Beta"
There are some diffs between prod and beta

If you find a difference please drop the screenshot and url

- [x] #1633
- [x] #1683
- [x] #1684
- [x] #1687

[2021-12-27 10:20] roiLeo commented on #1612
`/rmrl/collection/{id}`

#### Prod
![Screenshot 2021-12-27 at 11-19-39 Crypto Parrots](https://user-images.githubusercontent.com/9987732/147462251-3ec477f8-14e4-431b-bef1-ff464647fc39.png)

#### Beta
![Screenshot 2021-12-27 at 11-19-31 nft-gallery-nuxt](https://user-images.githubusercontent.com/9987732/147462276-d4c81f3a-6da7-4284-9672-46b4d918baa2.png)

[2021-12-27 13:15] #1543 closed

[2021-12-27 13:17] #1600 closed

[2021-12-27 13:21] yangwao commented on #1417
yes! :)

[2021-12-27 13:22] XyloDrone commented on #35
I would say that trading cards are collectibles, so best just to keep that category, otherwise it ends up confusing.

[2021-12-27 13:29] yangwao opened #1613 "Mobile/ipad friendly collection view"
Probably one-col less on the filter, one less on search filter and it should be okay? Or if we can make it somehow more "flexible" like with Flexbox?

![image](https://user-images.githubusercontent.com/5887929/147476172-a140dd76-49d8-4947-8fb3-e46c6a37fd15.png)

[2021-12-27 13:52] prachi00 commented on #1613
<img width="418" alt="Screenshot 2021-12-27 at 7 20 46 PM" src="https://user-images.githubusercontent.com/39299315/147477956-342a12bb-8e87-45e5-9591-f6e315cb7f72.png">

@yangwao currently it is like this, so it is already kind of responsive right?

[2021-12-27 13:54] roiLeo commented on #1613
I was thinking about setting a fixed width of 200px on select component.
We could reduce the size of the searchBar too.

[2021-12-27 14:04] cryptodamsky commented on #925
I'll go through some favorite discords in dotsama community and post them here. This sounds good, we could establish some sort of connection with them, mark them as "friendly" and offer support regarding nfts or smth on our server. Would be also good if we were displayed somewhere on their page/server

[2021-12-27 14:05] #1417 closed

[2021-12-27 14:10] prachi00 commented on #1613
Okay I'll see what I can do

[2021-12-27 14:11] roiLeo opened #1614 "move defineApolloConfig file"
We should move defineApolloConfig file from root to `utils/config/`

Bonus:
- move i18n config as we have currently 2 different i18n config setup

[2021-12-27 14:29] yangwao opened #1615 "Create API docs for easier building up on KodaDot Indexer"
- create a dummy example of how to fetch stuff
- how to build a basic API connection on the KodaDot indexer
- how to use our indexers
  - https://github.com/kodadot/rubick
  - https://github.com/vikiival/magick
- how to listen to particular events like (sales, new offers, &c)
- create /docs in kodadot ?
- sign transactions

### Ref

[2021-12-27 14:44] codiini commented on #1615
@yangwao For the API docs, how about using something like [Gitbook](https://www.gitbook.com/)

[2021-12-27 14:53] vikiival commented on #1615
Just requested package for open source

[2021-12-27 15:10] codiini commented on #1615
@vikiival I forgot, Gitbook wasn't totally free, there are other free ones such as [VuePress](https://vuepress.vuejs.org/) and [Docusaurus](https://docusaurus.io/)

[2021-12-27 15:14] yangwao commented on #1585
Probably could be one for now for easier way to do

[2021-12-27 15:22] yangwao commented on #1603
Maybe bit bigger and it might work!
Is it mobile friendly?

[2021-12-27 15:48] prachi00 commented on #1603
@yangwao I'll check

[2021-12-27 15:52] yangwao commented on #1599
Is #1614 related @roiLeo ?

[2021-12-27 16:05] roiLeo commented on #1599
Well yest and no.
This issue is about docker build not working anymor since the addition of `defineApolloConfig` file.
#1614 is about moving config outside root folder.
But I think it can be done together.

Note: Tried to import appolo config like this:
[code]
and now I've got
![Screenshot 2021-12-27 at 17-02-06 nft-gallery-nuxt](https://user-images.githubusercontent.com/9987732/147488279-026efc31

[2021-12-27 17:10] yangwao opened #1618 "Routing bug on collection tab at artist profile"
When you click on cube collection, should open collection, not item

https://beta.kodadot.xyz/rmrk/u/J7V9kPDfTHtoHiPV3izmtfBiVBk1JTn97tsdQJ8g4qhnH3z?tab=collection you should land here https://beta.kodadot.xyz/rmrk/collection/F4F2348BD911773F76-DC

Try legacy here https://kodadot.xyz/rmrk/u/J7V9kPDfTHtoHiPV3izmtfBiVBk1JTn97tsdQJ8g4qhnH3z?tab=collection will land you here https://kodadot.xyz/rmrk/c

[2021-12-27 17:20] XyloDrone opened #1619 "KodaDot V3 Redesign + Guidelines"
### Is your feature request related to a problem?

Hello everyone, let’s escape the Craigslist pit and turn KodaDot into a slick NFT Explorer. 👯
If you need me to respond, I am usually available Mon-Fri, and at my computer from 9am-6pm CET, whilst working 3x days per week.

Buckle up because this is a long document which aims to:

- Organise all issues in a large [mind map](https://miro.com/welcom

[2021-12-27 17:30] yangwao commented on #1477
Hey, any progress on this? So I can publish article with some chart already:)

[2021-12-27 18:04] kkukelka commented on #1618
on it!

[2021-12-27 18:15] yangwao commented on #1599
Have idea talking w ex college that osx FS is case non sensitive, what's about renaming Indexers?

[2021-12-27 19:51] yangwao opened #1622 "Steganography nft"
Let's implement stagenography framework

[2021-12-27 19:57] MubarakSULAYMAN commented on #1364
@yangwao, do you mean the transformed link should be clickable or you want it to directly open the URL TO TRANSFORM starts with `https://kodadot.xyz/transform?`?

[2021-12-27 20:03] vikiival commented on #1364
@MubarakSULAYMAN

[if someone opens it like this](https://kodadot.xyz/transform?url=https%3A%2F%2Fsingular.rmrk.app%2Fcollectibles%2F10321410-0E76E3AC15B4C1FA1E-KODADOT-KODADOT_PATRONAGE_PART_1_1-0000000000000001)

it shows you this

<img width="436" alt="Screenshot 2021-12-27 at 21 00 00" src="https://user-images.githubusercontent.com/22471030/147503526-1414bcc1-e50d-4e82-b5b7-439cf7e9353c.png">

[2021-12-27 20:04] MubarakSULAYMAN commented on #1473
[Fix text selection in collection description](https://github.com/kodadot/nft-gallery/pull/1621)

[2021-12-27 20:13] vikiival commented on #1603
yup I would make the whole loading darker

[2021-12-27 20:16] MubarakSULAYMAN commented on #1364
Ok @vikiival, so the transformed link should redirect to the actual result page? Instead of reopening the transform page where where it shows the the original link and the transformed version.

[2021-12-27 20:18] vikiival commented on #1364
Exactly!

[2021-12-27 20:27] MubarakSULAYMAN commented on #1348
@vikiival, I think it is high time there is some sort of instructions on how things should be done. You may add it to [CONTRIBUTING.md](https://github.com/kodadot/nft-gallery/blob/main-nuxt/CONTRIBUTING.md) or even [README.md](https://github.com/kodadot/nft-gallery/blob/main-nuxt/README.md). It will really help guard against how changes affect already existing implementation while the full refacto

[2021-12-28 00:46] jbienesdev commented on #1477
@yangwao apologies for the slow progress on this feature as I am on vacation currently. I am still waiting for the api key from Subscan and will wait for their email so that I can continue the development. For the meantime, I am able to query Github PRs with payout addresses correctly and is still on the process of cleaning some of the data coming from Github.

![image](https://user-images.githubu

[2021-12-28 07:35] yangwao commented on #1477
I can ask around as they usually reply within few days.

This sounds awesome!

I'm thinking that what if we could make it as GitHub Action flow? Like once PR is merged, it could automatically make commit to leaderboard.md for example with updated stats.

How do you "store" data right now?
Does gh returns all data well?
For subscan with more transactions probably you don't want to scrape same data

[2021-12-28 13:04] #1607 closed

[2021-12-28 13:06] #1603 closed

[2021-12-28 13:12] #1618 closed

[2021-12-28 13:35] roiLeo commented on #1599
#### Additional information
Tried to rebuild Dockerfile & force recreate docker-compose it's still not working.

cmd:
[code]

[2021-12-28 14:27] roiLeo commented on #1619
Hey!
Dope work, love the new design!

Few things:
- I have a concern about accessibility color contrast: text => #E6007E on background => #1F1F1F
- can we have a light theme page example?
- is "checkout flow" possible feature wise?
- I find search filters hard for the UX, would it be possible to rework a version less harmful? maybe create a sidebar filter
- Not a fan of gradiant button. What would

[2021-12-28 16:42] yangwao opened #1625 "Gated queries"
Hence Spotlight and others queries are getting bigger, let's bit gate it

For access NFT, we should check if particular viewer holds sub0 nft for example

### gated views
- spotlight
- series insights
- whale dir
- flipping
- what's hot

[2021-12-28 17:17] yangwao commented on #1529
Any progress so far?

[2021-12-28 17:17] yangwao opened #1626 "New social card with kodadot v3 logo"
I recall we've been pushing some social cards on the beta?

Ah #1529

![image](https://user-images.githubusercontent.com/5887929/147590756-a533851f-4c82-477d-9b1c-1c9a627947f3.png)

[2021-12-28 17:17] #1626 closed

[2021-12-28 17:22] yangwao opened #1627 "Portcullis beta enroll"
We would like to start collecting Discord servers, where we can provide our NFT gating solution provided by the KodaDot grassroots, using RMRK and KODA NFTs on Kusama and further NFTs on Metaprime, Statemine, MoonRiver, Muralis, Basilisk &c

Name your
- Discord - what's the subject of your Discord
- size - total number of members / avg online
- Post infinite Discord invite
- Admin/Founder handle o

[2021-12-28 17:54] #1602 closed

[2021-12-28 17:56] yangwao opened #1628 "Set new defaults"
Let's set new settings as defaults like

- theatre mode on
- folded price chart
- folded history chart

[2021-12-28 18:05] kkukelka commented on #1628
on it!

[2021-12-28 18:16] Framsynt commented on #1627
Anon Society
- Exclusive NFT riddle game
- Incubated in 0xVentures
- Small server, we are in the planning phase
- https://discord.gg/bE3PeRSPDP
- Founder: Framsynt
- We want to work with KodaDot. Due to nature of our game, we need discord fencing to allow user cooperation to progress the game.

[2021-12-28 21:43] MubarakSULAYMAN commented on #1290
@yangwao, how can I get to this page and recreate?

[2021-12-28 21:44] MubarakSULAYMAN commented on #1512
@Phantom20320, are you still working on it?

[2021-12-29 09:58] roiLeo commented on #989
is it still relevant? Where did this bug happen?

[2021-12-29 10:03] roiLeo commented on #1007
I think this can be closed as we introduced in #942 user preferences to display a certain numbers of items by page (12 by default).

[2021-12-29 10:05] roiLeo commented on #1170
closed in #1179

[2021-12-29 10:05] #1170 closed

[2021-12-29 10:07] roiLeo commented on #1221
closed in #1215

[2021-12-29 10:07] #1221 closed

[2021-12-29 10:10] roiLeo commented on #1357
#1367 related

[2021-12-29 10:32] yangwao opened #1632 "Merge preloader component for transactions with facts preloader"
Is there a possibility to merge these two into one component?

Like till user waits for confirmation it can read that fact and we have their attention tho till then, rather than looking on "2/3"

![image](https://user-images.githubusercontent.com/5887929/147653105-0bf63760-aaee-465a-b935-4c19a3d53a5c.png)

[2021-12-29 10:32] #1628 closed

[2021-12-29 10:33] #1319 closed

[2021-12-29 10:33] #1100 closed

[2021-12-29 10:34] roiLeo commented on #1305
Tested on /rmrk/collection/d08ff136a2fe19974d-CRAZY_CANARY order is OK
I don't know why it's happening on this particular collection.

[2021-12-29 10:37] roiLeo commented on #1109
is it still relevant? what are the steps to reproduce it?

[2021-12-29 10:40] roiLeo commented on #986
closed by @prachi00 if I'm right but can't find the linked PR

[2021-12-29 10:40] #986 closed

[2021-12-29 10:41] #1585 closed

[2021-12-29 10:43] roiLeo commented on #756
closing this as it seems to be fixed, feel free to reopen it if you encounter the bug again

[2021-12-29 10:43] #756 closed

[2021-12-29 10:46] yangwao opened #1633 "2 columns seems gone on artits and collection, can we please have them back 😇"
Seems 2 column view on artists and collection is gone

https://beta.kodadot.xyz/rmrk/u/DoND1kMSH5rSMW1wsqmfRAD4JYBAbXYzD7bvZYhqsaaVXZQ?tab=nft
![image](https://user-images.githubusercontent.com/5887929/147654265-a8208518-cf61-4031-9432-bc2ece127f91.png)

[2021-12-29 10:47] yangwao commented on #1612
#1633

[2021-12-29 10:49] yangwao commented on #1289
This missing on `main-nuxt`

[2021-12-29 10:51] yangwao commented on #1612
Found that
- #1289 is no on beta yet

[2021-12-29 11:35] prachi00 commented on #1289
@yangwao sure, I'll do this in nuxt

[2021-12-29 11:59] roiLeo opened #1634 "imgcmp.yml github workflow"
Currently we have imgcmp workflow that keep getting errors when pushing on `main-nuxt` branch
Here's the log:
![Screenshot 2021-12-29 at 12-57-17 Merge pull request #1624 from prachi00 feat-user-pref-hide-price · kodadot nft-gallery 18](https://user-images.githubusercontent.com/9987732/147659837-78ae7f34-431c-4b1d-8209-0c288765769c.png)

Looks like he doesn't have the writing access/rights to open

[2021-12-29 12:03] kkukelka commented on #1632
huh, doesn't it use the same `<Loader />` component?

[2021-12-29 12:08] yangwao opened #1635 "Set Docker image building process"
whenever someone wants to run kodadot containerized with their chain we should have a recent image ready there for whatever testing is needed there

### local development
- working docker-compose.yml with hot reload
- working Dockerfile with hot reload

### deployment
- prepare the way to put docker images on dockerhub so we can bundle it with chain and full local setup like subsquid+subquery
- wo

[2021-12-29 13:15] yangwao commented on #1634
oh I've seen something on contributing network graph and was scratching why it's forking but never merging, not it exaplins all

[2021-12-29 13:27] yangwao commented on #1109
go to the https://beta.kodadot.xyz/rmrk/gallery/ and click on NFT and you will land on the collection, instead of item detail

https://user-images.githubusercontent.com/5887929/147667092-53a96482-174e-4694-8214-b16d1facfa9e.mov

[2021-12-29 13:33] yangwao commented on #1635
Dockerfile-less setup https://medium.com/@marcmintel/development-setup-with-nuxt-node-and-docker-b008a241c11d

[2021-12-30 09:22] cryptodamsky commented on #915
Once Xylo does the V3 redesign, i'll jump on this.

[2021-12-30 11:23] #1207 closed

[2021-12-30 11:23] #1136 closed

[2021-12-30 11:24] damskyftw opened #1637 "Floating helper for nontech users/total newcomers"
### Is your feature request related to a problem?

@XyloDrone said

What i see as a problem when thinking as total newcomer - #1445 the biggest problem is that those people don't know half of the words displayed on the page. To quickly solve this problem, i was thinking to implement a "floating" version of the page, which would basicly transform the page into floating mode and your cursor would wo

[2021-12-30 11:30] cryptodamsky commented on #1637
As i look further at the Screenshot i posted, the explanation of categories/buzzwords would have to be way simpler and understandable without knowledge of crypto-glossary, as most probably only total newcomers would use this feature.

[2021-12-30 11:41] yangwao opened #1638 "Add ability to change colours in user preference"
Let's add fields where users can change colours in settings

Plus pls revert to previous colours 😄

![image](https://user-images.githubusercontent.com/5887929/147748818-2386c648-59e7-4a36-aafc-0723ec034dba.png)

[2021-12-30 11:47] #1289 closed

[2021-12-30 11:53] yangwao opened #1639 "New preloader for item detail"
I recall we have around a new svg for preloading by @jkdizajn ?
Referring to #1612

![image](https://user-images.githubusercontent.com/5887929/147749609-a019bc22-23ee-4374-b073-0a3da970f5bc.png)

[2021-12-30 12:45] roiLeo commented on #1638
alpha value for primary color is really bad :/
i've changed light text (silver color) for something more "clean" (#f8f4f6), it was used on .active class

[2021-12-30 12:47] roiLeo opened #1640 "new event "unlist" in History"
tested on:
`/rmrk/gallery/10403656-daf9e25824d4bd9357-DAO-CLIFFORD-0000000000000001`

on singular:
![Screenshot 2021-12-30 at 13-47-05 Singular Kusama-native NFTs #RMRK #NFT](https://user-images.githubusercontent.com/9987732/147753252-7198632e-256c-4d2f-96c9-8f5d3deff759.png)

on kodadot:
![Screenshot 2021-12-30 at 13-46-33 nft-gallery-nuxt](https://user-images.githubusercontent.com/9987732/147753

[2021-12-30 13:42] prachi00 commented on #1639
I'll check this

[2021-12-30 13:44] prachi00 commented on #1638
so you mean user can change these 3 variables from settings?

[2021-12-30 13:48] jkdizajn commented on #1639
Yes, here: https://github.com/kodadot/nft-gallery/issues/1530

[2021-12-30 14:00] jkdizajn commented on #1639
Here is
https://github.com/jkdizajn/kodadot-presskit/blob/main/KODADOT_preloader_2_animated.svg
https://github.com/jkdizajn/kodadot-presskit/blob/main/KODADOT_preloader_2_pink_animated.svg

[2021-12-30 14:42] kkukelka commented on #1566
@yangwao Where should this component be integrated? Is it a completely new page just showing this Story-Like Collection? Or a grid with multiple of such components?

[2021-12-30 15:49] prachi00 commented on #1639
@yangwao so which one are we suppose to use, I see there are two?

[2021-12-30 16:21] XyloDrone commented on #1619
Thank you!

I've changed the pink color to #FF47AC and bacground to #090909, see new design [here](https://www.figma.com/file/GeVzZKVORd9L8kAWrlKtZv/KodaDot-UX%2FUI?node-id=34%3A94). Ran it through a contrast checker plug in which approved it :D

[Here](https://www.figma.com/file/GeVzZKVORd9L8kAWrlKtZv/?node-id=128%3A1257) we go

I suppose this is a Q for @yangwao, but the suggestions was mentione

[2021-12-30 16:21] XyloDrone commented on #1637
I think this would be a good addition in some places (if it's everywhere it might be a bit much, so perhaps we can decide which elements are not straight forward).

What if we add an "i" to certain sections?

[2021-12-30 16:25] XyloDrone commented on #1639
@jkdizajn Could I ask you to change the font into a filled one instead of outline, please? Also, can it be Fira Code for consistency across the site? Great work on the loader btw:)
@prachi00 Let's wait for @yangwao to confirm, but in our last conversation we agreed on the pink version to maintain color consistency.

[2021-12-30 16:56] jbienesdev commented on #1477
Yes! This is what I am thinking. I can test it out if it's working on a separate repo.

I haven't thought about it yet but one thing that came into my mind is maybe use an online database like [Supabase](https://supabase.com/) to track and cache data in order to avoid calling the same data from Subscan.

What do you think about the plan? Feel free to suggest any other tools that you know of.

[2021-12-30 17:40] jkdizajn commented on #1639
Here it is modified, I haven't learned how to animate the filled objects yet, so the slogan and logo remain static.

If you need it in green, just message me :)
https://github.com/jkdizajn/kodadot-presskit/blob/main/JKdizajn/30.12.21_KODADOT_preloader_2_pink_animated.svg

[2021-12-30 17:42] XyloDrone commented on #1639
Thank you ser, very much appreciated

[2021-12-30 22:18] #1109 closed

[2021-12-30 22:39] yangwao commented on #1639
sure let's put new one up

This has really gratified me, issues are starting working! )

[2021-12-30 22:42] yangwao commented on #1506
Chatted with @cryptodamsky and we should upgrade our guide.
Old version could be found here https://github.com/kodadot/nft-gallery/tree/main/src/locales

[2021-12-31 10:30] yangwao opened #1646 "Add v3 logo to pwa icon"
Right now it offers me old logo tho

![Screenshot_20211231-112940.jpg](https://user-images.githubusercontent.com/5887929/147818347-99a01df5-b839-4d60-a309-83c7a7d55851.jpg)

[2021-12-31 11:00] kkukelka commented on #1646
on it!

[2021-12-31 20:36] yangwao opened #1648 "Obsidian plugin using KodaDot"
Feel free to DM me on this I can expand more on this one

### Spec
- make a plugin that will create transactions directly from [Obsidian](https://obsidian.md/)
#### Functionality
- load private key
- sign transaction
- show left a balance on loaded address // denominate amount of submitted notes
- submit it as IPFS for now, easier
- mind bi-directional linking if there is linking between notes to

[2021-12-31 22:09] yangwao commented on #1007
This is about merging afaik to uniques

[2021-12-31 22:10] yangwao opened #1649 "User can choose to see only unique NFTs."
I'll add an option in the design that the user can choose to see only unique NFTs. This would be just a check box.

_Originally posted by @XyloDrone in https://github.com/kodadot/nft-gallery/issues/1007#issuecomment-995041866_

[2021-12-31 22:15] yangwao commented on #1581
I've just checked @kkukelka it's good to go, the chief (parent) label is added and looking forward to the next batch of user preferences! ;)

[2021-12-31 22:18] #1639 closed

[2021-12-31 22:19] #1646 closed

[2022-01-01 07:44] yangwao opened #1650 "New pwa icon seems doesn't work"
Seems doesn't offer new icon 👀 from #1647

@kkukelka any idea 💡 why it doesn't work 🤔

https://user-images.githubusercontent.com/5887929/147846330-36bcb6be-dd51-44d3-ba9d-9b060728721e.mp4

[2022-01-01 08:29] kkukelka commented on #1650
@yangwao Whoops, error on my end. #1651 should fix it, let me know if it still causes issues.

[2022-01-01 08:36] yangwao opened #1652 "Wider items in feeds"
Seems we have narrow preview on feeds
#1612

### spec
Fix it where items are narrow, i.e gallery, collections, artists profile (all tabs incl), collection detail

### doc
Comparing on beta

![Screenshot_20220101-093439.jpg](https://user-images.githubusercontent.com/5887929/147847057-01167cce-7e4b-46d3-90e1-f304b6021353.jpg)

Vs on legacy

![Screenshot_20220101-093411.jpg](https://user-images.githu

[2022-01-01 08:46] prachi00 commented on #1652
@yangwao I'll check this

[2022-01-01 17:15] yangwao opened #1654 "Review beta vs legacy on new features"
To briefly introduce what we've been actually working on the beta would be really nice if somebody could like take part and go from old legacy version since October and see what was actually added since October November and December till now and best if linked with the all issues which should have been merged and closed

Format should be like medium article which will be published on our KodaDot m

[2022-01-01 20:26] #1650 closed

[2022-01-01 20:41] yangwao opened #1655 "Search input suggestion and history seems broken/gone"
I recall we had working search suggestions?  https://github.com/kodadot/nft-gallery/pull/1576

you can try it here https://deploy-preview-1576--koda-nuxt.netlify.app/rmrk/gallery?page=2196 search for "kusama" for example

![image](https://user-images.githubusercontent.com/5887929/147859764-4155587c-b5f2-45b7-bb91-d36354a705d3.png)

Search is broken as well https://beta.kodadot.xyz/rmrk/gallery/?se

[2022-01-02 05:56] kkukelka commented on #1654
@yangwao I'm on it. Just a few question before I start:

1. Should the article be written in markdown (like as a `.md` file?)
2. Should the issues be linked in the article itself? Or is it just a reference for you in order to double-check, if everything has been closed accordingly?
3. Who can I talk to regarding editing & proof-reading purposes?

[2022-01-02 12:14] yangwao opened #1656 "Sync model-viewer properties from legacy"
Seems we are missing some properties from legacy

Objects are not moving
https://beta.kodadot.xyz/rmrk/gallery/10780126-900D19DC7D3C444E4C-AVATARSH-METAPRIME_GIRL_RUMBA-0000000000000004

The object is moving https://nft.kodadot.xyz/rmrk/detail/10780126-900D19DC7D3C444E4C-AVATARSH-METAPRIME_GIRL_RUMBA-0000000000000004

### Ref
#1612

[2022-01-02 12:24] yangwao commented on #1654
Let's make it a medium post, share a draft link and once ready, you can submit it to https://medium.com/kodadot publication.

yes. every links should be best related for reader... or.. I'm thinking to keep "graph" as whole, would be nice to create one parent/chef issue to link all stuff there so we can have references. Even just open and close issue, for evidence whatosver, something like "milesto

[2022-01-02 13:09] yangwao commented on #1640
I guess delist is list with 0 or it just should disappear from feeds and not be discoverable at all? cc @vikiival

I guess it's like when you put on youtube private listing accessible only with link?

[2022-01-02 14:09] kkukelka commented on #1656
on it!

[2022-01-02 14:25] yangwao opened #1657 "Clear out errors from manifest.json"
Seems we've got some errors

![image](https://user-images.githubusercontent.com/5887929/147878838-f7e6bd30-1dcb-43d4-8b3c-aa3de1b98bee.png)

![image](https://user-images.githubusercontent.com/5887929/147879071-ea9b043e-f62b-4a47-8fea-714842993240.png)

![image](https://user-images.githubusercontent.com/5887929/147879096-449eba2d-529e-4465-b70b-a766ef4f0581.png)

too much glitches in this desert ca

[2022-01-02 14:35] #1656 closed

[2022-01-02 14:45] yangwao commented on #1136
Lol, @vikiival accidentally close stuff, it's here @roiLeo https://github.com/kodadot/nft-gallery/issues/1529

[2022-01-02 14:49] vikiival commented on #1529
<img width="455" alt="Screenshot 2022-01-02 at 15 49 40" src="https://user-images.githubusercontent.com/22471030/147879574-0ba842f2-dc0e-479d-adef-1ab5b98b9d11.png">
there was update with new logos

[2022-01-02 14:50] yangwao commented on #1529
But, why it doesn't work then?

![image](https://user-images.githubusercontent.com/5887929/147879595-58cc8f69-6f58-4890-9897-9163e28c3b97.png)

[2022-01-02 14:52] yangwao commented on #1529
Seems like / giving me old one still https://beta.kodadot.xyz/

![image](https://user-images.githubusercontent.com/5887929/147879623-3153422d-0ab8-4b18-9522-c909b1592c85.png)

[2022-01-02 14:54] yangwao commented on #1529
Okay seems it's not changed as relative path at https://beta.kodadot.xyz/
![image](https://user-images.githubusercontent.com/5887929/147879689-1ddcf941-2bf1-4745-bfe3-dfd1cbdaf37b.png)

[2022-01-02 15:00] yangwao commented on #1529
Seems doesn't work at all
![image](https://user-images.githubusercontent.com/5887929/147879855-398b8514-98e6-425d-ba51-21dd788bd9ff.png)

![image](https://user-images.githubusercontent.com/5887929/147879860-306cb071-89e7-4351-b0f0-6bfdfa522dbd.png)

[2022-01-02 15:16] kkukelka commented on #1657
on it

[2022-01-02 16:03] yangwao commented on #1619
![](https://media.giphy.com/media/xTiTnyIbhHnVNyjm6c/giphy.gif)

I have no words for this amazing issue and effort someone goes through all of the issues and trying index them into one and whole kodadot v3! A really impressive amount of effort and thank you in the first place!

if there are, it's bc they left of old process and some of might be reinforcement by logging twice which is good, also be

[2022-01-02 16:20] XyloDrone commented on #1619
Thank you! Hopefully it will help us build stuff faster!

Fair enough and understandable.

Alright, I believe @onerawartist made a tutorial for minting, so that can be added and @cryptodamsky said he is also willing to make some materials. I've updated the landing page design and created a dedicated section for newcomers. I'll keep working on the entire user journey for new useers and we can add t

[2022-01-02 16:37] #1657 closed

[2022-01-02 17:02] yangwao opened #1661 "Visualize kodadot repository"
Find a creative way to visualize our GitHub repository kodadot/nft-gallery plus write article about examination
We want to visualize primary `main-nuxt` branch

The best visualization could be rewarded up to 1k$

![image](https://user-images.githubusercontent.com/5887929/147883122-fa1096e2-8d1c-431c-972f-0ce21ef17645.png)

![image](https://user-images.githubusercontent.com/5887929/147883364-27af7a

[2022-01-02 17:11] vikiival commented on #1640
Yeah @yangwao is correct.

[2022-01-02 17:43] roiLeo commented on #1529
we've got weird glitch with nuxt seo something is missing or not working on beta. I'll keep looking.

[2022-01-02 19:00] vikiival opened #1663 "Fix Queries for #1662"
Currently, the queries in #1662 can't process some data

Spotlight:
- [x] Volume
- [x] Unique collectors
- [x] Sold?

Series:
- [x] Volume
- [ ] #1680
- [x] floor
- [x] buys

[2022-01-02 19:19] yangwao commented on #1529
/giphy glitch

[2022-01-02 19:21] yangwao commented on #1640
Actually, what if we could make koda:: private to have nft collection hidden in zk way, like you would need some secret to found path to ipfs hash and metadata.

Ipfs is quite big search space to easy hide in the ☁️☁️☁️

[2022-01-02 19:40] yangwao commented on #1529
I've noticed there is build error on https://github.com/kodadot/nft-gallery/pull/1660 https://app.netlify.com/sites/koda-nuxt/deploys/61d1e498cc22870007bada1c

[2022-01-02 19:42] yangwao commented on #1663
Sorting doesn't work.

[2022-01-02 20:01] yangwao opened #1664 "Can not mint on beta"
### What happened?

When I click "create" it sends me to create collection by default, I think it should be the other way arounda

### Please reproduce in steps

https://beta.kodadot.xyz/rmrk/create

### Expected Behavior

Mint stuff

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

Yes

### At which address did you encounter bug?

beta.kodadot.xyz

### Scre

[2022-01-03 09:56] yangwao opened #1666 "Add more soft easing while expanding border"
Would be nice to have animation expand, maybe @kkukelka would be good at this?
https://user-images.githubusercontent.com/5887929/147917899-22f9abb4-5bdc-4ace-9d6e-bb5be2549b9d.mov

[2022-01-03 09:57] yangwao opened #1667 "Add preloader to spotlight & series"
Add preloader component with facts here on spotlight and series insights.

But keep it showing till all data loads

![image](https://user-images.githubusercontent.com/5887929/147918037-ed300c5d-1993-4142-8bed-af8c9f3a5be0.png)

As on mobile, it's for mystic reasons, slow.

[2022-01-03 09:58] yangwao commented on #1663
On mobile spotlight is somehow taking a while to load, it was over 60s, whereas on desktop is super fast. Any idea?

Can someone test it on mobile?

[2022-01-03 10:00] yangwao opened #1668 "Seems I've lost my browsing history"
I haven't emptied cache on https://beta.kodadot.xyz for specific reason to see which stuff glitches, but seems my history was wiped.

Any idea why could be like that?

Maybe @kkukelka would know 👀
![image](https://user-images.githubusercontent.com/5887929/147918270-a56ea664-ee06-40ee-931a-f228861c3ad0.png)

Proof of past history in my window 👀

https://user-images.githubusercontent.com/5887929/147

[2022-01-03 10:03] yangwao opened #1669 "Remove glowing effect from everywhere"
Remove background glowing from cards

![image](https://user-images.githubusercontent.com/5887929/147917797-873491be-e2d8-4baa-9ea0-d44fbd1b31cc.png)

![image](https://user-images.githubusercontent.com/5887929/147918495-7237958b-fe3b-4c98-8d75-3c7647a61a25.png)

![image](https://user-images.githubusercontent.com/5887929/147918506-ebcc64b0-5066-4963-b5c8-0321b807d567.png)

![image](https://user-imag

[2022-01-03 10:13] prachi00 commented on #1669
@yangwao I'll do this

[2022-01-03 10:20] kkukelka commented on #1668
@yangwao didn't you clear application cache for beta yesterday because of the pwa icon issue? this would also have cleared localstorage

[2022-01-03 10:22] kkukelka commented on #1666
I'll give it a shot

[2022-01-03 11:07] prachi00 commented on #1667
@yangwao on it

[2022-01-03 11:17] yangwao opened #1672 "Transparency dashboard"
Would be nice to somehow share fellow reports with KodaDot... in a more automatized way so anyone can peak on stats apart from quartal reports I'm writing

![image](https://user-images.githubusercontent.com/5887929/147924646-8382bb1a-f1d6-44ca-a30d-89337d92a92d.png)

### Ref
- https://nomadlist.com/open

[2022-01-03 11:55] yangwao commented on #1367
Well, you mean floating RMRK standard, yah? :D

I mean, let's add KODA::HIDE or something like that! :) later we can evolve into zkHIDE ;D

[2022-01-03 13:11] vikiival opened #1675 "Update polkadot api"
`yarn add @vue-polkadot/vue-api`

Vue-api since 0.0.48 contains polkadot-api v7 which breakes the types

[2022-01-03 13:12] vikiival commented on #1664
Should be fine now since redeploy.
API seems to be working

[2022-01-03 13:20] vikiival commented on #1663
5sec for me

[2022-01-03 13:22] yangwao commented on #1529
/giphy zavihaj rokave

[2022-01-03 13:23] vikiival commented on #1529
/giphy oh no

[2022-01-03 13:26] yangwao commented on #1529
/giphy zavihan rokav

[2022-01-03 13:28] yangwao commented on #1529
/giphy rolled up sleeve

[2022-01-03 14:03] yangwao opened #1677 "can we remove these warnings during build"
would be nice to mitigate warnings
while yarn dev or yarn generate
![image](https://user-images.githubusercontent.com/5887929/147939494-84fdd8fc-f57b-48f4-8688-4f2f1882bd51.png)

[2022-01-03 14:07] yangwao commented on #1529
With some magic potion, our `nuxt generate` doesn't copy files over during generate event

![image](https://user-images.githubusercontent.com/5887929/147940074-f1528bf3-1359-4c73-9897-c64758530dbb.png)

[2022-01-03 14:31] kkukelka commented on #1677
@yangwao
there are 2 mitigation strategies here:
1. rename fragments in unique folder
2. disable this warning by invoking disableFragmentWarnings
which do you prefer?

[2022-01-03 14:50] yangwao commented on #1529
/giphy biathlon

[2022-01-03 14:59] yangwao opened #1678 "Remove duplicated components"
I think we will be using only components located in `/unique` folder.
But you're right we don't need duplicated components

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/pull/1670#pullrequestreview-842710225_

[2022-01-03 15:01] #1669 closed

[2022-01-03 15:03] yangwao commented on #1529
okay where to go from here https://deploy-preview-1676--koda-nuxt.netlify.app/_nuxt/img/kodadot_card_root.64aab32.png

[2022-01-03 15:03] vikiival commented on #1346
Closing in favour of #1678

[2022-01-03 15:03] #1346 closed

[2022-01-03 15:04] vikiival commented on #1678
For ref check #1346

[2022-01-03 15:05] yangwao commented on #1529
mm
![image](https://user-images.githubusercontent.com/5887929/147946337-cf161de3-a54e-470a-ad2c-a076f8f14882.png)

[2022-01-03 15:32] yangwao commented on #1663
/giphy slow internet on toilet

[2022-01-03 15:44] vikiival opened #1680 "% change"

[2022-01-03 16:42] #1529 closed

[2022-01-03 16:42] #1663 closed

[2022-01-03 21:22] AndreyGrin commented on #1541
hey, @yangwao! Does all good with the design update?

[2022-01-04 07:34] prachi00 commented on #1678
I'll do this @yangwao

[2022-01-04 07:43] vikiival commented on #1678
@prachi00 rise and shine 🌞

[2022-01-04 07:44] kkukelka commented on #1578
I'll tinker with that. Prototype won't cover stuff like "open collection X" since X is near to impossible to get right with current Browser APIs

[2022-01-04 08:12] vikiival commented on #1612
- [ ] Search is missing on the collection page

Original:

![Screenshot 2022-01-04 at 09 10 50](https://user-images.githubusercontent.com/22471030/148028696-48af75f3-18e3-4fa5-841b-3bd5d320f631.png)

Beta:

<img width="1428" alt="Screenshot 2022-01-04 at 09 11 40" src="https://user-images.githubusercontent.com/22471030/148028726-9f3c07e7-cff9-4b84-8616-924657e6a1dc.png">

[2022-01-04 08:18] vikiival commented on #1612
- [ ] Identicon is gone

Original:
![Screenshot 2022-01-04 at 09 17 29](https://user-images.githubusercontent.com/22471030/148029485-f866f2c0-3295-49db-aac8-13d8b09de74b.png)

Beta:

<img width="675" alt="Screenshot 2022-01-04 at 09 18 16" src="https://user-images.githubusercontent.com/22471030/148029511-30609c26-6419-4aa8-ad1a-b2ae2c9132e2.png">

[2022-01-04 08:23] vikiival opened #1683 "BUY now button is not v-centered"

[2022-01-04 08:24] vikiival opened #1684 "Identicon is gone"
Basically we have 3 options now:
- try again [@polkadot/vue-identicon](https://www.npmjs.com/package/@polkadot/vue-identicon)
- reincarnate [@vue-polkadot/vue-identicon](https://www.npmjs.com/package/@vue-polkadot/vue-identicon)
- use [@vue-polkadot/sigil-js](https://www.npmjs.com/package/@vue-polkadot/sigil-js)

[2022-01-04 08:59] prachi00 commented on #1678
@vikiival
Wanted to clear one thing, so there are two CollectionItem files, one in` /rmrk/gallery` and another in `/unique` , so I should remove the one from `/rmrk/gallery` and update all imports to `/unique `one right ?

[2022-01-04 09:18] vikiival commented on #1678
So It's not that simple

just  to be sure:
- all files under the folder `/pages` are routes (so you can't remove them otherwise https://beta.kodadot.xyz/statemine/create/ would not work)
- the underlying components however should be refactored (ref #1346)

To the refactoring:

create a `BaseCollectionForm.vue`:
 - for image, name, description
 - also keep slot for middle items - unlimited, symbol

[2022-01-04 09:18] vikiival commented on #1678
This is just for Collection

[2022-01-04 09:19] #1683 closed

[2022-01-04 09:22] vikiival opened #1687 "Search is missing on the collection page"

[2022-01-04 09:24] roiLeo commented on #1684
#1407 related

[2022-01-04 09:31] vikiival commented on #1684
Updated description with alternatives
- the our identicon had some problem with the build afaik
- the polkadot would be like the simplest fix
- sigil-js is really nice but the package is huge (1.4MB vs 110 KB)

WDYT @roiLeo, @yangwao ?

[2022-01-04 09:37] vikiival commented on #1633
#1688

[2022-01-04 09:41] roiLeo commented on #1684
I thought that the problem with identicon came from PWA.

yeah, this one seems the best for now

the question doesn't arise, package is to big

Have you thought about creating your own Hashvatar component?

[2022-01-04 09:49] #1687 closed

[2022-01-04 09:52] #1633 closed

[2022-01-04 09:54] vikiival commented on #1684
this looks really nice!
This is mine
![Screenshot 2022-01-04 at 10 53 47](https://user-images.githubusercontent.com/22471030/148041370-ec9ef66e-abe0-46a4-8c31-b94ecc6e248f.png)

[2022-01-04 09:54] yangwao opened #1689 "Series and Spotlight highlight sales through KodaDot"
To encourage people using kodadot and be eglible for bonuses from KODA community core team we should add following to the charts.
Show column what amount of actions (mint, buys) we're made on KodaDot in
- Spotlight
- Series
- Artist profile

[2022-01-04 10:12] #1684 closed

[2022-01-04 10:16] yangwao commented on #1677
But wait, is that issue with our queries? Removing warning isn't the best way tho as warning is there for reason? 😄
cc @vikiival maybe to shot his insight

[2022-01-04 10:18] vikiival commented on #1612
Yaay we made this batch!

<img src="https://http.cat/100" />

[2022-01-04 10:18] yangwao commented on #1611
Wait, how did it happen you have an old logo? What URL is that?
Can you recheck on https://beta.kodadot.xyz?

[2022-01-04 10:22] vikiival commented on #1677
disabling warning is not best, but acceptable approach.

 **What is Fragment?**
 Fragment is a reusable piece of grapghQL query, so instead of querying `name, metadata, max, you can write `...collection`

 The best approach would be to create reusable fragment (eg. `baseCollection`) and then extend fragment with baseCollection and other data

[2022-01-04 10:27] yangwao opened #1691 "SEO and magic social cards - spiritual issue"
It's real, it's haunting my dreams.
Let's try to battle it.
A recent `main-nuxt` there is this release which seems does show links okays in open graph debugger

![image](https://user-images.githubusercontent.com/5887929/148044765-ce6be9e2-d13f-42af-84a7-bf8e4d37541e.png)

Plus for a special glitch reason, in our OG:Description, we have embedded README.md :D

![image](https://user-images.githubuser

[2022-01-04 10:27] vikiival opened #1692 "BUYING NFT causes crash"
### What happened?

Bought this [NFT](https://beta.kodadot.xyz/rmrk/gallery/10814871-cc8b278ce6655b2c2d-4PFFS-CHICK_110-0000000000000111)

after Buy, the app crashed

### Please reproduce in steps

-

### Expected Behavior

-

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

Yes

### At which address did you encounter bug?

beta.kodadot.xyz

### Screenshots

<img w

[2022-01-04 10:30] kkukelka commented on #1677
It doesn't effect our queries since we explicitly import the corresponding fragment correctly.
The library just checks globally if there are multiple fragments with the same name. This warning however doesn't imply that something is broken. It's just hinting at the fact that we **could** be importing the wrong fragment or even two fragments with the same name (which in fact would break the query).

[2022-01-04 10:33] roiLeo commented on #1612
/giphy fast dog

[2022-01-04 10:34] yangwao commented on #1692
lol how this happens

[2022-01-04 10:35] roiLeo commented on #1611
Same as before
![Capture d’écran 2022-01-04 à 11 34 54 AM](https://user-images.githubusercontent.com/9987732/148046416-3e5f5f1d-06e2-4930-af56-c32bea856bd0.png)

[2022-01-04 10:35] vikiival commented on #1692
According to the logs looks like the chart engine will die

[2022-01-04 11:24] yangwao commented on #1477
We are planning to use CF KV workers for storage as it's fast and convenient tho https://www.cloudflare.com/en-gb/products/workers-kv/

I'm not familiar with Supabase, checking their pricing, it's not something pay as you go I would prefer, but if that initial version we can have free tier, till then I'm okay with that :)

Generally, I would research something which storage solution is popular wit

[2022-01-04 11:27] yangwao commented on #1668
Hmmmm, okay will observe it later, when this happens again, probably reopen for investigation. Thanks for the hint! :)

[2022-01-04 11:27] #1668 closed

[2022-01-04 11:27] yangwao commented on #1675
/giphy don't kill my vibe

[2022-01-04 13:19] #1473 closed

[2022-01-04 13:21] yangwao commented on #1611
Version 96.0.4664.110 (Official Build) (arm64)
OSX 12.1 (21C52)

Have you tried disabled plugins or incognito? Or a new profile in chrome?

![image](https://user-images.githubusercontent.com/5887929/148065213-02ddb99c-6ff6-42cc-888e-4d98de9a0b50.png)

[2022-01-04 13:23] yangwao commented on #1677
Yup, rather try to fix warning by naturally solve the issue :)

[2022-01-04 13:40] roiLeo commented on #1611
Tried all these suggestions, still same.
After inspecting code, "Fira code" font is never loaded it's been replaced by monospace.
[This](https://nuxtjs.org/docs/directory-structure/assets/#fonts) could help to setup font.

[2022-01-04 13:44] yangwao commented on #1611
let's try tho!
But still weird it wfm! :D

[2022-01-04 13:47] yangwao commented on #1506
We should have also prepared a way when someone is making a new language and how to be added to this list

![image](https://user-images.githubusercontent.com/5887929/148068462-691588d3-b5f0-469e-ba8a-9c2ac7751a41.png)

[2022-01-04 14:33] yangwao opened #1694 "List new jobs opportunities"
Add to https://kodadot.xyz/jobs so yeah could be pushed to `main-nuxt`

We will be looking for
- developer advocate -- very needed for a hackathon to start
--Description -> We need you to help us with incoming developers, creating tutorials for developers on how to hack on our stuff, making streamlined flow when bugs occur and the rest of the greatly known avocados. Making good demos. Being an eng

[2022-01-04 14:35] kkukelka commented on #1694
on it

[2022-01-04 16:03] yangwao commented on #1680
- Add floor price query
- sorting doesn't work
![image](https://user-images.githubusercontent.com/5887929/148087633-c138b531-de14-41a8-948f-afbf059c296b.png)

[2022-01-04 16:11] yangwao commented on #1418
Oh no! I guess yeah that's where we will go with #1327

[2022-01-04 17:03] LatinSoul commented on #1694
Many jobs seem to be expired. Shouldn't they be removed from the website ?

[2022-01-04 17:29] roiLeo commented on #1637
Feature wise it could be something like:
- a feature ["tour" guide](https://twitter.com/okta/status/1471533922509074440)
- or [feature Discovery](https://material.io/archive/guidelines/growth-communications/feature-discovery.html)

[2022-01-04 17:32] kkukelka commented on #1694
@LatinSoul Let me know which ones should be removed. It just takes me a matter of seconds to edit 😝

[2022-01-04 18:30] prachi00 commented on #1678
@vikiival okay got it, I'll try to do this
one more thing I was confused about is since we are not moving the logic (it remains in the parent component), how are we going to handle the v-model value?
for example, suppose I move this `basicinput` to the new `BaseCollectionForm` component, so how will the parent component access the value or do we just keep all of this in slot?
<img width="487" alt=

[2022-01-04 18:32] LatinSoul commented on #1694
Almost all of them! hahaha. More seriously, here is the list of those tagged as "expired", at list in cryptojoblist.com :
https://cryptojobslist.com/jobs/senior-business-and-operations-manager-at-metaprime-berlin
https://cryptojobslist.com/jobs/senior-business-and-operations-manager-at-metaprime-berlin
https://cryptojobslist.com/jobs/technical-product-manager-at-metaprime-kodadot-berlin
https://cr

[2022-01-04 18:39] kkukelka commented on #1694
all done 👍

[2022-01-04 19:28] kkukelka commented on #1677
@vikiival sadly it looks like we cannot just extend fragments of fragments like with classes and interfaces. i therefore split up the "extended" one into separate fragments. and then we just import them both like described here https://www.apollographql.com/docs/react/data/fragments/#creating-colocated-fragments

[2022-01-04 20:09] XyloDrone commented on #1637
I vote for "tour guide" and we can structure our FAQ as feature discovery?

[2022-01-04 20:55] vikiival commented on #1677
["Alexa play summertime sadness"](https://open.spotify.com/track/3BJe4B8zGnqEdQPMvfVjuS?si=epUjBhVSTs2orN_GVzbbJA)

[2022-01-05 10:29] yangwao commented on #1200
what's about yolo https://github.com/nuxt-community/google-analytics-module

[2022-01-05 10:45] roiLeo commented on #1200
Google analytics is an easy solution, now it depends on your choices if you want to do with or without GAFA tools.
You should consider adding a cookie notice for European users. (we already send data through discord widget)

[2022-01-05 12:04] #1666 closed

[2022-01-05 12:22] yangwao commented on #1694
Ah, I see, where it comes from...
Thinking...
@kkukelka let's add those back I left a comment in #1696 and put there same Discord link!  It should drop person to introduction, probably I don't need specify job position if they know what they are applying for, intent is just to virtue signal potential seekers we have those positions open :)

[2022-01-05 13:41] yangwao commented on #704
Okay I rather write payout bot to obsolete this but hence at least basic functionality would be super hefty for me for one time payouts!

[2022-01-05 14:13] kkukelka commented on #1691
@yangwao may I ask why we are even using `metaInfo()` (from vue-meta) at all? Nuxt uses vue-meta under the hood and provides much more powerful hooks via `head()` and `meta`. May be worth thinking about refactoring it alltogether. https://nuxtjs.org/docs/features/meta-tags-seo/

[2022-01-05 14:20] #1694 closed

[2022-01-05 14:27] #1611 closed

[2022-01-05 14:30] #1652 closed

[2022-01-05 15:05] vikiival commented on #1691
also this could help for faster SEO https://github.com/kodadot/rubick/issues/13

[2022-01-05 15:08] vikiival opened #1700 "Refactor vue-meta to the Nuxt approach"
### Is your feature request related to a problem?

ht/ @kkukelka

### Describe the solution you would like

- Use nuxt seo principles and use more reusable pieces
- something like /utils/seo

### Describe alternatives you have considered

-

### Screeenshots

-

[2022-01-05 15:08] vikiival commented on #1700
Tracked in #1691

[2022-01-05 15:09] vikiival commented on #1691
good idea: https://github.com/kodadot/nft-gallery/issues/1700

[2022-01-05 18:46] yangwao opened #1701 "Admin panel doesnt work"
- make send window at least three times height of original one
![image](https://user-images.githubusercontent.com/5887929/148271638-9a90ee87-223c-462a-9bef-c9d35d15efb2.png)

- on beta, could not load collections
![image](https://user-images.githubusercontent.com/5887929/148271688-f69a0809-a544-450e-9612-44c004265943.png)

[2022-01-05 19:45] kkukelka commented on #1701
just some starting points if someone wants to tackle this:
- definitely caused by $apollo being called before it is being initialised (see `fetchCollections` in `/rmrk/admin.vue`)
- readup on: https://github.com/apollographql/apollo-client/issues/6816

[2022-01-05 20:03] yangwao opened #1702 "Remove old endpoints for Subquery"
Probably reflect on the legacy and for beta as well

![image](https://user-images.githubusercontent.com/5887929/148281299-b7ac323f-dddc-4b43-a486-26a6412ed748.png)

[code]

[2022-01-06 08:26] roiLeo commented on #1599
- closed in #1695 (working for now)

[2022-01-06 08:26] #1599 closed

[2022-01-06 10:53] yangwao opened #1706 "Muzak -- aka elevator music for next meta_hours_3"
Let's research on some chilly elevator music, in short muzak https://en.wikipedia.org/wiki/Muzak for upcoming meta_hours_3 :)

ooo even better, let's generate music fo meta_hours

bpm should match usual speaking speed, not something speedy! :D
Probably something Lo-FI?
oh and no vocals! :)
probably something Royalty Free 8-Bit could be best as we are heading to the gaming! :)

### Candidates
- Cap

[2022-01-06 12:35] yangwao opened #1707 "Update logo on Subquery Featured projects"
https://github.com/kodadot/kodadot-presskit/tree/main/v3

![image](https://user-images.githubusercontent.com/5887929/148383761-d3dcc540-4f88-4301-a6c2-deb622ad8079.png)

[2022-01-06 18:14] jkdizajn commented on #1706
My candidates:
https://play.generative.fm/browse

or paste all Kodadot code hehe: https://typatone.com/m/HPufRDurgH

:P

[2022-01-07 10:55] vikiival commented on #1707
<img width="1792" alt="Screenshot 2022-01-07 at 11 54 49" src="https://user-images.githubusercontent.com/22471030/148533860-4142682d-51f2-4ec3-9669-93bba1b7009f.png">

[2022-01-07 10:55] #1707 closed

[2022-01-07 11:07] vikiival commented on #1702
For legacy can you please update

[code]

[2022-01-07 11:09] roiLeo commented on #358
#1611 related

[2022-01-07 11:13] roiLeo commented on #425
is this still relevent?
I think we can close this since we introduce new version with Layout & top pagination

[2022-01-07 11:15] roiLeo commented on #702
closed in #1696

[2022-01-07 11:15] #702 closed

[2022-01-07 11:16] #630 closed

[2022-01-07 11:19] roiLeo commented on #833
#982 & #1006 related

[2022-01-07 11:20] roiLeo commented on #762
/giphy squid

[2022-01-07 11:23] roiLeo commented on #786
I prefer if we can use html 5 built-in form validation features.
This validation generally doesn't require much JavaScript and built-in form validation has better performance.

[2022-01-07 11:31] roiLeo commented on #883
closed in #983

[2022-01-07 11:31] #883 closed

[2022-01-07 11:32] roiLeo commented on #1057
closed in #1112

[2022-01-07 11:32] #1057 closed

[2022-01-07 11:37] roiLeo commented on #1118
#942, #1569 related

[2022-01-07 11:39] AndreyGrin commented on #786
html 5 validation is pretty easy and can cover most of the cases.
Does that `vee-validate` can work nicely with UI libraries?

[2022-01-07 11:54] vikiival opened #1713 "Unable to mint signular based NFTs"
### What happened?

I tried to mint the NFT to my old collection I have made many months ago

[code]
The result

[code]

looks like there is a bug in both `legacy` and `beta`

### Please reproduce in steps

-

### Expected Behavior

-

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

_No response_

### At which address did you encounter bug?

_No response_

[2022-01-07 13:26] #1677 closed

[2022-01-07 13:30] #1577 closed

[2022-01-07 13:31] #1029 closed

[2022-01-07 13:31] #1702 closed

[2022-01-07 13:31] #1667 closed

[2022-01-07 13:33] yangwao commented on #1713
Now question.. what if we just disable minting into classic collections.. for now? :D
Any eta what could be done about that?
Please no locked balance transfers like fellow $BSX 😭

[2022-01-07 13:47] yangwao opened #1714 "Add to contributing.md working wallets"
As people would like to carry their bounties in different ways and help them create their wallets, please add a list of wallets + guides on how to find new wallet to receive a bounty

Assembly some good manual with all options where we can reference new contributors.

h/t to @atharva3010 for inspiration

### Ref
- https://wiki.polkadot.network/docs/build-wallets

[2022-01-07 13:48] atharva3010 commented on #1714
Thanks for the mention @yangwao!

[2022-01-07 13:49] #1635 closed

[2022-01-07 13:51] vikiival commented on #1713
Workin on that

[2022-01-07 14:20] yangwao commented on #1700
@kkukelka want to flex on this one?

[2022-01-07 15:03] vikiival opened #1716 "Refactor remark"
https://github.com/vikiival/minimark/issues/1

use for: KodaDot, SubQuery, SubSquid

[2022-01-07 15:37] vikiival commented on #1370
https://color-mode.nuxtjs.org

[2022-01-07 15:44] prachi00 commented on #1361
@vikiival @yangwao is this still an issue?

[2022-01-07 15:53] jkdizajn opened #1719 "The slider in the collection browser responds to any keystroke :)"
### What happened?

I found a bug while browsing my collection. When you open a particular NFT in the beta version, there is a slider that simply takes you to the next NFT in that particular collection - that's great, I like it a lot. I like it up until I press any key on my keyboard it automatically skips the swipe to the next NFT. I figured it out by accident, I wanted to copy the text to my NFT

[2022-01-07 16:01] vikiival commented on #1719
May @kkukelka

[2022-01-07 16:48] #1713 closed

[2022-01-07 18:26] kkukelka commented on #1700
Sure thing! I'll get onto it first thing tomorrow.

[2022-01-07 18:28] kkukelka commented on #1719
I'll take a look at it! 👍

[2022-01-07 19:14] yangwao opened #1722 "Serverless affiliate/referral link engine"
Make function with KV worker to make referral links and account some referall fee for people and figure out incentives scheme to spread the word about KodaDot

We can expand on this more

### Incentivize goals
- bring more people
- more artists
- more collectors

### Qualification
- Log In with Twitter (have a minimal amount of Twitter, 20?) ?
- Have a minimal amount of $KSM on address (verify the

[2022-01-07 19:17] #1719 closed

[2022-01-08 03:53] rchovatiya88 opened #1723 "Series Insight page is not loaded"
### What happened?

When user visit https://nft.kodadot.xyz/series-insight
- The page is blank

### Please reproduce in steps

When user visit https://nft.kodadot.xyz/series-insight
- The page is blank

### Expected Behavior

Page should load

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

Yes

### At which address did you encounter bug?

nft.kodadot.xyz / kodado

[2022-01-08 04:00] rchovatiya88 opened #1724 "Spotlight page is not loaded"
### What happened?

When user visit https://nft.kodadot.xyz/spotlight

The page is blank

### Please reproduce in steps

When user visit https://nft.kodadot.xyz/spotlight

The page is blank

### Expected Behavior

Page should be displayed

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

Yes

### At which address did you encounter bug?

nft.kodadot.xyz / kodadot.xy

[2022-01-08 10:40] kkukelka commented on #1654
@yangwao @XyloDrone
Link to article draft:
https://medium.com/@kilian.kukelka/road-to-kodadot-v3-recapping-the-last-chapter-of-2021-9709fb4f3ee7

[2022-01-08 10:43] prachi00 commented on #1421
@yangwao @vikiival so I was checking this out and I think discord doesn't support finding users by username through a url, so do we just show the username which wont be clickable?

[2022-01-08 10:48] vikiival commented on #1421
Yeah also non-clickable field would be good imho

[2022-01-08 12:14] yangwao commented on #1200
It's GA4 code
```G-R21B1E85QE```

@roiLeo yes, if you can put something super easy! Thinking something in the top?

Gonna crack on some new PR with code etc:)
We need to preserver data as now we are locked in Netlify which isn't inherently bad, but we don't have any other measurement and not sure about CF what can offer, more insights, more data, higher odds we can see what's happening and why! :)

[2022-01-08 12:43] yangwao commented on #1200
Probably making it as optional environment variable as it's not hardcoded tho and we can test this one for beta.kodadot.xyz if everything works and then I can create another one for productions so we are briefly in numbers, flow etc bounces

[2022-01-08 12:45] yangwao commented on #1200
okay seems easy to go https://google-analytics.nuxtjs.org/setup/

[2022-01-08 13:09] yangwao commented on #834
@roiLeo :P

ref
- #1200

[2022-01-08 13:15] yangwao commented on #1060
/giphy has anyone calling me

[2022-01-08 13:18] yangwao opened #1726 "Deploy pre-production to Cloudflare pages"
- `main` branch for stable release
- `nuxt-mark` as for production j/k w vikiival
- archive `rmrk-lite` and `old-spa` time to say good bye
- keep `main-nuxt` as beta channel so it can be still default branch tho to track issue and issues closes automatically

Any objections?

### Ref
- #1060
- #1612

[2022-01-08 13:31] yangwao opened #1727 "Add prefetch to pages and prefetch content"
To make a seamless experience, let's try to do prefetching where is possible
I guess we can save one more roundtrip using subsquid on this?

### Spec
- gallery
- collections
- collection detail
- item detail (when moving left right using key arrows, we should prefetch 3-6 pages when browsing from start to next pages.)

@vikiival had suggested that we could have prefetch pages AND content by lurkin

[2022-01-08 14:06] yangwao opened #1728 "Dotscanner profile missing text"
@prachi00 I've found bug 👀

at https://beta.kodadot.xyz/rmrk/gallery/10834735-6ae6618638b0779c05-13-SCORPIO-0000000000000008

![image](https://user-images.githubusercontent.com/5887929/148647164-537b49f0-c75e-4b96-a4f3-1d0718695647.png)

### Ref
- #1029
- #1703

[2022-01-08 14:09] prachi00 commented on #1728
@yangwao checking this

[2022-01-08 18:18] #1200 closed

[2022-01-08 19:00] #1728 closed

[2022-01-08 19:01] roiLeo commented on #1728
Don't we miss sub.id link too?

[2022-01-08 19:31] yangwao commented on #1728
that's was only on artist profile afaik, but hmm, to be consistent maybe would not be bad to add,

[2022-01-08 19:39] yangwao opened #1733 "NFT item detail extra pixel spacing border"
https://beta.kodadot.xyz/rmrk/gallery/10877512-6ec662611f161fd10a-DDWORLD-DOODLE_KITSUNE-0000000000000028

Not sure if I'm blind but there is 1px spacing?

![image](https://user-images.githubusercontent.com/5887929/148657471-dd43a756-e5d1-45de-a263-024aef482021.png)

[2022-01-08 19:42] yangwao opened #1734 "Missing collections stats"
https://beta.kodadot.xyz/rmrk/collections?page=2

https://user-images.githubusercontent.com/5887929/148657550-b85a0675-ed63-4a51-a1d9-2ae9ec48f16f.mov

[2022-01-09 06:13] kkukelka commented on #1734
@yangwao still working for me

https://user-images.githubusercontent.com/17953978/148671411-25edc21d-e0a7-47dc-b216-d3f28e98c60d.mov

[2022-01-09 07:23] chandradot99 commented on #1606
@yangwao I can pick this issue, need to clarify two things
1. Do we have some designs for this, or I can add any UI for this according to me.
2. What are the API's for updating single selected NFT price or whole selected NFTs together.

[2022-01-09 08:07] yangwao opened #1736 "Show collectors identicons on artist profile"
To better start showing social graph we should start showing in current stage number of collectors total and small identicons of users collected from particular artist to bit strength social confidence.

Once you will hover on particular collector you could see hovering card with numbers like if author minted &c

It would be later related to #(passion feed)

![Screenshot_20220109-090206.jpg](https

[2022-01-09 09:56] yangwao opened #1737 "Animated Server Banner"
Let's make an animated server banner and make it ready once we will reach boosted level 3 of our discord https://discord.gg/35hzy2dXXh

It's commissioned work as a contest, something pretty easy, nothing shocking so people with psychotic behaviour could peacefully live on our discord

Post your material in this thread

### Ref
- https://support.discord.com/hc/en-us/articles/360028716472-Server-Ban

[2022-01-09 10:17] yangwao commented on #1477
Hey @jbienesdev how it's going? 😇

[2022-01-09 10:26] #1701 closed

[2022-01-09 10:29] yangwao commented on #153
I guess we can premake some colours?
https://color-mode.nuxtjs.org/

- #1638

[2022-01-10 07:30] chandradot99 commented on #1736
Hi @yangwao I want to pick this issue but since I am still exploring this project, I am not fully aware of the backend and api's which we are using for this project. If there are any resources or documentation for the same, it will be very helpful for me to get started and contribute more on this.

[2022-01-10 08:20] XyloDrone commented on #153
Perhaps @CdrsAlejandro would like to give a hand with this as he had some proposals before?

[2022-01-10 09:50] jkdizajn commented on #1719
Perfect!!! <3

[2022-01-10 10:23] yangwao opened #1742 "Research on maintainers health of packages we are using"
Hey, as we would like to take an antifragile approach here and avoid further burnout or whatever happened to the author of `colors` & `faker` we would like to prevent it as soon as possible.
We believe and have the intent to sponsor OSS packages and give back once our revenue/sustainability allows.

### todo
- inspect our current [package.json](https://github.com/kodadot/nft-gallery/blob/main-nuxt

[2022-01-10 10:53] vikiival opened #1743 "Rename Vue-based branch app"
Currently is `main`.

Suggesting: `spa` or `legacy`

[2022-01-10 11:02] kkukelka commented on #1742
on it!

[2022-01-10 11:34] roiLeo opened #1744 "Media type icon on gallery card image"
### Is your feature request related to a problem?

I'm always frustrated when I don't know what media type I'll be looking at

### Describe the solution you would like

I would like to see an icon on gallery image (like we show event icon or price on card) for what media type nft is

### Describe alternatives you have considered

I would put these icons in the top left corner

- [VIDEO](https://fo

[2022-01-10 11:41] yangwao opened #1745 "Move DeviceOrientation.ts to utils?"
Curious where we could have this, utils should be best new home for this?

https://github.com/kodadot/nft-gallery/blob/main-nuxt/directives/DeviceOrientation.ts

[2022-01-10 11:47] prachi00 commented on #1745
@yangwao I'll check this

[2022-01-10 11:51] yangwao commented on #1745
I'm checking that some stuff could be moved elsewhere, regarding this https://github.com/kodadot/nft-gallery/issues/1559

Namely
`vue-audio-visual.d.ts`
`emoji-unicode.d.ts`
`gql.d.ts`

maybe put them into `/types` ?

Referring to #1614 by @roiLeo as well

[2022-01-10 12:03] atharva3010 commented on #1722
@yangwao let's do this.

I think the easiest route to go about this would be for users to submit their wallet address as it is a unique key and we don't have to worry about the authentication of the user as the user will receive a payout in their wallet only.

[2022-01-10 12:41] prachi00 commented on #1745
Sure, I'll see what all can be moved

[2022-01-10 12:59] roiLeo commented on #1734
This just happened to me too, worked again after clearing my browser cache.
Could be an issue with pwa

[2022-01-10 14:02] yangwao commented on #1208
Another candidates
- https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/docs/list-a-project.md
- https://ovio.org/projects
- https://firstcontributions.github.io/

[2022-01-10 14:12] yangwao commented on #1208
Interesting reads
- https://opensource.guide/how-to-contribute/

[2022-01-10 14:13] yangwao commented on #1472
yup

[2022-01-10 14:13] #1472 closed

[2022-01-10 14:22] #1733 closed

[2022-01-10 14:26] yangwao opened #1748 "Add Identity back and extend it with possibility add Discord"
Please return back our Identity form -- https://kodadot.xyz/identity
and extend it with the possibility to add a Discord username based on #1739

### Ref
- #1421
- #1739
- #1060
- #1612
![image](https://user-images.githubusercontent.com/5887929/148781763-eb34685c-d784-49ef-8b95-46e256d01220.png)

[2022-01-10 14:31] yangwao opened #1749 "Transfer seems broken on Beta"
Seems it's missing
Test at https://beta.kodadot.xyz/transfer/?usdamount=100&target=EzGc4s9PgCPx1YnF3fqzhLzVHpHMTL4LWPScwpDrR8JKgSU

- the current price of $KSM
- when I enter USD value, doesn't update KSM amount
- when I enter KSM amount, doesn't update USD amount
- missing unit for native asset?

### Ref
![image](https://user-images.githubusercontent.com/5887929/148782465-a67dbef4-dfa8-4f84-9630-

[2022-01-10 14:34] yangwao commented on #1724
Yup, we are pretty aware of that, on https://beta.kodadot.xyz/spotlight is working well, we've been implementing a new indexing partner SubSquid for this. :)

[2022-01-10 14:34] #1724 closed

[2022-01-10 14:35] #1723 closed

[2022-01-10 14:43] prachi00 commented on #1749
I'll check if I can figure this out

[2022-01-10 14:48] roiLeo commented on #1745
- remove docker_koda
- move src-functions ?

[2022-01-10 14:53] prachi00 commented on #1749
![Uploading Screenshot 2022-01-10 at 8.23.36 PM.png…]()

I see this on console

[2022-01-10 15:08] prachi00 commented on #1749
@yangwao @vikiival  Also this.$store.getters.getCurrentKSMValue this is undefined, so teleport is not working either
https://beta.kodadot.xyz/teleport

[2022-01-10 15:12] roiLeo commented on #1749
replace this line:
[code]

[2022-01-10 15:37] roiLeo commented on #1749
@prachi00 I forgot about all getters.

Should be
[code]
instead of
[code]

[2022-01-10 15:43] prachi00 commented on #1749
Thank you, I'll try doing this

[2022-01-10 17:27] yangwao opened #1751 "SubSquid integration views"
What's missing to speed up for us and where we could have advantage using SubSquid?

### Potential targets
- #1838 collection activity graph
- artist profile - various tabs
- collections list (new resolver to drop collections with 0 nft)

Would be great we could deliver it to v2.2

[2022-01-10 18:05] yangwao opened #1752 "Distinguish between sold and sent?"
I guess it would help to see distinguish between these actions as it's not the same?
Probably would need to new query?

![image](https://user-images.githubusercontent.com/5887929/148816156-3d74fc72-d33d-45f5-8d14-39674220281c.png)

[2022-01-10 18:09] yangwao commented on #1206
@vikiival had suggestion that we could have prefetch pages AND content by lurking into nuxtjs documentation

### Ref
https://nuxtjs.org/announcements/introducing-smart-prefetching/
https://github.com/GoogleChromeLabs/quicklink
https://www.npmjs.com/package/nuxt-prefetch

[2022-01-10 18:13] yangwao commented on #1206
Continue to https://github.com/kodadot/nft-gallery/issues/1727

[2022-01-10 18:13] #1206 closed

[2022-01-10 18:16] yangwao opened #1753 "Limit lenght of name on hover card"
https://nft-gallery-5ci.pages.dev/spotlight

![image](https://user-images.githubusercontent.com/5887929/148817557-c26a5465-723b-4c6c-8e43-e22acef8d958.png)

[2022-01-10 18:17] kkukelka commented on #1753
on it!

[2022-01-10 18:21] yangwao opened #1754 "Don't render graph until tab is clicked"
When you open collection I have highly suspect we are fetching data for Activity tab and we should not to

https://nft-gallery-5ci.pages.dev/rmrk/collection/66241b171becfd500e-EGG?tab=collection

![image](https://user-images.githubusercontent.com/5887929/148818244-c1191bb4-2976-4bea-a897-70a4873ad857.png)

[2022-01-10 18:26] yangwao opened #1755 "Weird chart error?"
At the buy event, I've received this
plus seems reloader doesn't go away even on-chain action is finished
![image](https://user-images.githubusercontent.com/5887929/148818917-080f3f8d-28d6-4b9d-87bb-b2bf3a96af58.png)

### ref
#1692 related?

[2022-01-10 18:30] yangwao opened #1756 "Review handling account name on hover card"
Seems we've got bug on nft item detail and whenever we are using hover card and throws **400** on `magick` endpoint

![image](https://user-images.githubusercontent.com/5887929/148819397-854c533a-d2a4-4ce0-9d45-ffee3e901de2.png)

[2022-01-10 18:36] yangwao opened #1757 "Sorting doesn't work on series"
Sorting doesn't work on series.

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/1663#issuecomment-1003765030_

[2022-01-10 18:39] yangwao opened #1758 "v2.2 -- hyper hyper"
![image](https://user-images.githubusercontent.com/5887929/148820858-270a1079-1b47-4b9b-9722-41ee744ffd1c.png)

v2.2 should be generally focused on
- speeding up UX
- cut down loading times
-  making the experience for users way comfortable &c
- plus some minor cosmetic improvements

### You can see them all through the label
- https://github.com/kodadot/nft-gallery/labels/v2.2

### Ref
- tribute