[2022-04-12 07:25] #2807 closed

[2022-04-12 07:55] yangwao commented on #2822
Make sense, we actually discussed this with @vikiival that's would be nice to have this extended to broaden range of insights for users.

[2022-04-12 08:12] yangwao commented on #1000
I guess we should notice this in our FAQ?
I know it might be a duplicate, but for sure, we should take evidence of this one.

Would be good to have this one in https://docs.kodadot.xyz

📟 @cryptodamsky  @thea-exe

[2022-04-12 08:31] #474 closed

[2022-04-12 08:59] yangwao commented on #2816
Seems we are quite good at Beta right now, desktop after emerging #2815
Time to interactive from previous 3.6 -> 2.1s is quite good improvement.
Speed index went from 3.1 -> 2.3s
Blocking time went from 710ms to 210ms tho!

Overall performance from 41 -> 76, we are getting usable again!

That's lot of significant upgrades
![image](https://user-images.githubusercontent.com/5887929/162922163-e32b972

[2022-04-12 09:12] yangwao commented on #2283
👋 hey what's the status on this? Have you managed to move with videos and article? :)

[2022-04-12 09:34] vikiival commented on #2822
PR for rubick is merged https://github.com/kodadot/rubick/pull/49
I'll let it redeploy today so ~2 days to be fully synced

[2022-04-12 09:44] #2719 closed

[2022-04-12 09:45] #2820 closed

[2022-04-12 09:46] #2747 closed

[2022-04-12 10:36] prachi00 commented on #2753
this doesn't seem to be an issue anymore, closing this.

[2022-04-12 10:36] #2753 closed

[2022-04-12 10:47] #2489 closed

[2022-04-12 10:48] preschian commented on #2759
noted, will check cf images instead of pinata

I think the vercel is for "image generator"

the worker modifies HTML before returning to the user
before:
1. browser receive this tag `<meta property="og:image" content="https://kodadot.xyz/kodadot_card_root.png">`

after:
1. browser receive this tag `<meta property="og:image" content="https://vercel.app/image.png">`

[2022-04-12 11:06] yangwao opened #2826 "Builds are broken"
To me looks like a Netlify outage?

`Deploy did not succeed: Deploy directory 'dist' does not exist`

First failed build seems on `main` at 11:44am

My bet is at

https://github.com/kodadot/nft-gallery/pull/2815/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R27

### Ref
- https://github.com/kodadot/nft-gallery/pull/2812
- https://github.com/kodadot/nft-gallery/pull/282

[2022-04-12 11:32] yangwao commented on #2826
Seems #2828 build at CF but failed test on GH

![image](https://user-images.githubusercontent.com/5887929/162950913-2a6ca2a4-64fd-477d-98f4-7d51526a9fcd.png)

[2022-04-12 11:38] yangwao commented on #2826
Waiting for Netlify to confirm this

![image](https://user-images.githubusercontent.com/5887929/162951823-1aed40e1-9cb1-4872-978f-bc56b8dd86f2.png)

[2022-04-12 11:38] yangwao commented on #2826
Yes, works

https://app.netlify.com/sites/koda-nuxt/deploys/625562df05ad3800090b5329

[2022-04-12 11:39] #2826 closed

[2022-04-12 11:42] yangwao opened #2830 "Dist is not being commited to filesystem but generated"
Seems even after revert, GH does build but the test fails?

- #2826
- https://github.com/kodadot/nft-gallery/issues/2826#issuecomment-1096606454
- #2828

![image](https://user-images.githubusercontent.com/5887929/162952354-becde026-a2bb-4f2d-8a08-2c08f90cef75.png)

Seems everything is building here at [`3049c4d` (#2805)](https://github.com/kodadot/nft-gallery/pull/2805/commits/3049c4d1a9be1407cc61

[2022-04-12 12:32] yangwao commented on #2830
Might this be related? https://github.com/nuxt/framework/issues/4119

[2022-04-12 12:58] yangwao opened #2834 "Seems diagram fails"
Seems workflow on diagram is failing 🫣

https://github.com/kodadot/nft-gallery/actions/workflows/diagram.yml

![image](https://user-images.githubusercontent.com/5887929/162967606-feaffbfb-7790-410e-8d4e-3d4cb78a4641.png)

[2022-04-12 19:25] yangwao opened #2835 "Merge minor+patch updates for rennovate"
would be nice to merge that renovate bumps in one PR minor+patch, why is it's split now?

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/pull/2831#issuecomment-1097127111_

[2022-04-12 19:25] yangwao commented on #2835
📟 @preschian might want to do this one? :)

[2022-04-12 19:50] yangwao commented on #2759
handover access to @preschian so will see when we can see new previews! :)

[2022-04-13 02:49] KngZhi commented on #2834
I think the `main` branch is protected by default[1], maybe we need to change the name or setting, like previously using the `main-nuxt`. You can check the [here](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule#creating-a-branch-protection-rule) to found out whether it is protect

[2022-04-13 04:24] preschian commented on #2835
sure will update this

[2022-04-13 06:44] roiLeo opened #2836 "Missing nfts in profile created tab"
### What happened?

A bug happened!

### Please reproduce in steps

- Go to `/rmrk/u/DVa676uebTkgH8uZyS2umio7JtmkcSHHoPvPJJQY3bbYoAu`
- See missing nfts

### Expected Behavior

I've expected to see all nfts

### What browsers are you seeing the problem on?

Firefox

### Are you logged in?

_No response_

### At which address did you encounter bug?

beta.kodadot.xyz, kodadot.xyz

### Screenshots

!

[2022-04-13 06:50] prachi00 commented on #2836
@roiLeo I can check this

[2022-04-13 06:59] yangwao commented on #2836
Hmm noticed like this yesterday at explorer at beta but when I went back through pages it showed again.

Isn't there an issue with how we fallback to Pinata from CF?

📟 @vikiival

[2022-04-13 07:01] prachi00 commented on #2836
https://beta.kodadot.xyz/rmrk/detail/12009176-289d0e953cbdc59a73-HHK-0072_HYPEHELL_KEYCHAIN-0000000000000072

it doesnt load either

[2022-04-13 07:01] yangwao opened #2837 "Add Bookmark/Watch list"
![image](https://user-images.githubusercontent.com/5887929/210785836-553287d5-31ed-44ce-904e-de89933592f9.png)

I recall we had designed packs/lists back then using Textile but then we pulled out (don't even recall why) and now it's probably time to recycle ♻️ implementation (if we can) so people can create lists?

This could be used of course in a multidimensional way. I.e. ppl sorting stuff like

[2022-04-13 07:18] KngZhi commented on #877
I'll check this.

[2022-04-13 07:18] roiLeo opened #2838 "Link in /collection/{id} are broken on beta"
### What happened?

- something i guess

### Please reproduce in steps

- Go to `/rmrk/collection/800f8a914281765a7d-KITTY` or any collection
- Click on any nft
- you're redirect to `/explore/?tab=GALLERY`

### Expected Behavior

I've expected to be redirected to the nft details

### What browsers are you seeing the problem on?

Firefox

### Are you logged in?

_No response_

### At which address

[2022-04-13 07:19] prachi00 commented on #2838
@roiLeo I;ll check this one

[2022-04-13 07:52] roiLeo opened #2840 "Can we have collection first in explore?"
I feel like it's in reverse

+ I would like to see the tabs in Sentence case (first letter capitalised)
+ plural "Collection" since it show multiple collections
+ missing "Showing result of ..." in `/explore/?tab=COLLECTION`
+ missing sort in collections tab

[2022-04-13 07:55] prachi00 commented on #2840
@roiLeo I;ll check this as well, also I think we were adding it in preference for tab position

[2022-04-13 07:55] prachi00 commented on #2840
#2819

[2022-04-13 08:01] roiLeo commented on #2840
Can we have Collections first by default?

[2022-04-13 08:35] #2830 closed

[2022-04-13 09:01] roiLeo commented on #2792
Hey! I've got multiple comments for landing page:

1. would it be possible to have a mobile/tablet version
2. we need to have a "logged" screen and one where it is not "logged in", I'm not for having 2 CTA button in navbar, I suggest that you remove "Create" button if the use is not logged in and vice versa, same for MyProfile link in navbar
3. I would change "Log in" to "Connect"  or "Connect wal

[2022-04-13 09:18] vikiival opened #2841 "List of funky KodaDot names"
Through our history we have seen many funky names.

If you have seen some please drop in the comment

[2022-04-13 09:45] #2838 closed

[2022-04-13 10:00] roiLeo commented on #2480
can we close this one?

[2022-04-13 10:03] roiLeo commented on #834
It seems to me that it is possible to track (js/client) errors with google analitycs

[2022-04-13 10:06] roiLeo commented on #1355
This has been replace with image skeleton, we can close this one

[2022-04-13 10:18] yangwao opened #2843 "Preserve random button and pagination"
Once
- #2781 is merged
Preserve the ability to go to a particular page or randomize page number, maybe making it sticky while scrolling down?

![image](https://user-images.githubusercontent.com/5887929/163157236-f3af9932-15ac-4099-861b-741324f67ee0.png)

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2781#issuecomment-1097869853_

[2022-04-13 11:08] #1355 closed

[2022-04-13 11:10] yangwao commented on #2840
Yes, would like to once we will have filters there. Now Filters are missing on top of collections :|

[2022-04-13 11:12] yangwao commented on #2834
but could potentially workflow create PR if so?

[2022-04-13 11:12] prachi00 commented on #2840
Fixed it in #2844

[2022-04-13 11:14] yangwao commented on #2840
I see Buy now on the empty collection?

Maybe #2718 can tackle this?

![image](https://user-images.githubusercontent.com/5887929/163168390-e870014b-0965-44fe-b9b7-2f68d3924895.png)

[2022-04-13 11:34] yangwao opened #2845 "Collections Sort by"
I guess we should add there BUY now which should show you if there is anything to buy from that particular collection.

Some filters might be working in #2844 already?

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/issues/2718#issuecomment-1097859351_

[2022-04-13 11:35] prachi00 commented on #2845
@yangwao ill pick this

[2022-04-13 11:36] prachi00 commented on #2845
also we can still see collection sort right?

[2022-04-13 11:40] roiLeo commented on #2845
not on beta nor on `main`, but you re-introduce it in #2844

[2022-04-13 11:45] prachi00 commented on #2845
yes with 2844 it will start showing up
<img width="640" alt="Screenshot 2022-04-13 at 5 15 30 PM" src="https://user-images.githubusercontent.com/39299315/163173143-92a6e75f-6509-400c-85cd-493caf23a8be.png">

[2022-04-13 11:59] Top-Kraken commented on #2622
I'll have a look.

[2022-04-13 13:00] #2840 closed

[2022-04-13 13:14] #2800 closed

[2022-04-13 13:15] roiLeo commented on #2845
#### Progress
- [x] collections sorting
- [ ] collections search sensitive
- [ ] collections filter listed

[2022-04-13 14:13] #1411 closed

[2022-04-13 14:53] Top-Kraken commented on #2622
I can't understand the detail requirement of the issue.
Could anyone provide me the detail requirement of the issue?
In this issue, what should I have to develop?

[2022-04-13 15:07] kkukelka commented on #2818
merged in vercel repo. therefore closed

[2022-04-13 15:07] #2818 closed

[2022-04-13 16:35] XyloDrone commented on #2792
1. Sure, give me a couple of days to make this one.
2. I'd keep the 2x CTA buttons in the nav bar, maybe move them next to each other so that minting is easily accessible, the majority of other platforms have the same thing, below an example from Rarible:

![Screenshot 2022-04-13 at 17 24 03](https://user-images.githubusercontent.com/84407059/163226570-1ceb57fc-966e-49ac-a92f-371311847f9c.png)

3.

[2022-04-13 17:45] yangwao commented on #2631
Maybe we can close?

![image](https://user-images.githubusercontent.com/5887929/163239122-5cc7ec00-9c05-475f-93ff-3b4e70118a3c.png)

[2022-04-13 17:51] #2631 closed

[2022-04-13 18:07] yangwao commented on #647
There will be an ambassador program
- #2040

[2022-04-13 18:07] #647 closed

[2022-04-13 18:53] yangwao opened #2849 "Social media cards v2"
Right now card has generic text.
Would be nice to add
Add title of NFT
Collection name?
Aritst name?

![image](https://user-images.githubusercontent.com/5887929/163250134-a0fd20a8-bf17-4b87-b0e5-09eac83b0b67.png)

Hence @preschian is great with workers can take a look :)

[2022-04-14 05:16] preschian commented on #2849
just realized it's already up and seems worked well on the newest listing item
will take a look at this. I will try to add `price` also

[2022-04-14 05:50] preschian commented on #2759
updates:
since yesterday I assigned this route `*kodadot.xyz/rmrk/gallery/*` to the CF-workers
there is still some item detail missing, will add missing detail in this https://github.com/kodadot/nft-gallery/issues/2849

notes:
it seems some old items still not fully working because need time to resolve cache from the CF side

telegram | discord | twitter
--- | --- | ---
<img width="378" alt="Scree

[2022-04-14 06:51] roiLeo commented on #2845
filters on beta don't work anymore I think something break with infinite scoll

[2022-04-14 09:15] yangwao opened #2852 "Check on @google/model-viewer@^1.11.1"
Check on new recent latest google/model-viewer

### Backlog
Seems to skip @google/model-viewer for now
- [x] add to ignore packages into renovate.json
- [x] make an issue about it to add why it's there if someone wants to tackle that in parallel
- [x] update minor packages :)
![image](https://user-images.githubusercontent.com/5887929/162725368-76ce1b0e-5bba-42d4-ab51-ca51d3e472a0.png)

_Originally

[2022-04-14 09:16] #2835 closed

[2022-04-14 09:57] kkukelka commented on #2852
Ill take a look

[2022-04-14 12:19] yangwao commented on #2480
If @helloitsbirdo can confirm it on https://kodadot.xyz pretty sure!
Can do close as confirmation it's working well :)

[2022-04-14 12:34] #1290 closed

[2022-04-14 12:34] yangwao opened #2853 "Missing tile switcher on collection/id"
I just noticed that on collection tile switcher (large display small display) went missing?
![image](https://user-images.githubusercontent.com/5887929/163391352-3bfb53f5-4dd6-4b93-b1ad-63ce129f371a.png)

https://kodadot.xyz/rmrk/collection/d6e71489d50f818c09-TEWIN
![image](https://user-images.githubusercontent.com/5887929/163391302-1c27d256-9681-473f-8fdb-911dfb1ecc88.png)

_Originally posted by @

[2022-04-14 12:40] Jarsen136 commented on #2853
i will check it

[2022-04-14 14:14] yangwao commented on #2841
KudaDot my fav
KondaDot my other fav

[2022-04-14 14:17] yangwao commented on #2836
I see https://beta.kodadot.xyz/rmrk/collection/289d0e953cbdc59a73-HHK
And no errors in the console. Strange.

![image](https://user-images.githubusercontent.com/5887929/163409632-7dfedc6f-5873-4058-9a5c-fb5e7af8efaf.png)

[2022-04-14 14:23] #452 closed

[2022-04-14 14:24] yangwao commented on #2276
I guess so :)

[2022-04-14 14:27] roiLeo commented on #2836
Check this out https://singular.rmrk.app/collections/289d0e953cbdc59a73-HHK 😕 it might be related with rmrk 2.0 migration

[2022-04-14 14:30] yangwao commented on #2605
its on medium waiting for proof read plus probably we could publish it to dev.to?

[2022-04-14 14:34] yangwao commented on #2573
probably not happening

[2022-04-14 14:34] #2573 closed

[2022-04-14 14:41] #2090 closed

[2022-04-14 14:42] #1834 closed

[2022-04-14 14:45] yangwao commented on #1634
not using it anymore I guess

[2022-04-14 14:45] #1634 closed

[2022-04-14 14:46] yangwao commented on #1615
This could go to the https://docs.kodadot.xyz

[2022-04-14 14:46] #989 closed

[2022-04-14 14:47] #1539 closed

[2022-04-14 14:48] yangwao commented on #1097
We've got how to create wallet in docs https://docs.kodadot.xyz/tutorials/how-to-create-wallet.html#video-tutorial

[2022-04-14 14:48] #1097 closed

[2022-04-14 14:49] yangwao commented on #1158
Continue to
- #2692
- #2081
- #2690

[2022-04-14 14:49] #1158 closed

[2022-04-14 14:52] yangwao commented on #1322
I guess some of these were tackled?

📟 @XyloDrone

[2022-04-14 14:52] yangwao commented on #754
Memo, we have https://beta.kodadot.xyz meanwhile

[2022-04-14 14:52] #754 closed

[2022-04-14 14:55] yangwao commented on #1260
It's beautiful! :)

![image](https://user-images.githubusercontent.com/5887929/163416930-02972f1f-d193-4622-b28b-fb8f56acb55e.png)

[2022-04-14 14:55] #1260 closed

[2022-04-14 15:01] #972 closed

[2022-04-14 15:02] yangwao commented on #885
overkill

[2022-04-14 15:02] #885 closed

[2022-04-14 15:03] yangwao commented on #657
we made it way differently

[2022-04-14 15:03] #657 closed

[2022-04-14 15:03] yangwao commented on #853
it's already there probably

[2022-04-14 15:03] #853 closed

[2022-04-14 15:04] yangwao commented on #58
📟  @cryptodamsky

[2022-04-14 15:04] yangwao commented on #192
📟  @cryptodamsky

[2022-04-14 15:05] yangwao commented on #226
lol found archive @XyloDrone

[2022-04-14 15:05] yangwao commented on #686
We had it removed in #1273 being taking down our app :|

[2022-04-14 15:05] #686 closed

[2022-04-14 15:05] yangwao commented on #730
Already done

[2022-04-14 15:05] #730 closed

[2022-04-14 15:06] yangwao commented on #307
embedded are gone anyway

[2022-04-14 15:06] #307 closed

[2022-04-14 15:52] #2843 closed

[2022-04-14 18:39] hueeee commented on #897
It has not happened since shortly after the ticket was posted, all good to
remove imo

Xoxo :3

On Thu, Apr 14, 2022, 11:02 AM Matej yangwao ***@***.***>
wrote:

[2022-04-15 04:54] #2853 closed

[2022-04-15 05:04] thea-exe commented on #2283
@yangwao I thought I responded to this! I still have this on my list!

[2022-04-15 06:55] roiLeo commented on #2845
missing sort by:
- "Last interacted" -> NFTEntity `updatedAt_DESC`
- "Least interacted" -> NFTEntity `updatedAt_ASC`

[2022-04-15 09:29] yangwao opened #2857 "Profile issues with default substrate address - ss58 issues on profile"
I guess we should tackle this stuff as users. as users lands on their default address ss58 42 and they can not see their holdings.

Once users landed on their ss58 42 substrate address, falling back to Kusama address would be probably the easiest fix for right now.
Also consider adding something like that trying to fetch other address NFT balances when users seeing nothing.

I recall this is proba

[2022-04-15 09:46] yangwao commented on #2836
but thought they should use Burn?

[2022-04-15 11:13] yangwao opened #2860 "Error on infinity scroll at collections"
When I land at https://beta.kodadot.xyz/rmrk/explore/?page=160

Seems the error is timeouts SubSquid and can't browse previous and next

Happens only if I scroll too fast.

Oh, sometimes when I click the random button doesn't work at all going upper or down.
Backward scrolling fetches almost all time but next forward most likely doesn't work :)

![image](https://user-images.githubusercontent.com/5

[2022-04-15 11:25] yangwao opened #2861 "Make default sorted by highest percentage in flippers"
Make default showing by the highest percentage to show "smart" people :)

https://beta.kodadot.xyz/rmrk/collection/800f8a914281765a7d-KITTY?tab=flippers

![image](https://user-images.githubusercontent.com/5887929/163564864-4ead8604-c088-4baa-b928-b1c47f171572.png)

[2022-04-15 11:26] Jarsen136 commented on #2861
I will do this

[2022-04-15 11:38] yangwao opened #2862 "App is fragile to the indexer swap"
I think we are having downtime.

https://deploy-preview-2859--koda-nuxt.netlify.app/rmrk/collection/800f8a914281765a7d-KITTY?tab=holders

![image](https://user-images.githubusercontent.com/5887929/163567329-a75ab6cc-9a8b-43a5-b512-7f8f1479d0bc.png)

![image](https://user-images.githubusercontent.com/5887929/163567595-d323bbd7-cf15-4fff-8ebe-10d1f2254e6e.png)

![image](https://user-images.githubuse

[2022-04-15 11:41] Jarsen136 commented on #2862
I also met a few times today 👀

[2022-04-15 11:47] vikiival commented on #2862
Looks like the apollo went down.
Talking with SubQuery.

<img width="1222" alt="Screenshot 2022-04-15 at 13 43 21" src="https://user-images.githubusercontent.com/22471030/163567044-267f9d24-add3-4ec3-a95e-61d9b2d042cd.png">

For me it's working oki

![Screenshot 2022-04-15 at 13 46 14](https://user-images.githubusercontent.com/22471030/163567117-c7bfeefc-052f-4e82-ad3e-086d6c5512d3.png)

Next time

[2022-04-15 11:48] vikiival commented on #2605
yup :)

[2022-04-15 11:49] vikiival commented on #1615
There were some code snippets afaik (Vue related)

[2022-04-15 11:50] yangwao commented on #2862
It's seems it's related to #2859

[2022-04-15 11:53] yangwao commented on #2862
I put there payload screenshosts as well

[2022-04-15 11:54] yangwao commented on #2862
Make a protocol on what to report for network bugs to best tackle them

[2022-04-15 11:54] yangwao opened #2864 "Make a protocol on what to report for network bugs to best tackle them"
Make a protocol on what to report for network bugs to best tackle them

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2862#issuecomment-1100061645_

[2022-04-15 11:54] vikiival commented on #2862
Yup looks like it's broken by #2859

[2022-04-15 11:54] vikiival commented on #2862
[code]

[2022-04-15 11:55] Jarsen136 commented on #2862
Yup, it may related to my pr : )
 I will try to fix it.

[2022-04-15 11:56] vikiival commented on #2862
It's related to the PR
https://github.com/kodadot/nft-gallery/pull/2859/files#r851231558

[2022-04-15 12:03] yangwao commented on #2862
related https://github.com/kodadot/magick/issues/24

[2022-04-15 12:07] vikiival opened #2865 "Migrate vikiival/magick to kodadot/magic"
We have successfully migrated magic under the kodadot
Once https://github.com/kodadot/magick/issues/24 will be done we will create a new instance for SubQuery

This is a tracking issue for the issues that has to be done before:
- [ ] https://github.com/kodadot/magick/issues/24
- [ ] https://github.com/kodadot/magick/issues/25

[2022-04-15 12:15] yangwao commented on #2864
https://stackoverflow.com/questions/55185225/filter-only-the-requests-with-errors-google-chrome-network

`-status-code:200`

[2022-04-15 12:31] kkukelka opened #2866 "Refactor: GalleryItem.vue cleanup 🧹"
### Is your feature request related to a problem?

Since we abstracted a lot of logic into Base component there is much cleanup to do

Todo:
- ~~Remove unnecessary poll requests~~
- Simplify overcomplicated logic
- Remove unused imports, properties and css
- Lazy Import some components

[2022-04-15 12:37] yangwao commented on #1513
hence we migrated this to subsquid, it's solved with caching on their side

[2022-04-15 12:37] #1513 closed

[2022-04-15 12:40] yangwao commented on #1565
continue to
- #2116 we are already using it

[2022-04-15 12:40] #1565 closed

[2022-04-15 12:44] yangwao commented on #2517
Actually not yet, let's go if you want to do this one! :)

[2022-04-15 12:45] yangwao commented on #808
Continue to #2517

[2022-04-15 12:45] #808 closed

[2022-04-15 12:49] yangwao commented on #1492
I'm impressed!

I guess thinking for the easier check we should have one list of all URLs we need to check for a client to work?

Do we have a global list of endpoints we are using? If not, let's create one and we can merge it with #1492

[2022-04-15 12:50] yangwao opened #2868 "Global list of endpoints for KodaDot client"
I guess thinking for the easier check we should have one list of all URLs we need to check for a client to work?

Do we have a global list of endpoints we are using? If not, let's create single file, where we can easily manage those endpoints and we can merge it with #1492

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/1492#issuecomment-1100085867_

[2022-04-15 12:51] yangwao commented on #1492
I've noticed we should add there Estuary endpoint.
Is there anything missing from list ?

[2022-04-15 13:28] yangwao commented on #2866
I guess that every second fetch is to avoid double spending 😅

📟  @vikiival

[2022-04-15 13:42] roiLeo commented on #2866
Wouldn't be better to fetch data until an action is made?

[2022-04-15 13:53] #2834 closed

[2022-04-15 13:57] Jarsen136 commented on #2866
However, you don't know when should fetch data if the action is submitted by others : )
IMO, for the gallery item, poll fetch is necessary. Or maybe need a long connect? like WebSocket

[2022-04-15 14:13] yangwao commented on #2714
https://github.com/organizations/kodadot/settings/apps/new ?

[2022-04-15 14:32] #2861 closed

[2022-04-15 14:38] yangwao opened #2869 "View to show how much NFTs we're offseted by KodaDot"
This would be a global view to see how much NFTs were offset in KodaDot

I guess I would like to see
- total NFTs minted on KodaDot
- transactions made on kodadot
- total NFTs in the RMRK ecosystem
- amount co2 ? if there is some fixed formula for this for kusama network, BLD from Astar might help us on this
- how many trees we are actually offset with kodatree
- anything else missing we should pu

[2022-04-15 16:06] yangwao commented on #2714
I can handover personal token for now and YØLØ

[2022-04-15 16:21] petersopko commented on #2714
sorry didn't see this, it's Personal access token

[2022-04-16 06:33] kkukelka commented on #2866
Oh damn I didn't think about that at all. I will reintroduce the smartquery then

[2022-04-16 07:25] Jarsen136 commented on #2860
I will check it 👀

[2022-04-16 10:42] yangwao opened #2873 "Sort visited NFTs by time user has visited them"
I visited Kusama bots last but still, appear as third and fourth.

Would be nice to sort it by the time the user has visited it.

I guess now it's sorted by the time being minted or actions?
now I check on the far right is 6 months ago on the very left 3 days and middle 1 day :D

![image](https://user-images.githubusercontent.com/5887929/163672167-f6756ee3-1dd2-4bd5-8644-fee06fd818f0.png)

[2022-04-16 10:42] prachi00 commented on #2873
Ill check this

[2022-04-16 12:32] jkdizajn opened #2874 "Error 1101 - Worker threw exception"
### What happened?

After minting a new NFT, my page crashed into that mode:
![obrázok](https://user-images.githubusercontent.com/81104034/163674687-3f32fb82-fdd5-46b9-8d33-b45a94a949ae.png)

### Please reproduce in steps

it happened to me with this NFT
https://kodadot.xyz/rmrk/gallery/12277672-900D19DC7D3C444E4C-KSMBOT-THE_FIRST_PIXEL_GIFT-0000000000000135

### Expected Behavior

I've expected .

[2022-04-16 13:50] cryptodamsky commented on #2874
It's actually weird that for me the page works fine, for deepologic it doesn't want to load.

[2022-04-16 19:58] yangwao opened #2877 "Trending NFTs/Collection by emotes"
I guess the same as kodadot/ideas#24  would like to see a dedicated page or column to series see how much are which collection emoted totally overall or in timed series i.e. 7d/14d/30d/90d etc

Probably we can write resolvers for that for SubSquid?

[2022-04-16 20:06] yangwao commented on #2874
@preschian might check logs for this one

[2022-04-17 06:54] yangwao commented on #2783
How is this going?

[2022-04-17 06:55] yangwao opened #2878 "Show different floor price"
It would be good to have a way to show the floor price against the previous date, i.e floor change 14d/28d bfr

[2022-04-17 07:04] petersopko commented on #2714
I will take this

[2022-04-17 07:07] petersopko commented on #2714
I will take this

[2022-04-17 07:10] kodabot opened #2880 "testing"
### What happened?

A bug happened!

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

_No response_

### At which address did you encounter bug?

_No response_

### Screenshots

Paste from your clipboard or upload screenshots/video

### Relevant log ou

[2022-04-17 07:11] petersopko commented on #2880
test

[2022-04-17 07:14] petersopko commented on #2880
test

[2022-04-17 07:25] petersopko commented on #2880
test

[2022-04-17 07:28] petersopko commented on #2880
test

[2022-04-17 07:36] petersopko commented on #2880
test

[2022-04-17 07:38] petersopko commented on #2880
testing again

[2022-04-17 07:43] petersopko commented on #2880
testing again

[2022-04-17 07:56] petersopko commented on #2880
ill take this

[2022-04-17 07:57] petersopko commented on #2880
ill take this

[2022-04-17 08:00] petersopko commented on #2880
test

[2022-04-17 08:01] petersopko commented on #2880
test

[2022-04-17 08:03] yangwao opened #2881 "Adding activity on collection"
I guess hence we prior showing important events like BUYs, we should probably in future show the total amount of events like make offers/bids collection wisely to determine demand on collection trending valuation.

I guess it might worth to show LIST, GIFTs accounting for activity to determine if washtrading is occuring, one more pseudometric to go

![20220417_100115.jpg](https://user-images.githu

[2022-04-17 08:08] petersopko commented on #2880
test

[2022-04-17 08:12] petersopko commented on #2880
test

[2022-04-17 08:22] petersopko commented on #2880
test

[2022-04-17 08:40] petersopko commented on #2880
test

[2022-04-17 08:45] petersopko commented on #2880
test

[2022-04-17 08:53] petersopko commented on #2880
test

[2022-04-17 08:55] petersopko commented on #2880
test

[2022-04-17 09:02] petersopko commented on #2880
test

[2022-04-17 09:03] petersopko commented on #2880
test

[2022-04-17 09:05] petersopko commented on #2880
test

[2022-04-17 09:07] petersopko commented on #2880
test

[2022-04-17 09:17] petersopko commented on #2880
test

[2022-04-17 09:34] KngZhi commented on #877
Working on [rubick](https://github.com/kodadot/rubick/pull/54).

[2022-04-17 10:05] #2880 closed

[2022-04-17 10:27] preschian commented on #2874
Hi, sorry for the error. I have already deployed the fixes. I hope that there is no error again.

the root cause for this error is that the `meta` is null, so the script need to fetch the image by `metadata` in another endpoint
[code]

[2022-04-17 11:06] yangwao opened #2882 "Better charts for collections v2"
We would like definitely to see better charts for collections than we have currently.

Trying to conceptualize what you think would help people to make their decisions easier and faster, what kind of tip points you would like to see.
Feel free inspired by any others, we can probably cherry-pick any on-chain data thanks to SubSquid and make it fast

This would be an amazing task for someone who is

[2022-04-17 13:35] petersopko commented on #2714
test

[2022-04-17 13:37] petersopko commented on #2714
ill take this

[2022-04-18 10:35] vikiival commented on #2714
Woow awesome 👍
May set @kodabot to paste payout messages instead of @yangwao ?

[2022-04-18 11:35] preschian commented on #2849
hi, I already applied for these routes. need to test it @yangwao @jkdizajn
let me know if you getting this error again https://github.com/kodadot/nft-gallery/issues/2874
<img width="1050" alt="Screen Shot 2022-04-18 at 6 24 15 PM" src="https://user-images.githubusercontent.com/734428/163801687-32876abf-025b-4ec9-9f6b-88467a7288b0.png">

collection | gallery | detail | previously broken
--- | --- |

[2022-04-18 13:48] petersopko commented on #2714
Sure thing, I'm ready to handover either token or account whenever @yangwao feels like setting it up

[2022-04-18 13:49] petersopko commented on #2714
But hey, it works (so far)

[2022-04-18 15:37] prachi00 commented on #2873
@yangwao isnt the time mentioned in these cards referencing to minting date? do you want to sort them by minting date?

[2022-04-18 16:54] prachi00 commented on #2873
@vikiival what is the default order for **nftEntities** as the `ids` in query is being sent in the right order but returned in a different one, even when no value in `orderBy` is provided

[2022-04-19 00:56] Jarsen136 commented on #2822
It looks like it hasn't been deployed yet. Is there any problem 👀

[2022-04-19 03:33] preschian commented on #2849
still getting error in some paths, will check it
<img width="492" alt="Screen Shot 2022-04-19 at 10 31 47 AM" src="https://user-images.githubusercontent.com/734428/163914835-cebd1f62-0523-435e-861a-fd8aec64ff01.png">

[2022-04-19 06:13] thea-exe commented on #2780
@codiini I responded to this via Gmail but it didn't go through D:

---> Hm, I made the issue thinking about an easier way to onboard both frontend and backend developers (so people who already know how to code), so an article can be helpful if others want to go MORE in depth (you can take this up only if you want)

You don’t have to talk briefly about contributing to KodaDot (link the contributio

[2022-04-19 06:26] thea-exe commented on #415
Do you have an idea of how the toast notification will look like?  @yangwao

[2022-04-19 06:49] yangwao opened #2885 "Beautify repository"
Add organization readme.md

- [ ] Citation maybe?
- [x] Sponsorship, probably?
![image](https://user-images.githubusercontent.com/5887929/186942398-f64c34db-3a0a-422e-beed-f881b8093cc1.png)

https://blog.frankel.ch/beautify-github-repo/

[2022-04-19 10:37] jkdizajn commented on #2874
Hi @preschian it works on beta, but not on kodadot.xyz
I attach a video:

https://user-images.githubusercontent.com/81104034/163986037-f5135a60-d17f-4980-b50c-d4328af04fd6.mp4

[2022-04-19 10:46] preschian commented on #2874
Hi, @jkdizajn can you try to refresh the page? I think this case should be not related to cf-workers. In this case, maybe our graphql query takes a long time to response

https://user-images.githubusercontent.com/734428/163987177-55f11793-964f-4528-8593-b5c34267c3a9.mov

[2022-04-19 11:51] cryptodamsky opened #2886 "Can we put instagram link somewhere on our landing page?"
### Is your feature request related to a problem?

Since we are currently starting with KodaDot instagram account, let's put link to our landing page and officially release it on twitter etc. There is currently 9 posts so it's ready to get some proper attention.

https://instagram.com/kodadot.xyz/

### Describe the solution you would like

Only thing i'm asking - where would be the ideal placement

[2022-04-19 11:51] prachi00 commented on #2886
@damsky maybe at the footer? I can do this

[2022-04-19 11:52] prachi00 commented on #2886
<img width="1421" alt="Screenshot 2022-04-19 at 5 22 11 PM" src="https://user-images.githubusercontent.com/39299315/163997415-e2d87ead-acab-4488-ab98-607d1bc6e1ae.png">
here with the other socials would be apt I think

[2022-04-19 11:52] cryptodamsky commented on #2886
Yup let's start with that :)

[2022-04-19 17:06] #2852 closed

[2022-04-20 00:40] jebitok-dev commented on #2689
Hello, I'm a new contributor here and wanted to know if there's a place I can get details(insights of the current/recent contributors) to use on this article. If there's I would be interested in working on this issue.

[2022-04-20 07:15] preschian commented on #1285
Hi @vikiival, the PR already merged https://github.com/kodadot/rubick/pull/49. Is it ready to use? It looks like the query result has not changed

[2022-04-20 15:38] #2860 closed

[2022-04-20 16:57] aito-hideki commented on #2692
There's a blocker with Vite migration.
Nuxt i18n (v7 the latest) is not compatible with Vite.
v8 is in development to make it compatible for Vite.

[2022-04-20 19:00] jovyllebermudez commented on #2780
I'll be subscribing on this. I would like to learn more how to apply.

[2022-04-20 22:33] yangwao opened #2890 "Create a connector api in Autocode to integrate w kodapi"
I guess once our query builders would be out would be interesting make module to autocode to integrate stuff way faster from dev side in autocode. Spoke w @petersopko so I guess would be superior to have and hack faster way

It should be showing in autocomplete in their IDE
<img width="225" alt="image" src="https://user-images.githubusercontent.com/5887929/168482830-2e252952-0a78-43d3-9244-8d1916c

[2022-04-21 02:53] thea-exe commented on #2780
@codiini Hey! Still wondering if you're still interested in working on this?

[2022-04-21 02:55] thea-exe commented on #2780
@jovyllebermudez Until we get a response, if you need any help, please feel free to ask me and we'll communicate over another platform :)

[2022-04-21 04:11] newraina commented on #2517
I'll try :)

[2022-04-21 06:24] codiini commented on #2780
@thea-exe I'm still interested. When are we looking to get this ready? Is there some deadline?

[2022-04-21 06:26] thea-exe commented on #2780
@codiini No deadline! But sooner is better than later since we are starting to see an influx of users wanting to contribute

[2022-04-21 06:27] thea-exe commented on #2780
Maybe see if you can get this done by next Thursday?

[2022-04-21 06:30] codiini commented on #2780
It's a but too tight for me, I'm not free till the first of next month, so I'll leave it for @jovyllebermudez if they're free to take it up currently.

[2022-04-21 17:35] vikiival commented on #2836
I think it's related to something else (I bet we have some `v-if` which causes random NFTs to disappear)

[2022-04-22 08:23] aito-hideki opened #2893 "Vue Composition API migration"
### Is your feature request related to a problem?

Vue Composition API is core feature of Vue 3, so it's the way towards Vue 3.

### Describe the solution you would like

This will include replacing mixins and options api to composition api using @nuxt/composition-api

- Replace all mixins with composables.
- Replace options API with composition API
- Also include replacing filters with member fun

[2022-04-22 10:41] preschian commented on #2849
no error related to cf-workers so far, in the past 3 days
<img width="955" alt="Screen Shot 2022-04-22 at 17 38 48" src="https://user-images.githubusercontent.com/734428/164699300-41ce2955-27b5-41f2-b97d-10d146a7d58c.png">

[2022-04-22 15:22] #2866 closed, assigned to kkukelka

[2022-04-23 10:33] yangwao opened #2895 "Follow the Flippers + Flippers Feed"
Once we figure out a way how passion feed would work we should add a way to follow collectors/flippers to people.

This would create another feed for users to see and learn which collections are sort of trending by Flippers and what to collect.

I guess either it could be off-chain service or we can be part of Koda Protocol FOLLOW OR to send special EMOTE to Flipper's address, simple as that.

The

[2022-04-23 10:35] #2886 closed

[2022-04-23 10:36] #2706 closed

[2022-04-23 10:39] #2257 closed

[2022-04-23 11:50] yangwao opened #2897 "Write article about Paretotopia"
Look for recordings from funding the commons

![image](https://user-images.githubusercontent.com/5887929/164909517-1f98941f-28e7-410c-9303-0790edfe2225.png)

Inspiration
- https://forum.effectivealtruism.org/posts/fg6RrvtSJ2kxe9Ens/eric-drexler-paretotopian-goal-alignment
- https://ea.greaterwrong.com/posts/fg6RrvtSJ2kxe9Ens/eric-drexler-paretotopian-goal-alignment
- https://twitter.com/yangWao/st

[2022-04-25 08:41] KngZhi commented on #2878
Hey, @yangwao In which UI format you would prefer?

Inside the column of Floor Price and using `/` to separate? Or create another column?

|28d/14d/0d FloorPrice|

[2022-04-25 10:47] yangwao commented on #1661
@skylla54 Frank suggested something could be done in p5.js

[2022-04-25 10:51] yangwao opened #2899 "Probably move activity batches from Readme.md to Activity.md"
@skylla54 suggested that we should lightweight stuff from our Readme into dedicated Activity.md to make it more streamable and readable for others

@skylla54 will propose some PR to make something

[2022-04-26 05:38] thea-exe commented on #2899
I'm in the process of doing this actually! Please assign this to me :D @yangwao

[2022-04-26 05:43] thea-exe commented on #2899
Thank you @kkukelka :D

[2022-04-26 07:40] roiLeo opened #2903 "Collections filter alignement is broken again"
#### Screenshot
![Screenshot 2022-04-26 at 09-37-33 Low minting fees and carbonless NFTs](https://user-images.githubusercontent.com/9987732/165247366-f301dad4-be0a-4bf9-a368-49d0e83ae6ff.png)

[2022-04-26 08:14] #2903 closed

[2022-04-26 13:36] roiLeo opened #2906 "typo: "waiting for response from singer""
Was this done on purpose?

### Note:
- fix typo: "waiting for response from singer" => "signer" not "singer"

[2022-04-26 14:03] Jarsen136 commented on #2906
I will check it.

[2022-04-26 14:09] Jarsen136 commented on #2906
i will take it

[2022-04-26 14:22] Jarsen136 commented on #2906
I will take this

[2022-04-26 16:48] yangwao opened #2908 "Leaderboard for Flippers"
To spotlight flippers we should make a table where one can see the best addresses made best profits

Headers could be pretty much the same as we have the current Flippers but global scale.

Query might be a bit complicated?

Goal would be to see who or which flipper follow their signal 🚥🚦 and trading activity

Route could be `/flippers` and linked into stats

[2022-04-27 10:20] yangwao commented on #221
subsquid/rubick team is more versatile, in our timezone and for our use case right now more flexible:)

[2022-04-27 11:50] yangwao commented on #415
the process is a bit more complex but sure, @vikiival might expand on this and @thea-exe might take it :)

we can re-use our fun facts loader or modal with infinity animation, or if you want to come up with something very own, let's go :)

[2022-04-27 11:52] yangwao commented on #2873
@vikiival 👀

[2022-04-27 11:59] yangwao commented on #2283
🫣

<img src="https://media0.giphy.com/media/LHZyixOnHwDDy/giphy.gif"/>

[2022-04-27 12:00] yangwao commented on #897
happily to give you a bounty, hence we have incentivized bug bounty
https://docs.kodadot.xyz/incentives/incentivized-bug-reporting.html#rewards

generate the link here with your address https://kodadot.xyz/transfer/

[2022-04-27 12:04] yangwao commented on #660
What we are missing to make it run for testing?

[2022-04-27 12:07] yangwao commented on #1841
@Jarsen136 do you think you would like to give it a second shot once you are more familiar with the codebase? :)

[2022-04-27 12:36] #2899 closed

[2022-04-27 13:19] yangwao commented on #2671
hey @preschian how it's going 👀
<img src="https://media4.giphy.com/media/3o85xAYQLOhSrmINHO/giphy.gif"/>

[2022-04-27 13:26] XyloDrone commented on #2650
Anybody want to take the backend stuff so we can get some snazzy filters in? 👀
@Jarsen136 @roiLeo @kkukelka @petersopko ? 🚀

[2022-04-27 13:26] XyloDrone commented on #2650
Well done @Jarsen136 on the infinity scroll! 🥳

[2022-04-27 13:36] Jarsen136 commented on #1841
Oh yes, I could have a try again : )

[2022-04-27 13:51] roiLeo commented on #2650
Thanks but I'll pass, it's not my field.

[2022-04-27 13:57] XyloDrone commented on #2650
Good to know, what’s your preference usually? Just so I know, I’m assuming front end? :D

[2022-04-27 17:07] #2836 closed

[2022-04-28 07:37] yangwao opened #2911 "Tests for critical functionality and evergreen components"
Our development pace is sometimes that fast ⏩ that once we add five new features, we wacky few usually working user flows, functions &c, usually css, position of 🔘 buttons or overall final outcome and manage unintentionally completely broke some primary functionality.

Thus I would like to nominate a few features and components we need to flex so I bet it would be gradually built what's and where

[2022-04-28 08:13] yangwao commented on #2893
Let us know how this goes :)

[2022-04-28 08:47] yangwao opened #2913 "Optimize speed/cache of queries where we can have significant cuts on loading times"
We still have a few heavy load queries using Magick.

With SubSquid we can do more caching and speed up and cut loading times on users once they are making it the first time, i.e write [resolver to Rubick ](https://github.com/kodadot/rubick) for that add significant cache for bigger and more complicated data streams.

This issue is good for someone who is great writing graphql queries, understand

[2022-04-28 10:31] #2375 closed

[2022-04-28 10:39] vikiival commented on #2913
Moreover having resolver for https://github.com/kodadot/nft-gallery/issues/2195 would be lovely

[2022-04-28 10:43] preschian commented on #2671
Hi @yangwao, hopefully, I can give you the draft blog post in 2 weeks

Currently, I'm still curious about issues related to pnpm, especially after this issue https://github.com/kodadot/nft-gallery/issues/2830#issuecomment-1096666746. To ensure there is no major issue after migration to pnpm. At least I can list down the issue. so far, it seems like the issue occurs on yarn also

<img width="928" a

[2022-04-28 10:49] vikiival commented on #2873
Not sure what you mean. Could you (@prachi00) rephrase your q?

[2022-04-28 10:53] prachi00 commented on #2873
Sure,
So what I mean is we store these in the localstorage and that is stored in the correct order that is by when the user visited them and the ids are also sent to the api in the correct order that is recent one is at the top
However, the response returned from the api is not in order

[2022-04-28 12:05] vikiival commented on #415
Yup we use notifications from buefy
https://buefy.org/documentation/notification

Yeah this would be better

1. First tell user about publishing to ipfs
2. Then say upload success
3. user should sign the payload
4. waiting for tx processing
5. waiting for block finalization

[2022-04-28 12:11] vikiival commented on #2873
Imagine that you pass your shopping list to a shop assistant.

Shop assistant will go from the beginning of the store to the end and puts items to the basket if the item is `in` the shopping list.

After the shopping assistant go to the end of the store you may have probably all items however they won't be sorted in the correct order.

It means that the api can't guarantee you correct order (see t

[2022-04-28 12:13] vikiival commented on #221
I agree with Wao.
We aim to have SubSquid as a first indexer

[2022-04-28 12:17] vikiival commented on #877
Made bounty higher as @KngZhi made a resolver :)

https://github.com/kodadot/rubick/pull/54

[2022-04-28 12:49] KngZhi commented on #877
lol, thanks, learned a lot from your slides!! 😆

[2022-04-28 13:06] prachi00 commented on #2873
yeah makes sense, I guess creating a sorting function is then the ideal way

[2022-04-29 06:36] roiLeo opened #2917 "see who reacted to nft even if you are not connected"
When i haven't connected my wallet, I can't see who has reacted to the nft
I would like to be able to access user's profile who sent an emote

Is this done on purpose?

#### Screenshot
<img width="1023" alt="Capture d’écran 2022-04-29 à 8 32 04 AM" src="https://user-images.githubusercontent.com/9987732/165895315-f4ec4e84-042d-4b0d-84ed-77cd33ca1d70.png">

[2022-04-29 06:58] roiLeo commented on #2857
I'm not sure I understand the problem, can we have more information?
Is it possible to reproduce the bug?

[2022-04-29 07:01] roiLeo commented on #2869
How do you determine where an nft was minted? (koda vs singular)

[2022-04-29 07:13] roiLeo opened #2918 "use 'subsquid' query in profile tabs"
Currently we're using [magick](https://github.com/kodadot/magick) query in profile tabs, I would like them to be rewritten to use [subsquid](https://github.com/kodadot/rubick) for rmrk chain.

List of query:
- nftListByIssuer
- nftListCollected
- nftListSold
- firstNftByIssuer

[2022-04-29 07:37] Jarsen136 commented on #2917
hi, i will take it

[2022-04-29 08:06] Jarsen136 commented on #2917
i will take this

[2022-04-29 09:16] vikiival commented on #2869
the difference is between the casing of the collection's ID

Minted via KodaDot:
`900D19DC7D3C444E4C-KSMBOT`

Minted on Singular:
`160a6f4320f11acb25-LCKWV`

[code]

[2022-04-29 09:22] roiLeo opened #2919 "Display animated nft in carousel"
I would like to display animated nft (video, 3d file...) when there isn't `meta.image` available.

Components:
- NewestList.vue
- LatestSales.vue
- GalleryItemCarousel.vue

Something should be done in `handleResult` method to attach `e.nft.meta.animation_url` to nfts data.

#### Screenshot
<img width="804" alt="Capture d’écran 2022-04-29 à 11 13 20 AM" src="https://user-images.githubusercontent.

[2022-04-29 11:19] yangwao opened #2921 "Follow-up: Infinite scroll v2"
Follow up issue could be
- https://github.com/kodadot/nft-gallery/pull/2859#discussion_r860844194
- Test behaviour on mobile
- Sharing page if it opens on new window well even on mobile
- Different content between original page and new window page for same URL

What I see when opening in explorer
![image](https://user-images.githubusercontent.com/5887929/165934754-74393166-5d12-4353-a79b-ec2f8dbeb

[2022-04-29 11:20] #1582 closed

[2022-04-29 11:56] Jarsen136 commented on #2921
i will take this

[2022-04-29 12:44] kkukelka commented on #2919
I'll take a look

[2022-04-29 12:49] kkukelka commented on #2919
i will take this

[2022-04-29 14:04] Jarsen136 commented on #2917
Even if you are connected, we still could not see who reacted to nft  : )

[2022-04-29 14:31] roiLeo commented on #2868
#### Koda endpoints:
- https://durable-jpeg.kodadot.workers.dev/ (cloudflare)
- https://kodadot.mypinata.cloud/ipfs/  (pinata)
- https://direct-upload.kodadot.workers.dev/ (direct-upload)
- https://pinning.kodadot.workers.dev/ (ipfs?)
- https://beta.kodadot.xyz/.netlify/functions/
- https://og-image-green-seven.vercel.app (seo card)
- https://api.subquery.network/sq/vikiival/magick ([Magick](https

[2022-04-29 14:43] roiLeo opened #2923 "Find a way to display long size image/nft"
Goto `/rmrk/gallery/9596440-800f8a914281765a7d-DREAMSCAPES-CHARON_OR_110-0000000000000001`

I'm not able to see the full size image because of ratio

#### screenshot
<img width="1241" alt="Capture d’écran 2022-04-29 à 4 37 00 PM" src="https://user-images.githubusercontent.com/9987732/165966520-178a1817-8b4c-4d34-a31f-4d694adffc71.png">

It should be something like this:

<img width="684" alt="Ca

[2022-04-29 14:54] Jarsen136 commented on #2923
I will take this

[2022-04-29 17:19] vikiival commented on #660
Things I had to make to make it running and can break stuff
- remove `max from `queries/fragments/collectionDetails.graphql`

[2022-04-30 08:04] #2923 closed

[2022-04-30 11:35] yangwao opened #2928 "Collection charts polishing details"
I guess we are showing in Floor price UNLIST as 0 ?

Probably we should remove that and tell the user another way around some NFTs were unlisted if we want to keep that

Other than that, probably we should show the Floor price graph line just as dots as its low-value signal mostly for collections.

![image](https://user-images.githubusercontent.com/5887929/166103784-220d0758-ed54-4dae-884f-040d65f

[2022-04-30 12:06] Jarsen136 commented on #2921
i will take this

[2022-04-30 13:39] #2917 closed

[2022-04-30 22:21] brano-hozza opened #2930 "export '__spreadArray' was not found in 'tslib'"
### What happened?

While first time trying to run this project I see a warning
[code]

### Please reproduce in steps

[code]

### Expected Behavior

No warnings

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

No

### At which address did you encounter bug?

_No response_

### Screenshots

<img width="1375" alt="image" src="https://user-images.githubusercontent.c

[2022-05-01 05:21] kkukelka commented on #2930
@brano-hozza
not reproducible over here with fresh install
<img width="619" alt="Screenshot 2022-05-01 at 07 18 37" src="https://user-images.githubusercontent.com/17953978/166133385-55e23bda-ec31-4355-b461-4a6e69043b4e.png">

maybe consider updating your node version? i'm currently running v16.14.2

[2022-05-01 10:01] yangwao opened #2932 "Assign bot v2 - suggestions"
I guess would be nice to reflect on what other things should be tackled for the next version of assign bot tho

One thing could be if previous participants made like 10 PRs merged in the upstream main branch, would be nice to give them like 24h or 50%-100% time bonus as original ideation was to prevent issue blockers who try act do issue and then bailout and first-timers who would not deliver anyt

[2022-05-01 10:07] yangwao commented on #1285
@vikiival 👀

[2022-05-01 10:11] yangwao commented on #1238
I've updated the description bit as things have changed and you can reuse probably some queries from Holdings tab on the profile iirc.
Probably writing resolver would be required

sure, which part do you want to explain?

[2022-05-01 10:19] vikiival commented on #1285
I think you commented with the 🔥

![image](https://user-images.githubusercontent.com/22471030/166141730-b8c286b5-ed2e-41eb-8fc8-591878c9c48a.jpeg)

[2022-05-01 10:29] yangwao commented on #2112
Once this would be done,
continue to show the most popular artists in the search
by highest volume and most collections

[2022-05-01 10:30] yangwao opened #2933 "Show most popular artist in search"
Once this #2112 would be done,
continue to show the most popular artists in the search
by highest volume and most collections

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2112#issuecomment-1114196663_

[2022-05-01 11:22] KngZhi commented on #2928
@yangwao Here is my option, and I can work on that.

hmmm, maybe we should filter those UNLIST out and keep the line graph.

Since for floor price
1. people are often treated as the trading anchor, 0 would be meaningless for them
2. and they do want to grasp the trending by a line graph.

[2022-05-01 12:08] yangwao opened #2934 "Write short introduction into Reactive NFTs"
To avoid any confusion from Dotsama community it's time to drop some intro article
- how RNFTs will work
- conditional, hook enabled, token as entity
- why conditional NFTs
- how it will work
- how it will be implemented?
- demonstrate the use case, how people can use it in their app
- promote subsalt?

### Ref
- https://twitter.com/yangWao/status/1517496677367783426
- https://twitter.com/yangWao/

[2022-05-01 13:17] Jarsen136 commented on #2822
I try to request new interface via /rubick/006/graphql.

The new event structure do contain 'currentOwner' parm, but it seems strange.

For example:

for 'list'、'buy'、'mint'、 'send' event:    `currentOwner` is always equals to `caller`

<img width="493" alt="image" src="https://user-images.githubusercontent.com/31397967/166147205-49203662-9b18-4563-8de1-b0e831c2bbc0.png">

<img width="478" alt="im

[2022-05-01 18:29] #1477 closed

[2022-05-01 18:31] yangwao commented on #2448
Let's continue to #2932

[2022-05-01 18:39] #2448 closed

[2022-05-01 18:41] yangwao commented on #2642
It's being done by @petersopko

https://github.com/kodadot/nft-gallery/blob/main/BURN_RATE.md

[2022-05-01 18:41] #2642 closed

[2022-05-01 19:25] yangwao commented on #2868
Estuary my bet? @vikiival

[2022-05-02 07:10] petersopko commented on #2714
@yangwao I think this one can be closed as well?

[2022-05-02 08:05] petersopko commented on #2650
I'll take a look at some of the open subsquid tasks

[2022-05-02 08:21] petersopko commented on #2932
This is fairly easy to setup, my only concern would be that we're disadvantaging new devs right at the beginning (time pressure). Maybe add similar time boost for issues labelled "good first issue" as well?

[2022-05-02 09:06] roiLeo opened #2937 "SearchBar don't work in some profile tabs"
It looks like searchbar don't really work in `collected` & `sold` tabs from `/rmrk/u/{id}`
- Tested on deepologic profile.
- Searched "mask" with "Buy now" filter

#### Screenshot
<img width="1056" alt="Capture d’écran 2022-05-02 à 11 03 02 AM" src="https://user-images.githubusercontent.com/9987732/166210572-46adbf0b-bc5f-433d-921c-cb5f2fe49254.png">

[2022-05-02 09:22] Jarsen136 commented on #2937
I will take this

[2022-05-02 09:23] yangwao commented on #2714
Sure noted in
- #2116

[2022-05-02 09:23] #2714 closed

[2022-05-02 10:11] vikiival commented on #2868
Yup, I updated @roiLeo's comment

anything with `kodadot.workers.dev` is located in https://github.com/kodadot/workers

[2022-05-02 10:22] vikiival commented on #2934
Reactive NFTs @ AmsterDOT

[![Reactive NFTs](http://img.youtube.com/vi/3i1nVK-y424/0.jpg)](http://www.youtube.com/watch?v=3i1nVK-y424 "Reactive NFTs")

[2022-05-02 10:26] yangwao commented on #2721
@thea-exe do you think you could help to write a tutorial on this? :)

[2022-05-02 10:32] vikiival commented on #2715
[Slides for the tutorial](https://github.com/vikiival/slides/tree/master/graphql-intro)

Getting into GraphQL video

[![Getting into GraphQL](http://img.youtube.com/vi/7eQu_KS1TJk/0.jpg)](http://www.youtube.com/watch?v=7eQu_KS1TJk "Getting into GraphQL")

[2022-05-02 10:33] yangwao commented on #2934
Creepy
![image](https://user-images.githubusercontent.com/5887929/166221152-10e16ae4-6402-493f-b569-34ed6a097a6d.png)

[2022-05-02 10:34] vikiival commented on #2721
@yangwao this should be a hands-on session similarly to #2715 :)

Should be released imo :)

[2022-05-02 10:37] vikiival commented on #2934
Hope they/them made nice pictures ;D

[2022-05-02 10:42] vikiival commented on #2822
`currentOwner` should tell who was the owner at the time of calling the event.
Looks like a bug in the https://github.com/kodadot/rubick/issues/63

[2022-05-02 12:16] yangwao commented on #2715
Is this somewhere in https://docs.kodadot.xyz ?
Maybe @thea-exe can add this if not :)

[2022-05-02 12:30] brano-hozza commented on #2930
Tried to change it, still same warning
<img width="272" alt="image" src="https://user-images.githubusercontent.com/64609060/166233748-cc5d9694-caad-47a7-918b-6e5e3da08357.png">

<img width="1111" alt="image" src="https://user-images.githubusercontent.com/64609060/166233838-a6ee5e4a-2576-4325-ab54-afd7e1c29564.png">

[2022-05-02 12:58] roiLeo commented on #2930
Same for me, can't reproduce it on fresh install.
Are you sure you're using node `v16.14.2`?
you can type `node -v` in your project folder to check it

[2022-05-02 13:29] roiLeo opened #2939 "Arrows in gallery are overlapping on mobile"
When I touch the "who reacted" button I still see Left & Right arrow
<img width="46" alt="Capture d’écran 2022-05-02 à 3 28 18 PM" src="https://user-images.githubusercontent.com/9987732/166241566-7de997c0-8bf5-4339-b14f-8abff442023f.png">

<img width="373" alt="Capture d’écran 2022-05-02 à 3 25 29 PM" src="https://user-images.githubusercontent.com/9987732/166241306-e9e990a0-69f9-4ae9-88dc-609b

[2022-05-02 13:36] Jarsen136 commented on #2939
I will take this

[2022-05-02 14:13] Jarsen136 commented on #2930
Maybe need to delete ./node_modules and reinstall?

[2022-05-02 14:28] brano-hozza commented on #2930
Yes thank you :) Deleting node_modules helped

[2022-05-02 14:28] #2930 closed

[2022-05-02 15:04] XyloDrone commented on #2792
@roiLeo srry for the delays with all this stuff, AmsterDot took me by storm :D

[Here is the design ](https://www.figma.com/file/GeVzZKVORd9L8kAWrlKtZv/?node-id=566%3A4139)for desktop landing(updated everything as per your suggestions).

...and [here](https://www.figma.com/file/GeVzZKVORd9L8kAWrlKtZv/?node-id=564%3A3512) is a mobile version
Let me know your thoughts and if anything else needs to b

[2022-05-02 16:14] yangwao commented on #2116
Create service which would authorize users with their address for their GitHub handle oauth so we don't need for devs fill PR template every PR

[2022-05-02 16:27] thea-exe commented on #2715
Will do!

On Mon, May 2, 2022 at 8:16 AM Matej yangwao ***@***.***>
wrote:

[2022-05-02 16:27] thea-exe commented on #2721
Yes!

On Mon, May 2, 2022 at 6:34 AM Viki Val ***@***.***> wrote:

[2022-05-03 07:58] #2939 closed

[2022-05-03 10:43] vikiival commented on #2822
Hey @Jarsen136 bug is solved!
thanks for the report ❤️

[2022-05-03 13:01] Jarsen136 commented on #2822
Maybe needs some time to redeploy to 006? @vikiival

[2022-05-04 08:09] yangwao opened #2941 "🧑‍🔧 check payout bot for not paid PRs"
Seems some last PRs we're not paid out.
Last time I did nothing and gh webhook hit auto code gw well

Maybe add a reply if the payout bot at least received the request lol

edit
payout to @KngZhi
https://beta.kodadot.xyz/transfer?target=DaWoVNNhBTdqJ5iPN3UcaLeamkPpJeGWdrs8LhvX9TQbadc

https://github.com/kodadot/nft-gallery/pulls?q=is%3Apr+sort%3Aupdated-desc+is%3Amerged+-label%3Apaid+

#### Fix ad

[2022-05-04 10:30] vikiival commented on #2822
Almost 90% I think you are good to go :)

<img width="563" alt="Screenshot 2022-05-04 at 12 30 29" src="https://user-images.githubusercontent.com/22471030/166665123-bad86a72-0988-44e7-a48c-e2160086af3c.png">

[2022-05-04 12:29] cryptodamsky opened #2944 "Write an article on KodaDot differences vs other marketplaces"
We need to have article describing why creators and collectors should hang out on KodaDot and use it as their main operating platform.

- Highlighting stats
- Highlighting main filter and explorer functions
- Little bit on community and network effect

This content will also go to docs, in general we need to have a "playbook" on which everyone can have a look and see differences and main features.

[2022-05-04 12:34] cryptodamsky commented on #2283
This issue is now free to take, would somebody like to tackle it?

[2022-05-04 14:14] petersopko commented on #1175
@vikiival I started by making a query for collectionEmotesTotalCount but since we're showing first 50 collection in series, that's 50 calls to make, so it's slow. After checking out rubick, am I right to assume that the series resolver needs to be expanded in order to make this fast ? :rocket:

[2022-05-05 07:20] #2919 closed

[2022-05-05 07:47] #2921 closed

[2022-05-05 08:03] KngZhi commented on #2918
I'll take it.

[2022-05-05 08:46] #877 closed

[2022-05-05 09:32] yangwao opened #2949 "Flex alignment on collection stats"
- Seems listed/total items are not on the same row on the particular width
- rename "highest transaction price" to "highest sale"
- replace in naming where is total with sigma, Σ. The aim is to have the least text.

![image](https://user-images.githubusercontent.com/5887929/166896426-1e1e8c69-28ff-4227-ac9a-c96e7b6d2eeb.png)

[2022-05-05 09:36] kkukelka commented on #2949
i will take this

[2022-05-05 09:37] yangwao commented on #2949
<img src="https://media2.giphy.com/media/26uf7KtoSuD7Gkuf6/giphy.gif"/>

[2022-05-05 10:14] roiLeo commented on #1174
Status:
- ✅ gallery feed
- ✅ profile
- ✅ collection detail
- ❌ collections (CollectionList, `collectionSortOption` sortBy `CollectionEntityOrderByInput` need to be replaced by `NFTEntityOrderByInput`)

[2022-05-05 13:30] #2949 closed

[2022-05-05 14:13] Dev-Som commented on #2944
I'll take it

[2022-05-05 15:54] yangwao opened #2954 "Add ambassadors program to the footer"
- Link the Ambassador program to the footer  https://docs.kodadot.xyz/ambassador-program/ambassador-intro.html#the-opportunity
- Remove Partnerships from footer

[2022-05-05 15:58] petersopko commented on #2932
Added this as we discussed yesterday, 10+ merged PRs or issues labelled "good first issue" -> +50% bounty time.

[2022-05-05 16:07] kkukelka commented on #2954
i will take this

[2022-05-05 19:40] #2954 closed

[2022-05-06 07:58] KngZhi commented on #2941
seems #2927 is also not working

[2022-05-06 08:04] KngZhi commented on #2941
Okay, I will check this naughty 🤖️.. beep...

[2022-05-06 08:12] yangwao opened #2956 "Table is moving it's columns width on row expand"
When you are at holders & flippers at collections and want to expand the row, columns should be fixed
Seems at users -> holdings & gains it's ok

https://deploy-preview-2945--koda-nuxt.netlify.app/rmrk/collection/0a8ce195286c168f19-DONKEY?tab=holders

Noticed bug at
- #2945

https://user-images.githubusercontent.com/5887929/167093230-9c183c91-42a6-482a-9379-215a731fc705.mov

[2022-05-06 09:15] KngZhi commented on #2941
[code]
@yangwao paste to console, you can see the result.

[2022-05-06 09:38] yangwao commented on #2941
you added `,` after 46 ? or I don't see what you have changed

[2022-05-06 10:00] vikiival opened #2958 "unified error page"
### Is your feature request related to a problem?

Currently we have a bit ugly error page for missing collections

### Describe the solution you would like

I would like to see a universal page for errors like `/404` where you add can add the query params like `?type=collection&reason=error.notfound&id=dasdas` so we can reuse it also for missing nfts or other pages :)

### Describe alternatives y

[2022-05-06 11:31] KngZhi commented on #2941
Out of computer, will check later.

[2022-05-06 11:38] petersopko commented on #2932
@yangwao are merged branches getting automatically deleted or was this one done manually? The initial bot setting was done, so that bot has always one branch running where the updates would be performed and from which PR would be opened.
![image](https://user-images.githubusercontent.com/73316633/167124187-4d2fb387-211b-4180-9dd9-283f4eb5613b.png)

It can be done in a different way, but this one s

[2022-05-06 11:51] vikiival opened #2960 "rubick 004 queries can fail on newer versions"
see the difference in casing :). It took me a couple of mins :)

004

[code]

005+

[code]

[2022-05-06 11:57] yangwao opened #2961 "Remove copy to clipboard own address while clicking on Transfer"
When I go to my profile and **click on transfer**, it copies the address to my clipboard.

Is there made intentionally?
I guess we should not push addresses to user's clipboard without it's own intent

I've sometimes noticed that why have own address in clipboard, now I know where it's coming from 😅

![image](https://user-images.githubusercontent.com/5887929/167126591-4925cdf5-5624-4b80-9513-fc01f

[2022-05-06 11:59] petersopko commented on #2961
I'll take this

[2022-05-06 12:25] vikiival commented on #2960
rubick@004? yes for the landing page?

004 and nft related queries? No

[2022-05-06 13:10] yangwao opened #2963 "Parameters for generative vector graphic framework"
We had a session with Frank and I guess we should wrap some abstract API, or more likely standard some approach what kind of art in p5.js, glsl, wasm client-side and unity snippets can use as inputs

I came up with concept of distinguish states and these those include
### While creating state
- attributes like traits, in form of k/v which could be pushed to the picture?
  - examples like for cycle

[2022-05-06 13:23] Jarsen136 opened #2964 "AvailableAction.vue - Unit Test"
There are some import errors occur when running unit test, like  importing .svg error.
Would be great if someone could solve this problems and write unit test in `AvailableAction.vue`

_Originally posted by @Jarsen136 in https://github.com/kodadot/nft-gallery/issues/2948#issuecomment-1118675607_

ref: #1841

[2022-05-06 14:08] vikiival opened #2965 "Unify shopping logic for multichain"
Could we open another issue to handle this unification of these two components?
I think it's not in the description of the original issue and maybe will cost much more time : )

_Originally posted by @Jarsen136 in https://github.com/kodadot/nft-gallery/issues/2948#issuecomment-1119630405_

[2022-05-06 14:11] roiLeo commented on #2965
links with #1678

[2022-05-06 14:33] KngZhi commented on #2941
New Regex:
[code]

Reason for this bug:
the [COPY REWARD ME BUTTON](https://beta.kodadot.xyz/transfer?target=5HBCcCAuDVvD8T7HAkA3SSFTMFkD6pa948ERTy6rZ9yoo9ib&usdamount=0&donation=true) would return
`https://beta.kodadot.xyz/transfer?target=DaWoVNNhBTdqJ5iPN3UcaLeamkPpJeGWdrs8LhvX9TQbadc&usdamount=0&donation=true`

1. the `transfer` does not append `/`, but the original regex would require that, `t

[2022-05-06 14:58] yangwao commented on #2941
seems like it's working! https://github.com/kodadot/nft-gallery/pull/2884#issuecomment-1119713043

[2022-05-06 15:03] KngZhi commented on #2941
Good 🤖️! hahahaha, beep boop.

[2022-05-06 16:50] vikiival opened #2966 "Use GalleryCardList in Gallery"
### What happened?

Currently we have duplicated implementation for the same stuff on `GalleryCard.vue`

### Please reproduce in steps

Moreover, the hover effect does not work on screens like profile or collection detail.

### Expected Behavior

[BLOCKED] By first basilisk impl

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

_No response_

### At which ad

[2022-05-06 17:20] prachi00 commented on #2966
I'll take this

[2022-05-06 17:39] petersopko commented on #2966
Alright, issues labelled "blocked" won't be up for grabs by the bot, I'll think of some message tomorrow and add this to the mix.

[2022-05-07 09:26] vikiival commented on #2966
I meant that: Why are issues without a bounty label are locked for 36hrs?

[2022-05-07 09:39] petersopko commented on #2966
Ah, @yangwao was asking about the blocked label at the same time. I thought you meant that.

Issues without bounty labels are locked for 24hrs by default. Frequent contributors to the repository (10+ merged PRs) get a 50% time boost for assignments, therefore, 36hrs for unlabeled ones -> #2932

[2022-05-07 10:00] roiLeo opened #2968 "Nova app URL redirection"
![Screenshot_20220507-115546.png](https://user-images.githubusercontent.com/9987732/167249392-14214e6e-c43b-4910-8855-aba09ba34ece.png)

**Possible solution**
- open issue in Nova app to change Kodadot Dapp URL
Or
- fix redirection

edited -- added @Jarsen136 address

https://beta.kodadot.xyz/transfer/?target=Caiv9TbPz68q5dC8EcHu5xKYPRnremimGzqmEejDFNpWWLG

[2022-05-07 10:02] yangwao commented on #2968
Would let it to the base domain probably, so we don't need care switching it as KodaDot would support other than RMRK stuff

[2022-05-07 10:11] Jarsen136 commented on #2968
i will take this

[2022-05-07 10:22] yangwao commented on #2347
hey there, I'm not sure right now if burn collections functionality was actually finished yet? @vikiival

But burn nfts one-by-one or by the group would be doable.

[2022-05-07 10:25] yangwao commented on #660
Let's push some version, others can help you out so we can make things faster:)

[2022-05-07 10:28] yangwao commented on #2960
Replace recent queries using rubick@004 where we are using them to the newest one
- on the landing page replace 004 to use rubick@006
- elsewhere where you find them

[2022-05-07 10:28] yangwao opened #2969 "Replace rubick@004 queries to use rubick@006"
Replace recent queries which are rely on rubick@004 where we are using them to the newest one @006
- on the landing page replace 004 to use rubick@006
- elsewhere where you find them

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2960#issuecomment-1120183045_

[2022-05-07 10:34] Jarsen136 commented on #2969
i will take this

[2022-05-07 12:35] Jarsen136 commented on #2968
Already created a PR to make it.  https://github.com/nova-wallet/nova-utils/pull/350

[2022-05-07 13:36] #2961 closed

[2022-05-07 17:07] Jarsen136 commented on #2968
This PR has been merged. So quickly 🚀

[2022-05-07 17:55] MSghais commented on #2550
I will take this

[2022-05-07 21:37] MSghais commented on #2918
I will take this

[2022-05-08 02:25] KngZhi commented on #2941
hey @yangwao gonna need more infos, I check it at the console, works well.

![image](https://user-images.githubusercontent.com/11361147/167279104-58e90214-9005-45f0-8c89-dc53f883502d.png)

[2022-05-08 08:31] yangwao commented on #1722
@Franks ideation 💡

![Screenshot_2022-05-08-10-30-58-50_572064f74bd5f9fa804b05334aa4f912.jpg](https://user-images.githubusercontent.com/5887929/167288169-3391b40a-96db-4f3f-832e-8f4d0a3348ff.jpg)

[2022-05-08 09:01] vikiival commented on #2918
@MSghais please make a copy of this queries and put them into @/queries/subsquid/general

you will make my life easier :)

[2022-05-08 09:29] KngZhi commented on #2918
@MSghais don't know whether you start or not? I forget to open a PR yesterday(Sat at my timezone), almost finished 90%.

[2022-05-08 09:41] Skylla54 commented on #1722
# Hoi

Yeap, thats me 🐼

### 💡 The idea is based on two sources
+ [Vue Docs](https://vuejs.org/guide/extras/web-components.html#building-custom-elements-with-vue)
+ Eric, he pops up in my [YT-Feed](https://www.youtube.com/watch?v=SoPo7bnhbqA) quite often, give him a click, its free.

### 💻 Some links after a quick google search
+ [WebCompents.org - SmartCard](https://www.webcomponents.org/element/

[2022-05-08 10:11] yangwao commented on #2941
seems passed here https://github.com/kodadot/nft-gallery/pull/2970#issuecomment-1120389430

[2022-05-08 11:52] yangwao commented on #542
Closing due to inactivity. Seems solved to me.

Let us know @x676f64 if you have any opinions

[2022-05-08 11:52] #542 closed

[2022-05-08 11:54] yangwao commented on #821
Closing.

If you found this issue and want to become ambassador, feel free reach out

https://docs.kodadot.xyz/ambassador-program/ambassador-intro#the-opportunity

[2022-05-08 11:54] #821 closed

[2022-05-08 11:56] yangwao commented on #826
Meanwhile we've solved with subsquid

[2022-05-08 11:56] #826 closed

[2022-05-08 11:57] yangwao commented on #356
Meanwhile fixed

[2022-05-08 11:57] #356 closed

[2022-05-08 11:59] yangwao commented on #612
Okay closing in favour
- #744
- #2620
- #2647
- #2222
- #2223
- #2226

[2022-05-08 11:59] #612 closed

[2022-05-08 12:00] yangwao commented on #690
https://polkadot.polkassembly.io/post/949

[2022-05-08 12:07] yangwao commented on #1127
We already showing this value in chart iirc

[2022-05-08 12:08] yangwao opened #2976 "🧹 Cleaning old issues vol 1"
Here I've tried cherry-pick issues which would be good to great to tackle

- https://github.com/kodadot/nft-gallery/issues/830
- https://github.com/kodadot/nft-gallery/issues/1164
- https://github.com/kodadot/nft-gallery/issues/1161
- https://github.com/kodadot/nft-gallery/issues/1139
- https://github.com/kodadot/nft-gallery/issues/1127

[2022-05-08 12:09] yangwao commented on #962
Done, we are calling it holders

https://kodadot.xyz/rmrk/collection/2644199cf3652aaa78-KK01?tab=holders

[2022-05-08 12:09] #962 closed

[2022-05-08 12:09] yangwao commented on #1104
we have meanwhile new charts

[2022-05-08 12:09] #1104 closed

[2022-05-08 12:10] yangwao commented on #1091
Does this seem solved? @vikiival
if so close this one

[2022-05-08 12:11] yangwao commented on #1017
on https://beta.kodadot.xyz it works well but on kodadot @preschian tried something worked for while till we had some error and retracted, maybe time to revisit this one?

[2022-05-08 12:13] yangwao commented on #1008
Closing in favour of passion issues we have
- #744

https://github.com/kodadot/nft-gallery/issues?q=is%3Aopen+is%3Aissue+label%3Apassion

[2022-05-08 12:13] #1008 closed

[2022-05-08 12:14] yangwao commented on #899
Continue to
- #2792
- #876

[2022-05-08 12:14] #899 closed

[2022-05-08 12:15] yangwao commented on #1280
We are using Estauary already
This should be fixed by bao iirc?
If so, let's close

[2022-05-08 12:16] yangwao commented on #1279
would be needed for genart

### Ref
- #2754

[2022-05-08 12:16] yangwao commented on #1281
This is already being done by BAO iirc

[2022-05-08 12:16] #1281 closed

[2022-05-08 12:17] yangwao commented on #1269
@thea-exe would be genuinely great to navigate through this:)

let's add one-pager to our docs, and what people can do with their KSM.
You will learn and can introduce to others in DotSama ecosystem

[2022-05-08 12:19] yangwao commented on #1230
Curious @onerawartist any got better now?

[2022-05-08 12:24] yangwao commented on #1331
Yes, meanwhile five months later we have
- arrow on NFT collections
- More from this collection
- Your History

![image](https://user-images.githubusercontent.com/5887929/167295983-93dda20b-312a-42a7-91a8-3e1567f9f49c.png)

[2022-05-08 12:24] #1331 closed

[2022-05-08 12:25] yangwao commented on #1323
Hey, curious if this is still a thing?
Maybe it's parameter to be added to model-viewer?

[2022-05-08 12:27] yangwao commented on #1448
Seems obsolete and fixed meanwhile

[2022-05-08 12:27] #1448 closed

[2022-05-08 12:28] yangwao commented on #833
Added, solved fixed, closing

[2022-05-08 12:28] #833 closed

[2022-05-08 12:28] Jarsen136 commented on #1127
I will take this

[2022-05-08 12:29] Jarsen136 commented on #1164
I will take this

[2022-05-08 12:29] yangwao commented on #425
We have infinite scroll meanwhile and changed a layout a lot since then
- #2859
- #2921
- #1411
- #1582

[2022-05-08 12:29] #425 closed

[2022-05-08 12:32] yangwao commented on #1371
@cryptodamsky 👀

[2022-05-08 12:32] onerawartist commented on #1230
@yangwao everything has became much better, but this exact issue still the same

![Screenshot_2022-05-08-13-31-15-667_com.android.chrome.jpg](https://user-images.githubusercontent.com/71472224/167296266-40bc4c0b-d0c2-4c6d-86ce-d10e184a0853.jpg)

[2022-05-08 12:33] yangwao commented on #90
Let's see if this is cleared up @cryptodamsky ?

[2022-05-08 12:35] yangwao commented on #1868
we already have something on Prettie stuff iirc

[2022-05-08 12:35] #1868 closed

[2022-05-08 12:35] onerawartist commented on #1323
@yangwao yes, 3D nfts are going big, you definitely need to focus on the 3D viewer

[2022-05-08 12:38] yangwao commented on #1823
🧨

https://github.com/kodadot/nft-gallery/commit/a8b70bc65cbe0eabd80d43274107d96361feaa6b

[2022-05-08 12:38] #1823 closed

[2022-05-08 12:39] yangwao commented on #1959
@kkukelka curious, this was already been written? :D

[2022-05-08 12:42] yangwao commented on #2312
We have meanwhile https://github.com/kodadot/nft-gallery/blob/main/HIRING.md

[2022-05-08 12:42] #2312 closed

[2022-05-08 12:43] yangwao commented on #146
👀

[2022-05-08 12:49] yangwao commented on #2435
Hey, it's hard for me to decode from issue, which particular part you are interested in to KodaDot help/co-op by your writing.
Let's become our ambassador and let's go from there.

https://docs.kodadot.xyz/ambassador-program/ambassador-intro#the-opportunity

[2022-05-08 12:49] #2435 closed

[2022-05-08 12:52] yangwao commented on #2595
sure putting in pipe :)

[2022-05-08 12:54] yangwao commented on #2290
yes, could something like "OWN" toggle switch :)

[2022-05-08 12:56] yangwao commented on #2040
Can close it when we have it here or is there some difference missing?

https://docs.kodadot.xyz/ambassador-program/ambassador-intro#the-opportunity

[2022-05-08 12:57] yangwao commented on #155
Continue to
- #2040

Meanwhile, @cryptodamsky made
https://docs.kodadot.xyz/ambassador-program/ambassador-intro#the-opportunity

[2022-05-08 12:57] #155 closed

[2022-05-08 13:00] yangwao commented on #2893
@aito-hideki is there any progress on this? Haven't heard from you for a while.
let me know if you want to continue on this, if not hear from you in 7 days, someone can take over this.

[2022-05-08 13:02] yangwao commented on #897
Okay, reach me on Discord and happy to process bounty for bug reporting.
Closing as we want to clear fixed bugs! :)

[2022-05-08 13:02] #897 closed

[2022-05-08 13:08] Jarsen136 commented on #2290
I will take this

[2022-05-08 13:12] #2873 closed

[2022-05-08 13:16] yangwao opened #2977 "Sometimes historically visited NFTs component doesn't appears even there is history"
This is a pretty strange bug for me at https://beta.kodadot.xyz

Seems when I click through the collection sometimes it appears, sometimes not even has a history?

https://user-images.githubusercontent.com/5887929/167297924-f69be721-6ef8-49bf-9cb9-da116b5dd1e4.mov

[2022-05-08 13:27] kkukelka commented on #1959
I've only written about the storage aspect of it https://medium.com/kodadot/on-the-past-present-and-future-of-data-storage-at-kodadot-7634a0c32530
but i haven't covered the speed improvements 😛

[2022-05-08 13:45] Jarsen136 commented on #2977
I will take this

[2022-05-08 13:50] Jarsen136 commented on #2977
I think I have submitted some pull requests for some issues : ) #2969 #1127

[2022-05-08 13:51] aito-hideki commented on #2893
Hi @yangwao
I am still working on that.
I am pushing forward with Vue Composition API, Vue3, Vite migration together along with Vite SSG.
As the scope of work is so huge, I am still working on that but haven't finished working.

[2022-05-08 13:54] Jarsen136 commented on #2977
I will take this

[2022-05-08 14:04] petersopko commented on #2977
Hmm, @yangwao how about this case ? Should this limit be enforced here?

[2022-05-08 14:36] MSghais commented on #2918
Hi @KngZhi ! Yes excuse me  too, I also started this PR too yesterday because I don't see one assignee, and I have finished soon too..

[2022-05-08 15:09] vikiival commented on #1281
Yup :)

[2022-05-08 15:13] vikiival commented on #1091
We replaced `console.error` with `console.warn` in 16d0d82324b6d4e70036ec55f38d841ecf740967

The thing is that native polkadot-js implementation cannot parse Infinity to number :) But it's usefull for us to know about it

[2022-05-08 15:13] #1091 closed

[2022-05-08 15:14] vikiival commented on #2969
this is literally one LOC

[2022-05-08 15:19] vikiival commented on #2347
I think there was a drama around `CHANGEISSUER` back then :), but both rubick & magick support our own flavour without `ACCEPT`

[2022-05-08 15:19] vikiival commented on #660
Slightly rugged by #2975

[2022-05-08 15:29] vikiival commented on #690
In the meantime we can try `ink!`

[2022-05-08 15:47] vikiival commented on #2966
Nice bot

[2022-05-08 15:48] vikiival commented on #1280
Yup obsolete :)

[2022-05-08 15:48] #1280 closed

[2022-05-08 15:49] vikiival commented on #2595
ref: https://github.com/kodadot/rubick/issues/56

[2022-05-08 15:51] vikiival commented on #2918
Lala I can close both ;D

[2022-05-08 15:52] #2977 closed

[2022-05-08 16:06] kkukelka commented on #1161
i will take this

[2022-05-08 16:11] vikiival opened #2980 "On PR approval add approval tag"
https://github.com/kodadot/nft-gallery/pull/2948

Should be fixable by github action imo

[2022-05-08 17:32] petersopko commented on #1269
@thea-exe it would be great to help us navigate the ecosystem and for example, some general guidlines for staking would be very much appreciated

[2022-05-08 17:44] KngZhi commented on #2359
I'll take it, dear bot 🤖️.

[2022-05-08 17:45] petersopko commented on #2359
bot's not that liberal with the trigger phrases :D check contributing.md

[2022-05-08 17:50] KngZhi commented on #2359
I will take this

[2022-05-08 17:51] KngZhi commented on #2359
Thanks for the reminder.

[2022-05-08 19:53] KngZhi commented on #2913
@yangwao I could take the spotlight optimize, since it fetching all data at once, I would do some refactoring on frontend but not on subsquid. Is that okay for that?

[2022-05-09 00:11] Jarsen136 commented on #2968
@yangwao I think we could close this issue via https://github.com/nova-wallet/nova-utils/pull/350

[2022-05-09 02:10] MSghais commented on #1238
I will take this

[2022-05-09 03:41] thea-exe commented on #1269
Thanks for the suggestion! I'll take on after gathering ideas and finishing up the last pages of the documentation

Other than staking, is there something else I should add for "what you can do with your KSM"? To be honest, staking and converting it to fiat only comes to mind. We can also say some jazz about putting it back into KodaDot to support other creators haha

[2022-05-09 03:44] thea-exe commented on #830
@yangwao Can I do this? :D Will get it done in like 5 mins unless I have to check the whole codebase

[2022-05-09 03:44] thea-exe commented on #830
i will take this

[2022-05-09 03:49] thea-exe commented on #1269
I will take this

[2022-05-09 03:50] thea-exe commented on #1433
I will take this

[2022-05-09 07:38] petersopko commented on #1269
I'm thinking, guide on how to turn $KSM into cash without KYC? 🚀

[2022-05-09 07:39] petersopko commented on #1269
not sure what happened here

[2022-05-09 10:02] vikiival opened #2986 "Make util for url"
so far a lot of code has forcefully hardcoded `rmrk` but it will fail for other impl like statemine or bsx.

It would be nice to have a util for url

[code]

[2022-05-09 11:57] yangwao opened #2988 "Implementing GunDb into KodaDot"
Let's think of creative use case someone can use the KodaDot fork for using for their game stuff.

I can expand on this later

### Ref
- https://gun.eco/

[2022-05-09 13:00] codiini commented on #2780
@thea-exe I was wondering what your username on the discord is so we can have a bit more discussions on the task. I'm free to take it up now.
I'm not so conversant with GraphQL so I might need some guidance with that

[2022-05-09 14:48] thea-exe commented on #2780
Arduweeno#2025

On Mon, May 9, 2022 at 9:01 AM Iniubong Obonguko ***@***.***>
wrote:

[2022-05-10 03:50] thea-exe commented on #830
I will take this

On Mon, May 9, 2022 at 11:45 PM kodabot ***@***.***> wrote:

[2022-05-10 04:14] thea-exe commented on #830
I will take this

[2022-05-10 04:15] thea-exe commented on #830
Can we edit this bot somehow? I mentioned something in the discord in #garage

Focused on the docs the whole day but plan on getting to this tomorrow so I guess I'll still take it :P

[2022-05-10 06:31] #2956 closed

[2022-05-10 07:24] petersopko commented on #830
the point of the time limit is that you're not blocking other people on the issues you'd like to finish. If you can't finish it within the given limit, don't get yourself assigned. There's quite a competition within the repo for some issues and this way, we make sure more issues get closed.

[2022-05-10 07:35] thea-exe commented on #830
Cool

[2022-05-10 09:18] #2969 closed

[2022-05-10 09:23] yangwao commented on #1
😍 Perfect, I’ve sent the payout
💵 $100 @ 100.01 USD/KSM ~ 1 $KSM
🧗 [EqdyzrzVmeHwMdMwvPeCMnNdbuQDbD3YrjY93xq9Ln3jUGW](https://kusama.subscan.io/account/EqdyzrzVmeHwMdMwvPeCMnNdbuQDbD3YrjY93xq9Ln3jUGW)
🔗 [0xd2b30a50011edd4729941beeed2a3d32591111253889a048f4ac24592e89f2be](https://kusama.subscan.io/extrinsic/0xd2b30a50011edd4729941beeed2a3d32591111253889a048f4ac24592e89f2be)

🪅 Let’s grab another iss

[2022-05-10 09:25] roiLeo commented on #1
Who's this?

[2022-05-10 09:51] roiLeo commented on #830
This issue has been done in #832 but there are still warnings `Unexpected any. Specify a different type  @typescript-eslint/no-explicit-any`

[2022-05-10 11:22] #2958 closed

[2022-05-10 13:15] yangwao opened #2994 "Make implementation of ink! for KodaDot"
What needs to be done?

- indexer - subsquid? I bet Astar/Shiden archive node is running already?
- basic wasm contract

Functionality
- [ ] create
- [ ] explorer
- [ ] actions (BUY,ROYALTIES,LIST,BURN)

We can expand on this more

[2022-05-10 18:43] #2819 closed

[2022-05-10 18:48] #1127 closed

[2022-05-10 20:44] MSghais commented on #1849
Done in #2995 @yangwao ?

[2022-05-10 20:45] MSghais commented on #1849
Done in #2995 @yangwao ?

[2022-05-10 20:46] MSghais commented on #1849
I will take this

[2022-05-11 06:24] kkukelka opened #2997 "Followup: TypeError breaks History Items / Pagination 🐛"
### What happened?

Followup ticket for #2973

When paginating through https://deploy-preview-2973--koda-nuxt.netlify.app/rmrk/u/CuHWHNcBt3ASMVSJmcJyiBWGxxiWLyjYoYbGjfhL4ovoeSd?tab=history&page=1&event=%25F0%259F%2596%25BC%2520MINT history will get stuck like the following

Probably some weird issue with history items.

![Screenshot 2022-05-11 at 07 40 18](https://user-images.githubusercontent.com

[2022-05-11 07:08] Jarsen136 commented on #2997
i will take this

[2022-05-11 09:30] jkdizajn commented on #415
I can do:
 5+1 (the sixth will be "done") SVG animations that will be loaded during the process

or one that explains the 5 points
example: https://codepen.io/madetoday/pen/MYxYeo/

what do you say?  @vikiival @yangwao @thea-exe

[2022-05-11 09:45] codiini commented on #2780
I've DM'd you

[2022-05-11 11:01] #2550 closed

[2022-05-11 11:02] yangwao commented on #2997
Looking forward as noticed which pages should be tested

8->9
10->11
21->22

https://github.com/kodadot/nft-gallery/pull/2973#issuecomment-1123578378

[2022-05-11 11:03] yangwao commented on #2997
don't forget to update your `main` as #2973 is merged :)

[2022-05-11 17:26] #2857 closed

[2022-05-12 04:35] #2997 closed

[2022-05-12 08:09] vikiival commented on #1496
[Rubick playground](https://app.gc.subsquid.io/beta/rubick/005/graphql)

[code]

current result

[code]

[2022-05-12 08:14] vikiival commented on #1496
Via SubQuery

[code]

current result

[code]

[2022-05-12 08:34] petersopko opened #3001 "sorting by score spotlight"
https://github.com/kodadot/nft-gallery/issues/2991

- add sorting by creator as well

[2022-05-12 08:45] petersopko commented on #3001
@Jarsen136 I've followed up here from #2991

[2022-05-12 08:47] petersopko opened #3002 "unify look of columns in spotlight"
This is an UI effect called dashed.  (underline and unclickable)
more details ref: https://buefy.org/documentation/table/#custom-headers
<img width="1103" alt="image" src="https://user-images.githubusercontent.com/31397967/167650417-2f465793-a485-416c-b914-ae04b0b2e852.png">

https://github.com/kodadot/nft-gallery/issues/299

[2022-05-12 08:49] yangwao commented on #2968
pay 100 usd

[2022-05-12 08:49] yangwao commented on #2968
😍 Perfect, I’ve sent the payout
💵 $100 @ 69.13 USD/KSM ~ 1.447 $KSM
🧗 [Caiv9TbPz68q5dC8EcHu5xKYPRnremimGzqmEejDFNpWWLG](https://kusama.subscan.io/account/Caiv9TbPz68q5dC8EcHu5xKYPRnremimGzqmEejDFNpWWLG)
🔗 [0x7a914418872cabe63301e23a2895c53df5051202fca28b2b7f1ba9ceeb30cb2e](https://kusama.subscan.io/extrinsic/0x7a914418872cabe63301e23a2895c53df5051202fca28b2b7f1ba9ceeb30cb2e)

🪅 Let’s grab another

[2022-05-12 08:50] Jarsen136 commented on #3002
i mean it is by design :)

[2022-05-12 08:50] #2968 closed

[2022-05-12 08:54] roiLeo commented on #3002
dash underline means to me that when you hover over them you get an explanation of the column I agree with @Jarsen136 it's made by design

[2022-05-12 09:02] petersopko commented on #3002
Sure, this was just from the perspective of user. There are clickable/sortable columns which don't look clickable/sortable + the names of the columns are not "human-centric" in my opinion. For example, I don't see why `∃! collectors` needs tooltip which is almost equally long `unique collectors`. But if you guys don't feel like it, feel free to close this :)
![image](https://user-images.githubuser

[2022-05-12 09:49] #1164 closed

[2022-05-12 16:46] prachi00 commented on #2775
I am still working on this one!

[2022-05-12 17:14] #931 closed

[2022-05-12 17:18] petersopko commented on #1175
I will take this

[2022-05-12 18:59] MSghais commented on #1542
I will take this

[2022-05-13 07:23] roiLeo opened #3007 "Scroll to top component"
Since we added infinite scroll (#2859) it might be a good idea to add a new button that allows users to "scroll to the top"

### Specs
- display at a certain page height
- fixed button bottom right
- reusable component
- mobile experience
- smooth animation
- vanilla js

[2022-05-13 07:30] Jarsen136 commented on #3007
i will take this

[2022-05-13 08:33] #2290 closed

[2022-05-13 09:23] yangwao opened #3009 "Create video tutorial how to set Subsquid and write first query"
- Let's create a SubSquid tutorial for first-time devs so they can set up a local environment and work with SubSquid
- Inherit knowledge from Vikis tutorials

### Demonstrate to
- write an easy SubSquid query
- write NFT resolver
- use that SQ query & NFT resolver in KodaDot
- Follow up videos could include how to write graphql in the playground

Video should be uploaded to our youtube channel, @c

[2022-05-13 10:28] yangwao opened #3010 "Write how our Assign bot v1 works for public and new incoming developers"
I guess hence there was a lot of progress from @petersopko till we will have the next version of Assign bot v2 would be nice to read what's is currently working as a knowledge snapshot for others so we can raise awareness of how we are functioning "public internally"

Drafting ideation outline
- Brief introduction of why we've made it
- How was the process of making it has started
- Takeaways for

[2022-05-13 10:29] yangwao commented on #3007
<img src="https://media0.giphy.com/media/SMdVtiW21wcgeUxrdW/giphy.gif"/>

[2022-05-13 12:24] roiLeo opened #3012 "Relocate first page query in searchbar"
`lastNftListByEvent` query should be executed once the navigation bar is clicked

Bonus:  remove query for other chains
<img width="1009" alt="Capture d’écran 2022-05-13 à 2 20 58 PM" src="https://user-images.githubusercontent.com/9987732/168282058-37f58ce0-f956-458a-a2ee-02fde6bc7bd7.png">

[2022-05-13 12:37] Jarsen136 opened #3013 "incorrect unlist event at history"
### What happened?

1. unlist event is incorrect in history tab

2. emoji disappear on unlist event

### Please reproduce in steps

test case:
https://beta.kodadot.xyz/rmrk/collection/160a6f4320f11acb25-LCKWV?tab=history&event=all&page=13

https://beta.kodadot.xyz/rmrk/collection/160a6f4320f11acb25-LCKWV?tab=history&event=all&page=7

### Expected Behavior

I've expected it to display this correct

[2022-05-13 12:37] Jarsen136 commented on #3013
i will take this

[2022-05-13 13:17] petersopko commented on #3010
@yangwao getting my thoughts in order around this, I'm wondering, could we get some custom KodaBot profile pic for gh + article? In the style of 🤖. Not sure who to reach out to, but that would be super cool.

[2022-05-13 13:30] roiLeo commented on #3010
May I suggest to keep same style as review guild

![Yeet](https://user-images.githubusercontent.com/9987732/168294160-8d0e4d4f-620c-47b5-873f-3184aac7955c.png)

[2022-05-13 14:12] #1175 closed

[2022-05-14 09:48] #3013 closed

[2022-05-14 11:04] yangwao opened #3018 "Passion suggestion v3"
Extend Passion graph for collectors

![image](https://user-images.githubusercontent.com/5887929/168422940-bd3b1c5b-3cde-418e-99d2-6ca310ce05e6.png)

# ref
- once you do follow on IG or Tw it suggests other artists from that popular graph
- https://www.instagram.com/stephaniepriscilla/

[2022-05-14 11:59] vikiival opened #3019 "Handle accounts with ss58 format more properly"
### Is your feature request related to a problem?

With upcoming parachain implementations the problems with ss58 would rise :)

### Describe the solution you would like

I would like to see some smart implementation how to solve issues like:
- bad address
- account equality

### Describe alternatives you have considered

I have tried this alternative:
- on the app level have a subscriber that wou

[2022-05-14 15:04] Jarsen136 commented on #1390
I will take this

[2022-05-15 07:53] #1390 closed

[2022-05-15 07:57] KngZhi commented on #2941
@yangwao is it okay to close?

[2022-05-15 08:29] Jarsen136 commented on #2589
I will take this

[2022-05-15 08:35] vikiival commented on #2589
@Jarsen136 please try again :)

[2022-05-15 08:37] Jarsen136 commented on #2589
I will take this

[2022-05-15 08:40] Jarsen136 commented on #2589
I seem to find the edge case of the assign bot

[2022-05-15 08:46] vikiival commented on #2589
Spawining @petersopko 🦅

[2022-05-15 08:57] KngZhi commented on #2222
I'll take it.

[2022-05-15 09:08] petersopko commented on #2589
hmm, let me try

[2022-05-15 09:08] petersopko commented on #2589
I will take this

[2022-05-15 09:14] petersopko commented on #2589
not sure what happened here, but just talked with @yangwao, we're gonna simplify the assigning process, i.e. remove all of the `goPhrases` and set it universally just to :wave: ->  `:wave:`.
Maybe it wasn't the problem here, but I can't see in logs why wouldn't the bot assign @Jarsen136

[2022-05-15 09:30] petersopko commented on #2932
:wave:

[2022-05-15 09:41] vikiival commented on #2589
Perfect!

[2022-05-15 12:20] yangwao opened #3022 "Use cases KodaDot"
- for QF-NFT like Gitcoin stuff
- merchandise store
- generative art

[2022-05-15 14:51] yangwao commented on #3010
🫡

[2022-05-15 14:54] yangwao commented on #2941
I guess so, I've used your address from last PR
pay 50 usd

[2022-05-15 14:55] yangwao commented on #2941
😍 Perfect, I’ve sent the payout
💵 $50 @ 71.07 USD/KSM ~ 0.704 $KSM
🧗 [DaWoVNNhBTdqJ5iPN3UcaLeamkPpJeGWdrs8LhvX9TQbadc](https://kusama.subscan.io/account/DaWoVNNhBTdqJ5iPN3UcaLeamkPpJeGWdrs8LhvX9TQbadc)
🔗 [0xd6475c5f4b48ae72835fa09136436ce5504859b077390e715795fbc1ac310d14](https://kusama.subscan.io/extrinsic/0xd6475c5f4b48ae72835fa09136436ce5504859b077390e715795fbc1ac310d14)

🪅 Let’s grab another i

[2022-05-15 14:55] #2941 closed

[2022-05-15 14:58] KngZhi commented on #2647
I'll take it.

[2022-05-15 15:28] KngZhi commented on #2647
I'll take this.

[2022-05-15 16:15] petersopko commented on #2647
hey, sorry for the confusion, I've pinged everybody contributing on discord, we've just recently changed the assignment process, you can read more [here](https://github.com/kodadot/nft-gallery/blob/de9a3e625d604aaf7c9beb0481b6a2ebf998fc46/CONTRIBUTING.md) before the branch gets merged into main :) I'm assigning you now to save time.

[2022-05-16 06:55] petersopko commented on #3010
ignore

[2022-05-16 07:23] yangwao opened #3026 "Frame Experimental, novelty and innovation as important part of technology market cycle"
We often as humans are stuck with something usually widely popular, good to use and mainstream, because might be good and not need to seek or explore new stuff, that's what's called the stagnation phase.
In technology, it's quite dangerous.

I can briefly draft, that hence introduction facebook in 2004 or twitter in 2006, it changed how we interact on Internet, from one-to-many (radio, television,

[2022-05-16 09:04] petersopko commented on #2932
ignore

[2022-05-16 09:10] #3012 closed

[2022-05-16 12:51] petersopko commented on #2932
@yangwao added the requested modification, if you @vikiival or @kodabot does the assigning, bot will ignore it and won't register it as something he should track

[2022-05-16 14:17] yangwao commented on #2277
We have meanwhile discussion on harvesting knowledge exchange on public good and quadratic funding https://github.com/kodadot/nft-gallery/discussions/2946

[2022-05-16 16:14] roiLeo opened #3027 "History tab in user Profil don't show any amount"
Tested on beta website

![image](https://user-images.githubusercontent.com/11361147/168636401-42e8c298-7e98-44e0-83dc-00029c3716a0.png)

_Originally posted by @KngZhi in https://github.com/kodadot/nft-gallery/issues/2975#issuecomment-1127860691_

[2022-05-16 16:19] petersopko commented on #2647
@KngZhi hmm bot keeps acting up with this one, I'll set it to ignore for now, the PR was already opened, this wasn't supposed to happen.

[2022-05-16 16:25] KngZhi commented on #3027
prachi00, it's okay, already fixed. [link](https://github.com/kodadot/nft-gallery/pull/2975#issuecomment-1127874910)

[2022-05-16 17:55] lightsonemusic commented on #3022
Dope

[2022-05-16 20:22] MSghais commented on #1285
I will take this

[2022-05-16 20:46] MSghais commented on #1285
👋

[2022-05-16 20:47] MSghais commented on #1285
I will take this 👋

[2022-05-16 20:57] MSghais commented on #1285
I'll check this

[2022-05-17 03:54] petersopko commented on #1285
👋

[2022-05-17 04:27] petersopko commented on #1285
👋

[2022-05-17 04:28] petersopko commented on #1285
there was a problem with mobile version of this, it should be working now :)

[2022-05-17 04:44] prachi00 commented on #842
@yangwao @vikiival by multiple do we mean more than 2 filters at a time?

[2022-05-17 05:51] yangwao commented on #3018
👋🏾

[2022-05-17 06:38] KngZhi commented on #1818
:wave:

[2022-05-17 06:38] KngZhi commented on #1818
nice 🤖️, ⛽️ for you.

[2022-05-17 06:57] vikiival commented on #842
Hey as description say:

the current thing is that the graphql query accepts just one param for `$orderBy` and it should accept the array :)

https://github.com/kodadot/rubick/issues/85

[2022-05-17 11:43] #3007 closed

[2022-05-18 12:42] cryptodamsky commented on #58
SInce @thea-exe got rid of half of our FAQ and removed obsolete questions, these seem to be one of those that would definitely go out.

 If you don’t want to add any of these Q to our FAQ @thea-exe , we can close this issue. Just lmk.

[2022-05-18 12:43] cryptodamsky commented on #58
We are not at the time of market where ppl would be asking or seeking answers for these question so once we will be, we can add them in or insert them into playbook. For now i dont see the importance to add those specific questions

[2022-05-18 12:46] thea-exe commented on #58
Completely agree, we'll update our FAQ when KodaDot advances a bit more but these questions don't seem to be useful currently

[2022-05-18 12:51] #58 closed

[2022-05-18 13:31] cryptodamsky commented on #2040
Yup this is finished :)

[2022-05-18 13:31] #2040 closed

[2022-05-19 13:53] KngZhi opened #3035 "series-insight table disaligned"
### What happened?

A bug happend.

### Please reproduce in steps

jump to the page https://beta.kodadot.xyz/series-insight

### Expected Behavior

I've expected this should be the same with the [spotlight page](https://beta.kodadot.xyz/spotlight).

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

Yes

### At which address did you encounter bug?

beta.kodadot.xyz

[2022-05-19 13:53] vikiival opened #3036 "Because of the `interaction` from minimark lack of UNLIST event."
Because of the `interaction` from minimark lack of UNLIST event.

We need to add `UNLIST` to `minimark` first, so that I could use it.

_Originally posted by @Jarsen136 in https://github.com/kodadot/nft-gallery/pull/3025#discussion_r875913038_

[2022-05-19 14:01] #3036 closed

[2022-05-19 15:07] prachi00 commented on #3035
I'll take this

[2022-05-19 16:26] petersopko commented on #3035
Hey, it's '👋🏻' since couple of days ago, check [contributing.md](https://github.com/kodadot/nft-gallery/blob/main/CONTRIBUTING.md)😌

[2022-05-19 19:34] prachi00 commented on #3035
<img width="1439" alt="Screen Shot 2022-05-19 at 12 33 38 PM" src="https://user-images.githubusercontent.com/39299315/169388005-c0630f66-aeb6-4fd3-bf11-dd15ad993943.png">

Sooooo
@yangwao @roiLeo for series insight we have a lot of columns, I tried fixing it but its just not possible, we either have to reduce the width of the last chart column, or add horizontal scroll or remove some columns

[2022-05-20 06:17] roiLeo commented on #3035
We can try multiple solution:
- reduce font-size in table header
- use `narrowed` prop in b-table to reduce cells size
- use `sticky-header` prop to show a scrolling table

[2022-05-20 13:20] vikiival opened #3037 "⚰️: Remove dead/unused code from repo"
We have a full implementation of RMRK Classic in the [minimark](https://github.com/vikiival/minimark)

Your task is:
- [ ] unused functions/classes from the repository
- [ ] remove duplicated types (there is already a ton of them in minimark)
- [ ] if you find some functionality that is tied to RMRK and is used here please [open an issue in minimark](https://github.com/vikiival/minimark/issues/new

[2022-05-20 13:31] Jarsen136 commented on #3037
👋

[2022-05-20 13:32] Jarsen136 commented on #3037
👋🏻

[2022-05-20 13:35] Jarsen136 commented on #3037
:wave:

[2022-05-20 13:51] petersopko commented on #3037
:wave:

[2022-05-20 13:52] petersopko commented on #3037
:wave:

[2022-05-20 13:53] petersopko commented on #3037
@Jarsen136 sorry, weird edge case, should be ok now.

[2022-05-20 13:56] Jarsen136 commented on #3037
That's OK. I would like to help find edge case in the bot 🚶

[2022-05-20 14:31] roiLeo opened #3038 "SEO: card UI update"
Some changes need to be done [here](https://github.com/AndreyGrin/og-image):
- remove background on logo
- (replace logo with TransparentWhite version)
- update price tag background color `#363636` & padding `3px 8px`

Tested on `/rmrk/collection/d08ff136a2fe19974d-CRAZY_CANARY`

#### collection card

- edit price tag: "XXX items"
- parse markdown (#889)

![Screenshot 2022-05-20 at 16-07-16 Card V

[2022-05-20 15:51] vikiival opened #3039 "Features that does not work with Basilisk"
They are hardcoded - using `'subsquid'`, using ss58 `2`, using `KSM`

- #3136
- #3137
- #3138
- #3279

### Detail

`Error: Network error: Response not successful: Received status code 400`

[2022-05-20 22:54] prachi00 commented on #3035
ignore

[2022-05-21 04:53] #1818 closed

[2022-05-21 08:37] KngZhi commented on #1386
:wave:

[2022-05-21 08:40] KngZhi commented on #1496
@vikiival do you think we should write a resolver inside sales-feed for this issue?

[2022-05-21 10:39] vikiival commented on #1496
There should be a new entity for that IMO

[2022-05-21 10:48] KngZhi commented on #1496
New entity! I like it. New field to do.

[2022-05-21 13:35] yangwao opened #3042 "how to make NFT resolver to Rubick and use it in KodaDot"
We would need to build a developer audience around kodadot and show them how easy is to write your own resolver to the Rubick

- write an easy SubSquid query
- Leverage the usefulness of Viki's tutorial, in a simple format, hence video is 1 hour long
- I guess we can publish it to dev.to as there is better developer audience

### Ref
- https://github.com/kodadot/rubick/
-

[2022-05-21 17:41] vikiival opened #3044 "QR page"
It would be nice to have a dedicated page for QR codes.

- discord
- twitter
- github
- instagram?

[2022-05-22 01:40] Jarsen136 commented on #3044
👋

[2022-05-22 02:56] MSghais commented on #1165
👋

[2022-05-22 07:39] petersopko commented on #3044
got another one, there was a whitespace left in the comment :) fixed now

[2022-05-22 09:40] #2918 closed

[2022-05-22 09:40] #3027 closed

[2022-05-22 10:18] yangwao commented on #2766
https://medium.com/@kilian.kukelka/8a83880f8624

👀 @vikiival

[2022-05-22 10:26] vikiival commented on #2766
added few comments

[2022-05-22 11:01] kkukelka commented on #2766
@vikiival @yangwao
added Open positions and link to hiring page + all comments you mentioned

[2022-05-22 11:11] vikiival commented on #1716
Closed for #3037

[2022-05-22 11:11] #1716 closed

[2022-05-22 11:50] vikiival opened #3046 "Remove Cypress"
### Is your feature request related to a problem?

I'm always frustrated when I see Cypress in the dependencies

### Describe the solution you would like

I would like to see it removed

### Describe alternatives you have considered

Alternative is to use Playwright (bounty applicable)

### Screeenshots

~

[2022-05-22 11:54] vikiival commented on #3046
[Reading](https://cathalmacdonnacha.com/cypress-vs-playwright-which-is-best-for-e2e-testing)

[2022-05-22 12:03] vikiival commented on #3046
https://v3.nuxtjs.org/guide/going-further/testing/#browser

[2022-05-22 12:04] Jarsen136 commented on #3046
👋

[2022-05-22 12:11] vikiival commented on #3046
Hey @Jarsen136 this is a p5 issues, we have more urgent stuff in the pipeline, please maybe take something else

[2022-05-22 12:14] Jarsen136 commented on #3046
Ok, I will pass

[2022-05-22 12:14] Jarsen136 commented on #3046
pass

[2022-05-22 12:16] Jarsen136 commented on #3046
Seems another edge case of assign bot

[2022-05-22 12:21] petersopko commented on #3046
not in this case, check [CONTRIBUTING.md](https://github.com/kodadot/nft-gallery/blob/main/CONTRIBUTING.md), `pass` was inserted just to get out of the `queue` or `option period` i.e., things native to the bot and not available on GH. Anybody can unassign themselves on GH, bot will register that you did. but maybe, we also want to make bot do this @yangwao ?

[2022-05-22 12:25] vikiival opened #3047 "Make curated list of collections per chain"
### Is your feature request related to a problem?

I'm always frustrated when I see a list of collections for RMRK in other chains

### Describe the solution you would like

I would like to see a curated list for each chain or else the app should take last 5 created collections

### Describe alternatives you have considered

~

### Screeenshots

<img width="1792" alt="Screenshot 2022-05-22 at 14 2

[2022-05-22 15:41] MSghais commented on #1165
https://github.com/kodadot/rubick/pull/87

[2022-05-22 16:01] KngZhi commented on #1115
:wave:

[2022-05-22 16:04] MSghais commented on #1165
#https://github.com/kodadot/rubick/pull/87

The resolver for the collector whale page

[2022-05-22 16:17] MSghais commented on #2882
👋

[2022-05-22 19:23] damskyftw opened #3050 "Date information in Holders page is acting weird"
### What happened?

Do we need to show the time information 2 times per one address? It looks a bit weird

### Please reproduce in steps

Go to collections, choose your collection, choose holders, tick "Date" and have a look at the history

### Expected Behavior

<img width="1348" alt="image" src="https://user-images.githubusercontent.com/92786519/169712297-3c212aef-9879-41d4-913e-02b756efd653.png

[2022-05-22 23:54] Jarsen136 commented on #3050
However, for those address owns several nfts, the date information are different from each other.
So seems every nft should have a single date?

<img width="1423" alt="image" src="https://user-images.githubusercontent.com/31397967/169721443-211ff50d-3441-4f23-8df5-c4c80bcc9b46.png">

[2022-05-23 07:42] #1542 closed

[2022-05-23 08:41] yangwao opened #3051 "Sales feed doesn't work?"
### What happened?

opened https://beta.kodadot.xyz/sales/

### Please reproduce in steps

open https://beta.kodadot.xyz/sales/

### Expected Behavior

probably seeing recent sales?

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

Yes

### At which address did you encounter bug?

beta.kodadot.xyz

### Screenshots

<img width="1654" alt="image" src="https://user-im

[2022-05-23 08:57] yangwao commented on #660
<img src="https://media4.giphy.com/media/iIYTP2Jz2wdhAEyZrn/giphy.gif"/>

[2022-05-23 09:05] GabrielBuragev commented on #3046
I will take this

[2022-05-23 11:41] #3046 closed

[2022-05-23 11:47] yangwao opened #3053 "Status of KodaDot Github repositories & dynamics"
Write an article status quo and activity of KodaDot's GitHub repositories

- draft the current contributors culture of how we are operating, from issue, discussion, pull-request, code-review and paying out contributors
- the flow of someone makes the issue, bug report, contribute to code review
- code review guild - why is it important to have quality code and peer-reviewed codebase
- highlight

[2022-05-23 12:22] vikiival opened #3054 "Profile won't load when you go back"
### What happened?

When you go from profile to NFT detail and back the detail won't load

### Please reproduce in steps

- [ ] [Go to my profile](https://kodadot.xyz/rmrk/u/Fksmad33PFxhrQXNYPPJozgWrv82zuFLvXK7Rh8m1xQhe98?tab=collected&page=1)
- [ ] Open **any** NFT
- [ ] go back
- [ ] No JPEGS (`Viki.sad === true`)

### Expected Behavior

I've expected to see my JPEGs

### What browsers are you s

[2022-05-23 12:26] vikiival commented on #2932
Idea:
Issues with label `research` should not be assignable

WDYT: @yangwao @petersopko ?

[2022-05-23 12:28] vikiival opened #3055 "Better cache for profile and collections"
### Is your feature request related to a problem?

A lot of the stuff is currently fetched many times
- [ ] Profile
- [ ] Collection detail
- [ ] NFT detail?
### Describe the solution you would like

I would like to see leverage indexed db/vuex for that

### Describe alternatives you have considered

Faster loading/response time

### Screeenshots

~ metavision

[2022-05-23 12:31] vikiival opened #3056 "Response from cloudflare images is a blocking operation"
### Is your feature request related to a problem?

I have a feeling that response from [durable jpeg](https://github.com/kodadot/workers/tree/master/durable-jpeg) / cloudflare images is a blocking operations and it prevents from us to load page faster.

### Describe the solution you would like

I would like to see that this operation is non-blocking

### Describe alternatives you have considered

[2022-05-23 12:34] Jarsen136 commented on #3054
👋

[2022-05-23 13:59] kkukelka commented on #3053
i will take this
@yangwao i feel like article writing might be an edge case for assign bot as it could take quite a bit longer than a code-relateed issue

[2022-05-23 15:08] roiLeo opened #3059 "Duplicated nft in Newest List"
In landing page we have duplicated nfts (Newest List)

Same Id `/rmrk/gallery/12782302-8000262b13545ea72d-KBUTTS-JESSIE_EDITION_KSM_BUTT-0000000000000061`

![Capture d’écran 2022-05-23 à 5 06 44 PM](https://user-images.githubusercontent.com/9987732/169849928-4f1f06bb-c7c2-4d8a-a602-9d35dc1fb5bf.png)

[2022-05-23 15:12] #3054 closed

[2022-05-23 15:18] roiLeo commented on #3059
It might be normal? Maybe try to GroupBy Id
![Capture d’écran 2022-05-23 à 5 17 18 PM](https://user-images.githubusercontent.com/9987732/169852058-6c342cee-5a81-47f6-a7c8-f61254d41abe.png)

[2022-05-23 15:23] petersopko commented on #2932
added this, @yangwao lmk if you don't agree

[2022-05-23 15:27] Jarsen136 commented on #3059
Emm, in Newest List, they are from different event with different event id.

[2022-05-23 15:29] vikiival commented on #3055
OO nice

[2022-05-23 16:17] KngZhi commented on #2932
I was thinking maybe for the time bonus, using `$` label as a standard, like if one reaches 30 `$` total we consider grant this feat. Since for different `$` label, the merged difficulty is very much different.

[2022-05-23 20:08] #1285 closed

[2022-05-24 00:05] Nadro-J commented on #1661
Experimenting with Gource. Working on an animated video showing past -> present on nft-gallery

![image](https://user-images.githubusercontent.com/43568466/169922955-fdc7fa93-64f5-4454-a02c-a375156d8105.png)

[2022-05-24 06:27] #3037 closed

[2022-05-24 11:56] roiLeo commented on #898
This could be fixed with a query on the 'BUY' event (kinda same as `lastNftListByEvent.graphql`)

[2022-05-24 15:04] ayushkumar63123 commented on #348
I am interested and I am experienced in data science can I work on this issue?

[2022-05-24 16:19] prachi00 commented on #898
👋

[2022-05-24 19:19] ayushkumar63123 commented on #348
:wave:

[2022-05-25 01:13] MSghais commented on #1334
👋

[2022-05-25 01:21] MSghais commented on #842
👋

[2022-05-25 01:41] prachi00 commented on #842
@MSghais Hi, I am still working on this one and almost done

[2022-05-25 01:45] prachi00 commented on #842
ignore

[2022-05-25 01:49] prachi00 commented on #2775
ignore

[2022-05-25 09:48] ayushkumar63123 commented on #348
Can I create this on Dune Dashboard using their nft data and postgreSQL?

[2022-05-25 10:00] ayushkumar63123 commented on #3010
:wave:

[2022-05-25 10:00] ayushkumar63123 commented on #3042
:wave:

[2022-05-25 12:05] thea-exe commented on #3042
@ayushkumar63123 Hey, I see you've assigned yourself this task. I'm also working on it so maybe we can collaborate (unless you're looking to do a solo task, in that case I'll assign you something to else)? Currently running Viki's 1 hour video to condense everything

[2022-05-25 12:18] ayushkumar63123 commented on #3042
I can work with you

[2022-05-25 12:18] thea-exe commented on #3042
Awesome, push your changes up and I'll add on :)

[2022-05-25 14:24] #3035 closed

[2022-05-25 15:59] thea-exe commented on #3042
We already have Viki's video but making a video on writing SubSquid queries might help

[2022-05-25 16:05] thea-exe commented on #3042
To be honest, I don't think I need any help as I've gotten help from an advocate at SubSquid— would love for you to focus on the other tasks you have :)

[2022-05-25 16:08] ayushkumar63123 commented on #3042
Thanks actually I was already planning to drop this task due to other easier tasks I have :)

[2022-05-26 06:05] ayushkumar63123 commented on #3053
:wave:

[2022-05-26 06:06] ayushkumar63123 commented on #3053
I am working on this please

[2022-05-26 06:15] petersopko commented on #3010
hey, sorry for the late reply; I've already written a draft for this one; it'll go out soon, I hope :) btw check [contributing.md](https://github.com/kodadot/nft-gallery/blob/main/CONTRIBUTING.md), specifically the "ignore" part. Usually, it's safe to assume ignored issues are already worked on / are specific for the dev who has made the bot ignore it :)

[2022-05-26 06:37] ayushkumar63123 commented on #3053
Almost completed

[2022-05-26 06:53] ayushkumar63123 commented on #3053
Completed

[2022-05-26 06:53] ayushkumar63123 commented on #3053
https://dev.to/ayushkumar63123/status-of-kodadot-github-repositories-dynamics-59db

[2022-05-26 06:54] ayushkumar63123 commented on #3053
Please review and if fine, then please tell how can I get the bounty

[2022-05-26 08:19] kkukelka commented on #3053
@ayushkumar63123
Sorry if this wasn't communicated here but there is already an open draft on medium regarding this topic
https://medium.com/kodadot/contributor-culture-at-kodadot-665243d3d6a6

Also, your article feels very rushed and low effort in terms of doing research on our workflow. Please take your time on such issues as this text should give interested individuals an insight into how we wo

[2022-05-26 09:04] ayushkumar63123 commented on #2911
I will run the tests and find the errors

[2022-05-26 09:04] ayushkumar63123 commented on #2911
:wave:

[2022-05-26 10:49] yangwao commented on #1661
Sent you $200, let's push it to docs repository :)  https://kusama.subscan.io/extrinsic/0x605a0dad9994225b7e7597e7808c1f03ccc76d768a995b571266be01e842497a

[2022-05-26 12:26] #1238 closed

[2022-05-26 12:31] petersopko opened #3069 "Tabs on artist's profile are missing count"
### What happened?

Seems that somewhere along the way, we've lost the displayed count of NFTs Sold, etc. The number is displayed only after selection of given tab.

![image](https://user-images.githubusercontent.com/73316633/170488029-aa2b0d62-da03-40b6-8b59-7159e8f67170.png)

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What brow

[2022-05-26 12:47] zhengow commented on #3069
I'll check this

[2022-05-26 13:35] petersopko commented on #3069
hey, check [contributing.md](https://github.com/kodadot/nft-gallery/blob/main/CONTRIBUTING.md) to see  how to get issue assigned :} we had some updates

[2022-05-26 13:43] zhengow commented on #3069
👋:wave

[2022-05-26 13:44] zhengow commented on #3069
:wave:

[2022-05-26 14:55] thea-exe commented on #1269
Close this

[2022-05-26 15:14] petersopko commented on #1269
There's built in GH function to close issues by PRs, check it out, maybe add it to the contributing.md as well? 😄 works across repos https://github.blog/2013-03-18-closing-issues-across-repositories/

(Also, pls note that in order to close multiple issues, the correct format is `closes #XY, closes #XYZ` etc.)

[2022-05-26 15:15] #1269 closed

[2022-05-26 15:22] thea-exe commented on #1269
HAHHAHAHAH THANK YOU FOR LETTING ME KNOW 😅😅

[2022-05-26 15:34] #2589 closed

[2022-05-26 18:43] #3069 closed

[2022-05-27 08:22] petersopko opened #3071 "Explorer down?"
### What happened?

Explorer currently isn't working either on prod or beta. @vikiival pls halp
![image](https://user-images.githubusercontent.com/73316633/170660366-40c4d05d-cb17-4226-a2c1-3cf5b483d9f7.png)

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

_No response_

### Are you logged

[2022-05-27 08:30] petersopko commented on #3071
rubick 006 ded https://app.gc.subsquid.io/beta/rubick/006/graphql

[2022-05-27 08:49] #2222 closed

[2022-05-27 08:49] #2647 closed

[2022-05-27 10:48] petersopko commented on #3071
not anymore

[2022-05-27 11:27] #3071 closed

[2022-05-27 11:34] #1111 closed

[2022-05-27 15:53] yangwao opened #3073 "Fix contrast after mint"
I've made mint within classic mint and seems like text is hardly readable

<img width="939" alt="image" src="https://user-images.githubusercontent.com/5887929/170734864-5f3a11a7-4b53-4d5e-a43d-831d65147946.png">

[2022-05-27 15:56] yangwao opened #3074 "Declutter profile page"
I guess would be around clock to declutter the profile page hence we got a lot of stuff already there
Just backlogged and need to expand how it actually would be best as sense there are actually two types of person, like creators and collectors, and some people would like to see more insights into NFT metrics.

<img width="1407" alt="image" src="https://user-images.githubusercontent.com/5887929/17

[2022-05-27 16:02] yangwao opened #3075 "Missing translation at loader"
Seems we are missing some text at the loader.
It's loader while you are minting at classic mint.

<img width="211" alt="image" src="https://user-images.githubusercontent.com/5887929/170736335-077dd185-1f4b-4b32-a4f5-3f311fd06226.png">

[2022-05-27 16:03] Jarsen136 commented on #3075
👋

[2022-05-27 16:04] Jarsen136 commented on #3073
👋

[2022-05-27 16:29] prachi00 commented on #3074
maybe we can add this in preferences to stop seeing some of the tabs?

[2022-05-27 16:30] petersopko commented on #3074
uhmm

[2022-05-27 16:35] petersopko commented on #3074
should be ok now?

[2022-05-28 05:24] #3073 closed

[2022-05-28 09:16] yangwao commented on #2277
Should be ongoing stuff as there are lot's of materials on Internet about it :)

[2022-05-28 09:45] kkukelka commented on #2277
Yeah sorry I wasn't sure how to go about the payment for the issue. 😅

[2022-05-28 13:41] #3075 closed

[2022-05-29 08:45] yangwao opened #3079 "Seems explorer doesn't work"
https://beta.kodadot.xyz/rmrk/explore/?tab=GALLERY&page=1

maybe related https://github.com/kodadot/nft-gallery/pull/3023 ?

<img width="765" alt="image" src="https://user-images.githubusercontent.com/5887929/170859757-3946d88a-b0d8-45dc-9277-a98a45ea5839.png">

<img width="600" alt="image" src="https://user-images.githubusercontent.com/5887929/170859767-b76c4198-3aac-4fcc-9195-4a2c34c21a4d.png">

[2022-05-29 08:49] yangwao commented on #3051
seems working

<img width="1230" alt="image" src="https://user-images.githubusercontent.com/5887929/170859959-0182ba3b-8eb5-4102-a2e5-fd6e066faa4d.png">

[2022-05-29 08:49] #3051 closed

[2022-05-29 09:19] kkukelka commented on #3079
👋

[2022-05-29 12:30] #3079 closed

[2022-05-29 12:38] yangwao commented on #2911
Hey @ayushkumar63123 any progress on this?

[2022-05-29 13:58] yangwao opened #3084 "Implement ink! nft marketplace into KodaDot"
This is a pure research stage issue

- https://github.com/gear-tech/apps/tree/master/nft-marketplace
- https://github.com/gear-tech/apps/tree/master/nft-marketplace/nft

[2022-05-29 15:28] ayushkumar63123 commented on #2911
will update you in around one or two hours

[2022-05-29 15:53] ayushkumar63123 commented on #2911
Hello @yangwao

[2022-05-29 15:53] ayushkumar63123 commented on #2911
Please review my PR linked with this issue

[2022-05-30 19:41] lluuk commented on #2868
Hey, I can take this task 👋

[2022-05-30 19:51] lluuk commented on #2868
👋

[2022-05-31 07:01] roiLeo opened #3086 "NewestList show only passion when logged in"
Why do I have this passion thing when I just want to look at last listed/bought nfts?

![Screenshot 2022-05-31 at 08-55-53 KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/171111201-c7bc68f4-ecc8-4bae-9b22-05270f538054.png)

[2022-05-31 07:04] prachi00 commented on #3086
@roiLeo I';; check this

[2022-05-31 07:04] prachi00 commented on #3086
I'll check this

[2022-05-31 07:53] yangwao opened #3087 "Article about framing KodaDot as middleware"
In the KodaDot we have integrated quite a bunch of various calls and 3rd party apis where we can for sure position ourselves as Substrate for Metaverse.

I can expand on this later

- middleware thesis
- why it matters
- importance from builders perspective
- infrastructure perspective
- building component

[2022-05-31 09:00] vikiival commented on #2868
There will be an url for the kodadot/snek

most probably https://app.gc.subsquid.io/beta/snekk/001/graphql

[2022-05-31 09:46] yangwao opened #3089 "Configure Autolinks"
if I get it right it would easily can reference like RUBICK-89 ?

https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/configuring-autolinks-to-reference-external-resources

h/t @vikiival

[2022-05-31 10:04] petersopko commented on #3010
@yangwao published here https://dev.to/petersopko/kodabot-pt-1-1ge3 🚀

[2022-05-31 11:54] petersopko opened #3091 "Roadmap to KodaBot-as-a-service"
After talks with @yangwao and @vikiival, we'd like to see KodaBot evolve into a project/repo agnostic service provided for any project within the dotsama ecosystem. We want to get support from the treasury to do this properly. This roadmap will help me get the project to the (hopefully) accepted proposal.

Timespan:  **June - July 2022**

0. KodaBot at dev.to, part 1 ⇾ assign part

- [x] describe

[2022-05-31 12:00] roiLeo opened #3092 "remove search query from url when empty"
#### Step to reproduce:
- Go to Explore page
- toggle some filters
- `&search=` is in url even when the SearchBar is empty

[2022-05-31 12:19] vikiival commented on #3091
Aren't you using CF KV already?
Maybe you wanted to rewrite the logic from autocode to CF

[2022-05-31 13:02] Jarsen136 commented on #3092
👋

[2022-05-31 13:30] vikiival commented on #3091
All I see is RUST 🦀

[2022-05-31 14:21] roiLeo opened #3094 "trouble navigating between pages"
#### Step to reproduce
- Go to /rmrk/explore
- Click on Gallery tab
- Sort by "Most reacted"
- Scroll down & down & down
- Click on any nft
- now you are on galleryItem view
- go back one page
- profit ❓ (url keep the filters but we can't go to page 1 of most reacted)

#### Video as example
https://user-images.githubusercontent.com/9987732/171194909-9e4eb195-1c9c-45ae-bb74-203f80a3a704.mov

[2022-05-31 17:47] vikiival opened #3095 "NFT Collection for SubWork"
We should make a collection of pics on KodaDot that will show the space around the subwork. It would be ideal if this collection could be collaborative

WDYT @yangwao @petersopko

[2022-06-01 05:42] #3094 closed, assigned to Jarsen136

[2022-06-01 06:13] KngZhi commented on #3086
yes, on the landing page.

[2022-06-01 06:48] roiLeo commented on #3086
See how it looks on one of my account...
![Screenshot 2022-06-01 at 08-40-47 KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/171343476-f4f43e02-9d6e-4537-b8a5-68a1c59cbcc2.png)

Is there any way to remove passion filter? I have to be offline to see anything.
Data integrity is compromised as user is not warned that the display is based on their account

[2022-06-01 07:35] roiLeo commented on #2615
**DotMarketCap**

![Screenshot 2022-06-01 at 09-34-02 Polkadot Ecosystem Projects DotMarketCap](https://user-images.githubusercontent.com/9987732/171351961-86de444b-4f58-457a-8816-6ffdb4b12f47.png)

[2022-06-01 12:21] lluuk commented on #2799
Hey, is this task available to take? I can check it

[2022-06-01 13:47] #2868 closed

[2022-06-02 05:56] Jarsen136 commented on #3086
👋

[2022-06-02 06:54] KngZhi commented on #2223
👋

[2022-06-02 07:14] prachi00 commented on #3086
@Jarsen136 hey, i am already working on this one and making progress ☺️

[2022-06-02 07:40] Jarsen136 commented on #3086
ok, LFG

[2022-06-02 12:57] yangwao opened #3098 "Customiser picker for equip-able NFTs"
With upcoming enabling traits to be minted, we would like to enable people to make their custom appearance for their NFTs

### What would need to be done?

We would like to see people upload their assets, from which they can choose combinations.
I.e. upload various baseline component pictures, then a variety of backgrounds they can set, other traits, like swords, spells, etc having the best textua

[2022-06-02 13:54] yangwao opened #3099 "Astar v0 implementation"
We are in intense chat with Astar and Shiden and once we will see support by SubSquid for Contracts pallet, we can kick of this stuff.

- [ ] NFT marketplace written ink!
  - [ ] Orderbook v0
  - [ ] Royalties
  - [ ] Swaps
  - [ ] Make Offers
  - [ ] Bundles

### NFT standards we want to see implemented
- [ ] [PSP34](https://docs.openbrush.io/smart-contracts/PSP34/psp34/
)
- [ ] [PSP1155](https:/

[2022-06-03 04:37] #3086 closed

[2022-06-03 16:47] #2615 closed

[2022-06-03 18:03] #3092 closed, assigned to Jarsen136

[2022-06-04 01:31] prachi00 opened #3103 "Show passion feed in gallery only if it is greater than 10"
### Is your feature request related to a problem?

Passion feed blocking the view by showing empty screen in gallery

https://www.loom.com/share/dd29b39d53a349b195e963b979af6451

### Describe the solution you would like

Adding a check to only turn it on if it has a length greater than 10 maybe, else it should be off

### Describe alternatives you have considered

I have tried this alternative

##

[2022-06-04 01:46] prachi00 commented on #2799
👋

[2022-06-04 06:42] #842 closed

[2022-06-04 07:37] #2775 closed

[2022-06-04 07:52] petersopko commented on #3095
yes

[2022-06-05 10:07] jkdizajn opened #3106 "Responsive design in "Artist profile" does not work properly"
### What happened?

The responsive design in the "Artist profile" is not working properly. Statistics are displayed in a chaotic way.

### Please reproduce in steps

**Screenshot Samsung internet browser**
![Screenshot_20220605-113952_Samsung_Internet](https://user-images.githubusercontent.com/81104034/172045337-07607cc1-53e4-4ecf-8484-6c6d2113e259.jpg)

### Expected Behavior

Test on my profile

[2022-06-05 10:18] Jarsen136 commented on #3106
👋

[2022-06-05 12:21] vikiival opened #3108 "Round robin for the indexer"
Because we want to most possibly employ both SubSquid and SubQuery for the majority of our services it would be good to have an Apollo based Round robin.

[Round-robin scheduling](https://en.wikipedia.org/wiki/Round-robin_scheduling)

[2022-06-05 13:16] petersopko opened #3109 "Navbar shriking hides navbar options"
Navbar shrinking currently hides tabs such as "Create" before switching to mobile version. @cryptodamsky just tried presenting from 13 inch macbook and couldn't click on "Create" because it wasn't there.
![image](https://user-images.githubusercontent.com/73316633/172052284-86322254-5955-49df-bba9-710d921df384.png)

[2022-06-05 13:33] Jarsen136 commented on #3109
👋

[2022-06-05 13:44] Jarsen136 commented on #3109
It works for me and shows most of items in nav-bar from my 13-inch macbook.
Maybe he could try to adjust the browser's zoom settings? My zoom level is 100%. @petersopko

<img width="1437" alt="image" src="https://user-images.githubusercontent.com/31397967/172053490-3cb8b5f6-1f63-4ca6-811f-be91f7cf1824.png">

[2022-06-05 14:09] petersopko commented on #3109
Hmm, now is see that I've operated on 75% zoom, however, I still think it is kind of unfortunate to make half of the navbar not accessible if you zoom in. It's not that it was zoomed out of the screen, the button for "Create" is getting hidden and there's no option to click it (when zoomed in guess).

[2022-06-05 14:35] Jarsen136 commented on #3109
yes, maybe need to think about how to deal with these hidden buttons, though it related to #2760

[2022-06-05 22:36] prachi00 commented on #2638
ignore

[2022-06-06 22:03] AdamValach opened #3110 "Language is applied only on some strings"
### What happened?

Only 2 out of 10 strings are translated, when selected different language than ENG.

![image](https://user-images.githubusercontent.com/43640500/172255661-77d2ebb9-b92b-455c-85db-a32acb348510.png)

Also happens on the title page. Happens when logged in and also logged out.

OS: Win 10
Browser: Brave

### Please reproduce in steps

1) Open Kodadot website
2) Select language (tes

[2022-06-06 22:37] prachi00 commented on #3110
👋

[2022-06-06 22:37] prachi00 commented on #2799
ignore

[2022-06-07 05:37] #3106 closed

[2022-06-07 13:21] roiLeo commented on #3110
Hey! Feel free to add your language content, you can find more information on the [Kodadot documentation ](https://docs.kodadot.xyz/contrib-helpers.html#translating-kodadot)

[2022-06-07 13:38] roiLeo commented on #1230
Closed in #3070
![Capture d’écran 2022-06-07 à 3 37 50 PM](https://user-images.githubusercontent.com/9987732/172394333-93ed985c-233c-433f-a606-4d9aef2cd6f5.png)

[2022-06-07 13:42] #1007 closed

[2022-06-07 14:38] roiLeo commented on #2480
Closing this since it may have been fixed by #2516 & #2574
Feel free to reopen if this happens again

[2022-06-07 14:38] #2480 closed

[2022-06-07 14:40] roiLeo commented on #2388
ref #3038

[2022-06-07 14:45] roiLeo commented on #2541
We currently have `AddressInput` component that will check the address correct format, we may need to modify it a little to check the recipient's account(s)/name

[2022-06-07 14:52] roiLeo commented on #2036
closing this for now since we need it, might be time to check [@nuxt/content](https://content.nuxtjs.org/) for #2692

[2022-06-07 14:52] #2036 closed

[2022-06-07 15:03] roiLeo commented on #2794
On firefox OSX I feel like I'm still logged in even after updates (tested on beta & some preview branch)

[2022-06-07 16:05] vikiival commented on #2541
Do you have something specific on your mind?

[2022-06-07 16:58] prachi00 commented on #3110
yeah but for some strings we do not have translation keys, so it probably wont work right?

[2022-06-08 06:43] roiLeo commented on #2541
I was thinking to display identity from address and maybe add a warning message when no identity is found

[2022-06-08 07:50] roiLeo opened #3113 "Newest List data is frozen"
#### Step to reproduce:
- go to Landing page
- Newest List component & Latest Sales show data from 4 days ago
- when I click on "show more", I have more recent data in the gallery

https://user-images.githubusercontent.com/9987732/172561459-9b072342-b09f-419a-95d2-a40aaecca6bc.mov

[2022-06-08 07:58] roiLeo commented on #3110
@prachi00 I found something strange when switching tabs in `/rmrk/explore`, it fall back to English

https://user-images.githubusercontent.com/9987732/172563536-17b06de8-2ddc-4185-88cb-63d30a9b4b87.mov

[2022-06-08 10:05] vikiival commented on #2541
That's actually smart 🚀

[2022-06-08 11:19] yangwao opened #3114 "Make resolver for hot-dashboard"
Write a resolver for hot-dashboard to load faster in some cases and extended easier for other chains

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/3043#issuecomment-1149786297_

[2022-06-08 11:19] #1386 closed

[2022-06-08 11:22] Jarsen136 commented on #3113
👋

[2022-06-08 11:36] yangwao opened #3115 "Format Balance warning on BSX"
<img width="438" alt="image" src="https://user-images.githubusercontent.com/5887929/172606953-b1038ae5-5171-4c06-89c2-633d06f95024.png">
l

[2022-06-08 11:51] yangwao opened #3116 "Basilisk v0 post-merge fixes"
Hey as there are a lot of post reviews, we would like to split load off @vikiival head and we want to speed up BSX integration.

Feel free to take a peek at PRs conversations in #3060, which weren't resolved.
Help to contribute and coordinate and put label Basilisk or BSX prefix to name for the PRs so we can merge it to `main`.

We will for sure paid-up individual bounties to participants.

Best t

[2022-06-08 11:52] yangwao opened #3117 "Lint error after basilisk merge to fix builds"
Found one thing that needs to be fixed, asap so someone could feel free to take charge of that.

<img width="685" alt="image" src="https://user-images.githubusercontent.com/5887929/172608323-9efe2b72-d535-416f-bf50-ad20b7ea01f8.png">

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/3060#issuecomment-1149814261_

[2022-06-08 11:55] vikiival commented on #3116
👋

[2022-06-08 11:55] vikiival commented on #3116
👋

[2022-06-08 12:01] KngZhi commented on #3117
👋

[2022-06-08 12:02] yangwao opened #3118 "BSX issue with ss58?"
this might be an issue with ss58?
I switched to BSX and showed 2 while the BSX testnet should be 10041 ?

<img width="453" alt="image" src="https://user-images.githubusercontent.com/5887929/172605485-3e35d897-0b03-4856-bb2f-b72adede024e.png">

[2022-06-08 12:03] yangwao opened #3119 "Error on Artists profile on BSX"
Error happened between going to artists profile https://deploy-preview-3060--koda-nuxt.netlify.app/bsx/u/bXjmyHufR6HcjAtKNVTV4UjHj3poQW3d2yYWKDdWe5cGGmg3z?page=1
but seems items are being shown

<img width="550" alt="image" src="https://user-images.githubusercontent.com/5887929/172605984-bdc6af60-93ec-4082-83eb-f77e585f100d.png">

[code]

_Originally posted by @yangwao in https://github.com/kodado

[2022-06-08 12:06] roiLeo commented on #3118
https://github.com/kodadot/nft-gallery/blob/9e767abda32dd00b96d7ac5666f44ca64631702b/utils/config/wallets/BaseDotsamaWallet.ts#L102
&
https://github.com/kodadot/nft-gallery/blob/9e767abda32dd00b96d7ac5666f44ca64631702b/utils/config/wallets/BaseDotsamaWallet.ts#L130

I can try to take care of it

[2022-06-08 12:09] vikiival commented on #3115
Resolved in 88cb50952f03ccd273173ef1372f6757239040a2

[2022-06-08 12:11] vikiival commented on #3118
👍

[2022-06-08 12:12] vikiival commented on #3119
Can't reproduce

[2022-06-08 12:18] #3115 closed

[2022-06-08 12:23] yangwao commented on #3119
you must be logged in. Not logged doesn't happen seems like that

[2022-06-08 12:55] #3118 closed

[2022-06-08 12:58] yangwao opened #3123 "Seems build times take a while on beta"
I've noticed that sometimes builds now last like for 7-10m, on average 7minutes +
On average we've been somewhere between 4-5m.

before
<img width="1190" alt="image" src="https://user-images.githubusercontent.com/5887929/172619410-6c49c078-24fa-40fb-9670-e4d801ee60f6.png">

now
<img width="1179" alt="image" src="https://user-images.githubusercontent.com/5887929/172622256-496624d3-11db-4a0f-bae7-3c

[2022-06-08 13:20] KngZhi commented on #3117
okay, just get to the computer.

[2022-06-08 13:22] yangwao opened #3124 "Nudge user on classic mint on bsx"
Missing dialogue on https://beta.kodadot.xyz/bsx/create to nudge the user to sign the transaction.

I guess we had something like that which says user to sign a transaction on preloader?

[2022-06-08 13:25] yangwao opened #3125 "Push user to NFT tab after finishing minting collection"
Once user mints collection it should be pushed to another tab

<img width="585" alt="image" src="https://user-images.githubusercontent.com/5887929/172627462-e43b7059-113e-41f7-9da7-4f269a555518.png">

[2022-06-08 13:29] KngZhi commented on #3117
Already fixed. Okay to close.

commit 8a6488105d87fa7cad038cfe0ba4beace2c27ed1 by @vikiival
commit 174384e99613f7d2d9b8b1068e5d463af92b26b8 by @roiLeo

[2022-06-08 13:33] yangwao opened #3126 "Reworking profile to be chain agnostic"
- I guess identity is fetched from Kusama? Should we fetch it from Kusama till now ? as BSX doesn't have identity

<img width="814" alt="image" src="https://user-images.githubusercontent.com/5887929/172628963-2762b5c1-9101-4af5-8409-4c37d95692ce.png">

- Basilisk seems doesn't have subscan instance so we can't redirect them to URL so we can hide block explorer links once they will have block explo

[2022-06-08 13:33] roiLeo commented on #3117
Tests still don't pass
<img width="327" alt="Capture d’écran 2022-06-08 à 3 31 51 PM" src="https://user-images.githubusercontent.com/9987732/172629455-fe7cedb9-a95f-4506-afe5-27c0de30b0aa.png">

[2022-06-08 13:33] xtaCrypto commented on #1959
Is this issue still open?

[2022-06-08 13:48] yangwao opened #3127 "unable to retrieve keypair on bsx while minting"
Missing keypair error

while trying to mint https://beta.kodadot.xyz/bsx/create

Seems I have the latest metadata https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Fbasilisk-kodadot.hydration.cloud#/settings/metadata

<img width="623" alt="image" src="https://user-images.githubusercontent.com/5887929/172632842-4932cebd-5753-427b-96f4-be52d1814162.png">

<img width="514" alt="image" src="https://user-im

[2022-06-08 13:56] Jarsen136 commented on #3125
👋

[2022-06-08 14:03] KngZhi commented on #3126
:wave:

[2022-06-08 14:05] xtaCrypto commented on #2944
Hey there are you into this? I would be interested to get involved if you are not😀

[2022-06-08 14:57] KngZhi commented on #3039
:wave:

[2022-06-08 19:11] prachi00 commented on #3110
yeah seems like a weird bug. I'll create a separate bug issue for this one and check it

[2022-06-08 19:12] prachi00 opened #3131 "When switching tabs in `/rmrk/explore`, it falls back to English"
@prachi00 I found something strange when switching tabs in `/rmrk/explore`, it fall back to English

https://user-images.githubusercontent.com/9987732/172563536-17b06de8-2ddc-4185-88cb-63d30a9b4b87.mov

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/issues/3110#issuecomment-1149589287_

[2022-06-08 19:19] prachi00 opened #3132 "Add passion feed enable/disable in landing page"
The problem is that there is nothing to tell me that my home page is different because it is based on my purchases

I don't see it for landing page, would it be possible to add it in user preferences? same stuff for `/rmrk/explore/?tab=GALLERY` passion feed switch

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/issues/3104#issuecomment-1149594397_

[2022-06-08 20:01] prachi00 commented on #3124
@yangwao so which nudge is this? do we have it on rmrk?

[2022-06-09 03:42] prachi00 commented on #3132
@roiLeo should we add a toggle for passion feed in landing page?

[2022-06-09 07:00] roiLeo opened #3134 "Change App primary/secondary color based on the chain"
When I switch to BSX chain I would like to:
1. replace app primary "pink" color  by BSX "green" (#90ff33 or #9eec1b)
2. I would like to see the koda svg logo switch color too

#### Edit:

linking requirement from
- #660
- [ ] change background to snek eye https://github.com/galacticcouncil/Basilisk-assets

[2022-06-09 07:01] prachi00 commented on #3134
I can check this later after more important issues

[2022-06-09 07:04] roiLeo commented on #3132
Sure! or something that tell me this is based on my latest purchases

[2022-06-09 10:21] yangwao commented on #3039
@vikiival can you create child issues for this one?

[2022-06-09 10:48] yangwao opened #3135 "Picture & Metadata doesn't show up after minting"
After minting, even after 3-5 minutes picture seems doesn't show up

EDIT, seems like metadata doesn't appear at all

https://beta.kodadot.xyz/bsx/gallery/1768431620-1?message=congrats

Don't see any error in console or network tab
<img width="1418" alt="image" src="https://user-images.githubusercontent.com/5887929/172829649-3f32542d-ebff-40f7-9fd5-be93e77f384b.png">

On Collection it seems to wor

[2022-06-09 10:50] zhengow commented on #3135
👋

[2022-06-09 12:46] yangwao commented on #3110
please make payment link https://kodadot.xyz/transfer/

[2022-06-09 13:11] vikiival commented on #1638
Closing for #3134

[2022-06-09 13:11] #1638 closed

[2022-06-09 13:15] vikiival commented on #3134
Just for the inspiration, I was playing with this in August 2021.

![photo_2022-06-09 15 14 05](https://user-images.githubusercontent.com/22471030/172855697-ea306541-2366-49af-85d5-1011400f247b.jpeg)

![photo_2022-06-09 15 14 02](https://user-images.githubusercontent.com/22471030/172855717-73f4f13c-0056-403d-bab7-c458f440b5b4.jpeg)

![photo_2022-06-09 15 14 05](https://user-images.githubuserconten

[2022-06-09 13:21] KngZhi commented on #3039
I will check the Gallery Passion filter.

[2022-06-09 14:07] vikiival opened #3136 "Collection tabs invisible in basilisk"
### What happened?

Can't see some tabs in collection

- [ ] History
- [ ] Holders
- [ ] Flippers

Referenced in #3039

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-06-09 14:08] vikiival opened #3137 "Profile tabs invisible in basilisk"
### Profile

- [ ] History
- [ ] Holdings
- [ ] Gains

Referenced in #3039

[2022-06-09 14:55] Jarsen136 commented on #3136
👋

[2022-06-09 15:04] vikiival opened #3138 "Universal cross-chain sorting"
I have a feeling that most of the sorting simply does not work

It would be nice to:
- go through the app
- check what does not work
- fix it :)

I think there is a ton of incompatibility issues between the `subquery` and `subsquid` stuff (feel free to help me with `packages/uniquery`)

@roiLeo reported in #3039 that:

-  Sorting in /bsx/collection/{id} is broken

[2022-06-09 15:46] vikiival commented on #3136
@Jarsen136 I think there is already a PR for this

[2022-06-09 15:50] Jarsen136 commented on #3136
yup, I didn't notice it was a PR : )

[2022-06-09 16:50] KngZhi commented on #3114
https://github.com/kodadot/rubick/pull/96

[2022-06-09 20:04] niklasp commented on #471
were is the faucet located? is this issue about the UI only or about creating a faucet that actualle sends tkens?

[2022-06-09 20:04] niklasp commented on #212
when minting?

[2022-06-09 20:20] niklasp commented on #2369
The first strange fight I experience in DotSama. What is this all about? Money in the end?

[2022-06-09 22:28] niklasp commented on #117
:wave:

[2022-06-10 00:27] niklasp commented on #796
when vue3?

[2022-06-10 00:32] niklasp commented on #153
anyone working on this? could I try? are there color preferences by now and, whats a good place to add the ui dropdown for the color mode? is there something like a settings panel? i am new sorry for asking much.

[2022-06-10 00:33] niklasp commented on #153
:wave:

[2022-06-10 00:34] niklasp commented on #118
👋

[2022-06-10 00:36] zhengow commented on #3135
I think this bug is from backend, compare the following two requests:
1.
![image](https://user-images.githubusercontent.com/38389586/172966975-9a526fa5-9ef8-4c3f-9120-811d6ec660e0.png)

2.
![image](https://user-images.githubusercontent.com/38389586/172966949-64c72df9-543c-4400-8eaa-6654b530e324.png)

The meta is NULL in first page.

[2022-06-10 04:51] #3124 closed

[2022-06-10 10:56] niklasp commented on #118
I researched without a result, then i looked at the corresponding telegram code https://github.com/telegramdesktop/tdesktop/blob/1ebd9562a2c5bd797f06c961e6282307a2e8602d/Telegram/SourceFiles/data/data_web_page.cpp#L131-L139. I would suggest closing this issue, as i did not find any working example. Also the example above does only create one photo in the link preview. Maybe it was working some tim

[2022-06-10 12:25] roiLeo opened #3142 "IdentityPopover component show 0"
#### step to reproduce:
- go to /spotlight
- hover any Creator name
- 0 collected / 0 created / 0 sold

[2022-06-10 12:48] Jarsen136 commented on #3142
👋

[2022-06-10 13:01] roiLeo opened #3143 "Something broken in /explore/Gallery"
- Sorting doesn't work as excepted
- passion feed toggle doesn't change data
- https://beta.kodadot.xyz/rmrk/explore/?page=1&tab=GALLERY&listed=false&sort=B&sort=L&sort=O&sort=C&sort=K&sort=_&sort=N&sort=U&sort=M&sort=B&sort=E&sort=R&sort=_&sort=D&sort=E&sort=S&sort=C&sort=EMOTES_COUNT_DESC when using double sorting

Here is my address If you want to test the query:
`HguGafrfk8nRP9a4tgJf7hLvSSFie8

[2022-06-10 13:09] Jarsen136 commented on #3143
👋

[2022-06-10 18:05] vikiival commented on #796
Recommend to join [Discord](https://discord.gg/kodadot)

[2022-06-11 01:55] Jarsen136 commented on #3143
I can't even open this link : ) The network request failed.

As for https://beta.kodadot.xyz/rmrk/explore/?page=1&tab=GALLERY&listed=false, it behaves normally for me.

[2022-06-11 06:29] prachi00 commented on #3134
ignore

[2022-06-11 08:26] zhengow opened #3148 "PASSION FEED in GALLERY"
### What happened?

When i choose `passion feed`, there is no nft to show.
I think it will confuse the explorers.

### Please reproduce in steps

Go to https://kodadot.xyz/rmrk/explore/?tab=GALLERY&page=1 Click on `Passion Feed` See error

### Expected Behavior

I've expected that I can see nfts

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

_No response_

[2022-06-11 10:50] yangwao opened #3149 "Traits table seems broken"
- https://github.com/kodadot/nft-gallery/pull/3141
- https://deploy-preview-3141--koda-nuxt.netlify.app/bsx/gallery/1768431620-2?page=1

<img width="696" alt="image" src="https://user-images.githubusercontent.com/5887929/173184712-d642be60-3b0e-4907-bf38-b1797618d21b.png">

[2022-06-11 10:59] #3135 closed

[2022-06-11 11:00] Jarsen136 commented on #3149
👋

[2022-06-11 13:20] vikiival commented on #3134
Is this like a bot hack? 🤖
<img width="929" alt="Screenshot 2022-06-11 at 15 20 13" src="https://user-images.githubusercontent.com/22471030/173189724-edc6eb34-4f55-4e27-a86a-e70715bcc358.png">

[2022-06-11 13:23] vikiival commented on #3113
Or maybe nothing happened on the chain?

[2022-06-11 13:24] vikiival commented on #212
Can u be more descriptive please 🥺 ?

[2022-06-11 13:30] zhengow commented on #212
Is this issue talking about giving user hint that the symbol name he or she want to mint is occupied?

[2022-06-11 13:31] Jarsen136 commented on #3113
Emm, I do not think so. It's been more than a week. 👀

[2022-06-11 14:19] niklasp commented on #212
@zhengow 👈 I did not know at which point of the user interactions this should be implemented so I wanted to know if it was in the mint process

[2022-06-11 14:19] niklasp commented on #118
@vikiival @roiLeo can you verify and close this?

[2022-06-11 15:27] niklasp commented on #1477
where can i find that document?

[2022-06-11 15:45] vikiival commented on #118
It does not work :)

![IMG_2750](https://user-images.githubusercontent.com/22471030/173194932-e421dc21-4069-4ac1-a67d-1ef6ad91fa96.PNG)

[2022-06-11 15:49] vikiival commented on #212
It was already implemented here 1717549c2138ed1e55c075ed9766ca3ebc9aca33

[2022-06-11 16:15] #3149 closed

[2022-06-11 18:45] vikiival commented on #3113
Then best thing is to verify the queries with 004 vs 006 or subsquid vs subquery

[2022-06-11 21:37] niklasp commented on #3143
possible duplicate #3148

[2022-06-11 21:41] niklasp commented on #3134
also the huge media loading on nft pages would need to change color
<img width="908" alt="Bildschirmfoto 2022-06-11 um 23 41 00" src="https://user-images.githubusercontent.com/1685139/173205799-f68bb871-24ba-4d2e-8c0f-525fa4f6edd5.png">

[2022-06-11 21:45] niklasp commented on #2517
@newraina any progress, i am also thinking to tackle this one

[2022-06-11 21:51] niklasp commented on #1766
i am interested, what should i implement now? For me it looks like this (telegram)
<img width="423" alt="Bildschirmfoto 2022-06-11 um 23 50 34" src="https://user-images.githubusercontent.com/1685139/173206059-dd1e5a8e-1691-4640-b5e5-4d296170cfa7.png">

[2022-06-12 01:54] Jarsen136 commented on #3113
That's a good idea. I tested this query on 004 and it works well, so there must be something wrong with 006.

004 result:
<img width="1533" alt="image" src="https://user-images.githubusercontent.com/31397967/173210852-d67699f7-1214-49db-ba43-659c9ccaead2.png">

[2022-06-12 03:00] Jarsen136 commented on #3143
No, they are not the same problem...

[2022-06-12 04:56] zhengow commented on #3109
👋

[2022-06-12 04:59] zhengow commented on #3002
Is this issue solved already?

[2022-06-12 12:54] niklasp commented on #118
Oh so I understand that now it is about a Single image for a collection. Was referring to multiple which is not possible. But will reassign myself and work on this soon

[2022-06-12 13:33] KngZhi commented on #3143
hmm, It's actually changed, the number of total NFTs showed that. After turning on the passion feed, the total from 30839 to 168

[2022-06-13 06:20] roiLeo commented on #3113
Could this be cache related?

[2022-06-13 06:45] roiLeo commented on #3142
`Error: Cannot find module './subsquid/general/nftStatsByIssuer.graphql'` on bsx

[2022-06-13 08:42] vikiival commented on #3113
Solved in kodadot/rubick#98

<img width="1025" alt="Screenshot 2022-06-13 at 10 40 21" src="https://user-images.githubusercontent.com/22471030/173314605-1cf1bc35-89d3-48ef-bac1-6eafa48469cb.png">

Problem was that kodadot/rubick#87 introduced average as bigint and App was unable to recover.

Try it yourself
[code]

[2022-06-13 08:42] #3113 closed

[2022-06-13 08:44] vikiival commented on #118
It would be better to find something with `p1` or `p2` label.

[2022-06-13 09:26] niklasp commented on #3109
👋

[2022-06-13 09:30] niklasp commented on #3002
👋

[2022-06-13 09:33] niklasp commented on #3002
I suggest two options:
1. just change cursor on all sortable columns to pointer
2. 1 + hide dashed style but keep tooltips.

[2022-06-13 09:36] niklasp commented on #2893
any update @aito-hideki would like to adress it otherwise

[2022-06-13 09:38] niklasp commented on #2874
Updates on this?

[2022-06-13 09:45] niklasp commented on #2721
I would also love that tutorial because right now I am avoiding all SubSquid tagged issues

[2022-06-13 09:51] niklasp commented on #2514
Is there a recording of this, I am interested as well, or could there be a new workshop on that?

[2022-06-13 09:57] vikiival commented on #2514
https://github.com/kodadot/nft-gallery/issues/2715#issuecomment-1114708124

[2022-06-13 10:45] thea-exe commented on #2721
Hey! There's a PR looking to be approved for this. For now, you can reference https://youtu.be/7eQu_KS1TJk :)

[2022-06-13 12:44] Jarsen136 commented on #3142
👋

[2022-06-13 16:59] zhengow commented on #3109
👋

[2022-06-14 06:13] jkdizajn commented on #2874
yes, it's okay now
thx <3

[2022-06-14 07:59] niklasp commented on #2216
@yangwao are you thinking about an overlay like the cookie notice? We could toggle that overlay on keypress "i"  😀 e.g. or have some trigger to show it. E.g. after the 2nd wallet connect.

I imagine highlighting available shortcuts based on the view.

[2022-06-14 08:03] niklasp commented on #1489
As a new member already loving the project I would very much enjoy that article

[2022-06-14 08:04] niklasp commented on #1433
Can this be closed?

[2022-06-14 11:16] petersopko commented on #1477
current version [here](https://github.com/kodadot/nft-gallery/blob/main/LEADERBOARD.md) :)

[2022-06-14 11:19] #3109 closed

[2022-06-14 11:48] yangwao opened #3156 "When creating collection on BSX too low priority tx?"
Seems like no errors in logs, nothing red in the network.

To reproduce
Been minting the collection on BSX and the preloader just disappeared.

<img width="877" alt="image" src="https://user-images.githubusercontent.com/5887929/173569353-2bdd7389-de95-413b-abc7-6a151cf67db2.png">

On the second try

<img width="831" alt="image" src="https://user-images.githubusercontent.com/5887929/173569746-fd18b

[2022-06-14 11:54] niklasp opened #3157 "Images are cropped on Homepage and Collection / NFT explore"
### What happened?

- When you view the homepage https://kodadot.xyz/ on large screens, the carousel component shows cropped images
- When viewing https://kodadot.xyz/rmrk/explore collection images and nft images are also cropped.

### Please reproduce in steps

- Go to https://kodadot.xyz/ on a device > 1408px
- Go to https://kodadot.xyz/rmrk/explore on any device width and find non square images

[2022-06-14 12:53] yangwao commented on #3156
Reset of chain and reindexing in progress tho

[2022-06-14 14:09] Spatlani commented on #3002
I can pick this up, but what do we need to unify it? Just the suggestions above or anything else?

[2022-06-14 14:12] petersopko commented on #3002
As mentioned above, this was done by design and can be closed for now.

[2022-06-14 17:32] kkukelka commented on #3157
👋

[2022-06-14 18:14] niklasp commented on #3157
But it is a good start to discuss what it should look like

[2022-06-14 19:01] niklasp commented on #3157
**Suggestion 1 - blurred background similar to singular**

https://user-images.githubusercontent.com/1685139/173667345-fcfaeb04-3d75-44d2-9684-d94d2e9f9809.mp4

[2022-06-14 19:06] niklasp commented on #3157
Suggestion 2 - bordered NFTs / Collections
<img width="1440" alt="Bildschirmfoto 2022-06-14 um 21 05 05" src="https://user-images.githubusercontent.com/1685139/173669003-8576d07b-17aa-41f8-ba0f-eb8aae876e83.png">

[2022-06-14 19:35] niklasp commented on #3157
**Suggestion 3 subtile modern**
<img width="1419" alt="Bildschirmfoto 2022-06-14 um 21 34 02" src="https://user-images.githubusercontent.com/1685139/173673760-0e60e516-274f-47ab-a187-eda359c17006.png">

[2022-06-15 05:01] kkukelka commented on #3157
this one actually looks pretty solid. @yangwao what do you think?

[2022-06-15 05:13] #3131 closed

[2022-06-15 06:19] vikiival commented on #3157
the borders are nice not sure about uncropping the image, but why not

[2022-06-15 07:11] vikiival commented on #3156
<img width="512" alt="Screenshot 2022-06-15 at 09 10 48" src="https://user-images.githubusercontent.com/22471030/173765185-e2ba0045-15be-4bc6-b57b-2c22a1966afb.png">

-1 sir 🫡

[2022-06-15 09:07] #3103 closed

[2022-06-15 09:15] niklasp commented on #3157
See the first collection view screenshot, if you have text on an NFT you do not see the whole text, also for Photography it is bad to have crops on 3:2 format. And imagine banners, you will lose lots of information on all of those.

[2022-06-15 10:57] #3143 closed

[2022-06-15 13:26] KngZhi commented on #3148
Passion feed means the list of issuers from NFTs you already bought.

So, in this case, if you haven't bought any NFT, then yes, it should be empty. 😄

[2022-06-15 13:55] niklasp commented on #3148
it should rather show a link to buy some

[2022-06-15 15:42] RieserStern commented on #3157
I'm interested

[2022-06-15 16:07] lluuk commented on #349
👋

[2022-06-15 16:42] prachi00 commented on #3148
This would have been solved with #3103

[2022-06-15 17:47] niklasp commented on #3157
I have the code already just waiting for more community feedback @roiLeo @yangwao ?

[2022-06-16 06:40] roiLeo commented on #3157
For collection and nfts images :
- suggestion 1: singular
- suggestion 2: we already remove pink border on card item since it was a bit noisy
- suggestion 3: I don't think it fits with the overall design

I think that staying the way we are is the best way.

Regarding Curated List, images should be replaced by collection banner so we don't have this problem

[2022-06-16 09:26] roiLeo opened #3160 "IdentityPopover Last bought"
It show "Last bought 4month ago" when I bought one 14 days ago

![Capture d’écran 2022-06-16 à 10 08 29 AM](https://user-images.githubusercontent.com/9987732/174023867-e4638f81-2d35-4761-964d-a666f546f6cd.png)
![Capture d’écran 2022-06-16 à 10 08 47 AM](https://user-images.githubusercontent.com/9987732/174023876-c8aa1c4a-ef1d-444d-be4a-d5f65613c420.png)

_Originally posted by @roiLeo in https:

[2022-06-16 10:25] newraina commented on #2517
@niklasp still working on it in my free time. This issue can have more than one winner, so you can take it at the same time

[2022-06-16 14:33] yangwao opened #3161 "Moonsama integration v0"
![image](https://user-images.githubusercontent.com/5887929/174094046-b4f46e6c-1490-4323-9c4b-f5cb8a972e35.png)

We would like softly introduce EVM compatibility to KodaDot and I guess this is a fair opportunity to extend KodaDot on MoonRiver.
Chain selector could stay for "MoonSama" in this case as thinking of broad support of rest of EVM would require a fair amount of time than we have for this s

[2022-06-16 14:43] yangwao opened #3162 "Adjust Basilisk to Basilisk (testnet) to chain selector"
To avoid any confusion people in production, let's rename there Basilisk to "Basilisk (testnet)"

<img width="219" alt="image" src="https://user-images.githubusercontent.com/5887929/174095552-595b0d04-90c1-4981-927f-2c7e9fc20261.png">

[2022-06-16 14:55] yangwao commented on #3161
true, this one could be tricky. SubWallet and Talisman should support it, so this would introduce some compatibility, let me edit issue

[2022-06-16 14:55] zhengow commented on #3162
👋

[2022-06-16 15:57] yangwao opened #3163 "Transfer doesn't work on Basilisk"
Tried transfer Basilisk to https://beta.kodadot.xyz/transfer/?target=HsFee3QAwYrE4oiYGTjQvXQYCaxN5BTLKgJRwVNPZoYzxKE&usdamount=5063000000

<img width="1343" alt="image" src="https://user-images.githubusercontent.com/5887929/174113947-6e7d7f62-d935-4482-9895-6bca0a1924e3.png">

[2022-06-16 16:07] vikiival commented on #2517
Hey if you will be missing any query for uniquery please open an issue.

https://github.com/kodadot/packages

[2022-06-16 16:45] #3126 closed

[2022-06-16 17:08] zhengow commented on #3163
👋

[2022-06-17 09:27] roiLeo opened #3165 "SearchSortDropdown [Vue warn]: Invalid default value for prop "value""
#### Step to reproduce:
- go to landing
- switch to bsx chain
- error in console: `[Vue warn]: Invalid default value for prop "value": Props with type Object/Array must use a factory function to return the default value.`

found in

---> <SearchSortDropdown> at components/rmrk/Gallery/Search/SearchSortDropdown.vue

<img width="754" alt="Capture d’écran 2022-06-17 à 11 26 57 AM" src="https://user

[2022-06-17 09:35] Jarsen136 commented on #3165
👋

[2022-06-17 11:15] vikiival commented on #3039
https://github.com/galacticcouncil/amsterdot-bounties-2022/issues/3

- [ ] Create a class
Creates a class, (i.e. collection) of tokens that can all be described by certain set of common properties.

- [ ] Mint
Mints a token that is unique within a class.

- [ ]  Transfer
Transfers ownership of a token to another wallet.

- [ ] Burn
Destroys a previously minted token.

- [ ] Destroy a class
Destroy

[2022-06-17 12:02] yangwao commented on #3162
@zhengow seems doesn't work on https://beta.kodadot.xyz after merging #3164 ?

<img width="274" alt="image" src="https://user-images.githubusercontent.com/5887929/174294368-6c8b09d7-aeeb-4c8d-8e88-7c57e6fa2f1e.png">

https://github.com/kodadot/nft-gallery/pull/3164#issuecomment-1158711796

[2022-06-17 12:03] zhengow commented on #3162
let me see later

发自我的iPhone

------------------ Original ------------------
From: Matej yangwao ***@***.***&gt;
Date: Fri,Jun 17,2022 8:02 PM
To: kodadot/nft-gallery ***@***.***&gt;
Cc: zhengow ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [kodadot/nft-gallery] Adjust Basilisk to Basilisk (testnet) tochain selector (Issue #3162)

[2022-06-17 13:01] roiLeo opened #3167 "Compiled with 5 warnings"
Don't know if it's only on my setup but when I run the project locally I got 5 warnings

<img width="582" alt="Capture d’écran 2022-06-17 à 2 59 34 PM" src="https://user-images.githubusercontent.com/9987732/174303357-94336b7e-2a89-4de9-9408-a93a1eed8f8c.png">

let me know if it's reproductible

[2022-06-17 13:41] yangwao commented on #471
The faucet doesn't exist, so yeah issue is about some best serverless bot to drip a minimal amount to mint.
Best with some limits like account needs to have like 100 followers, works once per week &c

I guess since then the idea has evolved, but it's still valid when I review it, would be nice to have this one to remove barriers to someone acquiring KSM (or other native assets of a particular para

[2022-06-17 13:47] yangwao commented on #3110
is this solved? if so, let's close it :)

[2022-06-17 13:47] yangwao commented on #3127
Updating the browser magically helped doesn't happen again.
Closing for now.

[2022-06-17 13:47] #3127 closed

[2022-06-17 13:48] cryptodamsky opened #3168 "Subsquid / GraphQL crashing randomly"
### What happened?

When i revisit my profile the collections etc don’t load

### Please reproduce in steps

/

### Expected Behavior

/

### What browsers are you seeing the problem on?

Firefox

### Are you logged in?

Yes

### At which address did you encounter bug?

kodadot.xyz

### Screenshots

Paste from your clipboard or upload screenshots/video

https://user-images.githubusercontent.com/92

[2022-06-17 13:51] yangwao commented on #1672
Hey, various numbers, like burn rate, leaderboard numbers, PRs, comments, issues activity, bounties paid &c, this is a bit issue where you need to be creative :)

Hence I postponed the last quartal reports I have somewhere along this metrics would be nice, but hence it's **p5**, there are better issues to solve right now :)

You can choose to pick this one on your own or check others tho
You are w

[2022-06-17 13:58] yangwao commented on #3162
it's on https://beta.kodadot.xyz in incognito but doesn't update in previous instance tho, whatever, hopefully for new ones doesn't break anything in production

<img width="275" alt="image" src="https://user-images.githubusercontent.com/5887929/174312944-7ac164ac-f0fb-4e07-a47f-205074fe4ad0.png">

[2022-06-17 13:58] #3162 closed

[2022-06-17 14:00] cryptodamsky opened #3169 "Not possible to send nfts - "Unable to Retrieve keypair""
### What happened?

Wanted to send nfts, got this pop-up

The issue is, i used to solve this problem by going to polkadot js apps and update metadata, but its updated already.

### Please reproduce in steps

/

### Expected Behavior

/

### What browsers are you seeing the problem on?

Firefox

### Are you logged in?

Yes

### At which address did you encounter bug?

kodadot.xyz

### Screenshots

[2022-06-17 14:06] yangwao commented on #3169
have you tried changing different RPC endpoints at https://kodadot.xyz/settings ?

<img width="224" alt="image" src="https://user-images.githubusercontent.com/5887929/174314437-a6dc8c56-5f6b-4f7a-a76d-aee8199906ff.png">

[2022-06-17 14:15] roiLeo commented on #3167
Alright, thank you for this clarification. I'm closing this since I might be the only one to experiment these warnings.

[2022-06-17 14:15] #3167 closed

[2022-06-17 14:40] cryptodamsky commented on #3169
That worked, but this is not long term solution? Cannot we automatize this in the background so end user doesn’t have to care? Or we cannot change user’s endpoints?

[2022-06-17 15:11] yangwao opened #3170 "Load balance RPC endpoint for user"
To avoid the particular end-users issues when a particular RPC provider doesn't work, let's add some load balancing checks in round robin fashion where it can try out other endpoints if the default fails.

_Originally posted by @cryptodamsky in https://github.com/kodadot/nft-gallery/issues/3169#issuecomment-1158939393_

[2022-06-17 15:16] yangwao opened #3171 "Minting on Basilisk yield CORS error"
Seems can't mint 🤔

<img width="671" alt="image" src="https://user-images.githubusercontent.com/5887929/174327390-1d11589a-3ef1-45a6-a65f-30063d161384.png">

[2022-06-17 15:21] vikiival commented on #3171
This is because indexer is down

[2022-06-17 15:22] vikiival commented on #3171
But create collection should not be dependable on indexer 🤔

[2022-06-17 15:23] roiLeo commented on #3171
can we postpone prod release? I find bsx stuff a bit whacky

[2022-06-17 15:23] yangwao commented on #3171
can someone wake up indexer?

<img src="https://media1.giphy.com/media/7pU22QtrGLbAk/giphy-downsized-medium.gif"/>

[2022-06-17 15:23] yangwao commented on #3171
been looking for this word

[2022-06-17 15:24] vikiival commented on #3171
jj but still we need to do a working release until 20.06 to be eligible for the bounty

[2022-06-17 15:30] yangwao commented on #3171
sounds like 72 hours and counting

<img src="https://media0.giphy.com/media/xT1XGLSb5E1VjIUw4E/giphy.gif"/>

[2022-06-17 16:44] zhengow commented on #3162
Right, it's related to cache something. It will not break anything in production because the only change is `basilisk text`

[2022-06-17 17:14] zhengow commented on #3170
👋

[2022-06-17 17:16] prachi00 commented on #3110
yeah its solved

[2022-06-17 18:11] #3165 closed

[2022-06-17 22:10] prachi00 commented on #3160
👋

[2022-06-18 03:57] prachi00 opened #3174 "All urls are getting useless params"
### What happened?

A bug happened!
/?page=1&sort=BLOCK_NUMBER_DESC this is being appended in all the urls
https://www.loom.com/share/7d9f407841714a8e9b54adddfc199d43

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

_No response_

### At which address

[2022-06-18 04:27] prachi00 commented on #3174
seems like it got introduced after #3172

[2022-06-18 06:38] Jarsen136 commented on #3174
Oh, I will check it.

[2022-06-18 06:38] Jarsen136 commented on #3174
👋

[2022-06-18 10:44] yangwao opened #3176 "Spin up EVM SubSquid"
To start head start integrating MoonSama, we would need to have EVM running there with particular contracts there
### Ref
- #3161

[2022-06-18 10:46] yangwao opened #3177 "Add support for Moonsama to endpoint chain selector"
### Ref
- #3176
- #3161

[2022-06-18 10:48] yangwao opened #3178 "Show EVM based Moonsama NFTs in explorer"
Add basic fetching metadata and NFTs to be shown in explorer

### Ref
- #3161

[2022-06-18 10:50] yangwao opened #3179 "Add support showing current and historical floor price to chart"
We would need to show data points over EVM-based NFTs items.
This issue should add supporting data points to for collections charts

### Ref
- #3161

[2022-06-18 10:52] yangwao opened #3180 "Add support to see holders chart for Moonsama based collections"
On the holders chart in collections, we would like to see holders' addresses for Moonsama based contracts

### Ref
- #3180

[2022-06-18 10:54] yangwao opened #3181 "Sort by rarity in explorer"
NFTs has traits and we would need to introduce a component where user can pick traits to sort particular NFTS on Moonsama right now

Might be good to split this issue into some smaller issues like
- like adding a component picker
- query

### Ref
- #3161

[2022-06-18 10:55] yangwao opened #3182 "In user profile adjust showing holdings for Moonsama"
Adjust to show data for Moonsama data points

### Ref
- #3161

[2022-06-18 10:57] yangwao opened #3183 "Add support for History chart for collection on Moonsama"
In collections, we have a history chart table where users can see activity, would be nice to install their support for Moonsama

### Ref
- #3161

[2022-06-18 10:58] vikiival commented on #3176
kodadot/click ;D

[2022-06-18 11:05] petersopko commented on #21
item details have already actions at the bottom, current design satisfies the requirements here

[2022-06-18 11:05] #21 closed

[2022-06-18 12:24] petersopko commented on #2881
@yangwao I see this related to basilisk, is this basilisk specific requirement? seems to me like more general issue

[2022-06-18 13:37] petersopko commented on #3116
all of the referenced issues which are not done are linked, closing this one for duplicity
- https://github.com/kodadot/nft-gallery/issues/660

[2022-06-18 13:37] #3116 closed

[2022-06-18 20:03] zhengow commented on #3177
https://github.com/subsquid/squid/blob/master/test/moonsama-erc721/.env
Hey, is this node URL for moonsama?
Need I help to PR for this [repo](https://github.com/kodadot/packages/blob/main/vuex-options/src/defaults/endpoints.ts)?
@vikiival

[2022-06-19 09:27] yangwao commented on #2881
yes, offers and bids are basilisk specific.

[2022-06-19 09:31] yangwao commented on #3171
Meanwhile, there is a new bsx endpoint https://github.com/kodadot/nft-gallery/commit/ed3e26b72b16aef78ca433ef5f6fadc282ed5249

can someone try?

[2022-06-19 09:39] yangwao commented on #3168
Seems like CORS issue on SubSquid?
What's your URL to debug?
Can you still replicate it? Want to know if the error still occurs.
Is it happening on https://beta.kodadot.xyz as well?

WFM https://kodadot.xyz/rmrk/u/CuHWHNcBt3ASMVSJmcJyiBWGxxiWLyjYoYbGjfhL4ovoeSd

<img width="419" alt="image" src="https://user-images.githubusercontent.com/5887929/174474735-068f2950-61a0-4b8d-a5ad-81ed3d20bf46.png">

[2022-06-19 09:48] #3142 closed

[2022-06-19 09:52] yangwao commented on #3169
Seems related, but fixed automatically, when I updated Chrome lol

- #3127
- #2607

[2022-06-19 09:58] #3174 closed

[2022-06-19 09:59] vikiival commented on #3171
@petersopko is minting imo

[2022-06-19 10:00] yangwao commented on #3163
Seems like typegen needs to be made?

[2022-06-19 10:02] vikiival commented on #3177
Imo this should have been issue for kodadot/packages

Currently it's a draft

For vuex-options
- [ ] add new prefix (@yangwao can help to pickup)
- [ ] add new endpoint for moonriver
- [ ] add new indexer (feel free to leave there http://localhost:4350/graphql as a placeholder)

[2022-06-19 10:13] vikiival commented on #3171
Looks like it's working again.

<img width="1680" alt="Screenshot 2022-06-19 at 12 11 51" src="https://user-images.githubusercontent.com/22471030/174476115-379b0784-afb4-4d89-99f0-277e8899689d.png">

Once peter mints we can close

[2022-06-19 10:13] yangwao commented on #3050
per NFT make sense when it was acquired and per address makes sense when the last activity has happened on collection. Maybe we should add there something like - "the last activity of address" on the address line?

Or change Date to Activity?

[2022-06-19 10:15] yangwao commented on #3019
maybe fixed in one of these?

- #2857
- #3118
- #3121
- #2998

[2022-06-19 10:19] yangwao commented on #2960
Closed in #2969

[2022-06-19 10:19] #2960 closed

[2022-06-19 10:20] yangwao commented on #2715
@thea-exe  is linked somewhere in docs or PR?
IF so, let's close this one :)

[2022-06-19 10:21] yangwao commented on #2671
@preschian any progress on this?:)

[2022-06-19 10:26] petersopko commented on #3171
minting wfm on both nfts and collections

[2022-06-19 10:26] #3171 closed

[2022-06-19 10:29] yangwao commented on #3177
"Moonsama" is would be ok

I guess waiting for #3176 ?

[2022-06-19 10:31] vikiival opened #3186 "Balance Input should be handled as BigInt"
### What happened?

the problem is that Balance input uses numbers
and then the number is multiplied by `value * 10 ** decimals` and it simply fails on numbers bigger than 9k KSM ([MAX_SAFE_INTEGER](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER))

### Please reproduce in steps

- [ ] go to basilisk
- [ ] send 10k BSX
- [ ] Will see err

##

[2022-06-19 10:31] vikiival commented on #3163
Found a root cause.

Closing in favour of #3186

[2022-06-19 10:31] #3163 closed

[2022-06-19 10:34] petersopko opened #3187 "wrong redirect to rmrk"
clicking on collection in profile detail redirects to rmrk collection (should be bsx)
![image](https://user-images.githubusercontent.com/73316633/174476704-916be171-376d-4611-9492-6804aa67eefe.png)
![image](https://user-images.githubusercontent.com/73316633/174476749-7e649115-5aa7-4fb3-adf4-4df50892edda.png)

[2022-06-19 10:35] vikiival commented on #3019
This is marked as enhancment, not a bug

[2022-06-19 10:36] vikiival commented on #3177
`Moonriver !== moonsama`

[2022-06-19 10:38] yangwao commented on #3171
It Seems collections show something, but in an explorer-like gallery, I see nothing?

<img width="1261" alt="image" src="https://user-images.githubusercontent.com/5887929/174476882-a94ff1ad-ddb6-4855-9909-bd5ea8e7ae96.png">

[2022-06-19 10:38] yangwao opened #3188 "Explorer on BSX gallery don't show any items"
It Seems collections show something, but in an explorer-like gallery, I see nothing?

<img width="1261" alt="image" src="https://user-images.githubusercontent.com/5887929/174476882-a94ff1ad-ddb6-4855-9909-bd5ea8e7ae96.png">

Collections seems ok

<img width="1002" alt="image" src="https://user-images.githubusercontent.com/5887929/174476956-9ceda1db-651e-4421-ac82-c8806f8f4399.png">

_Originally po

[2022-06-19 10:40] #3136 closed

[2022-06-19 10:40] #3137 closed

[2022-06-19 10:47] yangwao opened #3189 "Can't list NFT on BSX"
After entering price 99000BSX can't list it.

Seems type issue?

https://beta.kodadot.xyz/bsx/gallery/855280514-1

<img width="1247" alt="image" src="https://user-images.githubusercontent.com/5887929/174477215-e5b00069-9b89-4531-bd6e-2fc9d16e1eba.png">

[2022-06-19 10:56] yangwao opened #3190 "After minting collection on BSX doesn't show up proper name"
Seems we don't store metadata of collection?

<img width="533" alt="image" src="https://user-images.githubusercontent.com/5887929/174477540-06ab4187-c0dc-4b75-b655-7df29dd09f25.png">

Seems can replicate

<img width="484" alt="image" src="https://user-images.githubusercontent.com/5887929/174477785-0220633b-9095-4a97-95e9-d5a6fae0da63.png">

Seems metadata doesn't fetch either

<img width="607" alt

[2022-06-19 10:59] yangwao opened #3191 "Can't add NFT to collection on BSX"
Seems minting of collections somehow works, but minting of NFT is not possible?

Apparently, #3171 @petersopko somehow managed to mint

<img width="639" alt="image" src="https://user-images.githubusercontent.com/5887929/174477623-4416d3a1-b7a0-4053-96fc-03b619e96b43.png">

[2022-06-19 11:05] yangwao commented on #3187
@vikiival why blocked?

[2022-06-19 11:06] vikiival commented on #3191
:) #3186

[2022-06-19 11:06] #3191 closed

[2022-06-19 11:06] petersopko commented on #3187
it's fixed on branch, viki blocked so nobody takes it

[2022-06-19 11:34] vikiival commented on #3190
<img width="452" alt="Screenshot 2022-06-19 at 13 33 27" src="https://user-images.githubusercontent.com/22471030/174478842-549450f5-14e6-4359-804a-fe5e00920a5e.png">

[2022-06-19 11:36] vikiival commented on #3190
this will be fixed by:
- [ ] simple impl of Promise race in minimark
- [ ] integrated into KodaDot

[2022-06-19 11:38] vikiival commented on #3189
Still the same err as #3186
:)

[2022-06-19 11:39] vikiival commented on #3189
![Screenshot 2022-06-19 at 13 39 47](https://user-images.githubusercontent.com/22471030/174479023-b0678cae-b0f0-4490-8fc5-9fbafbad869a.png)

[2022-06-19 11:41] yangwao opened #3192 "Unify landing pages accross the chains"
When I click on the landing popular collections which shows RMRK NFTs, it lands me on the BSX prefix of item.
I guess this should not happen?
Either
- redirect to RMRK item if we want to have it there
- or
- show BSX popular collections?

https://user-images.githubusercontent.com/5887929/174479000-6a83ba46-482c-402c-a34c-b75668c5ec15.mov

[2022-06-19 11:47] vikiival commented on #3188
Fixed along with @petersopko

[2022-06-19 11:48] vikiival commented on #3192
The goal is to have one

ref #3047

[2022-06-19 12:24] cryptodamsky commented on #3168
Apparently it works now on both beta and kodadot.xyz

Interesting 🗡️

Anyway, when i posted this, it was after replication, so not one time thing tho. Let’s see if it comes back

[2022-06-19 12:26] yangwao commented on #3176
Time to drop url when it will be up?

[2022-06-19 12:30] yangwao commented on #3177
so we need one RPC for MoonRiver and one for querying MoonSama?

But for RO version #3176 should be enough or for what we need MoonRiver RPC now?
I guess for MoonRiver RPC we can use `wss://wss.api.moonriver.moonbeam.network` ?

[2022-06-19 12:34] yangwao commented on #3169
Fixed in
- #3170
- #3173

[2022-06-19 12:34] #3169 closed

[2022-06-19 14:17] thea-exe commented on #2715
Yep in PR :) let's close!

[2022-06-19 14:35] vikiival commented on #3177
Every chain/impl requires
- prefix
- indexer
- RPC Node

We need this URL `wss://wss.api.moonriver.moonbeam.network` registered as RPC node for moonsama

[2022-06-19 14:36] vikiival commented on #2715
ref kodadot/docs#57

[2022-06-19 14:39] yangwao opened #3195 "Seems bug in trait table in bsx?"
https://beta.kodadot.xyz/bsx/gallery/235937109-1?page=1

<img width="486" alt="image" src="https://user-images.githubusercontent.com/5887929/174486400-11124e40-9646-45e2-b11a-0c707c0fff9d.png">

https://beta.kodadot.xyz/bsx/gallery/235937109-3?page=1
<img width="500" alt="image" src="https://user-images.githubusercontent.com/5887929/174486388-e12c3399-2cce-412c-b459-e517af260b7a.png">

[2022-06-19 14:41] #3186 closed

[2022-06-19 14:41] #3187 closed

[2022-06-19 14:41] #3188 closed

[2022-06-19 14:50] Jarsen136 commented on #3195
👋

[2022-06-19 15:18] vikiival commented on #3190
LALA:
61fb098f3e4321866b6e792a41aa827e4d5ef1b1

[2022-06-19 15:21] vikiival commented on #3195
:D can you be more descriptive sir?

[2022-06-19 15:23] Jarsen136 commented on #3195
This part is strange.
<img width="480" alt="image" src="https://user-images.githubusercontent.com/31397967/174488419-5978e572-1906-48f7-8a89-533261662ba5.png">

[2022-06-19 15:31] yangwao opened #3197 "Sometimes I don't see collections under my account"
Seems sometimes I don't see any collections at all under my account on basilisk, no errors in the console

<img width="521" alt="image" src="https://user-images.githubusercontent.com/5887929/174488688-a7857340-cb91-46ed-97fb-7ea3efb0f8a3.png">

[2022-06-19 15:34] #3125 closed

[2022-06-19 15:42] petersopko commented on #3189
fixed here:
- https://github.com/kodadot/nft-gallery/pull/3194

[2022-06-19 15:42] #3189 closed

[2022-06-19 15:49] yangwao opened #3198 "Explorer on basilisk shows random nfts?"
Is this already fixed or not @vikiival ?

https://beta.kodadot.xyz/bsx/explore?tab=GALLERY&page=1

<img width="1630" alt="image" src="https://user-images.githubusercontent.com/5887929/174489476-80fd3220-a1f1-43e4-9ae1-67c3099430b2.png">

[2022-06-19 15:51] yangwao opened #3199 "Missing links to NFTs in Collection/holders"
Seems like the under holder missing a link to NFT?

<img width="983" alt="image" src="https://user-images.githubusercontent.com/5887929/174489549-9e25351c-9ee6-4338-98a1-03037d3c7706.png">

[2022-06-19 15:53] yangwao opened #3200 "Collection History charts points to RMRK"
Seems the history component table needs to be chain agnostic and point to BSX when the user is selected on BSX

<img width="1020" alt="image" src="https://user-images.githubusercontent.com/5887929/174489582-a5fa3b75-ecbc-4135-b1da-ba09965c8d5d.png">

[2022-06-19 15:54] yangwao commented on #3190
let's do PR

[2022-06-19 15:54] zhengow commented on #3177
[kodadot/packages#23](https://github.com/kodadot/packages/pull/23#issue-1276099698)

`
{
    info: 'moonriver',
    text: 'MoonRiver(Moonbeam)',
    value: 'wss://wss.api.moonriver.moonbeam.network'
  }
`
@yangwao How about this prefix?

[2022-06-19 15:56] petersopko commented on #3197
I've tried to reproduce, it happens for me when switching between parachains, when wallet gets stucked (trying to load KSM native collections on BSX etc.)

[2022-06-19 15:57] yangwao commented on #3177
yup, let's go, works! :)

[2022-06-19 15:58] vikiival commented on #3190
#3201

[2022-06-19 16:05] Jarsen136 commented on #3199
👋

[2022-06-19 16:10] petersopko opened #3202 "Disable make offer button after offer was made"
User currently cannot make offer on same NFT twice, him trying to do so results in error (offer already made).
I'd suggest disabling the button and adding tooltip, so user won't be tempted to try offering again.
![image](https://user-images.githubusercontent.com/73316633/174490172-1158736e-5893-4350-9e53-e9539c7cc8d2.png)

[2022-06-19 16:12] petersopko opened #3203 "add page to show currently standing offers for user"
currently, there's no way to see all of the offers users made, would be nice to have this in some sort of table.
- add allow for easier withdrawal of offer
- test if it's showing offers on burned nfts where offers did not expire

[2022-06-19 16:16] petersopko opened #3204 "make page reload after offer withdrawal"
after processing offer withdrawal, offer is still shown in the table below gallery. this changes after manual reloading of the page, would be nice to have this done automatically
![image](https://user-images.githubusercontent.com/73316633/174490402-ecdc3221-b97a-4ed3-8564-28bfab0e91f9.png)

[2022-06-19 16:18] zhengow commented on #3200
I think it's already chain agnostic?

[2022-06-19 16:38] zhengow commented on #3202
Where can we find **MAKE_OFFER** option? In which branch or environment(web link)?
I can't find it in **main** branch 😢
![image](https://user-images.githubusercontent.com/38389586/174491336-3c4ad6f6-5f69-4f95-83b3-46521c9f7d05.png)

[2022-06-19 16:54] yangwao commented on #3200
thought so too, yet don't know why on hover of user account I get `rmrk` prefix when there should be `bsx` ?

<img width="279" alt="image" src="https://user-images.githubusercontent.com/5887929/174491884-f4ac1562-9f97-47ca-99e7-04d23eaca0fb.png">

[2022-06-19 17:01] #3190 closed

[2022-06-19 17:01] #3198 closed

[2022-06-19 17:03] petersopko commented on #3202
sorry, posted this slightly ahead of time, make offer was added here:
- https://github.com/kodadot/nft-gallery/pull/3201

[2022-06-19 18:43] yangwao opened #3205 "Add history of offers to collection in BSX"
We should add a history of offers per collection to see which offers are
- created
- accepted
- withdrawn
- expired

it should be same component as this one https://beta.kodadot.xyz/bsx/stats/ yet with filter per collection

[2022-06-19 18:43] vikiival opened #3206 "Add possibility to remove collection"
Currently, empty collections don't show up in the explorer. However, in order to delete a collection (`destroy class` from the initial implementation requirements, ref. #660) it must be empty.

Catch 22 with collections, I'm thinking, adding option to show user his/her empty collections and add option to delete them. This could be done under profile tab Collections with simple checkbox such as `Sh

[2022-06-19 18:44] prachi00 commented on #3205
You mean in the table?

[2022-06-19 18:44] prachi00 commented on #3204
👋

[2022-06-19 18:46] yangwao opened #3207 "History of floor and ceiling prices in BSX collection"
We should show up floor and ceiling prices in BSX

[2022-06-19 18:49] yangwao opened #3208 "Stats of the whole Basilisk marketplace"
Show statistics of total
- buys
- offers (count, total value)
- listed items for sale
- total items minted
- total collections
- total amount of wallet addresses

Anything else?

[2022-06-19 18:52] yangwao commented on #3205
That's from the perspective of a logged user.

This issue is for the whole collection

[2022-06-20 00:30] Jarsen136 commented on #3199
It is because query `allCollectionSaleEvents ` could not fetch the name of nft.
And it's very similar to this issue #3190

<img width="690" alt="image" src="https://user-images.githubusercontent.com/31397967/174506271-a90c7ca6-2683-47b2-a029-0b0a396f0c16.png">

[2022-06-20 03:42] prachi00 commented on #3192
👋

[2022-06-20 05:03] zhengow commented on #3200
Got your meaning 👋

[2022-06-20 05:03] zhengow commented on #3200
👋

[2022-06-20 05:30] prachi00 commented on #3202
👋

[2022-06-20 05:47] prachi00 commented on #3047
@vikiival currently there is no `passionFeed` query implemented https://app.gc.subsquid.io/beta/snekk/003/graphql
how do we show the curated list on all other chains?

[2022-06-20 05:54] prachi00 opened #3211 "Search Api failing for statemine and westmint"
### What happened?

CORS error and 400 error
<img width="675" alt="Screen Shot 2022-06-19 at 10 52 20 PM" src="https://user-images.githubusercontent.com/39299315/174533966-c3f4b98e-5fb7-4388-a660-f04b5577d3ae.png">

https://www.loom.com/share/99024ac40ef446d6be48078da2360824

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browse

[2022-06-20 06:38] roiLeo commented on #3047
👋 I already start on this one

[2022-06-20 07:52] vikiival commented on #3199
Hey, the name issue is caused by timeouts on pinata IPSF node. Need to implent kodadot/packages#17

[2022-06-20 07:58] petersopko opened #3212 "freshly minted NFTs showing up as only placeholders"
I've minted new NFT and after 3-5 minutes, landing in explorer/gallery results in me seeing the placeholder, but not the image itself.
Tested on BSX.
![image](https://user-images.githubusercontent.com/73316633/174552690-9c3ef9c4-5b3f-45dd-9dfc-e729537d9654.png)
![image](https://user-images.githubusercontent.com/73316633/174553147-3161bc36-14e4-4a32-b3e9-fb78e874c54f.png)

[2022-06-20 08:24] #3195 closed

[2022-06-20 09:06] yangwao opened #3215 "Collection names seems doesn't load when I open them"
At create dialog I see them

<img width="693" alt="image" src="https://user-images.githubusercontent.com/5887929/174566572-4072214f-5299-4000-b4d6-9b57e22a6523.png">

on Collection view likewise

https://user-images.githubusercontent.com/5887929/174566743-3c1c3737-7e5f-4de7-a3d8-95855c1d343b.mov

but when I click on a particular Collection, don't and no error in console

https://deploy-preview-321

[2022-06-20 09:08] zhengow commented on #3177
😊ok.

@vikiival Could you help to approve my PR and publish a new npm package? 🥺

[2022-06-20 09:09] vikiival commented on #3177
Did not get any ping there :/

[2022-06-20 09:10] #3200 closed

[2022-06-20 09:13] yangwao opened #3216 "Missing created tab at profile at BSX"
Seems we are missing the tab created at the profile

https://beta.kodadot.xyz/bsx/u/bXgvP2cQzEnPvuPQHRghz9dUYovqzyPhXBRXbNwVCef7nsmqb?tab=collection&page=1

<img width="973" alt="image" src="https://user-images.githubusercontent.com/5887929/174568116-3caff5df-37a1-42d0-98fd-a93b7068acb6.png">

[2022-06-20 09:32] #3047 closed

[2022-06-20 09:43] petersopko commented on #3208
:wave:

[2022-06-20 09:43] petersopko commented on #3208
do you want to have this done under Stats in navbar (as with RMRK?)

[2022-06-20 10:03] petersopko opened #3218 "hide offers tab on nft detail when no offers are made"
remove this view:
![image](https://user-images.githubusercontent.com/73316633/174578217-03149396-3608-4347-9e44-d4c40977b652.png)

? replace with message "There are no offers" ~

[2022-06-20 10:40] yangwao opened #3220 "Glitch on make offer in basilisk"
Sometimes I can't make an offer 🤔

![image](https://user-images.githubusercontent.com/5887929/174584539-3630cc13-eeb8-4183-aef4-6ab05ae14d3b.png)

[2022-06-20 10:57] yangwao opened #3221 "Rare pokemon at Transfer"
I sense we've already fixed this buut,
here is the case it doesn't work at
Seems when I do conversion from other than BSX address it appears?

https://beta.kodadot.xyz/transfer/?target=EzGc4s9PgCPx1YnF3fqzhLzVHpHMTL4LWPScwpDrR8JKgSU&usdamount=52930000000

<img width="1366" alt="image" src="https://user-images.githubusercontent.com/5887929/174587124-16242cd6-06fa-4de7-b4f9-72a3e776636b.png">

at he

[2022-06-20 11:08] yangwao opened #3222 "Seems I can't accept offer from others"
Rare glitch 🤔

https://beta.kodadot.xyz/bsx/gallery/552185073-1?page=1

<img width="1386" alt="image" src="https://user-images.githubusercontent.com/5887929/174588441-f7982b53-d7e7-4a55-b85e-418a70239740.png">

[2022-06-20 11:14] vikiival commented on #3177
`+ @kodadot1/vuex-options@0.0.1-rc.9`

published

[2022-06-20 11:30] yangwao commented on #3222
okay already working on `main`

[2022-06-20 11:55] vikiival commented on #3220
It's the case when you have SOME KSM intstance running in the background

[2022-06-20 13:04] #3199 closed

[2022-06-20 13:44] roiLeo opened #3224 "GalleryItem: undefined collection link"
On rmrk, check bottom link

![Capture d’écran 2022-06-20 à 3 41 01 PM](https://user-images.githubusercontent.com/9987732/174614916-4e2e90d1-8ac6-44a6-9132-0a51bab94b44.png)

[2022-06-20 13:55] roiLeo opened #3225 "IdentityPopover: wrong numbers"
user: `/rmrk/u/DSdZVzpW6MZgYw2ajxXLmDYox17X8SnNzSz5rGyZ6niiA8j`

see screenshot

![Capture d’écran 2022-06-20 à 3 53 43 PM](https://user-images.githubusercontent.com/9987732/174617211-b48e0c85-fc2c-4c11-99e1-52b5f7852652.png)

SOLD: 0
Sales: 85

[2022-06-20 14:16] #3224 closed

[2022-06-21 06:53] prachi00 commented on #3204
Still taking a look at this one.

[2022-06-21 06:58] roiLeo commented on #3204
😮 I didn't knew I owned this nft

[2022-06-21 07:26] roiLeo opened #3228 "GraphQL error: pgbouncer cannot connect to server"
#### Step to reproduce
- go to beta.kodadot.xyz
- rmrk chain
- go to explorer
- infinite loader
- profit

`Uncaught (in promise) Error: GraphQL error: pgbouncer cannot connect to server`

[2022-06-21 08:39] roiLeo opened #3230 "Fearless Wallet integration"
[Fearless Wallet](https://fearlesswallet.io/) is:

- A native open source mobile app for [iOS/](https://apps.apple.com/ru/app/fearless-wallet/id1537251089?l=en)[Android](https://play.google.com/store/apps/details?id=jp.co.soramitsu.fearless)
- A native open source library for Substrate [iOS](https://github.com/soramitsu/fearless-utils-iOS)/[Android](https://github.com/soramitsu/fearless-utils-Andr

[2022-06-21 09:59] petersopko commented on #3228
same problem on kodadot.xyz / local instance, seems that we need @vikiival here 🥺

[2022-06-21 10:11] vikiival commented on #3228
Just spotted there

[2022-06-21 10:14] petersopko commented on #3225
related to
- https://github.com/kodadot/nft-gallery/pull/3175

[2022-06-21 10:24] vikiival opened #3232 "Sunset rubick 004"
Just please check if we are not using 004 somewhere

[2022-06-21 10:30] roiLeo commented on #3232
We don't use it on kodadot anymore, but I'm using it from [here](https://app.subsquid.io/aquarium/rubick)

[2022-06-21 10:31] vikiival commented on #3232
It will be replaced by 005 by default

[2022-06-21 10:33] #3228 closed

[2022-06-21 10:53] vikiival commented on #3208
Yes I would make separated page `/overview`

If you need help with design / code logic happy to discuss in DC / here

[2022-06-21 13:15] #3232 closed

[2022-06-21 13:27] zhengow commented on #3177
I am wonder where can i find find
 node url for moonsama🤣

[2022-06-21 14:57] yangwao opened #3234 "Show BSX in offer dialog at item"
When I'm making offer, it shows in KSM?

<img width="355" alt="image" src="https://user-images.githubusercontent.com/5887929/174831215-55c2dddb-2321-4fbf-a54f-0964e9f7aa5e.png">

[2022-06-21 15:11] DeluneClaire opened #3235 "Minting collection doesn't work"
### What happened?

I wanted to mint collection, but it takes so much time, and it doesn't work in the end.

### Please reproduce in steps

-

### Expected Behavior

-

### What browsers do you see the problem on?

Firefox

### Are you logged in?

Yes

### At which address did you encounter bug?

kodadot.xyz

### Screenshots

https://user-images.githubusercontent.com/104791453/174835694-9b8b03c4-d

[2022-06-21 15:14] petersopko commented on #3234
same thing on rmrk, happens when wallet gets stuck during switching between chains
![image](https://user-images.githubusercontent.com/73316633/174833662-1845f8fd-0160-4d15-b863-be616248c4b0.png)

linked to
- https://github.com/kodadot/nft-gallery/issues/3197

[2022-06-21 15:14] petersopko commented on #3197
:wave:

[2022-06-21 15:22] yangwao commented on #3235
have you tried minting on https://beta.kodadot.xyz ?
Maybe it's fixed there, but I see first time this error 🤔

[2022-06-21 15:41] petersopko commented on #3208
I'm guessing this means offers with status `ACCEPTED` and not `WITHDRAWN/EXPIRED/ACTIVE`. Maybe add column for count/total of `ACTIVE`?

[2022-06-21 16:06] zhengow commented on #3215
:wave

[2022-06-21 16:32] vikiival commented on #3208
we can do some chaching strategy

add column for count/total of ACTIVE?

or total (active) / price?

[2022-06-21 17:32] prachi00 commented on #3202
I am still checking this

[2022-06-21 19:36] #3059 closed

[2022-06-22 01:08] prachi00 opened #3237 "Landing page of parachain should have fallback"
Also I would extend middleware so `https://beta.kodadot.xyz/bsx` will go to `https://beta.kodadot.xyz`

_Originally posted by @vikiival in https://github.com/kodadot/nft-gallery/pull/3227#issuecomment-1161664483_

[2022-06-22 03:02] #3215 closed

[2022-06-22 04:21] Jarsen136 opened #3239 "support passion feed searching in lastEvent resolver"
In order to avoid duplicate elements on 【Newest List】/【Latest Salse】, we create a new resolver 'lastEvent'. Still need to make it support passion feed searching.

ref: https://github.com/kodadot/nft-gallery/pull/3062

- [x] remove duplicate item from [Newest List]/[Latest sales]
- [x]  inaccurate time to nft listing
- [x] nft may be displayed on [Newest List] even if  its listing price equal to 0.

[2022-06-22 10:46] yangwao opened #3240 "Add item into history events of collection"
Seems we don't show item in history of collection?
<img width="1367" alt="image" src="https://user-images.githubusercontent.com/5887929/175010918-5e40951d-1c5f-4841-a202-a6009e396c1f.png">

[2022-06-22 10:49] vikiival commented on #3177
Moonsama = set of smart contracts on the top of Moonbeam :)

[2022-06-22 10:58] yangwao commented on #3220
seems switching between chains is making this

[2022-06-22 11:07] vikiival commented on #3237
Task to be completed any chain

`bsx/index.vue` -> should go to `index.vue` with bsx prefix
same applies for statemine

[2022-06-22 12:14] #3218 closed, assigned to petersopko

[2022-06-22 12:17] Jarsen136 commented on #3240
related to https://github.com/kodadot/packages/issues/17

<img width="433" alt="image" src="https://user-images.githubusercontent.com/31397967/175026934-7cbd3874-b773-46fa-9cb9-dcc4517d29f5.png">

[2022-06-22 13:30] roiLeo opened #3243 "SEO: define canonical URL"
![Capture d’écran 2022-06-22 à 3 29 55 PM](https://user-images.githubusercontent.com/9987732/175041189-b08d56ee-78a5-4c1d-9326-37ac120cbe7a.png)

[2022-06-22 13:31] vikiival opened #3244 "Update KodaDot to Polkadot v8"
### Is your feature request related to a problem?

We are currently running v7 of polkadot-api

### Describe the solution you would like

I would like to see polkadot v8

There is already a branch for that `polkadot-v8` so feel free to start there.

If you need to update any internal package please ping @vikiival

[2022-06-22 14:26] roiLeo opened #3245 "SEO: enhance 3D sharing"
- Open graph [ref](https://developers.facebook.com/docs/sharing/webmasters/getting-started/3d-asset-link)
- Twitter (not implemented?)

[2022-06-22 14:35] vikiival commented on #3235
However you find really good edge case #3244

[2022-06-22 15:01] roiLeo commented on #3074
![image](https://user-images.githubusercontent.com/9987732/175060179-78543a88-14ff-4663-96de-769aaeebb649.png)

Could be a good idea to have a "More" dropdown

[2022-06-22 15:05] vikiival commented on #3235
Yeah that's the goal of issue mentioned above.

[2022-06-22 15:31] roiLeo commented on #375
ref #3242

[2022-06-22 15:57] yangwao opened #3247 "Can't connect to RPC in Transfer for BSX"
Once I signed the transaction for submission I get some errors on BSX in the Transfer

<img width="443" alt="image" src="https://user-images.githubusercontent.com/5887929/175077295-3279d93f-852d-4dcb-85c5-c9bcb0a133b3.png">

[2022-06-22 16:02] yangwao commented on #3247
okay seems snackiee is off the field again 🤔
https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Fbasilisk-kodadot.hydration.cloud#/explorer
<img width="238" alt="image" src="https://user-images.githubusercontent.com/5887929/175078651-2b90931c-6fa3-46d8-95e5-3eb52b56ba90.png">

[2022-06-22 16:15] vikiival commented on #3247
Maybe 🐍 has 🏖️ mode

![45033941-9755483-A_massive_snake_became_stranded_at_Wild_Cattle_Beach_in_Tannum_S-a-5_1625449020079](https://user-images.githubusercontent.com/22471030/175081826-775ec972-260d-4745-a4eb-abae920c9a83.jpg)

[2022-06-22 16:46] petersopko commented on #3197
ignore

[2022-06-22 17:24] yangwao commented on #3235
We have this somewhere that should work normally 😏🫣

[2022-06-23 07:06] roiLeo opened #3248 "Audio NFT player"
Test:
`/rmrk/gallery/10732439-cc89eac7f82ae14164-8IR8T4P35V1-BIRB_TAPES_VOL_1_HOUSEY_CHAOS_SOUNDS-0000000000000022`

The audio player has disappeared :(

[2022-06-23 07:31] vikiival commented on #3235
DNFTL.

[2022-06-23 08:21] roiLeo commented on #3074
We should put the least visited profile tabs in "More" and/or replace tabs with secondary navbar.

- Click on dropdown Tab: open "More" List
- Click on dropdown item: redirect to the right page

[2022-06-23 08:29] roiLeo opened #3249 "Remove RMRK 2.0 collection (migrated) from curatedList"
We should remove collection from landing page that has been migrated.
- Kusamourais: `7472058104f9f93924-KSMRAI` now on RMRK 2.0

[2022-06-23 09:36] vikiival opened #3250 "Show royalties under the price in basilisk"
### Is your feature request related to a problem?

Currently afaik we do not show how much percent of the price are royalties.

### Describe the solution you would like

It would be good to show them under the price

### Describe alternatives you have considered

~

### Screeenshots

I added a couple of screenshots from the past :)

![1_i2tmRmrqqWVov8HiDUECVw](https://user-images.githubusercontent

[2022-06-23 09:44] petersopko commented on #3208
ignore

[2022-06-23 11:23] #3197 closed

[2022-06-23 11:23] #3220 closed

[2022-06-23 11:39] yangwao commented on #3244
What amount of work is there?
Should we put it into the upcoming release or can wait?

[2022-06-23 11:40] yangwao commented on #3235
<img src="https://media2.giphy.com/media/3o6ozls6Glf1v0KIAE/giphy.gif"/>