[2022-01-10 19:03] yangwao commented on #992
As we are moving to CloudFlare Pages, we've passed on Netlify on current budget.

[2022-01-10 19:03] #992 closed

[2022-01-10 19:18] kkukelka commented on #1756
on it!

[2022-01-10 20:47] vikiival commented on #1594
https://github.com/kodadot/cloudflare-jpeg

[2022-01-11 09:34] yangwao opened #1763 "Move CF account under company stuff"
* create new CF account
* migrate durable objects
* pages
* company card
* images
* kv

[2022-01-11 10:54] prachi00 commented on #1745
wheres docker_koda? cant find it

[2022-01-11 11:01] prachi00 commented on #1745
<img width="586" alt="Screenshot 2022-01-11 at 4 31 10 PM" src="https://user-images.githubusercontent.com/39299315/148930931-4c57f027-057d-4637-acf5-fcce7aa079db.png">
also if I move src-functions, do I have to change the path here as well? not sure about this @roiLeo

[2022-01-11 12:22] roiLeo commented on #1745
It was on my side, no need to worry

Yes!

[2022-01-11 13:04] roiLeo commented on #1752
We can group it with #678 & #898
Best option could be to create a new resolver ProfileStats on squid

[2022-01-11 13:32] vikiival opened #1764 "move metadata upload logic to the separate file"
maybe something like `@/utils/metadata/upload`

[2022-01-11 14:29] kkukelka commented on #1135
on it!

[2022-01-11 14:57] yangwao opened #1765 "Framing gdpr toast"
We should add a countdown to accept toast, or formulate it in a way that people keeping on our site over 30 seconds give us consent to accept it on their behalf and probably that's it :)

![image](https://user-images.githubusercontent.com/5887929/148966028-827955b7-90b8-4346-a571-4bb0dbfdfd19.png)

[2022-01-11 15:10] yangwao opened #1766 "New preview social cards v3"
summoning @AndriiHrynchuk for card preview

For previews and better branding awareness, I would like to use either
- outlined logo https://github.com/kodadot/kodadot-presskit/blob/main/v3/kodadot_outline_logo.png
- simple https://github.com/kodadot/kodadot-presskit/blob/main/v3/K_outline_logo.png
and removing probably background?

![image](https://user-images.githubusercontent.com/5887929/14896790

[2022-01-11 15:16] yangwao opened #1767 "yolo v2"

[2022-01-11 15:18] yangwao commented on #1612
Anything missing to be done?

[2022-01-11 15:18] yangwao commented on #1700
continue in #1691

[2022-01-11 15:18] #1700 closed

[2022-01-11 15:25] #1421 closed

[2022-01-11 15:30] #1753 closed

[2022-01-11 15:37] yangwao opened #1769 "Warning on navigationDuplicated in Transfer"
Seems this time it could not generate a link to the transaction
This is what I have in console

![image](https://user-images.githubusercontent.com/5887929/148966715-098b9554-1701-451b-8364-47559e6da723.png)

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/1750#issuecomment-1010047451_

[2022-01-11 15:38] #1749 closed

[2022-01-11 15:48] #1754 closed

[2022-01-11 15:51] yangwao commented on #1745
that actually could stay! that's for netlify stuff

[2022-01-11 15:51] yangwao commented on #1745
/giphy jenga

[2022-01-11 15:52] #1767 closed

[2022-01-11 15:54] yangwao commented on #1726
![](https://media.giphy.com/media/PlnQNcQ4RYOhG/giphy-downsized-large.gif)

[2022-01-11 15:58] prachi00 commented on #1745
@yangwao @roiLeo okay, I'll revert the justfile and src-functions change then

[2022-01-11 15:59] #1756 closed

[2022-01-11 16:22] vikiival opened #1772 "Show 💸 cursor on buy event"
https://twitter.com/mgechev/status/1480774028969353222?s=21

[2022-01-11 19:36] atharva3010 commented on #1769
@yangwao well navigating again to the same page is an issue with vue router, kind of annoying, but the best way to solve it is to silence those errors, I'll refactor the router.replace while at it.

[2022-01-12 05:06] atharva3010 commented on #1634
I can figure this out, I’d need to pair with some who has admin rights to this repository though, need to see GitHub permissions.

[2022-01-12 07:22] yangwao opened #1774 "Add to user preferences to show facts"
Probably we should give users ability to inspect metadata about NFT and verify some integrity on their behalf

![Screenshot_20220112-081947.jpg](https://user-images.githubusercontent.com/5887929/149081846-f9b227db-cf50-4b6b-afea-e46d305e7d06.jpg)

### Ref
https://mirror.xyz/suzuha.eth/vb5E5lhzmPTcpxOJcz6Q211TDgSvoFwDLA6JSM1V37Q

[2022-01-12 09:03] #1173 closed

[2022-01-12 09:10] vikiival commented on #1678
Pass it from the

[code]

[2022-01-12 09:21] yangwao opened #1776 "Let user know further expect action to check extension event"
Once there is action event-triggered let the user know further, to expect action from them, to what to do next.

Like we should put text probably into action area, there is waiting for a request for them to sign a transaction in extension/wallet and check their extension for further steps

Now we don't have any sort of dialog.

Thinking it could be part of the preloader component if so, to tell th

[2022-01-12 09:22] yangwao commented on #1755
Seems due the crash, it wont close the modal.

![image](https://user-images.githubusercontent.com/5887929/149100859-5d1373ec-b726-4f4c-a731-200f91c1426b.png)

[2022-01-12 09:28] yangwao opened #1777 "Add fixed height to detail item"
To prevent random jumping content despite we know ahead height of item would be nice to avoid for users unpleasant jumping of other components.
Probably add skeleton with height https://buefy.org/documentation/skeleton/ but I guess we have preloader there yet something is happening inside before load

Or add transition until is full media loaded?

https://user-images.githubusercontent.com/5887929/

[2022-01-12 09:58] kkukelka commented on #1777
on it!

[2022-01-12 10:04] yangwao commented on #1777
don't forget to eat!

[2022-01-12 10:15] yangwao opened #1778 "Add to collections sort by"
Sort by
- biggest collections by assets
- most buys
- most owners
- volume
- floor price

![image](https://user-images.githubusercontent.com/5887929/149098333-ef99116b-8e43-4215-889d-b95dfd8e2fc1.png)

Hints are in series insight https://deploy-preview-1775--koda-nuxt.netlify.app/series-insight/

Probably would require a write resolver to https://github.com/kodadot/rubick

### Ref
- #1357

[2022-01-12 10:20] yangwao commented on #1769
Hey, please no silencing errors, errors are there for reason to be solved :)

[2022-01-12 10:53] cryptodamsky commented on #1604
Since i can't really edit the code yet, i'll atleast have full list of how should the FAQ look. It's also necessary to update all the links and make the tutorials for polkadot js wallet, obtaining KSM and how to simple mint along when the new FAQ is going to be published. I'm on it

[2022-01-12 10:57] yangwao commented on #1742
yolo made some dashboard @kkukelka https://app.snyk.io/invite/link/accept?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlSWQiOiJkOGJhMjkwYi1hYTllLTQ5NTctOWYwYi05NDA5ZDdiNGY4ODMiLCJpYXQiOjE2NDE5ODUwMjUsImV4cCI6MTY0MzAyMTgyNSwiaXNzIjoiNTRhNzIwZTQtMzI3Ny00Mzc5LWJlODAtYjYzZmFmM2Q2YzYxIiwic3ViIjoiZTc5MjQwZjctN2IwMC00NGZjLThlOGYtNTlkMDVkMTI4NmVlIiwianRpIjoiYTVjMTExYzgtNzlhNS00Mzc0LTkxYTctNWJiZWQ3MTI2Y

[2022-01-12 11:04] yangwao commented on #1742
added snyk tho https://github.com/kodadot/nft-gallery/commit/e378e8543ee62327c64ac1764339e1b726675c9b

but that's for security not for health of packages

[2022-01-12 11:16] atharva3010 commented on #1769
@yangwao definitely, although, these are warnings, not errors.
The way to get rid of the root issue is to not change the route to the same page, hence causing duplicate navigation. That would mean losing the ability for URL in the browser to be updated in real-time when the user inputs amount or address.

[2022-01-12 11:23] #1772 closed

[2022-01-12 12:02] yangwao opened #1783 "Add keyboard shortcuts"
We want to control kodadot with keyboard shortcuts for much pleasant and faster browsing

- g n - go to next page on gallery/collections/collections detail
- g p - go to the previous page on gallery/collections/collections detail
- g a - go-to own artist profile
- g c - go to your collected items
- g s - go to your sold items
- g m - go-to simple mint
- g t - go to transfer
- g i - go to series in

[2022-01-12 13:20] #1691 closed

[2022-01-12 13:29] prachi00 commented on #1783
I'll check how we can do this

[2022-01-12 13:32] prachi00 commented on #1783
https://www.npmjs.com/package/vue-shortkey
can we use a package for this?

[2022-01-12 14:08] vikiival commented on #1783
<img width="177" alt="Screenshot 2022-01-12 at 15 07 53" src="https://user-images.githubusercontent.com/22471030/149155597-a37eb3bd-0b89-44a6-b569-3802a1ae7fd3.png">

That's Huuuge

[2022-01-12 14:45] yangwao opened #1789 "Wellbeing badges"
To prevent people from burning out and giving away badges for taking care of themselves, find a smart way to incentivize them for unplugging and unwinding periods

Like people could get unwind time, rewarded if they have a number of unlocks on phone less than X, not eating that meal for a longer period and doing intermittent fasting, one meal a day, do a workout, read a book on evening instead sta

[2022-01-12 15:38] yangwao opened #1790 "seo revisit"
Seems recent deployment from `main-nuxt` doesn't work well @kkukelka 👀

maybe it's just cache on edge cdn servers or so

![image](https://user-images.githubusercontent.com/5887929/149169037-977f28af-1469-49f4-bfe0-dc4b88392dc0.png)

however telegram works hmm
![image](https://user-images.githubusercontent.com/5887929/149169490-2783661c-eebd-420f-b269-fc9891a06477.png)

[2022-01-12 15:51] kkukelka commented on #1790
@yangwao I bet it's cache-related. I'll give it a look tomorrow!

[2022-01-12 16:16] yangwao opened #1792 "Prefetch warnings"
At https://kodadot.xyz/rmrk/collections

![image](https://user-images.githubusercontent.com/5887929/149178656-4a49eff0-f8a8-4c53-bdef-49ae1320c699.png)

[2022-01-12 16:17] yangwao opened #1793 "Make dropdown for filter and search bar narrow"
So pagination is on the same line

![image](https://user-images.githubusercontent.com/5887929/149178822-071e53a1-e5fd-4911-b8ac-17873b930609.png)

[2022-01-12 16:28] prachi00 commented on #1793
@yangwao I'll check this

[2022-01-12 19:07] #1792 closed

[2022-01-12 19:38] yangwao opened #1797 "need unregister old service-worker.js for old instance and remove old cache storage"
I've tried `workbox.swdest`which works if I use it as `yarn dev` but doesn't work for `yarn generate`

https://github.com/kodadot/nft-gallery/blob/main-nuxt/nuxt.config.js#L151

You can see `dist/` made by `yarn generate` vs folder `/` made by `yarn dev`

### Ref
Workbox docs -- https://pwa.nuxtjs.org/workbox/
our old `service-worker.js` -- https://github.com/kodadot/nft-gallery/blob/main/src/regi

[2022-01-13 07:09] pandasamanvaya commented on #1755
I guess whenever you interact with an NFT(buy, list, etc), a new point is added to the chart. So to re-render the point on the same canvas, the old chart must be first removed and a new chart must be created. I think this also happens in #1692.

[2022-01-13 10:01] MubarakSULAYMAN commented on #1238
@yangwao, can you walk me through?

[2022-01-13 10:19] MubarakSULAYMAN commented on #1348
@vikiival and @roiLeo, what are plans on setting rules for this. Is any one working on it yet?

[2022-01-13 10:48] atharva3010 commented on #1797
@yangwao Service Workers are a PWA concept, running `yarn generate` or `nuxt generate` means you are doing Static Site Generation (SSG), it's expected that it will not contain a service worker.

When you run it locally, you are running it as a single page progressive web application, which supports service worker, hence you see it when running `yarn dev`.

To setup a PWA, you need to build it as o

[2022-01-13 10:54] atharva3010 commented on #1783
@vikiival @prachi00 You can do keybinding without using that package, just use the appropriate keycodes from https://keycode.info/

An example for using W A S D as arrow keys is: https://stackoverflow.com/a/22766391

[2022-01-13 10:55] MubarakSULAYMAN commented on #1783
[v-hotkey](https://www.npmjs.com/package/v-hotkey) can be a good alternative. It has lesser issues, opened PR and just a year old
.

[2022-01-13 11:00] atharva3010 commented on #1783
@MubarakSULAYMAN what `v-hotkey` does is already supported by vue natively, using `@keyup`

[2022-01-13 11:08] yangwao commented on #1797
@atharva3010 to briefly onboard you, check branch `main`, that's current running code for olde users. Way to solve this would be to unregister service worker from the previous instance of users (it's still running here https://nftkodadot.netlify.app/ ) as it serves old user content (which was previously at https://kodadot.xyz) from old cache and service worker won't refetch new stuff until we will

[2022-01-13 11:17] atharva3010 commented on #1797
[code]

[2022-01-13 11:32] yangwao commented on #1797
Yes, that's what I was thinking use y'day, it's being generated by `yarn dev`
https://github.com/NekR/self-destroying-sw

But, nuxt uses already `sw.js`
![image](https://user-images.githubusercontent.com/5887929/149322708-6a3051b1-d470-4ab2-b360-80653cada2ae.png)

[code]

[2022-01-13 12:44] yangwao opened #1804 "Change facts in preloader after 10 seconds"
Let's change the quote after a while, probably 10 seconds it should be enough to read every quote?

Bonus stage: bring your own quote!

![image](https://user-images.githubusercontent.com/5887929/149332402-87ad8a39-49b1-46e7-975e-8928ac7328a3.png)

[2022-01-13 12:44] #1755 closed

[2022-01-13 12:45] #1692 closed

[2022-01-13 12:53] yangwao commented on #1797
This done the job, even reloaded on Firefox and Chrome, Safari keeps hanging
[code]

Seems it works!

![image](https://user-images.githubusercontent.com/5887929/149333523-8598c9b7-e679-4e51-bd80-98fc28664d5a.png)

@atharva3010 sent a payment link, I guess owe you some small payout for engagement and hint! :)

[2022-01-13 13:14] #1135 closed

[2022-01-13 13:21] #1790 closed

[2022-01-13 13:26] yangwao commented on #1797
@atharva3010 sent you $100 ;)
https://kusama.subscan.io/extrinsic/0xd4d0fb93feb14bf3c5192c395cae150a8a0a1ae16d8e4887d0c24dad2c16d3b4

[2022-01-13 13:26] #1797 closed

[2022-01-13 14:10] prachi00 commented on #1804
@yangwao I'll try to do this

[2022-01-13 16:19] prachi00 commented on #1804
@yangwao @vikiival @roiLeo do we know how many countries people are contributing from? I think that would make an interesting fact like

[code]

[2022-01-13 17:20] vikiival commented on #1348
Game rules are pretty simple:
- prefer bulma css over custom css
- move duplicate css into separate  scss files
- for component which have css use scoped.

@roiLeo have I missed anything?

[2022-01-13 18:32] yangwao commented on #1370
We need Berlin color palette
https://twitter.com/AuslanderMemes/status/1481181559189385216?t=_V1Qa_HxjWsv2OylhM7pLQ&s=09

[2022-01-14 07:12] roiLeo commented on #1348
I added the "global" comment in some files where the css was duplicated.
There are also many unused css rules that can be removed.

[2022-01-14 09:17] yangwao opened #1807 "Adjust sorting to be descending at first click"
At first, click make it show descending numbers, not ascending numbers

Both for series and spotlight
Probably blocking issue for series is #1757

https://user-images.githubusercontent.com/5887929/149490372-247a0408-6d7e-45e3-ae85-48f9c816690d.mov

[2022-01-14 11:25] #1745 closed

[2022-01-14 12:06] yangwao opened #1811 "Check if we could link directly to that discord user from profile"
Checking if we could link directly to that user.. https://www.swipetips.com/how-to-send-a-link-to-a-discord-profile/

seems needs to be there like
`https://discordapp.com/users/prachi#4004/`
So this should reach @prachi00 on discord? https://discordapp.com/users/prachi#4004/

edit seems doesn't work now.

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/pull/1771#issuecomme

[2022-01-14 12:33] #1748 closed

[2022-01-14 12:55] yangwao commented on #1172
related #1499

[2022-01-14 13:01] yangwao opened #1814 "History component v1.1"
- Show day fixed on the top in a component while scrolling
- check on the bottom & top pixel border
- add shadow to show its depth of component?
- add fade in/out for background shadow so it slowly follows cursor?
- once NFT is loaded on the background (check video) it could not be scrolled, we should avoid blocking UI here, as blocking OP could take fair amount bandwidth of user internet connecti

[2022-01-14 13:17] yangwao opened #1816 "hover card v1.1"
- border let be $primary
- add depth effect some like MS-DOS, ncurses ui
- depth could be made by black shadow or use texture in the third picture on the floor, yet really don't know its name @XyloDrone may whisper!

![image](https://user-images.githubusercontent.com/5887929/149520030-1732b158-ef96-43b7-9f00-37d638f38b3c.png)

![image](https://user-images.githubusercontent.com/5887929/149520772-58

[2022-01-14 13:19] kkukelka commented on #1811
username won't work here, it actually needs to be a 18-char long id

[2022-01-14 13:20] yangwao opened #1817 "Format balance assertion failed infinite number 12 ksm"
Seems dolphins are back in Italy again 🐬

![image](https://user-images.githubusercontent.com/5887929/149521703-1bdec4f1-4a93-4059-bc15-3673446b118d.png)

[2022-01-14 13:23] kkukelka commented on #1816
I'll see what I can do!

[2022-01-14 13:36] yangwao opened #1818 "Sales feed for better engagement"
We would need to think about feed where people could learn on most recent activity of stuff to place their buys

### Weights we can choose to the feed
- emotes per nft
- buys per collection
- owners (raising?)
- assets (higher better)

### Table
What should look like and include table

| Name (link to gallery item detail) | Collection (link to collection) | Buyer (link to buyer) |  Relative Date (

[2022-01-14 13:45] yangwao opened #1819 "Make spotlight and series insights in XR"
- Bring your own creativity (BYOC)
- Grab a-frame
- probably our queries from spotlight and series insights
- glue it together
- make PR

woala

### Ref
- https://github.com/babiaxr/aframe-babia-components ht @rchovatiya88

[2022-01-14 14:05] kkukelka commented on #1774
@yangwao
can you elaborate on this issue?
I have no clear picture of what has to be accomplished

[2022-01-14 14:22] yangwao opened #1821 "Sign message & Verify Signature"
We would need to have the ability for users to sign messages so we can direct them to sign stuff with their wallets and later verify stuff.
Add it to Extra -> Sign & Verify

For example, the bot would generate https://kodadot.xyz/sign/?payload=randompayload
The user would click on that to sign the payload
Copy to clipboard button

Brief draft of needed UI for Sign
![image](https://user-images.gith

[2022-01-14 15:24] yangwao opened #1823 "we could remove service-worker.js in month"
I hope we could remove service-worker.js in month or so. probably those who hasn't visited us in month we don't care much

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/pull/1822#issuecomment-1013220141_

[2022-01-14 15:41] yangwao opened #1824 "Add precise queries into search"
Would be nice to see way people opt for much precise searching.

Adding nlp way to have premade searches for them

Ie i want to buy nft which is part of 7k assets with 500buys
I want to buy nft from deepologic which has at least two trades
&c

Not sure what would be neede for this but SubSquid is pretty flexible on anything, we just need interpret right stuff to search by.

###
- inspirational her

[2022-01-14 15:42] yangwao opened #1825 "Enhance description at minting"
Let's employ gpt3 to help us with rich description on behalf of artists

Ht @vikiival

[2022-01-14 15:57] prachi00 commented on #1814
@yangwao I'll see what I can do

[2022-01-14 16:11] atharva3010 commented on #1824
👀

[2022-01-14 16:23] #1777 closed

[2022-01-14 16:39] #1816 closed

[2022-01-14 17:21] yangwao opened #1826 "Research which components from KodaDot could be abstracted"
- like SDK (python, rust, cpp)
- hands some tooling
- something that would help mashups

### Ref
- https://awesomeopensource.com/projects/nft
- https://awesomeopensource.com/projects/nft?projectPage=2
- https://awesomeopensource.com/project/monaverse/SpaceStarter
- https://awesomeopensource.com/project/mikker/svgnft
- https://awesomeopensource.com/project/AudiusProject/fetch-nft
- https://awesomeo

[2022-01-14 18:29] yangwao opened #1829 "Connect client to RPC only once it's needed for actions"
As we are relying on Indexer partners like SubSquid and SubQuery right now, it's no need to connect on the chain at all.

Right now for example when I'm opening https://kodadot.xyz/rmrk/collections/?page=5 first actionable paint is blocked by connecting to the RPC

We should require a connection only the user would be making particular action like BUY/LIST/UNLIST/CONSUME

![image](https://user-ima

[2022-01-14 18:44] yangwao opened #1830 "Probably adjust background image"
As homepage-bg.jpeg has 238kb would be nice to optimize it to way lower and something smaller, destinable to something under 50-80kB ~

![image](https://user-images.githubusercontent.com/5887929/149568400-055c4b81-fa50-4b12-a58a-d4a52eb936db.png)

[2022-01-14 18:49] kkukelka commented on #1830
i could implement https://github.com/juliomrqz/nuxt-optimized-images
its the best solution out there for optimising local assets at build time

[2022-01-15 08:45] yangwao opened #1833 "Integrate Namebase into KodaDot"
We would take a peek at this and acquire a test domain for our community of artists:)

https://twitter.com/NamebaseHQ/status/1450159819168550925

### Ref
- kodadot/ideas#41
- kodadot/nft-gallery#524

[2022-01-15 08:50] yangwao opened #1834 "Strange move"
We would try to experiment and gate a few channels as we feel premium discussions are happening there

- war-room
- steward
- gm ?
- governance
- meta-hours
- founder-office
-

[2022-01-15 10:38] yangwao commented on #1830
yeah that's the thing I've tried with github actions #1634 but need check back

meanwhile it's done in https://github.com/kodadot/nft-gallery/pull/1832 for now,

will keep monitoring which assets are trouble some, I see infinity.svg for some reason but isn't that big so curious

[2022-01-15 10:38] #1830 closed

[2022-01-15 10:51] kkukelka commented on #1830
very weird. infinity.svg file-size is actually impressively small for an animated vector graphic

[2022-01-15 11:18] yangwao opened #1836 "Default turn off showing prices"
By default turn off showing prices and explicitly show them only when BUY NOW is turned on

Change the in the advanced user interface to show the price even while BUY NOW is off

Check for feeds
- gallery
- collection detail
- collections

### Ref
- #1585

[2022-01-15 11:24] yangwao opened #1837 "Search upgrades v1.1"
- add history icon on the left, in this case in front of "kusama"
- add "X" icon on the highlight to remove past searches, check how it works in the history browser component
- While searching just the term, show it as a suggestion, see pic2 to suggest people term but not particular NFT item, add search icon before the term

![image](https://user-images.githubusercontent.com/5887929/149619846-a648

[2022-01-15 11:33] kkukelka commented on #1836
on it!

[2022-01-15 11:53] yangwao opened #1838 "Collection activity graph using SubSquid"
Currently, it loads pretty slow.

- write resolver to the https://github.com/kodadot/rubick
- reimplement chart engine using subsquid query engine

### Test case
- 597 buys https://kodadot.xyz/rmrk/collection/0a8ce195286c168f19-DONKEY?tab=activity
- 1179 buys https://kodadot.xyz/rmrk/collection/102cb9e9988c85201e-ZEITGEIST-JUSTICE-TAROT-COLLECTION?tab=activity
- 1645 rmrk profile https://kodadot.x

[2022-01-15 12:04] yangwao opened #1839 "Search upgrades v1.2"
When navigating,
- prefer show collection item (let's try https://fontawesome.com/v5.15/icons/align-justify?style=solid or https://fontawesome.com/v5.15/icons/layer-group?style=solid )
- (only desktop) while on the collection, show the right arrow on the right edge. while press right arrow keyboard show another contextual dialog with series insight numbers like Volume, Buys, Owners, Assets
- (only

[2022-01-15 12:05] yangwao opened #1840 "search upgrades v1.3"
### Blocking issues
- #1839 must be made first
- #1841

### Spec
- while showing nft item detail on the right arrow, add a buy button to help the user make buy right away

[2022-01-15 12:07] yangwao opened #1841 "Extract buying logic to utils"
To make some more versatile and future components, extract all actions logic to `shoppingActions.ts`

https://github.com/kodadot/nft-gallery/blob/main-nuxt/components/rmrk/Gallery/AvailableActions.vue

Once it's done
- #1840 could be made

[2022-01-15 12:14] yangwao opened #1842 "Remove hover card trigger from right top profile navbar"
Actually, we can disable it here because it's misleading then for the user

https://user-images.githubusercontent.com/5887929/149621341-8e148f2c-478a-486e-a692-5c29eec3699a.mov

ht @jkdizajn

[2022-01-15 12:16] prachi00 commented on #1842
@yangwao I'll do this

[2022-01-15 12:18] #1251 closed

[2022-01-15 12:18] yangwao commented on #1060
/giphy time for some flex

[2022-01-15 13:08] #1612 closed

[2022-01-15 13:15] #1726 closed

[2022-01-15 13:15] yangwao commented on #1060
main branch for stable release
nuxt-mark as for production j/k w vikiival
archive rmrk-lite and old-spa time to say good bye
keep main-nuxt as beta channel so it can be still default branch tho to track issue and issues closes automatically

from
- #1726

[2022-01-15 13:44] yangwao opened #1844 "Service notice of renaming branch main-nuxt to main"
@kkukelka @roiLeo @vikiival

![image](https://user-images.githubusercontent.com/5887929/149623833-0e374fdd-e9ad-44f4-8661-19fe5f1f6fd3.png)

[2022-01-15 13:44] #1844 closed

[2022-01-15 13:46] yangwao opened #1845 "For archive purposes merge old-main-spa into main"
Somehow there were tons of conflicts and for keeping the tracking records in the main branch, would be nice to merge /spa folder in one commit and in the second commit delete it, so we can remove that branch and have cross git history between branches recorded.

This would help avoid people who have old fork to make accidentally wrong pushes

- [ ] back merge main-spa into main
- [ ] remove spa/ f

[2022-01-15 13:48] yangwao commented on #1060
If someone has free time, we have some git challenge https://github.com/kodadot/nft-gallery/issues/1845

[2022-01-15 13:48] #1060 closed

[2022-01-15 13:54] yangwao commented on #1613
continue to #1793

[2022-01-15 13:54] #1613 closed

[2022-01-15 14:00] yangwao commented on #1774
back in `old-main-spa` we've had component like Facts -- https://github.com/kodadot/nft-gallery/blob/262d4ec9a9d66a2521a14a6dc6a714abf12cf972/src/components/rmrk/Gallery/Item/Facts.vue
 showing stuff IPFS hash and I recall somewhere I've seen someone is showing metadata to the user
Would be interesting to help users in funky easy way to peak on data from ipfs hash or so
Maybe showing content of th

[2022-01-15 14:07] kkukelka commented on #1844
@yangwao do existing pull requests need to be updated in any way or are they now being merged into main automatically?

[2022-01-15 14:14] yangwao commented on #1844
that's automatically.

Actually found that best is to clone repository as new as github toast did not expect there was previous branch at `main` :D

[2022-01-15 14:29] yangwao commented on #1844
and i've upgraded https://github.com/kodadot/nft-gallery/blob/main/FIRST_TIME.md#quick-setup--%EF%B8%8F

[2022-01-15 14:31] yangwao opened #1846 "optimize git tree & history pruning"
If someone feels handsome on this task, let's try to optimize, 28M seems quite a lot for what we have tho

[code]

[2022-01-15 14:39] yangwao commented on #1844
how to sync your fork https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork

[2022-01-15 14:50] yangwao opened #1847 "Mastery of on-chain data v1.1"
We should add new data views and extract a few more on-chain data views for users

![image](https://user-images.githubusercontent.com/5887929/149626156-53a5361e-5160-4963-a01f-a5bf60cfec89.png)

- kodadot/nft-gallery#1818
- kodadot/nft-gallery#1548
- kodadot/nft-gallery#1496
- kodadot/nft-gallery#1386
- kodadot/nft-gallery#1285
- kodadot/nft-gallery#1236
- kodadot/ideas#16
- kodadot/ideas#7

[2022-01-15 14:52] #1793 closed

[2022-01-15 14:54] #1836 closed

[2022-01-15 15:03] yangwao opened #1848 "Spotlight sorting made through backend - Rubick"
Following here https://github.com/kodadot/nft-gallery/pull/1815 would be nice to have sorting done on Rubick, which mean not sorting on the client but on the backend

- https://github.com/kodadot/nft-gallery/pull/1815
- https://github.com/kodadot/rubick/pull/18

[2022-01-15 15:09] yangwao commented on #1830
yeah will keep it eventually monitoring, we will see :)
![image](https://user-images.githubusercontent.com/5887929/149626665-dcd72099-90c6-431a-a605-9901232daf58.png)

[2022-01-15 15:20] yangwao opened #1849 "Add on-chain numbers on artist profile"
On artists profile, put nice numbers to add show more on-chain data as we do on top of collection https://kodadot.xyz/rmrk/collection/086b3cff289d887136-QIAN

- Sold
- Unique owners
- Total minted
- Volume of sold

![image](https://user-images.githubusercontent.com/5887929/149626901-6751b22e-f816-4958-b35a-135c3f570d5c.png)

### Ref
- inspire from spotlight queries
- inspire from collection querie

[2022-01-15 15:22] yangwao opened #1850 "Rework collection insights using SubSquid"
Probably would be best to write resolver to https://github.com/kodadot/rubick
OR
you can use https://github.com/subquery/documentation/blob/master/docs/query/aggregate.md

## Test
- https://kodadot.xyz/rmrk/collection/086b3cff289d887136-QIAN
- https://kodadot.xyz/rmrk/collection/0a8ce195286c168f19-DONKEY
- https://kodadot.xyz/rmrk/collection/e0b9bdcc456a36497a-RMRKBNNRS?tab=activity

![image](http

[2022-01-15 17:49] atharva3010 commented on #1596
I can do this. I'll need the guild `id` of the server to be able to fetch data relevant to the discord server, can you please provide me with that?
The steps to find the guild id is:

The API call that we'll use is: `GET/guilds/{guild.id}/preview`
https://discord.com/developers/docs/resources/guild#get-guild-preview

[2022-01-15 22:08] kkukelka commented on #1742
@yangwao report in Discussion #1851

[2022-01-16 04:55] AndreyGrin commented on #1766
![test-outline-with-bg](https://user-images.githubusercontent.com/2453346/149647794-db6a47af-9613-4515-8acc-a7fb9ea25bef.png)
![test-small-outline](https://user-images.githubusercontent.com/2453346/149647799-4cce2ff9-0df8-4d63-a9b6-6e40ea8bc9cb.png)
![test-full-outline](https://user-images.githubusercontent.com/2453346/149647803-d0d54981-81be-42ba-b49f-a3a695d1e921.png)
I've tried these 3 options.

[2022-01-16 07:42] kkukelka commented on #1604
@cryptodamsky any updates on this? I would be glad to implement your updated FAQ items. Just give me a heads-up when you are ready

[2022-01-16 09:37] yangwao commented on #1844
Added to FIRST_TIME

https://github.com/kodadot/nft-gallery/blob/main/FIRST_TIME.md#notice-for-contributors-before-15012022-%EF%B8%8F

[2022-01-16 10:33] yangwao opened #1854 "Create video how to deploy your instance of KodaDot"
Would be nice if someone would do way how to setup KodaDot with ease on Netlify/CloudFlare

- English native
- well-articulated with studio mic
- youtube link

### Ref
- #1397 would be good to be done first

[2022-01-16 10:56] yangwao opened #1856 "Parametric and ephemeral NFTs"
Would be nice to have NFTs which are each time as new,
on every render,/requests NFT would look like new one

- leverage KV workers/durable objects
- DM me for more details
- probably use SVG
- create IDE/framework to mint this kind of NFTs
- way to add authors/crafts entropy to mint it

### Ref
- inspiration https://flat.badgen.net/

[2022-01-16 10:58] prachi00 commented on #1814
@roiLeo @vikiival not sure about the last bullet point here, any idea if it can fixed or not?

[2022-01-16 11:49] yangwao opened #1858 "Add code static analysis tools & workflows"
There is not enough static analysis in the room, who we should invite for a drink at bar?

- [ ] CodeClimate
- [ ] Coveralls ?
- [ ] Codacy
- [ ] CodeCov ?
- [x] DeepSource --- so far autofixes seems interesting.
- [X] [DeepScan --- does it do anything at all?](https://deepscan.io/dashboard/#view=project&tid=13903&pid=16948&bid=372223)

Any suspect from this list seems conscious? https://github.co

[2022-01-16 12:23] yangwao opened #1861 "git hooks"
which pre-commit git hooks we should have?

- prettier probably https://prettier.io/docs/en/install.html#git-hooks
- linter?

what's else?

[2022-01-16 13:13] onerawartist commented on #1503
@vikiival @yangwao ??

[2022-01-16 13:35] #1804 closed

[2022-01-16 13:35] #1842 closed

[2022-01-16 13:42] yangwao opened #1868 "Setup prettier github action"
Probably this one?

https://github.com/marketplace/actions/prettier-action

[2022-01-16 16:40] rchovatiya88 commented on #1503
@onerawartist https://medium.com/@ronchoqa/how-to-write-test-cases-to-improve-software-quality-f0c05c99ee3c

[2022-01-16 17:35] yangwao commented on #1814
I guess there is some await which seems blocks whole UI

[2022-01-16 18:10] vikiival opened #1869 "KodaDot stuff that needs to be resolved"
- [x] Merge latest main to the VR
- [x] Test and deploy rubick#18

[2022-01-16 18:20] prachi00 commented on #1814
@yangwao maybe we can create this one as a separate issue, as it isn't probably related with the history component

[2022-01-16 19:44] yangwao opened #1872 "Generate documentation of function"
I recall there was some co-pilot styled NLP which could generate documentation of the function

it could very help us to understand code by anyone who is coming later in the game

[2022-01-16 19:44] yangwao opened #1873 "(JS-D1001) Documentation comments not found for functions and classes"
I recall there was some co-pilot styled NLP which could generate documentation of the function

it could very help us to understand code by anyone who is coming later in the game

## Description
It is recommended to have comments just before or immediately at the start of a function or class declaration/expression so that anyone who reads the code understands the purpose of the particular function

[2022-01-16 19:44] yangwao commented on #1872
Continue to #1873

[2022-01-16 19:44] #1872 closed

[2022-01-16 19:54] yangwao opened #1875 "Leverage proxy accounts plus Twitter oauth"
Use Twitter to auth users and give them the option to mint transactions on behalf kodadot_foundation account which would cover

What about the serverless function that could generate private keys on behalf of users

Whenever in need, users could claim that private key we would try deliver their private key in encrypted form and delete that private key from kv/durable objects

### Ref
- #1722
- htt

[2022-01-16 20:37] yangwao commented on #1766
Yup let's go with first tho :)

also, seems previews are not generated since 13/1  https://twitter.com/hashtag/KodaDot?src=hashtag_click&f=live

[2022-01-17 04:49] AndreyGrin commented on #1766
was there any changes in the code regarding meta tags?
Looks weird, when I share this link https://kodadot.xyz/rmrk/gallery/10997530-8000262b13545ea72d-MPUNKS-META_PUNK_004-0000000000000008 it doesn't show preview but if I just open link from og:image tag https://og-image-green-seven.vercel.app/Meta%20punk%20-%20%23004.png?price=0.1960KSM&image=https://kodadot.mypinata.cloud/ipfs/bafkreib6qyr7w6tb

[2022-01-17 07:25] roiLeo commented on #1846
[code]

<img width="567" alt="Capture d’écran 2022-01-17 à 8 23 38 AM" src="https://user-images.githubusercontent.com/9987732/149725442-b423affa-7339-4e74-ba35-4a1fbfdfd81c.png">

[2022-01-17 10:47] vikiival opened #1879 "Tracking issue for ☁️🔥🏞"
https://github.com/kodadot/bao/issues/1

[2022-01-17 12:04] vikiival commented on #1869
@rchovatiya88 the issues are resolved but:
<img width="652" alt="Screenshot 2022-01-17 at 13 01 45" src="https://user-images.githubusercontent.com/22471030/149766415-2a7c5ed7-348b-4de0-83e8-5640a94bef1f.png">

looks like the model is failing

<img width="1680" alt="Screenshot 2022-01-17 at 12 59 30" src="https://user-images.githubusercontent.com/22471030/149766440-8e939d44-1f6c-441f-864e-7bc707771

[2022-01-17 12:22] vikiival commented on #1869
@roiLeo I made a small change in your PR https://github.com/kodadot/rubick/pull/18/commits/df2fa6de6ec0bbd3fff6c3f7f8ac3d31f7a3ab1e

[2022-01-17 12:26] #1869 closed

[2022-01-17 12:53] cryptodamsky opened #1880 "When click on "create" "permafrost" now i got no other options and the page behavior changes"
### What happened?

Went to https://kodadot.xyz/, clicked on "create", chose "permafrost", now when i reload the page i dont have any other create possibilites, just "classic" which takes me to https://kodadot.xyz/permafrost/create. Reloading the page doesnt work. After i close the page and load it as new, it's still the same like i described. When i click my on "collections" or "gallery" or "prof

[2022-01-17 13:06] yangwao commented on #1766
@kkukelka can speak about some #1790

[2022-01-17 13:13] yangwao commented on #1868
Seems like bots having friendly fire https://github.com/kodadot/nft-gallery/pull/1881#issuecomment-1014517882

Turning off from deep source Prettier and keep watching https://github.com/kodadot/nft-gallery/commit/19f73ecc92436ce6a2ce505d8f04413e4c867402

[2022-01-17 14:12] yangwao opened #1887 "Hide disabled pagination buttons"
Let's remove pagination buttons if they are disabled.

- Collection detail
- Artist tabs
- where else?

https://kodadot.xyz/rmrk/u/EzZjBjv9bRPYJEbUdijzgjb9VMSqrqwx2eqnfjQcY5YvXCk?search=&listed=true

![image](https://user-images.githubusercontent.com/5887929/149785037-dc2f0801-853c-4fe4-a303-9d5a40049e50.png)

![image](https://user-images.githubusercontent.com/5887929/149784883-128c6716-9a3e-4fa1-

[2022-01-17 14:20] prachi00 commented on #1887
@yangwao I'll do this

[2022-01-17 14:21] yangwao commented on #1706
Plus would be nice to figure out how to play music on background?
ps: spotify keeps stopping it tho. Maybe just play it from the browser and pipe it to audio input?

[2022-01-17 14:40] yangwao opened #1889 "Rewrite deployment of functions from Netlify to Cloudflare KV workers"
We would need to migrate our Pinata implementation right away to join it with implementing Estuary and (wranglers) kv workers from Cloudflare

It was mitigate here once we made deploy https://github.com/kodadot/nft-gallery/pull/1853/files#diff-0545e2a376463878833d723ae342d6ce923a4fdc919623bf3cb001e7cb1dec06R6

but that's a temporary hotfix.

### Ref
- #963

[2022-01-17 14:53] yangwao opened #1891 "Language translation reward scheme"
Once we will have done #1506 we can start pushing translation movement up again

Each contribution **needs at least two reviewers from the same language native person**.
For the purpose to be fast approved, get your language-native friend around.

- $ -- update existing language, minor tweaks with significant upgrades, rephrasing etc
- $$ -- introducing a whole new language

[2022-01-17 15:26] yangwao commented on #1073
Ref #1858

[2022-01-17 15:29] #1073 closed

[2022-01-17 15:29] yangwao commented on #1440
We are getting connected with huntr.dev soon.

[2022-01-17 15:31] yangwao opened #1894 "New deployment, Narnia of new Fun"
https://securityheaders.com/?q=https%3A%2F%2Fkodadot.xyz&followRedirects=on

We've had A back at Netlify, time to fix this stuff again on Cloudflare

From Netlify.toml -- https://github.com/kodadot/nft-gallery/blob/main/netlify.toml
[code]

![image](https://user-images.githubusercontent.com/5887929/149797929-761a6b49-9b29-4170-b5e2-8737374735ad.png)

Seems on https://beta.kodadot.xyz it's working

[2022-01-17 15:36] cryptodamsky commented on #1706
i kinda like this one :) https://www.youtube.com/watch?v=g6hY7dB54bc

I'm not sure if it would be good to have one beat repeating, although i found some pretty ones, it'll get annoying after time.
With this youtube mix, it seems there are no complaints to it, wanna give it a shot?

Also, i kinda like the typatone deepologic sent, just paste ton of text and let it play :D

[2022-01-17 15:38] cryptodamsky commented on #1706
Will try it asap, maybe we can jump for a second to the discord channel and test it if it works. I think i might have a way, but would make me possible to only broadcast.

[2022-01-17 15:49] roiLeo opened #1897 "long Emotes list on nft"
on `/rmrk/gallery/6802639-24d573f4dfa1d7fd33-KAN-KANL-0000000000006001` I came across a big list of Emotes (Appreciations), some of them where duplicated when they should be grouped

![Screenshot 2022-01-17 at 16-45-02 Limited Edition Kanaria Egg](https://user-images.githubusercontent.com/9987732/149800339-5353ddab-4643-4643-afd2-4131df6ce6da.png)

#### Possible solution
- show a certain amount of

[2022-01-17 15:52] prachi00 commented on #1897
@roiLeo @yangwao I'll try to work on this

[2022-01-17 15:55] yangwao opened #1898 "Should be those assets in /static folder?"
I'm curious if we could have this in `static/` folder as we don't manipulate anything with them and we could save time  (seconds) on builds without not manipulating and just copy from static folder?

![image](https://user-images.githubusercontent.com/5887929/149801636-dd466a05-c37b-4f17-8134-a5a4778c7646.png)

[2022-01-17 16:29] #1887 closed

[2022-01-17 16:30] yangwao opened #1902 "Preloader text seems overflowing"
@prachi00 seems like bug and sometimes at longer facts it's even more overflowed 👀

![Screenshot 2022-01-17 at 17 29 06](https://user-images.githubusercontent.com/5887929/149806989-5e299ac4-480d-4d68-9134-1fb2da565038.png)

[2022-01-17 16:38] yangwao commented on #1894
I would like to try it but seems to be in Cloudflare pages beta program, which introduced another glitch.
Patiently waiting for their team to get back to me.

[2022-01-17 16:45] yangwao commented on #1596
I guess it's this one?
`840514076538830888`

seems matching with widget https://github.com/kodadot/nft-gallery/blob/main/components/landing/Landing.vue#L72

[2022-01-17 17:02] prachi00 commented on #1902
@yangwao yeah probably because we fixed height and width, I'll try increasing the height more

[2022-01-17 18:23] kkukelka commented on #1766
@yangwao i believe we don't have a baseUrl env variable set for production? it works fine on beta though
<img width="881" alt="Screenshot 2022-01-17 at 19 21 37" src="https://user-images.githubusercontent.com/17953978/149821205-0f7d460f-3c5d-4c3b-b30c-c301aceadae4.png">

[2022-01-17 19:24] jkdizajn commented on #1706
I found this tutorial, just need to test it to see if you can talk into it...
[How To Play Music in Discord](https://playerassist.com/play-music-discord/)
or this is probably what we are looking for>>>  [How to Bring Music Into Your Live Stream Using VoiceMeeter Banana](https://www.youtube.com/watch?v=Z7WUabMlKYQ)

[2022-01-17 19:36] atharva3010 commented on #1898
Yes and should.

[2022-01-17 20:22] vikiival commented on #1889
giving p1 label because app is not  working on cf due to cors errors

[2022-01-18 06:53] yangwao opened #1906 "Go for unlicense type of license"
Hence we are having MIT License would be interesting as we are doing this as public good to switch to unlicense

https://twitter.com/jakerumbles/status/1482945484671049731?t=UiIrVN5hhl1e6RMV34lRfg&s=19

[2022-01-18 07:18] AndreyGrin commented on #1766
Facebook open graph debugger shows this:
<img width="1051" alt="image" src="https://user-images.githubusercontent.com/2453346/149888747-9ccd32b5-4a37-4f1e-9a89-3e555aff8b3b.png">
page itself has correct `og:image` content
<img width="557" alt="image" src="https://user-images.githubusercontent.com/2453346/149888903-cf357eb0-adc5-453b-8e19-02472e35e71a.png">
https://og-image-green-seven.vercel.app/T

[2022-01-18 07:30] kkukelka commented on #1766
With the current setup I cannot see how we could do it otherwise. Maybe there is an option with cloudflare images, but we would need to rerender the image everytime the price of an nft changes.

Or can you somehow communicate to opengraph crawler when metadata is complete?

[2022-01-18 10:18] yangwao opened #1910 "Move toggles from Simple Mint to settings"
We would like to make it as simple as possible for newcomers

### Move toggles from simple mint to be moved to settings like
- cover costs
- making carbonless NFTs
- use arweave (default off till we will deploy permafrost)

### Keep
- NSFW switch could stay
- Copyright ownership as well

### Bonus

Put submit button on the bottom

![image](https://user-images.githubusercontent.com/5887929/14991737

[2022-01-18 10:23] cryptodamsky commented on #1604
"1": "What are NFTs?"
"NFT or non-fungible tokens refer to unique assets, which are stored on blockchain and maintain unique ownership."

"2": "What is minting?"
"Minting is a process in which your cryptocurrency wallet and blockchain communicate together and make you able to create nfts."

"3": "How can i mint nfts?"
"In the left upper corner, you click on "[create](https://kodadot.xyz/rmrk/creat

[2022-01-18 10:36] yangwao opened #1911 "Recommend dimension for picture for best experience"
I guess we should add a simple mint way to recommend users for best experience what ratio dimension picture should have

### Case
It's cutted from top and bottom as picture is more narrow

https://beta.kodadot.xyz/rmrk/detail/11015267-0E76E3AC15B4C1FA1E-METAHOURS-META_HOURS_3_1-0000000000000001

vs
![image](https://user-images.githubusercontent.com/5887929/149921081-aaa561cd-95f6-45d5-9f6a-d052773

[2022-01-18 10:40] kkukelka commented on #1910
on it!

[2022-01-18 11:32] yangwao commented on #1449
This is done I guess? @roiLeo

[2022-01-18 11:52] yangwao opened #1915 "Proof of human in KodaDot using Estonian e-residency smart ID"
To increase odd that account is not a bot or scammy copy minters, we can leverage existing smart cards, as Estonia has
Their verification process is pretty strong so would be nice to leverage that.
We can think put that signature in identity or based on that raise rewards for the people participating in KodaDot

[code]
![image](https://user-images.githubusercontent.com/5887929/149932416-c3fc7b30-d

[2022-01-18 12:32] MubarakSULAYMAN commented on #1776
@yangwao, can you elaborate on this, please?

[2022-01-18 12:42] MubarakSULAYMAN commented on #1841
On it!

[2022-01-18 12:50] MubarakSULAYMAN commented on #1736
Quick one @yangwao :
- Is that image the preferred UI for this implementation?
- How do you determine strongest collectors on artist profile?

[2022-01-18 14:40] yangwao commented on #1522
@arcadioramos sure let's do it

[2022-01-18 14:50] roiLeo opened #1918 "Show which user has sent an emote to nft"
### Is your feature request related to a problem?

I'm always frustrated when someone react on my NFT but I don't know who this is.

### Describe the solution you would like

I would like to see, on hover emoji, to show me wich identity reacted to the nft.

### Describe alternatives you have considered

Logic could be in `EmotionList` component & we can reuse `IdentityPopover`

### Screeenshots

P

[2022-01-18 16:52] #1902 closed

[2022-01-18 17:06] yangwao opened #1921 "History component v1.1.1"
_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/1814#issuecomment-1015625628_

[2022-01-18 17:08] #1814 closed

[2022-01-18 17:57] yangwao commented on #1353
has posted one really good and let's close v1 for this one for now
https://kodadot.xyz/rmrk/gallery/10207184-F4F2348BD911773F76-TD-KODA_INFINITY_12-0000000000000012

https://discord.com/channels/840514076538830888/915236766640898119/932561004871684096

and later we can turn on another contest :)

[2022-01-18 18:29] yangwao commented on #1894
okay

![image](https://user-images.githubusercontent.com/5887929/149997221-ed92ee06-ad81-4ea0-966c-5b8cdd03a97f.png)

[2022-01-18 18:39] yangwao commented on #1894
Playing with #540

[2022-01-18 18:48] #1894 closed

[2022-01-18 18:48] yangwao commented on #540
Closed in #1922

[2022-01-18 18:48] #540 closed

[2022-01-19 03:56] rchovatiya88 commented on #1854
Step 1 -
https://youtu.be/fr5KddMBvMg

[2022-01-19 06:06] pandasamanvaya commented on #1655
Hmm, I noticed something strange. If you are on the 10th page of a search and search for something new, you go to the 10th page of the latest search result. Happens for collection as well.

Gallery
----------
https://user-images.githubusercontent.com/44033666/150073410-1060e63d-208b-4206-9bac-deac78d3dd5e.mp4

Collections
---------------
https://user-images.githubusercontent.com/44033666/150073443

[2022-01-19 08:07] #1848 closed

[2022-01-19 09:59] vikiival commented on #1678
@prachi00 any update with this?

Otherwise I will refactor it
need for #1925

[2022-01-19 10:04] prachi00 commented on #1678
@vikiival I am kinda struggling with this, if you can, you can go ahead then I guess.

[2022-01-19 10:31] yangwao opened #1928 "Add Option to change color of background, circles and languages"
Would be nice if someone could take this and play around.

### Spec
- Probably make PR to https://github.com/githubocto/repo-visualizer/
- Make an option for GitHub actions to set the background colour, circles, language-colors.json by own custom overwrite per language
- Celebrate OpenSourceHelpsOpenSourceToThrive
- updated our https://github.com/kodadot/nft-gallery/blob/main/.github/workflows/dia

[2022-01-19 10:42] prachi00 commented on #1897
@roiLeo the emojis that are same they supposedly have different keys, that is why they arent getting grouped together
<img width="584" alt="Screenshot 2022-01-19 at 4 11 00 PM" src="https://user-images.githubusercontent.com/39299315/150114549-86ff7749-17d1-4f13-a991-fd4ff197c73c.png">

[2022-01-19 10:47] yangwao opened #1929 "Spotlight columns sorting which would need to be fixed later"
Spotlight columns sorting which would need to be fixed later

### Column not working
- `unique` => message: "syntax error at or near "ASC"" (reserved sql term)
- `uniqueCollectors` => message: "column \"uniquecollectors\" does not exist"
- `count` => message: "column "count" does not exist"

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/1924#issuecomment-101631078

[2022-01-19 10:50] yangwao opened #1930 "Async pin images to Cloudflare images during minting"
- Async pin images to Cloudflare images during minting
@vikiival would know more

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/1925#issuecomment-1016313030_

[2022-01-19 10:50] #963 closed

[2022-01-19 11:05] yangwao commented on #1737
🥳 😘

![image](https://user-images.githubusercontent.com/5887929/150117491-52f456ea-350a-4448-a7f1-9f41df48eae4.png)

Plus we have 30 slots for stickers, higher audio quality and a custom invite link https://discord.gg/kodadot

![image](https://user-images.githubusercontent.com/5887929/150117528-bf4790db-2385-4a31-a6f9-8329238db121.png)

[2022-01-19 12:01] yangwao commented on #1655
I've added bug-hunt 🏷, nothing more I can do it rn.
If you would love to crack on that, let's go, bounty is there! :)

[2022-01-19 14:06] yangwao opened #1933 "Embed Contributing.md & First_time.md to kodadot web"
I guess for a single point of truth (file) and SEO reasons, would be nice to embed currently existing Contributing.md and First_time to help easily onboard developers.

@roiLeo suggests https://content.nuxtjs.org/
The best would be probably to leverage the existing markdown module we are using? [vue-markdown-render](https://github.com/kodadot/nft-gallery/blob/main/package.json#L94) I guess?

route

[2022-01-19 14:06] yangwao commented on #361
Continue to #1933

[2022-01-19 14:06] #361 closed

[2022-01-19 14:20] prachi00 commented on #1933
@yangwao I'll check this

[2022-01-19 14:56] yangwao commented on #1654
It's published https://medium.com/kodadot/road-to-kodadot-v2-recapping-the-last-chapter-of-2021-9709fb4f3ee7

Perfect, I’ve sent the payout https://kusama.subscan.io/extrinsic/0xdf8dbbb1fbecbf03ed0be47cf9e40117bacb69b142004ce40925a2b8629e7887

Let’s grab another issue and get rewarded!
https://github.com/kodadot/nft-gallery/issues/

[2022-01-19 14:56] #1654 closed

[2022-01-19 16:37] prachi00 commented on #1933
Ill check this out

[2022-01-19 16:58] mattreallycodes commented on #1933
Let me know if help is still needed on this

[2022-01-19 17:58] vikiival opened #1940 "Meta_hours_3 issues"
- [ ] Possibility to burn a collection
- [ ] Ability to move NFT from one collection to another

[2022-01-19 18:05] kkukelka commented on #1604
Sweet! i will implement the questions tomorrow.

- Regarding ramp: yes lets just leave it at question 6 for now
- regarding tutorials: i'll just delete the tutorial sections for now and create a followup issue that can be started once tutorials are finished

[2022-01-19 18:23] yangwao opened #1941 "Remove Permafrost as it introduces bug for rewriting to other chains"
Breaks collections and gallery

https://user-images.githubusercontent.com/5887929/150191164-bcc092ea-ba20-452b-a24d-bb6fb4bd3a74.mov

[2022-01-19 18:28] yangwao opened #1942 "Cookie banner seeking shadow"
Probably add shadow for banner and for buttons to feel like having depth?

![image](https://user-images.githubusercontent.com/5887929/150191919-eb0b6d61-4214-42f2-b4a0-dd6c5de5a5a3.png)

[2022-01-19 18:29] prachi00 commented on #1942
@yangwao I'll do this

[2022-01-19 18:36] #1941 closed

[2022-01-19 18:39] yangwao opened #1944 "Remove hover card at gallery item detail at user address"
We don't need to show it at gallery item detail

![image](https://user-images.githubusercontent.com/5887929/150193250-4ce83650-40a2-4dbb-87b5-e3256d6874b6.png)

[2022-01-19 18:41] cryptodamsky commented on #1880
@vikiival

[2022-01-19 18:42] #1944 closed

[2022-01-19 19:02] yangwao commented on #876
- A good idea would be having a curated feed based on your holdings
- Showing artists NFT by holding their "social" token on statemine

###
- #744

[2022-01-19 19:07] #1880 closed

[2022-01-19 19:22] yangwao commented on #1384
Add effect once buy is confirmed.
It could be K logo https://github.com/kodadot/kodadot-presskit/tree/main/v3 slowly flying all over the screen, many times probably?

Like from OpenTTD when you were building road

https://youtu.be/ImfkfZZga48?t=143

https://user-images.githubusercontent.com/5887929/150199020-14bba745-68c3-4905-a6bd-73c689cfe11f.mov

[2022-01-20 09:32] yangwao opened #1959 "Write article about 🚅 all speed-up improvements we done for v2.2"
Would be nice to edit this issue and add all related stuff

- Cloudflare images
- removing blocking sync operations https://github.com/kodadot/nft-gallery/pull/1950
- server-side generated
- Clouflare serving edge servers
- Cloudflare kv workers
- Estuary
- SubSquid
- prefetch images #1512 #1727

[2022-01-20 09:35] codiini commented on #1959
Hi @yangwao I'm a technical writer. I'd like to take this up

[2022-01-20 09:37] yangwao commented on #1959
Sure, let's try

[2022-01-20 09:38] yangwao commented on #1959
@codiini hint, all issues with label v2.2 are most probably part of speed up stuff https://github.com/kodadot/nft-gallery/labels/v2.2
check for closed ones as well and those where is working in progress https://github.com/kodadot/nft-gallery/issues?q=label%3Av2.2+is%3Aclosed

[2022-01-20 09:44] codiini commented on #1959
@yangwao Noted. How do I go about writing and submission. Should I write in markdown or a text editor and who should I tag for reviews?

[2022-01-20 09:55] yangwao opened #1960 "Time visit dog shelter"
Seems the review dog with eslint has some issues?
Probably time to fix our workflow and get the green check working:)
Happened on this PR
https://github.com/kodadot/nft-gallery/pull/1952

![image](https://user-images.githubusercontent.com/5887929/150315635-32b763e7-87e7-4752-8287-19155cfcc976.png)

[2022-01-20 10:06] roiLeo commented on #1960
little angel gone too early, I can handle it, it's time to bring him back to the shelter.

![](https://i.pinimg.com/originals/84/96/67/8496676214f35c844b761f8b6e0b9a43.jpg)

[2022-01-20 10:10] yangwao commented on #1960
/giphy landing dog

[2022-01-20 10:17] kkukelka opened #1962 "FAQ Followup - Add tutorial links and concise ramp information"
### **ON HOLD until tutorials are finished**
Followup issue regarding #1604

According to this comment

extend FAQ question number 3 in the following manner
[code]
1. and add tutorial interlinking

2. new information for ramps (maybe separate faq entry)

[2022-01-20 10:37] yangwao opened #1964 "Transform went to pokopaliscte"
Seems to transform is broken as can't open URL https://kodadot.xyz/transform/

https://user-images.githubusercontent.com/5887929/150322723-13b8ad17-c4de-4b00-84a9-c72098a722a1.mov

[2022-01-20 10:50] yangwao opened #1965 "Write article about our past, present and future storage options"
- With the recent merge start using https://estuary.tech instead of Pinata
- we will be introducing a way to store your NFTs using Arweave with using Permafrost
- Compare traditional other NFT marketplaces using AWS S3 for storing pictures
- Explain way how we are pre-caching JPEGs and other multimedia over CloudFlare images
- How we keep it decentralized and distributed using IPFS & Filecoin (Est

[2022-01-20 11:04] #1960 closed

[2022-01-20 11:13] kkukelka commented on #1964
I'll take a look at it! 🤖

[2022-01-20 13:47] yangwao commented on #1965
Yup, yes sir!

[2022-01-20 13:48] yangwao commented on #1959
Write in medium and then make a submission to the https://medium.com/kodadot
I guess @XyloDrone can help proofread that once it's ready

[2022-01-20 14:09] yangwao commented on #1500
then adds schedule probably?

[code]

[2022-01-20 14:20] yangwao commented on #1500
Configure file is at https://github.com/kodadot/nft-gallery/blob/renovate/configure/renovate.json

[2022-01-20 14:22] yangwao commented on #1500
ignore vue-polkadot & polkadot

[2022-01-20 15:03] yangwao commented on #1500
[code]

[2022-01-20 15:06] yangwao commented on #1742
Perfect, I’ve sent the payout https://kusama.subscan.io/extrinsic/0x3173d40fc5e04b9d2817b23b33236f1c0e2434300090258438a2bd5fbebbabfd

Let’s grab another issue and get rewarded!
https://github.com/kodadot/nft-gallery/issues/

[2022-01-20 15:06] #1742 closed

[2022-01-20 16:50] renovate[bot] opened #1969 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `.github/renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting String near      },
  `

[2022-01-20 16:55] renovate[bot] opened #1972 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

These dependencies are deprecated:

| Datasource | Name | Replacement PR? |
|------------|------|--------------|
| npm | `@vitest/coverage-c8` | ![Unavailable](https://img.shields.io/badge/unavailable-orange?style=flat-square) |
| n

[2022-01-20 17:05] yangwao opened #1974 "Set Github Actions building"
Currently, there is this config, BUT would be perfect to abstract Netlify builds where Netlify serves to check if everything is OK!

With Github Actions as it's free, we don't need to pay for every build success or fail tho.

### Actions to do
- Configure Github Actions build as workflow, really basic one, just to tell us if stuff builds or not
- Add to Renovate bot config `[skip ci]` to commit me

[2022-01-20 17:05] yangwao commented on #1500
Continue to #1974

[2022-01-20 17:05] #1500 closed

[2022-01-21 07:44] yangwao opened #1996 "Update to graphql ^16.2.0"
It's about time to update graphql to the newest possible.

[code]

It's would be good to check all queries if they're do alright and compare outputs before & after.

[2022-01-21 07:53] Dexxx3 commented on #1353
https://user-images.githubusercontent.com/95619333/150487972-72e545de-e7e1-4365-a634-9074b4109684.mp4

[2022-01-21 07:53] yangwao opened #1999 "Bump various dependencies"
Check if everything works in-app tho or when it could potentially harm previous application workflow or break something

[code]

### Ref
- https://github.com/kodadot/nft-gallery/pull/1995
- https://github.com/kodadot/nft-gallery/pull/1998
- https://github.com/kodadot/nft-gallery/pull/1997
- https://github.com/kodadot/nft-gallery/pull/1993
- https://github.com/kodadot/nft-gallery/pull/1992
- https:

[2022-01-21 07:53] Dexxx3 commented on #1353
https://user-images.githubusercontent.com/95619333/150488073-bc106b81-74f4-4e52-a6fb-54b5e952454f.mp4

[2022-01-21 08:00] Dexxx3 commented on #1353
![Pixelated Gif](https://user-images.githubusercontent.com/95619333/150488705-387a7f83-712b-4dbe-a9fc-a8bce42c2e36.gif)

[2022-01-21 08:00] Dexxx3 commented on #1353
![3D Smooth Gif](https://user-images.githubusercontent.com/95619333/150489077-3a8b1652-01e1-4d2c-944e-f830a74a0770.gif)

[2022-01-21 08:03] prachi00 commented on #1996
@yangwao I'll do this

[2022-01-21 09:35] jkdizajn opened #2002 "Mint not work "RefferenceError: Networ Error""
### What happened?

I try to mint a 3D file (GLTF) and I always get an error message... "RefferenceError: Network Error"
![obrázok](https://user-images.githubusercontent.com/81104034/150502021-f7246400-173e-4f6c-bc83-bbe86dda9f17.png)

### Please reproduce in steps

I send video

https://user-images.githubusercontent.com/81104034/150502176-2a7297f0-9c48-47b0-83e4-16fe2f14ce97.mp4

### Expected Beh

[2022-01-21 15:48] yangwao opened #2006 "Initial tests framework"
Everytime we upgrade something, we break something else, somehow, sometime, really unintentionally.

Would be nice to have first **end to end**
tests written for basic functionality.

Make it as GitHub Action, hence we have it for free.
Probably to run on every pull request probably.

### test cases
- simple mint
- actions (buy, list, consume, send, unlist)
- visual feeds - if feeds like collectio

[2022-01-22 06:27] yangwao opened #2008 "Add OSSF ScoreScard"
To more know how our open-source scores

### Ref
- https://github.com/marketplace/actions/ossf-scorecard-action
- https://www.zdnet.com/article/google-announces-scorecard-v4-in-partnership-with-github-and-openssf/

[2022-01-22 08:29] yangwao opened #2009 "Profile v2"
I guess it's around clock we would rework profiles a bit.

In anticipation of customization and personalization we would still lovely keep something for unified Interface about it

Anticipated changes would carry

- way how and what profile pictures shows - we are thinking making it part of KODA protocol to show you avatars
- banners - yes, we've got zestymarket who could be amazing partner on thi

[2022-01-22 09:50] yangwao opened #2012 "Failed Cloudflare pages builds 21/1/2022"
Seems Cloudflare Pages build bug has been finally escalated and waiting for a fix.

![image](https://user-images.githubusercontent.com/5887929/150633642-84614063-00f4-40fe-8537-e2853030ee24.png)

[2022-01-22 10:06] yangwao opened #2013 "KodaDot v0 API 📦"
To better integrate the stuff we've done in KodaDot,
we need provide external API to welcome more integrations

### Intents
- we would need an abstract package with breeze installation to your hackathon app
- easy understand readme and instructions
- great manual (gitbook documentation?)
- future-proof compatible `/v0` - `/v1` &c
- least breaking changes if possible
- put into [awesome-kodadot](ht

[2022-01-22 10:29] yangwao commented on #1353
We've decided with @Dexxx3 that he will take a step up the game and try to generate something more sophisticated, as his current work is in mp4 and we need more pixelated art to fit our current design. Will try use play in https://www.svgator.com/

Perfect, I’ve sent the payout https://kusama.subscan.io/extrinsic/0x2e5107af7ad8df93ab8e66415f7ffafdb51030ca8eed4bdc9704cdc872c99b72

Let’s grab anothe

[2022-01-22 10:29] #1353 closed

[2022-01-22 10:36] yangwao opened #2014 "pre-loader pixelized ms-dos candidates"
Our current preloader was generated https://loading.io/spinner/infinity/-infinity-dash-line-curve-rotate-cycle
Marketplace https://loading.io/spinner/

### Criteria
- something small in terms of size 50-70kb, lower better
- pixelizated
- SVG best or any savvy format for low bandwidth users

### Candidates
- https://loading.io/spinner/dna/-dna-biology-rna-biohazard-spiral-helix-spin-ball
- https://

[2022-01-22 11:16] yangwao opened #2016 "Add placeholder to airdrop at simple mint"
Add placeholder what's current formatting for airdropping stuff

[code]

![image](https://user-images.githubusercontent.com/5887929/150636294-ce06f9b7-f935-4651-be58-b48a0e7c2d26.png)

[2022-01-22 11:19] kkukelka commented on #2016
on it!

[2022-01-22 12:27] yangwao opened #2018 "Rework landing page a bit - add recent mints for sale"
### Spec
- remove from footer substack, telegram, reddit (as we don't maintain them right now) Pic1
- add to footer https://docs.kodadot.xyz as Documentation

[code]

![Screenshot_2022-02-06-20-11-41-11_40deb401b9ffe8e1df2f1cc5ba480b12.jpg](https://user-images.githubusercontent.com/5887929/152697428-9eeaa150-4c8b-4747-aa67-a699bd13e1f1.jpg)

###
Being done in #2172
- [x] add shadows to the buttons

[2022-01-22 12:28] vikiival commented on #2018
[code]

[2022-01-22 12:29] prachi00 commented on #2018
is there a design for this?

[2022-01-22 12:30] #1942 closed

[2022-01-22 12:32] #1604 closed

[2022-01-22 12:38] #1220 closed

[2022-01-22 12:39] #2016 closed

[2022-01-22 12:56] #1910 closed

[2022-01-22 12:59] yangwao opened #2022 "Show denomination in $ in transaction fees without clicking"
Things need to be polished in simple mint

- add 0.1 steps into the price
- show transaction fees denomination in KSM and dollars without clicking
- probably watch for new input every 3-5 seconds?
- move transaction fees label under button [click to create nfts]

![image](https://user-images.githubusercontent.com/5887929/150639164-65a32284-ec6e-4742-8115-ce98837908a0.png)
![image](https://user-ima

[2022-01-22 13:01] prachi00 commented on #2022
@yangwao I'll do this

[2022-01-22 13:05] yangwao commented on #1288
continue to #1706

[2022-01-22 13:05] #1288 closed

[2022-01-22 13:06] yangwao commented on #1706
We've used royalty-free Japanese music https://www.youtube.com/watch?v=MzgMBrtrFc4
it's calming and nurturing discussions

[2022-01-22 13:06] #1706 closed

[2022-01-22 13:06] yangwao commented on #1596
@atharva3010 any progress on this?

[2022-01-22 13:24] #1596 closed

[2022-01-23 09:25] yangwao commented on #1758
Always warming reply

[2022-01-23 09:29] yangwao opened #2025 "Search on mobile v1.1"
What's about the mobile 📱 interface for search?

![Screenshot_20220122-181403.jpg](https://user-images.githubusercontent.com/5887929/150648738-0bd89d25-3db1-4760-98be-de4573f29aab.jpg)

I guess for 📱 we should do a whole overlay, suggestions by google

![Screenshot_20220122-181650.jpg](https://user-images.githubusercontent.com/5887929/150648806-edb5be88-1856-42f4-afac-8078d05bbce1.jpg)

_Originall

[2022-01-23 09:49] kkukelka commented on #1999
On it.

[2022-01-23 10:08] yangwao commented on #2009
Suggestion from https://autocode.com/achievements/

![image](https://user-images.githubusercontent.com/5887929/150673656-1a7218f7-b2a6-4fad-8ab6-3d31aec75c6b.png)

[2022-01-23 10:13] yangwao opened #2026 "Use Discord as oauth for Portcullis"
We can qualify users with Discord oauth

![image](https://user-images.githubusercontent.com/5887929/150673778-8178c7c8-7355-45c5-b434-b16e08d41b2a.png)

[2022-01-23 10:21] yangwao commented on #2018
Not any, but I can be helpful to guide you! :)

![](https://tenor.com/view/wizard-magic-wand-dance-changing-colors-gif-17883390)

[2022-01-23 10:23] yangwao opened #2027 "Achievement board v0"
Would be nice to introduce a way to unlock achievements for new and existing members on KodaDot

Important would be drafting goals like
- Twitter follow
- like subscribe youtube
- Discord oAuth like #2026
- Read the guide and get a verified badge
- Gleam could be an inspiration here

Particular goals on KodaDot could be
- first mint, yay celebration 🥳
- first listed nft, perfect 🥰
- first 10-30 mi

[2022-01-23 10:27] cryptodamsky commented on #1962
So, i can see that there are some mistakes in the FAQ(some hyperlinks wrong etc) so i'll update those

and i've finished one tutorial and that is - Polkadot.js tutorial. We'll see how the review goes on discord and will create Issue regarding this soon.

Once proofed, i'll send questions that need to be updated along with functional hyperlinks. The tutorial will be uploaded on KodaDot youtube so o

[2022-01-23 10:34] yangwao opened #2028 "Write tests for our Graphql queries"
To become robust and antifragile during upgrading KodaDot, we need to start at least somewhere and would be super nice to have written tests for our current queries, it should not lot an of them but we have zero tests on them 😇

To help us to tackle this issue, invite your graphql warriors ⚔️ to help us through!

### Spec
- write testing grapqhl queries
- write scenarios
- make GitHub action on th

[2022-01-23 10:41] kkukelka commented on #1962
Yes, sounds like a plan 👍
Just comment on this issue here when everything is ready!

[2022-01-23 10:46] #1996 closed

[2022-01-23 11:17] yangwao commented on #2002
can you try if minting works on https://beta.kodadot.xyz for you?
We've pushed #2030 but doubt it was some fix there.
One thing is that it might your browser did not refresh new content 👀 As something like this was been already fixed on Simple mint

[2022-01-23 11:20] yangwao commented on #1972
Ref
- #1999

[2022-01-23 11:31] jkdizajn commented on #2002
Same problem

https://user-images.githubusercontent.com/81104034/150676319-ffa89ea7-2017-42d2-9692-628f069628d2.mp4

[2022-01-23 11:40] jkdizajn commented on #1737
I'm going for it :)

[2022-01-23 11:48] yangwao opened #2031 "Carefully remove unused components"
https://www.npmjs.com/package/vue-unused-components-checker

I've ran
[code]

but seems some components we are using, probably doesn't handle nuxt well? Are we using all from pages and well linked?

Anyway, let's check which we can drop as aren't used anymore.
![image](https://user-images.githubusercontent.com/5887929/150676794-f04913ac-d11c-4fe4-959d-57e43f2db120.png)

[2022-01-23 11:52] prachi00 commented on #2031
@yangwao I'll check this

[2022-01-23 11:53] #1969 closed

[2022-01-23 11:53] cryptodamsky commented on #925
Adding:

@mousedao
@polkadotmafia

[2022-01-23 12:05] yangwao opened #2036 "Are we using markdown-it library? If not, let's remove it"
I'm confused, by search result we are using markdown-it but it's not in package.json?

If it's not used, let's remove it.

Probably we are using `vue-markdown-render`

### Ref
- https://github.com/kodadot/nft-gallery/search?q=markdown-it
- https://github.com/kodadot/nft-gallery/blob/main/package.json#L105
- https://github.com/kodadot/nft-gallery/pull/2034

[2022-01-23 12:10] yangwao opened #2037 "Check if we need @vue/cli-plugin family"
@vikiival said it's bundled in @nuxt packages tho, let's review and remove unnecessary packages

https://github.com/kodadot/nft-gallery/blob/main/package.json#L109

[code]

### Ref
- https://github.com/kodadot/nft-gallery/pull/2035

[2022-01-23 12:29] roiLeo commented on #2036
We're using it currently to render markdown from `.json` in langDir files cf. https://github.com/kodadot/nft-gallery/blob/83f8ff91d30437023985ea4847ea597d7e73eb83/utils/config/i18n.ts#L8
ref in #1614 for i18n plugin config

[2022-01-23 12:37] prachi00 commented on #2037
@yangwao I;ll do this

[2022-01-23 12:39] prachi00 commented on #2031
yeah its not showing correctly since some of the components such as `<CookieBanner` are not imported but being used
instead of this, I'll check manually all the components and remove the unused ones, might take a little time tho

[2022-01-23 12:42] jkdizajn commented on #2002
Send log console
![obrázok](https://user-images.githubusercontent.com/81104034/150678899-34f0b573-81ae-4a7e-8f84-8e223be8119c.png)

[console-export-2022-1-23_13-40-19.txt](https://github.com/kodadot/nft-gallery/files/7920491/console-export-2022-1-23_13-40-19.txt)

[2022-01-23 13:02] kkukelka commented on #1999
just for reference

### @types/webpack, sass-loader, css-loader
Vue 2.6.2 only goes together with webpack 4 -> latest we can go is 4.41.32

-> Css-loader ^6.0.0 requires webpack 5 -> latest we can go is 5.2.7

-> sass-loader ^11.0.0 requires webpack 5 -> latest we can go is 10.2

### @intlify/vue-i18n-loader 
We use vue-i18n 8.27.0 -> The version for Vue I18n v8.x is now in @intlify/vue-i18n-loade

[2022-01-23 13:08] kkukelka opened #2039 "Use @nuxtjs/i18n in favour of vue-i18n"
I guess during migration to nuxt there was no transition from vue-i18n to @nuxtjs/i18n, even though the latter is included as a dependency already

Goal: Deprecate vue-i18n and reimplement via @nuxtjs/i18n 🏗️

Maybe the following dependencies can be removed too:
[code]

followup for #1999 #2038

[2022-01-23 13:10] kkukelka commented on #2039
I will gladly take a look at it since I'm already invested 👟

[2022-01-23 13:22] yangwao commented on #1999
Let's try to update it to latest at least :)

yes, that's what triggered me to investigate into cleanup that we are installing packages which aren't used or we can use Nuxt versions

[2022-01-23 13:22] cryptodamsky opened #2040 "Ambassador program"
### Is your feature request related to a problem?

We'd like to onboard some ambasadors from other nations to take care of native-speaking users. Since we have some channels in other languages that need moderation, we definitely want to work on this idea.

### Ambassador would do:

- take care of native users in your language
- translate KodaDot articles to your native language
- Build your local

[2022-01-23 13:41] #1999 closed

[2022-01-23 13:53] yangwao commented on #2002
Seems it's related to Firefox, in Chrome it works for me.

[2022-01-23 16:16] jkdizajn commented on #2002
Ok i found a bug.
The problem is that KodaDot can't upload 3D files. I didn't think it was a problem at all. As soon as I uploaded something else, in this case SVG, everything went fine by default.

Please check it out.
Here are the 3D files I wanted to mint (Github not support GLTF files):
https://send.vis.ee/download/412eca554193e329/#TtBNG2KdcQ4oDkMF49oUDg

[2022-01-23 16:22] yangwao opened #2044 "Add to Deploys channel only alarm when build is not successfull"
Check netlify for webhooks

[2022-01-23 18:12] jkdizajn commented on #1737
Here is me artwork :P
**960x540 pixels in a 16:9 aspect ratio**

![KodaDot Discord banner](https://user-images.githubusercontent.com/81104034/150691955-ad6006c1-58dd-4702-ac43-c7b8370a63b9.gif)

[2022-01-23 19:29] jkdizajn commented on #1737
Nr.2
![KodaDot Discord banner_2](https://user-images.githubusercontent.com/81104034/150694813-30abb7d4-5dab-4f6e-a0cc-ea285ab88b20.gif)

[2022-01-23 20:10] petersopko commented on #2025
I'd like to do this one.

[2022-01-24 09:11] yangwao opened #2049 "Replace Sort & Filter text with Filter icon"
- Replace sort filter text with filter icon https://fontawesome.com/v5.15/icons/filter?style=solid
- put it filter icon in front of search
- on mobile, put icon filter on the same line as pagination to save precious vertical space
- put result numbers (position, total) in the border, check pic 3, make text smaller, check for mobile and other responsive sizes as well
- turn **buy now** on by defaul

[2022-01-24 09:47] prachi00 opened #2050 "esCarbonless route not working in about section"
### What happened?

Clicking on this takes to route /esCarbonless but nothing is visible there and its broken

Added a video for reference

### Please reproduce in steps

https://user-images.githubusercontent.com/39299315/150759685-2085e4b8-17ca-4396-9f25-f750f0259514.mov

### Expected Behavior

It should take to the correct route and content

### What browsers are you seeing the problem on?

_No

[2022-01-24 09:47] prachi00 commented on #2050
@yangwao I'll work on this, since I know how to solve this

[2022-01-24 09:52] yangwao opened #2051 "Make fixed search component at collection detail if nothing is on sale"
On collection when there is nothing on sale, it hops **buy now** here and there and missing pagination breaks the melody

Probably make it fixed so it can stay at one place?

EDIT, make **Buy now** disabled if there is nothing on sale and it's even easier fix as doesn't make sense to show user empty screen at all

Test at https://deploy-preview-1952--koda-nuxt.netlify.app/rmrk/collection/76df00171

[2022-01-24 09:53] prachi00 commented on #2051
@yangwao I'll check this

[2022-01-24 09:54] yangwao commented on #2051
i've updated issue, best would be query collection if there is something on sale and if nothing, make buy now disabled

[2022-01-24 09:56] prachi00 opened #2052 "esSustainability route not working in about section"
### What happened?

Clicking on this takes to route /esSustainability but nothing is visible there and its broken

Added a video for reference

### Please reproduce in steps

https://user-images.githubusercontent.com/39299315/150760938-2db493b6-fa76-4c8f-9dd1-c80bfb7fe0a0.mov

### Expected Behavior

It should take to the correct route and content

### What browsers are you seeing the problem on?

[2022-01-24 09:56] prachi00 commented on #2052
@yangwao I'll work on this as well

[2022-01-24 09:59] yangwao opened #2053 "Unify collection detail and collections view with $primary"
### At collection detail
- Make tab line pink, on selected it can be under text white and selected text can be kept pink
- filter border $primary
- search box $primary

![image](https://user-images.githubusercontent.com/5887929/150760940-07156a51-84fc-4507-a30c-e46ced98c68c.png)

Test at https://kodadot.xyz/rmrk/collection/d23ec8e0b831b65917-LTIDO?search=&listed=false
### Collection
- same $primar

[2022-01-24 10:00] prachi00 commented on #2053
@yangwao I'll do this one

[2022-01-24 10:08] #1837 closed

[2022-01-24 10:33] yangwao commented on #2053
<img src="https://media0.giphy.com/media/l3vRcttCynxJoxIrK/giphy.gif"/>

[2022-01-24 11:06] kkukelka commented on #2049
On it!

[2022-01-24 11:27] vikiival opened #2058 "When you go directly to the unique asset the app fails"
### What happened?

When you visit directly ani Statemine art directly
[Anatomy of a cryptocanary](https://kodadot.xyz/statemine/gallery/0-2)
The app will fail

### Please reproduce in steps

1. Visit any statemine detail [Anatomy of a cryptocanary](https://kodadot.xyz/statemine/gallery/0-2)

### Expected Behavior

The app should show the art

### What browsers are you seeing the problem on?

_No

[2022-01-24 11:59] yangwao opened #2059 "Use only border-top on control buttons/actions"
Time to lightweight our UI for easier adoption.

- Let's remove the border and keep only border-top like on pic1
- Use border-top on emojis as well
- remove the white shadow from accordion/cards at price chart and history
- rename "Price Chart" -> "Chart"
- at history button, language and profile button as well, pic4

Test case https://kodadot.xyz/rmrk/gallery/11079135-00da54310732f6437d-QBCVI-ONI

[2022-01-24 12:00] yangwao opened #2060 "Add ability to send same emoji at nft item detail"
When there is already emoji at nft, you want to let the user click on the same to send it

![image](https://user-images.githubusercontent.com/5887929/150779285-b24e973d-9820-45c2-a176-3d6e2ce8be5c.png)

Test case - https://kodadot.xyz/rmrk/gallery/10843795-0a8ce195286c168f19-DONKEY-DONKEY_GANG_473-0000000000000473

[2022-01-24 12:03] prachi00 commented on #2059
@yangwao I;ll work on this

[2022-01-24 12:30] kkukelka commented on #2060
I'll give it a look!

[2022-01-24 13:12] cryptodamsky opened #2061 "Rework discord entry experience for newcomers"
### Is your feature request related to a problem?

This is how it actually is, to get to the server for a new user.

![step1](https://user-images.githubusercontent.com/92786519/150782485-94fe14bf-1e1e-4bb1-a357-aa7b9e73e0bb.png)

Accept invitation

![step2](https://user-images.githubusercontent.com/92786519/150782499-447bf832-1768-4c73-997e-9c711839d3e2.png)

Click "Complete"

![Step 3](https://us

[2022-01-24 13:29] petersopko opened #2062 "Typos / Grammar fix in .md docs"
### What happened?

found few typos / grammar issues when reading through docs here

### Please reproduce in steps

mainly CONTRIBUTIONS.md but some in Readme.md as well

### Expected Behavior

fixed the obvious things, perhaps further proofreading / copywriting could be useful to make repo look more appealing for new devs

### What browsers are you seeing the problem on?

Chrome

### Are you logg

[2022-01-24 13:44] cryptodamsky commented on #1637
I see this is little bit on hold for now, but as part of onboarding experience, like i said i'll have plenty of materials what is understandable for newcomer and what not. But, since there is lot of stuff changing, for now i'd implement a small "i" or once hovered with cursor over these, a little explanation wouldn't be bad:

I can see explanations implemented while clicking on create, that is bri

[2022-01-24 14:06] roiLeo commented on #2058
It has loaded well from [this netlify preview link](https://deploy-preview-2057--koda-nuxt.netlify.app/statemine/gallery/0-2)
![Screenshot 2022-01-24 at 14-57-06 KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/150796221-510212c9-9bd2-4930-9962-c24ba65e32b7.png)

Don't work locally but when I check the logs I see some differences
- **localhost**:
[code]
- **n

[2022-01-24 14:11] cryptodamsky opened #2064 "Flourish KodaDot wiki"
### Is your feature request related to a problem?

Our KodaDot [wiki](https://kodadot.gitbook.io/knowledgebase/) is outdated, therefore i'd like to get access to it and start flourishing it.

Mainly, i'd like to add tutorial section and start working on all of our onboarding tutorials:

- video versions on KodaDot youtube
- written version with screens and explainers
---
- remove obsolete topics a

[2022-01-24 14:14] cryptodamsky commented on #1445
Tutorial on how to create polkadot js.wallet and add it to browser.

Watchable [here](https://youtu.be/zproVh7qzxY)

I'd like to get green light and fast-forward this to KodaDot youtube channel and KodaDot wiki, for that i'll need access to both. @yangwao

This tutorial will also be part of #2064

[2022-01-24 14:23] yangwao opened #2065 "Generative frameworks to implement"
We've been longer in talks implementing p5.js and others so this would serve as a discussion on which frameworks we want to implement?
Best if they run in the browser.
No inherently needs to be visual, could be for audio generation as well

- #2164
- https://p5js.org/ (a really popular one)
- https://github.com/sepandhaghighi/samila
- https://levelup.gitconnected.com/generative-art-3-fundamental-c

[2022-01-24 14:23] jkdizajn commented on #2014
Hey, what do you mean by "pixelated" - as a graphic style, but as a graphic output?
because SVG output and pixelated are mutually exclusive :P
what should be the resolution in px?

I can suggest something if it's still up to date....

[2022-01-24 17:45] petersopko commented on #2025
Looks like this one is resolved in #1952, please correct me if I'm wrong
![image](https://user-images.githubusercontent.com/73316633/150836128-88ad21c8-2139-4882-ac8e-dd38b67f0a17.png)

[2022-01-24 17:58] #2058 closed

[2022-01-24 22:30] onerawartist opened #2070 "it should be showing m name instead of my address"
### Is your feature request related to a problem?

/

### Describe the solution you would like

it should be showing m name instead of my address, and not just there, but in all the popups

### Describe alternatives you have considered

/

### Screeenshots

/
![01](https://user-images.githubusercontent.com/71472224/150875767-d8994eaf-58c2-4f34-bc1c-09d8c01d5f23.jpg)

[2022-01-25 04:37] atharva3010 commented on #2008
I’ll set this up.

[2022-01-25 06:09] yangwao opened #2071 "Global profile"
Probably we would need make global profile once we will support more chains.

Ie rmrk, bsx, moonriver, statemine, &c

Agregate profile for each of one.

Tricky would be which address to use.. 42?

[2022-01-25 06:12] yangwao opened #2072 "Kusama Treasury 🪙 proposal for accelerated development"
It would be nice to drive more complex issues, faster.
So the idea would be to ask KSM Treasury to drive some higher bounties for development to 🍒 pick a particular one and develop them it way faster &c

In some sense, parachains maintenance has its own costs as being onboarding "infrastructure" to further drive stuff and bootstrap things faster in time as we've effectively demonstrated the system

[2022-01-25 07:27] yangwao opened #2073 "✍️ Article comparing spatial frameworks"
Thinking as we are up to about spatial stack. Would be nice to have article to compare webxr (aframe, threejs, &c frameworks) vs unity vs unreal engine, what's would you say?

As long term we plan to provide nft infrastructure with MetaPrime it's fine content starter for our future audience :)

We would like publish it on our https://medium.com/kodadot :)

And what's other popular spatial framewor

[2022-01-25 07:44] roiLeo commented on #1897
Did you find out why the emoji keys are different but the emoji is the same?

[2022-01-25 12:25] yangwao commented on #2014
Yyash made one which seems about good one, but if you want to make another one, I guess we can have two different preloaders lol

![Comp_1_1_1](https://user-images.githubusercontent.com/5887929/150976686-7b7724d5-f6c9-42dc-ab22-3bc1bb933611.gif)

[2022-01-25 12:39] yangwao commented on #1737
seems it changing something in discord as I've unable to upload tho

ok edit save button sometimes simple just doesn't update

https://user-images.githubusercontent.com/5887929/150978243-988a502e-e8e0-440a-803c-bc630eca6742.mov

[2022-01-25 13:02] Dexxx3 commented on #2014
![data](https://user-images.githubusercontent.com/95619333/150981692-c143d6b6-0287-4eaf-a7e4-594ea32f2b79.svg)

[2022-01-25 13:05] Dexxx3 commented on #1353
Final Preloader
 Kodadot Preloader.rar
<https://drive.google.com/file/d/1pqxMJbsd9yKLQjRhEpYITF8SWTBDyTS8/view?usp=drive_web>

On Sat, 22 Jan 2022 at 16:00, Matej yangwao ***@***.***>
wrote:

[2022-01-25 13:06] Dexxx3 commented on #2014
![Comp 1_1 (1)](https://user-images.githubusercontent.com/95619333/150982241-8fac9d06-9c68-4870-87bd-c77fe7a62196.gif)

[2022-01-25 13:54] yangwao opened #2076 "Migrate SubQuery projects repo under kodadot"
let's migrate subquery repository under kodadot org

[2022-01-25 13:55] yangwao opened #2077 "Migrate vue-polkadot packages under kodadot1"
- archive old repository
- migrate code we use to under kodadot1
- release package
- install into new code
- make PR
- close this down

[2022-01-25 15:58] vikiival opened #2078 "Show the destination of the Teleport asset"
### Is your feature request related to a problem?

From the Image below it is not so clear where I am sending the funds

![1_z__iSglYQXiu7ioUInboFQ](https://user-images.githubusercontent.com/22471030/151011709-de73f3ad-573e-4213-8301-10a13b4b10d4.png)
]

### Describe the solution you would like

I would like to see where I teleport my assets (From parachain -> relaychain)

### Describe alternative

[2022-01-26 10:20] prachi00 commented on #2059
@yangwao in 3rd point, what do you mean by white shadow? I cant see any

[2022-01-26 13:13] yangwao commented on #1737
It's a solid candidate!
Second one as well

@jkdizajn if we can make something which is in the infinite loop would be best I guess :)

[2022-01-26 13:52] yangwao opened #2081 "KodaDot@Next w/ Vue3 Vite and Nuxt3"
This is mostly to set KodaDot3 MVP and research issues to explore possibilities as we want to upgrade further to the Vue3 and gain all beautiful features there.

- we would like to see a new working MVP of Kodadot using recent Vue3, Vite and Nuxt3
- this issue is for experienced developers who know what they are doing
- probably push it to directory `kodadot3/` in root with instruction to run it.

[2022-01-26 15:28] yangwao commented on #1450
May can go to the docs @cryptodamsky for future speaker

[2022-01-26 15:52] #2078 closed

[2022-01-26 16:19] vikiival commented on #2081
I tried to make an MVP of [Nuxt bridge](https://v3.nuxtjs.org/getting-started/bridge/) which can be the best approach for us

<img width="965" alt="Screenshot 2022-01-26 at 17 18 34" src="https://user-images.githubusercontent.com/22471030/151202623-d9b1faff-4b0b-493a-a038-5bdaf395c831.png">

but stucked until this is not resolved
https://github.com/nuxt/framework/issues/2934

[2022-01-26 17:33] jkdizajn commented on #1737
Nr.3
![KodaDot Discord banner_3](https://user-images.githubusercontent.com/81104034/151215884-14c499af-e844-4e9f-9d7c-f310c614ea0e.gif)

[2022-01-26 17:40] petersopko opened #2086 "open graph protocol url"
### What happened?

- og url is referencing to localhost instead of https://kodadot.xyz
- as a result, for example, when sharing a link on twitter, result is this:
![image](https://user-images.githubusercontent.com/73316633/151215156-4be6d204-76ef-4131-bb40-3e6c2307246e.png)

### Please reproduce in steps

check elements and metatags in head

### Expected Behavior

i'd expect it to be pointing to

[2022-01-26 17:59] petersopko opened #2088 "mobile dropdown menu misbehaves in collection/item"
### What happened?

mobile dropdown menu misbehaves when checking on item in specific collection. can be checked at https://kodadot.xyz/rmrk/gallery/10190000-26902bc2f7c20c546a-1FVG7-VACUOM-0000000000000012
![image](https://user-images.githubusercontent.com/73316633/151218780-3170e17a-68f1-41a5-98d2-ef16f4fdfe82.png)

### Please reproduce in steps

described above

### Expected Behavior

I've expe

[2022-01-26 17:59] petersopko commented on #2088
I'm gonna fix this

[2022-01-26 19:52] cryptodamsky commented on #925
Added https://twitter.com/Polkadot_FR to our discord as friendly discord

Contacted:
- mousedao
- polkadotmafia

[2022-01-27 08:34] yangwao commented on #2086
nice catch! will review it soon

[2022-01-27 08:36] yangwao commented on #2088
woah!

<img src="https://media4.giphy.com/media/xUOrwihszfWZgSIHJK/giphy.gif"/>

[2022-01-27 08:49] yangwao opened #2089 "Implement a security.txt"
We would need to implement this as well to continue with the bug-bounty security program.

### Ref
- #537

[2022-01-27 08:51] yangwao commented on #537
https://www.parity.io/bug-bounty/
https://github.com/paritytech/substrate/blob/master/docs/SECURITY.md

We will crack on that in upcoming Meta_hours_4 https://github.com/kodadot/nft-gallery/discussions/2007

https://github.com/kodadot/nft-gallery/issues/2089 yes we will nail it down soon

#1858 will be there

We will be posted on the https://www.huntr.dev/ to drive more security researchers.

[2022-01-27 09:00] cryptodamsky commented on #2064
The work will continue here  https://docs.kodadot.xyz/

[2022-01-27 09:00] #2064 closed

[2022-01-27 09:32] yangwao opened #2090 "Pick rainbow emojis for our Discord"
yeah, we have https://discord.gg/kodadot and need some love

I've used https://emoji.gg/emojis/rainbow to shop some emojis we have right now.
I'll be looking on animated ones as well https://emoji.gg/category/8/animated

If you want to add emoji, bump @cryptodamsky tho, can assist

[2022-01-27 09:46] kkukelka commented on #2089
on it!

[2022-01-27 09:57] #2077 closed

[2022-01-27 10:02] yangwao commented on #2090
Thrift shopping

https://user-images.githubusercontent.com/5887929/151336656-db34db13-f4b6-4fce-ac7a-2200424258bc.mov

[2022-01-27 10:54] yangwao commented on #1477
Seems issue is stalled :|
If anyone else want to take on this, happy to help.

[2022-01-27 11:16] prachi00 commented on #2018
@yangwao 1st point, ` remove background `  from where exactly?

[2022-01-27 12:03] vikiival commented on #1594
https://github.com/kodadot/rubick/issues/25

[2022-01-27 12:27] yangwao commented on #1737
hmm apparently discord has some issue and can't upload it, however previous had 7M and went through, barely works with 5M, but tried download this one from tenor as test https://tenor.com/view/kodadot-nft-rmrk-kusama-gif-24578154 but did not worked when used their dialog, straaaange

[2022-01-27 12:28] yangwao commented on #1737
less blink/zap stuff :D so I can peacefully read rest of discord

[2022-01-27 12:34] yangwao commented on #1482
Closing as it's already done

[2022-01-27 12:34] #1482 closed

[2022-01-27 12:37] yangwao opened #2093 "Custodial funding accounts"
- Yes, we will have a custodial way to fund initial users from other services coming to mint stuff on KodaDot
- Blocked by #1875

Design whole flow of stuff how this would be handled and code of course to make it working.
We can supplement funds if you will have it ready to test it with you.

### Top-up their accounts
- if users would like to mint on KodaDot we can offer them $50-100USD as the ini

[2022-01-27 12:55] yangwao commented on #1974
we are using [skip netlify] to skip netlify to save minutes and that's it
closed in #2000

[2022-01-27 12:56] #1974 closed

[2022-01-27 13:47] petersopko commented on #1477
Let's do it, I'll have approx. 20h for KodaDot this weekend, but I'll most likely need some guidance. Also, I'd pick Python over JS for this if that's okay.

[2022-01-27 14:16] yangwao commented on #2061
Probably we can remove those channels who has warnings?

yes, we can significantly reduce them

[2022-01-27 18:02] yangwao commented on #2018
From `/`, I've now realized that I've already removed it at screenshot but haven't committed it tho :)
So yeah that big background picture could be removed.

[2022-01-27 18:04] yangwao commented on #358
Yes, it's already done.

[2022-01-27 18:04] #358 closed

[2022-01-27 18:19] yangwao opened #2094 "Rework actions component bit - show account select box only when NFT is for sale"
At NFTs, if NFT is not at the sale (LISTed), we should not show an account select box.

![image](https://user-images.githubusercontent.com/5887929/151419373-b9323103-f074-41bc-aa82-6638146a840f.png)

[2022-01-27 18:29] petersopko commented on #2094
I can do this

[2022-01-28 08:20] yangwao commented on #2094
LFG! 👯

[2022-01-28 09:21] kkukelka opened #2096 "Check if @/utils/config/i18n and markdown-it is necessary 📦"
followup for #2039

Research task regarding `@/utils/config/i18n.ts` file and it utilising package `markdown-it`

Glancing over it I'm not even certain if this file does anything useful or is necessary for our needs.

- [x] check purpose of `@/utils/config/i18n.ts`
- [x] check for necessity of `markdown-it`
- [x] If it provides actual value, I want to check if we can abstract it into `nuxt.config.

[2022-01-28 09:23] kkukelka commented on #2096
I'm already onto it. Just want to separate from package refactor since this will require more widespread changes

[2022-01-28 09:27] roiLeo commented on #2096
related with #1614  bonus point

[2022-01-28 09:56] prachi00 commented on #2018
@yangwao can you explain this point as well
`remove CTA text from homepage__box, make it extended, add shadow there as well`

[2022-01-28 11:46] damskyftw opened #2098 "Collection is created while using only simple mint"
### Is your feature request related to a problem?

I'd possibly state this as a bug? Automatically when i simple mint, i don't expect collection to be created with it.

### Describe the solution you would like

I would like to use simple mint really simply, just see it in "created" and that's it.

### Describe alternatives you have considered

/

### Screeenshots

![why](https://user-images.github

[2022-01-28 13:34] yangwao opened #2099 "Tinder like interface for collectors to buy NFTs"
Would be nice to start having an easy interface to collect NFTs on KodaDot.
Feel free to choose framework if you find more up to date one

### Spec
- add new route `/swipe`
- add with each swipe randomness function to pick random NFT which is for SALE
- add buttons to execute buy
- add keyboard shortcuts to swipe left and right with arrows
- left is to next card (swipe left)
- right will trigger e

[2022-01-28 13:43] petersopko commented on #2099
🙋🏼‍♂️ this seems like both fun feature + something where I could get my hands dirty with proper Vue. If the p5 label stays, and it's okay for me to start on Tuesday with this, I'd love to do it.

[2022-01-28 14:29] kkukelka commented on #2099
I'll give it a shot. Will take a while though.

[2022-01-28 14:55] yangwao commented on #1477
We are looking for something serverless and I guess Typescript would be optimal as higher chance someone knows TS than Python, however, I'm aware that python is more data science.

Optionally Rust would be best and I guess we can run it as Github Action.

Most of the questions have been answered here but feel free to ask another one :)

[2022-01-28 15:11] petersopko commented on #1477
Okay, after clarification on Discord, since I've kind of misunderstood the hackathon part, I guess I'll just look into some solutions in TS for now and see how will the Hackathon play out.

[2022-01-28 15:14] yangwao commented on #537
huntr.dev is over capacity what I received response.

Any good other hints?

[2022-01-28 18:51] petersopko opened #2100 "search url doesn't update"
### What happened?

while fixing another issue, I've discovered that search in gallery doesn't react to changes as I'd expect it to.
![image](https://user-images.githubusercontent.com/73316633/151604070-6a88b869-1df1-493b-85c2-2a16c092c126.png)

### Please reproduce in steps

1. go to https://kodadot.xyz/rmrk/gallery/
2. search random term such as 'random test search bar' and hit enter
3. notice t

[2022-01-28 18:52] petersopko commented on #2100
I'd also like to fix this.

[2022-01-28 19:03] yangwao commented on #2100
Yeah when I was approving initial search url v1.1 it was bit wonky, so yeah this occured to me when founding some edge case!

Let's fix it

[2022-01-29 03:13] rchovatiya88 commented on #2006
![Untitled_ Jan 28, 2022 10_05 PM (1)](https://user-images.githubusercontent.com/16197756/151645182-3e447d8b-8062-4dbe-975f-94f51b0ff1a6.gif)

initialing cypress.io e2e test framework
- Intergration tests
- Regression tests
- headless tests (run test in CI pipeline)
- Create a pass/fail report

[2022-01-29 06:02] yangwao commented on #2098
How rmrk works is that like photo album. You need add something as front cover (collection) and than photo inside.

Simple mint is way for people who doesn't understand classic minting which is original approach for minting.

[2022-01-29 10:32] yangwao opened #2104 "Add ability to update metadata from chain within kodadot"
Usually, this could be found at
https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Fkusama.api.onfinality.io%2Fpublic-ws#/settings/metadata

Would be perfect to have button to update metadata right away from kodadot

![image](https://user-images.githubusercontent.com/5887929/151657600-0e23dcc6-b30e-4d24-97c3-3e427fe54468.png)

[2022-01-29 13:01] cryptodamsky opened #2106 "Not possible to add nfts to created collection and collection doesn't show/exist in profile"
### What happened?

Created a collection, tried to add nfts to it and it doesn't show in the dropdown and neither in profile

### Please reproduce in steps

Went to kodadot xyz
Classic mint
Create collection
Sign the transaction

Went to classic mint
Add nfts to collection
The collection doesnt show in dropdown

In my profile, the collection doesnt show

### Expected Behavior

/

### What browsers

[2022-01-30 11:13] yangwao commented on #348
This issue is up for grabs if anyone is interested!

[2022-01-30 11:24] #1160 closed

[2022-01-30 11:40] yangwao opened #2110 "Add to search price range min - max"
People love to sort by price

- add to filter to gallery component to search from min - max price range
- add a slide to choose from price
- add it as a range slider, probably range slider https://buefy.org/documentation/slider/#range-slider with min 0.5 and max up to 30, steps 0.5 for try

Query by @vikiival is coming soon

## Ref
- #842

[2022-01-30 11:42] petersopko commented on #2110
I'll work on this.

[2022-01-30 11:45] vikiival commented on #2110
[code]

[2022-01-30 11:48] yangwao commented on #2025
<img src="https://media1.giphy.com/media/RMwqvqV9RDOgr3XTDw/giphy.gif"/>

yes and no

check the second picture, on mobile, it should look different, like open google.com on mobile, it should be overlay on whole screen for best results

[2022-01-30 12:16] #2051 closed

[2022-01-30 12:19] #2031 closed

[2022-01-30 12:21] petersopko commented on #2025
okay, I'll look into it!

[2022-01-30 12:24] #1140 closed

[2022-01-30 12:27] #2060 closed

[2022-01-30 12:39] yangwao opened #2111 "Weird fade animation bug"
I guess there are some hidden elements there?

https://user-images.githubusercontent.com/5887929/151699979-e1a61677-7524-4841-bc6e-de1a06322478.mov

# ref
- https://github.com/kodadot/nft-gallery/pull/2084

[2022-01-30 12:40] #2049 closed

[2022-01-30 12:48] yangwao commented on #2086
Left clarification

https://github.com/kodadot/nft-gallery/pull/2087#issuecomment-1025136316

[2022-01-30 12:48] #2086 closed

[2022-01-30 12:57] yangwao opened #2112 "Add results of artist creators names to the search"
We would need to have a search of artist creators names as well

- To make this you would need to index the whole identities from the chain
- Requires to write schema to the https://github.com/kodadot/rubick
- Add to search box in the gallery and in collections view

### Ref
- https://github.com/kodadot/rubick/issues/31
- https://github.com/kodadot/rubick/issues/52
- https://github.com/kodadot/rub

[2022-01-30 13:00] yangwao opened #2113 "Prevent spamming in recent listings"
We would need to prevent users to prevent spamming
As noticed here https://deploy-preview-2091--koda-nuxt.netlify.app/rmrk/gallery/10174132-92b68c8f6d834e8f12-AL-YUI-0000000000000020
It has tons of events for the same price users actually wanted to hammer for cheap action (KSM fees) to appear on Recent List view somewhere.

Sub-optimal option would be showing only the previous 24h of recently list

[2022-01-30 13:11] yangwao opened #2114 "Reuse folding component from NFT item detail to collection description"
I guess let's show only the first row from the description and replace the old one
Make default folded

@roiLeo was right on this one 😇

![image](https://user-images.githubusercontent.com/5887929/151701053-83fc6297-848b-445f-963a-aa93d4c9c961.png)

how it looks like at item detail
![image](https://user-images.githubusercontent.com/5887929/151701070-03666a2e-84d3-4e6b-a390-af7e2596c64d.png)

[2022-01-30 13:13] #2039 closed

[2022-01-30 13:14] #2089 closed

[2022-01-30 13:32] yangwao commented on #2114
random comment to trigger bot delete me later

[2022-01-30 14:03] yangwao opened #2115 "Making simple mint more friendly"
To remove concerns when people do simple mint would be nice to remove dialogue about the additional transaction and make it as a statement, probably as message under the input field

![image](https://user-images.githubusercontent.com/5887929/151702943-1731bda4-f36c-4d72-93ad-47847bb5383a.png)

[2022-01-30 14:03] #2022 closed

[2022-01-30 14:04] kkukelka commented on #2115
On it!

[2022-01-30 14:06] yangwao opened #2116 "Ephemeral v2"
- handle issues way better to reduce logic trigger and function runtime length
- handle error for PUT when 204 returns which is actually success
[code]
- check when function is triggered, partially resolved
[code]

[2022-01-30 14:11] kkukelka commented on #2111
hmm I'll check it out

[2022-01-30 14:13] yangwao opened #2117 "Add shade to footer by default, show on hover"
- I guess reducing text visibility
- set footer to black same as the background
- add alpha to icons and text, opacity to 0.3 should work
- when user goes on footer it should set opacity to 1.0

https://user-images.githubusercontent.com/5887929/151703146-475d5c36-06c8-457e-bf55-52f0617e3ec8.mov

[2022-01-30 14:15] prachi00 commented on #2114
@yangwao I'll do this

[2022-01-30 14:16] prachi00 commented on #2117
@yangwao I'll do this

[2022-01-30 14:21] #2050 closed

[2022-01-30 14:21] #2052 closed

[2022-01-30 14:23] #1522 closed

[2022-01-30 14:24] #2088 closed

[2022-01-30 14:25] #2062 closed

[2022-01-30 14:30] #2115 closed

[2022-01-30 15:12] #2059 closed

[2022-01-30 15:14] #2053 closed

[2022-01-30 15:15] #2037 closed

[2022-01-31 07:05] cryptodamsky opened #2124 "When not logged in the pop up window stays on the page for very long time"
### What happened?

If a user comes to kodadot.xyz without polkadot.js wallet and clicks on login, the popup window doesn't go away, obviously when you click on it second time, it stacks up

### Please reproduce in steps

went to kodadot xyz, clicked on log in, pop up window doesn't go away

### Expected Behavior

/

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

[2022-01-31 08:18] yangwao opened #2127 "Routing on clicking on collections broken?"
Seems I can't replicate it on kodadot.xyz as it did not happen for me, must be something in recent `main` ?
Funny enough, the first page it has worked okay, when I listed through the next pages, it started happening on other collections.

Seems like some routing is terrible broken?

Could this be this warning related?

![image](https://user-images.githubusercontent.com/5887929/151759680-31d84ec2-9

[2022-01-31 08:32] yangwao commented on #2094
Hey @petersopko had to revert commit as it doesn't work properly and you accidentally removed actions for users for their NFTs apparently?

Plus best would be to have it aligned in the upper section, not vertically centred.

https://github.com/kodadot/nft-gallery/pull/2105
Reverted at - https://github.com/kodadot/nft-gallery/pull/2128
![image](https://user-images.githubusercontent.com/5887929/1517

[2022-01-31 08:37] petersopko commented on #2094
I'll check it out right away.

[2022-01-31 08:40] prachi00 commented on #2127
@yangwao I'll check this

[2022-01-31 09:19] yangwao opened #2129 "Seems our support address doesn't have enough love"
Add backup key to payout bot

I mean best spend money are going to develop right now either so let's go

ss58
`5FWXi8GTpHvAFC8KXTarvxwW4bwX2HWJEqwcFqMFYNy83DPb`
ksm
`G29NScLSew5zqwmJAPupvJWDCDkpxKUhDnMeVdD2BBcnHar`

https://github.com/kodadot/nft-gallery/blob/418cfd2aee79fc0b64b11f0726e2a553609fbe3d/utils/support.ts#L46

Our current support address seems received the last payment 18 days ago https

[2022-01-31 09:27] #2111 closed

[2022-01-31 09:28] #2117 closed

[2022-01-31 09:29] #2114 closed

[2022-01-31 09:31] yangwao commented on #2129
Reengineer sustainability program

[2022-01-31 09:32] yangwao opened #2130 "Reengineer sustainability program"
Probably we will need setup how we collect fees

- chain agnostic - like Statemine, Basilisk, MoonRiver, &c
- setup multisig on other chains
- fall back address collect fee to other chains? But user needs approval or balances there so meh

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2129#issuecomment-1025538908_

[2022-01-31 09:44] petersopko commented on #2094
I've checked it out again on the branch I was working on, it seems that there were made additional changes in one of the merged PRs from yesterday which caused this as it looks like the picture you attached. Regardless, I need to do more testing with the view of user checking out his NFTs. Will add changes you mentioned in the evening.

[2022-01-31 10:00] XyloDrone commented on #2071
A few things to consider:

- choose chain / account when connecting wallet
- select which chain to browse on in explore and profile

[2022-01-31 10:01] XyloDrone commented on #2099
would this only work on mobile or?
also considering where to add this... in top bar of explore?

[2022-01-31 10:05] XyloDrone commented on #2018
Hey everyone, landing page design was here...
https://www.figma.com/file/GeVzZKVORd9L8kAWrlKtZv/KodaDot-UX%2FUI?node-id=0%3A1

No feedback was left so far.

[2022-01-31 10:07] prachi00 commented on #2018
@yangwao @XyloDrone should I reference this then?  seems there are lot more changes than mentioned tho

[2022-01-31 10:10] XyloDrone commented on #2018
I suppose we'd need to wait for @yangwao to comment on the design, as mentioned there wasn't any feedback so far so I'm not sure.

[2022-01-31 10:51] yangwao commented on #1783
@chandradot99 would be nice to add tooltips where is possible to add to

Like on page previous, next and randomize could add tooltip with a hint in ( ) round brackets

![image](https://user-images.githubusercontent.com/5887929/151780203-8f2ae906-3491-4a12-8cad-88a3cf1d46ef.png)

[2022-01-31 10:57] yangwao commented on #1031
Continue to #1357

[2022-01-31 10:57] #1031 closed

[2022-01-31 11:46] yangwao commented on #1918
I mean, like this? That would be fantastic!
![Screenshot 2022-01-31 at 12 43 29](https://user-images.githubusercontent.com/5887929/151788069-522cc8a8-2c07-49d6-b4e9-c59237e35065.png)

We can use the hover cards component to explore groups of that senders or show the first/last three in bubbles? We will have avatars later in the day tho.

Actually good to make with this issue would make group by em

[2022-01-31 11:47] vikiival commented on #2129
So the issue was that getters from the Vuex store stopped working so getter always returned `undefined`

[2022-01-31 11:48] #2129 closed

[2022-01-31 11:58] yangwao opened #2135 "We have weird teleportation issues while searching"
I guess we have broken teleportation really bad.
This is super weird behaviour 😄

https://user-images.githubusercontent.com/5887929/151789854-c83ae61e-1b36-4d6c-a832-8c64248d9883.mov

[2022-01-31 12:08] yangwao opened #2136 "Open Graph social cards doesn't work"
Hmm, I guess we've tackled this one @kkukelka 👀🥺

Seems BASE_URL `https://kodadot.xyz` is already present on production, but doesn't render right hm
Maybe cache?

![image](https://user-images.githubusercontent.com/5887929/151791281-25fc2cff-7752-40a2-9f16-cef362ff3d7f.png)

https://kodadot.xyz/rmrk/gallery/11202498-9692fa834afcce2d3e-AC99-BASILISK_SNAKE_WARRIOR-0000000000000006

[2022-01-31 12:21] yangwao opened #2137 "Refresh owner status after bought has been made"
Seems we are missing refresh after buy
Once transactions are confirmed refresh it on UI for the user

https://user-images.githubusercontent.com/5887929/151792789-7e42d8a8-f4bf-43c2-9f46-107c28d0f5f0.mov

[2022-01-31 12:22] prachi00 commented on #2137
@yangwao I'll do this

[2022-01-31 12:27] yangwao opened #2138 "Show Tweet about recent purchase with creator Twitter"
### Spec
- IF creator has set Twitter handle in his identity, show this button
- [ Share Joy ] with creator into action component on top
- button will create a new tweet with a creator handle in the message
- "I'm sharing the joy from my recent purchase made by <@Twitter_handle_of_Creator> \n <URL_link_to_NFT_item> #kodadot"

![image](https://user-images.githubusercontent.com/5887929/151793041-e48

[2022-01-31 12:29] prachi00 commented on #2138
@yangwao I'll try to do this

[2022-01-31 12:30] yangwao commented on #2138
Let's go Tigress

<img src="https://media4.giphy.com/media/l0HUfo6I8rMIfosGQ/giphy-downsized-medium.gif"/><img src="https://media0.giphy.com/media/UNlL2P1R2n9OU/giphy.gif"/>

[2022-01-31 12:41] yangwao opened #2139 "Show prices when BUY now is on artist profile"
I guess we should check to show prices by default when the user turns on buy now on the artist profile in the same manner as it on gallery view.

@kkukelka was making PR before so might be handy to do this?

![image](https://user-images.githubusercontent.com/5887929/151795286-d8aadfa6-ef94-45d3-bab5-223aa61f4de5.png)

[2022-01-31 12:52] kkukelka commented on #2139
Yes I'll do this!

[2022-01-31 12:53] kkukelka commented on #2136
Ugh, yes I'll take a look :)

[2022-01-31 13:18] yangwao opened #2141 "Sort is broken on Profile Artist"
When I sort by new first at my profile I should see newly minted I guess https://kodadot.xyz/rmrk/u/CuHWHNcBt3ASMVSJmcJyiBWGxxiWLyjYoYbGjfhL4ovoeSd?tab=collected&search=&listed=false&sort=BLOCK_NUMBER_DESC&page=1

When I sort by last time interacted, probably should show recent sends/buys for user?

Anyway, seems filter is broken :)

[2022-01-31 13:33] kkukelka commented on #2141
Seems like none of the filters do anything 😅

[2022-01-31 13:42] chandradot99 commented on #1783
sure @yangwao I will add tooltips as well.

[2022-01-31 13:44] roiLeo commented on #2141
`OrderBy` is no longer in query, I'll take care of this one

[2022-01-31 16:00] yangwao opened #2144 "Integrate KalidoKit into KodaDot v0"
i guess as sort of first v0 implementation would be really nice to have a way for users to mint VRM avatars and showcase them, somehow

There is https://3d.kalidoface.com/ which demonstrates capabilities with few VRM pre-made
Here is the code of the module https://github.com/yeemachine/kalidokit
Would be interesting to prepare the way to mint new stuff.
- We are looking if VRM could be shown in mo

[2022-01-31 16:11] #2141 closed

[2022-02-01 09:56] yangwao opened #2150 "Generate symbol at simple mint from name"
Plus add a check if under the same artists doesn't exist the same symbol if does, short it one char and add increment number?

Like if I have NFTLOVE, the next symbol could not be NFTLOVE so it would generate NFTLOV2 simple as that.
OR
use https://www.npmjs.com/package/nanoid for generating symbol as collision would be super low I bet

We want to lower the barrier for entry users, really :)

Check

[2022-02-01 10:02] yangwao opened #2151 "CORS error on simple mint"
![image](https://user-images.githubusercontent.com/5887929/151948286-7700f70d-06df-419f-9aa2-6e7534898be3.png)

![image](https://user-images.githubusercontent.com/5887929/151948339-1e8d788d-d7d9-4915-91aa-3199bfa20913.png)

![image](https://user-images.githubusercontent.com/5887929/151948350-19ef5e9e-0e1e-47a8-8f94-2662d54383a6.png)

![image](https://user-images.githubusercontent.com/5887929/15194

[2022-02-01 10:11] yangwao opened #2152 "Remove background from celebrating toast after minting"
Or make it more readable please with some hints to be really nicer :)

![image](https://user-images.githubusercontent.com/5887929/151949664-f9120a32-753f-41d3-836c-9d11675a55e1.png)

[2022-02-01 10:12] prachi00 commented on #2152
@yangwao I'll do this

[2022-02-01 10:13] yangwao commented on #2152
🪄

<img src="https://media3.giphy.com/media/WtgSF7NgP8aZjCYzcu/giphy.gif"/>

[2022-02-01 10:22] MubarakSULAYMAN commented on #1778
@yangwao, do you mean to remove the sorting functionality as a separate button instead of how it is currently implemented? Presently, you click on each column header to toggle the sort function.

[2022-02-01 10:23] yangwao opened #2153 "Remove console.log and replace it with consola package v0"
It's time to step up the game on debugging our application and would be superior to have some classy logger

The suggestion is by @vikiival using https://openbase.com/js/consola which comes from the Nuxtjs team
https://github.com/unjs/consola

Use it with pluggable reporter FancyReporter https://github.com/unjs/consola/blob/master/src/reporters/fancy.js

The best would be if you manage to tell whe

[2022-02-01 10:32] prachi00 commented on #2152
@yangwao which one looks better A or B?
A
<img width="1426" alt="Screenshot 2022-02-01 at 3 56 04 PM" src="https://user-images.githubusercontent.com/39299315/151952848-38765e9e-d9d9-4c79-953c-4fc3a74bff47.png">

B
<img width="1439" alt="Screenshot 2022-02-01 at 4 01 37 PM" src="https://user-images.githubusercontent.com/39299315/151952862-c6d80d5d-5e91-4d45-8609-34dfcd33f9b2.png">

[2022-02-01 10:32] yangwao commented on #2152
B works

[2022-02-01 10:45] yangwao commented on #1778
Probably you can remove that one that doesn't work well.
Seems interacted and long time no interaction works. old and new first as well
From most expensive and from cheaper doesn't work

[2022-02-01 11:01] yangwao opened #2155 "Rework card information on collections view"
It's around clock to pimp collections view.

- This would require writing resolver to https://github.com/kodadot/rubick
- You can join it with #1850  (it's literally the same issue, just in different detail)

Let's show their same stats as under collections detail, ie, you can see it here https://kodadot.xyz/rmrk/collection/dac5c7f54029d0e73c-1MSUV?tab=collection

L / T Items - <#number>     Floor

[2022-02-01 11:26] vikiival commented on #600
Still a thing for the Nuxt impl.

h/t @prachi00 for ping

[2022-02-01 11:54] prachi00 commented on #2138
@yangwao what if the creator doesnt have a handle?

[2022-02-01 12:03] #2152 closed

[2022-02-01 12:18] yangwao opened #2156 "Remove KSM from Spotlight & Series insight"
Hence we have right now support only KSM, apply DRY method and remove repeating stuff which doesn't help you at all just noise the dashboard

Remove KSM from columns where it repeats :)

![image](https://user-images.githubusercontent.com/5887929/151966796-3bcf81bd-b269-4bc5-88a6-0b597991306e.png)

![image](https://user-images.githubusercontent.com/5887929/151966836-bb23af89-a32d-4c10-88b0-9a22dbbd

[2022-02-01 12:19] prachi00 commented on #2156
@yangwao I'll check this

[2022-02-01 12:20] kkukelka commented on #2156
just too fast for me hahaha

[2022-02-01 12:22] prachi00 commented on #2156
@kkukelka if you want you can go ahead and take this one :slight_smile:

[2022-02-01 12:37] kkukelka commented on #2156
@prachi00 first come, first serve. it's all yours 😘

[2022-02-01 13:12] #2139 closed

[2022-02-01 13:21] #600 closed

[2022-02-01 13:24] yangwao commented on #2138
compose tweet without part "made by <@Twitter_handle_of_Creator> "

[2022-02-01 13:29] #734 closed

[2022-02-01 13:33] yangwao commented on #1285
Found this looking to bring #321 on focus tho.
How we are standing?
I guess let's bring up something with existing components @roiLeo

[2022-02-01 13:36] yangwao commented on #571
Continue to #1285

[2022-02-01 13:36] #571 closed

[2022-02-01 13:46] roiLeo commented on #1285
I still have a branch for this one, it must now be in the abyss.
If I remember correctly there was something sketchy where I had to duplicate History component code.
I'll let you now if I recover more infos.

[2022-02-01 13:55] cryptodamsky commented on #529
Question added to FAQ on the main page and  FAQ in ![docs](https://docs.kodadot.xyz/FAQ.html).

Closing

- #1604

[2022-02-01 14:05] cryptodamsky commented on #648
Question "What are NFTS?" was added both to ![FAQ](https://kodadot.xyz/rmrk/faq) on main page and to ![docs](https://docs.kodadot.xyz/FAQ.html).

- #1604

Will soon add more thorough explanation of NFTs to ![docs](https://docs.kodadot.xyz/FAQ.html) which we can use to easily explain nfts to newcomers, friends, family, influencers.

CC: https://github.com/kodadot/docs/issues/2

[2022-02-01 14:05] #648 closed

[2022-02-01 14:05] vikiival opened #2159 "History component does not account other chains"
Now with the Westend history component does not account it

<img width="999" alt="Screenshot 2022-02-01 at 15 00 21" src="https://user-images.githubusercontent.com/22471030/151982453-285a7439-cbe9-47ac-a067-d266bdea8ab4.png">

[2022-02-01 14:07] vikiival opened #2160 "Prefix middleware v1"
Prefix middleware should take only prefixes from vuex-options as prefixes

[2022-02-01 14:07] yangwao opened #2161 "Statemine review log before publication"
- [x]  history component is no-data -> #2167
![image](https://user-images.githubusercontent.com/5887929/151983152-e890784b-e3ed-4e3b-87f6-f390cd01ee28.png)
- [x] gallery doesnt load
![image](https://user-images.githubusercontent.com/5887929/151980577-e95a3f1e-c6cc-4548-96d6-098a46aa25f8.png)
- [x] ??? Collection can have attributes?
![image](https://user-images.githubusercontent.com/5887929/151989

[2022-02-01 14:09] vikiival commented on #2161
https://github.com/kodadot/nft-gallery/pull/2158

[2022-02-01 14:13] cryptodamsky commented on #401
Simple mint has been clarified both in [FAQ](https://kodadot.xyz/rmrk/faq) and [docs](https://docs.kodadot.xyz/FAQ.html)

Also a tutorial has been aded on [simple mint](https://docs.kodadot.xyz/minting.html#how-can-i-simple-mint-on-kodadot) to our doccumentation

Closing

[2022-02-01 14:13] #401 closed

[2022-02-01 14:19] yangwao commented on #529
Can you link exactly where it's mentioned in FAQ? As I don't see it

[2022-02-01 14:21] yangwao commented on #529
ah got it https://kodadot.xyz/rmrk/faq#Why-did-you-choose-to-build-on-Kusama/Polkadot-and-not-Ethereum?

[2022-02-01 14:21] #529 closed

[2022-02-01 14:53] cryptodamsky commented on #2061
Current state:

- Disabled the message from carl
- Cut down the Membership screening

https://user-images.githubusercontent.com/92786519/151990757-959b0615-40b7-4b13-83ae-a34e8d9a2911.mp4

Followup:
- #2020
- [ ] Find out why welcome screen is not working

[2022-02-01 14:59] yangwao opened #2164 "Trait system for gaming NFTs"
Would be nice to add a way to show traits for NFTs, but for two ways.
Simple and advanced.
As our current metadata hosting is quite cheap compared to statemine, would prefer to account

## Simple
is simple what we already have, we can add infinitely limit for users which would help them what they want to do with that
![image](https://user-images.githubusercontent.com/5887929/151990629-81cbe4e8-d75

[2022-02-01 15:06] cryptodamsky commented on #925
So far it looks like this :)

On our side:
![fr](https://user-images.githubusercontent.com/92786519/151993865-b8cec659-77a2-4ac9-a36d-e5867deaa2c4.png)

On their side:
![fr2](https://user-images.githubusercontent.com/92786519/151994020-e9d720d2-1dd9-4c1e-87cd-320a5a360f23.png)

[2022-02-01 15:20] yangwao opened #2165 "Transfer on westend/westmint/statemine I guess balances should work tho?"
![image](https://user-images.githubusercontent.com/5887929/151996165-a03b95ef-5e2c-43a6-9843-269a582c0887.png)

[2022-02-01 15:59] yangwao opened #2167 "Add history component data to Statemine"
- I guess would be nice to show history data on Statemine
- Would be nice to extend https://github.com/kodadot/unique for events

[2022-02-01 16:06] yangwao opened #2168 "Remove netlify extra comment on pull requests"
idk what has happend but I recall it wasn't happening with first integration so need review tho

[2022-02-01 18:56] kkukelka commented on #2136
@yangwao ok the problem seems to be out of our hands with current setup.
facebook's og-crawler doesn't care for dynamic tags, therefore it ignores the images that we generate on the fly. only way to solve this is by pre-rendering pages that we show to crawler, which would be ridiculous to do for every single nft.
https://stackoverflow.com/questions/34281862/dynamic-facebook-open-graph-tags-possibl

[2022-02-01 19:06] kkukelka commented on #2136
EDIT2: oh i just realized everything is wrong....

[2022-02-02 08:05] yangwao commented on #2136
Maybe that vercel instance by Andrii doesn't handle some stuff okayish?

[2022-02-02 09:36] vikiival commented on #2165
Fix 70c62419b5abdc8020034f5032da9bfe184f6629

[2022-02-02 10:41] yangwao opened #2173 "Add ability to show short texts minted by users"
I mean there are current two ways to contribute to texts
either
- make PR to funfacts in translations https://github.com/kodadot/nft-gallery/blob/1585a3b0b6eb3e8a8a5ba0cbefdae1dd2d78e259/langDir/en.json#L200
OR
- we can add the ability to show short 140 characters messages 👀 should be enough for anyone to express

[2022-02-02 10:54] #2094 closed

[2022-02-02 11:06] #1594 closed

[2022-02-02 11:50] #2161 closed

[2022-02-02 11:50] #2165 closed

[2022-02-02 13:38] yangwao opened #2177 "Add border width, shadow and gap between cards to user preference"
ad https://www.fxhash.xyz/marketplace right top click cog to see settings

keep current defaults

![image](https://user-images.githubusercontent.com/5887929/152162936-7b9d38c5-ba9f-4847-9504-39089d9de9e5.png)

make display info by default off

what we it would do it would turn hover effect constantly on on gallery view, collections and artist profile

![image](https://user-images.githubusercontent

[2022-02-02 13:40] prachi00 commented on #2177
@yangwao I'll do this

[2022-02-02 13:49] vikiival opened #2179 "Unable to click on items in gallery detail"
### What happened?

When I am on mobile I am unable to roll out the description or go the to artist's page

### Please reproduce in steps

1. open [Kusama Hippie Girl 💜](https://kodadot.xyz/rmrk/gallery/11232278-d483a43afae30f4a4f-KUSAMA_HIPPIE_GIRLS-KUSAMA_HIPPIE_GIRL-0000000000000021) on mobile
2. try to interact with the app

### Expected Behavior

It should be working

### What browsers are yo

[2022-02-02 13:54] yangwao opened #2180 "Most bough collections for landing page component"
- Let's add carousal/banner style collections which are mostly, pic1
- Show top5 most bough NFTs by collections of recent buys for last week
- In carousel probably show 2 NFTs from a particular collection side by side
- Use which indexer is faster for you

![image](https://user-images.githubusercontent.com/5887929/152166162-ac82169d-c477-4234-a76e-4b5ab98ccdae.png)

### Ref
- #2018
- https://www.f

[2022-02-02 15:13] cryptodamsky commented on #1450
Yup, just seen this yesterday.

Done

https://docs.kodadot.xyz/meta_hours.html#what-to-do-before-meta-hours-as-a-speaker

[2022-02-02 16:08] yangwao opened #2181 "With cloudflare images preloader gone missing"
With recent #2143 we lost preloader bc images are already there

check out on https://beta.kodadot.xyz

[2022-02-02 16:53] yangwao opened #2182 "Revert back Credit component back"
Toping up through Ramp network works again to comment of @cryptodamsky so let's return it back

Yet I don't have a commit on hand where we removed it recently

- https://github.com/kodadot/nft-gallery/blob/fd034e7229b69b9b22af8f0db7984815d35963d5/pages/rmrk/credit.vue

- https://docs.kodadot.xyz/how_to_top_up_wallet.html#top-up-through-ramp-network

[2022-02-02 17:01] yangwao opened #2183 "Prefetch pages 3-6 pages ahead?"
I guess once we have #2143 merged, we can add some prefetch pages.

I guess it's working now but not fully?

Prefetch should happen on
- collections
- gallery
- collection view
- artist profile

[2022-02-02 17:54] yangwao opened #2184 "Ratio'd"
oh no

approx location https://beta.kodadot.xyz/rmrk/gallery/?page=34

![image](https://user-images.githubusercontent.com/5887929/152210050-9d0da99f-aa77-4e34-9127-0e219bb3dd4a.png)

[2022-02-02 17:59] yangwao opened #2185 "Readme for Indexers"
would be nice to share how to run an indexer with other people around

[2022-02-02 18:49] #2138 closed

[2022-02-02 19:35] vikiival commented on #2184
May @roiLeo css mage? 🧙

[2022-02-02 19:36] vikiival commented on #2183
prefetch the cached data

[2022-02-02 19:43] yangwao commented on #2184
https://kodadot.xyz/rmrk/gallery?page=2

![image](https://user-images.githubusercontent.com/5887929/152225327-aa7e31e9-cdb9-4d40-8ac3-a3ad86b2da39.png)

[2022-02-02 19:48] yangwao opened #2187 "Load profile if it's only collector profile"
If the user won't click, it won't see loaded NFTs it's address is only collecting and hasn't created anything so far.

Test case
- https://kodadot.xyz/rmrk/u/D16ENaBqHLq2ZRmMgumtjNkeC4yc1vmF8Gpu4wx4Ra1q3V
- https://beta.kodadot.xyz/rmrk/u/H7Zt3JeRnPH7AFpJE8UuXo3Ni5aHxCfRAjes4AQe7QfDjDN

https://user-images.githubusercontent.com/5887929/152226151-e2a4b522-1bcb-45ac-8d25-8da849cd09ae.mov

b

[2022-02-02 21:04] yangwao opened #2188 "Twitter sharing has bugs and needs some care"
We've found something special about that twitter sharing 👀

@prachi00 may take look as need some proper testing:)

Apparently it put my handle instead owner :)
![image](https://user-images.githubusercontent.com/5887929/152236909-6a6468de-5d7f-4d35-b439-84db8b31afd1.png)

![image](https://user-images.githubusercontent.com/5887929/152236867-1672f717-db65-438f-9313-9bd9d78b4e2b.png)

![image](https:/

[2022-02-03 06:01] kkukelka commented on #2187
I'll see what I can do

[2022-02-03 06:24] prachi00 commented on #2188
@yangwao checking this

[2022-02-03 07:44] roiLeo opened #2192 "Searchbar not working"
#### To replicate
- Goto `/gallery/`
- Goto page "20" for example
- Search something
- no result & error in console

![Capture d’écran 2022-02-03 à 8 43 37 AM](https://user-images.githubusercontent.com/9987732/152301265-19ce61b0-3cc0-434b-9aa8-f8cf08e6e25f.png)

#### Test case
`/rmrk/gallery?page=10&search=yeet`

#### Possible Solution
remove/initialise the page parameter from the query on Searc

[2022-02-03 09:02] vikiival commented on #153
We found neon CSS :O
https://css-tricks.com/how-to-create-neon-text-with-css/

[2022-02-03 09:47] #2184 closed

[2022-02-03 09:57] #2127 closed

[2022-02-03 10:27] yangwao opened #2193 "Preloader is gone"
We are quite missing preloader in recent PRs, can someone please bring him back? 🥺

Seems doesn't work on the beta only

on `hyper-jpeg` which is production it works

![image](https://user-images.githubusercontent.com/5887929/152327639-8a301c6a-bc94-4205-90b7-d946e5453d6b.png)

[2022-02-03 10:28] yangwao commented on #2192
And when I enter it to https://beta.kodadot.xyz/rmrk/gallery?page=7&search=gandalf yeah it's gone.. I guess bc it sends you on 7 page of search results which aren't there?

![image](https://user-images.githubusercontent.com/5887929/152325198-6f49e009-154c-4b64-8d7b-e79a507b9d71.png)

[2022-02-03 10:53] yangwao opened #2195 "Mini pulse history component"
We are looking for this kind of component to be added to the series and spotlight.

This is blocker #1680 probably?
The component should feed data of recent buy events.

In the series, show buys for the last 30 days
In the spotlight of particular authors sales for the last 30 days

![image](https://user-images.githubusercontent.com/5887929/152328222-7babc6ed-acef-439f-895f-abfe79e9eef0.png)

### R

[2022-02-03 11:04] yangwao commented on #2193
Somehow is back lol, suspicious

![image](https://user-images.githubusercontent.com/5887929/152330874-016ec6ab-af5b-4e0e-95b6-05a04d7f6ccc.png)

[2022-02-03 11:09] yangwao commented on #2193
@prachi00 👀

Probably related #2188  #2190 #2138

![image](https://user-images.githubusercontent.com/5887929/152331419-8c9bec69-785f-4d8c-93b1-ffa4e8a47979.png)

[2022-02-03 11:11] prachi00 commented on #2193
@yangwao it should be solved when #2190 is merged I guess

[2022-02-03 11:12] yangwao commented on #2181
Continue to #2193

[2022-02-03 11:12] #2181 closed

[2022-02-03 11:49] yangwao commented on #2168
actually, it's good as non-logged people won't see it in PR
![image](https://user-images.githubusercontent.com/5887929/152337342-5c09b407-c1a6-4ad7-b893-d6ef7bf785e5.png)

[2022-02-03 11:49] #2168 closed

[2022-02-03 12:03] #2188 closed

[2022-02-03 12:13] yangwao opened #2196 "Keyboard shorcuts left-right on nft item detail should not listen on input"
I've tried input to change the price in LIST

when I press the left arrow or right arrow to move in the input box, it changes another nft item detail

https://user-images.githubusercontent.com/5887929/152340640-3921808e-ea7b-4824-9af3-2043c18b790a.mov

[2022-02-03 12:16] #2156 closed

[2022-02-03 12:26] yangwao commented on #2193
yup working

<img src="https://media2.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif"/>

[2022-02-03 12:26] #2193 closed

[2022-02-03 12:47] yangwao opened #2197 "Migrate yarn v2"
Someone can take care and migrate to yarn v2, it should cut us time for development and fresh installs

Why we should migrate -> https://yarnpkg.com/getting-started/qa#why-should-you-upgrade-to-yarn-modern

Note to @yangwao -- check deployments if works ok!
- on beta
- on production

### Ref
- https://yarnpkg.com/getting-started/migration

[2022-02-03 12:52] #2137 closed

[2022-02-03 13:04] yangwao commented on #2197
Old yarn 1.22.10

23.93s

Compiled successfully in 34.49s (I guess wont we get better performance)

yarn generate  Done in 40.31s. (yarn v2/v3 won't impact this one I guess)
![image](https://user-images.githubusercontent.com/5887929/152348200-02eb08b9-a3d8-4d8a-9d48-cb11d63f33d1.png)

[2022-02-03 13:31] kkukelka commented on #2196
On it!

[2022-02-03 13:55] yangwao opened #2200 "Has search on emoji panel ever worked?"
Probably check and fix
Plus I've noticed we showing some limited subset of emojis, curious why?

https://user-images.githubusercontent.com/5887929/152356419-4eb44272-c69d-451d-a275-57c2ad434224.mov

[2022-02-03 13:57] yangwao opened #2201 "Add pooling events for nft item detail"
When you add emoji, we don't refresh changes once it's in the block or we don't refresh history & chart when event has happened

[2022-02-03 13:59] damskyftw opened #2202 "Maximum NFTs in collection doesn't work"
### What happened?

Created a collection with limited pieces in it (1)
Afterwards i minted one nft with 2 editions to it (so 2 nfts)

### Please reproduce in steps

Go to kodadot.xyz
Create collection
Set 1 as maximum nfts in collection
Switch to NFT
Mint NFT with 2 editions to the collection

### Expected Behavior

I've expected to not let me sign the transaction if edition exceeds collection lim

[2022-02-03 14:17] kkukelka opened #2203 "Navigation on GalleryItem is broken after refactor"
### What happened?

During refactoring that abstracted logic into `BaseGalleryItem.vue` some logic was broken

### Please reproduce in steps

Hovering over NFT whose collection > 1 doesn't show Navigation.
https://beta.kodadot.xyz/rmrk/gallery/11245555-883235753dfbc27c77-MRTN-CLERK_MARTIN_0116-0000000000000116

### Expected Behavior

Navigation should pop up on hover

### Screenshots

https://user

[2022-02-03 14:17] yangwao commented on #1294
Already done
![image](https://user-images.githubusercontent.com/5887929/152360183-242b3bb8-435a-48f6-91a6-3f1b5f9795ac.png)

[2022-02-03 14:17] #1294 closed

[2022-02-03 15:09] #2203 closed

[2022-02-03 15:20] yangwao commented on #1138
Closing in favour #1581

[2022-02-03 15:20] #1138 closed

[2022-02-03 15:37] yangwao opened #2206 "We are not showing owner info, name and description before access"
Once access was granted as I did refresh it showed again hmm

![Screenshot_2022-02-03-16-34-15-69_9f6dbfd27b7f51a667c3985a7026b1bb.jpg](https://user-images.githubusercontent.com/5887929/152375033-0b96e470-e435-4f3b-9c3f-821d147632ca.jpg)

![Screenshot_2022-02-03-16-34-49-14_9f6dbfd27b7f51a667c3985a7026b1bb.jpg](https://user-images.githubusercontent.com/5887929/152375051-0e151ab2-6eb8-4cec-a5dd-da4

[2022-02-03 19:40] yangwao opened #2208 "Show only first row from description at collection"
Let's make it show only the first line from the description of the collection
Test at https://kodadot.xyz/rmrk/collection/54563af23dba417622-CAT
https://user-images.githubusercontent.com/5887929/152416447-a8365828-2643-4584-a36d-682cc6ca2b02.mov

[2022-02-03 19:41] prachi00 commented on #2208
@yangwao I;ll do this

[2022-02-04 07:08] cryptodamsky commented on #2106
Since i can't replicate the bug, i take this as solved. Tried the same procedure and it works.

[2022-02-04 07:08] #2106 closed

[2022-02-04 08:41] roiLeo commented on #2200
It does work for me
![Screenshot 2022-02-04 at 09-39-21 Kitty Paradise #261](https://user-images.githubusercontent.com/9987732/152497986-cd56f4a5-4419-48a0-b33f-0fc44ba49c52.png)
![Screenshot 2022-02-04 at 09-40-19 Kitty Paradise #261](https://user-images.githubusercontent.com/9987732/152498075-7e8d127f-0951-42af-aee5-76c94918691e.png)

[2022-02-04 08:54] yangwao commented on #2208
<img src="https://media2.giphy.com/media/MdqE46HziuFJTlIwjw/giphy.gif"/>

[2022-02-04 09:01] yangwao commented on #2200
I feel special

[2022-02-04 09:56] XyloDrone commented on #2018
Seems like we are good to go with this one, Figma valid for reference :D + some extras that have been mentioned after :D

[2022-02-04 10:18] vikiival commented on #2185
Indexer docs were updated:
see
https://github.com/vikiival/magick
https://github.com/kodadot/unique

[2022-02-04 10:24] yangwao opened #2213 "Implement Beacon - wallet-connect like"
Novawallet will be supporting them tho so we can add ourselves into the queue for testing.

https://www.walletbeacon.io/
https://docs.walletbeacon.io/
https://github.com/airgap-it/beacon-sdk

[2022-02-04 10:36] #2196 closed

[2022-02-04 10:55] #2185 closed

[2022-02-04 11:23] #2182 closed

[2022-02-04 11:58] yangwao opened #2216 "Add overlay dialog for shortcuts to learn them faster - Tekken"
I can't find where I've seen it but with upcoming PR #2097 would be super nice to add shortcuts to control the app much faster.

The goal of the overlay would be to pro-actively learn users how to control the app with keyboard shortcuts
I.e. when I press `g` it will roll out which keyboard shortcuts would be next for a particular action.

Something like in mortal combat or Tekken tho when it sugge

[2022-02-04 12:10] yangwao opened #2217 "Custom cursor in app"
Let's add to users settings a way to turn off the web cursor while hovering over links to have a more native feeling of the app.
Plus add an option to users choose their custom cursor from emoji/unicode

### ref
- #1581
- https://linear.app/blog/settings-are-not-a-design-failure

[2022-02-04 12:29] yangwao opened #2218 "Align navbar with recent style changes"
At navbar, at hover would be nice to have top-border and slow fade-in highlight effect around the text

![image](https://user-images.githubusercontent.com/5887929/152529158-d7a81659-7d77-4e95-ae6d-6755f077d661.png)

https://user-images.githubusercontent.com/5887929/152529137-39a91110-6b9a-425e-8c9f-ce693562f522.mov

[2022-02-04 12:30] prachi00 commented on #2218
@yangwao Ill pick this

[2022-02-04 12:36] yangwao opened #2219 "Add time when was collection minted"
Probably add it somewhere under creator (pic1) with the option to turn it off in settings.
Add it as relative time (pic2)

![image](https://user-images.githubusercontent.com/5887929/152530084-94162092-7ef6-494c-828d-47d65f5fd2b9.png)

![image](https://user-images.githubusercontent.com/5887929/152530184-1c370c03-b1da-4c57-8e9c-d33425817bb5.png)

[2022-02-04 12:43] yangwao opened #2220 "Rework profile links a bit"
At a collection view
- replace subscan icon with identicon
- remove dot scanner link

At a profile
On left
- remove dotscanner and sub.id

On right, add over sharing, in same style into boxes
- dotscanner
- sub.id
- subscan
- polkascan

https://kusama.polkastats.io/account/Hqa6PRbEH25UiaPmcfeCfdG8FSqBUtNR5KtVfG3oSCBFSg9

![image](https://user-images.githubusercontent.com/5887929/152530285-956997ad

[2022-02-04 12:45] yangwao opened #2221 "Make pr to dotapps to add kodadot to profile"
Add KodaDot to dotapps to account/addressbook
https://cloudflare-ipfs.com/ipns/dotapps.io/?rpc=wss%3A%2F%2Fkusama-rpc.polkadot.io#/addresses

![image](https://user-images.githubusercontent.com/5887929/152531225-bccec01d-1f63-4c6c-a63b-49df6607eb3c.png)

### Ref
- https://github.com/polkadot-js/
- https://github.com/kodadot/kodadot-presskit/tree/main/v3

[2022-02-04 12:46] prachi00 commented on #2220
@yangwao whats identicon?

[2022-02-04 13:11] yangwao opened #2222 "Passion feed filter to gallery view v1.1 - Yulia"
- [ ] add a switch to the main gallery view to switch to passion feed, default on. To be able to switch between ALL <> PASSION
- [ ] query
-- where a collector is a current owner but not the issuer
-- all nfts where the issuer is in the array from list 1

@vikiival will pass query shortly which should be put as resolver to https://github.com/kodadot/rubick

[2022-02-04 13:14] yangwao opened #2223 "Passion feed for spotlight & series"
This switch will be added to spotlight and series

- Add new resolver to https://github.com/kodadot/rubick
- add a switch to show passion <> all
- query
-- where a collector is a current owner but not the issuer
-- all nfts where the issuer is in the array from list 1

### Ref
- query could be find in previous issue
- #2222
- https://github.com/kodadot/rubick/issues/27

[2022-02-04 13:14] yangwao commented on #744
Continue to
- #2222
- #2223

[2022-02-04 13:14] #744 closed

[2022-02-04 13:20] yangwao commented on #1965
Dropping link https://estuary.tech/ecosystem

[2022-02-04 13:24] vikiival commented on #2222
For SubQuery to fetch my artists
[code]

then a `buildSearchParam` has to be extended with:

[code]

`passionList` should be `string[]`

[2022-02-04 13:28] vikiival commented on #2222
https://github.com/kodadot/rubick/issues/27

[2022-02-04 13:41] yangwao commented on #1337
We already have
![image](https://user-images.githubusercontent.com/5887929/152538662-dead1451-6728-48c1-bfa0-6ec9adff4256.png)

[2022-02-04 13:41] #1337 closed

[2022-02-04 13:45] yangwao opened #2224 "Hack vrm module to kodadot"
Make component to explore VRM much easier within a-frame into worlds

- https://github.com/pixiv/three-vrm
- https://github.com/binzume/aframe-vrm

[2022-02-04 14:22] vikiival commented on #2213
https://github.com/airgap-it/beacon-polkadot-example-dapp/blob/main/package.json

[2022-02-04 14:28] vikiival commented on #1582
Need to hack addressable pagination for infinite scroll

[2022-02-04 15:10] kkukelka commented on #1965
sweet, thanks!! already close to the finish line on this one. opening a draft later today or tomorrow 👍

[2022-02-04 15:11] yangwao opened #2226 "Passion feed v2 friend of friend"
Once #2222 is finished, let's add another query for option making on top of passion feed plus showing friends of friends, like those who collected another edge of friends

[2022-02-04 18:21] vikiival commented on #707
Playwright looks hot

https://github.com/galacticcouncil/Basilisk-ui/blob/develop/e2e-tests/utils/polkadot-dapp-utils.ts

[2022-02-05 07:07] kkukelka commented on #1965
Draft link: https://medium.com/@kilian.kukelka/on-the-past-present-and-future-of-data-storage-at-kodadot-7634a0c32530

[2022-02-05 09:09] yangwao opened #2229 "Use cloudflare r2 for pre-caching glb/gltf objects"
Let's leverage cf r2 for faster load of glb objects as it's our core thesis of 3d nft marketplace ;)

might be optionally for some textures which I don't know formats out of head

Right now we are not much incentivized to store movies tbh and we will opt-out to using Estuary/Pinata Gw for that

### Ref
- https://blog.cloudflare.com/introducing-r2-object-storage/
- https://news.ycombinator.com/item

[2022-02-05 09:57] #2208 closed

[2022-02-05 10:16] yangwao opened #2230 "Move 'default view' to bottom right"
In the upper corner, we have a button default / theatre view
- move it to bottom right next to full screen mode and replace it with icon cube https://fontawesome.com/v5.15/icons/cube?style=solid
- replace icon for full screen with expand https://fontawesome.com/v5.15/icons/expand?style=solid
- on full screen replace minimize with compress https://fontawesome.com/v5.15/icons/compress?style=solid
![

[2022-02-05 10:17] prachi00 commented on #2230
@yangwao I'll pick this one up

[2022-02-05 10:24] yangwao opened #2231 "Add to recent sales who bought it and relative time"
Icon https://fontawesome.com/v5.15/icons/money-bill-alt?style=regular by <link_to_collector_profile>
Icon - https://fontawesome.com/v5.15/icons/clock?style=regular Relative time

![image](https://user-images.githubusercontent.com/5887929/152638146-82ee1c4b-e9f3-41a7-80c0-12ab025c7a2f.png)

[2022-02-05 10:29] yangwao commented on #1965
@petersopko said he can proofread tho and better in English than me probably 😍

[2022-02-05 10:34] yangwao commented on #2187
Any progress 🥺  as we will be rolling #2231 to landing would be really nice to have there! :)

[2022-02-05 11:49] #2231 closed

[2022-02-05 11:50] #2218 closed

[2022-02-05 12:17] yangwao opened #2237 "Time to tackle cache more efficiently"
It's a bit frustrating every time I need to clear the cache between new changes in deploy previews, even I see on `main` branch stuff which isn't there tho 😅

Has someone will figure out the current caching issue to really flush stuff browser cache?
In future, it would help to avoid unnecessary caching issues on the client browser while testing new stuff.

![image](https://user-images.githubuserco

[2022-02-05 12:20] kkukelka commented on #2187
I'll will give it priority 👍

[2022-02-05 15:54] yangwao opened #2241 "Seems transfer needs fix"
I guess it requires Math.trunc() to round number

https://kodadot.xyz/transfer/

tried transfer 0.54
![image](https://user-images.githubusercontent.com/5887929/152648847-97860b07-62fd-4fd7-81a3-318a272e22a3.png)

![image](https://user-images.githubusercontent.com/5887929/152648879-4daff6eb-57ea-46f9-8370-15c96c8831eb.png)

[2022-02-05 17:49] jkdizajn commented on #2014
Here is my animated SVG
**JS version, transparent_bg, responsive**
![KodaDot_preloader_js_transparent_bg_responsive](https://user-images.githubusercontent.com/81104034/152652751-b6f03ff9-c749-486e-abdd-7300d72a4077.svg)

**CSS version, transparent bg with responsive**
![KodaDot_preloader_css_transparent_bg_responsive](https://user-images.githubusercontent.com/81104034/152652777-c74f6b42-8ba7-456c-

[2022-02-05 17:52] yangwao commented on #1302
Is this resolved? I guess?

[2022-02-05 17:54] yangwao commented on #1228
! important

[2022-02-05 17:54] #1228 closed

[2022-02-05 17:54] #1528 closed

[2022-02-05 17:55] yangwao commented on #276
We talked about this one to remove it at all and add nanoid for behalf of user and avoid collision 💥

[2022-02-05 17:56] yangwao commented on #1376
@vikiival is this resolved?

[2022-02-05 17:57] yangwao commented on #737
Let's check on this @cryptodamsky

[2022-02-05 17:59] yangwao commented on #1515
Meanwhile we done #1594 #2143 so this is done.

Have a nice flight ✈️🛫

[2022-02-05 17:59] #1515 closed

[2022-02-05 18:03] yangwao commented on #1501
Let's write ✍️ on 🚂🚃🚃🚃

[2022-02-05 18:03] yangwao commented on #1016
Recently done search 🔎 for Readme issue

[2022-02-05 18:03] #1016 closed

[2022-02-05 18:27] yangwao commented on #2014
Yas let's have this as preloader, transparent version, one JS doesn't animate on mobile tho

Maybe @kkukelka will be around 😜

[2022-02-05 18:36] kkukelka commented on #2014
Will do!

[2022-02-05 19:33] MubarakSULAYMAN opened #2243 "DEP0148 - update this package.json to use a subpath pattern like "./*""
### What happened?

A "_(node:7469) [DEP0148] DeprecationWarning_" warning appears in terminal immediately the builder initialized

### Please reproduce in steps

Navigate to the project folder and start the project
[code]
Then watch the terminal for this error.

### Expected Behavior

The server should start with no error.

### What browsers are you seeing the problem on?

_No response_

### Are

[2022-02-05 23:57] onerawartist opened #2244 "the tabs on top of the page should be centered automatically"
### What happened?

i think it happened because i have a long name ^^
![Screenshot 2022-02-06 004911](https://user-images.githubusercontent.com/71472224/152662950-63faae96-928f-4be5-9575-d5e4c01611b8.jpg)

### Please reproduce in steps

/

### Expected Behavior

I've expected the spacing on the right to be the same as on the left

### What browsers are you seeing the problem on?

Chrome

### Are y

[2022-02-06 00:02] onerawartist commented on #1367
im still waiting for this to be solved because i hate how my profile looks right now lol , its a mess.

@yangwao @vikiival @XyloDrone @kkukelka please help

[2022-02-06 08:35] XyloDrone commented on #1367
Explorer has been redesigned, profile in the works, landing page is a priority atm :)

[2022-02-06 08:51] petersopko commented on #1965
@kkukelka I've made some changes (some grammar, some styling) and stored them here https://justpaste.it/7xxhg
Feel free to use what you like and discard the rest.

[2022-02-06 08:57] yangwao opened #2246 "calling force-clip squad to the rescue"
I guess the latest sales broke due way too long identity

plus would be nice to rework previous CSS hacks more sophisticated with clip )

![image](https://user-images.githubusercontent.com/5887929/152674004-784b05e3-52c5-4102-b14e-ff8895d80eb0.png)

identity could be found here
https://kodadot.xyz/rmrk/gallery/10812187-66241b171becfd500e-EGG-KU_EGG_371-0000000000000371

[2022-02-06 09:02] #2014 closed

[2022-02-06 09:11] yangwao opened #2247 "Add "showing results of X""
Right now I don't have any idea what user is looking at :)

Can be done right away #2238

![image](https://user-images.githubusercontent.com/5887929/152674386-a33c790c-e93e-43a7-8291-66ae0a7592ce.png)

[2022-02-06 09:11] #2192 closed

[2022-02-06 09:18] #2187 closed

[2022-02-06 09:27] jkdizajn commented on #2014
Speed UPDATE

- added rotation

- enlarged tail

- reduced speed
![Update_KodaDot_preloader_css_transparent_bg_responsive](https://user-images.githubusercontent.com/81104034/152674765-3eb1329c-0610-4376-8ed0-569ae67923d2.svg)
![Update_KodaDot_preloader_css_black_bg_responsive](https://user-images.githubusercontent.com/81104034/152674766-b403992a-0cfe-4dfb-a241-5a7091367723.svg)

[2022-02-06 09:48] yangwao opened #2249 "Handle offline-first screen"
Tell users they are out of the internet and once they are back, they should see NFTs

![image](https://user-images.githubusercontent.com/5887929/152675447-e9500a50-c687-4329-88d9-948b1660f799.png)

[2022-02-06 10:07] kkukelka commented on #2014
could you create a version where you trim the empty space as much as possible?

[2022-02-06 10:33] jkdizajn commented on #2014
HERE is
![Update_2_KodaDot_preloader_css_transparent_bg_responsive](https://user-images.githubusercontent.com/81104034/152676806-744da098-8c4d-4240-acb9-6c817b4f0b6a.svg)

[2022-02-06 10:47] kkukelka commented on #2014
perfect, thanks!

[2022-02-06 11:02] yangwao opened #2251 "Share activity graph of collection on social"
Would be nice to share activity graphs on social media from particular collections and make it easier for users.

I guess picture could be fairly generated on client's side

Like from https://kodadot.xyz/rmrk/collection/2644199cf3652aaa78-KK01?tab=activity
It would take a snapshot of the chart, generate tweet line and woala.

Probably mention the value of trailing average in a tweet and turn off f

[2022-02-06 11:02] vikiival commented on #1965
@kkukelka I would maybe link the cron for cf images (kodadot/bao) repo

[2022-02-06 11:16] yangwao opened #2252 "Navbar sorting & cleaning"
- Probably we could move Tutorial into Log In dropdown

From Extra move to Profile, put them
- Transfer - it's not possible to do until you logged anyway
- Teleport - same as above
- Admin -  same as above

The final state under profile should be, in a particular order
[code]
Thus you can remove the Extra, Tutorial, Language selector
The reasoning is lightweight UI doesn't show the user what's is

[2022-02-06 11:27] kkukelka commented on #2252
On it!

[2022-02-06 12:42] kkukelka commented on #1965
@petersopko thanks for the proof-read -> implemented your feedback 😃 (btw you can leave notes and feedback directly in medium, maybe you need to create an account for it)

@vikiival linked to repo 👍

@yangwao added cover image and submitted for publish

![article-cover](https://user-images.githubusercontent.com/17953978/152681275-45ad1405-c4af-4261-b975-880b5881e959.jpg)

[2022-02-06 12:52] petersopko commented on #1965
np. ah, my bad, I'll try to use medium next time :)

[2022-02-06 18:34] kkukelka commented on #2252
@yangwao
1. I really dislike the idea of putting language switcher into profile dropdown, as it would result in a nested dropdown... kind of a no-go don't you think?
2. What to do about Twitter and Discord link in Profile Dropdown? Its already pretty loaded now and I don't see how they are related to user profile anyways? We also link to them in the footer

<img width="447" alt="Screenshot 2022-02

[2022-02-06 19:09] yangwao opened #2255 "Calling css mage for landing"
I guess we need to preserve some mobile experience and avoid scrolling to horizontal whole page 🥶😶‍🌫️🫠🫥🤐🫣🥹😬

https://user-images.githubusercontent.com/5887929/152697326-97bd1e65-2007-4eeb-ae3f-0640b8b498a1.mp4

Plis firefox focus doesn't show it all 😬

![Screenshot_2022-02-06-21-09-30-32_fd7367fd0afc7e864f00091a00b3d0b0.jpg](https://user-images.githubusercontent.com/5887929/152699453-ad64283c-8dea

[2022-02-06 21:03] yangwao opened #2256 "Rehaul for mobile-first experience"
I guess this would be starter to bring full widths picture to mobile as wider picture might have higher impress on people on already small screen tho.

We will start with feeds pic1

Would be really much needed for
- gallery
- artist profile feeds
- collections
- collection detail
- NFT item detail pic2

![Screenshot_2022-02-06-21-57-32-51_40deb401b9ffe8e1df2f1cc5ba480b12.jpg](https://user-images.

[2022-02-06 22:43] mcfly12 commented on #1302
Nothing resolved so far. The issue is still as described.

[2022-02-07 06:36] prachi00 commented on #2256
@yangwao I'll check this

[2022-02-07 06:57] deepinder10 commented on #2243
I will pick this. Please assign it to me.

[2022-02-07 07:23] kkukelka commented on #2220
@yangwao do you mean something like this for the right part of user profile?
![Screenshot 2022-02-07 at 08 22 53](https://user-images.githubusercontent.com/17953978/152742985-6bb5bae1-f7fc-4ed0-a7ae-0fcea2077ca7.png)

[2022-02-07 10:28] yangwao opened #2257 "On focus in search bar show recent listings"
Once the user focus, spin up a query that would show recent listed (maybe option for sold) NFTs (3?), a query could be found in #2018
Later could be combined with #2222 for more refined results for logged in user.

### Ref

- #1294

[2022-02-07 10:57] yangwao opened #2258 "Developer-centric articles should be republished on dev.to"
- #1965
- #1959
- #2028

ht @roiLeo for suggestion

https://github.com/kodadot/nft-gallery/issues?q=is%3Aissue+label%3Awriting-%E2%9C%8D%EF%B8%8F+

[2022-02-07 11:03] yangwao opened #2259 "Add keyboard shortcuts cheat sheet on kbd short cut"
I guess we should add some keyboard shortcuts board like this
Once the user presses `?` it will show

Once is done #2097
![image](https://user-images.githubusercontent.com/5887929/152776090-2a5a8bf4-41ee-432b-bdeb-91055fa2fc57.png)

[2022-02-07 11:12] roiLeo commented on #2255
Video not loading ☹️

on firefox focus it doesn't even show `/gallery` nfts, could be related with some css property not applied on firefox?

Can't reproduce, what was the navigator?

[2022-02-07 11:23] yangwao commented on #2255
yeah noticed few videos uploaded through gh mobile app is gone forever :|

It's android chrome but it does only sometimes, so some class is overlapping? Will keep watching on this one.

[2022-02-07 11:32] ins0mn1a opened #2261 "Unite search experience in Collections with Gallery"
### Is your feature request related to a problem?

When you try search in "Collections" you are getting realtime results with loading progress while you typing.
It's messy and not much user friendly.
<img width="822" alt="Screenshot 2022-02-07 at 12 22 51" src="https://user-images.githubusercontent.com/10535692/152779991-070f4b88-0c8f-44f5-a13f-0e8cfe40a34f.png">

### Describe the solution you wou

[2022-02-07 11:51] prachi00 commented on #2230
<img width="595" alt="Screenshot 2022-02-07 at 5 20 43 PM" src="https://user-images.githubusercontent.com/39299315/152783049-c038be8e-9230-45c9-ac73-03f5045e020d.png">
@yangwao what happens to this button? this would also be moved to bottom right

[2022-02-07 12:03] prachi00 commented on #2230
and also what should be the icon for theatre view?

[2022-02-07 12:07] petersopko commented on #2261
related to (or included in) issue https://github.com/kodadot/nft-gallery/issues/2100 . As discussed with @vikiival there's difference in queries used in these two components. I'd like to work on unification of search between gallery / collections. There's actually even design difference for some reason, which I don't see right now:

Gallery (after toggling filter -> default is hiddenbottom section

[2022-02-07 12:13] yangwao commented on #2100
Related #2247

[2022-02-07 12:21] yangwao commented on #1118
Already done

[2022-02-07 12:21] #1118 closed

[2022-02-07 12:23] yangwao commented on #1734
Closing as haven't occurred so far and working tho

![image](https://user-images.githubusercontent.com/5887929/152787384-97f8c1b6-6644-4030-bf5e-815333dfd7f5.png)

[2022-02-07 12:23] #1734 closed

[2022-02-07 12:23] yangwao commented on #2261
Collections have legacy search iirc.
Gallery is definitely a few iterations further as we've been focusing there.

Unify those two components would be really much needed, #1678

In collections queries need major rehaul iirc to work properly, collection view is still experimental, where gallery showing NFTs per se and collections should offer way essential on recent new collections.

[2022-02-07 12:35] yangwao commented on #2243
@deepinder10 sure, let's go

[2022-02-07 12:36] yangwao commented on #2220
Yup, but could be the same size as that icon and best if it would be merged together? Like grid of two rows

[2022-02-07 12:40] yangwao commented on #2230
yes, updated issue

I guess this one could be fit https://fontawesome.com/v5.15/icons/image?style=regular

[2022-02-07 12:41] yangwao commented on #2220
OR we can think of using some dropdown or hiding it somehow smart and show on demand.

[2022-02-07 12:53] kkukelka commented on #2220
Yes will do. I actually like two rows in same grid with same-sized items the most. Since accordion approach would demand even more space.

[2022-02-07 12:56] #2025 closed

[2022-02-07 13:11] yangwao opened #2262 "Async lazy-loading landing"
I guess as referenced here https://github.com/kodadot/nft-gallery/pull/2260

We should fetch the main payload of the webpage and one row by one row fetch the rest stuff so the user doesn't have a blocked landing page

[2022-02-07 13:13] yangwao opened #2263 "Leverage nuxt-link"
I sense that we still have some links where we don't leverage Nuxt enough.
Let's fix it and see. This should help leverage automatic code-splitting I sense.

Hints
- search for href within codebase
- I recall seeing some `divs` used for routing?

https://nuxtjs.org/docs/get-started/routing/

[2022-02-07 13:14] prachi00 commented on #2263
@yangwao I'll do this

[2022-02-07 13:25] yangwao commented on #2220
yes, that was ours first iteration, let's see how it would look.

we have still in mind that we don't need to show some icons until requested by the user so itentively hiding is the way to go. to keep UI as light as possible )

[2022-02-07 13:27] vikiival commented on #1376
Yup

7f47424972b0ffc40b830926e9aba1f42ea54e8b

[2022-02-07 13:27] #1376 closed

[2022-02-07 16:16] yangwao opened #2266 "Add Statemine to docs"
- Take recent article made by Viki and make more human introduction to Statemine

- https://medium.com/kodadot/wen-statemine-by-kodadot-b35ae13b70ff

[2022-02-08 07:55] yangwao opened #2275 "Merge renovate under one PR"
To avoid number of PRs tho

![Screenshot_2022-02-08-08-55-20-26_320a9a695de7cdce83ed5281148d6f19.jpg](https://user-images.githubusercontent.com/5887929/152942505-54911314-10ff-4b9b-aada-3769c5705986.jpg)

[2022-02-08 08:51] yangwao opened #2276 "Add what's are fees for minting to faq"
Can we fast track this @cryptodamsky 😇

- explainer how much are fees and why is that
- would be higher if so at what load
- link to some recent minting transaction

![Screenshot_2022-02-08-09-50-05-44_40deb401b9ffe8e1df2f1cc5ba480b12.jpg](https://user-images.githubusercontent.com/5887929/152951246-1531e162-10a1-4a13-ae8f-7d5268a7f836.jpg)

[2022-02-08 09:24] yangwao opened #2277 "Common Good & Public good writing"
More than welcome I would like to fund bounty for writing about the common good and the public good.
You can frame it within the case study as KodaDot is doing public well being open source and sharing knowledge further and growing "framework" for NFTs
Feel free to include their MetaPrime as common/public good for experimental NFTs

We've talked about this with @cryptodamsky and I gues whoever wou

[2022-02-08 09:50] kkukelka commented on #2277
I'm on it ✏️

[2022-02-08 10:46] yangwao commented on #2277
Sure, more perspectives matter.

[2022-02-08 10:48] yangwao commented on #2255
@roiLeo pretty please, can you spell CSS for us 🥺

<img src="https://media0.giphy.com/media/xUOwFToDIeaXgTblII/giphy.gif"/>

[2022-02-08 10:53] roiLeo commented on #2255
Where should I cast my spell?
I need more infos to replicate the bugs

[2022-02-08 11:22] yangwao commented on #2255
lol I haven't pasted pic lmao, my clipboard is acting weird as its user.

![image](https://user-images.githubusercontent.com/5887929/152977308-e653c96e-c195-4134-a270-bab42e928935.png)

[2022-02-08 11:59] XyloDrone commented on #2018
@prachi00 , @yangwao I don't think it's very optimal for UX to have a carousel on the landing for displaying NFTs, any chance we could consider having 2 rows instead and "View all" button as per design? I think this is much more user friendly and it requires less interaction to view NFTs.

[2022-02-08 12:03] XyloDrone commented on #2222
Is a passion feed a display of "liked" artworks and followed artists?

[2022-02-08 12:38] yangwao opened #2282 "Show available balance at NFTs for BUY"
When people are eyeballing for NFTs, show them the available balance next to the name
This would avoid some future failed transactions and UX Foppa

Optionally disable BUY when not enough balance but keep it there, tell the user why is disabled.
Don't forget to add it to translations
Subscribe pooling for balance to see and avoid edge case if someone refuelled their wallet meanwhile.
Please test a

[2022-02-08 12:50] roiLeo commented on #2222
From what I understand, it will be a feed of nfts created by artists whom I already own one or more nfts.

[2022-02-08 13:20] chandradot99 commented on #2282
I am on this @yangwao

[2022-02-08 13:20] #1783 closed

[2022-02-08 13:22] yangwao opened #2283 "Article about keyboard shortcuts in KodaDot"
Let's write writing how easy is controlling KodaDot on desktop and collecting faster
Probably animated video with most actions would be really needed in the article
The tutorial form would be great as well to demonstrate where on video user will see which keyboards were pressed
Definitely, someone with super-fast internet to cut load times on video :)

Deliver in form of medium article, can be on

[2022-02-08 13:47] #1850 closed

[2022-02-08 13:50] roiLeo commented on #1640
Same thing happened on:
`/rmrk/gallery/8682218-4a87d67106c2d9c06e-EG3QW-HOPE_-0000000000000005`
in history we can see `LIST` event at price 0

[2022-02-08 13:52] yangwao commented on #1838
Used Subquery aggregate in #2284 looking forward for this one as graphs for bigger collections are quite heavy tho

[2022-02-08 14:30] XyloDrone commented on #2222
Something like this?
![Screenshot 2022-02-08 at 15 29 48](https://user-images.githubusercontent.com/84407059/153007503-8f932860-b964-4cde-be5c-58b4cd72d860.png)

I think this is cool, but if it is possible I think follows / likes would be a good thing to have as collectors can then choose which artists and pieces to track

[2022-02-08 14:32] #2255 closed

[2022-02-08 14:36] yangwao opened #2288 "Css mage for landing v2"
Continue from #2255 #2287

Current `main` at writing this
Probably if could look it like is showing around 600px breakpoint? pic2
It happens only when I trigger mobile tho,  works well just on responsive, weird :|

![image](https://user-images.githubusercontent.com/5887929/153008248-2d7724f5-d32a-4dde-852c-f1278e300776.png)

![image](https://user-images.githubusercontent.com/5887929/153008573-0cd1

[2022-02-08 15:11] kkukelka commented on #2276
not accidentally 😛  i rewrote all the FAQ entries according to #1604

[2022-02-08 15:37] yangwao commented on #2275
Closed in https://github.com/kodadot/nft-gallery/commit/a519f2591d76b7c809737c054dfd197762dfa674

[2022-02-08 15:37] #2275 closed

[2022-02-08 15:40] #2288 closed

[2022-02-08 15:57] yangwao opened #2290 "Filter on top of collection detail show only collected"
I guess we would need to add a filter to orient better on top of collection for logged in users

Right now we are showing green shadow behind it.
test case https://beta.kodadot.xyz/rmrk/collection/160a6f4320f11acb25-LCKWV

[2022-02-08 15:59] roiLeo opened #2291 "spookie skeleton on gallery/:id"
We will need to rework a bit the [skeleton](https://buefy.org/documentation/skeleton/) on gallery item when the page is loading because it became non sense

#### Screenshot
![Capture d’écran 2022-02-08 à 4 56 04 PM](https://user-images.githubusercontent.com/9987732/153025159-d8e5791c-8e77-45ab-9cc5-09fe91d2f83f.png)

[2022-02-08 17:11] lohba commented on #2290
@yangwao I'm not seeing the green shadow? What filters are you looking to add?

[2022-02-08 17:14] chandradot99 commented on #2259
@yangwao I will look into it.

[2022-02-08 21:04] yangwao commented on #2222
Bought has higher valuation in graph.

Likes we already have as emotes, that's could be nice feed decoration, but doesn't signal higher appreciation hence it's cheap to be gamed/attacked on KSM

[2022-02-08 21:06] yangwao commented on #2276
I'm getting used that with our code is like tides at beach, sometimes it's high, sometimes low and yet it's still evolve 😅

[2022-02-08 21:08] yangwao commented on #2291
I could point where or when it has happened 😅 yet remain 😶 I've noticed that change hmm 🤣

[2022-02-08 21:09] yangwao commented on #2290
If you own NFT from particular collection you would see 1px green shadow it's tiny detail so I guess it's hard to spot for now.

Might be reworked to easier spot which is yours.

I'm open to 💡

[2022-02-09 04:15] lohba commented on #2290
@yangwao  ah I see, what is the correct way to test as an owner of an NFT?

[2022-02-09 05:45] kkukelka commented on #2276
@yangwao sooo i could basically close this by just re-adding question from #1399 right? where should i put it in terms of order? my best guess would be right below `HOW CAN I MINT NFTS?` right?

[2022-02-09 06:59] deepinder10 commented on #2243
@yangwao I cannot re-generate the issue, did someone else fix it?
@MubarakSULAYMAN can you try updating or running yarn install again if there is some version issue with vuex on your local?

[2022-02-09 08:52] yangwao commented on #2290
cc @vikiival

[2022-02-09 09:14] cryptodamsky commented on #2276
Yeah the question was removed because it was a mixup of tutorial and other information that deserve to be solo. We can have a question for example:

Q: How much will it cost me to mint an nft?
A: Answer as per current fees

[2022-02-09 09:15] cryptodamsky commented on #2276
I agree with the positioning. It's probably one of the first thing a beginner will be looking to find out.

[2022-02-09 09:18] yangwao opened #2298 "Icon sizes needs put sizing back?"
That one time I've skipped skip netlify builds :D

I guess the recent update fontawesome-svg-core made this change https://github.com/kodadot/nft-gallery/pull/2294

check https://beta.kodadot.xyz/rmrk/collection/160a6f4320f11acb25-LCKWV

![image](https://user-images.githubusercontent.com/5887929/153163898-0aa9e9f3-9fb5-47f5-a2ea-52d6de1aef94.png)

[2022-02-09 09:26] kkukelka commented on #2298
I'll take a look

[2022-02-09 09:32] #2252 closed

[2022-02-09 09:35] cryptodamsky commented on #2276
Yup would also like to add this to docs. But as i'm trying to find an answer either on polkadot wiki or rmrk docs, can't really find much about fees or how would it act with higher load. Are there any materials i could get this from and transform it to some understandable 'answer' for newbie?

As for now i can't even see the transaction calculator while minting, so not really sure where to fetch a

[2022-02-09 09:49] #2230 closed

[2022-02-09 10:18] yangwao opened #2300 "(JS-0306) Missing explicit return and argument types"
## Description
Explicit types are considered in three ways: - It serves as self-documenting code - It guard against bugs in function implementation - It acknowledge and change the explicit return type on the function signature

## Occurrences
There are 7 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/kodadot/nft-gallery/issue/JS-0306/occurr

[2022-02-09 10:21] yangwao opened #2301 "(JS-0328) Invalid `Promise-like` handling"
## Description
Usage of `Promise-like` values in statements without handling their errors appropriately is dangerous. Unhandled promises can cause several issues, such as improperly sequenced operations, ignored Promise rejections and more.

## Occurrences
There are 4 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/kodadot/nft-gallery/issue/

[2022-02-09 10:31] vikiival commented on #2290
[code]

[2022-02-09 10:32] vikiival commented on #2290
Ideally if you pass accountId as a prop

[2022-02-09 10:38] vikiival opened #2302 "Rework expert mint"
### Is your feature request related to a problem?

Currently expert mint is a sort of force hacked into the simple mint and it would be really nice to extract the logic and fields into the separated components.

### Describe the solution you would like

I would like to see a new component that would handle the expert mint

### Describe alternatives you have considered

The alternative is to make P

[2022-02-09 10:50] kkukelka commented on #2300
on it!

[2022-02-09 12:15] zhyd1997 commented on #2301
@yangwao I am glad to work on it, thank you!

[2022-02-09 12:38] vikiival opened #2305 "Use Pinata as backup pinning"
### What happened?

Looks like estuary is timing out a connection to the gateway.
It would be nice to use pinata as a backup :))

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

Yes

### At which address did you encounter bug?

nft.kodadot.xyz / kodadot.xyz

[2022-02-09 13:31] vikiival commented on #2305
Quick fix in https://github.com/kodadot/workers/commit/f4ac5f14ba30ec5381bad0985052d78625f6f949

[2022-02-09 15:44] yangwao commented on #2298
We've used this back then

https://github.com/vue-polkadot/apps/blob/develop/dashboard/src/main.ts#L30

[2022-02-09 15:55] kkukelka commented on #2298
i'm losing my mind over here.
<img width="334" alt="Screenshot 2022-02-09 at 16 53 35" src="https://user-images.githubusercontent.com/17953978/153238195-b203c5ae-aaf9-4b11-ba26-b8991e2ab8a6.png">
something in bulma config just straight up overwrites `is-small` class

reverted all relevant changes (package.json, scss stuff) from past week but cant seem to find issue

[2022-02-09 17:01] roiLeo commented on #2298
Don't know if these could help but I noticed that we missed the `.fa-w-` class on svg

[2022-02-09 17:28] kkukelka commented on #2298
related to https://github.com/FortAwesome/Font-Awesome/pull/18654

[2022-02-09 18:57] yangwao commented on #2298
I've reverted it `06dd0752..06003a5c`

[2022-02-09 22:02] petersopko commented on #2261
@yangwao I've fixed the edgecases in #2100. Now to your comment :

Should I make Collection search same as Gallery search then? Perhaps as a starting point and we'll keep them updated together from now on?

[2022-02-10 08:27] yangwao opened #2312 "Add to frontend job read contributing.md"
Link
https://github.com/kodadot/nft-gallery/blob/main/CONTRIBUTING.md so people won't 🪲 same question again

[2022-02-10 08:47] roiLeo commented on #439
Current bundle size
![Capture d’écran 2022-02-10 à 9 43 14 AM](https://user-images.githubusercontent.com/9987732/153370651-d8ca6030-425a-4f0b-b3a6-4b4621287f51.png)

[2022-02-10 10:10] yangwao commented on #439
Can we mint it 🥺 looks nice!

[2022-02-10 10:26] yangwao opened #2315 "Getting rid of warnings while installing packages"
At current head commit `06003a5ced1ac8ce415f04643aba672de05cd037` we have these warnings

Would be nice if we can mitigate a few of them.
Warnings are usually there for reasons to raise awareness something might be bug risk in the future.
![image](https://user-images.githubusercontent.com/5887929/153387691-af8e135a-2e8b-4d09-b2d9-9b327a29f823.png)

[2022-02-10 10:38] yangwao opened #2317 "Focus on input when using keyboard shortcuts list and send"
when I hit a+l for listing my nft, it should focus to list input
same for a+s, to send to address

![image](https://user-images.githubusercontent.com/5887929/153389930-a36ab900-34b2-44a0-8cbf-86bf72071171.png)

![image](https://user-images.githubusercontent.com/5887929/153390009-2d549570-10fa-4e82-bfcf-71aececea74b.png)

[2022-02-10 10:44] yangwao opened #2318 "When searching include in result collection link first"
When someone is looking for a collection and NFT items are named similar, show collection link first

In this example, I could from search directly land on collection page https://kodadot.xyz/rmrk/collection/160a6f4320f11acb25-LCKWV
![image](https://user-images.githubusercontent.com/5887929/153390805-dcf46540-17b9-4925-aa2d-d9bcce213423.png)

[2022-02-10 10:46] yangwao opened #2319 "Show NFTs for sale by collector in collection"
When you open a collection and look to buy from the particular collector, we should include a view to show by collectors

Maybe it could be actually another tab or part of the filter? What's would you prefer?

I guess the tab would be easier to start.
Where buyers can choose from known collectors in the particular collection by some filter and show NFTs.

If well tested we can merge it back to mai

[2022-02-10 10:50] kkukelka commented on #2317
I'll take a look!

[2022-02-10 11:11] petersopko commented on #2318
I'd like to work on this one.

[2022-02-10 11:45] jkdizajn opened #2320 "Previews from 3D files (on profile page/collection page/gallery)"
### Is your feature request related to a problem?

3D NFT's definitely belong to the near future of collecting. Therefore, it is necessary to make it as easy as possible for collectors.

### Describe the solution you would like

I would like to somehow generate previews of the 3D files directly when viewing the gallery, the user profile, or the collection itself. Right now, 3D files can only be pr

[2022-02-10 11:56] yangwao opened #2321 "(JS-0387) Prefer that unbound methods are called with their expected scope"
## Description
Warning is raised when a method is used outside of a method call. Class functions don&#x27;t preserve the class scope when passed as standalone variables.

## Occurrences
There are 5 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/kodadot/nft-gallery/issue/JS-0387/occurrences/](https://deepsource.io/gh/kodadot/nft-gallery/issu

[2022-02-10 12:00] yangwao opened #2322 "(JS-0378) Found template literal expression having a non-string type"
## Description
Using only string values in placeholders is recommended as otherwise, the value may be wrongly displayed; for example, if an object value is directly included in a string, it will be shown as `[object Object]`. Using only string values can also ensure that `null` or `undefined` values are not directly …

## Occurrences
There are 23 occurrences of this issue in the repository.

See a

[2022-02-10 12:02] yangwao commented on #1405
Is this still uptodate?

[2022-02-10 12:03] prachi00 commented on #2322
@yangwao I'll do this

[2022-02-10 13:12] kkukelka commented on #2321
I'll take this

[2022-02-10 16:37] cryptodamsky commented on #737
Will put this to **docs** and add it for the next update coming to #1962

[2022-02-10 16:46] #2300 closed

[2022-02-10 16:57] #2317 closed

[2022-02-10 17:05] #2100 closed

[2022-02-11 06:47] kkukelka opened #2327 "Find solution to formatting issue of formatBalance helper 👀"
### What happened?

If price point is to high (over 12 decimals), formatBalance helper method has issues correctly formatting value to string.

### Please reproduce in steps

This problem occurs on numerous occasions throughout the app and can easily reproduced if you go to https://beta.kodadot.xyz/spotlight and order by price in descending order (from highest to lowest).

You should see a console

[2022-02-11 07:01] prachi00 commented on #2018
@yangwao this ticket needs more clarity as to what exactly is to be done

[2022-02-11 10:37] yangwao opened #2329 "wallpaper users artist profile and collections"
Till we implement RMRK::BANNER or our own version of banners, we would be happy for users to by default repeat on x and y with nfts on random basis from recent NFTs
- by particular aritst
- inside particular collection

Preferably show only static pictures, not moving stuff like gif,SVG,mp4 and 3d objects.

Put it as background with some light grey scale filter to make other components hover over

[2022-02-11 10:41] prachi00 commented on #2329
@yangwao I'll do this

[2022-02-11 10:48] yangwao opened #2330 "Add max buy and reorder collection insights"
Merge 24h volume traded and total volume into one field and put on the original position of floor price.

Put floor price on the position of current 24h volume traded

On position, the total volume traded add

- the highest buy within the collection.
- number of buys that happened in the collection (like is on series)

The easiest way is to use a subquery.
For higher bounty, writing resolver to su

[2022-02-11 10:59] roiLeo commented on #2329
Hey! Why don't we try to fetch banner instead? @vikiival told me a while ago:

I've already tried to make something work but I didn't know what to do with that hash.

[2022-02-11 11:42] yangwao commented on #2327
Oh mighty format balance, I recall having headaches in some edge cases, it comes back.
@kkukelka if you want crack on this, let's do it and then we can merge it to #2316

<img src="https://media4.giphy.com/media/l0ExsgrTuACbtPaqQ/giphy.gif"/>

[2022-02-11 11:44] #2259 closed

[2022-02-11 11:59] yangwao opened #2331 "Summoning css brain for landing"
Seems "less than a minute ago" breaking my heart 💔

![Screenshot 2022-02-11 at 12 23 29](https://user-images.githubusercontent.com/5887929/153587658-c22988a7-75f5-4b86-8890-e68fea7ab3b0.png)

[2022-02-11 12:42] yangwao commented on #2329
Okay, for artists we can do it in that way use what they set, otherwise fallback to fetch on their behalf and decorate their "home" by their craft.

For collection we can still use it tho.

[2022-02-11 15:43] kkukelka commented on #2331
<img width="694" alt="Screenshot 2022-02-11 at 16 42 33" src="https://user-images.githubusercontent.com/17953978/153622147-f41ca93c-39e7-419f-a260-9addaab7b44d.png">

huh...

[2022-02-11 15:53] roiLeo commented on #2331
Responsive breakpoint 🥲

[2022-02-12 09:39] zhyd1997 commented on #2322
on it!

[2022-02-12 10:19] yangwao opened #2337 "Adjust sorting to be descending at first click v2"
- Blocked by #2327
- check series and spotlight

When I click on Price it puts first 4 0.00 as first and then it goes desc.. it's string/bignum issue?

![image](https://user-images.githubusercontent.com/5887929/153457790-08c22edd-fdc9-4218-9247-d75694599952.png)

Score, unique items and unique collections could not be sorted hmm, I recall @roiLeo was looking on this one?

_Originally posted by @ya

[2022-02-12 10:20] #1807 closed

[2022-02-12 10:25] #2291 closed

[2022-02-12 10:54] yangwao opened #2340 "Renovate configuration v3"
- skip builds on cloudflare for renovate bot, we have others test to do it
- [x] configure renovate to remove major bumps and node version? we can make it fixed for now - fixed in #2617

[2022-02-12 12:11] yangwao opened #2341 "Navbar transformation during scrolling"
Tbh I really don't recall how this is called but would be nice to play around with the navbar once the user is scrolling down to compress it to a smaller size?

Goal is to save precious vertical pixels on smaller devices, like 13" notebooks and mobile phones.
So I would like to see, smaller logo and text in navbar plus less vertical space for navbar

Maybe shrink it's called ? https://www.w3school

[2022-02-12 19:47] vikiival commented on #2329
There is one catch, I need to calculate the md5 hash of the NFT.

It will be added in the upcoming version of rubick
https://github.com/kodadot/rubick/issues/32

[2022-02-12 19:49] vikiival commented on #439
Woah :octocat:

[2022-02-13 10:35] yangwao opened #2344 "Rework navbar a bit"
I was thinking it would be time to rehaul the navbar and to be more useful.

### Actionables
Squeeze
- Collections, Gallery under "Explore" dropdown
- Spotlight, Series under Stats dropdown

Together Explore, Stats and Create put on the right close to the language

Next to the logo put a search bar.
Search bar results would drive the user to the gallery feed as usual

Refactor search a bit if need

[2022-02-13 20:58] yangwao opened #2346 "Sales feed of collection"
I guess once #1818 is done, we can have on tab feed using history-like styled component to show sales

[2022-02-13 22:19] yangwao commented on #1092
I guess this is already fixed?

[2022-02-13 22:22] yangwao opened #2347 "Revisit admin panel v2"
I guess we should revisit how admin panel works and revisit actual functionality.

- add burn collection #1367
- burn NFTs one-by-one

![image](https://user-images.githubusercontent.com/5887929/153777761-407437a6-350b-474f-95cf-851485b9dab7.png)

[2022-02-14 07:41] kkukelka commented on #2327
@yangwao I'll give it a look if I find the time. Currently kinda busy IRL 🥵
Why do we currently format to 12 decimals by default? Has this something to do with the chain itself ?

[2022-02-14 10:49] yangwao opened #2349 "Carbonless Movement v2 -- Own real tree NFT for each 10 mints"
Climate change has terrible impact on planet, thus we've decided to step up game and contribute in reverting effects on the planet through NFTs. Experimentally we bought credits from offsetra and yet we've decided to go planting with RMTerra for green projects.
Despite Polkadot it lowest carbon footprint (link doc someone from recent tweets pls) we actually would like setup right scheme to help pl

[2022-02-14 11:21] yangwao commented on #2018
Current state
![image](https://user-images.githubusercontent.com/5887929/153853351-baff99a5-e140-4f59-8399-929c746ab849.png)

- Recent mints are gone, subsquid issue seems, we are investigating, but majority people remember it was there and working :D
- I've updated the rest of the actionable tasks for this issue

- yes we had quick call w @XyloDrone about this and we need breakdown components and

[2022-02-14 11:24] yangwao opened #2350 "Check why recent NFT on sale doesn't load"
doesn't work either on kodadot.xyz nor beta.kodadot.xyz so must be in `main` ?

![image](https://user-images.githubusercontent.com/5887929/153855391-0f9aa84d-0c15-4cda-8a28-101b8026ffb5.png)

[2022-02-14 11:29] #2321 closed

[2022-02-14 11:43] prachi00 commented on #2018
@yangwao yes I will be working on this

[2022-02-14 11:53] zhyd1997 commented on #2350
It works now, I think

[2022-02-14 12:19] #2344 closed

[2022-02-14 12:35] yangwao opened #2351 "Global Search doesn't update content but updates url"
I guess it's referenced to recently #2344 #2348

https://user-images.githubusercontent.com/5887929/153865210-a6069909-d150-4df7-8c84-7ccd4efac675.mov

[2022-02-14 12:36] prachi00 commented on #2351
@yangwao checking this

[2022-02-14 14:20] yangwao commented on #1744
I guess let's go, maybe we can highlight this in NFT item detail as well, what's mediatype it's

Also I would make it as option in settings to turn off to keep minimal UI :)

[2022-02-14 14:20] #2320 closed

[2022-02-14 20:43] yangwao opened #2353 "Sticky header in series and spotlight"
I guess in series we are missing ability to what's col name when scrolling 📜 down.

Could be potentially added to series as well for smaller screens

[2022-02-14 20:47] zhyd1997 commented on #2353
On it!

[2022-02-15 09:46] yangwao commented on #2350
highly possible latter one, do we handle it?

[2022-02-15 09:51] XyloDrone commented on #2018
@yangwao Understood.
I've looked at quite a bit of NFT platforms for the purpose of redesigning Koda so I can post some of these up.
Shall I submit screenshots and notes on both desktop and mobile?

[2022-02-15 09:52] yangwao opened #2358 "Owners gone missing from series insight?"
I've noticed now that we're missing some columns and now I've realized, we had their unique owners per collection?

As a number of unique owners tell you the distribution of collection/collectible, it's super needed to have it there
Let's bring it back 😍😇 🙏
![image](https://user-images.githubusercontent.com/5887929/154036791-8029f42b-86b5-437d-8c07-ea11c48eec20.png)

[2022-02-15 09:58] yangwao opened #2359 "Trednding Series - Add date range for series insight"
Right now we are showing collections overall lifetime stats.

Would be super nice to have a data range to show people easier to choose and see which collections are trending in time.

Might require a tune bit resolver in https://github.com/kodadot/rubick

Desired ranges, last
- 24 hours
- 7 days
- 14 days
- 30 days
- 90 days
- 180 days
- All-time

Default could be 7 days. Don't forget to add URL p

[2022-02-15 10:11] roiLeo commented on #2358
This one on me, I've removed this column when implementing backend sorting.
- `Collected` column is the number of unique owner
- `Buys` column is the number of owned assets (not owned by nft creator)

What would you like to reflect with `owners` column?

[2022-02-15 10:16] roiLeo commented on #2359
Related with https://github.com/kodadot/rubick/issues/26

[2022-02-15 10:29] yangwao commented on #2358
aaah no worries, so it's just a wording issue, can we have `Collected` renamed as `Owners`  please? 🥺 It prevents confusion tho

Referencing on Opensea https://opensea.io/rankings

[2022-02-15 10:32] roiLeo opened #2360 "Hoverable card in CarouselCardList component"
I would like to see gallery card being hoverable in CarouselCardList component (used in NewestList & LatestSales)

[2022-02-15 10:56] #2358 closed

[2022-02-15 15:45] roiLeo commented on #2350
This one was not loading because it has `meta: null`
![Capture d’écran 2022-02-15 à 4 44 51 PM](https://user-images.githubusercontent.com/9987732/154096975-2202fe29-91df-4e5f-a026-5cf4f43d7794.png)

Link for future reference:
`/rmrk/gallery/10989541-c095ca1430a05e7d6b-7-UTOPIA_29-0000000000000029`

[2022-02-15 15:55] zhyd1997 commented on #2350
Why the `meta` could be `nullable`?
(Not working on this issue, just wondering why)

[2022-02-16 08:04] yangwao opened #2368 "Sticky navbar in series"
I've found this issue in my drafts on mobile but I guess it was already done?

I guess in series we are missing ability to what's col name when scrolling 📜 down.

Could be potentially added to series as well for smaller screens

[2022-02-16 08:06] yangwao opened #2369 "Create twitter bot which will looking for singular links on twitter and posting kodadot links under it to raise awareness about alternative UI"
This is amazing opportunity to create gpt3 bot which it's sort of make it test humans against artificial audience.

Best not disclose bots name :)

Goal would be drive some more traffic and raise awareness there is also other explorer on top of Rmrk

https://twitter.com/Fluffy_F_o_x/status/1493651675059527683?t=K24XQR-tI63SUTXb9wDIcg&s=19

[2022-02-16 09:49] yangwao opened #2370 "Price range v2"
While testing for edge cases I found out that "Buy Now" toggle is working well in one way, i.e. to select for prices greater than 0. Doesn't work the other way around, "unlisted" option also shows listed NFTs just without price (this is the case for production as well, not just this branch). Couldn't find solution right away.

I added requested changes, kept the "price range info" style simple in

[2022-02-16 09:52] #2110 closed

[2022-02-16 10:59] yangwao commented on #2368
Continue to #2353

[2022-02-16 10:59] #2368 closed

[2022-02-16 11:32] petersopko commented on #2370
Let me finish this.

[2022-02-16 11:59] vikiival opened #2372 "Add note that we do merge"
In #2342 I realized that some people do rebase.
It's not a bad thing but we use merge and we don't want to mix the merging strategies.

In `Contributing.md` add a note that would explain this

[2022-02-16 16:27] #2351 closed

[2022-02-16 17:42] yangwao opened #2375 "Search suggestions for popular collections"
I guess we can think of mapping some popular collections

<img width="223" alt="image" src="https://user-images.githubusercontent.com/5887929/154323790-a8d3bd3e-a002-4d21-a53f-8590eb9fca88.png">

[2022-02-16 17:51] yangwao opened #2376 "Categorize search results in search bar"
I guess it's time to show collections name match first and items as last.

Once we will have Search for artists as well, we can add it showing users as well

Probably add button on bottom [All Results]

Inspiration from Rarible
<img width="607" alt="image" src="https://user-images.githubusercontent.com/5887929/154325288-6a39aef0-eb3f-49ad-81fa-d25350df6334.png">

[2022-02-16 18:14] yangwao opened #2378 "Make navbar transparent aero effect?"
I know this isn't much fit with our design.. but figuring out some pixelized effect on the navbar could be interesting :)

https://user-images.githubusercontent.com/5887929/154329251-49869d14-caff-4ed4-9504-b8831fe98e59.mov

[2022-02-16 18:18] prachi00 commented on #2378
@yangwao I'll do this

[2022-02-17 08:34] petersopko opened #2382 "burned nfts showing up in gallery"
### What happened?

When loading https://kodadot.xyz/rmrk/gallery I can still see NFTs which are burned (such as the cute little cat below).
Here's the [link](https://kodadot.xyz/rmrk/gallery/11441876-be4a994fc285785166-BIRMAN%20CAT%20#1-BIRMAN_CAT_1-0000000000000001).
![image](https://user-images.githubusercontent.com/73316633/154436239-758e9311-d287-4e69-a98f-4d5299cfa22b.png)

Video showing the

[2022-02-17 08:56] yangwao commented on #2382
I would handle to NFT item detail component at first that users are looking at burned NFT somehow :)

[2022-02-17 10:20] vikiival commented on #2369
![200](https://user-images.githubusercontent.com/22471030/154455679-c43fa64b-944d-4c1b-8a7a-2c501c19537b.gif)

[2022-02-17 10:27] yangwao commented on #2369
What's sad about it, I don't get it, care to elaborate?

[2022-02-17 10:49] Yuripetusko commented on #2369
The sad part is that instead of building your own community you are piggybacking on other communities. Other than that I have no objections. We never tried to silence anyone

[2022-02-17 10:54] yangwao commented on #2369
Why do you think people using RMRK can't be part of KodaDot? I thought we share an audience and we can grow it together in such a small ecosystem.

[2022-02-17 11:23] yangwao commented on #1965
beautiful! I would also add Filecoin & Estuary logo hence we are using it :)

Overall is perfect!

- Once the hero is updated in the article
- submit it to publication
-  I can approve and get back with a link here
- so you can make PR with a link to README.md https://github.com/kodadot/nft-gallery/blob/main/README.md#writings-on-development-%EF%B8%8F
- and I can proceed payout )

[2022-02-17 13:34] roiLeo commented on #2382
Nft is not burned, this happened because the nft id wasn't well parsed in the graphql query

#### Current (`{ nFTEntity: null }`)
ID: `11441876-be4a994fc285785166-BIRMAN CAT`
![Capture d’écran 2022-02-17 à 2 30 38 PM](https://user-images.githubusercontent.com/9987732/154491963-472f1a67-4419-4cb4-a1cb-89ce9a5fd21e.png)

#### Working ID
ID: `11441876-be4a994fc285785166-BIRMAN CAT #1-BIRMAN_CAT_1-0

[2022-02-17 14:12] roiLeo commented on #2350
meta field is refering to [MetadataEntity](https://github.com/kodadot/rubick/blob/3a70f5d63e7e595dfeda76accc2d767898a3ba61/schema.graphql#L53), I don't know why it can be null sometimes

[2022-02-17 14:23] yangwao opened #2385 "Remove extra search bar at gallery feed"
I guess would be nice to remove the second search bar and in that same place put showing Results of search
Saving some vertical space
![image](https://user-images.githubusercontent.com/5887929/154501007-2aefcc0a-a648-4ccc-9578-9db4cb1e6e4d.png)

[2022-02-17 14:24] prachi00 commented on #2385
@yangwao I'll do this

[2022-02-17 14:33] #2282 closed

[2022-02-17 14:36] yangwao opened #2386 "Can we have mobile spotlight done right 🥺"
Seems while on mobile it's way off on Spotlight

![image](https://user-images.githubusercontent.com/5887929/154503730-fae65713-9429-4ccd-a429-a613e4c60d47.png)

[2022-02-17 14:37] #2353 closed

[2022-02-17 14:38] #2382 closed

[2022-02-17 15:56] kkukelka commented on #1965
i think i just accidentally published ...

[2022-02-17 15:58] kkukelka commented on #2386
hmm i'll see what i can do

[2022-02-17 19:36] yangwao opened #2388 "Social media previews"
Curious it works on beta but doesn't on production,why is that?

![image](https://user-images.githubusercontent.com/5887929/154557356-c0351c16-9daa-4fdc-86ef-7700f809521c.png)

[2022-02-18 09:29] yangwao opened #2393 "Tackle upcoming @polkadot updates"
We are late like 23 days something and there is something we need to have and to have seamless update dependencies for incoming wallet integrations would be super nice! :)

- https://github.com/kodadot/nft-gallery/pull/2367
- https://github.com/kodadot/nft-gallery/pull/2357
- https://github.com/kodadot/nft-gallery/pull/2356

[2022-02-18 09:38] kkukelka opened #2394 "Pre-emptively fix Dart Sass 2.0.0 migration warnings"
### What happened?

During building the app locally, Sass throws warnings in regards to Dart Sass 2.0.0

[code]

### Screenshots

<img width="607" alt="Screenshot 2022-02-18 at 10 34 35" src="https://user-images.githubusercontent.com/17953978/154656945-daf8b890-a394-4aaa-a613-80417a4b7f02.png">

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-02-18 09:39] kkukelka commented on #2394
I'm already onto it.

[2022-02-18 11:01] yangwao opened #2395 "Enhance Flip Culture"
I guess to save precious time for collectors and whales.

Let's add a highly experimental button to
- buy art
- list it right away

BUYLIST button could be it.
Keybaord Shortcut `a+x`

It should buy on the background (to secure your position) and right away offer dialogue to list.

Saves time to do buy... submit tx which is roughly 15 secs best, 5 secs to see change on UI and another dispatching L

[2022-02-18 11:42] yangwao opened #2397 "Tile the art"
For our upcoming physical presence of KodaDot, we would need this functionality to show NFTs in bigger telly screens in gallery :)

Probably add a button next to our current buttons

Icon https://fontawesome.com/icons/table-cells-large?s=solid ?

inspiration is from giphy
https://user-images.githubusercontent.com/5887929/154676690-f15fe446-93f6-4dc1-b307-7a03a3348383.mov

[2022-02-18 13:45] yangwao opened #2399 "Repetitive search shows empty results"
When I set price filter and then wanted to search for `mug` I've got empty results. If I hit reload it appears back.
Where in that price range Mug was showing.

![image](https://user-images.githubusercontent.com/5887929/154693735-7f534af6-bcb7-40d8-b3bb-e4d28c9099e6.png)

[2022-02-18 13:46] yangwao opened #2400 "Show price range next to the filter"
Show price range next to showing results

Whenever the filter is folded, users don't see what price range is looking at.

![image](https://user-images.githubusercontent.com/5887929/154693579-c8dae286-85c7-40cb-b28c-21bb66de6205.png)

![image](https://user-images.githubusercontent.com/5887929/154693549-3ac0c555-c658-4ade-8f59-8a15b7d47285.png)

[2022-02-18 13:47] prachi00 commented on #2400
@yangwao I;ll do this

[2022-02-18 14:25] yangwao commented on #2394
Sure :)
Can sponsor it lol

[2022-02-18 16:32] vikiival opened #2402 "Analytics for $KODA"
- [ ] Who interacted with KODAO addr
- [ ] Sum total spent on kodadot
- [ ] Minting stats

[2022-02-19 09:48] yangwao commented on #2243
just fetched recent `main`
did
`yarn;yarn dev`

still there
![image](https://user-images.githubusercontent.com/5887929/154795825-2ace8853-d31e-412f-8e70-b8af93cbdf62.png)

[2022-02-19 10:08] #2386 closed

[2022-02-19 10:09] #2385 closed

[2022-02-19 11:11] yangwao opened #2405 "Seems search bar was accidentally reverted to old one"
I guess it happened here https://github.com/kodadot/nft-gallery/pull/2396

@kkukelka 🥺

![image](https://user-images.githubusercontent.com/5887929/154798446-9f31ed63-67b3-460f-907f-2cfefa374a44.png)

The original one we have

![image](https://user-images.githubusercontent.com/5887929/154798475-0303368e-211f-4dc3-8cc4-ebdd70cf2fe6.png)

[2022-02-19 12:09] kkukelka commented on #2405
removed `scoped` for now in Navbar.vue... no time currently to investigate further. at least old state is restored.

[2022-02-19 13:12] ritsuyan commented on #2397
Hi, I will do this task.

[2022-02-19 14:47] yangwao commented on #1477
oh noticed that we should handle failed transactions.. https://kusama.subscan.io/extrinsic/0x310dbcec733682bfcd604ada1f5bf65fba1fd10b9848933e1e906172963c32c4 )))

[2022-02-19 14:48] #1965 closed

[2022-02-19 14:49] #2405 closed

[2022-02-19 15:14] petersopko commented on #1477
they are accounted for in the table. I checked every transaction and included only the ones which had status "Success" :)

[2022-02-20 05:05] zhengow commented on #2241
i'd like to fix it

[2022-02-20 05:56] ritsuyan commented on #2315
ok, I will do this task.

[2022-02-20 06:36] ritsuyan commented on #2397
I didn't find this page in main branch.

[2022-02-20 12:16] yangwao opened #2409 "Add explainer how to invoke keyboard shortcuts"
Add to top bottom right on the toast
Add hint to the preloader quotes as well so people will know how to use it

![image](https://user-images.githubusercontent.com/5887929/154841922-b59e1609-eaad-4cc2-8779-7a8f7a16d048.png)

[2022-02-20 12:32] kkukelka commented on #2409
On it!

[2022-02-20 13:38] kkukelka commented on #2394
never mind. fixed through https://github.com/buefy/buefy/releases/tag/v0.9.16

[2022-02-20 13:38] #2394 closed

[2022-02-20 21:57] vikiival commented on #1965
Really nice article @kkukelka 🚀

[2022-02-21 06:41] kkukelka commented on #1965
much appreciated 😘

[2022-02-21 09:32] vikiival opened #2413 "Replace Jest with Vitest"
Found nice article
Maybe would be a good bet for KodaDot

[Testing Vite with minimal config using Vitest](https://blog.logrocket.com/testing-vite-minimal-config-using-vitest/)

[2022-02-21 09:51] yangwao opened #2414 "Update link to new grants form"
I guess this is for @cryptodamsky opportunity to make PR or just someone post link and let's update as we are having new form to go :)

[2022-02-21 11:09] #2400 closed

[2022-02-21 11:31] #2241 closed

[2022-02-21 11:52] yangwao opened #2415 "Series Insights v2"
I guess for upcoming series upgrades let's look what nft brings on table https://nftscoring.com/

- limiting series insights only to logged users (make sense as business model)
- score - tune score based Twitter engagement
- whale - #1165 .. could be actually premium in shorter time frames windows
- diamond hands - it could be if NFTs had at least one buy and it's not listed, in % from all
- showi

[2022-02-21 12:02] #2409 closed

[2022-02-21 12:21] yangwao commented on #2018
last bits finished in #2412

[2022-02-21 12:21] #2018 closed

[2022-02-21 13:27] zhengow commented on #2104
I’d like to take a look

[2022-02-21 15:47] zhengow commented on #2150
I'd like to take a look at it

[2022-02-21 17:45] petersopko opened #2420 "fix searchbar on mobile"
### What happened?

As discussed in #beta, searchbar is gone from Gallery on mobile as presented on the screenshot below. I suggest the following:

While on mobile, in gallery (or collections), keep the searchbar in the container of Gallery/Collections as up until now. When clicked inside, the searchbar moves up, as was done in #2253 . I would remove it from the navbar in this case.

Other than th