[2022-02-21 17:46] petersopko commented on #2420
@yangwao I'd like to fix this if I can proceed with the suggested fix.

[2022-02-21 19:04] kkukelka opened #2421 "B-Carousel throws error and CuradetList is affected by CLS"
### What happened?

On Landing page `interval`-Prop of CuradetList expects number and not string
<img width="1170" alt="Screenshot 2022-02-21 at 19 54 00" src="https://user-images.githubusercontent.com/17953978/155013438-cd816821-1760-4e29-8908-2c1692d78212.png">
!

furthermore, image in CuradetList is affected by cumulative layout shift which increases page load

[2022-02-21 19:26] #2421 closed

[2022-02-21 19:29] yangwao opened #2423 "Template for collections minting"
As we would like to help users to drive stuff easier would be amazing to help them out while minting collection.

We can think of extending mass mint with prefilled texts & traits where they require minimum amount of changes to drive their mint and maybe add suggestions for price estimating based on traits rarity etc

[2022-02-21 19:56] #2370 closed

[2022-02-21 19:58] yangwao commented on #2420
Let's go )

[2022-02-22 02:12] zhengow commented on #2400
Because of the order of MR, one of my PR leads to this change invalid, plz check the PR #2425

[2022-02-22 02:52] helloitsbirdo opened #2426 "Semi Permanent pop up when using a wallet which is not Polkadot.JS"
### What happened?

When using a wallet which is NOT polkadot.js and trying to connect it with KodaDot, a large error is displayed on the homescreen, which covers up the MINT button.

### Please reproduce in steps

1. Load kodadot.xyz
2. Click `log in` (this is very web2, should it be `Connect` ?)
3. See the screenshot - error is displayed. This stays present for approx 30s

### Expected Behavior

[2022-02-22 03:17] helloitsbirdo opened #2427 "Add a wallet selector and add support for Talisman wallet"
### Is your feature request related to a problem?

When trying to connect the Talisman wallet ( https://talisman.xyz/ ), it's not `officially` supported and while it DOES work (you can sign TX to mint / buy NFTs), it's not the smoothest experience.
I've raised this issue which would also need to be looked at when this feature request is picked up!
https://github.com/kodadot/nft-gallery/issues/2426

[2022-02-22 12:45] ritsuyan commented on #1416
Hi, I will fix this.

[2022-02-22 12:47] roiLeo commented on #1416
This has already been fixed, it can be closed now.

[2022-02-22 13:25] roiLeo commented on #2427
Hey! I really like the idea of being able to select different wallet provider.
Do you have any idea when is the vuejs version of talisman is planned?

[2022-02-22 14:11] ritsuyan commented on #1416
Hi, I just open link above the problem still exists in both environments. please check

[2022-02-22 15:01] ritsuyan commented on #1416
I think there are two problems in this page: 1. the creator twitter location in left bottom of the page not showing.
2.  should show the creator name not the wallet address.
I had fix the point2.

[2022-02-23 08:29] cryptodamsky commented on #2276
Basic explanation is currently running in docs, now i have to chew 6 pages of explaining ksm fees to some understandable way for beginners - once done let's update the faq

https://docs.kodadot.xyz/FAQ.html#what-are-fees-and-why-do-i-need-to-pay-them
https://docs.kodadot.xyz/FAQ.html#what-are-the-transfer-fees-on-kusama

[2022-02-23 09:32] helloitsbirdo commented on #2427
Just wanted to flag there is a $500 bounty for getting this work done!
No plan for vuejs - but you can use the main package (which does most of the work) and then build your own UI @roiLeo

[2022-02-23 11:52] #2414 closed

[2022-02-24 01:25] magrisya opened #2434 "Blind XSS"
### What happened?

This is my first report, so it's a bit messy.
Let me explain: I came across XSS when I wanted to make simple nft I just realized that the .svg extension can be sent on the server,
I entered the blind xss payload and it was successfully sent on the ipfs server

### Please reproduce in steps

Steps To Reproduce:
1. prepare a new file with the contents:

[code]

2. save with the e

[2022-02-24 03:22] btcmacroecon opened #2435 "Kodadot / Hiring for NFTs"
### Discussed in https://github.com/kodadot/nft-gallery/discussions/2433

<div type='discussions-op-text'>

<sup>Originally posted by **btcmacroecon** February 23, 2022</sup>
Hello,
I am carrying over conversation from social media here. I found my way to Discord after strongly considering boycotting it for eternity last week (it's a pile of crap of a site....but has lots of cool features), but th

[2022-02-24 07:28] yangwao commented on #2434
Seems like #542

How would you mitigate this?

[2022-02-24 08:23] magrisya commented on #2434
curiously someone will click on the image and will be redirected to where the image contains the xss.
because it all comes from the official website https://kodadot.xyz/ so the victim believes and is sure to go there,
and as a result the victim will be deceived like this case..
i just got someone clicking on the link and i managed to get the ip :
![Screenshot_1](https://user-images.githubuserconte

[2022-02-24 09:50] cryptodamsky commented on #1506
The updated and actual version of the tutorial is running at: https://docs.kodadot.xyz/tutorials/language-translations.html#conditions

[2022-02-24 13:34] shixin-guo commented on #2246
maybe fixed

[2022-02-24 16:02] zhengow opened #2437 "some search suggestion doesn't match the true search result"
### What happened?

A bug happened!

### Please reproduce in steps

Click # 47

### Expected Behavior

I've expected ...

search # 47

### What browsers are you seeing the problem on?

Microsoft Edge

### Are you logged in?

_No response_

### At which address did you encounter bug?

_No response_

### Screenshots

Paste from your clipboard or upload screenshots

https://user-images.githubusercont

[2022-02-24 16:30] zhengow commented on #2376
I'll take this

[2022-02-24 18:08] hieudd opened #2438 "Let integrate the wallets that are easy to use and already support NFT"
### Is your feature request related to a problem?

The wallet is the gateway to the Web3 world, I suggest integrating more user-friendly wallets like SubWallet. It is the first wallet that supports NFT management in the Polkadot ecosystem. Polkadot{.js} is very unfriendly and it doesn't support NFT yet

**Information about SubWallet wallet:**

- Website: https://subwallet.app/
- Twitter: https://t

[2022-02-24 23:01] magrisya commented on #2434
ok sir let's do i follow the rules that have been set here. so let's get it done...

[2022-02-25 07:10] cryptodamsky commented on #737
Is currently running in docs:
https://docs.kodadot.xyz/FAQ.html#can-someone-double-buy-my-art

Will be part of  #1962

[2022-02-25 08:33] vikiival commented on #2434
My github wasn't refreshed so I i missed the rest of this conversation. I'm sorry 🥺

[2022-02-25 08:44] magrisya commented on #2434
no problem sir i'm still here for you..it seems this is a serious bug because from here it can reach some bugs like: SSRF,Stored XSS,Blind XSS, Log4Shell or others and can be loaded at any time.
and the attacker can monitor the victim remotely, isn't that terrible?

[2022-02-25 13:43] magrisya commented on #2434
hi teamm..~
looks like this issue has been patched.
I tested on Firefox,Chrome and Microsoft Edge and svg it's not working anymore.
can we close this report?

![Screenshot_1](https://user-images.githubusercontent.com/43703018/155725400-2b48f501-d06f-4df2-b1a9-63fd024c5be9.png)

[2022-02-25 16:16] shixin-guo opened #2447 "Refresh some page page then redirect to other page"
### What happened?

refresh in Spotlight/series-insight page but redirect to '/rmrk/gallery' when URL includes a query params

### Please reproduce in steps

go to https://beta.kodadot.xyz/series-insight,
change table sort by volume
then refresh page
will redirect to
https://beta.kodadot.xyz/rmrk/gallery?sort=-volume&search=&page=1

### Expected Behavior

The page refreshes successfully and the se

[2022-02-25 16:20] shixin-guo commented on #2447
maybe need change to
![image](https://user-images.githubusercontent.com/12186221/155749881-11480411-7333-4dc2-9f78-c0d12a44bd54.png)

components/rmrk/Gallery/Search/SearchBar.vue

[2022-02-25 17:02] vikiival opened #2448 "Assign bot"
Would be nice that if someone comment: I will take it it would assign it to the person for 48 hrs

[2022-02-25 17:05] kkukelka commented on #2036
we still need it. re-checked in #2096

[2022-02-26 11:29] magrisya opened #2451 "Parameter Pollution in Social Sharing Buttons"
### What happened?

HTTP Parameter Pollution (HPP) means to pollute the HTTP parameters of a web application for achieving a specific malicious task. It refers to manipulating how a website treats parameters it receives during HTTP requests. It changes a website’s behaviour from its intended one. HTTP
parameter pollution is a simple kind of attack but it is an effective one.
When you pollute any p

[2022-02-26 13:45] yangwao commented on #2451
Can you elaborate how it can impact users on KodaDot?
Like scenario?

[2022-02-26 13:46] yangwao commented on #2451
Can you elaborate how it can impact users on KodaDot?
Like scenario?

[2022-02-26 14:09] magrisya commented on #2451
Although it's a simple bug.
but there are still some organizations that take this seriously.
like hackerone company, they consider Pollution parameter as serious problem,
they pay $500 for this report: https://hackerone.com/reports/105953

The impact of that bug is that they can change the "/:XXX" param to whatever url they want,
and then when someone goes to share the link via social media button

[2022-02-26 14:31] yangwao commented on #2451
But I guess we don't expose price nor address in url, except transfer dialog.

Can you elaborate more detailed how one can be victim of this? What would be attack vector in examples?

[2022-02-26 14:31] magrisya commented on #2451
in the OpenSea market they disable its parameter pollution,
I don't know how they solve this problem
these are the exact same steps i run in KodaDot market

https://user-images.githubusercontent.com/43703018/155846864-2cd1a615-5d0b-4120-a51e-70226c884392.mp4

[2022-02-26 14:35] magrisya commented on #2451
as I said above:
The impact of that bug is that they can change the "&u=" param to whatever url they want, and then when someone goes to share the link via social media, it will actually share the attacker's URL.

[2022-02-26 14:45] magrisya commented on #2451
maybe by making Parameter URL Encryption With Base64 or something else.
 can be a solution to this problem

[2022-02-26 19:42] yangwao opened #2455 "Add to Tranafer generate payment link with my address"
To make life easier for first timer and whatever what reason, add way to people in transfer generate payment link to receive funds on their logged address.

Probably something like button "payout to my address" and copy to clipboard 📋 link

In the end it would copy transfer link with one's logged address.

[2022-02-26 19:49] prachi00 commented on #2455
@yangwao I'll do this

[2022-02-26 21:48] magrisya commented on #2434
hey that's him. this is my address payment link:
https://kodadot.xyz/transfer/?target=GF4v68qJmh47eShYNpPs5JNfn5bxG5Kz1U2Y4xC2xAqXqmq&usdamount=640

[2022-02-26 21:48] #2434 closed

[2022-02-27 19:54] cryptodamsky opened #2459 "Create Bumper/Intro for KodaDot youtube channel"
Hey we would like to make quick contest for some video/graphic editor to create bumper/intro video for KodaDot youtube channel.

Must meet these conditions:

- KodaDot logo as a main focus
- Multi-use functionality (so it fits for every video)
- Short, quick and high quality animation
- easy to use, with propriate sound (probably mp4 format)
- KodaDot "mindset" related (?-be creative)

Latest [pre

[2022-02-28 07:48] magrisya opened #2460 "KSM address prefix does not match but sent successfully"
### What happened?

at first I wanted to try to send my NFT to my address.
but i found this
![Screenshot_4](https://user-images.githubusercontent.com/43703018/155941574-1a814f2e-12f2-4e3b-bcc7-24fbbe414e02.png)
`prefix mismatch expected 2, found 0`
then I tried to send it to the address : `123123123123123`
and I signed my polkadot.js and the result was sent, because there is no correct address fil

[2022-02-28 08:02] magrisya commented on #2460
basically the Transfer feature has turned off this invalid address..
but not with Send NFT

![Screenshot_6](https://user-images.githubusercontent.com/43703018/155945961-c6b03501-1f80-45e1-88ef-e10d86127a93.png)

[2022-02-28 09:04] yangwao commented on #2434
I've sent out to you $300 [kusama.subscan.io/extrinsic/0x0a3b2a972728dc7483b37bc433b076d110147905588e0d234f1105ad8468b4cf](https://kusama.subscan.io/extrinsic/0x0a3b2a972728dc7483b37bc433b076d110147905588e0d234f1105ad8468b4cf)

[2022-02-28 09:08] #2341 closed

[2022-02-28 09:11] #2096 closed

[2022-02-28 09:25] yangwao commented on #1416
Hey as pointed sooner, this seems was connected to our old SPA I guess.
It's seems been already fixed as on beta works for me https://beta.kodadot.xyz/rmrk/u/CuHWHNcBt3ASMVSJmcJyiBWGxxiWLyjYoYbGjfhL4ovoeSd?tab=collected

To show the creator's name, creators actually need to set it up on-chain.

I guess it's showing well for me, or feel free correct me what's still wrong, otherwise can close this

[2022-02-28 09:39] yangwao commented on #2460
Let's post your payment link so I can payout once this is merged.
Meanwhile, you should supervise the fixing of this and help with testing when someone makes PR on this to receive bug report bounty earliest.

Put bounty label and priority.

[2022-02-28 09:45] magrisya commented on #2460
this is my payment address :
https://kodadot.xyz/transfer/?target=GF4v68qJmh47eShYNpPs5JNfn5bxG5Kz1U2Y4xC2xAqXqmq

ok sir i will keep an eye on this fix and will test it when someone finishes doing PR on this issue

[2022-02-28 11:15] magrisya opened #2461 "NFT Name input validation can lead to DoS"
### What happened?

There is no limit to the number of characters when inputting the problem NFT name, which allows DoS attacks.
DoS attacks affect both the server side and the client side.

Please provide a limit when inputting the NFT Name as in the description because
In the NFT Name input field at https://beta.kodadot.xyz/rmrk/mint there is Input Validation using this.
You can send more payloa

[2022-02-28 12:53] jkdizajn commented on #2459
Hi, here is my first KodaDot intro video
how do you like it?
https://user-images.githubusercontent.com/81104034/155986651-765cdaad-9b9a-41e0-8511-7dfd66ff126a.mp4

[2022-02-28 13:41] petersopko commented on #2318
This is the task I've mentioned on Friday, sorry for stalling, do you still want this one done? I've just checked https://github.com/kodadot/nft-gallery/pull/2446 and I am wondering how would two of these play together.

[2022-02-28 13:41] petersopko commented on #2318
@yangwao in other words, should "items" have collection links?

[2022-02-28 13:59] cryptodamsky commented on #2459
Wow great job @jkdizajn, will definitely use this in the next video!

[2022-02-28 14:08] jkdizajn commented on #2459
No problemo, here is link: https://drive.google.com/file/d/13zF6cqdEUc51QAVu-mOfYFTy27Dh5vp8/view?usp=sharing

[2022-02-28 14:53] zhengow commented on #2221
done.
https://github.com/polkadot-js/apps/issues/7074

[2022-02-28 19:20] #2420 closed

[2022-03-01 07:01] cryptodamsky commented on #2061
- New customization channel is in play for some time, working fine.

![custom](https://user-images.githubusercontent.com/92786519/156120492-0a2e8749-a550-4bf6-b0cc-95cb2abd3b5a.png)

- updates regarding discord onboarding are now in ok state, phase 2 would be definitely considering some complete re-structuralizaton.

[2022-03-01 07:01] #2061 closed

[2022-03-01 07:45] cryptodamsky commented on #1962
hey @kkukelka so i've been updating the faq basicly in our [docs ](https://docs.kodadot.xyz/FAQ.html#frequently-asked-questions)

What i mean now, what's the best flow on how to update current FAQ? I could see some links being wrongly linked in the current build, but i'm pretty sure all of them are working fine in the docs, because i updated them.

Can you advise on some ideal steps for both of us

[2022-03-01 08:50] #2376 closed

[2022-03-01 09:02] #2455 closed

[2022-03-01 09:28] yangwao commented on #2461
Yes, we should handle input validation but other than that we should handle super long descriptions to not ddos clients.

[2022-03-01 09:30] roiLeo commented on #2461
This should be done on the api/graphql level too? you'll always find a way to bypass frontend resctriction

[2022-03-01 09:44] yangwao commented on #1661
Found repography https://repography.com/app/23713223/kodadot/nft-gallery/user-bubbles/poster-surface

![Recent Activity](https://images.repography.com/23713223/kodadot/nft-gallery/recent-activity/5055a1ed1ce7a7a56f6a3871f5869bda.svg)

![Structure](https://images.repography.com/23713223/kodadot/nft-gallery/structure/4a4104ccae9bf1005460863988d75038.svg)

![Top Contributors](https://images.repograph

[2022-03-01 09:49] yangwao commented on #2221
oh, that's opened an issue, not PR :)

I guess someone with React experience would be able to do that :)

[2022-03-01 09:51] yangwao commented on #2318
mm I guess https://github.com/kodadot/nft-gallery/issues/2376 is more mature for now

Yeah showing extra collection would be nice but I'm afraid that would noise results too much.

Something like recent plays in spotify, or in we discussed it tho #1499

[2022-03-01 09:51] #2318 closed

[2022-03-01 09:53] yangwao commented on #2099
yeah, swiping doesn't work well outside mobile tbh, so yeah mobile only probably.. and still thinking if it should be pushed to mobile app, rather mobile version of web kodadot

[2022-03-01 09:56] yangwao commented on #2447
Legit, I can reproduce.

@shixin-guo go to the https://kodadot.xyz/transfer?usdamount=100 and click on copy payout address while you are logged and I can process your bug report reward once this is merged PR in `main`

[2022-03-01 09:59] yangwao commented on #2437
Seems I can't reproduce, maybe it's fixed?

Uploading Screen Recording 2022-03-01 at 10.58.13.mov…

[2022-03-01 10:26] roiLeo opened #2467 "Use <kbd> tag in KeyboardShortcuts component"
For good semantic pratice and accesibility, I'd like to use the html tag `<kbd>` ([The Keyboard Input element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd)) in KeyboardShortcuts component

[2022-03-01 10:45] ghifari444222 commented on #2459
hello, tried to make it too :D

here u go:
https://drive.google.com/drive/folders/1OjVdsu3Ow43XCs6aRRvC191S4PeMkI8I

[2022-03-01 11:01] #2426 closed

[2022-03-01 11:01] #2427 closed

[2022-03-01 11:01] #2438 closed

[2022-03-01 11:39] yangwao opened #2468 "Sometimes it won't load identity of an address"
Hey. I don't think this will correct anything, Twitter link is working well, thing is that sometimes it won't load identity of an address

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/pull/2429#pullrequestreview-890708515_

Continue from https://github.com/kodadot/nft-gallery/issues/1416

[2022-03-01 11:40] yangwao commented on #1416
Continue to #2468

[2022-03-01 11:40] #1416 closed

[2022-03-01 11:49] XyloDrone commented on #744
MetaPassion feed -- discovery

you can follow someone else passion feed

---

would it be worth asking users if they wish to make their passion feed public? I have a feeling that not everyone would like to make this available for everyone to see...

[2022-03-01 11:50] vikiival commented on #2461
what should be the limit ?

[2022-03-01 11:53] vikiival commented on #744
that means we would have to use some storage to save this info

[2022-03-01 12:00] XyloDrone commented on #2216
is it worth considering adding this command to the nav bar and/or landing?

[2022-03-01 12:58] shixin-guo commented on #2447
maybe I can fix it

[2022-03-01 13:09] roiLeo commented on #2461
I would say that it depends on database type, rmrk specs doesn't specify a size?
100chars could be a good start

[2022-03-01 14:34] ghifari444222 commented on #2459
bumper koda 2-1 is the one with fading effects at the end :)

[2022-03-01 14:35] vikiival commented on #2461
longest collection names

[code]

[2022-03-01 14:50] roiLeo opened #2470 "Wallet connect support mobile app"
I would like to hide mobile wallet options when connected through a browser and display them when detected on mobile device.

[2022-03-01 15:35] magrisya commented on #2461
does that mean 100K characters?
if so sorry I wrote wrong in my report which is spelled out 10002 characters 😞

[2022-03-01 18:50] #2470 closed

[2022-03-01 19:08] yangwao commented on #2467
pay 100 usd

[2022-03-01 19:09] #2467 closed

[2022-03-01 19:59] magrisya opened #2475 "Feature Request Notification When NFT sold"
### Is your feature request related to a problem?

No problems found, maybe this leads to progress.. because basically I or someone will always be curious when I want to see if the NFT is sold or still alive.
just when you want to check you have to go into your profile and have to wait a while for everything to be visible, maybe this is because the UI is heavy so it takes time to refresh the page.

[2022-03-01 19:59] yangwao opened #2476 "Probably wrong ss58 on wallet connect"
- Probably ss58 is handled wrong
- Missing identity, might be resolved by fixing the first one

<img width="209" alt="image" src="https://user-images.githubusercontent.com/5887929/156239601-eb837187-8197-4aa8-840b-fc0ed8a3ef36.png">

Subwallet and Talisman spot another friction, probably link them together and tackle in one PR for best.

Related wallet issues
- #2480
- #2477

[2022-03-01 20:02] hieudd opened #2477 "Still not connect correctly when user install 2 wallets at the same time"
### What happened?

I found it still not connect correctly when user install 2 wallets at the same time. pls check.

The list of connected accounts shows only the first extension that connects to the Dapp.

For example: when I connect to Polkadot JS and then connect to SubWallet, the list of accounts shows only Polkadot JS even if I have selected SubWallet and vice versa.

### Please reproduce in

[2022-03-02 02:00] helloitsbirdo opened #2480 "Website unresponsive if Talisman installed"
### What happened?

If the user has Talisman installed,
Upon first loading the Kodadot website,
The website will pop the Talisman extension asking them to Auth their Talisman account
Upon authing, the website will actually load - but no wallet is connected
The user can only select their wallet when clicking `connect`

### Please reproduce in steps

See above

### Expected Behavior

The website sho

[2022-03-02 06:01] zhengow commented on #2460
already fix it, plz take a look

[2022-03-02 10:39] kkukelka commented on #1962
@cryptodamsky
I would suggest you only send me the new questions which should be added right here. also the number of the faq question so i know where to put it in terms of order.
And of course the links that are broken in current build.

If you feel like something is missing afterwards and you feel confident in being able to do the required changes, you can of course make a PR in that regard. I c

[2022-03-02 11:50] yangwao commented on #1285
I've come from future issue to this past issue to see how people live here

[2022-03-02 11:53] yangwao commented on #2475
I guess you can better describe the steps for the first iteration and someone could pick it up.
Feel free to pick inspiration we've dropped in past.

- https://github.com/kodadot/nft-gallery/issues/1285
- https://github.com/kodadot/nft-gallery/issues/321
- https://github.com/kodadot/nft-gallery/issues/571

[2022-03-02 12:16] yangwao commented on #2459
mmm chiptune effects mmm :)

[2022-03-02 12:19] yangwao commented on #2459
Sent @jkdizajn https://kusama.subscan.io/extrinsic/0xd4620cb4b46417c0d793f57604922d6c7122e2a84d10005a035cca20e8193822

Sent @ghifari444222
https://kusama.subscan.io/extrinsic/0x0a97e87034b59d60d509e7c0d6275586ddb256715339228e4187a75b39ae6fdf

[2022-03-02 13:03] yangwao opened #2483 "Artist profile is broke, missing tabs"
Seems I can't see artists' categories like
- created
- collections
- sold
- collected

Test case
https://kodadot.xyz/rmrk/u/FSJkXLHuWYfB8DYejjFKX4bkFjb7dMt9RvVpq6D5LUQLY6x
https://beta.kodadot.xyz/rmrk/u/CuHWHNcBt3ASMVSJmcJyiBWGxxiWLyjYoYbGjfhL4ovoeSd

<img width="1367" alt="image" src="https://user-images.githubusercontent.com/5887929/156366790-42935fcc-d076-47a7-adb7-9d5f9681b483.png">

Maybe re

[2022-03-02 13:07] vikiival commented on #2483
There is a lot of errors in the console
<img width="1680" alt="Screenshot 2022-03-02 at 14 06 36" src="https://user-images.githubusercontent.com/22471030/156367376-805d40f5-04a8-4f65-9602-14e7f67a2f12.png">

[2022-03-02 13:23] yangwao commented on #2483
they came with free tax

[2022-03-02 13:27] sinzii opened #2484 "Showing wrong wallet name in the alert when trying to connect to Subwallet"
### What happened?

Showing wrong wallet name in the alert when trying to connect to Subwallet

### Please reproduce in steps

1. Prerequisite: Don't have Subwallet installed
2. Click `Connect` on the header
3. Click `Subwallet` in the popup
4. Look at the blue alert

### Expected Behavior

Current behavior showing: `You need to install the - talisman - browser extension`
Expected showing: `You ne

[2022-03-02 13:49] roiLeo commented on #2484
I'll fix this with the others wallet issue

[2022-03-02 13:51] #2461 closed

[2022-03-02 13:52] vikiival commented on #1285
They take a lot of vitamin C

[2022-03-02 13:58] #2483 closed

[2022-03-02 14:01] yangwao commented on #2246
yeah most probably yes, thank you!

[2022-03-02 14:01] #2246 closed

[2022-03-02 14:02] yangwao commented on #2150
how it's going?

[2022-03-02 14:03] yangwao commented on #2397
It should be on item page. Inspiration is from giphy

[2022-03-02 14:05] yangwao commented on #2393
Probably fixed in #2436

[2022-03-02 14:06] yangwao commented on #2359
Would be amazing if anyone would like to take this 👀

[2022-03-02 14:07] yangwao commented on #2360
How it would look like? Zoom effect?

[2022-03-02 14:10] #2298 closed

[2022-03-02 14:11] yangwao commented on #2290
@lohba want to take a peak on this?

[2022-03-02 14:12] yangwao commented on #276
Continue to #2150

[2022-03-02 14:12] #276 closed

[2022-03-02 14:15] yangwao commented on #2124
Is this still thing?

[2022-03-02 14:37] yangwao opened #2489 "Sticky header broken at Series"
### What happened?

seems sticky navbar is sticky but not at previous locationthe

### Please reproduce in steps

go to series insight
scroll down
observe

### Expected Behavior

stay at origin place :)

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

Yes

### At which address did you encounter bug?

beta.kodadot.xyz

### Screenshots

https://user-images.githubuse

[2022-03-02 14:42] prachi00 commented on #2489
@yangwao I'll check this

[2022-03-02 14:43] magrisya opened #2490 "Typing Errors Cause Blinks"
### What happened?

I don't know whose fault it is..
is it possible that this is my browser's fault?, because if you type in the letters the send column looks blinking.
i tested it with Chrome V.98.0.4758.102 and Firefox 91.6.0esr.

### Please reproduce in steps

1. Go to profile
2. Go to the Created menu and click one of the NFTs in your wallet.
3. Scroll down
4. Click the Send button

### Expect

[2022-03-02 14:46] magrisya commented on #2461
bug has been patched :)

https://kodadot.xyz/transfer?target=GF4v68qJmh47eShYNpPs5JNfn5bxG5Kz1U2Y4xC2xAqXqmq&usdamount=0&donation=true

[2022-03-02 14:46] prachi00 commented on #2360
@yangwao I can work on this once I know what effect to use, zoom or like changing the opacity a little bit?

[2022-03-02 15:03] #2447 closed

[2022-03-02 15:05] yangwao commented on #2460
sent payout for bug reporting https://kusama.subscan.io/extrinsic/0x6acfea3b6e8429c3cff42b229a9ed195cb9a552687f648f9be2cd30169b0522c

[2022-03-02 15:05] #2460 closed

[2022-03-02 16:02] zhengow commented on #2150
https://user-images.githubusercontent.com/38389586/156399407-59bad18c-03d9-40bd-b846-4c138ceff75f.mp4

[2022-03-02 16:41] magrisya opened #2493 "Navbar UI not showing via Nova Wallet DApps"
### What happened?

when I want to open the ***.kodadot.xyz** site via Nova Wallet via DApps,
i don't see any navbar on my andriod phone.
i tested it with 2 devices but the result is the same the navbar is still missing.
affected sites:
`kodadot.xyz`
`nft.kodadot.xyz`
`beta.kodadot.xyz`

### Please reproduce in steps

Open`kodadot.xyz` `nft.kodadot.xyz` `beta.kodadot.xyz` via DApps Nova wallet.

#

[2022-03-02 18:24] yangwao commented on #2493
Yeah this and missing actions at NFT. We are pretty aware of that however don't know how to debug this.

Which version of NovaWallet you have?

[2022-03-02 18:47] magrisya commented on #2493
Is that true? I use nova wallet version 2.4.1-market

but it works on iOS nova with version 2.4.5
and oddly enough the Profile button also seems to be covered by the URL bar :
![IMG_3869](https://user-images.githubusercontent.com/43703018/156427562-f5dcd97c-6774-4d94-bd7c-3d56e8667637.jpg)

[2022-03-02 19:03] magrisya opened #2494 "Address KSM does not match but successfully sent"
### What happened?

this is like a bug I encountered in issue #2460
but this time I found the page https://kodadot.xyz/rmrk/admin/,

in the column "Distribute NFTs to multiple addresses" there is no correct address filter,
so that anything written with 1-3 digit words can be sent even if it is the wrong address.

### Please reproduce in steps

I found it with Google Dork.

### Expected Behavior

s

[2022-03-02 19:06] magrisya commented on #2461
sir can we solve this? @yangwao 👀 👀 👀

[2022-03-03 07:54] roiLeo commented on #2493
The default page in nova Wallet is `/rmrk/gallery`, if you keep browsing the app, the navigation bar will appear at some point, weird bug.
We have another issue with nova Wallet as it won't ask at the start of the app to:
"Allow 'Kodadot' to access your account addresses" wich is blocking the account selection.

[2022-03-03 08:30] cryptodamsky commented on #2124
No, this issue was resolved by the latest update.

Tried to replicate the bug and it's gone thanks to the change of UI.

[2022-03-03 08:30] #2124 closed

[2022-03-04 08:32] yangwao commented on #2490
Seems we are missing state it was 📤 sent 🤔

[2022-03-04 19:29] vikiival opened #2498 "Intorducing Aero CSS"
We got a nice navbar (thx @prachi00) with a new update, which looks pleasing to my eyes.

<img width="1218" alt="Screenshot 2022-03-04 at 20 22 59" src="https://user-images.githubusercontent.com/22471030/156828311-34c3dd45-ccb6-454f-afa7-599f438ec8e4.png">

I want to utilize this so-called "Aero CSS" (Inspired by Windows) in the other parts of our app.

- [ ] Use Aero effect for Card detail
- [ ]

[2022-03-04 20:02] prachi00 commented on #2498
@vikiival I'll try to do this

[2022-03-04 20:23] vikiival commented on #1316
Closed in #1329

[2022-03-04 20:23] #1316 closed

[2022-03-04 20:25] vikiival commented on #1361
<img width="709" alt="Screenshot 2022-03-04 at 21 24 25" src="https://user-images.githubusercontent.com/22471030/156836458-c0e37ab5-a034-4d4e-8d01-5b2e68c6eb1e.png">

Looks Oki to me
<img src="https://trap.ltd/oki" />

[2022-03-05 05:33] Jarsen136 commented on #2397
Hello, I will finish this task. @yangwao

[2022-03-05 09:19] #2397 closed

[2022-03-05 09:42] vikiival opened #2500 "Wallet selector should show icon of the wallet"
### Is your feature request related to a problem?

I'm always frustrated when I click on the icon (like Talisman) and still see the KodaDot logo

### Describe the solution you would like

I would like to see the Talisman logo (or any selected wallet)

### Describe alternatives you have considered

I have tried this alternative

### Screeenshots

<img width="431" alt="Screenshot 2022-03-05 at 10 31

[2022-03-05 09:45] vikiival commented on #2498
Just to be clear
### Card detail

<img width="396" alt="Screenshot 2022-03-05 at 10 44 19" src="https://user-images.githubusercontent.com/22471030/156877852-77e97441-7526-47f4-94cf-c2ce03525fee.png">

### login (wallet select)
<img width="431" alt="Screenshot 2022-03-05 at 10 31 11" src="https://user-images.githubusercontent.com/22471030/156877838-5d7b3f8e-a11d-44d3-8b83-f170dd7d6ac4.png">

### lo

[2022-03-05 09:53] yangwao opened #2502 "Transfer has issues with sending tx for sign for polkadot"
<img width="514" alt="image" src="https://user-images.githubusercontent.com/5887929/156878151-b3939471-5135-44c2-8c77-8f6f4d986c06.png">

[2022-03-05 10:02] Jarsen136 commented on #1841
Hi, I will do this task!

[2022-03-05 10:06] yangwao opened #2503 "Remove border from gallery & collection item"
To make UI more lightweight, let's remove the border from the card at

- gallery items
- collections items
- collection items
- on an artist profile (created,collections,sold,collected)

Remove radius on corners as well

<img width="459" alt="image" src="https://user-images.githubusercontent.com/5887929/156878454-d7a798b1-ba3a-4d60-941e-cb2b610c3463.png">

[2022-03-05 10:08] #2219 closed

[2022-03-05 10:11] prachi00 commented on #2503
@yangwao I can do thisss

[2022-03-05 10:16] yangwao commented on #1361
yes, works, made test tx https://kusama.subscan.io/extrinsic/0x13ab78b1d6976752eaec291eff508222176580e7227695dbf7a020e6c511f42f

[2022-03-05 10:16] #1361 closed

[2022-03-05 13:17] KngZhi commented on #2249
Hi @yangwao, I'd like to pick up this issue, but do I need to wait until the UX had been designed?

Or Is there any traditional way(components) to show alerts that users are out of the internet?

[2022-03-05 16:49] vikiival opened #2505 "Cache request from Identity popover"
### Is your feature request related to a problem?

I just realized that spotlight does more than **140** queries to magick, a vast number.

### Describe the solution you would like

I would like to see that these requests are cached for 12hrs or so

### Describe alternatives you have considered

Use Vuex :)

### Screeenshots

<img width="474" alt="Screenshot 2022-03-05 at 17 47 58" src="https://us

[2022-03-05 17:34] yangwao opened #2507 "Series Floor Price & Spotlight unique collection"
spotlight unique collection
[code]

series
floor price sorting entity is wrong?
<img width="159" alt="image" src="https://user-images.githubusercontent.com/5887929/156893952-e4c5d9cc-0994-4892-8022-8c8e4b9ad364.png">

<img width="165" alt="image" src="https://user-images.githubusercontent.com/5887929/156893957-a69d0a97-2486-45a9-a786-d22a82da7273.png">

_Originally posted by @yangwao in https://gi

[2022-03-05 18:55] magrisya commented on #2461
hello @yangwao is there no bounty for DoS report?

[2022-03-06 05:20] Jarsen136 commented on #2498
@vikiival hello, I have done this task！

[2022-03-06 07:07] newraina commented on #2502
I'm working on it :)

[2022-03-06 10:17] #2507 closed

[2022-03-06 10:43] Jarsen136 commented on #1655
hi, I will fix this bug!

[2022-03-06 15:22] petersopko commented on #2448
After checking couple of new PRs this seems to be more relevant than ever. I'm gonna add some specs and try to come up with solution soon, if you guys agree:

1. Have working bot which assigns task on "/assign" in comments. Posts message with (example) "**ASSIGNED - @kodadotuserxyz has been assigned with this issue. Task is locked 🔒 until DD-MM-YYYY HH-MM-SS**". If the period expires and there's n

[2022-03-06 16:09] #2437 closed

[2022-03-06 16:21] zhengow opened #2514 "Some develop questions about project"
Hi there!
Q1. API document: I'm wonder when developer write the graphql request, where's the document that explains what's the input parameters and output.

Q2. Terms Document: Where can I learn the terms in this project? For example, I am confused about the difference between the name and symbol. So I simply create one to figure them out.

Q3. Mint fee: continue with Q2, mint costs me a lot, I ha

[2022-03-06 16:22] zhengow commented on #2505
I'd like to do this

[2022-03-06 17:10] prachi00 commented on #2448
@petersopko makes sense, this would be so amazing and helpful when done 😍
yeah happened to me again today in #2498 😔

[2022-03-07 05:20] zhengow commented on #2505
I think the requests are from components/rmrk/Gallery/GalleryItem.vue

![image](https://user-images.githubusercontent.com/38389586/156972627-ca1ad34a-8b6b-4e3c-ba0f-ab5a1ec645cf.png)

![image](https://user-images.githubusercontent.com/38389586/156972590-6db51d5d-930b-4f05-9a88-03faeaf34c5d.png)

![image](https://user-images.githubusercontent.com/38389586/156972695-0de78023-8d10-4bec-9af4-5ffd46981

[2022-03-07 08:22] roiLeo commented on #2505
not on `gallery/:id`, check `/spotlight` page and you'll see lot of query that comes from `IdentityPopover` component

[2022-03-07 08:40] vikiival commented on #2505
yup this issue is related to spotlight.

@zhengow this poll request is intentional as we need to update the price and current owner

[2022-03-07 09:27] vikiival opened #2516 "Make non-blocking connection to the extensions"
Currently the app is blocked when until you don't accept/reject extensions.

<img width="1061" alt="Screenshot 2022-03-05 at 10 29 09" src="https://user-images.githubusercontent.com/22471030/156877459-ce5cbff8-fca6-486c-8f16-ccbc890fcd72.png">

The good approach would be to only request extension when user clicks on it.

The edge case is that we should somehow cache the last logged wallet (e.g whi

[2022-03-07 09:47] #2476 closed

[2022-03-07 09:47] #2477 closed

[2022-03-07 09:47] #2484 closed

[2022-03-07 09:47] #2500 closed

[2022-03-07 10:42] #2372 closed

[2022-03-07 10:46] vikiival commented on #2514
Hei!

### 1. Where API

For implementation of RMRK we use two indexers: [magick by SubQuery](https://github.com/vikiival/magick) and [rubick by SubSquid](https://github.com/kodadot/rubick)

Both implementations are super similar however rubick offers a bit more features.
Schemas are visible in `schema.graphql`

### 2. Bruno the Witcher

Currently KodaDot is using RMRK 1.0 for the NFTs. [The specif

[2022-03-07 11:01] yangwao opened #2517 "Build Svelte KodaDot demo app"
We are looking way to open an airport to land more Svelte devs around the KodaDot ecosystem.
We are having API made by @vikiival https://github.com/vikiival/kodapi

We would like to see build basic read-only kodadot fork with functionality like
- gallery view to show NFTs which could be bought
- NFTs which just made sales, last 10
- artist profile (created, collections, sold, collected)
- collecti

[2022-03-07 11:19] #2150 closed

[2022-03-07 11:32] yangwao commented on #2448
72hrs is way too much, on small issues 24-48hours should be bearable. We saw that even some complex issues done under 2 days or sooner.

Can we have something human centric?

All the cases would be probably easier understandable in some diagrams as in text is hard to catch some deadlock cases 👀

If you want to start cracking, let's try with https://autocode.com/ it's super easy to make first proto

[2022-03-07 11:53] yangwao commented on #2276
#2514 🥺

[2022-03-07 12:26] zhengow commented on #2514
Got it, thanks:)

[2022-03-07 12:27] yangwao commented on #1655
Partially this issue was fixed, suggestions are working

<img width="536" alt="image" src="https://user-images.githubusercontent.com/5887929/157034317-cc726551-347e-4534-b0b5-1b0ae3172743.png">

[2022-03-07 12:37] zhengow commented on #2276
Thanks for let me know this:)

Can a creator see how much fees exactly or approximate range that he have to pay while minting?

[2022-03-07 14:27] cryptodamsky commented on #2276
Hey so i believe we used to have a calculator which can calculate the minting costs, but since the price of the transaction is so low at the moment, you can always look back in your profile on subscan - for example here

https://kusama.subscan.io/extrinsic/11705319-2

Just minted this couple seconds ago and the fee is in current prices 0.022408$. Doesn't get much higher than that usually, of cours

[2022-03-07 15:59] zhengow commented on #2505
Got it. I pull a request about this issue, plz check.
About "cached for 12hrs or so". Does vuex support expire time? Or maybe I have to use something like "sessionStorage"/"localStorage" ?

[2022-03-07 17:22] vikiival commented on #2505
no but there is a supper easy solution to implement this

[2022-03-07 18:03] vikiival commented on #2448
I take this
I'll take this
I will take this

If we can parse the `$` (dollar) labels I would set 24 hr lock for single $ issue

[2022-03-07 18:47] prachi00 commented on #2448
I feel like 24 hours is too less though for one issue sometimes, so maybe we can also add support for increasing time with another comment?

[2022-03-07 18:53] kkukelka commented on #1962
@cryptodamsky all done. let me know if something is missing 👍

[2022-03-07 19:22] petersopko commented on #2448
OK, if you guys agree, I'll make the first version with `$` for 24hrs, `$$` for 48hrs, `$$$` for 72 and `$$$$` and more for 120hrs, i.e. five days. We can add support if you want, or perhaps, since opening PR related to task could lock it until PR is resolved. As @yangwao mentioned before, PRs should be resolved within short period anyways, therefore this would add the requested 24-48hrs and it's

[2022-03-08 01:43] zhengow commented on #2505
guess setInterval?

[2022-03-08 05:04] zhengow commented on #2514
have no idea I have to pay 1.5KSM to mint T_T
![image](https://user-images.githubusercontent.com/38389586/157169737-d1c65e30-5846-4488-9e4a-0fadf820d2b6.png)

[2022-03-08 06:44] cryptodamsky commented on #2514
hey @zhengow have you read my reply to you in #2276?

I've done a fresh mint transaction for you to see how much the fees are. Did you actually try to mint?

You might have a look at it again.

https://kusama.subscan.io/extrinsic/11705319-2

[2022-03-08 09:15] cryptodamsky commented on #1962
Hey, also need to update discord link in question number "6"

New link: https://discord.gg/657ReTFf78

[2022-03-08 09:17] cryptodamsky commented on #1962
Also question "12" needs to have both grant and discord links updated, can use the one i posted.

[2022-03-08 09:22] cryptodamsky commented on #2459
Thanks everyone for contributing, currently there are 3 intros in use.

[2022-03-08 09:22] #2459 closed

[2022-03-08 11:10] kkukelka commented on #1962
done

[2022-03-08 12:46] MSghais commented on #2346
I work on it ! Probably related issues too.

[2022-03-08 16:07] roiLeo opened #2522 "Collection activity dates are incorrectly set"
All dates from Collection activity (BUY event) query are set to T00:00:00Z and this skews the 24-hour activity metric

Seen on `/rmrk/collection/2644199cf3652aaa78-PNW ?tab=activity`

#### Screenshot
![Capture d’écran 2022-03-08 à 4 59 28 PM](https://user-images.githubusercontent.com/9987732/157276361-84b0de04-c86a-435b-bb62-83adb8591916.png)

Last date is from `/rmrk/gallery/11586500-2644199cf3

[2022-03-08 18:33] cryptodamsky commented on #2514
ok, i see, can you paste the transaction hash (extrinsic ID) here so we can have a look? @zhengow

[2022-03-09 01:37] zhengow commented on #2514
Sure, it's 0xa8618bcdd574a805438ea360873d60889e3ec154c0a3938fb1585e68914e780f

[2022-03-09 01:58] MSghais commented on #2337
I work on it !

[2022-03-09 08:27] petersopko commented on #2448
Okay, I've trained and tested the bot yesterday on my repo, needs some refinement with PRs today but it's more or less ready, now just ironing out the logic and messages with you :) Also, I need to write up some readme.md since Autocode does awesome job but the initial deployment seems to stay manual (can't do it from GitHub repo afaik).

Here's the promised diagram of bot logic:

![kodaBot](https

[2022-03-09 13:53] roiLeo commented on #1409
I'm closing this since it's no longer relevant.

[2022-03-09 13:53] #1409 closed

[2022-03-09 14:05] roiLeo commented on #1360
Partially done. All that remains is to remove/move KeyboardShortcutsModal component that has been introduce in #2297

[2022-03-10 02:13] SubWalletApp commented on #2516
I tested it still not working properly at my computer. Pls check.
https://www.loom.com/share/a186677f0e24452497bda6cf7e28edb0

[2022-03-10 09:41] #2503 closed

[2022-03-10 09:43] vikiival commented on #2514
Oh related to fees:
we have a flat fee policy (#1967) (metahours #2/#3) which means: 0.5$ to cover pinning services && 0.5$ to support KodaForrest

This can be turned off in the settings

but your tx for 1.5 KSM look def strange

[2022-03-10 09:48] #1962 closed

[2022-03-10 09:52] #2498 closed

[2022-03-10 10:09] vikiival commented on #1841
@Jarsen136 was on the good page 📄

[2022-03-10 10:23] petersopko commented on #2448
@yangwao just saw your discord message related force push, automatized check and possible warning in comments under PR can be added as well.

[2022-03-10 10:35] vikiival commented on #2346
Here is the query for the subsquid:

[code]

[2022-03-10 12:54] magrisya commented on #2461
waiting for good news:)

[2022-03-10 12:58] magrisya commented on #2490
looks like this problem hasn't been fixed :/

[2022-03-11 06:56] cryptodamsky commented on #2266
All these kind of rewritings/simplified versions will be running here: https://docs.kodadot.xyz/simplified-writings.html

https://docs.kodadot.xyz/statemine.html#statemine-the-nft-pallet

Would love some feedback from non-tech savy users if it's fine or need to simplify more

[2022-03-11 06:56] #2266 closed

[2022-03-11 14:23] cryptodamsky commented on #737
This question has been added to FAQ by PR #1962

[2022-03-11 14:26] cryptodamsky commented on #647
Basic NFT explanation and workflow is running in the documentation under

https://docs.kodadot.xyz/how-to-make-nft.html#create-a-piece-of-art

[2022-03-11 14:27] cryptodamsky commented on #146
I'm on it.

[2022-03-11 17:12] petersopko commented on #2448
Updated my previous comment, it works now. I didn't use Cloudflare KV Workers but built-in Autocode kv util. Hope that's okay. https://docs.autocode.com/building-endpoints/keyvalue-storage/

[2022-03-12 03:27] preschian commented on #2315
Hello, it seems no progress on this issue. So I tried to make a PR based this issue. There are still some warnings on `graphql` dependencies. It might be better if we replace the package.

old: [@nuxtjs/apollo](https://snyk.io/advisor/npm-package/@nuxtjs/apollo#security)
new: [nuxt-graphql-request](https://snyk.io/advisor/npm-package/nuxt-graphql-request)
source: https://modules.nuxtjs.org/?q=grap

[2022-03-12 05:20] preschian commented on #2468
I just found out how to reproduce this issue:
1. Clear `IndexedDB` from developer tools.
2. Reload the page.

I still don't know what the root cause is. It seems that the profile page didn't re-fetch and store user data.

| Expected | Unexpected |
| ------------- | ------------- |
| <img width="2032" alt="Screen Shot 2022-03-12 at 12 02 13 PM" src="https://user-images.githubusercontent.com/734428/

[2022-03-12 12:14] yangwao commented on #2104
@cryptodamsky let's check if Talisman and Subwallet need to update metadata outside of their extension or they can take care within, automatically?

[2022-03-12 12:18] yangwao commented on #2490
let's get someone to fix this and you will be eligible for a bug bounty.
added bounty and priority.

[2022-03-12 12:34] yangwao opened #2530 "Estimation on minting costs doesn't work properly"
Just done a blind test and seem the price estimator rounds up wrong?

Also minting without setting price missing estimator https://github.com/kodadot/nft-gallery/issues/2276#issuecomment-1060745382

<img width="1362" alt="image" src="https://user-images.githubusercontent.com/5887929/158018074-e32db97a-edb6-44ed-ad85-5836eb3673a4.png">

### ref
- https://github.com/kodadot/nft-gallery/issues/2514

[2022-03-12 12:36] yangwao commented on #2516
Added bounty labels plus please record test cases in PR, that's it's working and solved :)

[2022-03-12 12:38] yangwao commented on #2276
Good catch, will be solved in #2530 )

[2022-03-12 12:44] yangwao commented on #2249
I guess we don't have anything like a design for this case, cc @XyloDrone

if none, let's inspire with the 404 page we are having now. Probably rely on navigator state, check #2512 will introduce way to check if there is connection available in vuex store iirc

[2022-03-12 12:49] yangwao commented on #2331
I bet guess so, can't replicate

[2022-03-12 12:49] #2331 closed

[2022-03-12 12:50] #2393 closed

[2022-03-12 12:53] yangwao commented on #1092
Probably resolved in #2411 #2506

[2022-03-12 12:53] #1092 closed

[2022-03-12 12:54] Jarsen136 commented on #2530
Hello, I will fix this bug!

[2022-03-12 12:56] yangwao commented on #2283
If someone would take this easy bait, it's quite major plus having videos demonstrating would be super nice

[2022-03-12 12:56] yangwao commented on #2277
Any draft out there? :)

[2022-03-12 12:57] yangwao commented on #2262
Sitting on super slow internet seems load it's working quite well now

[2022-03-12 12:57] #2262 closed

[2022-03-12 13:00] yangwao commented on #1737
pretty much done, yet we can still run it later again :)

[2022-03-12 13:00] #1737 closed

[2022-03-12 13:03] yangwao commented on #2200
search works, yet keyboard shortcuts listen everytime which I guess should not

<img width="413" alt="image" src="https://user-images.githubusercontent.com/5887929/158018975-e2a27ef8-408a-48db-8418-f9cba0707383.png">

[2022-03-12 13:03] #2200 closed

[2022-03-12 13:04] yangwao opened #2531 "Do not listen keyboard shortcuts while in focus input"
search works, yet keyboard shortcuts listen every time, even in input which I guess should not

Make it that keyboard shortcuts don't listen once you are focused on input.

https://user-images.githubusercontent.com/5887929/158019026-07ebc057-64d7-4fe8-a9a3-2c07e79e3399.mov

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2200#issuecomment-1065879948_

[2022-03-12 13:06] yangwao commented on #2179
It's still issue?

[2022-03-12 13:07] #737 closed

[2022-03-12 13:09] vikiival commented on #2448
<img src="https://trap.ltd/oki" />

[2022-03-12 13:11] yangwao commented on #2135
Seems can't replicate anymore

[2022-03-12 13:11] #2135 closed

[2022-03-12 13:14] #2360 closed

[2022-03-12 13:26] Jarsen136 commented on #2531
Let me have a try to fix it.

[2022-03-12 13:29] prachi00 commented on #2179
@yangwao works fine for me

[2022-03-12 13:30] magrisya commented on #2461
waiting for the good news @yangwao  :))

[2022-03-12 14:57] yangwao opened #2532 "Introduce pagination on History component"
I guess once https://github.com/kodadot/nft-gallery/pull/2523 is merged,
would be nice to have pagination on the history component as lots of events are there.

Mind adding URL parameters so results are shareable
- page
- a type of event is being shown

[2022-03-12 15:50] Jarsen136 commented on #2532
I will work on this task.

[2022-03-13 08:27] kkukelka commented on #2277
I'll try to finish it up in the coming days. 👍

[2022-03-13 13:15] vikiival commented on #2179
Still an issue.
Tested on Safari (iPhone OS 15.3)

[2022-03-14 13:29] yangwao commented on #2461
let me tank my wallet )

[2022-03-14 13:35] magrisya commented on #2461
please fill my wallet too 🤣, i'm broke

[2022-03-14 13:50] vikiival commented on #2522
Hei,

[the query](https://github.com/kodadot/rubick/blob/main/src/server-extension/query/chart.ts) should not be skewed as I group by date.

that means I cut the time from the `timestamp` and then group by (`2022-03-07`).

Moreover I return `data(timestamp)` so that means the time is set to `00`.

To sum it up all events that happens between (`2022-03-07T00:00:00.000Z` and `2022-03-07T23:59:59.999

[2022-03-14 13:55] yangwao commented on #2461
payment sent https://kusama.subscan.io/extrinsic/0xc895c7fc8ab3208da02f8b598755dfd5610e36266b16fa5060adc02002555a6a

[2022-03-14 14:09] yangwao opened #2539 "Post fixes in sales feed of collection"
Post fixes in sales feed of collection
- show default BUY events when you open History
- fix CSS to show it in one line, probably clip long identities

<img width="1286" alt="image" src="https://user-images.githubusercontent.com/5887929/158189355-e459a888-7cb1-46ec-b447-4d1ea739e6e9.png">

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2523#issuecomment-1066839622_

[2022-03-14 14:19] prachi00 commented on #2539
@yangwao I'll do this

[2022-03-14 14:30] yangwao opened #2540 "Showing context of page in navbar"
Whenever someone is browsing
- collection
- profile
- item

It's not needed to show them buttons like Create, Explore, Stats, chain, Language and would rather strip it as probably don't use it all.

Instead would be nice to show on that place name of
- collection
- artist
- title of nft item

So desired results would be once user scrolls down, fading away buttons and replace it with text.
If it's

[2022-03-14 14:43] yangwao commented on #2327
Yes, it's 12 decimals set by a chain, each chain has different decimals chosen by their best decision and client-side code should respect it

Is #2509 related fix?

[2022-03-14 15:24] #1817 closed

[2022-03-14 15:30] #1640 closed

[2022-03-14 15:35] roiLeo commented on #1300
closing this since we don't use background on landing page anymore

[2022-03-14 15:35] #1300 closed

[2022-03-14 15:41] roiLeo commented on #1675
I don't see vue-polkadot package anymore, it may have been moved to @kodadot1/sub-api, we update some polkadot packages in #2436 too

[2022-03-14 15:43] yangwao opened #2541 "Create validation component or filter"
Probably systematic move would create a component or filter to validate these kinds (is it right ksm address? is it able to send? is it legitimate action to make? I'm owner to do so? &c) of inputs as we are having these inputs pretty more places and actionable components.
It would make us more robust and probably antifragile to the future cases as well.

_Originally posted by @yangwao in https://g

[2022-03-14 15:59] vikiival commented on #1675
Yup, you are right

[2022-03-14 16:06] roiLeo commented on #1065
This has been fixed in #1083

[2022-03-14 16:12] roiLeo commented on #1384
I'd like to see some [confetti](https://github.com/catdad/canvas-confetti) once transaction is confirmed

[2022-03-14 16:18] roiLeo commented on #1321
We can close this since we use model-viewer version 1.10.1 right now

[2022-03-14 16:21] #1308 closed

[2022-03-14 16:22] roiLeo commented on #1244
closed in #1298

[2022-03-14 16:22] #1244 closed

[2022-03-14 16:27] roiLeo commented on #1757
sorting works very well right now, we can close this

[2022-03-14 16:27] #1757 closed

[2022-03-14 16:33] Jarsen136 commented on #2540
I will work on this task.

[2022-03-14 16:40] roiLeo commented on #1614
done in #1768 and #2095

[2022-03-14 16:46] roiLeo commented on #1929
The only one missing so far is `unique`

[2022-03-14 16:53] petersopko commented on #2448
I have it working with KV workers after all, since I'm connecting it to #1477, there was a possibility of hitting upper limit with autocode's storage. @yangwao please check out the diagram when you're available, and let me know what you think. I'm working on connection to #1477 right now.

[2022-03-14 17:00] vikiival commented on #1321
Is this fixed?

[2022-03-14 17:02] vikiival commented on #2448
I would personally leave it for another issue // -> focus to make first working version of the assign bot

[2022-03-14 17:03] roiLeo commented on #2522
So quick fix would be to remove/initialize time from `yesterdayDate` and others in Kodadot app

[2022-03-15 10:04] yangwao commented on #1065
you mean #1082 #1063 probably 👀

[2022-03-15 10:04] #1065 closed

[2022-03-15 10:24] prachi00 commented on #2539
@yangwao the css thing is not happening for me

[2022-03-15 10:39] vikiival commented on #2522
Looks like you are trying to solve a specific use case ?

If we need something like last 24 hrs it would be better to write a new resolver

[2022-03-15 10:49] #2531 closed

[2022-03-15 11:18] yangwao opened #2546 "Bug in history component for list, unlist, mint?"
As I guess list and unlist is made just by owner and why is in To other address?

check at https://beta.kodadot.xyz/rmrk/collection/2644199cf3652aaa78-KK01?tab=history

The list should be only by owner I guess?

list
<img width="1308" alt="image" src="https://user-images.githubusercontent.com/5887929/158365389-be118da8-4ac9-40de-9dfa-51ea90f268f5.png">

unlist
<img width="1296" alt="image" src="ht

[2022-03-15 11:18] yangwao opened #2547 "Rework feed for collection bit"
At buy events, we are missing Item name.
- Add there as the second col as item name, where name length keeps first six and last six characters.
- Change the date to relative time (20 minutes ago). On hover show the exact time. This could be changed for the history component at nft item as well.

<img width="1301" alt="image" src="https://user-images.githubusercontent.com/5887929/158365497-de212b4b

[2022-03-15 11:43] kkukelka commented on #2547
I'll take this one

[2022-03-15 11:59] yangwao opened #2549 "Made search bar more transparent and bit wider"
Once #2540 done

Make search bar
- transparent, like rgba `.1` or `.0`
- wider 400px
- keep only border-top 1px pink line

<img width="1378" alt="image" src="https://user-images.githubusercontent.com/5887929/158371288-a6b30337-f4bb-4430-bd1d-56d721628170.png">

[2022-03-15 12:00] prachi00 commented on #2549
@yangwao I'll do this

[2022-03-15 15:47] Jarsen136 commented on #2330
I will do this task.

[2022-03-15 16:08] yangwao opened #2550 "Add historical activity for particular user profile -- timeline"
Start easy adding events for a particular address to show which item has address interacted.

Probably to particular whale directory #1165  related would be nice to estimate the daytime activity of particular address when the address has doing the on-chain activity.

Could be extended for the History component at profile? Like done https://github.com/kodadot/nft-gallery/issues/2346

💡 Open.
It wou

[2022-03-15 17:07] zhengow commented on #2546
I think this issue is related to Vue Vdom algorithm. And I don't see the :key attribute in #2545, so I PR with this.
What do u think:)
`<b-table :data="data" class="mb-4" hoverable :key="Date.now()">`

[2022-03-16 03:59] preschian commented on #1778
hello @yangwao can I do this issue partially? I was only able to remove "expensive" and "cheaper" from the collection page.
I have no idea how to exclude empty array (nodes) from graphql or how to update the API (resolver). need learning more about it

[2022-03-16 04:52] shixin-guo commented on #2541
I can help to do this,

[2022-03-16 11:15] #2532 closed

[2022-03-16 11:28] #2505 closed

[2022-03-16 12:21] #2468 closed

[2022-03-16 12:35] yangwao opened #2557 "Add ability to download asset you own from actions"
As we disabled right-click context menu #2443
despite PFP culture, we would like to enable owners, to download their assets and used them elsewhere. (twitter, discord, telegram,steam, elsewhere social network)

Add to action list
[Right-Click-Save] use club-mate yellow, posting pic for reference:D

and it will download the asset at which you are the owner.

<img width="342" alt="image" src="https:

[2022-03-16 12:39] Jarsen136 commented on #2557
I will work on this task.

[2022-03-16 13:39] Jarsen136 commented on #2557
Only right-clic button can save the image? Or maybe single click button to save image, which is my preference.
@yangwao

[2022-03-16 14:37] yangwao commented on #2557
for simplicity, we would like to keep the disabled right-click context menu.

and enable a single-click button on actions to save the image.

[2022-03-16 16:32] vikiival commented on #1518
Pink is good for now

[2022-03-16 16:37] vikiival opened #2559 "Hold your color"
### Is your feature request related to a problem?

Issue #2557 brought a new joke about Club-Mate yellow.

Possible ref. #1638

### Describe the solution you would like

I was thinking to tune our set of colors a little bit so they would better match our KodaDot pinkish.

- info
- warning
- danger
- success

### Describe alternatives you have considered

Maybe take inspiration from [Bulma](https:/

[2022-03-16 20:15] yangwao opened #2561 "Add the name of the item to the collection history"
Add the name of the item to the collection history, once it would be available.
Right now making this issue name was not available.

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2552#issuecomment-1069577608_

[2022-03-16 20:24] yangwao opened #2562 "Add link to collection history into series"
Adding a link similar to a link to a chart like when someone clicks on the icon next to chart will land on history tab of the collection.

i.e. someone will want to see Donkey Gang, will directly go from Series to History tab like https://deploy-preview-2552--koda-nuxt.netlify.app/rmrk/collection/0a8ce195286c168f19-DONKEY?tab=history

Plus for activity and history,
once user clicks, scroll viewpor

[2022-03-16 20:39] yangwao commented on #2277
Oh, I would happily participate on this page as a researcher as already did some readings on this.
Seems awesome-public-good has room to grow https://github.com/search?q=awesome-public-good 😇

[2022-03-16 20:55] yangwao opened #2563 "Wrong Items count in social media preview"
curious, from where that 16 item comes from?  https://beta.kodadot.xyz/rmrk/collection/0a8ce195286c168f19-DONKEY?tab=history

![image](https://user-images.githubusercontent.com/5887929/158689355-9e4750dd-5337-4768-a7cf-c620cbb5c75f.png)

![image](https://user-images.githubusercontent.com/5887929/158689368-f52b0173-05b4-4e62-afb4-7e3150e973c4.png)

[2022-03-16 20:58] yangwao commented on #2549
curious what's update? would be nice to push it into planned release :)
I guess #2548 is mergeable and don't expect any major changes there

[2022-03-16 20:59] yangwao commented on #2541
Sure, let's go

[2022-03-16 21:01] yangwao commented on #2539
Meanwhile #2552 has done some stuff I guess so

[2022-03-16 23:39] Jarsen136 commented on #2563
Hello, I will deal with it.

[2022-03-16 23:48] Jarsen136 commented on #2562
I will work do this task.

[2022-03-17 06:25] prachi00 commented on #2549
@yangwao shouldnt #2540 be merged first before doing this?

[2022-03-17 09:18] kkukelka commented on #2563
just glancing over the code it should work as intended 🤔
[code]

[2022-03-17 09:38] roiLeo commented on #2563
This won't work it will always show the `first` length which is 16
Solution could be
[code]

[2022-03-17 09:55] kkukelka commented on #2563
Ahh, interesting. Will fix this asap

[2022-03-17 10:54] yangwao opened #2573 "Strange idbd bug on gallery and collections"
when I navigate to https://deploy-preview-2568--koda-nuxt.netlify.app/rmrk/collections
or
https://deploy-preview-2568--koda-nuxt.netlify.app/rmrk/gallery

on beta.kodadot.xyz seems everything working

<img width="643" alt="image" src="https://user-images.githubusercontent.com/5887929/158794251-50a955a2-7987-47fd-b2e8-d7acf4d5dd77.png">

edit after reload is gone...

[2022-03-17 11:02] #2540 closed

[2022-03-17 11:11] yangwao commented on #592
probably #2516 related

[2022-03-17 11:13] yangwao commented on #782
#1172
#1814
#1921

[2022-03-17 11:14] vikiival commented on #592
when #2574 will be merged this issue will become obsolete

[2022-03-17 11:16] yangwao opened #2575 "Don't show buy when it's not for sale"
I guess we don't want to show the buy button when art is not on sale, even it's disabled?
But hence we can show related NFTs from particular collection/artist re #990

happened at https://deploy-preview-2558--koda-nuxt.netlify.app/rmrk/gallery/10279780-0a8ce195286c168f19-DONKEY-DONKEY_GANG_120-0000000000000120

<img width="351" alt="image" src="https://user-images.githubusercontent.com/5887929/158

[2022-03-17 11:21] #2563 closed

[2022-03-17 11:25] Jarsen136 commented on #2575
Hi, I will work on this.

[2022-03-17 11:35] yangwao commented on #1123
Like AI which recommends you best price for listing? I guess thinking about this back in
- #1483
- #1119

[2022-03-17 12:12] vikiival commented on #1123
For the first buy:

first list 1 KSM

current list 0.5 KSM

App: -50% off since the first list

For other buys/lists:

First buy 1 KSM
Current list 3 KSM

App: +300% since first buy

[2022-03-17 12:28] yangwao commented on #2549
On your PR deployment is perfectly fine!

<img width="640" alt="image" src="https://user-images.githubusercontent.com/5887929/158808244-7b287318-ebad-4ea5-8457-e11601aa91f3.png">

but somehow merged to `main` it's not, but has some CSS properties there.

<img width="593" alt="image" src="https://user-images.githubusercontent.com/5887929/158808372-5450e07a-f1ac-4fc5-9961-724f9479afb8.png">

care to

[2022-03-17 12:35] prachi00 commented on #2549
@yangwao checking this

[2022-03-17 12:42] yangwao opened #2578 "Keep only top-border on pagination and sharing buttons"
- Keep only top-border on pagination buttons

Probably reflect everywhere where we are using pagination
- gallery
- collections
- artists profile
- collection detail

<img width="643" alt="image" src="https://user-images.githubusercontent.com/5887929/158810127-1434eb46-b0e8-4e13-9ac2-4f10f8a28f75.png">
<img width="382" alt="image" src="https://user-images.githubusercontent.com/5887929/158810964-d8

[2022-03-17 12:46] prachi00 commented on #2578
@yangwao I'll do this

[2022-03-17 13:17] #2549 closed

[2022-03-17 13:22] preschian commented on #2221
deployed to https://polkadot.js.org/apps/#/accounts 🎉

<img width="2032" alt="Screen Shot 2022-03-17 at 8 20 06 PM" src="https://user-images.githubusercontent.com/734428/158817289-ab9f6f19-b24d-4b62-b951-2cfe742ae632.png">

[2022-03-18 06:32] preschian commented on #2197
I would suggest upgrade to `pnpm` instead of `yarn v2` for now

I agree with this reason: https://twitter.com/sitnikcode/status/1474367850341097483

[2022-03-18 07:12] yangwao opened #2582 "Pagination on history collection component is wonky"
I guess happens bc it's in history component? Thus smaller component somehow?

![Screenshot_2022-03-18-08-11-17-49_40deb401b9ffe8e1df2f1cc5ba480b12.jpg](https://user-images.githubusercontent.com/5887929/158953893-69771d18-c7c1-44d9-9aea-06fb2938bc6f.jpg)

[2022-03-18 07:16] prachi00 commented on #2582
@yangwao I'll check this

[2022-03-18 07:55] jkdizajn opened #2584 "Keyboard shortcuts on the "Create" page"
### What happened?

Keyboard shortcuts to delete text
this is caused by keyboard shortcuts
especially g+a

### Please reproduce in steps

When writing text in a newly created NFT, I noticed that sometimes the page loads itself, for example to the gallery or to my profile. Then, of course, the whole text was washed away and I had to write it again....
![obrázok](https://user-images.githubuserconten

[2022-03-18 08:41] yangwao commented on #2584
#(disable keyboard shortcuts in input) there was issue about that and apparently didn't cover create as well )

[2022-03-18 09:29] Jarsen136 commented on #2584
I will fix the bug.

[2022-03-18 09:38] roiLeo commented on #2493
The navigation bar not displaying may come from `isShareMode` from layouts, we could try to remove it to see if it fix the issue

[2022-03-18 11:28] preschian commented on #2561
Hi, I'll work on this

[2022-03-18 12:13] rashikaqureshi commented on #2153
Hey i am new here. Can you help me with first timer issues ?

[2022-03-18 12:17] rashikaqureshi commented on #2070
Do you have some api call for this . can you tell the steps how to reach here

[2022-03-19 10:43] #2562 closed

[2022-03-19 10:53] #2539 closed

[2022-03-19 10:59] vikiival opened #2589 "Refactor History component"
### Is your feature request related to a problem?

The code looks supper messy, and It's tough to read

### Describe the solution you would like

- Clean up the code.
- Make it more component friendly (aka reusable)

### Describe alternatives you have considered

ref #2551

This issue is currently blocked by https://github.com/kodadot/rubick/issues/40
We need to save the current owner of the NFT w

[2022-03-19 11:04] yangwao opened #2590 "Apparently Subwallet doesn't work on Connect"
Apparently, Subwallet doesn't work on Connect, let's crack on this why in another issue to push this forward :)

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2574#issuecomment-1072989339_

[2022-03-19 11:05] #2516 closed

[2022-03-19 11:05] #592 closed

[2022-03-19 11:12] vikiival commented on #2153
Hey @rashikaqureshi,
sure!

I recommend going through [FIRST_TIME](https://github.com/kodadot/nft-gallery/blob/main/FIRST_TIME.md) and [CONTRIBUTING](https://github.com/kodadot/nft-gallery/blob/main/CONTRIBUTING.md)

also do not forget to join our [discord](https://discord.gg/kodadot)

[2022-03-19 11:45] #2557 closed

[2022-03-19 11:46] #2582 closed

[2022-03-19 11:50] Jarsen136 commented on #2590
Hello, I can do this task.

[2022-03-19 11:55] #2575 closed

[2022-03-19 12:00] #1262 closed

[2022-03-19 12:01] #2578 closed

[2022-03-19 12:07] yangwao opened #2591 "Sharing search url with page number is broken"
Plus I've found another issue, when I share someone's URL https://beta.kodadot.xyz/rmrk/gallery/?search=nft&page=10 it actually pushes me on page 1, rewriting the 10th page to first. If you can fix it with this that would be superior! :)

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2513#issuecomment-1072998406_

[2022-03-19 12:09] Jarsen136 commented on #2591
Hey, I can fix it!

[2022-03-19 12:10] #2584 closed

[2022-03-19 12:11] yangwao commented on #2584
Payout sent for bug reporting @jkdizajn
https://kusama.subscan.io/extrinsic/0x13344480bcea11ee38958f206be9a153fff7a488c7ecd62f4ec65f3304424040

:)

[2022-03-19 12:20] yangwao opened #2592 "When I want to search particular term from landing, won't redirect me to search"
when I try to search nothing in item name or collection, on pressing enter I should land on the gallery with searched term and showing results

I.e. I should land at here https://beta.kodadot.xyz/rmrk/gallery?search=Talisman&page=1

https://user-images.githubusercontent.com/5887929/159120788-601192c5-815c-4dd0-a79e-51c0275d134a.mov

### Ref
- #1655
- #2513
- #2591

[2022-03-19 12:41] Jarsen136 commented on #2592
Hi, I will deal with it.

[2022-03-19 13:05] magrisya opened #2594 "Is the emote feature broken?"
### What happened?

when I want to press the emoticon button I select it only appears "Error: Unable to retrieve key pair".
even though I'm already connected to the site

### Please reproduce in steps

click emoticon

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

Yes

### At which address did you encounter bug?

beta.kod

[2022-03-19 13:48] magrisya opened #2595 "Show only identities that are verified"
### What happened?

i used a fake identity and i stole that name in the top spotlight and it worked.
maybe it will affect my account if i sell NFT and will get profit myself.
because someone will be fooled and unknowingly to buy it, because of the NFT maker of RMRK Official.

![Screenshot_2](https://user-images.githubusercontent.com/43703018/159123517-53ef0bbe-8ad9-47c2-a0f1-423968e99e76.png)

###

[2022-03-19 14:01] newraina commented on #2388
@yangwao  I used [Facebook Sharing Debugger](https://developers.facebook.com/tools/debug/) to find out what scraper sees for our URL: [beta.kodadot.xyz](https://developers.facebook.com/tools/debug/echo/?q=https%3A%2F%2Fbeta.kodadot.xyz%2Frmrk%2Fgallery%2F11664198-4466b2edfa4d261069-POLKAORIGINS-HUNTER-0000000000000006) | [kodadot.xyz](https://developers.facebook.com/tools/debug/echo/?q=https%3A%2F

[2022-03-19 16:30] petersopko commented on #2448
I've published version which is only affected by #1477 in a small way, basically it's just storing data objects needed for generating LEADERBOARD.md in the future. It's triggered by payout message, otherwise it does nothing. But I can remove it in case you want this fully separated, it just uses the same webhook for created comment on issue.

I was waiting for some feedback on the diagram, however

[2022-03-19 17:26] yangwao commented on #2595
I guess identity 🆔 is not unique like ENS, but we're thinking make it more unique.

Can you post recording from this?

[2022-03-19 17:43] magrisya commented on #2595
yeah right i also think so identity is not like ens but can you make it unique in kodadot? so that the name that has been used can not be used again?.

for example I have cloned the official name and nft rmrk :

![Screenshot_1](https://user-images.githubusercontent.com/43703018/159132228-3bf4dc3c-6dbc-4dc4-b603-158a882f5c0f.png)

https://kodadot.xyz/rmrk/detail/11238345-e0b9bdcc456a36497a-RMRKBNNR

[2022-03-20 06:16] preschian commented on #1897
hello, what is the status of this issue? can I take a look at this issue?

[2022-03-20 10:27] prachi00 commented on #1897
@preschian I couldn't figure out why the keys are different, feel free to take this up.

[2022-03-20 10:34] #2561 closed

[2022-03-20 10:39] vikiival commented on #2590
<img width="130" alt="Screenshot 2022-03-20 at 11 37 28" src="https://user-images.githubusercontent.com/22471030/159158463-3fa8d396-7ff4-4600-8697-8b7a96c54af8.png">

Looks like my account was disabled ://

[2022-03-20 10:41] #2592 closed

[2022-03-20 10:44] #1655 closed

[2022-03-20 10:45] vikiival commented on #2589
also this

[code]

needs to be done smarter

[2022-03-20 10:45] #2546 closed

[2022-03-20 10:55] yangwao opened #2599 "Default Sorting in collection history"
Seems we are sorting somehow weird in collection history.

Can we have fixed to show the most recent on top?

https://user-images.githubusercontent.com/5887929/159158937-8857120a-fda5-4a33-b2a8-3661e1f7764a.mov

[2022-03-20 10:56] prachi00 commented on #2599
@yangwao I'll check this

[2022-03-20 10:58] #2591 closed

[2022-03-20 11:02] Jarsen136 commented on #2590
Maybe you need to reinstall the wallet extension ?

I find that it does not load the address list as my wallet account is visible. Then I fix it in my pr.

<img width="1358" alt="image" src="https://user-images.githubusercontent.com/31397967/159159002-c4ee5f44-6d04-4de1-859d-61d2f80aa8db.png">

[2022-03-20 11:07] yangwao commented on #1897
Seems would be great to have this fixed! :)

[2022-03-20 11:14] yangwao opened #2602 "fix keyboard shortcuts next and previous page on history"
Seems keyboard shortcuts wors previous next page but doesn't change the state so needs watch URL change?

https://user-images.githubusercontent.com/5887929/159159558-dab76d32-539f-4bb8-89a0-f7c5fd86e0c0.mov

[2022-03-20 11:15] Jarsen136 commented on #2602
Hi, I will work on it.

[2022-03-20 11:39] nullscript commented on #2337
@yangwao This problem is still caused by formatting issue of formatBalance. Can we just use math division instead of formatting?

[2022-03-20 11:41] nullscript commented on #2337
217777560000000000
98000000000000000
23142594502346668
15758922666666668
This four numbers can cause formatting issue according to logs

[2022-03-20 11:44] prachi00 opened #2604 "Spotlight Magic button seems to overlap Pagination buttons"
### What happened?

In spotlight, the magic button is overlapping the pagination button

### Please reproduce in steps

https://nft.kodadot.xyz/spotlight

### Expected Behavior

should not overlap.

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

Yes

### At which address did you encounter bug?

_No response_

### Screenshots

<img width="583" alt="Screenshot 2022

[2022-03-20 11:44] prachi00 commented on #2604
I will work on fixing this.

[2022-03-20 11:50] yangwao commented on #2448
![image](https://user-images.githubusercontent.com/5887929/159159769-cc3caf8a-f710-4fd5-976e-fa5b5670bdb8.png)

I'll maybe adjust the formatting bit to be way easier to find, so contributor doesn't need it to read whole to find some key information

![image](https://user-images.githubusercontent.com/5887929/159159813-0b6c245e-8a0a-4242-b66b-9c3e91334fa1.png)

#### Suggestions
- I'd remove timezone

[2022-03-20 11:53] yangwao commented on #2493
oh share mode is very old approach we had idea to embed stuff but due some security stuff we discarded I guess.
Let's give it a hit?

[2022-03-20 11:57] #2599 closed

[2022-03-20 12:00] yangwao commented on #2197
Interesting point

[2022-03-20 12:01] yangwao commented on #2197
But pnpm needs to be installed as extra I guess? But same as for yarn.

[2022-03-20 12:02] yangwao commented on #2070
It should use identity we use elsewhere

[2022-03-20 12:06] yangwao commented on #1778
Sure, create an issue with backreference and I can update it here :)

[2022-03-20 12:06] Jarsen136 commented on #2070
I will fix it!

[2022-03-20 12:09] yangwao commented on #1501
We discussed that would be nice to write another article about Rubick (SubSquid in KodaDot) as implementation differs.
https://github.com/kodadot/rubick/

[2022-03-20 12:09] yangwao opened #2605 "Write article about Rubick (SubSquid in KodaDot) as implementation differs."
We discussed that would be nice to write another article about Rubick (SubSquid in KodaDot) as implementation differs.
https://github.com/kodadot/rubick/

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/1501#issuecomment-1073237371_

[2022-03-20 12:22] #2070 closed

[2022-03-20 12:29] yangwao opened #2607 "Unable to retrieve keypair"
Seems I can't dispatch tx :|
But I guess it's related https://docs.kodadot.xyz/tutorials/how-to-fix-error-keypair.html#_1-are-you-using-a-ledger-hardware-wallet :|

https://kodadot.xyz/transfer/?target=G29NScLSew5zqwmJAPupvJWDCDkpxKUhDnMeVdD2BBcnHar&usdamount=500

![image](https://user-images.githubusercontent.com/5887929/159162236-0ff76829-d5b1-4aed-b055-1d5917e108a7.png)

![image](https://user-i

[2022-03-20 12:39] petersopko commented on #2448
ok

ok

bountyTimes = { $: 24, $$: 48, $$$: 72, $$$$: 96, $$$$$: 120}

after time period expires, nothing happens unless somebody else wants to take the issue. basically, if you won't finish in time and there's nobody else who'd like to try, feel free to go on?

I can set it that way. My thinking was right now, if you give it a shot, won't deliver, somebody else gives it a shot, won't deliver, the

[2022-03-20 13:13] vikiival commented on #1661
https://star-history.com/#kodadot/nft-gallery&Date

[2022-03-20 15:35] jkdizajn commented on #2607
confirm error also when minting new NFT
@yangwao

https://user-images.githubusercontent.com/81104034/159170191-c891835e-aca5-4b00-bf30-faa2667c24bc.mp4

[2022-03-20 16:17] magrisya commented on #2607
this is the same problem on my report  #2594

[2022-03-20 17:38] kkukelka commented on #2607
same here. just tried to create my first nft 😢

[2022-03-21 07:04] Jarsen136 commented on #2494
Hi, I will fix this bug.

[2022-03-21 07:06] magrisya commented on #2494
Letsgoo @Jarsen136

[2022-03-21 07:46] roiLeo commented on #2590
I just tested it (on firefox & chrome) and it does work for me

[2022-03-21 08:26] preschian commented on #2197
pnpm has lock-files also

need to test the compatibility. vue3 already using pnpm + netlify
https://github.com/netlify/build/issues/1633#issuecomment-941965924

vue3 github actions with pnpm
https://github.com/vuejs/core/blob/main/.github/workflows/ci.yml#L16

[2022-03-21 09:19] yangwao commented on #2607
@vikiival is investigating it already, somehow merging something broke it.

I heard it's a special time to highlight, that we need better QA on the pipeline, writing tests &c, as we are adding way too much stuff without robust testing  😅 🫶

https://docs.kodadot.xyz/incentives/incentivized-qa.html#code-of-conduct

[2022-03-21 09:36] magrisya commented on #2607
Sir @yangwao why u not label my report at #2594 It seems this is the same case :)

[2022-03-21 09:38] yangwao opened #2615 "Add nudge text when first time user authorize wallet"
When first-time user authorize a wallet, add a nudge to authorize
do it for
- polkadot
- talisman
- subwallet

[2022-03-21 09:39] prachi00 commented on #2615
@yangwao ill do this

[2022-03-21 09:42] #2594 closed

[2022-03-21 09:42] #2607 closed

[2022-03-21 09:48] cryptodamsky commented on #2277
My 2 cents were submitted to KodaDot publication.. Will see, when or if the article sees the light of the world.

[2022-03-21 09:48] yangwao opened #2617 "Make Renovate to prefer major version (v16)"
I guess so would be nice, yet renovate has updating it whenever new version or security version node is out to particular version, let's give it a shot if you can find in renovate docs to opt out from bumping nodejs version as it's send immortal PRs :)
Making this as extra issue

### Ref
- https://github.com/kodadot/nft-gallery/issues/2340

_Originally posted by @yangwao in https://github.com/koda

[2022-03-21 09:55] vikiival commented on #2595
The possibility is to show only verified identities:
The second option is that we can probably give the other color (like green for verified addr)

[2022-03-21 10:03] #1360 closed

[2022-03-21 10:08] magrisya opened #2618 "NFT name is in navbar when scrolled down"
### What happened?

I don't know what happened if it's a new feature or a bug..
didn't you turn off right click on image.
if its a new feature now right click works again on current feature after update

### Please reproduce in steps

Click one of the nft on your homepage/profile and scroll your mouse down

### Expected Behavior

new feature or bug

### What browsers are you seeing the problem on?

[2022-03-21 10:13] magrisya commented on #2618
check my attachment mr @yangwao

https://user-images.githubusercontent.com/43703018/159241166-00adfd86-0517-4edd-9fd2-0acded71bf1f.mp4

[2022-03-21 10:17] magrisya commented on #2595
if it's just to give color maybe the new face in kodadot will feel confused.
how to add a blue tick or something.
that if it can be achieved and if you want :)

[2022-03-21 10:25] magrisya commented on #2490
Hello mr @yangwao  it looks like this issue is fixed in the current update.
The `Submit Send` button is working fine it will fire if the address is correct and it won't work if the address is wrong even with the same number of characters :)

https://user-images.githubusercontent.com/43703018/159242601-2192911b-4052-40c8-b720-ce3b92a1552a.mp4

[2022-03-21 11:09] vikiival commented on #2197
Just wanted to open that we can migrate to `pnpm` seems like yarn v1 becomes deprecated soon

[2022-03-21 12:45] yangwao opened #2620 "Passion Emotes component"
The next step would be to show on click in that modal which addresses has emoted.

### Ref
- #744
- #1918
- #2226
- #2223
- #2222

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2610#issuecomment-1073849135_

[2022-03-21 12:58] roiLeo commented on #2620
could be related with #1918

[2022-03-21 13:31] roiLeo opened #2621 "Empty history in gallery item"
Since we set "BUY" event by default in #2567, some nft show empty data when loaded
Tested on: `/rmrk/gallery/11220191-daf9e25824d4bd9357-KUBOTS-KUBOT_459-0000000000000459`

#### screenshot
![Screenshot 2022-03-21 at 14-21-29 KuBot #459](https://user-images.githubusercontent.com/9987732/159270963-a87ea5f9-1fd8-4f0e-9f01-7f12cd2d9c50.png)

#### solution
- set "all" if there isn't "BUY" events

[2022-03-21 13:36] Jarsen136 commented on #2621
Hi, I will fix it!

[2022-03-21 13:50] yangwao opened #2622 "Bergen milestone"
I feel like it would be good to suggest some issues to have from the product-wise spectrum, I'll try to update this issue to have something around and better gauge our development along with our user acquisitions. Feel free put your opinions!

Every time we have highlights where we add some unique components which add sort of more comfort for users to create, collect, follow, endorse and engage wi

[2022-03-21 15:06] preschian commented on #2221
finally, released 🎉
- https://cloudflare-ipfs.com/ipns/dotapps.io/#/explorer
- https://github.com/polkadot-js/apps/releases/tag/v0.110.1

<img width="2032" alt="Screen Shot 2022-03-21 at 10 05 52 PM" src="https://user-images.githubusercontent.com/734428/159290218-e40c50a8-99af-41ad-9b46-38581890bcc4.png">

[2022-03-21 15:21] vikiival commented on #2589
@Jarsen136 hey this is not an urgent issue, please check issues with [p2](https://github.com/kodadot/nft-gallery/issues?q=is%3Aopen+is%3Aissue+label%3Ap2) label

like #2329

[2022-03-21 15:22] vikiival commented on #2541
👀

[2022-03-22 04:52] preschian commented on #2337
hi, I will take a look at this issue

[2022-03-22 09:00] roiLeo opened #2626 "Collection pagination"
#### Steps to reproduce
- go to any collection (tested on `/rmrk/collection/800f8a914281765a7d-KITTY`)
- click on page 3
- click on any nft
- click on go back to previous page
- you're now on page 1 while you have page 3 in url

#### Expected Behavior
I should be on page 3 instead of page 1

#### video
https://user-images.githubusercontent.com/9987732/159443990-d0c98a5b-6e07-4226-9c6f-cbaa572da9f5

[2022-03-22 09:25] Jarsen136 commented on #2626
I will handle with it.

[2022-03-22 10:15] yangwao opened #2627 "Fix deepsource configuration"
https://deepsource.io/gh/kodadot/nft-gallery/run/6c9a4785-d45e-4867-9910-b90feafde43f/javascript/

![image](https://user-images.githubusercontent.com/5887929/159458015-ace2a172-27f2-43b6-bced-082ed74b939b.png)

[2022-03-22 10:17] Jarsen136 commented on #2627
Hi, I will have a try!

[2022-03-22 11:04] cryptodamsky opened #2629 "Default nft view size is really big"
When you click on any NFT the view size of the image is really big, talked about this yesterday with @XyloDrone, can we actually do something about it?

User has to scroll down 2-3x to get to the buying point --> annoying

ref:
![1](https://user-images.githubusercontent.com/92786519/159467729-05f83fdc-1851-4c90-8134-bfaa8dda957a.png)

[2022-03-22 11:10] roiLeo opened #2630 "Nova & Math wallet connection"
It's not possible to connect your wallet throught Kodadot with nova or math wallet mobile app.
It used to work when we requested access to the extension on Kodadot app loading but since we introduce multiple wallet extension, it won't ask for extension permission on mobile.

It look like the `window` is undefined in mobile app browser and we can't acces nor inject extension for now.

#### working

[2022-03-22 11:12] prachi00 commented on #2629
@cryptodamsky @yangwao @XyloDrone should we decrease the width? I can do this

[2022-03-22 11:15] XyloDrone commented on #2629
Might even be height, ideally the image would take up 30% of the screen with the possibility of a full screen view.

[2022-03-22 11:27] cryptodamsky opened #2631 "Add "More from this collection" at the bottom of nft buying page"
### Is your feature request related to a problem?

Based on some survey report we got from our recent survey, it would be good to raise buying traction by showing more nfts from actual viewed collection. Definitely  it would be way more interesting than the History function, which could go below this feature.

### Describe the solution you would like

Let's say i'm viewing a random nft which belon

[2022-03-22 11:36] Jarsen136 commented on #2627
Hi, It seems that this problems has been solved in recent pr. @yangwao

<img width="838" alt="image" src="https://user-images.githubusercontent.com/31397967/159473217-e8270757-aa88-4638-acec-e5bdf58f6add.png">

ref: https://deepsource.io/gh/kodadot/nft-gallery/run/382e2f7d-d376-4e87-964e-7da3856c1f1c/javascript

[2022-03-22 11:44] yangwao commented on #2620
Seems my brain state is almost the same compared to past me.
https://github.com/kodadot/nft-gallery/issues/1918#issuecomment-1025654647

interlinked!

[2022-03-22 11:46] yangwao commented on #2626
Seems same bug as we had on the gallery?

[2022-03-22 11:47] yangwao commented on #2627
interesting, okay

[2022-03-22 11:47] cryptodamsky opened #2632 "Filter function seems to be broken in Explore > Collections"
### What happened?

The filtering function seems to be acting weird, it sometimes shows the same nfts and it definitely doesn't load the last interacted collections, based on "latest sales" on landing page.

### Please reproduce in steps

Go to kodadot.xyz
Click on Explore>Collections>Filter by

### Expected Behavior

/

### What browsers are you seeing the problem on?

Mozilla/Chrome

### Are you

[2022-03-22 11:50] Jarsen136 commented on #2632
Hi, I will fix it.

[2022-03-22 11:50] vikiival commented on #2632
👀

[2022-03-22 11:53] Jarsen136 commented on #2626
I think yes. The same problem in different components.

[2022-03-22 11:53] yangwao commented on #2629
I would default to something people with 13"-15" notebooks can see on the whole screen?

https://gs.statcounter.com/screen-resolution-stats/desktop/worldwide

also we have this one there 👀
screenshot taken on iPad
<img width="696" alt="image" src="https://user-images.githubusercontent.com/5887929/159475890-f90a0c87-fb0e-4158-8108-ebc650c2324c.png">

[2022-03-22 11:55] yangwao commented on #2631
👀
- #782

adding to #2622

[2022-03-22 12:05] vikiival commented on #2629
Opened the #2634

[2022-03-22 12:17] roiLeo commented on #2627
It looks like it's back with recent build/deploy

[2022-03-22 12:18] vikiival opened #2635 "History component could show bad data"
### What happened?

According to the history chart, Jam had bought pixel babe from @yangwao for 6.7 KSM
<img width="1406" alt="Screenshot 2022-03-22 at 13 15 50" src="https://user-images.githubusercontent.com/22471030/159479975-4f2eecdf-48c6-4f74-8610-31ce3ef879ea.png">

However, if I check the [Pixel Babe 99](https://kodadot.xyz/rmrk/gallery/11832784-160a6f4320f11acb25-LCKWV-PIXEL_BABE_099_LOVESI

[2022-03-22 12:23] Jarsen136 commented on #2635
Hi, I will check it!

[2022-03-22 12:29] vikiival commented on #2635
👁️
<img width="475" alt="Screenshot 2022-03-22 at 13 29 21" src="https://user-images.githubusercontent.com/22471030/159482280-10ccedb0-ba60-481c-8041-28d36cb6ec5c.png">

[2022-03-22 12:30] Jarsen136 commented on #2632
It seems that there is something wrong with the request

<img width="787" alt="image" src="https://user-images.githubusercontent.com/31397967/159482071-ee9caca3-6982-4604-a826-0cd5df92f791.png">

Both 'PRICE_DESC' and 'PRICE_ASC' are not supported to return data.  Any ideas about it? @vikiival
<img width="256" alt="image" src="https://user-images.githubusercontent.com/31397967/159482222-a887ad34-6

[2022-03-22 12:34] Jarsen136 commented on #2635
It's my fault, I didn't notice it : )

[2022-03-22 12:39] vikiival commented on #2632
Yup, don't use PRICE should be visible only in NFTs

[2022-03-22 13:22] preschian commented on #2197
I tried to migrate to pnpm, it seems like too many errors with types. I tried to fix it little by little in here https://github.com/preschian/nft-gallery/pull/1. seems like not an easy task tho

<img width="2032" alt="Screen Shot 2022-03-22 at 8 08 40 PM" src="https://user-images.githubusercontent.com/734428/159489019-072d6e1b-d948-444c-99af-7e4450c8748e.png">

@vikiival do you have any concerns a

[2022-03-22 13:25] vikiival commented on #2197
Just think it will bloat the package size and still you haven't resolved the issue with polkadot packages :)

[2022-03-22 13:34] yangwao commented on #2388
Well, we running production on Cloudflare pages, not sure if they have prerendering? Other than that, I guess pretender doesn't have impact unless you are SPA which we are not much anymore. but let see on other opinion out there

[2022-03-22 13:38] yangwao commented on #2221
oh, that's amazing!
Can we push the outline version as on small space, outlined version might be better recognized?
https://github.com/kodadot/kodadot-presskit/blob/main/v3/K_outline_logo.png

Feel free to put the payment link through transfer here to receive reward :)

[2022-03-22 13:45] preschian commented on #2197
able to run in local using pnpm with `node-linker=hoisted` enabled. need to find out these postcss warnings, where is this come from 🤔

<img width="2032" alt="Screen Shot 2022-03-22 at 8 37 55 PM" src="https://user-images.githubusercontent.com/734428/159494891-8848a96d-c00b-422f-a1f4-0ce7c5f456be.png">

[2022-03-22 13:55] vikiival commented on #2197
May some of these can help
https://github.com/postcss/postcss/issues/1171
https://stackoverflow.com/questions/38889675/how-to-suppress-warnings-using-webpack-and-post-css

[2022-03-22 14:04] yangwao opened #2637 "Don't show UNLIST on landing page"
Don't show nft which has listed with 0 value

![image](https://user-images.githubusercontent.com/5887929/159499661-f1feb10d-a1b4-4d53-82bd-869ced272518.png)

[2022-03-22 14:07] Jarsen136 commented on #2637
ok, I will check it!

[2022-03-22 14:14] yangwao opened #2638 "Show trending collections for last week on input focus on search"
Show most bough nft in particular collections for last week (7 days)
We should show precached query once the user taps into the search bar focus to suggest collections
Probably showing the last 10 collections should be enough.
Feel free to recycle queries from series insight using subsquid probably for last 7 days

![image](https://user-images.githubusercontent.com/5887929/159500028-3051a419-6a2e-

[2022-03-22 14:19] yangwao opened #2639 "History on nft item detail seems gone"
https://beta.kodadot.xyz/rmrk/gallery/11316757-8ac9852f42a86a395d-8GDSY-AKUMA_EXOSUIT_05_RARE_EDITION-0000000000000005

![image](https://user-images.githubusercontent.com/5887929/159502963-d4c8dc5c-41e6-489a-bc71-36743ed14b7e.png)

[2022-03-22 14:22] yangwao commented on #2639
okay fixed in #2623
![image](https://user-images.githubusercontent.com/5887929/159503782-16eaa05b-0e54-42cf-920c-e2ce17af19eb.png)

[2022-03-22 14:28] preschian commented on #2221
Noted, I will try out the outline logo tomorrow.

here it is, my [KSM address](https://beta.kodadot.xyz/transfer/?target=DY4SQF2iD456tH89aQtz5wv1EV3BbSW8wKKuMcwbmXaj1pM)

[2022-03-22 14:34] magrisya commented on #2490
sir @yangwao can we close this issue? 👀

[2022-03-22 15:02] #2632 closed

[2022-03-22 16:33] yangwao opened #2641 "Few last payouts we're not processed due insufficient balance"
https://open.spotify.com/track/7C1YRIV3WPKtXUABDeRxHW?si=1405220d8e9b4aa4

![image](https://user-images.githubusercontent.com/5887929/159528862-8773bc97-d3c0-4c7f-89b4-5119cceca041.png)

### Ref
- #2116

[2022-03-22 16:38] yangwao opened #2642 "BURN_RATE.md"
Once we will have working #1477 all well-oiled, would be great to estimate and see what's actual burn rate on a weekly/monthly basis

Accounting number of payout PRs, amount of money, number of people involved, avg PR paid out slash time frame 7/14/21 days

### Ref
- #1477
- #2116

[2022-03-23 06:37] preschian commented on #1933
Hi, I will take this

[2022-03-23 09:22] yangwao opened #2646 "Aarhus milestone"
Once kodadot/nft-gallery#2622 is finished, Aarhus is next.

- https://github.com/kodadot/nft-gallery/issues/1285
- https://github.com/kodadot/ideas/issues/7
- https://github.com/kodadot/nft-gallery/issues/1722
- https://github.com/kodadot/nft-gallery/issues/1348

[2022-03-23 12:39] yangwao opened #2647 "Passion filter on landing page"
Once the user is logged in, show only
- recent sales from collection users' wallets already bought
- new listings from the collection

### Ref
- #2226
- #2223
- #2222
- #2620
- #2622

[2022-03-23 12:42] prachi00 commented on #2647
@yangwao ill do this

[2022-03-23 13:22] preschian commented on #2221
@yangwao  preview when using that logo, is that ok for you? if yes, I will raise the PR again

<img width="397" alt="Screen Shot 2022-03-23 at 8 19 51 PM" src="https://user-images.githubusercontent.com/734428/159708820-7130b2eb-763a-48c0-b896-41c60c590109.png">
<img width="304" alt="Screen Shot 2022-03-23 at 8 20 36 PM" src="https://user-images.githubusercontent.com/734428/159708931-51d387b4-3e36-

[2022-03-23 13:55] shixin-guo commented on #2541
so sorry, these days we are focusing on other things, can you help to fix it @yangwao @vikiival

[2022-03-23 14:19] yangwao commented on #2641
Payments sent and updated origin comments

[2022-03-23 14:19] #2641 closed

[2022-03-23 14:20] #2626 closed

[2022-03-23 14:25] #1897 closed

[2022-03-23 14:25] #1918 closed

[2022-03-23 14:30] yangwao commented on #2629
@cryptodamsky https://deploy-preview-2634--koda-nuxt.netlify.app/rmrk/gallery/11922317-2045da46c79661c147-CHAOSMASKS-CHAOS_MASK_53-0000000000000053 like this 👀

[2022-03-23 14:33] #2590 closed

[2022-03-23 14:34] #2315 closed

[2022-03-23 14:40] yangwao commented on #2221
oh, probably we need a better icon for this small space
cc @XyloDrone

[2022-03-23 14:45] XyloDrone commented on #2221
I think this logo works nicely :D

[2022-03-23 15:19] yangwao commented on #2221
okay, let's close this then :)

@preschian sent payout!
https://kusama.subscan.io/extrinsic/0x8d961fe0d4b85664b1651d6ebd48859ce2decbaf24238c7a64015d3c0a567c28

[2022-03-23 15:19] #2221 closed

[2022-03-23 15:24] yangwao opened #2649 "Collection History component incosistencies"
Seems some buy events missing an amount
https://beta.kodadot.xyz/rmrk/collection/2045da46c79661c147-CHAOSMASKS?tab=history&event=%25F0%259F%25A4%259D%2520BUY

![image](https://user-images.githubusercontent.com/5887929/159734327-bf20de4f-c544-4492-8ed6-1cdd46cfecba.png)

[2022-03-23 15:25] Jarsen136 commented on #2649
I will check it.

[2022-03-23 16:19] cryptodamsky commented on #2629
Lovely! Feel like thats the ideal size

[2022-03-23 16:19] XyloDrone commented on #979
this seems like it is already done but requires just a name change from cheapest/most expensive to asc/dsc

[2022-03-23 16:39] XyloDrone opened #2650 "KodaDot Explorer Upgrade"
### To do
- [ ] https://github.com/kodadot/nft-gallery/issues/348
- [x] https://github.com/kodadot/nft-gallery/issues/859
- [ ] https://github.com/kodadot/ideas/issues/8
- [x] https://github.com/kodadot/nft-gallery/issues/903
- [x] https://github.com/kodadot/nft-gallery/issues/1041
- [x] https://github.com/kodadot/nft-gallery/issues/285
- [x] https://github.com/kodadot/nft-gallery/issues/1023
- [x

[2022-03-23 16:43] prachi00 commented on #2650
@XyloDrone sure

[2022-03-23 16:48] prachi00 commented on #859
@yangwao can you expand this?

[2022-03-23 16:48] prachi00 commented on #979
@yangwao @XyloDrone will check this one

[2022-03-23 18:10] yangwao opened #2651 "Watchdog for upcoming listing from collection"
Whenever people are looking to buy some NFT from a particular collection, they can set a notification whenever someone lists NFT from that collection for sale.

i.e. I'd like to buy something from Kusama dogs in a range of 1-2KSM to notify me.

https://beta.kodadot.xyz/rmrk/collection/3892e43e923e5ad973-KD?search=&listed=true

[2022-03-23 22:33] magrisya commented on #2595
hey someone has bought this nft and they are selling it for a higher price. @yangwao will you prioritize this issue or not?. :))
I want to thank him for testing this invention, I will buy it if the price will go back to the way it was.

It's a good idea if you create a red flag display like this:
![IMG_20220324_052805](https://user-images.githubusercontent.com/43703018/159807030-d9b7a96b-9121-4726

[2022-03-24 04:15] preschian commented on #2627
Hello @Jarsen136 🙋‍♂️

in yesterday seems like you are trying to fix this issue, but the PR closed https://github.com/kodadot/nft-gallery/pull/2648
are you still looking into that issue? If not, can I take a look at this issue?

[2022-03-24 05:01] Jarsen136 commented on #2627
Not, feel free to check this issue~

[2022-03-24 08:27] cryptodamsky commented on #378
Inspiration:

https://github.com/bencodezen/vuepress-blog-boilerplate

[2022-03-24 10:09] vikiival commented on #2595
Hey we don't have any centralized DB where we can mark people as plagiators
with upcoming token we can solve this by decentralized way

[2022-03-24 10:10] vikiival commented on #2629
Feel free to merge https://github.com/kodadot/nft-gallery/pull/2634

[2022-03-24 10:13] prachi00 commented on #979
<img width="381" alt="Screenshot 2022-03-24 at 3 42 36 PM" src="https://user-images.githubusercontent.com/39299315/159893859-61557136-0165-41ac-b828-f95510d86c73.png">
@XyloDrone change these texts is all that is left right?

[2022-03-24 10:14] yangwao commented on #2618
I'm confused, what's wrong here?

like right click works again?
re name in navbar #2548 it's feature :)

btw, for future bug reporting, would be nice if you can test on https://beta.kodadot.xyz as there is most recent features which might not been pushed to production :)

[2022-03-24 10:14] XyloDrone commented on #979
Yup! @cryptodamsky , I think we had another comment on the filters from the survey… can you recall what it was? :D

[2022-03-24 10:17] roiLeo commented on #2650
#### Already (or partially) done
- #1294
- #1231
- #979
- #802
- #42

#### Backend stuff (https://github.com/kodadot/rubick)
- #1526 (?)
- #1367
- #1191
- #1088
- #1023
- #903
- #285
- #49
- #35

#### Remainder
- #1582 & #1411
- #1174
- #1050
- #991

[2022-03-24 10:23] preschian opened #2655 "Update keyboard shortcuts in collection"
curious, is this reflected in keyboard hint when you press `?` ?  as seems different keyboard shortcuts

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2619#issuecomment-1076436365_

[2022-03-24 10:24] prachi00 commented on #979
<img width="353" alt="Screenshot 2022-03-24 at 3 54 01 PM" src="https://user-images.githubusercontent.com/39299315/159896024-33e311fd-694b-468c-b7f2-41a17eca41a6.png">
@XyloDrone should it be like this or just ASC ?

[2022-03-24 10:25] XyloDrone commented on #979
That’s great :D

[2022-03-24 10:29] yangwao opened #2656 "Remove gyroscopic effect i.e. picture transformation on nft item detail"
Ook, remove gyro effect on mobile as well and optionally on the desktop to be turned on in settings

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2634#issuecomment-1077473927_

[2022-03-24 10:30] #2629 closed

[2022-03-24 10:49] yangwao opened #2658 "When we upgrade to webpack v5 I can live in Norway for free."
@vikiival told me that when we upgrade to webpackV5 I can live in Norway for free.
jk, we can drop some packages like ...

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2653#issuecomment-1077491946_

[2022-03-24 10:59] roiLeo commented on #2658
remember that webpack can be replaced by #1418, it would speedup development server and improve performance

[2022-03-24 11:05] #2327 closed

[2022-03-24 11:05] #2337 closed

[2022-03-24 11:05] #2604 closed

[2022-03-24 11:07] #2618 closed

[2022-03-24 11:07] magrisya commented on #2618
Dope sorry

[2022-03-24 11:17] yangwao commented on #1418
@kkukelka since #2653 we are powered by webpack v5 (apparently), @vikiival 🛐 believe we can use Vite now... let's give it kick to speed up development and build times? 🫣 🤞

Somehow package-cleanup could be joined w #2658 (dropping 📦 we don't need anymore)

[2022-03-24 11:21] cryptodamsky commented on #979
Yup, it was sort by rank and volume :)

[2022-03-24 11:23] #2637 closed

[2022-03-24 11:23] cryptodamsky commented on #979
And we were also saying, that having - long time no interaction is kinda useless? No collector would probably look for this :D + its gonna show rly old stuff i guess?

[2022-03-24 11:29] magrisya commented on #2490
sir @yangwao can we close this issue? 👀

[2022-03-24 11:44] #979 closed

[2022-03-24 11:46] #2655 closed

[2022-03-24 11:47] vikiival commented on #2589
Also there are some odd hacks with timestamps as id (#2654)

[2022-03-24 12:06] #1933 closed

[2022-03-24 12:08] yangwao opened #2661 "Link contribute to footer 😇"
oh, I forgot if we can link contribute to footer 😇

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2644#issuecomment-1077558235_

[2022-03-24 12:10] Jarsen136 commented on #2661
well, i can do this task.

[2022-03-24 12:37] preschian commented on #2627
@Jarsen136 thank you Jarsen 🙏🏻

[2022-03-24 12:50] roiLeo commented on #2493
@vikiival this has most likely been fixed in #2613 😉

[2022-03-24 13:08] Jarsen136 opened #2664 "Sorting arrows are obscured"
### What happened?

Sorting arrows are obscured

### Please reproduce in steps

open https://kodadot.xyz/series-insight
and then you can see the arrow is abnormal

### Expected Behavior

I expected that the arrow should be displayed in full

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

_No response_

### At which address did you encounter bug?

kodadot.xyz

###

[2022-03-24 13:08] Jarsen136 commented on #2664
i will check this bug

[2022-03-24 13:44] #2627 closed

[2022-03-24 13:47] magrisya commented on #2493
![Screenshot_2022-03-24-20-45-30-964_io novafoundation nova market](https://user-images.githubusercontent.com/43703018/159929948-57016fc7-ae5a-423b-bc1a-3d912d2464b4.jpg)

Nah this issue has been patched on  PR #2613

[2022-03-24 13:56] #2493 closed

[2022-03-24 14:25] kkukelka commented on #2277
@yangwao just submitted my draft https://medium.com/kodadot/on-sustaining-open-source-as-a-public-good-a3e8c36e67d6
In this first article, I wanted to establish a foundation for the term "public good" in the context of the internet, web3, and kodadot. Furthermore I tried to convey the importance of knowledge in this regard and how we at kodadot help to sustain such knowledge in the open source eco

[2022-03-24 14:38] yangwao opened #2666 "Placement should be in front of you to the ground, 1m before"
_Originally posted by @vikiival in https://github.com/kodadot/nft-gallery/issues/1321#issuecomment-1067065034_

[2022-03-24 14:51] prachi00 commented on #2666
@yangwao can you expand more? I'll take this

[2022-03-24 15:21] kkukelka commented on #1418
Sure, I'll give it another try! 🚀

[2022-03-24 16:25] yangwao opened #2667 "Remove top-border on history component when used in collection"
- Remove top-border on history component when used in the collection
- remove folding arrow as well
- remove "History" from the headline of the card

<img width="813" alt="image" src="https://user-images.githubusercontent.com/5887929/159963196-7ba02203-7121-44a0-8660-fea2387623b9.png">

[2022-03-24 16:37] yangwao opened #2668 "Seems recent sales and listings are broken on landing?"
Seems since we deployed #2660 something went go black and there are no new updates from mints and sales.
The last one is 6 hours ago. But when you click on https://kodadot.xyz/rmrk/gallery?search=&sort=UPDATED_AT_DESC&page=1 shows recent listings
Maybe #2637 ?

<img width="331" alt="image" src="https://user-images.githubusercontent.com/5887929/159965991-f9599820-c49e-494c-a01a-11aef6699a8e.png">

[2022-03-24 16:45] prachi00 commented on #2667
@yangwao will do this

[2022-03-24 16:59] vikiival commented on #2666
When you open a 3D moded using `Show in AR` the object should be placed 1 meter in front of you.

The current mode is that object is rendered somewhere around you

[2022-03-24 23:53] Jarsen136 commented on #2668
Seem that there is something wrong in server side, as I revert the #2637, the problems still there. 👀

[2022-03-25 09:24] prachi00 commented on #2666
@vikiival where is `Show in AR`?

[2022-03-25 09:25] prachi00 commented on #2656
@yangwao is this just for navbar gyro effect or overall?

[2022-03-25 09:39] vikiival commented on #2666
[When you open this on mobile](https://kodadot.xyz/rmrk/detail/10249854-FC77C33AB229A2056A-BTFLSUZANN-BEAUTIFUL_SUZANNE_13-0000000000000013) you will see the button ;D

[2022-03-25 09:54] yangwao commented on #2197
oh just noticed Svelte is running `pnpm` as well, I'm pretty excited then tho!
https://github.com/netlify/build/issues/1633#issuecomment-1009364228

[2022-03-25 10:09] yangwao opened #2671 "How we've migrated from yarn to pnpm"
tested in:
- cloudflare pages: https://github.com/preschian/nft-gallery/pull/1#issuecomment-1078661057
	- skip npm install in cf: pass `NPM_FLAGS = --version` as env. [source](https://community.cloudflare.com/t/add-pnpm-to-pre-installed-cloudflare-pages-tools/288514/5)
- netlify: https://github.com/preschian/nft-gallery/pull/1#issuecomment-1075885821
	- skip npm install in netlify: leave it blank

[2022-03-25 10:54] #2667 closed

[2022-03-25 11:23] yangwao opened #2672 "handle offline-first v2"
I guess it's fair.
Now would be amazing to make handle offline-first v2 to add things
- like notice user visually that's it's offline, but keep showing content - i.e. now when I'm offline and have cached pictures, why I can't see them if I don't interact with them?
- disable buttons probably
- write service worker to cache stuff, i.e. add the ability for user return to pages were previously been?

[2022-03-25 11:24] #2249 closed

[2022-03-25 11:59] preschian commented on #2671
noted, time to sharpen my writing skill 🙈

[2022-03-25 12:28] yangwao commented on #2480
@helloitsbirdo can you check now on `beta.kodadot.xyz` ? I guess it should be resolved :)

[2022-03-25 12:29] yangwao commented on #2350
meanwhile solved
and seems broken again 🫣
continue to #2668

[2022-03-25 12:29] #2350 closed

[2022-03-25 12:30] yangwao commented on #2668
The investigation, our recent rubick@005 is broke.

mmm
#1492

[2022-03-25 12:32] #2012 closed

[2022-03-25 12:33] yangwao commented on #762
meanwhile using subsquid already

[2022-03-25 12:33] #762 closed

[2022-03-25 12:33] yangwao commented on #1664
meanwhile working

[2022-03-25 12:33] #1664 closed

[2022-03-25 12:33] yangwao commented on #1570
probably already solved

[2022-03-25 12:33] #1570 closed

[2022-03-25 12:34] yangwao commented on #1481
probably solved as there are no more errors rn

[2022-03-25 12:34] #1481 closed

[2022-03-25 12:34] yangwao commented on #1510
Continue to #2237

[2022-03-25 12:34] #1510 closed

[2022-03-25 12:35] yangwao commented on #2002
@jkdizajn I guess this one was meanwhile solved?

[2022-03-25 12:37] vikiival commented on #2668
https://github.com/kodadot/rubick/issues/44

[2022-03-25 12:39] preschian commented on #2668
curious, how to detect/capture this error? because I only get `200` from the network tab

<img width="2032" alt="Screen Shot 2022-03-25 at 7 38 20 PM" src="https://user-images.githubusercontent.com/734428/160122182-4ea4d301-4db8-4c97-86e0-46a576348bce.png">

[2022-03-25 12:40] preschian commented on #1492
hello, I will try to create this status page

[2022-03-25 12:57] #2661 closed

[2022-03-25 13:08] vikiival commented on #2668
Deployed fast fix so we won't have old data on the landing

The original issue is still in the process

(https://github.com/kodadot/rubick/issues/44)

[2022-03-25 13:24] #2668 closed

[2022-03-25 14:25] yangwao opened #2675 "ts-loader v9.2.8 is breaking"
Seems ts-loader v9.2.8 is breaking
Will add to renovate ignore till then

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2652#issuecomment-1079079741_

[2022-03-25 14:28] yangwao commented on #1418
I guess `ts-loader` could be then removed if things work out!
https://github.com/kodadot/nft-gallery/issues/2675

[2022-03-25 15:07] kkukelka commented on #1418
@yangwao @vikiival
actually got Nuxt Bridge working but I'm struggling with this error
<img width="1321" alt="Screenshot 2022-03-25 at 16 03 49" src="https://user-images.githubusercontent.com/17953978/160146824-730987e3-cfba-4fe0-9f76-0b3bab4c90c9.png">

already tried
[code]
in nuxt.config

also
[code]

also tried to define  plugin via
[code]

problem seems to be template in this file https://gith

[2022-03-25 16:26] vikiival commented on #1418
@kkukelka do you have a branch somewhere ? 👀 I would love to take a look

[2022-03-25 16:55] kkukelka commented on #1418
ok somehow the error went away after reinstalling everything again.... but alot of other stuff to fix i feel like

[2022-03-25 16:56] vikiival commented on #1418
I used this https://github.com/kodadot/nft-gallery/issues/1418#issuecomment-1079212344 and works like a charm

[2022-03-25 17:10] preschian opened #2678 "Wrong text in sort by price"
### What happened?

Sort by price show wrong words

### Please reproduce in steps

1. visit https://beta.kodadot.xyz/rmrk/collection/24d6d7cd9a97d46d3e-SHIBA-SUB-CL
2. try to sort ["Price: Low to High"](https://beta.kodadot.xyz/rmrk/collection/24d6d7cd9a97d46d3e-SHIBA-SUB-CL?search=&sort=PRICE_DESC&listed=true)

### Expected Behavior

- `PRICE_DESC` should be "Price: High to Low"
- `PRICE_ASC` sho

[2022-03-25 17:10] preschian commented on #2678
I will fix the issue

[2022-03-26 08:29] yangwao commented on #2617
Accidentally merged https://github.com/kodadot/nft-gallery/pull/2681 without realizing consequences :D
now I had to bump
- https://github.com/kodadot/nft-gallery/commit/bfc92a0b55866cb1b45d37a5d2c5310e361432d6
- https://github.com/kodadot/nft-gallery/commit/5cc507b2b423fb9d240f622538e74ac15224252d
 to have checks passing 🫣

[2022-03-26 08:38] #2678 closed

[2022-03-26 10:17] newraina commented on #2517
are there any deadline?

[2022-03-26 13:07] Jarsen136 opened #2685 "There is an extra scroll bar below the component at landing page"
### What happened?

There is an extra scroll bar below the component at landing page.

both `Latest sales` and `Newest List` have the same problems, which looks weird

### Please reproduce in steps

goto https://kodadot.xyz/
scroll down the page
you can see the strange scroll bar

### Expected Behavior

I've expected there is no scroll bar below the component

### What browsers are you seeing the

[2022-03-26 13:07] Jarsen136 commented on #2685
I will fix it.

[2022-03-26 15:08] Jarsen136 commented on #2672
Hi, I will have a try!

[2022-03-26 16:53] vikiival commented on #1418
Found possible workaround if the error appears again https://github.com/vuejs/router/issues/858

[2022-03-26 17:38] kkukelka commented on #1418
wow, good find. ill definitely bookmark it ⭐

[2022-03-27 03:01] preschian commented on #2617
aw, rennovate updated the engines in package.json https://github.com/kodadot/nft-gallery/pull/2681 🤔

will check later, leave traces...
nodejs, prefer latest and LTS, no need to update engines in package.json
- https://github.com/renovatebot/renovate/discussions/13725
- https://github.com/renovatebot/renovate/discussions/14643

dependencies and devDependencies, minor and patch first

[2022-03-27 07:15] Jarsen136 commented on #2290
I will take it. How about putting a 'owned' label in the upper right corner of the image?  @yangwao

[2022-03-27 09:06] yangwao opened #2688 "Put KodaDot on awesome-vite list"
Now it's time to put KodaDot on **awesome-vite** list
Hence @kkukelka done this amazing heavy lifting job, he got pre reserved credits for fame 😍

📺   https://github.com/vitejs/awesome-vite

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2677#issuecomment-1079887178_

[2022-03-27 09:11] yangwao opened #2689 "Write article about DX while contributing to KodaDot"
We would like to highlight all the amazing features of how we are working together extending codebase of open source in web3 , managing issues, having easy workflow, letting others give insights what we are up to, fairly documenting our progress, welcoming new contributors, getting easily oriented in stuff needs to be done, warm and welcoming community of developers, good first issues for first-ti

[2022-03-27 09:15] vikiival opened #2690 "Towards Vue 3 / Nuxt 3 migration roadmap"
# [Migration Roadmap click here](https://github.com/kodadot/nft-gallery/issues/2690#issuecomment-1525341446)

---

### Is your feature request related to a problem?

Since we have Nuxt Bridge
- #2677

### we should leverage the latest features

- [Pinia](https://pinia.vuejs.org/) could be considered (#4755)
- Composition API (#4750)
- <s>blocker https://github.com/kodadot/nft-gallery/issues/2692</

[2022-03-27 09:19] #2685 closed

[2022-03-27 09:21] #2664 closed

[2022-03-27 09:38] vikiival opened #2692 "Migrate App to Vite"
### Is your feature request related to a problem?

I would love to see Vite in the repo. To enable it

[code]

[Nuxt Feature Flags](https://v3.nuxtjs.org/getting-started/bridge/#feature-flags)

However, it shows a ton of errors

[code]

### Describe the solution you would like

I would like to see Vite 🚀

### Describe alternatives you have considered

I have tried this Nuxt Bridge with Webpack 4

[2022-03-27 09:41] #2617 closed

[2022-03-27 09:41] #2413 closed

[2022-03-27 09:47] yangwao opened #2694 "Tackle warning after switching to pnpm"
Hence introduction pnpm we have a new warning in deploy logs

https://app.netlify.com/sites/koda-nuxt/deploys/62402cd05ae4fc0008a3876d

sounds like need set some pythong env?

[code]

CF log, seems similar

[code]

edit interesting pnpm failed on CF rn now lol without changing anything related to it

![image](https://user-images.githubusercontent.com/5887929/160276284-394d322c-393d-4f41-b930-e412b

[2022-03-27 09:56] preschian commented on #2694
will check this one

[2022-03-27 11:06] yangwao opened #2696 "pnpm builds taking on first time quite long"
I guess switching to pnpm from yarn it seems from cached they do amazing work but on the first time they take quite a long time to build

Now

https://app.netlify.com/sites/koda-nuxt/deploys/62403dedcfa58900095b76d1

Before

https://app.netlify.com/sites/koda-nuxt/deploys/6239dbdd27c5220009cec772

this is quite scary lol

### Ref
- #2692

[2022-03-27 11:06] #2694 closed

[2022-03-27 11:10] preschian commented on #2696
IMO, build times is not really relevant with pnpm, especially we recently migrated to nuxt-bridge can be related with that also

pnpm installation benchmark https://pnpm.io/benchmarks

[2022-03-27 11:14] yangwao commented on #2696
but I guess once we are not adding a new package, we should somehow leverage cache?

[2022-03-27 11:23] preschian commented on #2696
can be related with that installation global also, because netlify does not support pnpm built-in. meanwhile in vercel https://vercel.com/changelog/projects-using-pnpm-can-now-be-deployed-with-zero-configuration

[2022-03-27 11:37] yangwao commented on #2696
So we can expecting netlify having it soon?

[2022-03-27 11:42] preschian commented on #2696
hopefully, requested from 2020 🙈
<img width="926" alt="Screen Shot 2022-03-27 at 6 41 45 PM" src="https://user-images.githubusercontent.com/734428/160279807-7acfdb12-bf8b-4b9d-93c4-6ce1cd5699cd.png">

[2022-03-27 11:49] Jarsen136 opened #2697 "Gallery item image is crooked when click on the nav-bar on mobile browser"
### What happened?

env: IOS15 chrome

open gallery item like:
https://kodadot.xyz/rmrk/gallery/11835964-800f8a914281765a7d-KITTY-KITTY_PARADISE_302-0000000000000302

click the nav-bar `expand` button

You can see the image  is crooked. Seem that it related to the theater view mode.

### Please reproduce in steps

env: IOS15 chrome

open gallery item like:
https://kodadot.xyz/rmrk/gallery/11835964

[2022-03-27 11:49] Jarsen136 commented on #2697
I will take it.

[2022-03-27 12:43] yangwao commented on #2692
Might be related to auto imports?

[2022-03-27 13:12] zhyd1997 commented on #2696
It's my first time to use Netlify and I deployed my forked [nft-gallery](https://github.com/kodadot/nft-gallery/) repo on Netlify but I got a different build time 👀 :

https://app.netlify.com/sites/inquisitive-chebakia-1caea0/deploys/62405d7c18bfda372acfe634

**Build command (default)**:
[code]

[2022-03-27 13:41] kkukelka commented on #2692
Had the same problems when trying to integrate Vite on its own. Vite in its current form cannot handle tilde sign '~' so i think you need to replace it with a regex somewhere in vite config. Let me see if I can find the issue

[2022-03-27 13:42] kkukelka commented on #2688
I feel honoured 😄

[2022-03-27 13:59] newraina commented on #2399
As [kkukelka](https://github.com/kkukelka) said, the main problem is not repetitive search but price range prams not works on reload

[2022-03-27 14:33] zhyd1997 commented on #2696
After comparing the deploy logs above in the issue description, the most redundant time spend on

| stage  | yarn | pnpm | diff time |
| ------------- | ------------- | ------------- | ------------- |
| before `Starting build script`  | **1 m 6 s** (10:23:27 PM - 10:24:33 PM)  | **1 m 35 s** (6:35:28 PM - 6:37:03 PM) | + 29 s |
| install deps  | **0** (totally cached) | **12s** (6:37:32 PM - 6:37:

[2022-03-28 05:47] kkukelka commented on #2688
blocked till i solve this i guess https://github.com/kodadot/nft-gallery/issues/2692 😅

[2022-03-28 07:58] preschian commented on #2696
interesting, on my end:

stage | pnpm | yarn
--- | --- | ---
source | https://github.com/preschian/nft-gallery/pull/11 | https://github.com/preschian/nft-gallery/pull/12
netlify 1st time | Build time: **5m 4s**. <br />Total deploy time: **5m 8s** | Build time: **4m 39s**. <br />Total deploy time: 4m 43s
netlify (cached) | Build time: **1m 14s**. <br />Total deploy time: **1m 17s** | Build time: **

[2022-03-28 08:56] XyloDrone commented on #2629
Has this been deployed? :D As I am still seeing a massive image when looking on the actual site :)

[2022-03-28 09:08] XyloDrone commented on #2650
Thanks for the info @roiLeo , I removed the tasks which are completed.

If something is a backend issue, do you guys need someone else to give a hand with these types of developments, is it more timely or..? :D

[2022-03-28 09:21] vikiival commented on #2650
It means that we need to update our [rubick indexer](https://github.com/kodadot/rubick/) so we have the data for the NFT gallery

Well it depends on the change:
- If we need to change the schema (save additional data or so) we basically have to reindex the Kusama chain which is like 8 million blocks (Eta 2-3 days)
<img width="346" alt="Screenshot 2022-03-28 at 11 10 41" src="https://user-images.gi

[2022-03-28 09:30] vikiival opened #2699 "Dashboard to show the health status of the indexers"
### Is your feature request related to a problem?

It would be nice to have a route like `/health` which pings:

#### 1. indexers
- magick

- rubick

- unique

- snek

#### 2. services/workers

If they are working as they should

### Describe the solution you would like

Some dashboard like UI (mobile friendly ofc)

### Blocking

I need to implement some of this checking features to the workers an

[2022-03-28 09:42] XyloDrone commented on #2650
Thanks for the clarification @vikiival :D
Is there any chance that #1367 could be sorted with a resolver?
Artist have been vocal about this issue before and they stated how it messes up their profiles.

[2022-03-28 09:55] vikiival commented on #1367
As @XyloDrone asked me if we could do that asap @roiLeo opened issue months ago

[2022-03-28 09:56] vikiival commented on #2650
https://github.com/kodadot/rubick/issues/19

[2022-03-28 10:06] cryptodamsky commented on #2629
It's currently running in Beta i think

https://beta.kodadot.xyz/rmrk/gallery/12000638-5A37C441DF4354913E-SLEEPCUTIE-SPACE_CUTIE-0000000000000006

[2022-03-28 11:36] yangwao opened #2700 "Collection history tab doesn't work"
I recall we had recent SubSquid fixes, but this seems different as it doesn't work and we don't see there any errors?

https://beta.kodadot.xyz/rmrk/collection/dac5c7f54029d0e73c-HXAI8?tab=history

![image](https://user-images.githubusercontent.com/5887929/160389636-e47cf20b-a1e0-4afa-821c-a2dec59d000e.png)

@vikiival is aware of that one if you want to help elaborate your help is more than welcom

[2022-03-28 11:41] prachi00 commented on #2700
@yangwao I'll check this

[2022-03-28 11:42] yangwao commented on #2699
How it's different from
- #1492

[2022-03-28 11:47] vikiival commented on #2700
already fixed

[2022-03-28 11:50] prachi00 commented on #2700
@vikiival is it? I still see it happening and gave figured out the fix though

[2022-03-28 11:51] prachi00 commented on #2700
its because of a default boolean check added recently, should be a minor fix

[2022-03-28 11:53] #2700 closed

[2022-03-28 11:56] vikiival commented on #2700
check #2701

[2022-03-28 11:57] vikiival commented on #2699
Nice was looking for that
Closing in favour of #1492

[2022-03-28 11:57] #2699 closed

[2022-03-28 12:04] XyloDrone commented on #2650
Thanks @vikiival :D
@roiLeo any chance you can take this up from Viki once he has written the resolver :DDD Pretty please 👯
Or if there is someone else more suitable for such a quest feel free to reccommend them :3

[2022-03-28 12:09] yangwao commented on #2656
ah, I guess let's close it in favour https://github.com/kodadot/nft-gallery/pull/2698

it was meant I guess it's that picture on NFT item detail was moving or using mobile gyroscope so it was changing dimension while being bit interactive

we can remove that gyroscope effect until someone would like to keep it.

[2022-03-28 12:13] XyloDrone commented on #744
Hmm, is this an issue or is it troublesome? Because I'm thinking some people wouldn't like their feeds public. For an eg. imagine someone's twitter feed was public, I don't think everyone wants that out there. :D Might be a bit nicer to give people the option to choose if it is possible :D

[2022-03-28 12:23] Jarsen136 commented on #2650
Hi, I am willing to take it if you can help to write the resolver. @vikiival

[2022-03-28 12:30] XyloDrone commented on #825
Hmm, maybe this is a number that can be on top of an artist profile? <---LMK and will add to design.

Side note: I do feel like this might have some negative connotations(like competition)

[2022-03-28 12:36] XyloDrone commented on #2629
Coolio :3

[2022-03-28 12:40] vikiival commented on #1367
So the correct answer for this issue is:

1. Rework query from SubQuery to Subsquid (made for you)
**PLEASE NOTE THAT THIS NEW QUERY HAS TO GO UNDER `queries/rmrk/subsquid` directory.

[code]

2. change client from SubQuery to SubSquid
in `ProfileDetail.vue` **line 318** change the value to `subsquid`
3. updated `handleCollectionResult` accordingly

I heard @Jarsen136 wanted to pick that up :)

[2022-03-28 12:41] vikiival commented on #2650
@XyloDrone with the help of SubSquid Guys we found a workaround

the whole setup is here https://github.com/kodadot/nft-gallery/issues/1367#issuecomment-1080601293

[2022-03-28 12:46] Jarsen136 commented on #1367
Well, I will have a try later!

[2022-03-28 13:31] XyloDrone opened #2703 "Be descriptive and short"
### Is your feature request related to a problem?

In the previous meta hours call a user has pointed out that besides a passion feed, they would love to pimp their profiles. I think besides having nfts, collections + bought/sold it would be nice to have a "home" on a creator/s collectors profile. Within this section the user can display what they wish (pinned nfts, collections or charts).

### De

[2022-03-28 14:57] Jarsen136 commented on #1367
this Subsquid seem not works well as it return all collections including the one with consumed nfts.
I think we need to do some change on `nfts_some: {}`
Could you give me some help? @vikiival

I test it on the account: /rmrk/u/JHMAL5CyvxWc3Ud42QxRUTpSnUa4m56mRSzPK69d1TU8NG7?tab=collection
request payload:
<img width="791" alt="image" src="https://user-images.githubusercontent.com/31397967/1604259

[2022-03-28 16:12] vikiival commented on #1367
Good catch!

[code]

[2022-03-28 17:15] vikiival opened #2704 "SEO should return chain logo?"
As we would have new reptile chain it would be maybe nice to show chain logo along with kodadot logo?

[2022-03-29 00:38] Jarsen136 commented on #2666
Hello! @prachi00
Do you still work on this issue? If not, I would like to take it~

[2022-03-29 07:26] prachi00 commented on #2666
@Jarsen136 sure you can take this one

[2022-03-29 07:28] Jarsen136 commented on #2666
Thanks a lot! @prachi00

[2022-03-29 08:03] jkdizajn commented on #2002
I'm not sure, but I think it already works

[2022-03-29 10:48] yangwao commented on #2002
perfect!

[2022-03-29 10:48] #2002 closed

[2022-03-29 10:50] yangwao commented on #2704
if you mean og:image I guess too much noise on that small card, except kodadot logo which already taking quite space on art already

[2022-03-29 12:11] yangwao opened #2706 "Identity form fails to set identity"
Wanted to set identity for the payout bot but our identity dialogue has failed

Address seems have do balance 9+ ksm.
https://kusama.subscan.io/account/G29NScLSew5zqwmJAPupvJWDCDkpxKUhDnMeVdD2BBcnHar

![image](https://user-images.githubusercontent.com/5887929/160608100-8112e213-b7d0-4ec7-9c5e-f6341c45da86.png)

[code]

[code]

[2022-03-29 12:33] yangwao opened #2707 "Add tab named Holders to collections to show owned assets by particular holders"
We would like to see in the collection that the owner has which NFTs.

It would work we can list owners as a table and on click, it would show custom detailed rows
- headers would be
  - owner / nft name
  - Bought - price bought for (BUY to user)
  - Sale - price selling for (LIST),
  - Date (relative with a tooltip with exact one)
- link NFT name to particular nft item detail
- link date to tran

[2022-03-29 12:36] vikiival commented on #2704
K resolved

[2022-03-29 12:36] #2704 closed

[2022-03-29 12:50] yangwao commented on #2359
Needs https://github.com/kodadot/rubick/milestone/1 to be up and it's ready to hack-on, if someone want's help on this!

[2022-03-29 19:10] yangwao opened #2708 "Show default 50 series in series insights"
Some folks miss that's you can change amount of showing series.

![Screenshot_2022-03-29-21-09-03-98_40deb401b9ffe8e1df2f1cc5ba480b12.jpg](https://user-images.githubusercontent.com/5887929/160688764-bbfd8c91-0d5d-4bf9-b431-a6b6fa411c79.jpg)

[2022-03-29 19:14] prachi00 commented on #2708
@yangwao ill do this

[2022-03-30 07:08] roiLeo opened #2710 "Bug on 3D assets"
### What happened?

A bug happened! Maybe it could be cache related

### Please reproduce in steps

Tested on `/rmrk/gallery/11105476-7cf9daa38281a57331-BSS-LB_SPACESHIP_363-0000000000000363`

### Expected Behavior

I've expected to see good data infos (in navbar too)

### What browsers are you seeing the problem on?

Firefox

### Screenshots

#### beta.kodadot.xyz
![Screenshot 2022-03-30 at 08-55

[2022-03-30 07:17] Jarsen136 commented on #2710
Hi,I will check it.

[2022-03-30 08:47] preschian commented on #1492
two submissions from me:

## Upptime
Repo: https://github.com/preschian/kodadot-status
URL: https://preschian.github.io/kodadot-status/

Pros:
- free, open source

Cons:
- minimum 5 minutes interval (limitation from github actions)

## Better Uptime
URL: https://kodadot.betteruptime.com/

Pros:
- can integrated with infrastructure monitoring (datadog, grafana, prometheus)

Cons:
- free version onl

[2022-03-30 11:58] #2710 closed

[2022-03-30 12:08] prachi00 opened #2712 "Some setting in the preferences do not make any change on UI"
### What happened?

All the options in search preferences not working for me

### Please reproduce in steps

https://user-images.githubusercontent.com/39299315/160831069-3d111055-29e0-4551-b232-61c38742530f.mov

### Expected Behavior

 Even though `yolo` is on, it isnt showing up in buttons, happening for all the other options as well

### What browsers are you seeing the problem on?

Chrome

###

[2022-03-30 12:13] prachi00 commented on #2712
@vikiival its not just yolo, its happening for all the other preference option as well

[2022-03-30 12:18] vikiival commented on #2712
Hey,
thanks for opening the issue.
I went through some settings and some does not work:

- Fold history ...
- Fold description ..
-

[2022-03-30 12:18] vikiival commented on #2712
The 'YOLO' is applicable for the 'BUY NOW' (in filter)

[2022-03-30 12:23] prachi00 commented on #2712
yeah I am currently checking why its happening

[2022-03-30 13:38] Jarsen136 commented on #2707
I will do this.

[2022-03-30 15:44] vikiival opened #2714 "Create KodaBot account for Github"

[2022-03-30 15:51] vikiival opened #2715 "GraphQL tutorial"
Idea is to create a video tutorial to demonstate how to write queries for both SubSquid and SubQuery :)

[2022-03-30 16:04] #1367 closed

[2022-03-30 18:14] thea-exe commented on #2283
Would the article literally show the result of doing a shortcut?

[2022-03-31 01:34] Jarsen136 commented on #2707
@yangwao  There are some details that need to be made clear：
1. I wonder which date should be shown.  purchase date 、 list date 、 send date and mint date.  Or the last update date?
2. Which transaction should be linked ?  It is similar to the previous question.

[2022-03-31 08:59] vikiival commented on #2692
Wow 💯, nicely written!

[2022-03-31 09:34] preschian commented on #2715
Woah, this is great. cant wait for this one

some questions:
- what is the difference between subsquid and subquery
- why do we use both of them?

[2022-03-31 09:34] preschian commented on #990
Hi, I will try this one

[2022-03-31 09:39] kkukelka commented on #2675
I actually removed this in https://github.com/kodadot/nft-gallery/pull/2677

[2022-03-31 09:39] #2675 closed

[2022-03-31 11:43] yangwao commented on #2690
Putting p5 as major release nuxt/vite by all hands call will be in June so it's not a hurry nor we are not gaining any edge having it.

[2022-03-31 11:45] yangwao commented on #2081
Once is done
- #2692
Ref
- #2690

[2022-03-31 12:05] yangwao commented on #2283
Yes, with videos including. You can go on, we are publishing on https://medium.com/kodadot writings

[2022-03-31 13:01] thea-exe commented on #2283
Understood! By video, do you mean a whole YouTube video or can I show gifs
of each shortcut in the article?

On Thu, Mar 31, 2022 at 8:06 AM Matej yangwao ***@***.***>
wrote:

[2022-03-31 13:10] yangwao opened #2719 "Unification explorer + collections into one"
Based on the discussion from #2511

For the sake and easier maintenance would be superior nice to have merged explorer and collections, so we don't need to maintain these two components as extra. It would simplify architecture in @petersopko words, which I can agree, keep it simple stupid.

The flow would look like when a user searches for "something" it can drive it to tabs, where the first highl

[2022-03-31 13:10] yangwao commented on #2261
Will be resolved in https://github.com/kodadot/nft-gallery/issues/2719

[2022-03-31 13:10] #2261 closed

[2022-03-31 13:12] yangwao commented on #2650
Added one we talked with @petersopko that merging collections under explorer together is easier for further maintenance which I really agree on https://github.com/kodadot/nft-gallery/issues/2719 if someone wants to take on that!

[2022-03-31 13:18] yangwao commented on #2630
I would ask a dumb question, it would be possible to request access right now by clicking to connect?

[2022-03-31 13:21] Jarsen136 commented on #2707
Hi @yangwao , I need your opinion so that I can continue 👀

[2022-03-31 13:22] yangwao commented on #2283
I mean demonstrating the whole youtube video would be the greatest and @cryptodamsky can arrange to push it to our youtube channel.

Gifs would be good in partial per section to demonstrate in an article.

[2022-03-31 13:29] yangwao commented on #2707
The last activity makes sense, plus you can link on each amount list and bought dates on hover as well, hence we have that information.

- for Bought - last BUY transaction with owner in query
- for Sale - last LIST from owner

- probably no, want to show potentially valuable assets only. Once consumed, NFT is burned literally.

Oh good questions, I haven't realized.

[2022-03-31 13:29] yangwao commented on #2283
yup, that would be nice! In English I guess?

[2022-03-31 13:31] thea-exe commented on #2283
Yes! The on-screen text will just show what short-cut I’m using :D

On Thu, Mar 31, 2022 at 9:30 AM Matej yangwao ***@***.***>
wrote:

[2022-03-31 13:35] vikiival commented on #2715
I will cover that in the tutorial :)

In the past, we were relying only on the SubQuery (therefore 80% of the queries are for SQ) but once the indexer was stuck, users were unable to use KodaDot. Therefore we implemented an alternative SubSquid (SSQ) to avoid #762

[2022-03-31 13:36] roiLeo commented on #2630
On #2628 I've managed to ask access on start if it's a mobile app, but i didn't succeed to get acces to user's accounts

[2022-03-31 13:37] vikiival opened #2721 "SubSquid tutorial"
Similarly to #2715 It would be nice to have tutorial where devs can learn how to extend the rubick service

[2022-03-31 14:04] yangwao commented on #2013
- pulling auction data
- make offer data from BSX would be nice

[2022-03-31 14:16] yangwao commented on #2707
oh maybe you misread, *last* event for LIST and BUY where is the owner and date column with last activity event

Yes, looking forward for PR

[2022-03-31 14:20] Jarsen136 commented on #2707
Oh, I see. It does make sense!

[2022-03-31 14:24] vikiival commented on #2013
auction not implemented

Marked in https://github.com/vikiival/kodapi/issues/4 sir

[2022-03-31 15:55] onerawartist opened #2723 "profile Tabs not working properly sometimes"
### What happened?

when i login to my account then visit my profile i get this:
.
![01](https://user-images.githubusercontent.com/71472224/161096969-9c56ddee-451a-4e67-afa9-8e1b3c047780.jpg)

 its only showing the collected tab

 when i refresh the page sometime i get this:
.
![02](https://user-images.githubusercontent.com/71472224/161097170-98154ef9-7f92-4960-8ae1-4a346a644c20.jpg)

it still say

[2022-03-31 15:57] XyloDrone commented on #2650
@yangwao @petersopko  I couldn't properly understand this, merging collections how? :D

[2022-03-31 16:01] Jarsen136 commented on #2723
I will check it!

[2022-03-31 16:19] preschian commented on #1231
hello @XyloDrone , can you elaborate more about this.
is the feature different from currently running?
<img width="1624" alt="Screen Shot 2022-03-31 at 11 16 54 PM" src="https://user-images.githubusercontent.com/734428/161102481-e716ff39-7188-44ec-baec-d341be2a4722.png">

[2022-03-31 16:49] XyloDrone commented on #1231
Well spotted I think this has been resolved. @yangwao shall we close the issue?

[2022-03-31 16:56] yangwao commented on #1231
yes, closing as meanwhile we have it, we will be doing unification explorer+collections
#2719

[2022-03-31 16:56] #1231 closed

[2022-03-31 17:05] yangwao commented on #2723
notice you are using prefix `nft.`, have you tried log in on https://beta.kodadot.xyz if there is happening the same?

I've opened your profile and works well https://kodadot.xyz/rmrk/u/JHMAL5CyvxWc3Ud42QxRUTpSnUa4m56mRSzPK69d1TU8NG7

![image](https://user-images.githubusercontent.com/5887929/161110918-3b13d607-c2d1-406a-b67b-d5ff466a5c3b.png)

I can't reproduce even on mine

https://kodadot.xyz/r

[2022-03-31 17:09] onerawartist commented on #2723
same thing happened of beta

https://beta.kodadot.xyz/rmrk/u/JHMAL5CyvxWc3Ud42QxRUTpSnUa4m56mRSzPK69d1TU8NG7?tab=collected

![04](https://user-images.githubusercontent.com/71472224/161111630-df68cf01-7562-450d-acce-b7f9edcf87b9.jpg)

[2022-03-31 17:31] onerawartist commented on #1231
can't*

[2022-03-31 17:40] yangwao commented on #2723
I see your profile is somehow special?

but when I removed `?tab=collected` and opened it one more time it is ok!
Strange.

![image](https://user-images.githubusercontent.com/5887929/161116651-d9419694-d080-4745-aacd-3bf15c4fae78.png)

[2022-04-01 05:59] preschian commented on #1305
Hi, I will try this one by adding sort by serial number

[2022-04-01 06:33] roiLeo commented on #1231
What did you have in mind? a new screen? or from the search bar?

[2022-04-01 07:43] prachi00 commented on #2712
@vikiival unable to figure out the reason, not even sure when this got introduced, any idea?

[2022-04-01 07:58] prachi00 commented on #2712
Also I have noticed it works fine if you are on the same tab, issue occurs only with 2 different tabs, is this expected?

[2022-04-01 08:27] vikiival opened #2729 "Add best practices to Contributing"
To increase a code readability and reusability of the components, it would be super nice to create a code guide related to:
- naming
- folder structure
- reusability

[2022-04-01 08:38] vikiival commented on #2650
Looks like it was closed in favour of #2719

[2022-04-01 08:40] kkukelka commented on #2729
I would like to set that one up :)

[2022-04-01 08:44] vikiival commented on #2712
Hey, not sure what `this` means in the context. Could you clarify please 🥺

[2022-04-01 09:14] prachi00 commented on #2712
I meant how long ago it started happening

[2022-04-01 09:29] yangwao commented on #2490
Do you know which one resolved this? As don't see which issues is linked 🤔💭

[2022-04-01 09:32] vikiival commented on #2729
Rise and shine 🌞

[2022-04-01 09:48] vikiival opened #2730 "Review bot"
### Is your feature request related to a problem?

Sometimes it happens that PRs are open without any requested reviewer

### Describe the solution you would like

I would like to see some sort of bot or github action that will asign randomly (pseudo-random, or based on some metric).

It just need to check that PR author != requested reviewer

### Describe alternatives you have considered

The alt

[2022-04-01 10:11] prachi00 commented on #2730
@vikiival
https://docs.github.com/en/organizations/organizing-members-into-teams/managing-code-review-settings-for-your-team#about-auto-assignment
wouldnt something like this work?

[2022-04-01 10:27] yangwao commented on #2730
you are sweet! I remembered that I've seen it somewhere already as native but could not find it lol 🫣😅

Thank you will look on it!

[2022-04-01 10:28] vikiival commented on #2729
https://v2.vuejs.org/v2/guide/class-and-style.html

[2022-04-01 10:34] #2399 closed

[2022-04-01 10:41] #2494 closed

[2022-04-01 10:47] vikiival commented on #2666
from @Jarsen136

Seem that the distance to AR model could not be set.

ref: https://github.com/google/model-viewer/discussions/1938#discussioncomment-300556
official docs: https://modelviewer.dev/examples/augmentedreality/#ar

[2022-04-01 11:04] yangwao opened #2731 "Change payout address to reward me in transfer"
In transfer dialkog, kodadot.xyz/transfer/

- We rename "Copy Payout Address" to "Copy Reward Me link",
- Show Copy Reward Me link without need adding amount

the payout might get lost in translation and to ease the process we should be showing it despite the need to enter an amount to make it easier for first-time devs.

Once this is done, #2717 can be updated accordingly

_Originally posted by @

[2022-04-01 11:06] prachi00 commented on #2731
@yangwao I'll do this

[2022-04-01 11:14] vikiival commented on #2729
<img width="426" alt="Screenshot 2022-04-01 at 13 13 24" src="https://user-images.githubusercontent.com/22471030/161252755-faae0999-4459-4364-9166-e89a3abde56d.png">

[2022-04-01 11:17] yangwao commented on #2730
Let's go with round robin and then let's see!

[2022-04-01 11:19] yangwao commented on #2730
okay it's up https://github.com/orgs/kodadot/teams/code-review-guild/members just wait to accept invites :)

[2022-04-01 11:23] vikiival commented on #2730
Perfect!

[2022-04-01 11:47] yangwao opened #2735 "Show user Twitter on hover card"
Whenever it's available, show Twitter on a hovercard

Like [eiffel] seems got identity and Twitter set

![image](https://user-images.githubusercontent.com/5887929/161257345-9b1ab121-0ad2-4024-be09-6f4cb8ff7d32.png)

https://deploy-preview-2724--koda-nuxt.netlify.app/rmrk/u/H6fSwoEZ8n3i6tPLBmCewPyes7B5Q6sG5YQiGNxWPs86AFi?tab=collected
![image](https://user-images.githubusercontent.com/5887929/16125

[2022-04-01 11:48] prachi00 commented on #2735
@yangwao on this!

[2022-04-01 12:04] XyloDrone commented on #1231
Just from the search bar. Seems like collections and NFTs are easily searchable, just missing artists :D.

[2022-04-01 12:08] #2731 closed

[2022-04-01 12:12] yangwao commented on #2730
maybe now as probably need add this team

[2022-04-01 12:23] XyloDrone commented on #2650
I'd say these are 2 different matters.
#1231 is the search engine; there will probably be users which know what they are looking for(nft/collection/artist) and they will want to easily find these... still missing easy search for artists... @roiLeo , u wanna grab it as you were commenting there? :DDD

Whilst #2719 is about browsing through artists/nfts/collections...seems like @prachi00 is on it :D

[2022-04-01 12:26] yangwao commented on #1231
i'm pretty sure we talked w @vikiival about indexing artist, maybe we just forgot to put into issue lol, searching for it

[2022-04-01 12:28] yangwao commented on #1231
<img src="https://media1.giphy.com/media/lVhFOxFmaJezm/giphy.gif"/>

it was creators, not artists that's why :D
adding issue SEO
https://github.com/kodadot/nft-gallery/issues/2112

[2022-04-01 12:28] yangwao commented on #1231
Also want to highlight we have that issue
- #1562 which focuses on search stuff

[2022-04-01 12:30] yangwao commented on #2650
Highlighting Search of meaning which sort of underlying functionality would benefit explorer expansion and search!
Like literally family package 2in1 for a discounted price.
- https://github.com/kodadot/nft-gallery/issues/1562

[2022-04-01 12:31] XyloDrone commented on #1231
Sweet, cheers!

[2022-04-01 12:41] Jarsen136 commented on #2650
I have some ideas to `address (shareable URL) where are "you" in "feed"` without pagination.
Ok, I will have a try.

[2022-04-01 12:44] Jarsen136 commented on #1582
as https://github.com/kodadot/nft-gallery/issues/2650#issuecomment-1085850592
I will have a try.

[2022-04-01 12:50] preschian commented on #2650
Jarsen so cool 🚀

[2022-04-01 14:06] vikiival commented on #1231
Yup it's tracked in rubick and magick
https://github.com/kodadot/rubick/issues/31

https://github.com/vikiival/magick/issues/19

[2022-04-01 14:21] #1305 closed

[2022-04-01 14:28] vikiival opened #2738 "Hunting the burned once"
### What happened?

Viki was like: let me try Darshana's PR on this fish

<img width="1680" alt="Screenshot 2022-04-01 at 16 25 47" src="https://user-images.githubusercontent.com/22471030/161283359-48dfcbc0-e2c9-451f-a2bc-b4babdef673f.png">

Fish is burned
<img width="1680" alt="Screenshot 2022-04-01 at 16 25 37" src="https://user-images.githubusercontent.com/22471030/161283447-5a6c88b0-91df-400e-

[2022-04-01 14:31] prachi00 commented on #2738
@vikiival I'll check this

[2022-04-01 14:42] yangwao opened #2739 "Holdings by User"
Seems KodaDot NFT marketplace is getting popular and taking lead in the best analytics, we would like to help users better scope on users activity.

In a similar manner, we have right now merging #2707  #2724 would be superior bringing a similar view with expanding custom rows and adding another tab "Holdings".
It would show a table.
- Headers would be the name of Collection, Amount, Bought, Sale,

[2022-04-01 14:53] Jarsen136 commented on #2739
I will do this 😄

[2022-04-01 15:35] magrisya commented on #2490
I don't understand who solved this, because I can't read coding,
it's clearly something to do with the keyboard 😅

https://kodadot.xyz/transfer/?target=GF4v68qJmh47eShYNpPs5JNfn5bxG5Kz1U2Y4xC2xAqXqmq 😅

[2022-04-01 15:37] magrisya commented on #2494
Priority 2 and bug label @yangwao

https://kodadot.xyz/transfer/?target=GF4v68qJmh47eShYNpPs5JNfn5bxG5Kz1U2Y4xC2xAqXqmq

[2022-04-01 16:57] yangwao opened #2741 "Implement sorting by date under address"
Implementing sorting by date under address could be interesting

sort them by last bought (date)?

https://user-images.githubusercontent.com/31397967/161295939-684a00a5-096a-480c-8de7-5308c6b9d643.png

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2724#issuecomment-1086136418_

[2022-04-01 16:59] #2707 closed

[2022-04-01 17:13] Jarsen136 commented on #2741
I will take it.

[2022-04-02 04:52] shixin-guo commented on #1928
@yangwao  already supports this feature,

[2022-04-02 06:39] preschian commented on #1285
Hi @yangwao @roiLeo, what is the status of this issue? Can I continue on this? does something block there?

[2022-04-02 06:59] preschian opened #2743 "GraphQL CDN"
### Is your feature request related to a problem?

1. Response time in some queries is relatively high. For example in subquery - gallery took `~700ms` for the response time <img width="764" alt="Screen Shot 2022-04-02 at 1 50 32 PM" src="https://user-images.githubusercontent.com/734428/161370951-a3f522fa-abd5-42eb-bc21-1a745b2dbbe1.png">

2. Several days ago query `rubick/005 - collectionCuratedL

[2022-04-02 08:38] yangwao opened #2744 "Mobile container 🫙 is broken on mobile again 😬"
Found container 🫙 is broken on mobile again 😬 and it's moving, but I guess we can postpone it to another following issue.

https://user-images.githubusercontent.com/5887929/161374871-2edd68c8-ee2e-4395-833a-a5359da66682.mp4

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/pull/2722#issuecomment-1086590712_

[2022-04-02 08:39] #990 closed

[2022-04-02 08:40] #2697 closed

[2022-04-02 08:41] prachi00 commented on #2744
I'll check this

[2022-04-02 08:42] #2656 closed

[2022-04-02 08:54] #2735 closed

[2022-04-02 10:13] yangwao opened #2745 "Follow up on collection stats with max buy"
Follow up issue
- change "purchases" -> "buys", it's shorter
- add translations
- plus fix horizontal alignment
![image](https://user-images.githubusercontent.com/5887929/161378424-fbf18244-c5ba-4ac2-8aa0-8165a3bec519.png)

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/2556#issuecomment-1086607752_

[2022-04-02 10:13] #2330 closed

[2022-04-02 10:14] Jarsen136 commented on #2745
I will do this.

[2022-04-02 10:20] yangwao opened #2746 "Redesign collection advanced stats"
Hence we are the aspiring leading platform for analytics on RMRK, we are looking way to simplify ways to show collections stats and insights

Right now we added some which are important basic rules of thumb to detect if wash trading occurred if the collection has organic growth or velocity of adoption per collection for future collectors.

I'm opening the discussion to bit simplify without droppin

[2022-04-02 10:23] Jarsen136 commented on #2745
I'm not sure what 'add translations' means. Does It mean that I need to add the English translation key in `en.json` . Other languages ​​don't need it, right?

[2022-04-02 10:24] prachi00 commented on #2746
@yangwao I'll see what we can dooo

[2022-04-02 10:24] prachi00 commented on #2745
Yes @Jarsen136 add in en.json thats it

[2022-04-02 10:29] Jarsen136 commented on #2745
Thanks. I Got it!

[2022-04-02 10:32] yangwao commented on #2746
yes, it's open for discussion to see for example how other platforms are showing it :)

[2022-04-02 10:34] prachi00 commented on #2746
Yes Ill do some research and post the links here

[2022-04-02 10:38] yangwao commented on #1285
I guess you can hand over @roiLeo PR in draft #2492  and let's go! :)

[2022-04-02 10:43] #2741 closed

[2022-04-02 10:55] yangwao opened #2747 "Seems newest list from landing is gone"
[code]

![image](https://user-images.githubusercontent.com/5887929/161380022-1a9c91c2-2be8-460a-87ca-70d3a04fcbcf.png)

[2022-04-02 10:56] Jarsen136 commented on #2747
I will check it

[2022-04-02 10:57] yangwao commented on #2490
payout sent https://kusama.subscan.io/extrinsic/12076261-7

[2022-04-02 10:57] #2490 closed

[2022-04-02 11:17] preschian commented on #2747
strange, seems fixed for now? Does something change from the server-side?

[2022-04-02 11:29] Jarsen136 commented on #2747
It seems work well now. I think that maybe back-end interface just now is not stable.

[2022-04-02 11:37] yangwao commented on #2747
Some nft from that list wasn't properly handled I bet https://kodadot.xyz/rmrk/gallery?search=&sort=UPDATED_AT_DESC&page=1

naturally people are listing new nft so hard to see what was making issue :)

[2022-04-02 11:40] Jarsen136 commented on #2747
Oh I see. I will try to reproduce it.

[2022-04-02 11:58] yangwao commented on #2747
Yeah hence it isn't occurring lowering priority, if we don't solve it happy to close it and snipping if it happen again lol 😅

[2022-04-02 12:11] Jarsen136 commented on #2747
Don't worry. I have caught the error. Give me some time to fix it  🚶

<img width="717" alt="image" src="https://user-images.githubusercontent.com/31397967/161382472-cd5d026e-15df-4712-9b79-293c7c0594c5.png">

[2022-04-02 12:14] preschian commented on #2747
woaah, the meta = null

[2022-04-02 15:50] yangwao commented on #2747
Seems you're a new superior bug hunter 🤟🤘 engineering

[2022-04-03 10:51] yangwao opened #2752 "Contest for more fun facts to Kodadot"
Would be nice to add more fun facts, like another 50 to our loader
The goal would be to educate folks about Dotsama + Kusama ecosystem
We can do a raffle as well tho!

Topics including
- dotsama
- Kusama history
- web3 history
- history of NFTs
- thrilling rug facts about NFTs

Topics to avoid
- we would like to avoid unverified gossip which isn't disclosed by a person publically who might find it

[2022-04-03 11:08] yangwao opened #2753 "Rework tabs in user profile"
I guess with upcoming bug tackling in
- #2725
- #2751

Seems some tabs can't be seen if the address they did not create NFTs and see for example collections.
This issue is for someone to help to refactor how profile tabs are appearing based on users' holding.

For example, at Shawns Lin I try opened https://deploy-preview-2751--koda-nuxt.netlify.app/rmrk/u/FXUxw9Xp98gTzrU2z63D2G92kcx1oznd6xYa8WdqR

[2022-04-03 11:10] #2723 closed

[2022-04-03 11:10] prachi00 commented on #2753
@yangwao I'll see what I can do

[2022-04-03 11:11] yangwao commented on #2723
hey @onerawartist can you test on https://beta.kodadot.xyz like in a few minutes from now, 13:10 like at 13:20? and let me know if still happening!

[2022-04-03 11:13] yangwao commented on #2753
merged #2725 into #2751 so let me see if it is fixed , but even though I see someone could refactor it if not.

[2022-04-03 11:14] prachi00 commented on #2746
https://rarible.com/azuki/items

maybe something like this, clean with borders?

[2022-04-03 11:16] prachi00 commented on #2746
https://opensea.io/collection/0xmons-xyz

they have a simple one too with simplified texts and borders

[2022-04-03 12:09] yangwao opened #2754 "Add to randomness endpoints to our api"
we would need to have verified randomness in our API for future games and builders
tho to do it we would need add few handful endpoints

- drandr -- https://drand.love/about/
- cryptosat (have connection there)
- grandpababe (we already have it somewhere in kodadot, so abstract it to api

[2022-04-03 12:21] KngZhi commented on #2195
I'll check this.

[2022-04-03 18:31] prachi00 commented on #2744
@yangwao is this still happening for you? not happening for me

[2022-04-03 20:34] ltfschoen opened #2756 "App does not list user's collections in create/admin"
I helped someone I know who is an artist / graphic designer setup a Kusama account that has the following public key SS58 address on Kusama network D7xZ4QxGmtim6CP1XKxpFhbaCbuUJLg6TCPmTuFwk34a47S for a friend who is an artist / graphic designer and they added some KSM to pay transaction fees.

They then **successfully** created a collection at kodadot.xyz by using the menu "Create > Classic > Coll

[2022-04-03 20:36] vikiival commented on #1285
It is possible to do it a hacky way.

However this would dramatically speed up the dashboard
https://github.com/kodadot/rubick/issues/40

[2022-04-03 22:39] hueeeeee opened #2757 "collection minted without description"
### What happened?

the collection description that I entered did not get posted, collection has no text under header image

### Please reproduce in steps

clicked on Create > Classic > Collection, uploaded image, entered Symbol, filled out Collection Description, created collection and verified tx in Talisman.

### Expected Behavior

a short paragraph would be posted underneath the collection hea

[2022-04-03 23:16] magrisya commented on #2494
Priority 2 and bug label @yangwao

https://kodadot.xyz/transfer/?target=GF4v68qJmh47eShYNpPs5JNfn5bxG5Kz1U2Y4xC2xAqXqmq

[2022-04-04 09:15] yangwao commented on #2494
https://kusama.subscan.io/extrinsic/0x22803d613b1a7d0fd0bba7c6b09b56842444ea977089756ea60ca35745aab4ea

payment sent ;)

[2022-04-04 09:21] yangwao opened #2759 "Social previews og:image work on beta, but not at production"
It's quite weird as we should have almost the same deployment :)
Maybe services processing this kind of stuff are down bad?

https://beta.kodadot.xyz/rmrk/gallery/12018704-900D19DC7D3C444E4C-KSMBOT-KUSAMA_BOT_100-0000000000000103
vs
https://kodadot.xyz/rmrk/gallery/12018704-900D19DC7D3C444E4C-KSMBOT-KUSAMA_BOT_100-0000000000000103

<img width="842" alt="image" src="https://user-images.githubuserco

[2022-04-04 09:28] yangwao commented on #2757
hey, thank you for your report.
It's hard to elaborate without a screenshot, address and best particular tx to go through stuff with you.
once you fill up at least two above, feel free re-open the issue.

[2022-04-04 09:28] #2757 closed

[2022-04-04 09:29] yangwao commented on #2744
on item is already fixed meanwhile on beta
on landing, it's there, you can move horizontaly.

[2022-04-04 09:45] vikiival commented on #2739
Just need to clarify a few things

I guess this is for price at which user obtained the NFT

The current list price?

[2022-04-04 09:49] Jarsen136 commented on #2739
Yup, you are right.
ref: https://github.com/kodadot/nft-gallery/issues/2707#issue-1184798294

[2022-04-04 10:13] vikiival commented on #2756
Thanks for the issue!

Both cases are using the same query, so the problem would be somewhere there.

It is also possible that subquery is timing out these requests

[2022-04-04 10:35] prachi00 commented on #2752
I got one

`Did you know that KodaDot will soon have its own token named Kodao?`

[2022-04-04 10:42] prachi00 commented on #2752
`Did you know that we arrange bi-weekly updates in KodaDot from contributors, developers and creators called Meta Hours?
`

[2022-04-04 10:48] prachi00 commented on #2719
<img width="219" alt="Screenshot 2022-04-04 at 4 18 36 PM" src="https://user-images.githubusercontent.com/39299315/161528751-14e5466d-cfed-4ef9-8a1a-ed12609ba685.png">

will we also merge these two and have it under only **Explore**?

[2022-04-04 10:58] yangwao commented on #2719
yes you are right

[2022-04-04 11:02] yangwao opened #2760 "Navbar breakpoints on 1037px"
Should be folding.. or we can think of hiding particular buttons based on importance?

Like hide button in a particular order
- Language
- Create
- Chain/protocol switch
- history
- stats
- profile

![image](https://user-images.githubusercontent.com/5887929/161530481-c865e013-dd61-4a35-b127-1bc26b6c7789.png)

[2022-04-04 11:03] Jarsen136 commented on #2760
I will do this

[2022-04-04 11:03] prachi00 commented on #2760
@yangwao will do this

[2022-04-04 11:17] yangwao commented on #2760
time to deploy #2448 @petersopko 🫣

![image](https://user-images.githubusercontent.com/5887929/161532898-887cf430-f58a-4a15-af9f-c840d3638288.png)

![image](https://user-images.githubusercontent.com/5887929/161532914-454c3583-c988-4afb-91ba-26104e7ec4bb.png)

[2022-04-04 11:19] prachi00 commented on #2760
lol just noticed this, @Jarsen136 you can take this one

[2022-04-04 11:36] kkukelka commented on #2759
@yangwao is beta running on netlify?

[2022-04-04 11:39] yangwao commented on #2730
oh, that's.. when team of reviewers is requested and then it's load balanced.

[2022-04-04 11:41] yangwao commented on #2730
hmm https://github.blog/changelog/2021-09-29-new-code-review-assignment-settings-and-team-filtering-improvements/

[2022-04-04 11:42] vikiival commented on #2730
<img width="338" alt="Screenshot 2022-04-04 at 13 40 46" src="https://user-images.githubusercontent.com/22471030/161536470-922f3e1b-902b-4701-abea-d36a70cd885f.png">

<img width="879" alt="Screenshot 2022-04-04 at 13 40 58" src="https://user-images.githubusercontent.com/22471030/161536478-c4113dea-47f5-4fec-8af7-2cd5936e12e7.png">

So we need still something like gh action which adds kodadot guild

[2022-04-04 11:43] yangwao commented on #2730
yeah technically speaking it does work...but requires trigger but on last link I posted should be working without it

[2022-04-04 11:44] vikiival commented on #2730
Worst case we will convince it :)

[2022-04-04 11:45] yangwao commented on #2730
atlesat i know it was paid service by pullpanda https://pullpanda.com/assigner that what's under hood by GH

[2022-04-04 11:55] yangwao commented on #2730
learning https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

[2022-04-04 11:59] vikiival commented on #2730
<img width="1652" alt="Screenshot 2022-04-04 at 13 58 49" src="https://user-images.githubusercontent.com/22471030/161539127-688cd685-f8e4-4ef8-9916-77364559bd88.png">

[2022-04-04 12:01] yangwao commented on #2730
oooh, maybe permissions were issues all time from start lol
![image](https://user-images.githubusercontent.com/5887929/161539413-2426f8a7-4fb3-4722-82d2-ecfa02c3e7b3.png)

[2022-04-04 12:01] yangwao commented on #2730
![image](https://user-images.githubusercontent.com/5887929/161539455-1348602c-1d52-4b18-a860-dda5ff09e628.png)

[2022-04-04 12:02] yangwao commented on #2730
yas
![image](https://user-images.githubusercontent.com/5887929/161539640-004e485a-3b7f-435d-97d0-81fb6c856493.png)

cherry on top
![image](https://user-images.githubusercontent.com/5887929/161539666-3bd7c327-616c-408c-a300-cfa6334fa73e.png)

[2022-04-04 12:02] #2730 closed

[2022-04-04 12:05] yangwao commented on #2759
yes. but I guess it's Vercel service which does this render, not Netlify.

[2022-04-04 12:11] vikiival commented on #2730
🍒 🍒 🍒 🍒 🍒 🍒

[2022-04-04 12:28] yangwao opened #2766 "Write article about tech stack of KodaDot"
Hence to ease onboarding for new contributors, would be nice to have a lightweight article on how KodaDot actually works in the background. How KodaDot is actually middleware and leveraging existing web3 infrastructure to drive end-user experience and how can anyone use us as a template to make spinoffs with existing components.

I would suggest mentioning
- subquery (vikiival/magick, kodadot/uniq

[2022-04-04 12:36] yangwao opened #2767 "Link from series insight to collection chart is broken"
Seems to need to be changed to a chart?

https://kodadot.xyz/rmrk/collection/2644199cf3652aaa78-KK01?tab=chart&locate=true

[2022-04-04 12:36] prachi00 commented on #2767
@yangwao i'll check this one

[2022-04-04 12:41] vikiival commented on #2766
Updated

[2022-04-04 12:50] kkukelka commented on #2766
I would be up for this! 🐹

[2022-04-04 12:51] yangwao commented on #2766
I was searching for Vue3 in update 🫣 🥹

[2022-04-04 14:46] yangwao commented on #2359
I was thinking of this for quite a long, would you be interested to take a look? @Jarsen136

[2022-04-04 16:51] vikiival commented on #333
Is this still retro?

[2022-04-04 16:53] yangwao commented on #333
I've found 🧩 of history.

![IMG20220404185122.jpg](https://user-images.githubusercontent.com/5887929/161593428-b0670280-2bfa-462e-a2e8-b943624beabb.jpg)

[2022-04-05 06:02] kkukelka commented on #2276
@cryptodamsky what's the latest status on this issue?

[2022-04-05 07:56] #2729 closed

[2022-04-05 08:16] preschian commented on #1285
I see, at first, I wanna use the `History` component, but seems complex. So I tried with create a new component instead with this query in graphql-subsquid
[code]

and then, filtering on javascript. this filter is for total sales, holders, and average prices
[code]

this is the result, still WIP

total sales | holders
--- | ---
<img width="2032" alt="Screen Shot 2022-04-05 at 3 11 30 PM" src="http

[2022-04-05 08:20] cryptodamsky commented on #2276
I've been talking with @yangwao yesterday, we've got fixed fee for minting but it isn't shown anywhere, and i don't know the values, so once i have this information we can put it to FAQ and exchange it for question number "5".

Would also put it straight under the calculator to the minting process, to be transparent on how much is charged.

[2022-04-05 08:21] #2767 closed

[2022-04-05 08:23] cryptodamsky commented on #2276
Regarding the fee changing on higher load, i'd leave that be, since we haven't suffered from this yet and probably won't for some time. Once it happens, we can try to explain the mechanics behind it somehow, but i don't think it's necessary to have it in FAQ. It's more of our issue than user's.

[2022-04-05 08:46] yangwao commented on #2276
Flat collection fee It's here #1967

[2022-04-05 09:04] kkukelka commented on #2276
Ah sweet. And NFT fee is also flat?

[2022-04-05 09:18] yangwao opened #2770 "Rework+Refactor the navbar code"
We should rework and refactor the navbar code in a much more sensible way and what's should be merged and exclude on different widths.

Hidding least popular buttons from first, hence we don't have any UX research I can only bet.
- language
- chain/protocol selector
- create
- history
- stats
- profile

With search bar should be flexible and fill up the rest space next to the buttons.

_Originally

[2022-04-05 09:18] #2760 closed

[2022-04-05 09:20] Jarsen136 commented on #2770
I will rework it later.

[2022-04-05 09:24] yangwao commented on #2448
Offtopic thoughts would be nice (optional) for v2 assign bot.
Bot would not assign higher priority issues, i.e. if we have p2 issues, some pool of issues which is significantly bigger than p3+, would not assign for p3+ or make it as a lower bound paid out issue, not sure how to handle this most efficiency.

I get that some p3 are easily solvable, but if projects would have ton of p2 open and peopl

[2022-04-05 09:40] yangwao commented on #452
I guess, hence we have https://docs.kodadot.xyz I would probably remove this page?
It's not even linked in landing anyway

📟  @cryptodamsky

[2022-04-05 09:42] yangwao commented on #152
I guess we fairly got this covered in https://docs.kodadot.xyz ? :)
If so, we can close this
📟 @cryptodamsky

[2022-04-05 09:47] yangwao commented on #474
![image](https://user-images.githubusercontent.com/5887929/161727214-f9d2cbee-ff26-41ae-a690-c7fb165f7077.png)

![image](https://user-images.githubusercontent.com/5887929/161727302-ac1f9001-3dc1-4de4-8301-7dcd132dd120.png)

Seems how we load landing page impacted performance a lot.

[2022-04-05 09:48] #152 closed

[2022-04-05 09:55] yangwao commented on #1928
oh that's nice! so can you adjust our workflow in `diagram.yml` ? :)

[2022-04-05 10:06] yangwao commented on #2696
Once there is no change to code, `generate` is superior fast and the same for `pnpm` seems take ~ 21s

https://app.netlify.com/sites/koda-nuxt/deploys/624add20a8ca7a0009fa4ae3

I guess with #2692 we could speed up stuff and cut times, hence nuxt-bridge did not introduce a significant boost to build times, just a compatibility layer.

Even that, I'm super happy that Github actions are superior fast

[2022-04-05 10:14] yangwao commented on #2514
We will have a workshop on how to write queries into KodaDot this Thursday 7/4 5pm UTC+2, it will be also recorded
https://discord.com/events/840514076538830888/960568698593222717

Hey @zhengow we are checking on this and most likely we will refund you 1.5KSM back as seems some weird glitch happened. If you could elaborate on what you've been doing? I know it's a month ago just happy to nail down

[2022-04-05 10:33] yangwao opened #2771 "Bug in hover card "minting ago""
I sense on the holder's tab we have a bug on hovercard about minting time or activity.

How is it's calculated right now?

Hence when I click on the profile I don't see any mints https://kodadot.xyz/rmrk/u/5E7GyFap8TgQYhbKZ65XVRk4BjY37YWQGdmrSXrhzeqoFs2S?tab=collected

![image](https://user-images.githubusercontent.com/5887929/161734666-2bf2116a-477e-4e53-b37f-6825ead2c759.png)

i.e I'm checking i

[2022-04-05 10:35] prachi00 commented on #2771
I'll check this

[2022-04-05 10:55] yangwao commented on #2290
yeah that also works but the goal of the filter would be easier to manage nfts from particular collections for owner, if they want to change price/burn/send it

[2022-04-05 11:15] Jarsen136 commented on #2290
So do prefer to add a switch button to filter the nfts owned by user, like the "Buy Now" button ? @yangwao

Seems to take up a bit of space : )
<img width="342" alt="image" src="https://user-images.githubusercontent.com/31397967/161741155-b4d9b86a-fc39-47c0-a686-bea5f2b1ba7e.png">

 I'm not sure what else we could do about this issue 👀

[2022-04-05 12:47] roiLeo opened #2772 "Mobile menu is overlapping"
Searchbar width is breaking on iPhone 12
<img width="450" alt="Capture d’écran 2022-04-05 à 2 12 24 PM" src="https://user-images.githubusercontent.com/9987732/161751084-9727c9a1-4357-4131-ab98-6d3528b8021c.png">
We can delete the small gap in navbar item button (left margin) because it is not present on the right.
History button could be move outside burger menu.
I would also put the connect but

[2022-04-05 13:45] Jarsen136 commented on #2772
I will take it.

[2022-04-05 14:13] XyloDrone commented on #2650
GM @Jarsen136 any updates on the infinity scroll issue(s) :D

[2022-04-05 14:21] Jarsen136 commented on #2650
GM. This issue seems a little bit complex. I will try to make a demo of the collection page in the next two days. : )

[2022-04-05 14:29] yangwao opened #2774 "Extended number of items from collection at item"
Let's extend the number of showing items from the collection to 20 at item view.

![image](https://user-images.githubusercontent.com/5887929/161776838-30f0fe84-5a81-4b22-96d8-2054ef1391f7.png)

[2022-04-05 14:30] prachi00 commented on #2774
Ill do this

[2022-04-05 14:41] yangwao opened #2775 "Show popular trending collection on landing"
Let's show people a recent trending collection, **sort the collection** **by most buys** in the **last 7 days** for easiness

Maybe this issue should be finished before but it's not blocking I guess
- https://github.com/kodadot/nft-gallery/issues/2359

![image](https://user-images.githubusercontent.com/5887929/161777711-7360c0a5-7093-4f5a-94ef-73e71b4bc165.png)

[2022-04-05 14:47] prachi00 commented on #2775
@yangwao this would require changes in queries right?

[2022-04-05 14:50] yangwao opened #2776 "List live auctions on landing"
Once we will have Snek in 3 weeks,
we can show live auctions running on their NFT marketplace.

We should show the most popular auctions with the most users, sorted by most users.

![image](https://user-images.githubusercontent.com/5887929/161780936-d6c230a6-4257-48d8-ae5d-ec20246221e0.png)

[2022-04-05 15:39] yangwao commented on #1661
https://www.repotrends.com/kodadot/nft-gallery

![image](https://user-images.githubusercontent.com/5887929/161792022-340318ee-be12-4129-859e-6cdf7b3cc115.png)

[2022-04-05 17:59] preschian commented on #1285
hi @vikiival, do you have step by step guides for this https://github.com/kodadot/rubick/issues/40?
I wanna refactor the `History` component also, but you're right, should prioritize this one https://github.com/kodadot/rubick/issues/40 to avoid hacky way in javascript

missing pieces:
- unlist interaction
- owner nft history

[2022-04-05 18:43] thea-exe opened #2780 "Tutorial on onboarding new devs"
### Is your feature request related to a problem?

New developers might be unsure if their local environment has been set up properly

### Describe the solution you would like

I'd like to see a video tutorial of someone booting up their local environment from scratch that both frontend/backend engineers can use to commit their PRs

### Describe alternatives you have considered

Video would be bes

[2022-04-06 05:02] shixin-guo commented on #1928
Actually, I don't know what color you prefer, add I create a reference commit https://github.com/shixin-guo/nft-gallery/commit/d97192be668c498bc8d7436fc6360a1ff273d8fe, or you can give me a color list

[2022-04-06 06:49] preschian commented on #2743
SubSquid got 504 yesterday captured on `Upptime` https://github.com/preschian/kodadot-status/issues?q=is%3Aissue+sort%3Aupdated-desc+is%3Aclosed

same on `Betteruptime`
<img width="988" alt="Screen Shot 2022-04-06 at 1 46 05 PM" src="https://user-images.githubusercontent.com/734428/161912293-586277a7-0c4d-437f-b99d-83ac563b9540.png">

[2022-04-06 07:01] preschian commented on #2759
I will try to experiment with this later. seems like Cloudflare does not support pre-render. the idea is to serve and adjust `og:image` gallery detail with Cloudflare workers. not sure is it possible or not 🙈

current:
`kodadot.xyz/gallery/* -> render`
use workers:
`kodadot.xyz/gallery/* -> workers -> render`

related issues:
- https://github.com/kodadot/nft-gallery/issues/2136
- https://github.co

[2022-04-06 07:04] roiLeo opened #2782 "Hover state on gallery card"
It seems that we introduce somewhere a `border-radius: 0!important` on the `nft-card` class but this has not been done on the hover state

![Screenshot 2022-04-06 at 09-00-02 NFT Artist Profile on KodaDot](https://user-images.githubusercontent.com/9987732/161914857-846cab20-37b9-4d9d-8cc8-4f13752fab45.png)

[2022-04-06 07:08] Jarsen136 commented on #2782
i will fix it.

[2022-04-06 08:54] yangwao commented on #2744
Is it blank or works?

https://user-images.githubusercontent.com/5887929/161936472-2112e3da-b235-4514-b63a-50e2df2e62aa.mp4

[2022-04-06 08:56] yangwao commented on #2744
https://photos.app.goo.gl/Z2CzRG5T6RpKJ68D6

Awkward gh app or my phone 📱 is broken

[2022-04-06 08:57] roiLeo commented on #2744
Blank for me
![image](https://user-images.githubusercontent.com/9987732/161936803-c6c6254d-a88f-4de2-aa15-3373e77f0f41.png)

[2022-04-06 09:08] prachi00 commented on #2744
Blank for me too

[2022-04-06 09:39] yangwao commented on #2775
let's take some p2 issues or #2650 stuff, this is p3 :)

[2022-04-06 09:54] yangwao commented on #2489
Seems this is back and broken :(

[2022-04-06 09:56] prachi00 commented on #2489
Ill check this

[2022-04-06 09:57] yangwao opened #2783 "Weird floor price when sorted"
Check on 19. Babies Kusama shows **floor price 98**

![image](https://user-images.githubusercontent.com/5887929/161949895-7a06c4f3-c4be-4796-aa4d-85baf1350eef.png)

when I click on collections shows 0.0490 KSM

![image](https://user-images.githubusercontent.com/5887929/161950017-67485db9-77fc-4b6d-ae01-be01335f0d31.png)

https://beta.kodadot.xyz/rmrk/collection/7e982817a2d2575031-MAGK1

[2022-04-06 10:26] vikiival commented on #474
👀 may some async loading would be oki for this

[2022-04-06 10:30] vikiival commented on #1348
Still open as the CSS is not refactored yet 😅

[2022-04-06 10:31] vikiival commented on #2329
OFC!

I'll update the description

[2022-04-06 10:50] #2744 closed

[2022-04-06 10:52] vikiival commented on #2771
`createdAt` - say about time when it was minted
`updatedAt` - any activity except minting

[2022-04-06 11:02] prachi00 commented on #2771
Oh okay thanks

[2022-04-06 11:02] prachi00 commented on #1348
@vikiival i can take up this refactor

[2022-04-06 11:03] prachi00 commented on #1348
What is the priority for this?

[2022-04-06 11:21] vikiival commented on #1348
I would give it p3 I think we have more imporant tasks to tackle

[2022-04-06 11:21] vikiival commented on #2782
🙈

[2022-04-06 11:26] yangwao commented on #2780
Amazing!
I would suggest to better reach a technical audience if you can assemble dev.to the article

[2022-04-06 11:45] vikiival commented on #1285
Already opened a PR :) https://github.com/kodadot/rubick/pull/49

[2022-04-06 11:53] vikiival commented on #2776
@jgreen what's the status of the auction pallet? :)

[2022-04-06 13:50] yangwao opened #2785 "Add hover card to holdings by user"
A hovercard could be added as well as now it doesn't work :|

Once you hover on the username in the user's holdings, it should show the hover user profile card

Reserved for @Jarsen136 👀

![image](https://user-images.githubusercontent.com/5887929/161990171-f360f95e-78e0-4ceb-8f50-03fe172eef23.png)

![image](https://user-images.githubusercontent.com/5887929/161948026-eff95015-9cec-4816-8d69-92099f7

[2022-04-06 13:51] kkukelka commented on #2783
on it

[2022-04-06 13:56] Jarsen136 commented on #2785
take this
pls tell me more about what kind of card you would like to add 👀

[2022-04-06 14:01] yangwao commented on #2785
this one :)

https://user-images.githubusercontent.com/5887929/161991695-a3faf804-c8c3-477d-bfbb-82053ab36071.mov

[2022-04-06 14:11] #2770 closed

[2022-04-06 14:57] #2739 closed

[2022-04-06 17:16] prachi00 commented on #2615
@yangwao can you explain this a little bit more?

[2022-04-07 01:36] Jarsen136 commented on #2772
Hi, I'm not sure where do you prefer to place History button? Or just remove it on mobile?

And how about the image below?
<img width="410" alt="image" src="https://user-images.githubusercontent.com/31397967/162101806-f96cd94f-87b9-4bf9-8050-d38fa2ad2778.png">

What's more, I don't know where to put the search box as you said : )

[2022-04-07 01:42] Jarsen136 commented on #2772
How about just adding a black color background for the search-bar, so that it can cover the logo.  👁️

[2022-04-07 07:49] roiLeo opened #2790 "Top performing collection"
I would like to see a new component that will show the top performing collection (weekly, monthly, yearly) based on sales (or volume), something like magic eden tweet
![image](https://user-images.githubusercontent.com/9987732/162146728-dd3aa852-afe5-41f4-9085-ebfee8ee4a8e.png)

### Specs
- reusable component
- use chartjs [Bar Chart](https://www.chartjs.org/docs/latest/charts/bar.html)
- add colle

[2022-04-07 08:40] yangwao commented on #2329
<img src="https://media0.giphy.com/media/26BRuo6sLetdllPAQ/giphy-downsized-medium.gif"/>

[2022-04-07 08:59] roiLeo commented on #2772
I was thinking something like this:
![image](https://user-images.githubusercontent.com/9987732/162160088-ef9e89b4-803b-4f25-916e-4b6482bf4619.png)

and when search icon is click (touched) it will toggle the navbar & hide logo
![Capture d’écran 2022-04-07 à 10 51 26 AM](https://user-images.githubusercontent.com/9987732/162160628-39d06401-2ff3-41ee-85ae-fc47aa9220c8.png)

this will need to rework

[2022-04-07 09:10] prachi00 commented on #2753
@yangwao this is still an issue right?

[2022-04-07 09:11] yangwao commented on #2753
don't know, maybe test to find out :)

[2022-04-07 09:14] prachi00 commented on #2753
https://deploy-preview-2751--koda-nuxt.netlify.app/rmrk/u/FXUxw9Xp98gTzrU2z63D2G92kcx1oznd6xYa8WdqRgTcEDo?tab=holdings

 clicking on this redirect to holdings tab now

[2022-04-07 09:22] #2785 closed

[2022-04-07 09:49] kkukelka commented on #2329
let me take the steering wheel for a sec

[2022-04-07 09:51] yangwao commented on #2329
<img src="https://media1.giphy.com/media/1hMdSOKEj1ppjftUUY/giphy.gif"/>

[2022-04-07 10:14] yangwao commented on #2790
<img src="https://media2.giphy.com/media/xsF1FSDbjguis/giphy.gif"/>

I've just came from future on my DeLorean
and I've just added three references :P

I saw answers in
- #2359

- #2775

[2022-04-07 10:16] ghifari444222 commented on #2790
will try to make it too ;)

[2022-04-07 12:04] XyloDrone commented on #2776
Shall we have auctions on landing bellow featured collections? Or users can switch between tabs which show featured collections/auctions?

[2022-04-07 12:17] green-jay commented on #2776
@vikiival Auction pallet is done and well tested. we need to add benchmarks and then we can merge to `master`. if somebody is keen to build already before that happens, it is available on the `feat/auctions` branch of the [Basilisk repo](https://github.com/galacticcouncil/Basilisk-node/tree/feat/auctions)

[2022-04-07 12:36] yangwao opened #2791 "Add Flippers to Collection"
A useful metric would be to see people entered into the collection and for much they actually sold. It would work as a collection hyper-local leaderboard/rank.

Hence in current holders, we can't show people who sold as it would be a bit of noise, adding the next tab Flippers would work.

Add there same table where
- headers will be following User, Amount, Bought, Sold, Last Activity
- on unfoldin

[2022-04-07 12:47] #2774 closed

[2022-04-07 12:48] XyloDrone commented on #2747
Hey sers, what's the deal with this issue? Seems fixed?

[2022-04-07 12:50] XyloDrone commented on #741
anybody on this? do we still need it on landing or can it go into other places :D

[2022-04-07 12:58] XyloDrone commented on #660
How high priority is this and are the tasks the same :)

[2022-04-07 12:59] Jarsen136 commented on #2791
Hi, I will have a try.

[2022-04-07 13:02] roiLeo commented on #2790
IMO, we'll need this one https://github.com/kodadot/rubick/issues/26 to make it easier

Could be on landing, or in a new stats page where we would put multiple charts (I like pie charts)

[2022-04-07 13:05] roiLeo commented on #837
closed in #2444 ?

[2022-04-07 13:05] roiLeo commented on #2630
closed in #2720 ?

[2022-04-07 13:06] XyloDrone opened #2792 "Landing page redesign"
### Is your feature request related to a problem?

Hey everyone, seems like we started working on the landing page but never completed it, so maybe it is time to do so :D.

### Describe the solution you would like

So here’s the priority stuff:

Design is here (V2 dark>landing):

https://www.figma.com/file/GeVzZKVORd9L8kAWrlKtZv?

If I missed something in design let me know. One thing I need to do

[2022-04-07 14:24] yangwao commented on #837
Recurring stuff has issues iirc

For recurring users, keep them logged in, even updates happen.

[2022-04-07 14:24] yangwao opened #2794 "PermaLogin for recurring users even after updates"
For recurring users, keep them logged in, even updates happen, like when we push new build to `main`

Right now, when we push new stuff, users are getting logged out, at least at my Chrome house.

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/837#issuecomment-1091806537_

[2022-04-07 14:25] #837 closed

[2022-04-07 14:28] #2630 closed

[2022-04-07 16:49] vikiival commented on #660
p1 for @vikiival

[2022-04-07 16:52] vikiival commented on #2776
@green-jay can we get it for kodadot-basilisk node? 🥺

[2022-04-08 06:25] #2738 closed

[2022-04-08 06:54] green-jay commented on #2776
There is no such node. If you mean the kodadot testnet deployment, we have to wait until any feature is merged to basilisk `master`. The other option is, as mentioned, run the node locally via polkadot-launch and then test it.

[2022-04-08 08:47] yangwao opened #2798 "Renovate has stopped bumping dependencies?"
I recall every 2-3 days we had a bump from renovating to bump new deps or package updates to running the most recent code.
The last merge is 13 days ago from renovate.

Since this commit https://github.com/kodadot/nft-gallery/commit/e01c64b268890ce379758a9ab3a2d91b9fadd712 which **was 12 days ago,** we closed open Node.js upgrade but nothing seen so far.

Maybe @preschian can elaborate 🤔

![image]

[2022-04-08 09:32] yangwao commented on #415
It would be time to revisit and handle what's happening in the background for the user.

[2022-04-08 09:33] yangwao commented on #219
Unlockable content we can figure out in Koda protocol I guess?

📟 @vikiival

[2022-04-08 09:33] yangwao commented on #509
First § will be done in #2650

Features might be distilled to #2646 or #2622

Closing in favour of others as most of the stuff is already done!

[2022-04-08 09:33] #509 closed

[2022-04-08 09:39] yangwao commented on #65
Prevent user from minting when has insufficient balance, other actions send/consume/list/buy been solved in action component

[2022-04-08 09:39] yangwao opened #2799 "Prevent user from minting when has insufficient balance"
Prevent user from minting when has insufficient balance, other actions send/consume/list/buy been solved in action component

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/65#issuecomment-1092666427_

[2022-04-08 09:40] yangwao commented on #65
Continue to #2799

[2022-04-08 09:40] #65 closed

[2022-04-08 09:41] prachi00 commented on #2799
I can check this later

[2022-04-08 09:41] yangwao commented on #418
yes, that could be a thing, do we have Figma screen on this with existing components?

[2022-04-08 09:42] yangwao commented on #796
Once we will have ability to use Vue3 #2692 we can check this one.

[2022-04-08 09:43] yangwao commented on #795
overcomplicated, now we have a release page https://github.com/kodadot/nft-gallery/releases and folks doing threads cherry-picking important stuff

[2022-04-08 09:43] #795 closed

[2022-04-08 09:45] yangwao commented on #279
We've cross usually 2k5 minutes back in Dec/Jan/Feb monthly and I guess since with
- #2643 - we cut build times quite a lot and once
- #2692 Vite kicks in, it's not that pain in the ass.

[2022-04-08 09:45] #279 closed

[2022-04-08 09:46] yangwao commented on #281
We have a chain selector in the corner, closing in that favour.

[2022-04-08 09:46] #281 closed

[2022-04-08 09:51] yangwao commented on #334
Funny enough, came to my mind again year along
- #2791

Adding previous floor query, continue in
- #1680

[2022-04-08 09:52] yangwao commented on #41
good stuff

- #2792

[2022-04-08 09:52] #41 closed

[2022-04-08 09:54] yangwao commented on #2206
I guess fixed in #2630

[2022-04-08 09:54] #2206 closed

[2022-04-08 09:55] yangwao commented on #2155
We can pass this one to
- #2650 hence
- #2719 collections will be merged under explorer

[2022-04-08 09:56] yangwao commented on #1222
Continue to https://docs.kodadot.xyz/incentives/incentivized-bug-reporting.html#rewards

[2022-04-08 09:56] #1222 closed

[2022-04-08 09:57] yangwao commented on #2076
Is this done?

[2022-04-08 09:57] yangwao commented on #2044
failed-deploys are there

[2022-04-08 09:57] #2044 closed

[2022-04-08 09:59] yangwao commented on #2183
Continue to
- #1727

[2022-04-08 09:59] #2183 closed

[2022-04-08 10:01] yangwao commented on #2076
Continue to
- #1394

[2022-04-08 10:01] #2076 closed

[2022-04-08 10:04] yangwao commented on #1838
Done in
- #2411

[2022-04-08 10:05] yangwao commented on #957
with balance and other actions we solved this already

[2022-04-08 10:05] #957 closed

[2022-04-08 10:09] yangwao commented on #678
Continue to https://github.com/kodadot/nft-gallery/issues/898

[2022-04-08 10:09] #678 closed

[2022-04-08 10:10] yangwao commented on #1752
Continue to
- https://github.com/kodadot/nft-gallery/issues/898

[2022-04-08 10:10] #1752 closed

[2022-04-08 10:11] yangwao commented on #1632
I think this is already being done

[2022-04-08 10:11] #1632 closed

[2022-04-08 10:11] yangwao commented on #1512
I guess hover cards are super quick now.

[2022-04-08 10:11] #1512 closed

[2022-04-08 10:12] yangwao commented on #1898
Builds fast af

[2022-04-08 10:12] #1898 closed

[2022-04-08 10:13] roiLeo opened #2800 "Search bar is broken (again?)"
#### Step to reproduce
- go to `/rmrk/faq/` or any page that doesn't show nfts
- type in searchbar
- press enter or click data
- `?search=` is append on url

#### Expected Behavior
- redirect user to search result

[2022-04-08 10:30] Jarsen136 commented on #2800
i will check it

[2022-04-08 10:34] yangwao commented on #2800
Yes, it happens only in your search term and not select an item or collection.

[2022-04-08 10:53] yangwao commented on #1818
Once the Sales feed is done we can fork component and re-use it for Offers Feed.

[2022-04-08 10:54] yangwao opened #2801 "Latest Offers Feed"
Once the
- #1818
Sales feed is done we can fork component and re-use it for Offers Feed.

We would like to show a table with particular headers

| Name (link to gallery item detail, small pic preview) | Collection (link to collection) | Buyer (link to buyer profile) |  Relative Date (1 day ago)  | Price of offer (link to TX extrinsic) |
| --- | --- | --- | --- | --- |

Maybe extra could be the but

[2022-04-08 11:13] vikiival commented on #1394
YOLO

<img width="375" alt="Screenshot 2022-04-08 at 13 13 30" src="https://user-images.githubusercontent.com/22471030/162424910-8eb8bab8-5d1f-43ad-8d92-2903f06a8696.png">

[2022-04-08 11:13] #1394 closed

[2022-04-08 11:22] XyloDrone commented on #418
Not yet, currently prioritising the profile design over this one :D but will add this

[2022-04-08 13:17] kkukelka commented on #2798
i believe adding back the packages like in #2802 should suffice. @yangwao  any way to test it in advance?

[2022-04-08 13:32] yangwao commented on #2798
forking repo installing rennovate but let me try merge into `main`

[2022-04-08 13:36] yangwao commented on #1861
Fixed meanwhile

[2022-04-08 13:36] #1861 closed

[2022-04-08 13:38] yangwao commented on #2615
@cryptodamsky can drop some suggestions on this where it fits by onboarding research best.

[2022-04-08 13:40] yangwao commented on #1542
This issue is free up for grabs as well

[2022-04-08 13:41] yangwao commented on #1356
We've got meanwhile offline screen
- #2645
- #2249

[2022-04-08 13:41] #1356 closed

[2022-04-08 13:41] yangwao commented on #1358
I recall already done in
- #2140
- #2143

[2022-04-08 13:41] #1358 closed

[2022-04-08 13:42] yangwao commented on #1227
I haven't seen it while

[2022-04-08 13:42] #1227 closed

[2022-04-08 13:43] yangwao commented on #1225
done

[2022-04-08 13:43] #1225 closed

[2022-04-08 14:00] yangwao commented on #2798
removed schedule d485932 so chances of praying are higher
usually it show's up in 2 minutes. hmm

[2022-04-08 14:31] yangwao commented on #2489
any progress on this?

[2022-04-08 14:54] prachi00 commented on #2489
Thought it was p3, now that its p2, I'll start working on this @yangwao

[2022-04-08 14:58] kkukelka commented on #2798
seems unlikely, i feel like i have overlooked some property

[2022-04-08 15:33] kkukelka commented on #2798
just reset to pre-prachi commit config in my fork https://github.com/kkukelka/nft-gallery/commit/1df3d31801aaf2f6c10f9143a170fe858b66be51 but also no PRs from renovate yet

[2022-04-08 20:56] yangwao opened #2806 "Match top-border style where we miss it"
I noticed a few inconsistencies, so tried to name them down.
Would be nice if we can have it merged with #2791 so we can push to production and make probably a release.

In the actions component, make borders top-border only and 1px, including input.
Thinking for Buy we could also try to have just top-border.

![image](https://user-images.githubusercontent.com/5887929/162527131-fc7c6981-b34c-461b-

[2022-04-08 20:59] yangwao commented on #2798
<img src="https://media3.giphy.com/media/7SF5scGB2AFrgsXP63/giphy.gif"/>

Maybe renovate bot feels offended :|

[2022-04-08 21:03] yangwao opened #2807 "Remove pinterest and iframe from sharing button"
For simplicity and to keep the focus on the majority
let's remove </> (does iframe even work with our XSS headers anyway?
Pinterest.

Probably make a tooltip with a black background and borders?

![image](https://user-images.githubusercontent.com/5887929/162529319-925fa919-3231-46cc-b69d-ce97bcc17c52.png)

[2022-04-09 00:38] Jarsen136 commented on #2806
I will do this

[2022-04-09 00:58] Jarsen136 commented on #2807
I will take it but I'm not sure what else to do except removing the `</>` icon.

And Is this what you want?
<img width="306" alt="image" src="https://user-images.githubusercontent.com/31397967/162550257-a28236be-3dda-454b-b868-00aacec19275.png">

[2022-04-09 07:14] preschian commented on #2798
@yangwao let me check again in my forked repo

this patch version should be triggered 🤔
already add `pin` https://docs.renovatebot.com/dependency-pinning/, maybe some missconfiguration
<img width="663" alt="Screen Shot 2022-04-09 at 2 12 04 PM" src="https://user-images.githubusercontent.com/734428/162561166-4a2d6ace-b56b-49dc-b853-1636487ef2b9.png">

[2022-04-09 07:23] preschian commented on #1285
woaah, cool. thanks a lot 🙏🏻

time to learn your slides while waiting that PR

[2022-04-09 09:21] vikiival commented on #2783
https://github.com/kodadot/nft-gallery/pull/2786#issuecomment-1093836026

Looks like there is a data glitch on the rubick

I track it in here https://github.com/kodadot/rubick/issues/50

[2022-04-09 09:30] vikiival commented on #1227
Looks like it was closed by https://github.com/kodadot/nft-gallery/pull/1263

[2022-04-09 09:53] #2798 closed

[2022-04-09 10:03] #2806 closed

[2022-04-09 12:03] yangwao commented on #2155
Okay changed my mind, keep this one open.

[2022-04-09 14:53] preschian commented on #2759
yaps, possible with Cloudflare Workers

POC Results:
&nbsp; | before | after
--- | --- | ---
screenshot | <img width="1008" alt="Screen Shot 2022-04-09 at 9 41 55 PM" src="https://user-images.githubusercontent.com/734428/162579018-c86db3d6-9c5f-42aa-86aa-5b14f85e8988.png"> | <img width="1009" alt="Screen Shot 2022-04-09 at 9 42 49 PM" src="https://user-images.githubusercontent.com/734428/162579033

[2022-04-09 15:57] zhengow commented on #2514
Yes, I still use this address, thanks a lot:)

[2022-04-09 23:09] codiini commented on #2780
@yangwao are you saying both a video and an article on dev.to should be submitted?

[2022-04-09 23:25] thea-exe commented on #2780
A video would be preferred but for those who want to get more in-depth, an
added article would be better! Keep in mind, the video for setting up the
local env should have ready for developers to mess with the server (so like
docker etc.)

On Sat, Apr 9, 2022 at 7:09 PM Iniubong Obonguko ***@***.***>
wrote:

[2022-04-10 00:09] codiini commented on #2780
Okay, according to the issue, a video-type tutorial is preferred so we should probably stick with that.

I'd like to take this up. So just to confirm what is required, what should be discussed in the tutorial are:

- Talk briefly about contributing to Kodadot and Kodadot style guide.
- How to setup and install dependencies using node and pnmp
- How to setup project using docker
- Walking the audie

[2022-04-10 06:50] jkdizajn commented on #415
can you imagine it as an infographic - animated SVG
I think there are 3 phases of minting going on:
1. upload to IPFS
2. writing to the blockchain
3. listing on the blockchain

or is it something else?

[2022-04-10 08:47] Jarsen136 opened #2814 "resolver for Flipper table paging data"
Maybe there is a better way to do it.

I can think of for the time being is to do the same process on the server-side and cache the result, so that avoid the heavy process in the client : )

_Originally posted by @Jarsen136 in https://github.com/kodadot/nft-gallery/pull/2804#discussion_r846620582_

[2022-04-10 08:47] #2814 closed

[2022-04-10 08:54] vikiival commented on #2514
Yup :) https://github.com/kodadot/nft-gallery/pull/2784

[2022-04-10 17:27] yangwao commented on #2759
Ooh, amazing 😍 I can give you access to our CF, ping me on Discord! :)

[2022-04-11 06:13] kkukelka opened #2816 "Make Lighthouse Happy - Progress Issue 📊"
### Is your feature request related to a problem?

### Issue to track all Lighthouse improvements that need to be made

- [ ] #474
 I've cleaned up Landing Page in this one:
  - Lazy loading all relevant components
  - Fixed image sizes and modern formats
  - Remove legacy js for old browsers via `--modern` flag
  - SEO & A11y as best as possible
- [ ] Minimize main-thread work (Script evaluation

[2022-04-11 06:15] kkukelka commented on #474
created metaissue to track progress on this one https://github.com/kodadot/nft-gallery/issues/2816

[2022-04-11 06:21] #2772 closed

[2022-04-11 06:29] #2153 closed

[2022-04-11 07:45] vikiival commented on #2759
Yup you just need to ask another CF worker to give you id for the image

[2022-04-11 07:49] vikiival opened #2817 "Unify collection lists"
### What happened?

I saw that we have two types of components which are may doing the same ??

[code]

[code]

### Please reproduce in steps

~

### Expected Behavior

I've expected to have one reusable component across the app 🙈

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

_No response_

### At which address did you encounter bug?

_No response_

###

[2022-04-11 08:07] prachi00 commented on #2817
@vikiival can we add priority to this?

[2022-04-11 10:24] XyloDrone commented on #2759
Hey peeps, any chance we can change the logo to the one on the site, as such?
![Screenshot 2022-04-11 at 11 23 29](https://user-images.githubusercontent.com/84407059/162721029-d1b71825-9436-4ccf-8495-44b47b2004c8.png)

Here is the SVG file:
![Koda _pink](https://user-images.githubusercontent.com/84407059/162721154-0a22cdca-e33b-4eff-95e6-76b05df31842.svg)

[2022-04-11 10:51] kkukelka opened #2818 "change kodadot logo on social image"
Change logo in lower left corner of vercel images to the following:
![162721029-d1b71825-9436-4ccf-8495-44b47b2004c8](https://user-images.githubusercontent.com/17953978/162725246-1df16a00-ec2d-4c71-8aea-02c78d976aaf.png)
svg:
![162721154-0a22cdca-e33b-4eff-95e6-76b05df31842](https://user-images.githubusercontent.com/17953978/162725259-f63dd1b1-7009-42e5-90c1-a6723f254cd7.svg)

[2022-04-11 10:52] kkukelka commented on #2818
I'll do this in the evening

[2022-04-11 10:52] kkukelka commented on #2759
ill do this later today https://github.com/kodadot/nft-gallery/issues/2818

[2022-04-11 11:02] yangwao opened #2819 "Show collection first, gallery second in explore preference"
We can put it into preference which should be shown first, by default we can put Gallery first as we have filters there.

Once we will have filters on collections, the following would be finished and merged
- #1357

We can make add user preferences on what users wants to see
either collection showing first or all nfts
So right now make gallery first as focus filters there:)

_Originally posted by

[2022-04-11 11:05] prachi00 commented on #2819
@yangwao will do this

[2022-04-11 12:04] vikiival opened #2820 "For flippers table use average gain instead of total investment / total profit"
So in the off-chain convo with @yangwao we iterated to the point where the current best metric would be to show is `average flip`

What it means?

https://github.com/kodadot/nft-gallery/pull/2804#issuecomment-1094930071

If you look on the table
<img width="163" alt="Screenshot 2022-04-11 at 13 38 21" src="https://user-images.githubusercontent.com/22471030/162734096-37ace39e-ea05-4cb8-a377-033fda0

[2022-04-11 12:07] #2791 closed

[2022-04-11 12:12] prachi00 commented on #842
I'll try to do this one

[2022-04-11 12:22] Jarsen136 commented on #2820
Okay

[2022-04-11 12:38] prachi00 commented on #2817
@roiLeo it would get merged with #2812

[2022-04-11 15:35] yangwao opened #2822 "Gains for user"
Same as we have flippers at collection we would likely replicate it for the user.
Goal would be to see gains per collection on the user profile.

Headers would be
- collection name, amounts, bought, sold, percentage (same as flippers), last activity
- on click user can see items from collection

Hence @Jarsen136 has here experience
with grapql would like to do this one?

[2022-04-11 15:46] Jarsen136 commented on #2822
I would like to take it.

But I think Holding tab on profile can meed your need? 👀

<img width="1352" alt="image" src="https://user-images.githubusercontent.com/31397967/162779520-90ae3023-f890-4f7e-9e4e-6ea706cdfa63.png">

[2022-04-11 17:56] kkukelka commented on #2818
needed to be done in vercel repo https://github.com/AndreyGrin/og-image/pull/2