[2022-06-23 11:41] vikiival commented on #3244
yes, this can wait.

[2022-06-23 11:42] vikiival commented on #3235
Definitely normal

[2022-06-23 12:11] #3240 closed, assigned to Jarsen136

[2022-06-23 12:14] #3247 closed

[2022-06-23 12:42] yangwao opened #3253 "Fetching fresh new mints on Basilisk"
Seems Pinata isn't an issue here, happening same on CF ipfs gw :/

<img width="604" alt="image" src="https://user-images.githubusercontent.com/5887929/175300930-ba7f6749-3fd6-4085-b4c9-d3d419473cb3.png">

### Ref
- https://github.com/kodadot/nft-gallery/issues/3212 seems same issue

[2022-06-23 14:02] kkukelka commented on #3250
👋

[2022-06-23 14:26] kkukelka commented on #3250
@vikiival
<img width="803" alt="Screenshot 2022-06-23 at 16 25 27" src="https://user-images.githubusercontent.com/17953978/175323108-9348e690-72de-4540-a7ba-5d1eaff75d3b.png">
is this the interaction to look out for?

[2022-06-23 14:31] roiLeo opened #3254 "Show royalties in History component for bsx"
There are 3 interaction but we show only 2 of them

tested on `/bsx/u/bXhWeVLtArWauM8UmbaVdDmXmo5uSDk6DAa2YxQ5zbt2sDcbW?tab=history`

![Screenshot 2022-06-23 at 16-27-35 NFT Artist Profile on KodaDot KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/175324116-5f1aad4e-218a-42ab-9f4a-784c6f0f054f.png)

![Screenshot 2022-06-23 at 16-27-54 NFT Artist Profile on K

[2022-06-23 14:43] yangwao opened #3255 "Expand stats of whole Basilisk Marketplace"
Make sense if we can expand it to

- amount of
  - expired offers and total value
  - withdrawn offers and total value
  - active offers and total value

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/3208#issuecomment-1164498397_

[2022-06-23 14:47] petersopko commented on #3255
:wave:

[2022-06-23 15:34] yangwao opened #3258 "Seems preview cards doesn't works everytime"
Seems SEO cards don't work, every time?
Discord picture
<img width="463" alt="image" src="https://user-images.githubusercontent.com/5887929/175337757-98cb8b6c-c103-4d5b-9e08-d35020d1917f.png">

edit on profile works

<img width="549" alt="image" src="https://user-images.githubusercontent.com/5887929/175609202-3cad6102-7b2b-4cc1-8755-fa789945605b.png">

[2022-06-23 16:51] zhengow commented on #3254
👋

[2022-06-23 16:56] zhengow commented on #3254
[kodadot/packages#28](https://github.com/kodadot/packages/pull/28)
Hi, could help to approve and publish this? 👀
@vikiival

[2022-06-23 18:50] #2223 closed

[2022-06-24 04:31] #3148 closed

[2022-06-24 12:09] yangwao opened #3262 "Support for GLTF ?"
It's supposed to show through a model-viewer?

https://beta.kodadot.xyz/bsx/gallery/2444376227-1

https://kodadot.mypinata.cloud/ipfs/bafkreigmublnwqdssbr4nhyxhsgkamrwwh3hejpbime27xdbzkrwrblwza
<img width="1167" alt="image" src="https://user-images.githubusercontent.com/5887929/175530826-7ad6a4b8-224b-4a71-a36d-792d4dd368b8.png">

[2022-06-24 12:11] yangwao opened #3263 "Showing KSM and BSX at once"
I recall being talking about this and someone said this should not happen after the recent fix?

1. Opened https://beta.kodadot.xyz
2. switched to BSX
3. went to the gallery
4. clicked item
5. see price as in KSM

<img width="632" alt="image" src="https://user-images.githubusercontent.com/5887929/175531418-8b1995ed-7d19-4f86-bbbd-0e3ab54bea8c.png">

[2022-06-24 12:15] roiLeo commented on #3262
Please bring back my ball 🏓 😢

[2022-06-24 12:46] Jarsen136 commented on #3262
👋

[2022-06-24 12:50] roiLeo opened #3264 "Unable to mint on bsx (RPC error)"
<img width="716" alt="Capture d’écran 2022-06-24 à 2 49 49 PM" src="https://user-images.githubusercontent.com/9987732/175539428-08602a35-f55a-437f-add2-0b08df183144.png">

[2022-06-24 13:10] roiLeo opened #3265 "Newly minted nft have Carbonless properties by default (bsx)"
Is it normal? I record of a "carbonless" switch which allowed to add or not the property

[2022-06-24 13:25] #3160 closed

[2022-06-24 13:53] kkukelka commented on #3263
@yangwao can you link the specific nft it occurred with? cannot reproduce

[2022-06-24 14:52] yangwao commented on #3264
Seems I've managed. What's about minting in incognito? Happens this only sometimes or often?

https://beta.kodadot.xyz/bsx/gallery/2916213696-5?message=congrats

<img width="541" alt="image" src="https://user-images.githubusercontent.com/5887929/175560989-083aeeb1-e52c-4a89-9186-52141d0487f8.png">

[2022-06-24 14:55] yangwao commented on #3263
It was this one but can't replicate it tho :|
I guess it's something to do with chain switcher, when some part of client things it's still on KSM but it is not :)

https://beta.kodadot.xyz/bsx/gallery/2444376227-1

[2022-06-24 15:02] roiLeo commented on #3264
@yangwao on beta, local, incognito

[2022-06-24 16:54] prachi00 commented on #3263
<img width="1473" alt="Screen Shot 2022-06-24 at 9 54 36 AM" src="https://user-images.githubusercontent.com/39299315/175607267-9acf5703-5eff-4fc9-bf2e-f7e7d743ad2b.png">
I see KSM too

[2022-06-24 17:05] yangwao commented on #3264
I would call it super strange.

<img src="https://media2.giphy.com/media/9aZ3Snou3bdlu/giphy.gif"/>

[2022-06-24 19:23] prachi00 commented on #3250
pay 100 usd

[2022-06-24 19:24] #3250 closed

[2022-06-24 19:32] petersopko opened #3266 "sort in gallery broken"
//edit:

sort still needs fine tuning, while the conflicting params don't get passed in at once anymore, it still seems that the sort is not executing correctly (i.e. if you sort for price and then recently interacted, it takes the first argument but not the second one)

~It seems that on beta, with the newest changes, we lost sort. Currently, picking one of the sort options just adds the paramete

[2022-06-24 19:34] prachi00 commented on #3266
👋

[2022-06-24 19:48] prachi00 commented on #3266
seems to work fine in local 🤔

[2022-06-25 02:07] #3192 closed

[2022-06-25 03:40] prachi00 opened #3269 "Infinite api calls being made"
### What happened?

[A bug happened!]
(https://nft.kodadot.xyz/rmrk/gallery/10249720-466e8b6338599eaf1e-GAVCUBE-GAV_CUBE_101-0000000000000101?page=1)
infinite calls being made to `nftByIdMinimal` query

https://www.loom.com/share/9a217118fa4b426aaac5ef4a7cd55cf9

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

maybe implement caching for

[2022-06-25 07:37] #3248 closed

[2022-06-25 08:20] #2766 closed

[2022-06-25 08:51] Jarsen136 commented on #3262
👀
https://github.com/kodadot/nft-gallery/pull/3270#issuecomment-1166231238

[2022-06-25 10:08] yangwao opened #3271 "Token gated collections"
We could have something like a collection, but specialized for particular community

Goal would be that's particular wallet needs to hold particular SBT/NTT/NFT to access particular collection.

It could work as usual collection where while creating collection one can set which access token is required from particular subset of existing collection to own to access

The question is where do we want

[2022-06-25 13:51] kkukelka commented on #3269
Heh, I noticed that too a while ago. But @vikiival explained to me that we need this in order to prevent double spending on an NFT. That's why the call also only fetches very few properties.

[2022-06-25 14:53] vikiival commented on #3269
Yup, new fire-squid will have subscription :)
for now we need to poll minimal data every couple of secs :)

[2022-06-25 14:54] #3269 closed

[2022-06-25 15:41] petersopko commented on #3266
After pulling latest pain, same thing on local for me
![image](https://user-images.githubusercontent.com/73316633/175780791-821b5525-388b-40b1-800e-3f63ae5875b2.png)

[2022-06-25 16:27] yangwao commented on #3074
Maybe make it as an extra tab in the collection, like "Insights"?
Once it would be there, we can then link it directly from elsewhere when people would surf collections for insights.

[2022-06-25 19:07] prachi00 commented on #3266
Yeah its a pain right 😂

[2022-06-25 19:08] roiLeo commented on #3264
I tried today on chrome and it worked :/

[2022-06-25 23:16] vikiival opened #3273 "Preview of 3D items in dropzone"
_When user mint a 3D nft, show the nft preview in the dropzone_

- `/rmrk/create`
- `/bsx/create`

[2022-06-26 02:02] prachi00 commented on #3204
@petersopko @vikiival so we are doing polling of the api every 15 seconds, so the offers will be updated every 15 secs right,
so is that fine or should we call the api after withdrawing so that it is visible instantly?

[2022-06-26 02:43] prachi00 opened #3276 "Changing label of action button make_offer to be more readable"
### What happened?

Changing MAKE_OFFER to more readable Make offer
<img width="429" alt="Screen Shot 2022-06-25 at 7 42 49 PM" src="https://user-images.githubusercontent.com/39299315/175797111-5a513534-3c9a-4e77-a1a4-8231c7e91df0.png">
!

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

_N

[2022-06-26 02:48] prachi00 commented on #3074
I am not sure I understood 🤔

[2022-06-26 02:48] prachi00 commented on #3074
🤔 I am not sure I understood this

[2022-06-26 02:54] prachi00 commented on #3266
so I am still unable to reproduce this on my local, someone else can feel free to take a look at this one

[2022-06-26 05:45] preschian commented on #2671
hi so sorry, still no major progress on this 🙏🏻

[2022-06-26 07:24] #3237 closed

[2022-06-26 10:13] petersopko commented on #3204
you're right, this seems to have previously been caused by the chain disconnect, right now it seems to work pretty well.

[2022-06-26 10:13] #3204 closed

[2022-06-26 10:46] #3262 closed

[2022-06-26 11:17] yangwao commented on #3176
<img src="https://media2.giphy.com/media/pdP6xZ3PXL6h896Kwd/giphy.gif"/>

[2022-06-26 11:17] yangwao commented on #3156
solved meanwhile

[2022-06-26 11:17] #3156 closed

[2022-06-26 11:21] vikiival commented on #3176
❤️

[2022-06-26 12:13] yangwao opened #3278 "Limit input for user could not submit lower than minimum offer size"
As we would like to avoid submitting lower than allowed offer size,
limit users submitting lower offers
This would prevent users not waiting for results from rpc

https://beta.kodadot.xyz/bsx/gallery/2735277589-3?page=1

<img width="571" alt="image" src="https://user-images.githubusercontent.com/5887929/175813459-967b7ba3-fb41-4f50-8480-a3b08f10d74d.png">

[2022-06-26 12:25] petersopko commented on #2911
:wave:

[2022-06-26 12:34] yangwao opened #3279 "Search on Basilisk doesn't work"
Adding at least some basic flavour of search would be doable if anyone can take a look :)

Eligible for the higher bounty if there would be more stuff to crack

<img width="642" alt="image" src="https://user-images.githubusercontent.com/5887929/175814354-a673548d-3294-49cb-9b16-e69ef10ad69b.png">

[2022-06-26 14:01] kkukelka commented on #3279
👋

[2022-06-26 14:34] petersopko opened #3280 "Relative time link on BSX doesn't work"
Currently, links from tooltips on relative time (history component) are leading nowhere (https://basilisk.subscan.io/block/55762). Let's remove the link for BSX for now

![image](https://user-images.githubusercontent.com/73316633/175819184-b24b40b3-d359-4921-9643-6f264b18c969.png)

[2022-06-26 15:07] #3208 closed

[2022-06-26 15:08] Jarsen136 commented on #3280
👋

[2022-06-26 15:12] petersopko commented on #3255
just now noticed:

will add this one soon, it's already in the resolver, I currently filtered expired offers out

[2022-06-26 15:12] petersopko commented on #3255
ignore

[2022-06-26 16:36] yangwao commented on #3280
Basilisk will have Subscan, rather just hide it for now and once we will run on official testnets it can be add again

[2022-06-26 17:34] kkukelka commented on #3279
unassign

[2022-06-26 17:36] kkukelka commented on #3279
slightly more time-consuming than i anticipated. someone else can take over 👍

[2022-06-26 21:37] prachi00 commented on #3278
👋

[2022-06-27 08:04] roiLeo commented on #3245
Closing ref https://github.com/kodadot/nft-gallery/pull/3281#issuecomment-1167018522

[2022-06-27 08:04] #3245 closed

[2022-06-27 09:09] roiLeo commented on #1341
I don't think we can for now

[2022-06-27 09:35] roiLeo commented on #3234
![Screenshot 2022-06-27 at 11-34-14 KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/175908866-1f191afc-66a7-4bfa-8762-da0a087ebf84.png)

can't reproduce might be closed by #3252

[2022-06-27 09:38] cryptodamsky commented on #3168
_Hello darkness my old friend_

<img width="1920" alt="image" src="https://user-images.githubusercontent.com/92786519/175909516-bc470c3e-1194-4ce4-9df6-f98a5469a36f.png">

log

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://app.gc.subsquid.io/beta/rubick/006/graphql. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing). Status code: 504

[2022-06-27 09:41] roiLeo commented on #1766
ref #3038

[2022-06-27 10:11] roiLeo commented on #3168
Backend (graphql) endpoint crash

[2022-06-27 10:31] roiLeo opened #3284 "BUY now switch is disabled on /collection/{id}"
#### Step to reproduce
- go to beta.kodadot.xyz
- click on any collection link
- "BUY NOW" switch is disabled while I'm logged in

Tested on `/rmrk/collection/7EE233C6F96F438E26-SHRZ`

![Screenshot 2022-06-27 at 12-30-24 Shroomiz KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/175921625-b50489e1-c756-4bcf-8b8b-e1861d0e6260.png)

[2022-06-27 11:16] Jarsen136 commented on #3284
👋

[2022-06-27 11:36] yangwao opened #3285 "Add ability to sort bsx marketplace stats"
- I guess adding sorting default by recent on top would be best
- Add headline/title that it's "Basilisk Marketplace Statistics"
- resize columns, so date & item don't create new line

https://beta.kodadot.xyz/bsx/stats/
<img width="678" alt="image" src="https://user-images.githubusercontent.com/5887929/175932100-8a472cde-44e2-4ef1-8b05-5d3bff3e2605.png">

[2022-06-27 11:46] zhengow commented on #3285
👋

[2022-06-27 11:57] petersopko commented on #3234
yes, closed in there

[2022-06-27 11:57] #3234 closed

[2022-06-27 12:35] #3254 closed

[2022-06-27 12:43] petersopko commented on #3039
I think it's close to save this one to prevent having 2 chief Basilisk issues, both of the features which are still not done here are linked here
- https://github.com/kodadot/nft-gallery/issues/660

[2022-06-27 12:43] #3039 closed

[2022-06-27 13:59] roiLeo commented on #3279
I can confirm this one is time-consuming, we can try to split the work into two parts:
- one to fix bsx collection search
- the other one to fix bsx gallery search

I sense with this fix we might lose "Most reacted" filter.

[2022-06-27 14:13] petersopko commented on #3212
same as #3253, closing this one

[2022-06-27 14:29] petersopko opened #3286 "Better UI/Tooltip for Royalty slider"
There is no mention of percentage when selecting the roylaty amount (technically speaking, you're not selecting amount but percentage). I'd like to change `Roylaty amount` to `Royalty rate` and add percentage sign to tooltip.

![image](https://user-images.githubusercontent.com/73316633/175965475-be2df095-03e2-46b7-b4a3-83e4fdb66d9c.png)

[2022-06-27 14:46] yangwao opened #3287 "Optimize SubSquid query on 006"
I guess hence we are crashing 006 sometimes after optimization was applied, would be much needed to see where we can optimize the query.
I recall that suspicious query is something happening around the passion feed query?
If we can limit output might do the thing?

Which queries are the biggest ones currently?

- https://github.com/kodadot/rubick/issues/97
- https://github.com/kodadot/rubick/pull/

[2022-06-27 18:32] Michelle-Watson commented on #2359
@KngZhi Just wondering what work you have done on this already if you had a chance to do so!

[2022-06-27 18:34] cryptodamsky commented on #3168
This is coming up now, same issue

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://app.gc.subsquid.io/beta/rubick/006/graphql. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing). Status code: 502.

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://app.gc.subsquid.io/beta/rubick/006/gr

[2022-06-28 04:13] petersopko opened #3291 "Freshly minted collection doesn't show up"
After creating new collection, I'm being redirected to https://beta.kodadot.xyz/bsx/create where I can mint new NFT, however, I don't see the created collection in the dropdown select. After some time and after I refresh the page, collection ID shows up in the dropdown (number) but not the name of the collection.
![image](https://user-images.githubusercontent.com/73316633/176089723-69ae62e7-b56a-4

[2022-06-28 04:26] petersopko commented on #3253
this one could be related
- https://github.com/kodadot/nft-gallery/issues/3291

[2022-06-28 05:10] petersopko commented on #3239
@Jarsen136 when you open up PR for this one, make sure to attach https://github.com/kodadot/rubick/pull/102 as completed (and not payed out) and tag me :)

[2022-06-28 05:19] #3286 closed

[2022-06-28 05:32] petersopko commented on #3266
I have noticed just now, this is issue related to Gallery only, collections and their two sort options (new/old first) seem to be working just fine

[2022-06-28 05:41] petersopko opened #3292 "Search in collections BSX"
update, last thing with collections:

- https://github.com/kodadot/nft-gallery/issues/3433

~what works:~
- [x] ~sorting~
- [x] ~buy now (hides/shows collections without/with listed NFTs)~
- ~https://github.com/kodadot/nft-gallery/issues/3372~

~what doesn't work:~
- [x] ~every query in search bar returns nothing~

[2022-06-28 05:50] petersopko opened #3293 "Search in gallery BSX"
updated:

- [x] searchbar queries + suggestions
- https://github.com/kodadot/nft-gallery/pull/3491
- https://github.com/kodadot/nft-gallery/issues/3504
- [x] range slider transforming into input fields here:
- https://github.com/kodadot/nft-gallery/issues/3461
- [x] ~passion feed results in neverending loader, should be temporarily resolved by this:~
- ~https://github.com/kodadot/nft-gallery/pull/

[2022-06-28 05:51] petersopko commented on #3279
- https://github.com/kodadot/nft-gallery/issues/3292
- https://github.com/kodadot/nft-gallery/issues/3293

[2022-06-28 06:06] #3284 closed

[2022-06-28 06:14] petersopko opened #3294 "Basilisk Subscan link"
Basilisk will have Subscan, rather just hide it for now and once we will run on official testnets it can be add again.

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/3280#issuecomment-1166582210_

// Once Basilisk becomes available on Subscan, let's add the functionality we've hidden in
- #3280

[2022-06-28 06:14] petersopko commented on #3280
@yangwao removing the blocked label so people can get assigned. @Jarsen136 it seems this one expired, but feel free to do hotfix when you feel like it :)

[2022-06-28 06:18] zhengow commented on #3280
So we only need to do this hide it for now?👀

[2022-06-28 06:21] petersopko commented on #3280
yes, small fix, instead of having it linked, have it just as simple text

[2022-06-28 06:39] Jarsen136 commented on #3280
sure, i will take it

[2022-06-28 06:40] zhengow commented on #3280
go for it

[2022-06-28 08:14] jkdizajn opened #3295 "[ERR] AxiosError: Request failed with status code 500"
### What happened?

When creating a new collection, the action ends with an error message:
**[ERR] AxiosError: Request failed with status code 500**

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

_No response_

### At which address did you encounter

[2022-06-28 08:20] roiLeo commented on #3295
Same on `beta.kodadot.xyz`, look like pinning endpoint is in error
<img width="543" alt="Capture d’écran 2022-06-28 à 10 19 49 AM" src="https://user-images.githubusercontent.com/9987732/176130391-fe3fe4dc-3fed-4119-aea6-90f7d26a3dbb.png">

[2022-06-28 08:24] jkdizajn commented on #3295
yes, I confirm

[2022-06-28 11:55] #3249 closed

[2022-06-28 11:59] vikiival commented on #3295
Hey,
Our pinning service does not work today.

![image](https://user-images.githubusercontent.com/22471030/176173097-29cd7505-3bf0-456a-929f-e934f5f24a4e.png)

[2022-06-28 12:52] vikiival commented on #3295
@jkdizajn looks like Estuary is working again!

[2022-06-28 13:01] vikiival opened #3296 "Implement Pinata as the service provider."
- should be used primarily for metadata and content under 10 MB

- https://github.com/kodadot/workers/issues/8

[2022-06-28 13:02] #3295 closed

[2022-06-28 15:44] zhengow commented on #3278
Question: how to find `allowed minimum offer size`?

[2022-06-28 16:07] zhengow commented on #3278
go for it

------------------ Original ------------------
From: Darshana Prachi ***@***.***&gt;
Date: Wed,Jun 29,2022 0:06 AM
To: kodadot/nft-gallery ***@***.***&gt;
Cc: zhengow ***@***.***&gt;, Comment ***@***.***&gt;
Subject: Re: [kodadot/nft-gallery] Limit input for user could not submit lowerthan minimum offer size (Issue #3278)

[2022-06-28 16:16] petersopko opened #3298 "BlockExplorerLink - new component"
- would be cool to create a new component `BlockExplorerLink` in the future
- create new component

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/pull/3297#pullrequestreview-1021792389_

edit:

we are looking for ways to make the app more composable and flexible, right now, many parts of the BSX implementation are copied from the existing rmrk paths. We would like to have

[2022-06-28 16:20] petersopko opened #3299 "Refactor: chain agnostic components"
- it's starting to get messy with the components path: `/rmrk/Gallery/History.vue` while it's being used on other chains

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/pull/3297#pullrequestreview-1021792389_

Edit:

We know about this issue, but this is another instance of it: app needs serious refactor and take a look at some of the existing logic / file structure. For s

[2022-06-28 16:33] petersopko opened #3300 "OpenAI / Microsoft Azure accounts"
Creative mint stopped working because of issues related to account management / some upgrade, didn't read the email before, found out just today. Will follow up shortly.

[2022-06-28 16:34] petersopko commented on #3300
ignore

[2022-06-28 17:00] petersopko commented on #3300
creative mint works again, however, both OpenAI and Azure are using my credit card with "pay as you go" model, while it's just cents at this point, I'd like to figure out a way how to make this fun AI piping somehow sustainable by itself.

[2022-06-28 17:05] #3280 closed

[2022-06-29 00:06] Jarsen136 commented on #3239
Hey, Could you pls deploy this resolver https://github.com/kodadot/rubick/pull/102  so that I could move on to finish the frontend part? @vikiival

[2022-06-29 00:16] Jarsen136 commented on #3298
👋

[2022-06-29 02:34] KngZhi commented on #2359
Yeah, you can take it. :)

[2022-06-29 06:41] roiLeo commented on #3299
related with #3068 discussion

[2022-06-29 13:47] yangwao opened #3302 "Transfer on basilisk sometimes doesn't work"
Sometimes when I'm on crappy internet it's hard to send stuff through transfer on bsx

https://beta.kodadot.xyz/transfer/?target=bXkQzTaoBsEjsgZnRFJMcyoFyGYAWGDTVixBKZJ8ANqmc5DWz&usdamount=48640000000

but through https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Fbasilisk-kodadot.hydration.cloud#/addresses it works when add address to address book
<img width="566" alt="image" src="https://user-images.

[2022-06-29 13:50] vikiival commented on #3239
cc @Jarsen136
<img width="829" alt="Screenshot 2022-06-29 at 15 50 01" src="https://user-images.githubusercontent.com/22471030/176453058-339e3250-781f-4042-8b31-296af39b1236.png">

[2022-06-29 13:59] joelamouche opened #3303 "Discuss making a component library"
https://wagmi.sh/ is a project that makes open source standardized components for Ethereum + React
Kodadot could be the equivalent for NFTs in the multichain world...

[2022-06-29 15:13] yangwao commented on #3134
I think it would be nice to put the kodadot svg logo and change colors there as well based on different chain/products connected?

[2022-06-29 16:22] prachi00 commented on #3134
yeah that would be nice

[2022-06-29 20:25] yangwao opened #3305 "How was the anime waifu t-shirt design born"
Would be a really nice article to write about how design was born

- put screenshot from public convos
- link to artists, foundation, socials
- design process with sketches during process
- how designed has been evolving during process
- amount of tshirt prints
- make NFTs for people claim design (those who doesn't have 👕 and could claim shirt in exchange for that)
- what's was purpose of design t

[2022-06-29 22:32] AndreyGrin commented on #3038
![image](https://user-images.githubusercontent.com/2453346/176556575-4a9275cc-c31a-4c0e-9fc9-2aafcdc7ff31.png)
What about this? Is it correct logo?
Parsing markdown and showing it on social card isn't possible. But we can try to remove markdown syntax and show plain text instead.

Markdown, XXX items, XXX KSM should be done on KodaDot, I could make PR for this once I know what you expect for markd

[2022-06-30 06:44] roiLeo commented on #3038
yes, I really like this one.
Can you try to change bottom right padding too?

👍

Feel free, stage is yours 🕺

[2022-06-30 09:27] joelamouche opened #3306 "Allow multiple users on a collection"
Would be nice.
Example: I want to make a POAP collection for my pic with Berry. I want other people to be able to submit their POAP to this collection

[2022-06-30 09:45] petersopko opened #3307 "Search bar acting out"
This was once fixed and it's broken again, search results don't update if you clean the search bar and switch between collection / explorer.

Steps to reproduce:

1. go to gallery
2. search for random term, such as 'test'
3. click X in the search bar
4. click on collection
5. go back to gallery

As you will see, search term stays 'test' even after page reloads. Ideally, every page reload checks th

[2022-06-30 10:02] #3239 closed

[2022-06-30 10:03] Jarsen136 commented on #3307
👋

[2022-06-30 10:24] petersopko commented on #3168
this seems to be a recuring problem, not directly connected to the profile, but in general, subsquid / indexer keeps having crashes. I've added the `research` label, if anybody feels like digging around and finding out why does this keep happening, it would be great

[2022-06-30 11:22] petersopko opened #3308 "Refactor: deconstructing the /rmrk folder structure"
following from @roiLeo comment here:

- https://github.com/kodadot/nft-gallery/discussions/3068#discussioncomment-2855995

some of the points I'd like to see done here:
- [ ] deconstructing the /rmrk folder structure // now also /bsx folder since we don't want chains there
- [ ] move all things related to collection into a new folder
- [ ] clean up /rmrk/Gallery/

Please look for dead / old compon

[2022-06-30 11:22] petersopko opened #3309 "Refactor: generic name for components + langDir"
following from @roiLeo comment here:

- https://github.com/kodadot/nft-gallery/discussions/3068#discussioncomment-2855995

- name of our components is currently pretty random, if somebody with an eye for style guides could take this, it would be great.
- rename langDir folder to locales
- styles organisation: scss components, themes files // @roiLeo not sure what you meant by this part

ref:
https

[2022-06-30 11:23] petersopko opened #3310 "Refactor: create service folder"
following from @roiLeo comment here:

- https://github.com/kodadot/nft-gallery/discussions/3068#discussioncomment-2855995

Here's the original comment:

- create a service folder in order to organise all the actions (vuex actions -> service call)

I'd like to ask @roiLeo to provide additional information here if possible, I'm out of my depth with regards to services

[2022-06-30 11:25] petersopko opened #3311 "Summer Refactor"
As discussed in multiple places here, we got to a point where our codebase deserves serious refactor. Except for making our life easier, this would be great help for newcomers, since some things became quite messy/chaotic over the months of remote/async development.

following up from discussion here:

- https://github.com/kodadot/nft-gallery/discussions/3068

When it comes to the folder structure

[2022-06-30 11:27] petersopko commented on #3311
@kkukelka @roiLeo @vikiival I've moved the ideas from discussion about this into more actionable version, please feel free to add / modify whatever you find valuable

[2022-06-30 11:29] petersopko commented on #2911
Berlin happened, this will take a little longer than I expected

[2022-06-30 11:29] petersopko commented on #2911
ignore

[2022-06-30 11:32] vikiival commented on #3278
RPC node can give you answer.
@prachi00 can may get inspiration from the collection deposit :)

[code]

[2022-06-30 12:25] joelamouche opened #3312 "JS error in basilisk collection creation interface: undefined variable"
### What happened?

A bug happened!
When trying to create a collection on kodadot x basilisk beta, I got this error:
![kodaerror](https://user-images.githubusercontent.com/16758383/176676218-613cd134-bbb5-4a1f-88e8-829aad8410b5.png)

### Please reproduce in steps

Try to create a collection on the basilisk beta

### Expected Behavior

I've expected  the collection to be created but instead I got a

[2022-06-30 12:34] roiLeo commented on #3312
It looks like you don't have enough funds, can you share your account address?

[2022-06-30 12:39] roiLeo commented on #3310
`services`

[2022-06-30 12:40] yangwao commented on #3312
seems we should handle if there are not enough funds on account while persons is doing mints?

[2022-06-30 12:44] joelamouche opened #3313 "BSX Collection doesn't display correct name"
### What happened?

Created collection name is a number instead of string

### Please reproduce in steps

create a collection on kodadot beta with basilisk

### Expected Behavior

I've expected "POA Kodadot" to be displayed instead of number

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

Yes

### At which address did you encounter bug?

beta.kodadot.xyz

### Scr

[2022-06-30 12:55] joelamouche opened #3314 "When creating NFT, specify that zero sell amount means not puting the NFT for sell"
### Is your feature request related to a problem?

When creating NFT, specify that zero sell amount means not puting the NFT for sell

### Describe the solution you would like

I would like to see
- a warning stating that zero sell amount means not puting the NFT for sell
- a click box that presents selling the nft as an option (true by default) and then the price dropdown shows when this box is c

[2022-06-30 12:56] joelamouche commented on #3312
The transaction went through the second time.
It would be a UX improvement if there was a warning when the user doesn't have enough funds

[2022-06-30 12:59] joelamouche opened #3315 "UX Bug: Royalty address shows when option is UNselected"
### What happened?

When creating NFT, Royalty address shows when option is UNselected, it should be the opposite

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

Try to create NFT on basilisk

### What browsers are you seeing the problem on?

Chrome

### Are you logged in?

Yes

### At which address did you encounter bug?

beta.kodadot.xyz

### Screenshots

[2022-06-30 13:08] roiLeo commented on #3309
Theme file ➡️  In #2947, dark.scss & light.scss, we could extend for personalized chain theme
Scss components ➡️  personal preference, I like to have components folder in scss to avoid polluting vue components code

And I'll move styles into assets folder (vue/nuxt good pratice)

[2022-06-30 13:36] #3298 closed

[2022-06-30 13:39] petersopko commented on #3314
good catch! I'd like to see the combination of two:

1. toggle button which says "List NFT for sale", toggled by default
2. upon untoggling the t,oggle price input bar disappears
3. preselected price in price input bar should be > 0 (0.1 is good)
4. reducing the price to 0 shows warning "In order to list NFT, price has to be more than 0"

[2022-06-30 14:24] Jarsen136 commented on #3314
👋

[2022-06-30 16:52] #3315 closed

[2022-06-30 23:48] #3276 closed

[2022-07-01 06:57] prachi00 commented on #3312
👋

[2022-07-02 11:08] vikiival opened #3320 "Show if NFT is underpriced/overpriced"
### Is your feature request related to a problem?

In collection detail I would love see if the particular NFT (with a price) is underpriced / overpriced.

### Describe the solution you would like

The idea is to calculate the [first quartile](https://en.wikipedia.org/wiki/Quartile)

And then everything below is underpriced and vice versa.

### Describe alternatives you have considered

~

We need

[2022-07-03 04:21] zhengow opened #3321 "collectionListWithSearch doesn't work with https://api.subquery.network/sq/vikiival/magick"
### What happened?

A bug happened!
when type some keywords in search bar, `collectionListWithSearch` query doesn't work with `https://api.subquery.network/sq/vikiival/magick`

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...
query successfully

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

_No res

[2022-07-03 04:37] zhengow opened #3322 "CORS in rubick 006"
### What happened?

A bug happened!
when query data from `https://app.gc.subsquid.io/beta/rubick/006/graphql`, it failed with `CORS`

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

_No response_

### Are you logged in?

_No response_

### At which address did you encounter bug?

beta.koda

[2022-07-03 07:06] zhengow commented on #3001
👋

[2022-07-03 07:08] zhengow commented on #3001
Would pls review
[rubick#107](https://github.com/kodadot/rubick/pull/107)
which is for this issue

[2022-07-03 07:27] zhengow commented on #3207
<img width="1814" alt="image" src="https://user-images.githubusercontent.com/38389586/177029731-1eb8adbc-5f9d-4f55-bdee-bcf0fe703c81.png">

Hi!
I am wonder whether this issue means show picture like above?

[2022-07-03 07:33] Jarsen136 commented on #3321
👋

[2022-07-03 08:52] petersopko commented on #3322
connected to
- https://github.com/kodadot/nft-gallery/issues/3287

same problem as usual, it was breaking for me as well. Just noticed, that after I opened [playground](https://app.gc.subsquid.io/beta/rubick/006/graphql) as usual, problem disappear even on https://beta.kodadot.xyz? maybe complete coincidence. @vikiival

[2022-07-03 09:04] petersopko commented on #3207
hey, let's start with adding it there, as you can see, there's no data about collection showing on it's detail, but you can get inspired with the way rmrk/rubick is done in your screenshot :) We may expand the query further in
- https://github.com/kodadot/nft-gallery/issues/2881
![image](https://user-images.githubusercontent.com/73316633/177032725-7b6821eb-ac2a-4a1b-bcfb-71757a3698de.png)

[2022-07-03 09:16] petersopko commented on #3312
perhaps in some way similar to
- https://github.com/kodadot/nft-gallery/issues/3278

@zhengow :) ?

[2022-07-03 11:08] vikiival commented on #3322
There are big queries which are still big and node simply goes out of the memory.
- kodadot/rubick#97

[2022-07-03 11:10] zhengow commented on #3322
got it

[2022-07-03 11:10] #3322 closed

[2022-07-03 11:14] zhengow commented on #3207
got it:)

[2022-07-03 11:17] vikiival commented on #3312
this has happened because kodadot tabs share the same connection to the RPC Node. so if @joelamouche had RMRK on the other tab, "this" BSX instance was connected to Kusama RPC and therefore `api.tx.nft.createClass` does not exist

[2022-07-03 15:27] yangwao commented on #3278
Hey seems I was able to submit a lower offer than the minimum allowed.

The goal of this issue was to **prevent** users from submitting even if they have a balance there.

Can you please check @prachi00 ?

https://github.com/kodadot/nft-gallery/pull/3318#issuecomment-1173111080

[2022-07-03 23:09] prachi00 commented on #3278
@yangwao can you send the nft url where this happened?

[2022-07-04 10:18] yangwao commented on #3285
Hey reopening this as seems the column item creates a new line still?

<img width="721" alt="image" src="https://user-images.githubusercontent.com/5887929/177134825-d8d55742-b69a-475c-b21d-50361ebbb64b.png">

[2022-07-04 10:35] #3314 closed

[2022-07-04 10:46] petersopko commented on #3303
hey, moved this one over to discussions :)
- https://github.com/kodadot/nft-gallery/discussions/3326

[2022-07-04 10:46] #3303 closed

[2022-07-04 11:50] yangwao commented on #3202
Seems I can make an offer?

https://beta.kodadot.xyz/bsx/gallery/58921832-1?page=1

<img width="1664" alt="image" src="https://user-images.githubusercontent.com/5887929/177149101-6e83cb37-3195-443c-9fe6-8a7c19d82bee.png">

[2022-07-04 12:07] yangwao commented on #3287
Introduced limit to 450 https://github.com/kodadot/rubick/commit/dce34bd7b6972e3f4f8c62828bb1117fa8602468

[2022-07-04 13:36] DeluneClaire opened #3330 "Minted NFT doesn’t want to load"
### What happened?

Minted an NFT, went to my profile, clicked on it, doesn’t load.

### Please reproduce in steps

/

### Expected Behavior

/

### What browsers are you seeing the problem on?

Firefox

### Are you logged in?

Yes

### At which address did you encounter bug?

beta.kodadot.xyz, kodadot.xyz

### Screenshots

<img width="1435" alt="obrazek" src="https://user-images.githubusercontent

[2022-07-05 00:20] #3307 closed

[2022-07-05 01:05] prachi00 commented on #3202
@yangwao @petersopko I am unable to reproduce this, seems to work for me, did you do anything specific? does it work after reload?

[2022-07-05 05:35] #3202 closed

[2022-07-05 07:20] roiLeo opened #3332 "can we format bsx $ better?"
Would it be possible to show only 2 decimals or hide it for bsx price numbers?

![Capture d’écran 2022-07-05 à 9 15 20 AM](https://user-images.githubusercontent.com/9987732/177271281-a8b7a0b7-e27f-49ff-8465-bc358cc7e2dd.png)

[2022-07-05 07:28] Jarsen136 commented on #3332
👋

[2022-07-05 08:26] Liiuuuu commented on #3305
:wave:

[2022-07-05 10:22] petersopko commented on #3330
thanks for reporting this, I've added your screenshot to the older task solving the same problem (it's basilisk issue, but the problem isn't with the chain, same thing is happening on rmrk):
- https://github.com/kodadot/nft-gallery/issues/3253

Closing this one so that we have it in one place :)

[2022-07-05 12:29] cryptodamsky commented on #2934
Article will be going out next week by our Ambassador Afrocryptomoney

[2022-07-05 13:09] yangwao opened #3333 "Add explainer at collection select for fresh minted collection for user"
We have an issue that when the user fresh mints a new collection, BSX has 12 second block time and Kusama has 6 seconds. So it takes longer to finalise on chain on Basilisk itself and another round trip to fetch data on our indexer and then once client can fetch it and see in their browser, which results in an approximate 30-60 seconds delay till the user can select it as a collection in the selec

[2022-07-05 14:21] yangwao commented on #3168
We've cut limits to 450 recently, observing if it would happen again.
- #3287

[2022-07-05 14:30] yangwao opened #3334 "Rework current pinning & storage strategy"
Hence there were unknown changes or at least on Basilisk we've noticed that after fresh minting things are not working.
Thus time to revisit the initial implementation of cf workers and how we have it in the current state.

Currently, the user pins stuff on Estuary, which we've found acting suboptimal as it's being stored on Filecoin (archive nodes(?) and retrieving through pinata gateway takes a

[2022-07-05 16:28] prachi00 commented on #3333
👋

[2022-07-06 10:02] yangwao opened #3337 "Differences between amount of items in collection"
Seems the collection is supposed to have two items, but see only one here

https://beta.kodadot.xyz/bsx/collection/2526524581?tab=items&page=1

<img width="1010" alt="image" src="https://user-images.githubusercontent.com/5887929/177525321-79e15ab5-1c51-4b6a-94f4-425eb6d5dd14.png">

and at the same time I see two items at create dialog

<img width="489" alt="image" src="https://user-images.githubus

[2022-07-06 10:06] yangwao commented on #3337
Might be related with #3334 on subsquid level

[2022-07-06 10:19] vikiival opened #3338 "Issue with indexedDB"
### What happened?

It is possible that IndexedDB is failing because of either:
- Bad defined store
- no keys provided?

### Please reproduce in steps

- Open moonsama (https://localhost:9090/moonsama)
- see error in console.

However the I've encountered some IDB bug in Firefox 🤷

### Expected Behavior

No IndexedDB error pls

### What browsers are you seeing the problem on?

_No response_

### A

[2022-07-06 11:03] vikiival opened #3339 "When user submits make offer action, offer should have 14 day expiration on-chain"
### Is your feature request related to a problem?

Currently offers are set to block 1mil

### Describe the solution you would like

I would like to see that we take current block and add number of blocks * 14

<img width="261" alt="Screenshot 2022-07-06 at 13 00 14" src="https://user-images.githubusercontent.com/22471030/177535688-4d637bce-5c1c-44e5-95c7-994b450f99ad.png">

basically formula =>
[

[2022-07-06 12:13] yangwao opened #3342 "Pagination and infinity scrolling is broken on Basilisk & Moonsama"
Wait till
- #3340 is merged

Seems pagination and infinity scrolling is broken 👀

but manually adding pages works

<img width="1390" alt="image" src="https://user-images.githubusercontent.com/5887929/177546461-ea559ece-c12f-41cf-80e3-41a33ba27a46.png">

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/3340#issuecomment-1176146437_

[2022-07-06 12:34] roiLeo opened #3345 "Request: new favicon"
![Capture d’écran 2022-07-06 à 1 56 40 PM](https://user-images.githubusercontent.com/9987732/177551238-c6d59972-52cf-450f-86f2-282c13adbb20.png)

Can we update kodadot favicon with something new (& fancy)?

#### multiple proposals
- Transparent bg

- Black logo on white bg
![K_black](https://user-images.githubusercontent.com/9987732/177961009-11979ea3-86f6-4439-94d8-5bc1165cc53a.png)

- White lo

[2022-07-06 12:45] roiLeo commented on #3342
This does not work because it's missing `infiniteScrollMixin` on `components/moonsama/Gallery/Item/GalleryItem.vue` same stuff for bsx

[2022-07-06 12:52] Jarsen136 commented on #3342
👋

[2022-07-06 13:14] yangwao opened #3346 "Make sure if user has enough funds to make offer (decimal points)"
Seems we don't check whether users can submit a higher offer than has the amount of balance on own account?
EDIT seems different kind of issue plus it's related to LIST, check screenshot below

https://user-images.githubusercontent.com/5887929/177558642-96455301-62ee-4446-b45f-e0327edc6b45.mov

<img width="624" alt="image" src="https://user-images.githubusercontent.com/5887929/177558417-f2920d84-f

[2022-07-06 13:16] Jarsen136 commented on #3346
👋

[2022-07-06 13:38] roiLeo opened #3347 "unknow disabled trash button"
![Capture d’écran 2022-07-06 à 3 36 46 PM](https://user-images.githubusercontent.com/9987732/177563121-e9040173-bb78-48a4-94d0-2ff62f4fc8c1.png)

What's this used for?
User may be lost because we don't know what this button does and why it's disabled.

[2022-07-06 13:40] yangwao commented on #3347
Supposed to be a delete collection on Basilisk, but it was made at the very last minute. I guess we should put it elsewhere?

[2022-07-06 13:44] roiLeo commented on #3347
can't we create a `/bsx/admin` like for rmrk? Is this page used for that kind of stuff?

[2022-07-06 13:59] petersopko opened #3349 "royalty event missing?"
Upon testing buying listed NFT with royalties, I don't see the event PAY_ROYALTY in history component of collection or in snek playground. This is the mentioned NFT https://beta.kodadot.xyz/bsx/gallery/235937109-8
It had royalty set, it has changed user and there was no royalty paid in the end. Not sure if I'm missing something here, but I was expecting to see royalty paid everytime NFT changes ow

[2022-07-06 14:19] Jarsen136 commented on #3342
ignore

Wait till the PR is merged

[2022-07-06 14:20] Jarsen136 commented on #3342
ignore

[2022-07-06 14:29] petersopko opened #3350 "burning nft produces error in console"
burning/consuming NFT in the end works, however it produces error in console and network, might wanna check this out
![image](https://user-images.githubusercontent.com/73316633/177574230-c1c75a62-65bd-42da-b0f0-ae82a2934a19.png)
![image](https://user-images.githubusercontent.com/73316633/177574336-4227f58e-7a52-4f95-8dce-3e5e37ebe1af.png)

[2022-07-06 14:36] petersopko opened #3351 "loading popup could be better"
whenever I'm processing any transaction (buy/mint/burn etc.) I see the loading popup and one thing bugs me about it. The loading starts with trivia (did you know) without any numbers, then proceeds into screenshot below:
![image](https://user-images.githubusercontent.com/73316633/177575700-8295f02f-ca0a-4cfe-86e0-78ef59f7a592.png)

After which it completely disappears. Since we're showing user 2/3

[2022-07-06 14:38] cryptodamsky opened #3352 "Minting on BSX doesn’t work on Firefox?"
### What happened?

Went to mint nfts, this pops up

### Please reproduce in steps

/

### Expected Behavior

/

### What browsers are you seeing the problem on?

Firefox

### Are you logged in?

Yes

### At which address did you encounter bug?

beta.kodadot.xyz

### Screenshots

<img width="492" alt="image" src="https://user-images.githubusercontent.com/92786519/177576269-f65f412a-d6fa-45d0-8133-

[2022-07-06 14:42] roiLeo commented on #3351
Random note: I find that when app is in error we can't escape this loading screen, it would be nice if we could cancel this popup

https://user-images.githubusercontent.com/9987732/177577323-4db48578-fa08-451e-a49e-6150f7298dcf.mov

[2022-07-06 14:46] petersopko opened #3353 "transfer shows address twice"
![image](https://user-images.githubusercontent.com/73316633/177578180-40e175e2-f9ca-4443-95d7-de168c92bcb9.png)

whenever I'm trying to transfer funds to other account, the address which will be funds sent to gets shown twice (works as one hyperlink)

Let's show it just once pls

[2022-07-06 15:03] roiLeo opened #3354 "missing token symbol in offers table"
Don't know if this has been done on purpose but you don't see `BSX` symbol on Offers table (maybe check history component too)

![Capture d’écran 2022-07-06 à 5 00 59 PM](https://user-images.githubusercontent.com/9987732/177582210-f6715529-6944-455c-a8d0-7bdd21b9a7ed.png)

[2022-07-06 15:05] zhengow commented on #3353
👋

[2022-07-06 15:14] #3332 closed

[2022-07-06 15:15] Jarsen136 commented on #3354
👋

[2022-07-06 15:17] cryptodamsky commented on #3352
What i do:

Open beta.kodadot.xyz

Switch address i want to mint from to Basilisk in polkadot JS like so:

<img width="528" alt="image" src="https://user-images.githubusercontent.com/92786519/177584887-fa4ec009-809d-4ba8-b8d6-bcbad08367ae.png">

Then i hit connect, select polkadot JS, but my address(bsx one) doesnt show up

<img width="1001" alt="image" src="https://user-images.githubusercontent.c

[2022-07-06 15:17] petersopko commented on #3352
after further testing with @cryptodamsky here, it seems that chain keeps getting stuck in firefox. i.e. he's switched to BSX in navbar, but he can still see his KSM address etc.

[2022-07-06 15:26] petersopko opened #3355 "Refactor: Money component"
Yeap, I just found out that. May need some extra work.

_Originally posted by @Jarsen136 in https://github.com/kodadot/nft-gallery/issues/3336#issuecomment-1176341491_

Since we're introducing multiple currencies, Money component should be refactored to reflect that in a way which is more robust that current implementation.

[2022-07-06 15:36] Jarsen136 commented on #3355
:wave

[2022-07-06 15:37] Jarsen136 commented on #3355
👋

[2022-07-06 15:49] petersopko commented on #3355
@Jarsen136 Sorry I haven't labeled this properly, I don't think we need to rush this as there will be a lot of work on Moonsama release + this is really `p5` issue, maybe take something which is more urgent ;) Let's leave it for the chunk of refactors which will be happening a bit later

[2022-07-06 15:57] cryptodamsky commented on #3352
Just loaded all the addresses - but lets see after mint or tommorow

[2022-07-06 16:07] cryptodamsky commented on #3352
Even managed to mint a collection but cannot mint any nfts into it

<img width="1916" alt="image" src="https://user-images.githubusercontent.com/92786519/177595162-8b4c2a1b-23a6-463a-9773-0840c886f5de.png">

[2022-07-06 16:10] joelamouche commented on #1088
So just to clarify: this on the collection page (https://kodadot.xyz/rmrk/explore?page=1) ?

[2022-07-06 16:19] prachi00 commented on #3345
transparent would look nice i think

[2022-07-06 16:42] joelamouche commented on #471
I feel like this is a pretty big task and could be broken down into two: one for the Front End and one for the Back End.
Also do you have a link to an example of Kodadot implementing serverless?

[2022-07-06 16:47] joelamouche opened #3356 "Clarify reward currency in REWARD page"
### Is your feature request related to a problem?

In https://github.com/kodadot/nft-gallery/blob/main/REWARDS.md , it is not clear in the table that the reward amount is in USD (and not KSM since it is your favorite currency)

### Describe the solution you would like

I would like to see the currency clearly stated, like in the label

### Describe alternatives you have considered

Put the KSM amo

[2022-07-07 04:50] #3354 closed

[2022-07-07 07:01] roiLeo opened #3360 "Refactor: SearchBar component"
too many lines for nothing

[2022-07-07 07:40] petersopko commented on #3360
Also just a minor thing, but we're currently calling the whole search section with `buy now` toggle, sort, slider etc. "search bar" which would normally indicate to me the search..bar. Where you type stuff.

[2022-07-07 08:56] vikiival opened #3361 "Invalid prop: tooltipOfferLabel"
### What happened?

Added in bf523e0e1522615dc211343801678025e597b2ff and 99672bcd1c8cc2d32b3995b0cd0863fcf71ed8e6

<img width="537" alt="Screenshot 2022-07-07 at 10 47 40" src="https://user-images.githubusercontent.com/22471030/177733104-9b217ff1-cdc5-4e78-818e-bbd9ba2b107b.png">

### Please reproduce in steps

- [ ] As logged user open some NFT detail on Basilisk
- [ ] e.g (http://localhost:9090

[2022-07-07 09:10] vikiival commented on #3361
Possible fix in #3324

[2022-07-07 09:36] yangwao opened #3362 "Not showing collection name and creator after fresh mint"
no errors on sidelines, mints shows well, just missing showing collection and creator after fresh mint
<img width="751" alt="image" src="https://user-images.githubusercontent.com/5887929/177742267-12107c0f-c026-4cad-8da7-757f2e89a9f4.png">

after reload it's there

<img width="711" alt="image" src="https://user-images.githubusercontent.com/5887929/177742673-ad190e01-c1cc-430b-8c2c-5e0f068d1f81.png

[2022-07-07 09:59] yangwao opened #3363 "Keep top border only on action buttons for on-chain actions"
To remove clutter from UI, would be nice just keep top-border on action buttons.

<img width="253" alt="image" src="https://user-images.githubusercontent.com/5887929/177745861-52028f03-ff89-4e3d-9b82-27e86b5614b2.png">

change it for
- BUY
- GIFT
- BURN
- LIST
- SHARE JOY

- remove Download button from actions and download functionality with icon https://fontawesome.com/icons/download?s=solid next

[2022-07-07 10:05] yangwao opened #3364 "Fetching for collection for KSM chain while on BSX"
Seems singleton instance might cause some issues but seems this is not the case as don't have opened another window as it is the only one point to kodadot

Mind **set correct address 2** after connected to basilisk.
Seems this is the culprit of many issues we have there.

<img width="1441" alt="image" src="https://user-images.githubusercontent.com/5887929/177748520-db5fcb6b-0d18-4ca5-a3e3-121b4af9

[2022-07-07 10:13] yangwao commented on #3342
Seems basilisk has this issue as well 👀

https://beta.kodadot.xyz/bsx/explore/?tab=GALLERY&page=1

<img width="1021" alt="image" src="https://user-images.githubusercontent.com/5887929/177749861-a5d77517-4e78-488d-bf01-067d4490c928.png">

[2022-07-07 10:15] zhengow commented on #3363
👋

[2022-07-07 10:54] yangwao opened #3365 "After minting on RMRK user is not redirect to new mint?"
I've just minted this on rmrk, resource like picture works well when I open it through my profile
but doesn't redirect me to my new mint.

happened here https://github.com/kodadot/nft-gallery/pull/3358

so feel free test on recent `main` if still happens https://beta.kodadot.xyz

<img width="1428" alt="image" src="https://user-images.githubusercontent.com/5887929/177757113-295a70db-b695-4dfe-8329-

[2022-07-07 11:22] yangwao opened #3367 "Identity at item is shown twice?"
Showing two times identity on gallery item?

https://beta.kodadot.xyz/bsx/gallery/3195582573-3

- #3357  seems related by @zhengow

<img width="256" alt="image" src="https://user-images.githubusercontent.com/5887929/177761999-bf2cf163-719f-4ae7-a2b4-3eaef3d5b0da.png">

yup, in
- #3324 doesn't happen

<img width="251" alt="image" src="https://user-images.githubusercontent.com/5887929/177762365-32f8

[2022-07-07 11:41] Jarsen136 commented on #3367
👋

[2022-07-07 11:57] yangwao commented on #3346
@Jarsen136 found it happens for LIST as well

[2022-07-07 11:58] Jarsen136 commented on #3346
ok, I will check them

[2022-07-07 12:06] yangwao commented on #3352
@cryptodamsky can you try now on https://beta.kodadot.xyz ?
https://kodadot.xyz should work as well

if works, please close this one

[2022-07-07 12:08] yangwao commented on #3253
should be fixed
- #3358

[2022-07-07 12:08] #3253 closed

[2022-07-07 12:09] yangwao commented on #3291
The collection name is being shown up already, yet it still takes some time for a fresh collection is being shown.

[2022-07-07 12:11] yangwao commented on #3264
Closing as it's working

[2022-07-07 12:12] #3263 closed

[2022-07-07 12:17] yangwao commented on #3302
Seems same error as in
- #3346

[2022-07-07 12:17] #3302 closed

[2022-07-07 12:30] yangwao opened #3368 "Bugs on Basilisk v0"
Current bugs we are aware of and which are making some sort of **p1 issue and breaking experience** to have fully comfortable usage of NFT marketplace on Basilisk within KodaDot.

@petersopko would keep editing this issue & monitoring upcoming issues reported by users as there might be a lot of other errors that might arise during testing we need to nail down actively.

### Sorted by severity (hig

[2022-07-07 13:00] #3177 closed

[2022-07-07 13:45] roiLeo commented on #3368
- [ ] `/bsx/detail/{id}` is using `rmrk` GalleryItem instead of `bsx` GalleryItem like `/bsx/gallery/{id}`

[2022-07-07 13:53] kkukelka commented on #3365
👋

[2022-07-07 14:08] yangwao opened #3370 "NFT storage seems having maintenance already?"
this is quite bad that we are receiving even from nft storage 408.
Just 6 hours ago it worked well. Seems might be related with upcoming NFT.storage maintenance?

<img width="716" alt="image" src="https://user-images.githubusercontent.com/5887929/177793730-4a771836-fe5a-432e-aea5-f57b0cb87502.png">

https://bafkreieuiuimyedzn5bl5ue3ugcb5u6wboyboovdl7pcohblc46lkaf62e.ipfs.nftstorage.link/

<img wid

[2022-07-07 14:13] yangwao commented on #3370
okay it's working again

[2022-07-07 14:13] #3370 closed

[2022-07-07 14:18] zhengow commented on #3367
Already see MR. Sorry for the bug😅

[2022-07-07 14:52] #3367 closed

[2022-07-07 17:10] jkdizajn opened #3372 ""Buy Now" Button not work on collection page (BSX)"
### What happened?

BUY NOW filtering does not seem to work at the level of individual collections

### Please reproduce in steps

Info in the attached video

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

Firefox, Chrome

### Are you logged in?

Yes

### At which address did you encounter bug?

kodadot.xyz

### Screenshots

https://user-images.githubus

[2022-07-08 04:45] zhengow commented on #3339
`const BLOCK_OFFSET = 5 // time between submit & finalization`
I am wonrder that
1. is `BLOCK_OFFSET` constant number `5`
2. or it is query from `offerList`?

![image](https://user-images.githubusercontent.com/38389586/177918506-f5016546-ba37-40df-a23a-fa2cb90abb40.png)

[2022-07-08 07:08] roiLeo commented on #3363
That's a lot of border top in one screen, I would try something new.
maybe remove colors; add corresponding emoji; "BUY" button as a CTA;  rename "MAKE OFFER" to "BID"

as you wish 🏎️

[2022-07-08 08:01] vikiival commented on #3339
It's a [Bulgarian constant](https://www.urbandictionary.com/define.php?term=Bulgarian%20constant)

It's there because it takes around 5 blocks for user to click on the button, sign transaction and finalize the transaction within block

[2022-07-08 08:19] roiLeo opened #3374 "Sometimes price is not showing in local env"
Tested on `/bsx/collection/4011142362`

don't know how to reproduce it yet

and Theater mode is not saved in preferences?

https://user-images.githubusercontent.com/9987732/177952386-f57814d8-6a27-46d8-94bf-eda3c37d3bac.mov

[2022-07-08 08:44] petersopko commented on #1088
that's the plan with this feature, yes, we'd like to add more filters to the collections search section

[2022-07-08 08:54] petersopko commented on #1023
Our search bar is already doing this, this task was created a long time ago, but when it comes to other mentioned features, I think we'd rather go with toggle buttons / range slider for floor price range since we're using those in other places.

[2022-07-08 09:06] petersopko opened #3375 "Changing currency in Create/Simple - rmrk"
When trying to change currency within the create/simple mint screen, there's this pink large bar appearing (with faded out warning sign in it). After changing back to KSM (tested on RMRK) it doesn't disappear.
![image](https://user-images.githubusercontent.com/73316633/177957927-d9e6e866-4733-49c9-9a89-8a268bbfd0eb.png)

[2022-07-08 09:15] petersopko commented on #3356
thanks for the feedback :), this is more of an docs issue, moving it here https://github.com/kodadot/docs/issues/67

[2022-07-08 09:15] #3356 closed

[2022-07-08 09:17] cryptodamsky commented on #3352
Still same issue:)

[2022-07-08 09:26] petersopko commented on #3333
Tested this right now on RMRK, it's the same thing. We need to add explainer there as well, this time it took me good 5 minutes of refreshing until I saw the collection I minted :(

[2022-07-08 09:32] yangwao opened #3376 "Basilisk v0.2"
Seems we are having some changes to BSX implementation

- new RPC node `wss://rpc-01.basilisk-rococo.hydradx.io`
- https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Frpc-01.basilisk-rococo.hydradx.io#/accounts
- testnet is being set by BSX team

If I get it right, we need to add support for transaction MultiPayment, so users can pay payment fees in KSM
This would involve a change to our UI.

### Seems

[2022-07-08 09:33] kkukelka commented on #3375
👋

[2022-07-08 09:43] vikiival commented on #614
Regarding to the `Mass Mint` implementation I haven't touch it since September 2021.

But what we learned:
- It would be much safer to do it as a CLI or so.
- Because when the fileupload drops in the middle (let's say 50/100) you are basically f*ked

[2022-07-08 09:53] petersopko commented on #3375
@kkukelka just a small addition, this also happens when I'm changing the amount, not just the currency 🤔

[2022-07-08 10:33] kkukelka commented on #3375
@petersopko yep, there is some funky stuff going on the the handling of the current balance input. especially when changing currencies

[2022-07-08 11:11] yangwao commented on #3291
Explainer will be added
- https://github.com/kodadot/nft-gallery/issues/3333

The fix could be adding
- fetching for a user recent new collections through indexer as right now we are doing it on a fresh load
- fetch from the chain by address recent collections from last blocks by user-id

[2022-07-08 11:20] yangwao opened #3378 "Center table at BSX stats and handle longer item names"
Would be nice to limit length of item name to 50 characters

Seems we are not reading all items' names?
edit, due to Estuary issues in past, we have not indexed all the stuff there.
✅ seems the new one works now well.

https://deploy-preview-3373--koda-nuxt.netlify.app/bsx/stats/

<img width="1383" alt="image" src="https://user-images.githubusercontent.com/5887929/177984206-6f08e096-9934-413a-9c3d

[2022-07-08 11:31] joelamouche commented on #614
I am using a CLI script to mass mint Substraknights here (https://github.com/joelamouche/rmrk2-examples/tree/dev). Is this for rmrk?

[2022-07-08 11:32] joelamouche commented on #1023
In what other places are you using those?

[2022-07-08 11:45] Jarsen136 commented on #3378
👋

[2022-07-08 11:46] vikiival commented on #614
I think generally for every chain.
So far we have only RMRK Classic as a package `@kodadot1/minimark` but other chains/implementations will come.

[2022-07-08 11:56] joelamouche commented on #614
Supporting every chain is going to be way more complicated...

[2022-07-08 12:07] petersopko opened #3379 "Refactor: NFT storage"
Next candidate for refactor:
- #3358

_Originally posted by @vikiival in https://github.com/kodadot/nft-gallery/issues/3310#issuecomment-1177253672_

I take it, that as @vikiival mentioned, we should refactor / rethink the way our current NFT storage option work

- #3334

[2022-07-08 12:31] petersopko commented on #3337
I cannot reproduce this after we introduced the new nft.storage, if it's the same for you, maybe let's close this one

[2022-07-08 12:49] petersopko commented on #3168
okay, just noticed this cors error is for rubick while I'm on bsx so perhaps this is more related to
- https://github.com/kodadot/nft-gallery/issues/3364

[2022-07-08 12:51] petersopko commented on #3347
related to
- https://github.com/kodadot/nft-gallery/issues/3206

It's disabled because the collection isn't empty, and once it's empty, you won't see the collection unless you have a link.

I think this could be the solution, but would follow this in the issue mentioned above

[2022-07-08 12:55] petersopko commented on #3206
as @roiLeo mentioned in
- #3347

the trash button only works if you have link to empty collection, example here:
https://kodadot.xyz/bsx/collection/845595670

![image](https://user-images.githubusercontent.com/73316633/177996089-e2868817-826c-4b1e-8b6c-0f332bbfe14f.png)

[2022-07-08 15:11] petersopko commented on #3292
unchecking the buy now toggle, seems that it's not working
- https://github.com/kodadot/nft-gallery/issues/3372

[2022-07-08 16:50] prachi00 commented on #3333
@petersopko any suggestions on what the explainer should say?

[2022-07-08 16:56] petersopko commented on #3333
Hmm, let's start with "Please wait: your collection was minted and will show up in the selector below shortly". The actual message can change once we see how does it look in PR, I'm welcoming more ideas here (I don't think we want to give user too much information about chain / indexer diff etc.)

[2022-07-08 16:56] #3375 closed, assigned to kkukelka

[2022-07-08 16:56] zhengow commented on #3339
got it:)

[2022-07-08 17:00] zhengow commented on #3339
👋

[2022-07-08 17:50] kkukelka commented on #3372
👋

[2022-07-08 18:54] prachi00 commented on #3368
can you explain more about this? like which url exactly?` /bsx/gallery/2151001007-2` this one?

[2022-07-08 19:08] roiLeo commented on #3368
https://github.com/kodadot/nft-gallery/blob/main/pages/bsx/detail/_id.vue#L8

[2022-07-08 19:14] prachi00 commented on #3368
in the code, I don't see any route redirection to `/bsx/detail `, how will the user get redirected to this?

[2022-07-08 19:18] prachi00 commented on #3339
@zhengow so I reduced the expiration on my local to see if the offer expires, but it did not, I feel like there are further changes to be made for this? can you confirm once?

[2022-07-09 02:34] zhengow commented on #3339
Since I have no `BSX token` and hard to do `offer` operation, could you tell me how to reproduce this step by step? 🤣
Besides, where can I get `BSX token`?

[2022-07-09 07:28] prachi00 commented on #3339
can you message on discord to @vikiival or @yangwao your bsx address, they'll add some

[2022-07-09 08:49] vikiival commented on #3339
When offer expires it is still available on chain, however it is impossible to claim it

[2022-07-09 09:40] vikiival commented on #3180
Should be oki

[Moonsama collection](https://beta.kodadot.xyz/moonsama/collection/0xb654611f84a8dc429ba3cb4fda9fad236c505a1a?tab=holders)

<img width="2003" alt="Screenshot 2022-07-09 at 11 40 06" src="https://user-images.githubusercontent.com/22471030/178100355-78989efe-7ed0-49d9-9a8f-35c8e70348c0.png">

[2022-07-09 09:53] vikiival commented on #3179
Currently it's almost impossible for me to index the exisiting marketplace smart contract as there is no documentation or smart contract available.

https://github.com/kodadot/click/issues/13

[2022-07-09 09:56] vikiival commented on #3182
[Holdings looks oki](https://beta.kodadot.xyz/moonsama/u/0x59C481548CE7BA13f3288df9f4FCf44a10A589A0?tab=holdings)

<img width="2133" alt="Screenshot 2022-07-09 at 11 55 49" src="https://user-images.githubusercontent.com/22471030/178100864-8dab8fad-ee3e-448b-b3b2-0ec583891373.png">

[2022-07-09 10:04] vikiival commented on #3183
[History OKI?](https://beta.kodadot.xyz/moonsama/collection/0xb654611f84a8dc429ba3cb4fda9fad236c505a1a?tab=history)

<img width="2226" alt="Screenshot 2022-07-09 at 12 03 09" src="https://user-images.githubusercontent.com/22471030/178101081-43e95e9b-18e1-4d48-a438-3f3909553acb.png">

[2022-07-09 10:13] vikiival commented on #3178
Except the known bug of
- #3342

it should be oki

[2022-07-09 10:52] yangwao commented on #3374
Roomba nft doesn't have price set 👀

[2022-07-09 11:12] petersopko opened #3384 "Firefox errors when using KodaDot"
I'm trying to test KodaDot with Firefox incognito, and my console is very red. Seems that every click/operation within the app produces the same error.
`
Uncaught (in promise) DOMException: A mutation operation was attempted on a database that did not allow mutations.
`
On top of that, there are various network errors:

Network errors:
![image](https://user-images.githubusercontent.com/73316633/17

[2022-07-09 11:16] petersopko commented on #3384
Not sure if this is because of my firefox settings, but I currently can't even get to minting
- https://github.com/kodadot/nft-gallery/issues/3352

[2022-07-09 11:18] yangwao commented on #3374
can you try now @roiLeo ? we've re-run Snek indexer so some data might start showing up.

like stats started showing up

<img width="872" alt="image" src="https://user-images.githubusercontent.com/5887929/178103387-7cd3ad0c-737a-4ffc-a125-79c973834b0f.png">

[2022-07-09 11:20] petersopko commented on #1023
In gallery search section, when using rmrk for example:
![image](https://user-images.githubusercontent.com/73316633/178103418-044c95d1-3c02-424c-8549-c2f8e65e2b30.png)

[2022-07-09 11:28] petersopko opened #3385 "BSX stats currently showing burned NFTs"
let's remove burned NFTs from BSX stats?
example from @Jarsen136 centered PR:
- https://github.com/kodadot/nft-gallery/pull/3382

Link to burned NFT:
https://deploy-preview-3373--koda-nuxt.netlify.app/bsx/gallery/3639335494-1

![image](https://user-images.githubusercontent.com/73316633/178103605-9289e6c9-8cea-4b33-b1cc-13105aa55268.png)

[2022-07-09 11:33] Jarsen136 commented on #3385
👋

[2022-07-09 11:41] yangwao commented on #3384
With Safari happens likewise I see a bunch of errors in explorer (504 on pictures).
Probably we will put it on hold, make firefox and safari less supported browsers with KodaDot
Curious, is the passion filter default on there? Seems that takes bit much more time to resolve on the user side.

[2022-07-09 11:45] yangwao commented on #3203
it would be helpful to have this page to people withdraw offer from burned nfts
https://deploy-preview-3373--koda-nuxt.netlify.app/bsx/gallery/3639335494-1
<img width="962" alt="image" src="https://user-images.githubusercontent.com/5887929/178104252-e8ce84e0-5072-47e2-9c3f-b54e2340fde0.png">

[2022-07-09 12:03] #3278 closed

[2022-07-09 12:03] #3361 closed

[2022-07-09 12:04] yangwao commented on #3346
you can check this one if you want so :)

[2022-07-09 12:09] yangwao commented on #3346
Seems we already handle some sort of "max", but not available amount of user balance

<img width="244" alt="image" src="https://user-images.githubusercontent.com/5887929/178105040-2c5e78a0-af9a-4297-bb1a-e9843a1e03fd.png">

[2022-07-09 12:12] petersopko commented on #3339
even if you're not on discord, feel free to drop it here for further testing :)

meaning, this is the best we can do now and we can close this?

[2022-07-09 12:13] yangwao opened #3387 "Show available balance at gallery item at Basilisk"
On KSM (RMRK) we are showing user balance, but seems I don't see it at Basilisk?

<img width="349" alt="image" src="https://user-images.githubusercontent.com/5887929/178105142-fbf1b36b-a2c8-41b6-9bfe-ed7b2a4b298b.jpg">

[2022-07-09 12:18] vikiival commented on #3339
This is not done :D

the linked PR does not do anything.

[2022-07-09 12:25] vikiival commented on #3339
Updated deliverables

[2022-07-09 12:32] petersopko commented on #3384
passion filter was previously on by default, but we turned it off since user without bought nfts didn't see anything,
same thing will be on landing page, off by default:
- https://github.com/kodadot/nft-gallery/pull/3151

[2022-07-09 12:35] Jarsen136 commented on #3387
👋

[2022-07-09 12:36] yangwao commented on #3339
Hey, I guess clarification was not perfect in the issue, now it was changed to be better.
We've reviewed on that and now I hope @zhengow will understand what is supposed to be done. :)

Looking forward to new PR 😄

[2022-07-09 12:40] Jarsen136 commented on #3346
Oki, I will check it.

[2022-07-09 12:54] petersopko opened #3388 "moonsama collections images"
currently, I'm not seeing moonsama collection images as opposed to what I'm seeing at https://marketplace.moonsama.com/collections

explore:
![image](https://user-images.githubusercontent.com/73316633/178106609-298f91d6-6487-4443-b4ba-94c20e13b71d.png)

landing
![image](https://user-images.githubusercontent.com/73316633/178106619-a0d66395-5adf-42e6-8fa8-a72bf1d39296.png)

[2022-07-09 13:18] vikiival commented on #3388
This was mentioned in #3340 that it does not work because I forgot to index it.

The fix is in kodadot/click@573504fb8b4dc604b37bd410376566e1d43152a8

[2022-07-09 13:18] #3388 closed

[2022-07-09 13:19] yangwao opened #3389 "Disable minting button if user set zero value for listing"
Disable submit button if a user submits NFT with listing price 0 as seems we've got an error.

<img width="978" alt="image" src="https://user-images.githubusercontent.com/5887929/178107266-1c5b07c2-c595-4916-bfb6-d81d03b15060.png">

[2022-07-09 13:23] yangwao commented on #3362
When the collection is existing for while, seems doesn't happen.

<img width="794" alt="image" src="https://user-images.githubusercontent.com/5887929/178107666-6cbb8115-91e0-4299-92e8-7289c071bbf5.png">

[2022-07-09 13:45] yangwao commented on #3342
@Jarsen136 want to take it?:)

[2022-07-09 13:47] Jarsen136 commented on #3342
Yes, I have found where the problem

[2022-07-09 13:55] yangwao commented on #3360
Best window this could be done once we release
- Basilisk
- stabilize Moonsama

Approx after 20/7

[2022-07-09 13:59] kkukelka commented on #3389
👋

[2022-07-09 14:22] #3387 closed

[2022-07-09 15:12] petersopko opened #3393 "search at rmrk produces magick errors"
not sure if we're tracking this or if it's a current outage, but search at rmrk produces bunch of errors in console
![image](https://user-images.githubusercontent.com/73316633/178111550-de7a90be-4f3b-4e78-8af7-2a6ed39d42bb.png)
network output:
[code]

[2022-07-09 15:18] Jarsen136 commented on #3393
related to https://github.com/kodadot/nft-gallery/issues/3321
and may fixed at https://github.com/kodadot/nft-gallery/pull/3323

[2022-07-09 15:31] zhengow commented on #3339
Ok, I will give a new PR

[2022-07-09 15:35] petersopko opened #3395 "Balance on account not loading properly"
~Trying to burn NFT, my balance shows me zero on both Transfer / item detail, didn't catch that in screenshot, after refresh there's a balance, but still won't let me burn because apparently, balance 0.~

When the balance reappears after refresh, I can burn/buy/perform transaction now thanks to:
- #3396

The issue with balance initially loading with 0 is still here on deploy from #3396 or on beta.

[2022-07-09 15:50] Jarsen136 commented on #3395
👋

[2022-07-09 16:08] roiLeo commented on #3374
tested again, clean install/repo
Price is doing weird glitch same with vuex preferences

https://user-images.githubusercontent.com/9987732/178113643-d8018b08-3830-4db9-9b4a-3e0c8bbfa999.mov

I can see prices on `/bsx/stats`

<img width="740" alt="Capture d’écran 2022-07-09 à 6 08 04 PM" src="https://user-images.githubusercontent.com/9987732/178113719-34d81323-7cb3-4dcb-a53a-c73d151ebed3.png">

[2022-07-09 17:21] zhengow commented on #3339
bXhBsKmbQ2nJ5jgcdrr3Zd3VZ6uEg6cKumNV8ZY8PKkNvDi3T
Can I get some `BSX Token` for test? 🤭

[2022-07-09 17:27] GoodnessNwanebu commented on #2277
Hi, is this still on? If yeah? What will you like to see in a "perfect" article?

[2022-07-09 19:29] roiLeo commented on #3368
resolved in #3282

[2022-07-09 20:56] prachi00 commented on #3346
max is set as user balance, probably some formatting issue

[2022-07-09 21:13] #3346 closed

[2022-07-10 06:55] kkukelka opened #3398 "Filtering in Gallery on Basilisk is broken 🐛"
### What happened?

Having trouble filtering items on `/bsx/explore`
- No matter what I try to filter by, results are always the same
- Furthermore, filter selections seem to get stuck in their state?
- Querying for only listed items via "Buy now"-switch also doesn't work as intended it seems?

Scope of ticket:
- Fix `SearchBar.vue` such that it works with basilisk explorer

https://user-images.gi

[2022-07-10 08:06] petersopko commented on #3398
hmm, I think we're sufficiently tracking this in
- https://github.com/kodadot/nft-gallery/issues/3293

let's close to avoid having this scattered in multiple places

[2022-07-10 08:06] #3398 closed

[2022-07-10 08:27] petersopko commented on #3339
sent :)

[2022-07-10 08:30] petersopko commented on #3183
wfm

[2022-07-10 08:30] #3183 closed

[2022-07-10 08:36] petersopko commented on #3180
wfm

[2022-07-10 08:36] #3180 closed

[2022-07-10 08:49] petersopko commented on #3182
hmm seems to work, just one thing tho, when trying to expand the collection with thousands of holdings (such as Pondsama in account you provided), my chrome becomes unresponsive (I assume, the query takes too long?) It loads after a while, but we're talking minutes. Can't even provide network report, since the tab where I'm attempting this just freezes.

[2022-07-10 08:53] petersopko commented on #3389
weirdly, I can't reproduce this bug, I'm minting with price 0 just fine? I get the warning @Jarsen136 implemented, not sure if I'm not getting something, but since @kkukelka took it, I assume other people face similar issues. Just a note, it looks from the message of the error that the number was considered too large?

[2022-07-10 08:54] petersopko commented on #3362
tested and it happens for me even with collections I've had for days 🤔

[2022-07-10 09:27] vikiival commented on #3182
I guess that the query is just poorly written imo

[2022-07-10 09:28] kkukelka commented on #3389
@petersopko cant reproduce either
just minted with price 0
`/rmrk/detail/13497940-64274F293D519F050C-AVGMUG-RED_MUG-0000000000000001`

[2022-07-10 09:37] petersopko commented on #3178
yep, let's close this one and let @Jarsen136 do the magic 🪄 with infinite scroll

[2022-07-10 09:37] #3178 closed

[2022-07-10 10:13] Jarsen136 commented on #3389
Me too. I could not reproduce that error when minting with price 0.

[2022-07-10 10:26] petersopko commented on #3395
adding this here
![image](https://user-images.githubusercontent.com/73316633/178140985-6ec24480-3e53-4c4e-a306-105f760e19b8.png)

probably same bug as this one, but showing up differently:
- https://github.com/kodadot/nft-gallery/issues/3364

[2022-07-10 11:50] yangwao opened #3400 "Expand ability to set offer expiration in days"
When a user is making offer, add the ability to set preset expiration in days for the offer in the dropdown
- 1 day
- 3 days
- 7 days
- 14 days
- 30 days

hint Modify DAY_COUNT from #3339

Blocked by
- https://github.com/kodadot/nft-gallery/issues/3339

<img width="262" alt="image" src="https://user-images.githubusercontent.com/5887929/178143395-6de10c70-21b2-46f8-bd84-ef8f7e3cc04c.png">

[2022-07-10 12:03] petersopko commented on #3294
👀
![image](https://user-images.githubusercontent.com/73316633/178144067-af359ed0-2f54-49b9-b9fd-2fb8d0f03233.png)

[2022-07-10 12:03] yangwao opened #3401 "Screen to sweep expired offers for user"
Make a dedicated screen for users, where users can see their own expired offers to sweep locked balances back to their account
- It can be another tab on top of #3203, which shows you only expired offers.
- Show the total amount of offers for user
- show the total amount of locked & expired offers for the user
- Add a button which would unlock/sweep all expired offers for the user back to their ac

[2022-07-10 12:08] yangwao opened #3402 "Shifted kodadot logo on social card preview"
Hence previews work again!

<img width="498" alt="image" src="https://user-images.githubusercontent.com/5887929/178144215-3af7a1e2-651a-4be2-b751-c489d9dd5797.png">

can we fix the background of our logo 🙄

<img width="103" alt="image" src="https://user-images.githubusercontent.com/5887929/178144199-28ae7267-be6e-468e-bc74-a5d0f0175105.png">

once
- #3282
is merged could this one be done

[2022-07-10 12:18] petersopko opened #3403 "Passion Feed for Basilisk"
Passion Feed toggle for BSX currently results in never ending loader with network error:
[code]

- [ ] add passion feed resolver (mind the changes implemented after initial PR in rubick)
- https://github.com/kodadot/snek/issues/37
- [ ] implement passion feed on front end

[2022-07-10 12:22] yangwao commented on #3403
Can we disable it for bsx for now?

[2022-07-10 12:32] petersopko commented on #3221
tested right now with multiple kusama / moonsama addresses and it worked without a problem

[2022-07-10 12:32] #3221 closed

[2022-07-10 12:52] yangwao commented on #3364
I know @Jarsen136 might be great for investigation 😄
I've also raised the amount as it's becoming a bit culprit of other issues.

### hints
- vuex-persist
- https://github.com/kodadot/nft-gallery/blob/main/store/index.ts#L33
- https://github.com/kodadot/nft-gallery/blob/main/store/identity.ts#L112
- https://github.com/kodadot/nft-gallery/blob/main/store/chain.ts

[2022-07-10 13:00] yangwao commented on #3364
Seems somewhere internally it connects to Kusama for the very first time.

This time it played well, but usually, it goes in a different order.
Check network and WS network tab in incognito for first time

<img width="795" alt="image" src="https://user-images.githubusercontent.com/5887929/178145903-f14ae028-3f0e-4e69-ac76-faf8f9881927.png">

[2022-07-10 13:02] yangwao commented on #3364
Seems there is a desync of operations once first time client connects to the default endpoint and first initial requests comes afterwards once already client is reporting connected to BSX

https://github.com/kodadot/packages/blob/99d6be9c0ad2dc62000c67945a4e3ebfcaf4c15e/vuex-options/src/defaults/endpoints.ts#L84

[2022-07-10 13:21] roiLeo commented on #3402
#3038 related

[2022-07-10 13:22] yangwao commented on #3364
The suggestion is to remove vuex-persist

We might loose permanent settings

<img width="1181" alt="image" src="https://user-images.githubusercontent.com/5887929/178146665-6a8c9724-60e1-4e74-ad20-989109bfcc62.png">

[2022-07-10 13:57] petersopko commented on #3294
hiding / altering more stuff here until we have subscan/bsx
- https://github.com/kodadot/nft-gallery/pull/3406

[2022-07-10 13:58] petersopko commented on #3403
- https://github.com/kodadot/nft-gallery/pull/3406

[2022-07-10 17:46] zhengow commented on #3339
got it!
thanks a lot:)

[2022-07-10 19:38] razi429 opened #3407 "Hide On-Chain Attributes option on Collection level"
### What happened?

Create Collection form asks for value in onchain attributes section.
Feels a bit odd as attributes are defined at NFT level..
if this to capture what the master set of attributes allowed with this collection, then the value field needs to changed to multiselect or something.

### Please reproduce in steps

Select BSX chain, then goto create collection.

### Expected Behavior

E

[2022-07-10 19:58] Liiuuuu commented on #3305
👋

[2022-07-10 21:13] GoodnessNwanebu opened #3408 "Making corrections to the Kodadot docs"
![image](https://user-images.githubusercontent.com/101809360/178162164-c40ab768-de46-465d-a8d3-d6cbf064681a.jpeg)

![image](https://user-images.githubusercontent.com/101809360/178162224-0536916c-5d53-4332-b772-a2994223eb62.jpeg)

In the first picture, the correct phrase should have been: " we thrive on becoming a non-exclusive..."

In the second, their was a mistake in spelling ecosystem. I hope t

[2022-07-11 00:49] #3378 closed

[2022-07-11 01:12] prachi00 opened #3409 "History in top nav in BSX shows RMRK nfts"
### What happened?

A bug happened

<img width="1497" alt="Screen Shot 2022-07-10 at 6 14 54 PM" src="https://user-images.githubusercontent.com/39299315/178171104-11b5041d-3467-4db0-bdd0-2deccbf6a530.png">

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

_No response_

### At which address

[2022-07-11 01:36] prachi00 commented on #3409
@vikiival @roiLeo how do we handle this for different chains? do we create new keys for local storage for each chain and then fetch it accordingly?

[2022-07-11 06:51] roiLeo commented on #3409
We'll need to update `history.ts` code from Vuex Store

yes, try to add a prefix param and then return the right visitedNFTs

[2022-07-11 07:07] roiLeo commented on #3374
updated pnpm to 7.5.0 and now its working again :dizzy_face:

[2022-07-11 07:09] roiLeo commented on #3374
nvm...

[2022-07-11 07:11] #3372 closed

[2022-07-11 09:35] #3342 closed

[2022-07-11 09:44] petersopko commented on #3407
hey @razi429 thanks for reporting this :) I understand, this can indeed produce some amount of confusion, we're currently not using the on-chain attributes on collection for anything meaningful and given your report, I think it would be best to hide it for now to not confuse future users.

[2022-07-11 09:54] #3321 closed

[2022-07-11 09:56] #3393 closed

[2022-07-11 09:58] yangwao commented on #1129
Continue to https://github.com/kodadot/nft-gallery/discussions/3404

[2022-07-11 09:58] #1129 closed

[2022-07-11 10:05] petersopko commented on #3389
still can't reproduce the originally reported bug, but I've tried to put in very large numbers and I was successful at producing error message displayed at the image below. I think It would be in general best to look once again into the input field of price and make sure user won't be allowed to hit `click to create nft(s)` if he's about to run into some issues such as the one reported by @yangwao

[2022-07-11 10:56] petersopko commented on #3305
ignore

[2022-07-11 11:03] petersopko opened #3411 "Different assign time for issues labeled writing"
Since most of the writing issues are labeled `$$` - `$$$`, writers who get them assigned are getting between 48 - 72 hours to finish the article which seems short. I'm wondering what could be the appropriate time for `writing` assignment, thoughts:

- flat time for writing tasks such as 7 or 14 days
- boost in time for assignment expressed in percentage such as 200-300 percent etc.

This change is

[2022-07-11 11:14] yangwao opened #3412 "Disabled buy on basilisk even I have enough balance?"
Seems to buy is disabled even though I have enough balance?

https://beta.kodadot.xyz/bsx/gallery/2645998698-6
https://beta.kodadot.xyz/bsx/gallery/2645998698-9?page=1

<img width="249" alt="image" src="https://user-images.githubusercontent.com/5887929/178252172-dcf9b383-18f8-45ab-9823-12ed5ff3cf0d.png">

after reload
seems I can "click on buy" but can't submit?

<img width="244" alt="image" src="

[2022-07-11 11:23] yangwao opened #3413 "I can accept my own offer for nft I've bought"
Seems weird glitch, we are missing some checks on offers table?

https://beta.kodadot.xyz/bsx/gallery/2645998698-6?page=2

<img width="1067" alt="image" src="https://user-images.githubusercontent.com/5887929/178253610-a3c8d7a8-65fd-436d-8c51-d9db3538e079.png">

[2022-07-11 12:43] #3412 closed

[2022-07-11 14:01] thea-exe commented on #3408
Done! Thank you :)

[2022-07-11 14:03] DeluneClaire commented on #3235
🤣

[2022-07-11 14:05] thea-exe commented on #2780
https://www.youtube.com/watch?v=fr5KddMBvMg

looks like there's someone who did this back in January!

[2022-07-11 14:07] thea-exe commented on #2780
@yangwao ready to close? :)

[2022-07-11 14:13] #2715 closed

[2022-07-11 14:29] thea-exe commented on #2276
<img width="656" alt="Screen Shot 2022-07-11 at 10 29 43 AM" src="https://user-images.githubusercontent.com/65369742/178288131-886f8385-fb85-4240-a1e3-8c802b05638b.png">
Currently what's in the docs rn

[2022-07-11 15:35] thea-exe commented on #3411
7 days looks good! I was wondering if it was possible to maybe have a keyword that would extend the time if the writers think it would take more time?

For example:
👋 ➕  would assign them the task and then add on 3 days if the writer feels it's right? Flat time can be 7 days though

[2022-07-11 15:39] GoodnessNwanebu opened #3416 "Correction to sentences on the docs"
### Is your feature request related to a problem?

Hi, I was going through Kodadot’s docs and I saw some mistakes I’ll love to communicate to the team.

### Describe the solution you would like

I will love to see that these mistakes are corrected. This helps improve the readability of the docs

### Describe alternatives you have considered

Review of the docs from time to time will be a plus

###

[2022-07-11 15:45] thea-exe commented on #3042
Close this?

[2022-07-11 17:17] prachi00 commented on #3389
👋

[2022-07-11 17:20] kkukelka commented on #3407
👋

[2022-07-11 17:29] RieserStern commented on #3413
I can do it

[2022-07-11 18:23] kkukelka commented on #3413
As you can see above, the issue has already been assigned to someone else and is now considered locked. In the meantime, you could try your hands at one of the many other open [issue](https://github.com/kodadot/nft-gallery/issues) 😉

[2022-07-11 18:24] kkukelka commented on #3411
7 days seems fair

[2022-07-11 18:51] #3416 closed

[2022-07-11 18:58] petersopko commented on #3411
From the perspective of keeping things simple when it comes to code, I think the best way would be to expand the CONTRIBUTING.md about the writing tasks and let future contributors know, that they have 7 days to open up PR (or at least draft PR), where they can show that they've done their research, or have some draft/outline ready, best case - finished article, the point is to have some actionabl

[2022-07-11 19:32] cryptodamsky opened #3419 "I’m trying to explore, but it doesn’t load"
### What happened?

/

### Please reproduce in steps

Go to kodadot.xyz, click explore

### Expected Behavior

/

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

kodadot.xyz

### Are you logged in?

No

### Which wallet you are using?

_No response_

### At which chain did you encounter bug?

RMRK

### Screenshots

<img width="1915" alt="image

[2022-07-12 00:07] #3407 closed

[2022-07-12 02:11] prachi00 commented on #3389
what should we keep the max value?

[2022-07-12 07:18] roiLeo commented on #3402
Might be time to move og image preview repo to Kodadot org
https://github.com/AndreyGrin/og-image/pull/3 related

[2022-07-12 09:06] petersopko commented on #3413
@RieserStern just to add a small thing here, make sure to checkout [contributing guidelines](https://github.com/kodadot/nft-gallery/blob/main/CONTRIBUTING.md) to get more clarity about the process :)

[2022-07-12 09:12] #3413 closed

[2022-07-12 09:40] petersopko opened #3420 "future of passion feed"
we decided to hide the passion feed until better query / solution comes around. We're hiding it for now in these two PRs:

- #3424
- #3151

I guess the current implementation didn't work and passion feed requires more research / rethinking of how to do it. Could be part of
- #3311

[2022-07-12 09:52] petersopko commented on #2780
the video itself is actually quite outdated (for example, we're using different package manager `pnpm` as opposed to `yarn`), but I am also not sure how to keep it updated given the fast pace of our development

[2022-07-12 10:08] yangwao opened #3421 "Disabling passion feed to have stable endpoint for RMRK"
As seems passion feed does more harm than good, i.e crashing and breaking the basic usability of KodaDot
**To bring back stability, it's time to turn passion feed off everywhere**, until we will inspect outside production what's the culprit.
Later we will adjust and relaunch it with new and optimal resources as seems this query is super hungry.

Suggestions are more than welcome what could be the

[2022-07-12 10:57] yangwao commented on #3421
Seems Spotlight goes slow as snail 👀

<img src="https://media1.giphy.com/media/MwfRs1g45doxbhmgf3/giphy.gif"/>

[2022-07-12 11:03] petersopko opened #3422 "buying NFT doesn't change it's price to 0"
When testing gallery, I can still see NFT which had last event 'BUY' with price, such as:
https://beta.kodadot.xyz/bsx/gallery/2645998698-6
https://kodadot.xyz/bsx/gallery/2645998698-6
![image](https://user-images.githubusercontent.com/73316633/178475076-91b95a9b-b64c-4997-a2d1-cbb029adafca.png)

Upon clicking on NFT, I cannot buy it anymore (which is correct behavior).

![image](https://user-imag

[2022-07-12 11:27] Jarsen136 commented on #3422
👋

[2022-07-12 11:29] Jarsen136 commented on #3421
👋

[2022-07-12 11:29] petersopko opened #3423 "Cannot delete collection with burned NFTs"
Since we're doing lot of testing, I've created few collections with the idea of deleting them later.  Today I found out I can't delete empty collection, if there were previously any NFTs (even when they're burned).

Example:
https://beta.kodadot.xyz/bsx/collection/3639335494

The collection itself isn't showing in the explorer, however, I can't hit the delete button and I keep seeing it when tryin

[2022-07-12 11:38] petersopko commented on #3423
linked to:
- https://github.com/kodadot/nft-gallery/issues/3206

[2022-07-12 13:47] yangwao commented on #2780
Seems time for a new one? :)

As per our recent instructions we have a fairly new way how to setup env
https://github.com/kodadot/nft-gallery/blob/main/FIRST_TIME.md

[2022-07-12 14:01] thea-exe commented on #2780
I'll take this on instead since we've been waiting too long for the last
person to do so :)

On Tue, 12 Jul 2022 at 09:47, Matej yangwao ***@***.***>
wrote:

[2022-07-12 14:41] yangwao commented on #3421
Possibility passion feed is not the culprit turns out, BUT it would be needed to cache it for the user to speed up loads.

[2022-07-12 14:54] yangwao opened #3426 "Return of gains and holdings for user profile"
To mitigate currently SubSquid/Rubick downtimes (indexer) we had to disable gains and holdings on the user profile to have a much more reliable service.

Steps to return this back would be
- introduce pagination on the query, not on the client-side
- introduce caching, within 1-hour time frame best
- test it wisely once on deploy preview with grafana dashboard if it collapses indexer on the backgr

[2022-07-12 15:13] yangwao commented on #1492
yes for both

plus we've added nft.storage which is currently passing through workers but would be good anyway, but bet it should be stable.

[2022-07-12 15:38] #3258 closed, assigned to nobody

[2022-07-13 00:16] Jarsen136 commented on #3422
Thanks. The incorrect price comes from backend.
<img width="1156" alt="image" src="https://user-images.githubusercontent.com/31397967/178621471-04128593-dce5-480b-b0bb-b361310d4bdf.png">

[2022-07-13 01:15] Jarsen136 commented on #3409
👋

[2022-07-13 06:31] petersopko opened #3430 "curated list doesn't change with chain/prefix change"
currently on landing, when I change between RMRK/BSX, everything changes accordingly, except for curated list which stays the same
happening both from rmrk -> bsx and bsx -> rmrk
![image](https://user-images.githubusercontent.com/73316633/178665832-e422200d-1784-4ecc-8bf8-bf26d85325c9.png)

[2022-07-13 06:35] petersopko commented on #3419
sorry for late reply, this is something we were observing elsewhere, issue was with the queries but after @vikiival disabled some queries and fixed this yesterday, I can't reproduce this anymore (thankfully). for the future purposes, same thing is being tracked here:
- https://github.com/kodadot/rubick/issues/109
- https://github.com/kodadot/nft-gallery/issues/3287

[2022-07-13 06:35] #3419 closed

[2022-07-13 06:35] prachi00 commented on #3430
👋

[2022-07-13 07:15] petersopko commented on #3389
the error I've attached resulted from the number switching from something like '1000000000000'  to '1*10^23'. if the number becomes too large, it switches to math expression which is confusing the input (it's converting number to string and then passing that to snek, iirc this was some hack we implemented to get around BigInt in indexer?). I've just now noticed there's more problems with the numbe

[2022-07-13 10:31] vikiival commented on #3421
May rename and close this ?

[2022-07-13 10:58] vikiival opened #3431 "Better support for EVM addresses"
This is more or less placeholder issue that maps how EVM addresses used in the substrate

- https://wiki.acala.network/build/development-guide/smart-contracts/get-started-evm/evm-account
- https://codesandbox.io/s/3k9q3?file=/src/App.tsx:2304-2317
- https://docs.astar.network/tutorial/how-to/how-to-make-a-kusama-polkadot-address

[2022-07-13 10:59] #3421 closed

[2022-07-13 11:00] yangwao commented on #3420
Right now we are temporarily disabling it while can introduce it back, BUT with pagination, query to not overload endpoint and it could result in faster queries on a server and speedy render on the client.

[2022-07-13 12:34] petersopko commented on #3422
beautiful, works as intended

[2022-07-13 14:57] petersopko opened #3433 "Search bar suggestions in explore/collections"
we have search bar on collections hotfixed thanks to:
- https://github.com/kodadot/nft-gallery/pull/3390

next thing would be to get rid of the errors, after speaking to @vikiival, the problem is with magick (subquery) queries being passed to our [snek indexer](https://github.com/kodadot/snek), and if I understand the problem correctly, moving forward we should rewrite the queries to subsquid so t

[2022-07-13 15:02] petersopko commented on #3279
I think we can close this one since we're tracking more granular issues with search, in the two issues mentioned above

[2022-07-13 15:02] #3279 closed

[2022-07-13 15:12] petersopko opened #3434 "Search for NFTs in specific collection"
currently we have 4 options when it comes to search on top of collection:
![image](https://user-images.githubusercontent.com/73316633/178766995-47f8399f-8ad9-4f7f-b395-c86dd26c5dc3.png)

- [x] search bar input (hotfixed implemented thanks to @roiLeo)
- https://github.com/kodadot/nft-gallery/pull/3432
- [x] buy now toggle works properly for me (showing only NFTs with price)
- [ ] sorting doesn't se

[2022-07-13 15:18] petersopko commented on #3433
correct me here if I'm wrong, but the errors seem to be coming from the search bar attempting to give suggestions

[2022-07-14 02:25] prachi00 opened #3435 "Removing warning errors on landing page reload"
### What happened?

A bug happened
![Screen Shot 2022-07-13 at 7 24 52 PM](https://user-images.githubusercontent.com/39299315/178884538-8476bac8-3f53-4f3a-8fe2-42823f40c372.png)
!

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

_No response_

### At which address did you encounter bug?

_

[2022-07-14 03:12] prachi00 opened #3438 "BUG: Focusing on search bar and then clicking outside anywhere redirects to gallery"
### What happened?

A bug happened!
https://www.loom.com/share/8e0f8669d834436085f3c563e33756e6

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

_No response_

### At which address did you encounter bug?

_No response_

### Are you logged in?

_No response_

### Which wallet you are using?

[2022-07-14 03:20] prachi00 commented on #3433
yeah so maybe for now we can turn off suggestions for bsx?

[2022-07-14 03:23] prachi00 commented on #3389
yeah on local it isnt opening up for me either, could be a side effect from #3377
CC @kkukelka

[2022-07-14 03:34] prachi00 commented on #3203
@petersopko
I am not assigned #3204
#3430 #3435 #3438  has PRs raised
so I should be able to pick more issues right?

PS. I have started working on this one!

[2022-07-14 03:56] kkukelka commented on #3389
hmm i'll take a look at it then. thanks for debugging this so thoroughly @prachi00 @petersopko  👍

[2022-07-14 03:56] kkukelka commented on #3389
👋

[2022-07-14 04:00] #3430 closed

[2022-07-14 10:26] petersopko commented on #3203
May be some 🤖 issue, will have to check. I'll be very happy if this happens tho and nobody seems to be picking this up so go ahead

[2022-07-14 10:26] petersopko commented on #3203
ignore

[2022-07-14 11:21] petersopko commented on #3389
ignore

[2022-07-14 11:26] petersopko commented on #3438
good catch! happening on both mobile and desktop

[2022-07-14 16:04] yangwao commented on #2911
any partial progress on this?

[2022-07-14 16:49] petersopko commented on #2911
I have started writing first draft of "e2e" test in cypress, stopped for a while when our indexers kept crashing as I didn't see how would that work.

I'll sit down on it and open up PR tomorrow, we can move it forward from there.

One particular thing which I don't know how to solve is to test actions/critical functionality which requires transactions being signed.

I know @vikiival had some idea

[2022-07-15 08:16] roiLeo commented on #3293
👋
I'll be fixing sort & buy now

[2022-07-15 14:13] #3434 closed

[2022-07-15 14:15] roiLeo commented on #3434
btw I didn't fix searchSuggest yet

[2022-07-15 14:25] petersopko commented on #3434
at the level of specific collections, we don't have search suggest at RMRK either, when it comes to collections/gallery, we're tracking it here
- https://github.com/kodadot/nft-gallery/issues/3433

[2022-07-15 14:52] kkukelka opened #3444 "BSX NFT minting tab doesn't load 🧇"
### What happened?

Vue is unable to render a specific component on NFT minting page on BSX chain (`/bsx/create`)

Error is a known bug https://github.com/vuejs/vue/issues/8516 in the context of using `transition-group` with v-for loops and v-if directives
I was already able to triage the bug and have a fix for it.

<img width="776" alt="Screenshot 2022-07-15 at 16 45 33" src="https://user-images.

[2022-07-15 14:52] kkukelka commented on #3444
👋

[2022-07-15 14:54] kkukelka commented on #3389
The "not loading properly" issue needs to be fixed first https://github.com/kodadot/nft-gallery/issues/3444. I'm on it.

[2022-07-15 16:03] yangwao opened #3446 "Can't make offer even I have balance?"
can't make offers even if I have a balance?
not sure if it was reported already 🤔

<img width="284" alt="image" src="https://user-images.githubusercontent.com/5887929/179262327-76202813-4d65-4806-b611-bdb57599ac65.png">

edit after reload, seems it works

<img width="281" alt="image" src="https://user-images.githubusercontent.com/5887929/179266035-83cc0ce7-2b24-4457-bef4-177713d3f909.png">

[2022-07-15 22:54] prachi00 commented on #3446
@yangwao I cant reproduce this, is it still happening for you?

[2022-07-16 05:39] zhengow opened #3447 "Unable to mint in Basilisk"
### What happened?

A bug happened!
it shows `network error`.
Is this my network problem?

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

_No response_

### Are you logged in?

_No response_

### Which wallet you are using?

_No respons

[2022-07-16 07:32] petersopko commented on #3447
just minted both collection and NFT without any problems, perhaps some outage with nft.storage?

[2022-07-16 07:55] petersopko commented on #3446
I think this is similar to problem I was having with
- #3395

where I tracked it back to:

- https://github.com/kodadot/nft-gallery/issues/3364

Why do I think this? I can reproduce the bug by opening multiple new incognito windows at, for example https://beta.kodadot.xyz/bsx/gallery/1965300869-4?page=1

What happens there is that sometimes I log in with wallet and I see balance 0 (as described in

[2022-07-16 07:55] #3446 closed

[2022-07-16 07:56] petersopko commented on #3395
copying my comment from #3446 to have this in one place:

I can reproduce the bug by opening multiple new incognito windows at, for example https://beta.kodadot.xyz/bsx/gallery/1965300869-4?page=1

What happens there is that sometimes I log in with wallet and I see balance 0 (as described in #3364). Sometimes the balance is 0 with KSM behind it and wallet in navbar shows KSM address. Sometimes I h

[2022-07-16 08:06] petersopko commented on #3395
just produced this again

![image](https://user-images.githubusercontent.com/73316633/179346337-ee2fe555-872c-4f5c-bd88-c8d39b7e81b1.png)

[2022-07-16 08:53] #3444 closed

[2022-07-16 08:55] petersopko commented on #3389
thankfully fixed now, this issue remains open and we still need some limits for the input field

[2022-07-16 10:05] yangwao commented on #3447
Maybe we could handle this in case the endpoint is down, with something like retry after a while?

[2022-07-16 12:55] vikiival commented on #3447
Just tried the endpoint both `pinJson` and `pinFile` works oki for me.

[2022-07-16 15:51] yangwao opened #3450 "Screen where creator can see incoming offers on Basilisk"
We are missing one single screen where users can check their incoming offers on their NFTs

Show in table columns like

| Item | Amount | Offer Maker | Time |
|--|--|--|--|
|nft name |bsx amount | maker address | relative date |

Route could be `/myoffers`

ht @cryptodamsky

[2022-07-17 03:26] Jarsen136 commented on #3450
👋

[2022-07-17 07:56] yangwao opened #3454 "Wrap long description on gallery item"
When user make long single line it breaks mobile experience

Test case
https://beta.kodadot.xyz/bsx/gallery/1965300869-7

https://user-images.githubusercontent.com/5887929/179389300-702f6384-b0bb-4a7d-a40a-1f94974d0550.mp4

[2022-07-17 08:03] Jarsen136 commented on #3454
👋

[2022-07-17 08:23] #3363 closed

[2022-07-17 09:36] petersopko commented on #2911
without commenting on the actual content of tests (wip #3451) here's two solutions going forward:

1. easy (dumb) way to implement tests into workflow:
    - expand PR template to include:
    - [ ] I have ran `cypress run` with all the checks passing
    - we're relying on devs here and can't see the result, or we can request addded screenshot of tests such as:
![image](https://user-images.github

[2022-07-17 09:54] yangwao opened #3455 "Integrate Replicate API to mint dall-e NFTs"
We would like to speed up the dall-e minting process right away from Kodadot.
You can either integrate it to the classic one on basilisk or copy a whole new minter, which one is more manageable.

Integrate replicate API to minting for Basilisk where user can
- enter prompt for model prediction https://replicate.com/kuprel/min-dalle (now we are hardcoding this model)
- user will see rendered predic

[2022-07-17 20:15] joelamouche opened #3457 "Enable filtering by file type"
### Is your feature request related to a problem?

I wanted to search Music NFTs in Dotsama and wasn't able to filter my file type

### Describe the solution you would like

a dropdown with file types

### Describe alternatives you have considered

or tickboxes

### Screeenshots

_No response_

### Are there opened related issues?

_No response_

[2022-07-18 07:10] roiLeo commented on #3457
duplicate/related with #1162

[2022-07-18 07:25] yangwao commented on #3203
@prachi00 any progress on this?

[2022-07-18 07:34] #3337 closed

[2022-07-18 07:42] yangwao commented on #3395
Related with due race conditions happening while fetching data from on-chain
- #3364

[2022-07-18 07:46] yangwao opened #3458 "Retry minting in case endpoint is down"
We should handle this in case the endpoint is down, or the connection has closed on the client, with like retry interval with a 20-30 seconds countdown?
Also, let the user know that it will try again to reach out endpoint.

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/3447#issuecomment-1186140081_

[2022-07-18 07:46] yangwao commented on #3447
Continue to #3458

[2022-07-18 07:46] #3447 closed

[2022-07-18 07:49] yangwao commented on #3235
related with ?
- #3384

[2022-07-18 08:04] yangwao commented on #3364
@vikiival any updates? 😄

[2022-07-18 08:47] yangwao opened #3459 "Show user balance at minting screen"
We've got numerous similar bug reports for basilisk that people get an error once they don't have a balance while minting.

A great solution would be to show users the balance above submit button so people know their balance before minting.

I guess we had something like this check for insufficient balance but was done only on rmrk iirc
ref from report-bug channel
![image](https://user-images.gith

[2022-07-18 08:53] vikiival commented on #3364
Yup,

polishing tests https://github.com/kodadot/packages/tree/brand-new-sub-api

[2022-07-18 09:19] yangwao commented on #3409
😍 Perfect, I’ve sent the payout
💵 $20 @ 58.6 USD/KSM ~ 0.341 $KSM
🧗 [EzGc4s9PgCPx1YnF3fqzhLzVHpHMTL4LWPScwpDrR8JKgSU](https://kusama.subscan.io/account/EzGc4s9PgCPx1YnF3fqzhLzVHpHMTL4LWPScwpDrR8JKgSU)
🔗 [0xd7289f57a19b963a6eaba4aeb8d0ea0cc236f5aa1a6828b3fe7261a99d0b3d13](https://kusama.subscan.io/extrinsic/0xd7289f57a19b963a6eaba4aeb8d0ea0cc236f5aa1a6828b3fe7261a99d0b3d13)

🪅 Let’s grab another is

[2022-07-18 09:19] #3409 closed

[2022-07-18 09:46] #3454 closed

[2022-07-18 10:13] yangwao opened #3460 "I'm basilisk bug report"
### What happened?

A bug happened!

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

beta.kodadot.xyz

### Are you logged in?

Yes

### Which wallet you are using?

PolkadotJS

### Screenshots

Paste from your clipboard or upload screens

[2022-07-18 10:16] petersopko opened #3461 "replace range slider with input fields"
thanks to @roiLeo and
- https://github.com/kodadot/nft-gallery/pull/3442

~range slider is passing correct information to query, i.e. priceMin + priceMax works, but we're using implementation from rmrk.
What we need to do now, is adjust the slider to fit BSX needs. RMRK has slider for 0-30 ksm with each tick representing 1ksm increase.~

updated desc:

- let's throw out the range slider
- let's ad

[2022-07-18 10:20] zhengow commented on #3461
👋

[2022-07-18 10:21] yangwao commented on #3460
we've got a new basilisk form 👋
https://github.com/kodadot/nft-gallery/issues/new?assignees=&labels=%F0%9F%90%8D+-+basilisk%2Cbug&template=basilisk_bug.yml&title=Be+descriptive+and+short

[2022-07-18 10:21] #3460 closed

[2022-07-18 10:21] cryptodamsky opened #3462 "Add? See how many offers has been made by certain address:"
### Is your feature request related to a problem?

I’d like to know, who is making most offers and how many they have.

### Describe the solution you would like

Have a page where i’d insert address and see address activity

### Describe alternatives you have considered

/

### Screeenshots

_No response_

### Are there opened related issues?

This might be related and kinda similiar to

- #3453
-

[2022-07-18 10:26] FrankBevr commented on #3455
Let me give it a try, but I am in Paris and have to sweat my gut out, literally 🥵

But I can give it a week and see how far I can get.
If someone is faster, because "more familar with the codebase" please go ahead 🙃

I will write you on Sunday for the key Stuff.

Cheers 🌤️

[2022-07-18 10:34] petersopko commented on #3461
either fork this
- https://github.com/kodadot/nft-gallery/pull/3442

or wait for it to be merged to avoid duplicate work, i'm assuming leo made some changes crucial for this one :) (priceMin + priceMax)

[2022-07-18 10:42] roiLeo commented on #3461
Nice catch, I can handle it but I think range slider isn't the best option (reminds me of [this](https://i.redd.it/qobyfn7li0391.jpg))
I would replace this with 2 inputs (min, max) since range slider is a bit of a hell for the UI (it is not possible to choose a fixed price)
let me know what you think

[2022-07-18 10:43] yangwao commented on #3462
Great idea, I guess we can later make a functional component with an address as param and input and merge these three

- #3450
- #3203
- #2801

[2022-07-18 10:49] yangwao commented on #2801
update, this is meanwhile done in https://beta.kodadot.xyz/bsx/stats/

<img width="1305" alt="image" src="https://user-images.githubusercontent.com/5887929/179495989-ffe5e9b3-69a0-4cde-bbd5-4ac7fea923de.png">

## What's left to do
- missing is a link to a collection for an item; add a new column for the collection
- swap the order of columns in this way -> collection, name, maker address, price, d

[2022-07-18 10:54] zhengow commented on #2801
👋

[2022-07-18 10:56] #3339 closed

[2022-07-18 11:10] petersopko commented on #3461
😆 you're not wrong, looks like your idea is where the UI is currently at
![image](https://user-images.githubusercontent.com/73316633/179498795-b73ac59a-c34e-49c9-bc0f-051e32648f3d.png)
![image](https://user-images.githubusercontent.com/73316633/179499094-ebb0a324-3908-47a3-81c7-fca76442b47d.png)

[2022-07-18 12:17] yangwao opened #3463 "Master Offers component v2"
Great idea; I guess we can make a functional component with an address as param and input and merge these three current ones.

When the logged-in user visits /bsx/offers it lands on its own address stats by default, i.e. in my case
`/bsx/offers?u=bXgvP2cQzEnPvuPQHRghz9dUYovqzyPhXBRXbNwVCef7nsmqb`
where default would be incoming offers

There should be two filters where you can choose
- F1
  - crea

[2022-07-18 12:17] yangwao commented on #3462
Continue to #3463

[2022-07-18 12:17] #3462 closed

[2022-07-18 12:22] yangwao commented on #3168
Meanwhile solved by removing queries.
Queries needs to have refactor
- #3426

[2022-07-18 12:22] #3168 closed

[2022-07-18 12:25] #2874 closed

[2022-07-18 12:26] #2305 closed

[2022-07-18 12:27] #2151 closed

[2022-07-18 12:28] #594 closed

[2022-07-18 12:29] yangwao commented on #365
Linking for archive reference
- #3457

[2022-07-18 12:29] #365 closed

[2022-07-18 12:29] yangwao commented on #144
works now tho

[2022-07-18 12:29] #144 closed

[2022-07-18 12:36] yangwao commented on #3161
We are looking for your like and vote https://devpost.com/software/kodadot-moonsama 🥹🤞

[2022-07-18 13:13] zhengow commented on #3461
Sure, I would like to wait #3442 to be merged:)

[2022-07-18 13:20] #3266 closed

[2022-07-18 13:26] petersopko commented on #3461
merged, lfg 🚀

[2022-07-18 14:21] AVD061975 opened #3466 "Double BURNing - bXiGvoYjMbEEUe27h3zFCnabsu367zEDEivu8ZHjVSm5v8mC2"
### What happened?

A bug happened!

Wallet: bXiGvoYjMbEEUe27h3zFCnabsu367zEDEivu8ZHjVSm5v8mC2

![image](https://user-images.githubusercontent.com/96058877/179530239-27450c08-8812-4af1-bd3e-22b9df727acd.png)

### Please reproduce in steps

Go to ... Click on .... See error

1.  Burn new NFT.
![image](https://user-images.githubusercontent.com/96058877/179530492-0cb98698-b1ab-4c10-a5e3-d07401e3c0e9.

[2022-07-18 14:40] Jarsen136 commented on #3466
👋

[2022-07-18 14:40] yangwao opened #3467 "Seems Magick down on collection detail"
Seems Magick down?

Can't view collection detail
https://beta.kodadot.xyz/rmrk/collection/C6E2CA836BD86CBD05-PLACE

Are we using Magick differently for collection or to rewrite it with subsquid?

<img width="1447" alt="image" src="https://user-images.githubusercontent.com/5887929/179536020-90684b43-7a46-4fd5-b995-87da72869b88.png">

at collection seems it works

<img width="1394" alt="image" src="

[2022-07-18 14:43] yangwao opened #3468 "Spotlight doesn't work on beta?"
Spotlight doesn't work on beta

<img width="1396" alt="image" src="https://user-images.githubusercontent.com/5887929/179536765-5e5d92a9-6d4a-4f60-b464-4ebeaf8c6412.png">

But works on production
https://kodadot.xyz/spotlight/

<img width="1328" alt="image" src="https://user-images.githubusercontent.com/5887929/179536852-53997c5e-5ee5-40ee-8f3e-43922049d01d.png">

[2022-07-18 14:47] AVD061975 opened #3469 "Error - number of NFTs in collection - bXiGvoYjMbEEUe27h3zFCnabsu367zEDEivu8ZHjVSm5v8mC2"
### What happened?

A bug happened!

Wallet: bXiGvoYjMbEEUe27h3zFCnabsu367zEDEivu8ZHjVSm5v8mC2

Ive created 10 NFT in one cllection,   Burnt 1 NFT,  and at the end I have a 9 NFT in collection.
![image](https://user-images.githubusercontent.com/96058877/179536851-8ddf604b-938d-46ae-ae9c-ab653e465d93.png)

But when I try to create another one NFT, it shows 10:
![image](https://user-images.githubuse

[2022-07-18 14:48] Jarsen136 commented on #3467
👋

[2022-07-18 15:02] AVD061975 opened #3470 "Couldnt create new NFT"
### What happened?

A bug happened!

Wallet:  bXiGvoYjMbEEUe27h3zFCnabsu367zEDEivu8ZHjVSm5v8mC2

After issues:
https://github.com/kodadot/nft-gallery/issues/3466
https://github.com/kodadot/nft-gallery/issues/3469

When I create the next NEW  NFT (10 ive created before and 1 burnt), I gen an error:

![image](https://user-images.githubusercontent.com/96058877/179540391-c7c2eaa5-d666-4b56-b17b-2274a8

[2022-07-18 15:34] prachi00 commented on #3203
Yeah, I am almost done with this one, will raise a PR soon

[2022-07-18 16:03] Jarsen136 commented on #3468
👋

[2022-07-18 16:24] #3468 closed

[2022-07-18 19:07] svzem1 opened #3475 "Can`t create colection"
### What happened?

oe: 1010: Invalid Transaction: Inability to pay some fees , e.g. account balance too low

### Please reproduce in steps

Go to: Create collection
Click on: Drop collection logo -> Write Collection name and description -> Create collection....
See error: oe: 1010: Invalid Transaction: Inability to pay some fees , e.g. account balance too low

### Expected Behavior

I've expected

[2022-07-18 19:52] prathmrishi0110 opened #3476 "Bal not reflecting in my address"
### What happened?

A bug happened!

### Please reproduce in steps

Go to ... Click on .... See error

### Expected Behavior

I've expected ...

### What browsers are you seeing the problem on?

_No response_

### At which address did you encounter bug?

_No response_

### Are you logged in?

_No response_

### Which wallet you are using?

_No response_

### Screenshots

Paste from your clipboard

[2022-07-19 01:24] Jarsen136 commented on #3475
It's he same issue related to https://github.com/kodadot/nft-gallery/issues/3459

[2022-07-19 05:12] zhengow commented on #3205
:wave

[2022-07-19 05:21] prachi00 commented on #3463
👋

[2022-07-19 06:08] Jarsen136 commented on #3469
👋

[2022-07-19 06:24] #3435 closed

[2022-07-19 06:40] #3467 closed

[2022-07-19 08:19] yangwao opened #3479 "Duplicate of items in collection?"
Seems we have duplicates in the collection?
https://beta.kodadot.xyz/rmrk/collection/C6E2CA836BD86CBD05-PLACE?page=1

<img width="1050" alt="image" src="https://user-images.githubusercontent.com/5887929/179702456-e754c19d-2471-42bd-9d5f-79d40176c3d8.png">

[2022-07-19 08:35] #2801 closed

[2022-07-19 08:50] yangwao commented on #3205
seems to assign bot doesn't listen on edit event 🤔
📟 @petersopko

<img width="232" alt="image" src="https://user-images.githubusercontent.com/5887929/179708966-1d3e386d-26f2-41e4-87d5-bef41fbb4a9b.png">

[2022-07-19 09:14] yangwao commented on #3374
the account name is quite okayish as it's if an address has set on-chain identity on Kusama. It's the same address on basilisk, and basilisk doesn't offer an identity pallet now, but in the future will, so I bet we can keep it for now against KSM 😄

We can implement an on-chain identity from Basilisk to be independent of KSM in the future.

[2022-07-19 09:15] yangwao opened #3481 "Implement Basilisk on-chain identity"
the account name is quite okayish as it's if an address has set on-chain identity on Kusama. It's the same address on basilisk, and basilisk doesn't offer an identity pallet now, but in the future will, so I bet we can keep it for now against KSM 😄

We can implement an on-chain identity from Basilisk to be independent of KSM in the future.

_Originally posted by @yangwao in https://github.com/koda

[2022-07-19 09:54] #3400 closed

[2022-07-19 10:02] yangwao commented on #2276
we can extend this with basilisk fees 🤔

[2022-07-19 14:35] #3475 closed, assigned to nobody

[2022-07-19 15:30] roiLeo commented on #3374
![Screenshot 2022-07-19 at 17-25-36 Hill KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/179788710-d4a9a97e-5841-4329-8c6a-948d3234459f.png)

closing this since I manage to make it work on local, how you may ask

answer:
by runing `pnpm install` instead of `pnpm i`

![jerry](https://user-images.githubusercontent.com/9987732/179789424-7b3ae9ec-1539-43e7-b73e-

[2022-07-19 15:30] #3374 closed

[2022-07-19 15:37] prachi00 commented on #3479
👋

[2022-07-19 15:39] #3466 closed

[2022-07-19 16:18] Jarsen136 commented on #3479
Hey, there is already a PR for this issue  👀

[2022-07-19 16:24] prachi00 commented on #3479
oh there is? should we close this one then?

[2022-07-19 16:43] prachi00 commented on #3479
lol yeah I seemed to have missed the message my bad

[2022-07-19 19:08] prachi00 commented on #3463
I can work on this once unblocked 😊

[2022-07-19 20:14] prachi00 commented on #3403
@petersopko we can close this issue right?

[2022-07-19 20:48] Pavel333333 opened #3485 "impossible to change a wallet, for example, from kusama to basilisk"
### Is your feature request related to a problem?

it is impossible to change a wallet, for example, from kusama to basilisk . I had to log out of my account, delete cookies, and only then managed to change the network and wallet. it's inconvenient. it would be better if immediately on the site I could change the wallet address to the one that is currently selected in the chrome extension.

### De

[2022-07-19 20:52] Pavel333333 opened #3486 ""LIST" input label is not clear"
### Is your feature request related to a problem?

I didn't understand how price differs from balance. intuitively, this is not clear.

### Describe the solution you would like

it would be possible to put the "I" icon next to it and explain in a pop-up window

### Describe alternatives you have considered

it would be possible to put the "I" icon next to it and explain in a pop-up window

### Scr

[2022-07-19 20:56] Pavel333333 opened #3487 "failed listing transaction"
### Is your feature request related to a problem?

I put a Price of 3 bsx and a balance of 10000 and the transaction ended with an error. but as a user, I don't understand how to solve this error.

### Describe the solution you would like

it is necessary to explain in detail and accessible to everyone why the transaction failed and what needs to be done to make it successful

### Describe alterna

[2022-07-19 21:00] Pavel333333 opened #3488 "cursor does not change"
### Is your feature request related to a problem?

when hovering over a photo collection in the Explore section, the cursor does not change

### Describe the solution you would like

you need to change the cursor when you hover over a photo

### Describe alternatives you have considered

I clicked on the photo and entered, but visually it is not clear

### Screeenshots

_No response_

### Are ther

[2022-07-19 21:05] Pavel333333 opened #3489 "I couldn't Burn NFT"
### What happened?

I couldn't Burn NFT . the transaction failed with an error.

### Please reproduce in steps

On the NFT page, I tried to use the Burn function. Pressed the button, confirmed the transaction.

### Expected Behavior

I expected the NFT to be removed

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

beta.kodadot.xyz

### Are you

[2022-07-20 02:38] prachi00 commented on #3488
Can you explain more where? A video would help

[2022-07-20 06:40] #1015 closed

[2022-07-20 08:03] roiLeo commented on #3485
Hello! Can you provide a "step to reproduce" or video/screenshot of what is happening please? That would help to understand the problem.

[2022-07-20 08:15] roiLeo commented on #3402
✅ Done

<img width="448" alt="Capture d’écran 2022-07-20 à 10 14 57 AM" src="https://user-images.githubusercontent.com/9987732/179932430-5891eb6f-b7be-4682-a88b-4941363ea164.png">

[2022-07-20 08:17] roiLeo commented on #3038
🚀 merged in https://github.com/AndreyGrin/og-image/pull/3

continue #889

[2022-07-20 08:17] #3038 closed

[2022-07-20 08:57] Pavel333333 commented on #3488
20.07.2022, 05:38, "Darshana Prachi" ***@***.***>:
Can you explain more where? A video would help

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: ***@***.***>

К письму приложены файлы на Яндекс Диске: 20220720_115532.mp4 (31751269)

[2022-07-20 09:33] roiLeo opened #3492 "Request: Small UI change"
<img width="1377" alt="Capture d’écran 2022-07-20 à 11 31 34 AM" src="https://user-images.githubusercontent.com/9987732/179949105-b1e7daeb-e3dd-4760-965d-f5f1fc9105ae.png">

In GalleryItem, I would like to see spacing under nft title when there is no legend set (just before "Traits" component)

Tested on bsx, this could break rmrk stuff (description, emotes...)

[2022-07-20 11:33] yangwao opened #3493 "Broken links in Stats to item"
When stats has trailing `/`, it break item links for example.

![image](https://user-images.githubusercontent.com/5887929/179971702-38c0f8bf-0cd4-4b68-9a90-1c7081c0f8d4.png)

Try click here
- https://beta.kodadot.xyz/bsx/stats/
- and choose the item

https://discord.com/channels/840514076538830888/899643761968173108/999275535022694421

Apparently same thing in
- #3453

[2022-07-20 12:07] yangwao commented on #3485
I can change my wallet on my profile, top right corner 🤔

<img width="268" alt="image" src="https://user-images.githubusercontent.com/5887929/179977988-8ebc0389-442c-40f2-917c-00937f646e25.png">

[2022-07-20 12:08] petersopko commented on #3486
hmm, maybe change Balance to Amount?

[2022-07-20 12:18] petersopko commented on #3487
I've tried this couple times, can't reproduce, pretty weird error tbh, seems that the owner has changed in the mean time? or the wallet changed? can you provide link to the NFT?

[2022-07-20 12:20] petersopko commented on #3489
@Pavel333333 thanks for participating, but we are going to need more detail in order to do anything about this. If you encounter this bug again, please attach screenshot and make sure you have enough balance, ideally get us a screenshot from console :)

[2022-07-20 12:20] #3489 closed

[2022-07-20 12:26] petersopko commented on #3488
I think what he means is that as opposed to gallery, in Collection section, cursor doesn't change when hovering over the upper part of collection photo, it changes only when you are hovering over the bottom part. (cursor doesn't show up on screenshot, but it's there and it's pointy 😆 )
![image](https://user-images.githubusercontent.com/73316633/179981442-07d247c0-0e80-4b06-a33b-d8aaddb6bc9e.png)

[2022-07-20 12:27] Pavel333333 commented on #3488
Thats right

[2022-07-20 12:29] yangwao opened #3494 "History component for Item"
It would be nice to extract all item history information in Basilisk.

The component could be, by default, folded and put under the offers component.

It should come with a filter for events, and don't forget to show their royalties events as well.

<img width="1367" alt="image" src="https://user-images.githubusercontent.com/5887929/179980723-fc9c348e-548c-4b73-bbc6-b590e13d4e54.png">

### ref
- #

[2022-07-20 12:34] zhengow commented on #3493
👋

[2022-07-20 12:38] Pavel333333 commented on #3487
I did two nfts . one of them tried to burn, but the transaction ended unsuccessfully. and now I can't find this nft in my profile. that is, I can't find the tae that I wanted listing, but I couldn't send it to listing and I decided to delete it, then make a new tae and send it to listing. in general, everything is very difficult on the platform. it's hard to figure out. 20.07.2022, 15:18, "Peter S

[2022-07-20 12:40] zhengow commented on #3486
👋

[2022-07-20 12:47] Pavel333333 commented on #3485
https://disk.yandex.ru/d/p0-FWh2v5t0uLw

[2022-07-20 12:47] Pavel333333 commented on #3488
https://disk.yandex.ru/d/I6Rf6oqoA3ZX-A

[2022-07-20 12:49] zhengow commented on #3486
I think this is the problem with test environment that amount less than 10000?

[2022-07-20 13:26] roiLeo commented on #3485
I've tryed to clear cache but i've got same issue for me on beta, I'm stuck with KSM on bsx chain, I see all price in KSM & profile redirect to my kusams address.
(same on local env)

[2022-07-20 13:37] petersopko commented on #3485
@Pavel333333 there's no way to switch the prefix of address manually, it should be switched automatically when you switch BSX-RMRK etc. What you're reporting is known and being tracked here as @yangwao mentioned, hopefully we have fix coming soon
- https://github.com/kodadot/nft-gallery/issues/3364

same thing, unfortunately we haven't fixed this yet.

closing this issue for duplicity, thank you f

[2022-07-20 14:19] yangwao opened #3497 "Acala EVM+ v0"
Being expanded

### Ref
- https://evmdocs.acala.network/tutorials/waffle-tutorials/nft-tutorial
- #4820

[2022-07-20 14:29] Jarsen136 commented on #3493
Hey, let me close this issue because I could also fix it at PR https://github.com/kodadot/nft-gallery/pull/3453.
They are the same problems.

[2022-07-20 14:31] zhengow commented on #3493
ok

[2022-07-20 14:32] #3493 closed

[2022-07-20 14:33] Pavel333333 commented on #3485
I checked it now. everything is still working as I described at the very beginning. 20.07.2022, 16:09, "Matej yangwao" ***@***.***>: disk.yandex.ru/d/p0-FWh2v5t0uLwfrom video I get right there is different prefix in address?It might be related#3364can you try one more refresh?—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Mes

[2022-07-20 15:29] yangwao opened #3498 "Wrong text after accepting incoming offer?"
I've accepted the incoming offer, and it says since block NFT is yours?
Probably there should be "Since block <number> NFT has new owner" or something like that?

https://deploy-preview-3453--koda-nuxt.netlify.app/bsx/incomingoffers/

<img width="457" alt="image" src="https://user-images.githubusercontent.com/5887929/180021954-42bb8b2d-892e-4316-8a78-eda3462b7573.png">

[2022-07-20 15:30] Jarsen136 commented on #3498
👋

[2022-07-20 15:37] prachi00 commented on #3492
👋

[2022-07-20 17:08] yangwao opened #3501 "Pagination for global offers for Basilisk"
Let's introduce pagination for global offers.

By default, I would let it show 20 items so it can fit a 13" notebook by default?

https://user-images.githubusercontent.com/5887929/180041427-21cfc889-fb37-4d65-8c15-3b37771e2f5c.mov

[2022-07-20 19:16] prachi00 commented on #3463
I guess we can add filters like the history table?

[2022-07-21 03:52] AVD061975 commented on #3470
Hello!
I've wrote video with this errors:
I have 8 nft in the Collection, but it - show - 10.
And then I get an Error:

https://user-images.githubusercontent.com/96058877/180126335-60aa8126-88fc-4969-86a0-681bf3908006.mp4

[2022-07-21 04:09] AVD061975 commented on #3470
I did the same with another collection (burning NFT) - I have an error with number of NFT in collection, but haven't error with minting.
May be some problem in Collection "AI Crazy Rabbit".

[2022-07-21 06:51] #3469 closed

[2022-07-21 07:31] #3486 closed

[2022-07-21 07:52] petersopko commented on #3205
:wave

[2022-07-21 07:53] petersopko commented on #3205
it does now :)

![image](https://user-images.githubusercontent.com/73316633/180160412-201551a0-f034-4712-8edf-67d5237b0927.png)

[2022-07-21 08:13] JustLuuuu commented on #3205
in STATS: It's possible to sort the list by offer status, price, and maker. It would be nice if you could sort the list also by collection, name, and date (not possible now).
 ![image](https://user-images.githubusercontent.com/104380776/180163190-cb3b9d6a-69fb-41f3-8205-1d5e0a4231da.png)

[2022-07-21 08:18] petersopko commented on #3463
yup, I guess that would be the best way to go, something like this:
![image](https://user-images.githubusercontent.com/73316633/180165368-c8c63fa6-ed33-4ac7-8d0d-383ac76cc50a.png)

[2022-07-21 08:30] #3470 closed

[2022-07-21 08:55] #3450 closed

[2022-07-21 09:03] petersopko opened #3504 "search query in gallery"
suggestions and their routing should be fixed once we have merged
- https://github.com/kodadot/nft-gallery/pull/3491

last thing (afaik) is to fix the actual search query for words in Gallery

[code]

[2022-07-21 09:07] yangwao opened #3505 "Searching in gallery at Basilisk"
When I search some term, it yields a fair amount of errors

https://beta.kodadot.xyz/bsx/explore?page=1&tab=GALLERY&search=simpson

Is it somewhere already being fixed?
![image](https://user-images.githubusercontent.com/5887929/180175634-3f3c6500-6168-451e-82b4-3c581d36ac62.png)

[2022-07-21 09:10] petersopko commented on #3505
yep, here's gallery in general:
- https://github.com/kodadot/nft-gallery/issues/3293

here's suggestions, should be ready to merge soon:
- https://github.com/kodadot/nft-gallery/pull/3491

here's the last piece:
- https://github.com/kodadot/nft-gallery/issues/3504

[2022-07-21 09:10] #3505 closed

[2022-07-21 09:11] Jarsen136 commented on #3504
👋

[2022-07-21 09:23] #3494 closed

[2022-07-21 09:33] petersopko commented on #3487
I'd gladly try to figure out some fix for this one, but I cannot seem to reproduce it. Possibly connected to:
- #3364

and perhaps being fixed in:
- https://github.com/kodadot/nft-gallery/pull/3500

if you run into this error again, please let us know and it would be best if you could provide screenshot from console :) @Pavel333333

[2022-07-21 09:33] #3487 closed

[2022-07-21 10:07] petersopko opened #3507 "renaming sorting options in gallery"
let's update the sorting names to match

current implementation of sort on BSX:
![image](https://user-images.githubusercontent.com/73316633/180188139-1e62b611-6b1c-41e8-8ed4-b180970af697.png)

in the meantime, we've updated RMRK in:
- https://github.com/kodadot/nft-gallery/issues/842

![image](https://user-images.githubusercontent.com/73316633/180188501-8aad2d3f-baad-4924-bb2c-495beeea49e5.png)

[2022-07-21 10:10] KngZhi commented on #3507
👋

[2022-07-21 10:15] Pavel333333 commented on #3487
yes, this bug has been fixed 21.07.2022, 12:33, "Peter Sopko" ***@***.***>: I'd gladly try to figure out some fix for this one, but I cannot seem to reproduce it. Possibly connected to:#3364and perhaps being fixed in:#3500if you run into this error again, please let us know and it would be best if you could provide screenshot from console :) @Pavel333333—Reply to this email directly, view it on Gi

[2022-07-21 10:20] Pavel333333 opened #3508 "sorting by name"
### Is your feature request related to a problem?

no, rather with convenience

### Describe the solution you would like

I think it would be good to do nft sorting by name and collection nameBe descriptive and short.
https://beta.kodadot.xyz/bsx/stats/?page=1

### Describe alternatives you have considered

did not consider

### Screeenshots

![image](https://user-images.githubusercontent.com/8894

[2022-07-21 10:32] Pavel333333 opened #3509 "add description to table in bsx/stats"
### What happened?

I can't find my nft that I put on listing. there are two of them. price 10002 and 10004 bsx.
https://beta.kodadot.xyz/bsx/stats/?page=1

### Please reproduce in steps

I created two nft and put them on the listing at the prices of 10002 (today) and 10004 (two days ago). switched to https://beta .kodadot.xyz/bsx/stats/?page=1 and I can't find them there.
my profile
https://beta.

[2022-07-21 10:36] Pavel333333 opened #3510 "sorting by price on /bsx/stats does not work correctly"
### What happened?

a larger number may be followed by a smaller one

### Please reproduce in steps

link to https://beta.kodadot.xyz/bsx/stats?page=1
clicked on Price
checked the sorting result

### Expected Behavior

I expected that they would be sorted from less to more

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

beta.kodadot.xyz

###

[2022-07-21 10:40] Jarsen136 commented on #3510
👋

[2022-07-21 10:52] petersopko commented on #3509
https://beta.kodadot.xyz/bsx/stats is focused on tracking NFTs with offers across the marketplace, so if you don't have any offers on the NFTs, you will not see it in the stats
![image](https://user-images.githubusercontent.com/73316633/180197037-f9381f55-dd2a-4df8-8d9b-8bde0567e2a2.png)

two things regarding the nfts:

1. you have unlisted the one for 10 002 (that was created two days ago, I thin

[2022-07-21 10:54] petersopko commented on #3509
as a side note, maybe it isn't clear from the name of the route, what does "stats" mean, maybe we want to add some explainer / description of what is the user looking at? somewhere above the table, wdyt @yangwao

[2022-07-21 11:00] yangwao opened #3511 "set KSM as the default currency at Basilisk Rococo"
we will need to set KSM as the default mint/buy/sell for NFTs on Rococo as now we are using BSX

[2022-07-21 11:03] yangwao opened #3512 "Deploy Basilisk Rococo version"
To not break testing on the current Basilisk KodaDot Testnet, extend the package with Basilisk (Rococo), the URL prefix could be /bsxroc

Subsquids are deployed
FireSquid
api https://basilisk-rococo-firesquid.play.hydration.cloud/graphql
console https://basilisk-rococo-explorer.play.hydration.cloud/graphql

v5
api https://basilisk-rococo.play.hydration.cloud/v1/graphql
console https://basilisk-roc

[2022-07-21 11:10] vikiival commented on #3512
/rocsilisk

[2022-07-21 11:14] yangwao commented on #3512
/rugsilisk fits

[2022-07-21 11:23] KngZhi commented on #3509
👋

[2022-07-21 11:32] yangwao commented on #3509
Global Marketplace Offers?

[2022-07-21 11:43] yangwao opened #3513 "Seems I can't withdraw offer?"
- place offer
- withdraw offer

https://beta.kodadot.xyz/bsx/gallery/1380208565-1

![image](https://user-images.githubusercontent.com/5887929/180205536-3211902d-6e02-4da6-b3a2-c92dcabfe3fd.png)

[2022-07-21 11:46] yangwao opened #3514 "Top offers component"
We would need component which would show NFTs with most offers.

Table columns should be sortable and be like
- Collection, Item, Total number of offers, Total amount of offers, Date of newest/last offer
- By default, sorted by the total amount of offers

For example this NFT,
https://beta.kodadot.xyz/bsx/gallery/1380208565-1
the single row would look like
<img width="990" alt="image" src="https:/

[2022-07-21 11:46] petersopko opened #3515 "toggling 'BUY NOW' should show only prices > 0"
@petersopko Oups since my last review, I totaly forgot that not listed nfts have a price of 0, so when we toggle "BUY NOW" it will filter nfts with a price greaterThanOrEqualTo 0 (which corresponds to all nfts)

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/pull/3474#issuecomment-1191383795_

[2022-07-21 11:56] roiLeo commented on #3515
closed by #3474

[2022-07-21 12:02] petersopko commented on #3513
same for me:
![image](https://user-images.githubusercontent.com/73316633/180209097-303d6144-d76e-4490-b7cb-124d6f6d881a.png)

[2022-07-21 12:08] petersopko opened #3516 "Sorting by price should always keep 'BUY NOW' on"
Always been like this, no?
https://kodadot.xyz/rmrk/explore?page=1&tab=GALLERY&listed=false&sort=PRICE_DESC

Or we could try to toggle "BUY NOW" when sorting by PRICE and it would show the price on cards

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/pull/3474#issuecomment-1191402096_

just additional comment here, since sorting by price implies, you'd like to see NFTs wi

[2022-07-21 12:12] #3461 closed

[2022-07-21 12:12] #3515 closed

[2022-07-21 12:14] Jarsen136 commented on #3516
👋

[2022-07-21 12:21] KngZhi commented on #3513
👋

[2022-07-21 12:53] KngZhi commented on #3516
hi @Jarsen136 you mind if I take this? Or you have an available slot?

[2022-07-21 12:53] KngZhi commented on #3516
🤣

[2022-07-21 12:54] petersopko commented on #3516
there was an issue with bot, #3142 got somehow stuck, it's resolved now 😆 sorry, I was fixing this just as you asked

[2022-07-21 12:55] KngZhi commented on #3516
No problem. 😄

[2022-07-21 13:14] Jarsen136 commented on #3516
I have an idea. How about transforming the issue number to the issue link.
For example, `3142` -> #3142. So that, we could easily see what status the issue is in.  wdyt @petersopko

[2022-07-21 13:16] petersopko commented on #3516
I was just thinking about this. I didn't do it in the first place, because I wasn't sure if we want to link / mention 5 issues every time somebody hits the limit. But it's fairly easy to implement, @yangwao wdyt

[2022-07-21 13:18] Jarsen136 commented on #3516
Got it. That's really a problem : )

[2022-07-21 13:37] yangwao commented on #3516
yes, referencing when someone hits limit it's not good as can introduce unnecessary references

[2022-07-21 13:40] zhengow commented on #3514
So I think this issue needs to add a resolver in repo `kodadot/snek` right?

[2022-07-21 13:54] zhengow commented on #3514
I would like to use this query to filter nfts which has no offer:

[code]

![image](https://user-images.githubusercontent.com/38389586/180230992-636761fc-fd21-4835-9907-7735584b73ce.png)

How do you think?

[2022-07-21 14:09] AVD061975 opened #3520 ""Make offer" - dont recalculate in another unit of measure"
### What happened?

Wallet:  bXiGvoYjMbEEUe27h3zFCnabsu367zEDEivu8ZHjVSm5v8mC2

Hello again! :)

Another one mistake:
When I make offer - it controls only 10000. But there is no control for measures.
For example, 10000 BSX its not the same as 10000 nanoBSX.
And then I get an Error.

Example for reproducing in the video:

https://user-images.githubusercontent.com/96058877/180233595-77826434-7450-47

[2022-07-21 14:19] KngZhi commented on #3520
👋

[2022-07-21 14:26] KngZhi commented on #3520
@yangwao
My idea for this would be

1. convert input bsx amount to nanobsx amount, like 100000 bsx should be 100000 * 1000 nanobsx(don't know for sure about exchange rate, just an example)
2. append unit and update error alert as, "value should be 100000000 nanobsx"

[2022-07-21 14:32] AVD061975 commented on #3520
Yes, it would be nice, but "value should be more or equal 100000000 nanobsx"  or "value should't be less than 100000000 nanobsx".  First as think its more friendly )

[2022-07-21 15:36] prachi00 commented on #3504
Shouldn't this be fixed by #3433?

[2022-07-21 15:40] Jarsen136 commented on #3504
Feel free to fix this bug in your PR if you want.

[2022-07-21 16:22] prachi00 commented on #3504
no its fine, if it isnt fixed there, I guess we can fix it in a different issue to keep track so go ahead

[2022-07-21 16:40] zhengow opened #3521 "Where can I get bsx(not in testnet)"
### Is your feature request related to a problem?

Missed the `First Basilisk Crowdloan`

### Describe the solution you would like

Is there any way to get bsx?

### Describe alternatives you have considered

For example, some dex?

### Screeenshots

_No response_

### Are there opened related issues?

_No response_

[2022-07-21 16:50] zhengow commented on #3010
Nice article, easy to understand!

[2022-07-21 17:53] petersopko opened #3523 "Sorting in Gallery/Collections - revisited"
we've had some issues with multiple sorting options before, the feature got introduced here:
- https://github.com/kodadot/nft-gallery/pull/3067

later was fixed (in a hacky way) to not allow conflicting options at once (such as price high to low and price low to high at once) here:
- https://github.com/kodadot/nft-gallery/pull/3325

some questions / things to figure out before this can be properly

[2022-07-21 18:29] #3498 closed

[2022-07-21 20:15] #3433 closed

[2022-07-22 07:12] roiLeo commented on #3521
Maybe from https://bsx.play.hydration.cloud/#/trade but I don't know if it's working well

[2022-07-22 08:36] yangwao opened #3528 "Handle when user hasn't have enough balance to mint"
Best read referenced PR to gain picture :)

Let's merge this one and open new issue for when user hasn't enough balance to mint.

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/issues/3473#issuecomment-1191371721_

[2022-07-22 08:37] #3459 closed

[2022-07-22 08:52] zhengow commented on #3528
👋

[2022-07-22 09:10] DeluneClaire commented on #3205
Hi, so how does it look with this issue? :)

[2022-07-22 09:24] kkukelka commented on #3528
@zhengow  maybe wait for this to be merged as ive changed BalanceInput component https://github.com/kodadot/nft-gallery/pull/3529

[2022-07-22 09:27] zhengow commented on #3528
Sure.

[2022-07-22 09:43] #3504 closed

[2022-07-22 09:56] preschian commented on #2849
hi @yangwao, is this what you expected?

results:
| URL | image |
| --- | --- |
| /rmrk/collection/<br> https://kodadot.xyz/rmrk/collection/00da54310732f6437d-QBCVI | ![www opengraph xyz_url_https%3A%2F%2Fkodadot xyz%2Frmrk%2Fcollection%2F00da54310732f6437d-QBCVI](https://user-images.githubusercontent.com/734428/180412579-93b794ee-a2fe-49d6-9fdf-d6d62ad9ac51.png) |
| /rmrk/detail/<br> https://koda

[2022-07-22 10:09] #3508 closed

[2022-07-22 10:11] zhengow commented on #3205
#3484 will tell u🙌

[2022-07-22 10:17] petersopko commented on #3292
done

[2022-07-22 10:17] #3292 closed

[2022-07-22 10:17] petersopko commented on #3293
done

[2022-07-22 10:17] #3293 closed

[2022-07-22 10:23] #3510 closed

[2022-07-22 10:30] petersopko commented on #3203
sorry @prachi00 , it's fixed now, 3204 got somehow stuck

[2022-07-22 10:37] #3389 closed

[2022-07-22 10:52] #3516 closed

[2022-07-22 10:59] #3509 closed

[2022-07-22 12:04] yangwao commented on #3349
Hey if anyone can check on this one?
I've raised a bounty for this one :)

[2022-07-22 12:16] yangwao commented on #3312
Being fixed in #3500

[2022-07-22 12:21] yangwao opened #3531 "Text of global marketplace offers"
Seems we are showing text where it should not be?

https://beta.kodadot.xyz/bsx/gallery/840505278-1

![image](https://user-images.githubusercontent.com/5887929/180438089-90fe6e61-f24d-4a62-b31f-d3932ab8ba64.png)

[2022-07-22 12:27] roiLeo commented on #3349
🚶‍♂️ 👋

[2022-07-22 12:32] Jarsen136 commented on #3531
👋

[2022-07-22 12:39] roiLeo commented on #3349
Oops my bad it's more of a Backend issue reference https://github.com/kodadot/snek/issues/36

[2022-07-22 12:47] yangwao opened #3532 "can't mint if I don't want to put NFT on sale?"
Can't mint if I don't want to put NFT on sale?
The balance should be there, as you see.

![image](https://user-images.githubusercontent.com/5887929/180442059-c30fd060-7957-41af-b8b4-ab059122de1d.png)

[2022-07-22 12:50] yangwao opened #3533 "I see zero listing price on NFT listed for non-zero price"
I've listed NFT at minting for 120000 BSX or something definitely non-zero, and I see zero?

https://beta.kodadot.xyz/bsx/gallery/2526524581-4

![image](https://user-images.githubusercontent.com/5887929/180442563-4b1b28d3-21c7-4dc3-80db-1446cbbd8966.png)

# ref
most probably relevant with
- #3560

[2022-07-22 12:51] roiLeo commented on #3532
Definitly looks like a disabled button 😬

[2022-07-22 13:17] petersopko commented on #3531
Sorry, I guess there was a miscommunication around this, just to clarify, do we want to change the "Basilisk Marketplace Statistics" to "Global Marketplace Offers" ? And remove the text above the table?

[2022-07-22 13:19] Jarsen136 commented on #3533
👋

[2022-07-22 13:20] Jarsen136 commented on #3532
👋

[2022-07-22 14:33] roiLeo opened #3534 "some 3D nft in /collection/{id}"
There's some collection with only 3D items that we can't see.
_I would like to be able to see model preview on collection_ (like spaceship)

Tested on:

- `/rmrk/collection/7cf9daa38281a57331-BSS` (working well)
<img width="915" alt="Capture d’écran 2022-07-22 à 4 25 06 PM" src="https://user-images.githubusercontent.com/9987732/180460363-8433abd1-f173-458d-8c9d-0a98c08a2efc.png">

- `/rmrk/colle

[2022-07-22 15:09] kkukelka commented on #3528
good to go now :)

[2022-07-22 15:32] Jarsen136 commented on #3531
I guess you would know what's wrong after looking screenshot in my PR: https://github.com/kodadot/nft-gallery/pull/3537#issue-1315147689

[2022-07-22 15:49] petersopko commented on #3531
Ah, my bad, misunderstood what the problem was.

[2022-07-22 15:55] Jarsen136 commented on #3534
👋

[2022-07-22 16:50] yangwao opened #3539 "husky: Permission denied"
Seems these two PRs doesn't builds

https://github.com/kodadot/nft-gallery/pull/3538
https://github.com/kodadot/nft-gallery/runs/7471270458?check_suite_focus=true

[code]

[2022-07-22 16:52] prachi00 commented on #3539
https://stackoverflow.com/questions/51811564/sh-1-node-permission-denied
seems like some issue with broken packages?

[2022-07-22 16:59] prachi00 opened #3540 "Offer burned nfts"
@yangwao I see that you've added this reuqest

did you mean to add some column which will track whether NFT is burned or not? Cause the query right now, is fetching all of the NFTs regardless of their state (so you can see the burned ones in the table)

_Originally posted by @petersopko in https://github.com/kodadot/nft-gallery/issues/3477#issuecomment-1192412385_

[2022-07-22 17:00] prachi00 commented on #3540
@yangwao can you explain more about this one here?

[2022-07-22 20:25] prachi00 commented on #3401
I am working on this one

[2022-07-22 23:25] prachi00 commented on #3463
@yangwao how are we keeping the UI for this one? do we have any reference?
like are we giving an option here like Transfer, a dedicated page to check offer for any address?

<img width="350" alt="Screen Shot 2022-07-22 at 4 24 40 PM" src="https://user-images.githubusercontent.com/39299315/180580126-1355316f-72cf-44f9-b3b6-789641c480f9.png">

[2022-07-23 03:09] Jarsen136 commented on #3533
I could not even change the listing price on the nft details page : )
I have checked the price while submitting at frontend is correct, but still have no idea why do not work  😕

[2022-07-23 04:25] preschian commented on #3539
should be fixed by this https://github.com/kodadot/nft-gallery/pull/3536
root cause: https://github.com/kodadot/nft-gallery/pull/3530#issuecomment-1192661314

[2022-07-23 07:04] petersopko commented on #3349
@KngZhi you wanna take a look? You have some experience with indexers 😄

[2022-07-23 07:17] petersopko commented on #3532
the bug got introduced here 👀
- https://github.com/kodadot/nft-gallery/pull/3529

[2022-07-23 07:47] petersopko opened #3541 "can't mint NFT"
I'm facing this error when trying to mint new NFT, not sure what asset instance ID means, but:

- it's new picture
- new name
- new description
- tried in new window (incognito) - same thing

Nothing seemingly matches any previously existing NFT.

<img width="654" alt="image" src="https://user-images.githubusercontent.com/73316633/180595329-d999547a-4508-4a4a-a3cc-e7060d0d6829.png">

[2022-07-23 07:48] petersopko commented on #3533
cannot currently get to this due to
- https://github.com/kodadot/nft-gallery/issues/3541

[2022-07-23 07:52] #3507 closed

[2022-07-23 07:55] KngZhi commented on #3349
😄 okay, I will give it shot.

[2022-07-23 07:57] #3203 closed

[2022-07-23 08:00] #3539 closed

[2022-07-23 08:03] petersopko commented on #3513
indexer shows that there are offers from our wallets at https://beta.kodadot.xyz/bsx/gallery/1380208565-1 🤔

[code]

[2022-07-23 08:08] #3532 closed

[2022-07-23 08:12] KngZhi opened #3542 "BSX profile page does not default selected"
### What happened?

as title mentioned.

### Please reproduce in steps

On bsx chain, go to profile page.

### Expected Behavior

Should be selected as first one or from url query params.

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

beta.kodadot.xyz

### Are you logged in?

Yes

### Which wallet you are using?

PolkadotJS

### At which cha

[2022-07-23 08:12] KngZhi commented on #3542
👋

[2022-07-23 09:01] Shivaproject opened #3544 "Unique already exists"
### What happened?

1. Made an offer, commission paid, but it gives an error. Photo attached
2. Can't upload photos to a specific collection, although the file has not been used anywhere yet,  commission paid
3. When uploading the last two files, it shows the sale price of zero
4. Such a question, why can't I change the price of a file after I put it up for sale?

### Please reproduce in steps

1.

[2022-07-23 11:35] #3501 closed

[2022-07-23 12:45] preschian commented on #1492
updated remaining endpoints here https://github.com/preschian/kodadot-status/pull/97

what is the moon endpoint? I couldn't find from here https://github.com/kodadot/nft-gallery/blob/main/utils/constants.ts

[2022-07-24 04:20] KngZhi commented on #3520
For now, waitting for #3500 merged.

[2022-07-24 04:53] kkukelka commented on #3533
👋

[2022-07-24 04:58] #3205 closed

[2022-07-24 05:24] yangwao opened #3547 "Retry on the minting in case of errors"
Once users mint and for whatever reasons drops connections, we should handle it in a graceful way and retry the connection.
Probably we should handle RPC errors with some retry?

In my case, retry worked minting on the second try.

### Handle retry for
- pinning
- on-chain transaction

![image](https://user-images.githubusercontent.com/5887929/180633428-f543cb03-7937-4e23-921f-dd65ee3ef2ba.png)

!

[2022-07-24 05:30] yangwao opened #3548 "Tooltip not enough funds when have enough balance"
Seems the tooltip about not having enough funds is poorly implemented, or proper checks are not there?

![Screenshot 2022-07-24 at 07 25 38](https://user-images.githubusercontent.com/5887929/180633618-8da6fd9e-5110-451f-b226-01e5bf455758.png)

https://user-images.githubusercontent.com/5887929/180633576-1bd15e9a-1179-42a8-8d58-4070ce29b05d.mov

This case might be ok but the tooltip is pointing else

[2022-07-24 05:32] zhengow commented on #3548
👋

[2022-07-24 05:48] yangwao opened #3549 "Sorting by price in offers made doesn't work properly"
Sorting by price in offers made seems doesn't work.
I recall we fixed it already in the global offers list?

feel free to test it here https://beta.kodadot.xyz/bsx/u/bXgvP2cQzEnPvuPQHRghz9dUYovqzyPhXBRXbNwVCef7nsmqb?tab=offers

![image](https://user-images.githubusercontent.com/5887929/180634138-f7f8b969-822b-4069-84e9-f1005083e9b6.png)

[2022-07-24 05:50] yangwao opened #3550 "Add ability to sort by time in incoming offers"
It seems now incoming offers are sorted by default by time

![image](https://user-images.githubusercontent.com/5887929/180634256-b4afce3a-af82-4962-a28b-63465b33e930.png)

but the user can't sort by time afterwards

https://user-images.githubusercontent.com/5887929/180634273-5e365726-7103-4db8-b26b-0515837e310c.mov

[2022-07-24 05:56] Jarsen136 commented on #3550
👋

[2022-07-24 05:56] Jarsen136 commented on #3549
👋

[2022-07-24 07:20] Jarsen136 commented on #3547
👋

[2022-07-24 08:21] prachi00 commented on #3540
@yangwao 👀

[2022-07-24 14:12] #3531 closed

[2022-07-24 14:19] kkukelka commented on #3533
found a quickfix solution but I don't like it at all. seems snek return wrongly formatted price value

[2022-07-24 22:57] prachi00 opened #3557 "Sorting names in collection is messed up"
### What happened?

![Screen Shot 2022-07-24 at 3 55 25 PM](https://user-images.githubusercontent.com/39299315/180669173-151648a6-4579-4fc3-a75c-f3a12cab2be4.png)

### Please reproduce in steps

Sorting names in collection is messed up in all chains

### Expected Behavior

-

### What browsers are you seeing the problem on?

_No response_

### At which address did you encounter bug?

_No response_

[2022-07-25 03:46] prachi00 commented on #3557
seems to have been caused by #3517

[2022-07-25 03:55] KngZhi commented on #3557
hi @prachi00 I made an PR(#3545) for that 🤣

[2022-07-25 04:08] prachi00 commented on #3557
oh okay, can you also add this in the PR closes part so it gets closed as well ?

[2022-07-25 04:09] KngZhi commented on #3557
yeah, of course.

[2022-07-25 04:16] KngZhi commented on #3349
@petersopko it looks like `PAY_ROYALTY` is back. on my localhost graphql

![Screen Shot 2022-07-25 at 12 15 07 PM](https://user-images.githubusercontent.com/11361147/180697751-963e432f-df06-4286-8753-bec6ee6d3a8a.png)

[2022-07-25 05:40] preschian commented on #2759
I found another solution by using prerender.io on cf-workers. easier than the current script running on production. tested here https://github.com/preschian/prerender-cf-workers

results:
- https://kodadot.preschian.xyz/rmrk/gallery/11238234-e0b9bdcc456a36497a-RMRKBNNRS-ARK_PROBABLY_NOTHING-0000000000000231
- https://kodadot.preschian.xyz/bsx/gallery/3308315261-1
- https://kodadot.preschian.xyz/mo

[2022-07-25 06:00] #3542 closed

[2022-07-25 06:48] #3492 closed

[2022-07-25 06:55] #3550 closed

[2022-07-25 06:59] KngZhi commented on #3557
Hi @prachi00, would you mind to close this manually, forget to add `closes` before the issue number.

[2022-07-25 07:01] #3534 closed

[2022-07-25 07:05] KngZhi opened #3558 "Balance Input emit wrong value after unit change"
### What happened?

As title suggested.the

### Please reproduce in steps

Any Gallery Item could reproduce this.

### Expected Behavior

BSX should be the base unit, and emit the right value with bsx unit after the value changed or unit changed.

### What browsers are you seeing the problem on?

_No response_

### At which address did you encounter bug?

_No response_

### Are you logged in?

_No

[2022-07-25 07:08] Jo2077 opened #3559 "The number of Offer Made in user profile page is zero"

[2022-07-25 07:09] #3559 closed

[2022-07-25 09:06] yangwao opened #3560 "Zero price at listings ?"
I'm not sure if it's legit or if it's the same bug as #3533 ?

Seems I've bought NFT for 0 BSX
https://beta.kodadot.xyz/bsx/gallery/3060885173-9
![image](https://user-images.githubusercontent.com/5887929/180740359-9d4f7163-90fe-49a6-836c-7f9748201edb.png)

0 BSX at listing
https://beta.kodadot.xyz/bsx/gallery/3060885173-7?page=1
![image](https://user-images.githubusercontent.com/5887929/180740441-

[2022-07-25 10:03] yangwao commented on #1492
wow, https://preschian.github.io/kodadot-status/ beautiful!

https://github.com/kodadot/click

[2022-07-25 10:18] zhengow commented on #3560
I think it's the same. @kkukelka said it should be fixed by snek rather than front-end 👀

[2022-07-25 10:35] petersopko commented on #3540
how about toggle button, ON: Show burned NFTs, default off

[2022-07-25 10:40] petersopko commented on #3544
Hey, thanks for reporting this :) can we get more details please? Such as link to the NFT and your wallet address? Starts with bX...

[2022-07-25 10:45] petersopko commented on #3349
hmm, I don't see much from the screenshot. The point of PAY_ROYALTY event is, that there should be royalty paid based on the original percentage set upon minting of NFT. Therefore, every time NFT is sold, there's royalties paid to the original creator. Can you confirm / verify that is the current behavior in KodaDot?

[2022-07-25 10:49] #3557 closed

[2022-07-25 10:55] #3549 closed

[2022-07-25 11:26] roiLeo commented on #2759
I find pricing a bit expensive for what it's supposed to do.

What's the current issue with vercel prerender? Any idea why it's not working well on kodadot.xyz but works on beta?

[2022-07-25 11:56] yangwao commented on #3560
Maybe some types have changed on their side, yeah.

[2022-07-25 11:58] preschian commented on #2759
did you mean vercel this one https://github.com/AndreyGrin/og-image?
no issue with that one. I think that one has a different purpose, vercel returns a dynamic image from the URL, not doing prerender

the difference between beta and main domain is `beta.kodadot.xyz` served by Netlify. On Netlify already built-in support for prerendering https://docs.netlify.com/site-deploys/post-processing/prerend

[2022-07-25 12:38] yangwao opened #3561 "Sunsetting unique-west & RMRK (westend)"
As we don't need current ones as it was used for implementation, we can remove them from the selector or make them only for development mode when someone wants to run the local environment.

![image](https://user-images.githubusercontent.com/5887929/180778974-77518e50-5490-4eda-89b8-9641450c90aa.png)

[2022-07-25 12:39] zhengow commented on #3561
👋

[2022-07-25 12:58] kkukelka commented on #3560
@yangwao it's the same "bug". not actually a bug, but the prices of the NFTs come back in the wrong format. our format function cannot work with current value as it expects 12 decimals

[2022-07-25 13:49] yangwao commented on #3560
Does it seem there are 12 decimals?
src https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Fbasilisk-kodadot.hydration.cloud#/settings/metadata
<img width="571" alt="image" src="https://user-images.githubusercontent.com/5887929/180792994-3aa69eb5-11af-4eee-b7ce-b5daf90f0f42.png">

[2022-07-25 17:04] prachi00 commented on #3540
uh okay yeah that would work I guess

[2022-07-25 17:20] Shivaproject commented on #3544
https://beta.kodadot.xyz/bsx/gallery/1679439669-5
https://beta.kodadot.xyz/bsx/gallery/1707670769-9?page=1
https://beta.kodadot.xyz/bsx/gallery/1707670769-5?page=1
bsx adress    bXhHkrZkzV9LXuwk3AyQ186tVkz6wGQcrxM2cBByGEsNEE1c6

[2022-07-25 17:24] Shivaproject commented on #3544
Problem with basilisk eye collection. Added 10 files to the collection in total, and now I can't upload any files. The error is visible in the screenshot at number two.

[2022-07-25 19:55] prachi00 opened #3563 "Add sorting in user's offer table"
Adding comment here to follow from
- #3477

It would be nice to have some sort of option (maybe toggle) to show only active offers, since those are the ones which will be (I assume) most interesting to the user most of the time

_Originally posted by @petersopko in https://github.com/kodadot/nft-gallery/issues/3463#issuecomment-1190410157_

[2022-07-25 20:23] jkdizajn opened #3565 "[ERR] uniques.AlreadyExists: The asset instance ID has already been used for an asset."
### What happened?

When stamping a new NFT, I got this error message at the final stage.
Details in the attached video.
![obrázok](https://user-images.githubusercontent.com/81104034/180867296-274c55f9-84a1-4c05-ab6e-230c5667169c.png)

### Please reproduce in steps

Details in the attached video.

### Expected Behavior

Details in the attached video.

### What browsers are you seeing the problem o

[2022-07-26 05:38] kkukelka commented on #3560
the problem is we get different BSX values at different parts in the app. Like for example `profileStatsById` returns me `meta: 10000000000000000` which is then formatted (by our helper function) correctly to 10,000 BXS. But when fetching like a GalleryItem with nftById it return me `price: 10000` which is already formatted in a way
maybe @vikiival has an idea

[2022-07-26 08:18] vikiival commented on #3560
`snek` indexer always keeps price in the original format ->
so if you get `price:  10000` it means that either someone:
- [ ] put price `0,00000001` (10k / 10 ** 12)
- [ ] put price 10k and we have bug in the component

[2022-07-26 08:20] vikiival commented on #3560
Let me make it correct -> our format function rounds to two decimal places so 0.001 is 0

[2022-07-26 08:31] petersopko opened #3567 "add expiration date and filtering options to offers everywhere"
There are two features / enhancements which I'd like to see added to **every offer table**. They are already added at some points, but not everywhere:

1. Filtering by offer status (currently being added here):
- https://github.com/kodadot/nft-gallery/pull/3564

2. Estimation of time to expiration of offer (added here):
- https://github.com/kodadot/nft-gallery/pull/3452

Currently we're showing of

[2022-07-26 08:34] Jarsen136 commented on #3567
👋

[2022-07-26 08:59] preschian commented on #1483
when I tried to add a box plot chart using this data https://kodadot.xyz/rmrk/collection/e0b9bdcc456a36497a-RMRKBNNRS?tab=chart
the chart showed like this
<img width="2032" alt="Screen Shot 2022-07-26 at 15 50 57" src="https://user-images.githubusercontent.com/734428/180965898-6bb508f3-b9f8-4dde-bc3a-945a03b2b0e2.png">

is that ok? because there are some outliers data far from median/boxed data
li

[2022-07-26 09:48] JustLuuuu opened #3568 "Sorting - happening only for 1 page"
Sorting: if you click on Explore - after clicking on the top of the column (for example, sort by Price), it will sort offers only on the open page. However, the price should be sorted based on all the items (on all pages), not only one page. This way, you see the highest price only on the open page - the most expensive items can still stay "hidden" on the other pages.

![image](https://user-images

[2022-07-26 09:53] Jarsen136 commented on #3568
👋

[2022-07-26 10:19] #3561 closed

[2022-07-26 10:28] petersopko opened #3569 "Chain selection shouldn't always redirect to landing"
I'd like to see better user experience when it comes to switching between BSX<->KSM, current implementation is always redirecting back to landing page (suboptimal). Issue is labeled as research as this could introduce bunch of edge cases, but here's what I can see working:

1. When user browses either of Explore tabs (collections/gallery), changing chain shouldn't redirect to landing, but rather r

[2022-07-26 10:33] yangwao opened #3570 "Newest List for Basilisk"
I guess adding the same component as we have for RMRK, but for Basilisk on Landing would be nice.

![image](https://user-images.githubusercontent.com/5887929/180985993-14eac030-97f2-41c1-9bb8-b5d5c447b19d.png)

[2022-07-26 10:34] zhengow commented on #3570
👋

[2022-07-26 10:36] yangwao opened #3571 "Latest sales for Basilsik"
Same as we have latest sales on RMRK, we should have for Basilisk on landing

![image](https://user-images.githubusercontent.com/5887929/180986510-90f34f5e-d4ae-4b58-99f2-3fb7d63362e9.png)

[2022-07-26 10:40] zhengow commented on #3571
👋

[2022-07-26 10:41] yangwao commented on #3558
Maybe fixed in #3500 ?

[2022-07-26 10:45] preschian commented on #1483
it was better after removed outliers data
<img width="2032" alt="Screen Shot 2022-07-26 at 17 42 56" src="https://user-images.githubusercontent.com/734428/180987866-68dec7a0-6bca-4e55-8104-b09d319d1b31.png">

[2022-07-26 10:55] yangwao commented on #1483
beautiful!

[2022-07-26 10:56] yangwao commented on #3544
Same as
- #3565 ?

Maybe fixed in
- #3566

@Shivaproject you can try to test here if it's still happen for you
https://deploy-preview-3566--koda-nuxt.netlify.app/

[2022-07-26 11:35] KngZhi commented on #3558
Nah, this is kind a front-end bug.

e.g., If I input 100 kilo, it should emit 100 * 1000 BSX;

I'm working on it, would make a PR tonight.

[2022-07-26 12:10] #3563 closed

[2022-07-26 12:18] Jarsen136 commented on #3570
Just FYI, we have better write a resolver in `snek` to avoid duplicate items in landing page. @zhengow
Ref: https://github.com/kodadot/nft-gallery/issues/3059

[2022-07-26 12:56] zhengow commented on #3570
Thanks for your information:)
But how about get newest list using this query, and filter it if it has the same id, I think maybe there is no need to write a new resolver?
[code]
<img width="1614" alt="image" src="https://user-images.githubusercontent.com/38389586/181010880-0e66666c-a249-450c-aaef-3b2c25b8cc34.png">

[2022-07-26 12:59] roiLeo commented on #3570
With this query if I "LIST" two times (first one LISTED 10 BSX and second one LISTED 20 BSX) the same nft then it will appear duplicated in NewestList.

We had same issue with rmrk, but we fix it using a new resolver.

[2022-07-26 13:03] zhengow commented on #3570
Yes, that's true, I understand. But how about I filter the array that I query to avoid same id nft?

[2022-07-26 13:05] zhengow commented on #3570
Maybe I query 15 newest list, and filter them without same id, maybe let's say 12 nfts left, then I take first 10?

[2022-07-26 13:09] Jarsen136 commented on #3570
There always are some edge cases that could not be solved in the frontend : )
What if the newest 20 nfts have the same id?

[2022-07-26 13:09] roiLeo commented on #3570
Do you mean on the client side? in js?
not the best solution but If you find a way to filter them with gql go on

[2022-07-26 13:16] vikiival commented on #3570
Go for it :)

[2022-07-26 14:02] KngZhi commented on #3560
For those kind situation, maybe we can convert 0.000001 -> 0.0<sub>5</sub>1

[2022-07-26 15:03] #3565 closed

[2022-07-26 15:03] #3541 closed

[2022-07-26 16:26] prachi00 commented on #3569
what happens when the user clicks on back button when they are on another chain?

[2022-07-27 01:16] prachi00 opened #3576 "Duplicate nfts in user profile created section"
### What happened?

![Screen Shot 2022-07-26 at 6 16 28 PM](https://user-images.githubusercontent.com/39299315/181139333-9f3b232b-3b02-4c20-98a9-4e560ca74112.png)

### Please reproduce in steps

https://beta.kodadot.xyz/bsx/u/bXj1N8PuXSaZAR3TdMxmXAce32FhZpW3qy8NSj9djB1SAPhz7?page=1

### Expected Behavior

.

### What browsers are you seeing the problem on?

_No response_

### At which address did

[2022-07-27 04:05] preschian commented on #1483
👋

[2022-07-27 05:11] #3548 closed

[2022-07-27 06:03] #3547 closed

[2022-07-27 07:33] roiLeo commented on #3514
This query will be greedy without limit

[2022-07-27 07:45] roiLeo opened #3579 "Refactor: ProfileDetail component"
- multi chain component
- create `networks` component
- refactor `PaginatedCardList` (sorting, filter etc...)
- async gql query
- remove unused stuff

[2022-07-27 08:02] Jarsen136 opened #3580 "incorrect information on user offer at profile page"
### What happened?

1. action button
I'm not the owner of this account, but I can see the withdraw offer button and even click it.
https://beta.kodadot.xyz/bsx/u/bXgvP2cQzEnPvuPQHRghz9dUYovqzyPhXBRXbNwVCef7nsmqb?tab=nft

<img width="1378" alt="image" src="https://user-images.githubusercontent.com/31397967/181192312-f13bd15e-a450-48e4-abeb-a6e8abd08f53.png">

2.  offers number
I always see the zero

[2022-07-27 08:10] roiLeo commented on #2759
If I understand we serve production with Cloudflare and beta/preview with Netlify, do you know why?

**alternative solution:**

I think that was the solution we had before cloudflare

I'm pretty sure this one will break stuff and we'll need more work to convert to SSR.
That was the initial goal with the Nuxt migration.

I find this solution a bit far-fetched

[2022-07-27 09:12] KngZhi opened #3582 "OfferTable sorting on name not working properly"
### What happened?

OfferTable sorting on name not working properly

### Please reproduce in steps

click name to sort

### Expected Behavior

it should be alphabet sroted.

### What browsers are you seeing the problem on?

_No response_

### At which address did you encounter bug?

_No response_

### Are you logged in?

_No response_

### Which wallet you are using?

_No response_

### At which c

[2022-07-27 09:12] KngZhi commented on #3582
👋

[2022-07-27 09:16] Jarsen136 commented on #3582
I guess this issue has been solved by #3572 👀

How about taking a try https://deploy-preview-3572--koda-nuxt.netlify.app/

[2022-07-27 09:27] KngZhi commented on #3582
👍 Nice.

[2022-07-27 09:27] #3582 closed

[2022-07-27 09:46] preschian commented on #2759
I don't know the reason, I think when I first landed in kodadot already using that flow
maybe the founder has some reason for that cc @yangwao

agree, I think the easiest solution so far to tackle this issue:
- serve primary domain use Netlify, or
- still in Cloudflare pages, but add prerender.io in workers

[2022-07-27 09:57] petersopko opened #3583 "Offer Status - Expired?"
One thing I've noticed at couple of places is that we don't have status of offer that would say `EXPIRED`, therefore all of the expired offers are whatever states they are in (expiration doesn't change status of Offer). @vikiival mentioned something like hook which could solve this, I'm opening up and issue and marking as research.

![image](https://user-images.githubusercontent.com/73316633/18121

[2022-07-27 10:00] petersopko commented on #3569
expanded by your comment :)

[2022-07-27 10:07] KngZhi commented on #3560
👋

[2022-07-27 10:21] #3576 closed

[2022-07-27 10:30] petersopko opened #3584 "Burning NFT should cancel Offers"
Expanding from @roileo comment here:

why do we need to show burned content?
If it's burned, the offer shouldn't exist anymore

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/pull/3575#pullrequestreview-1051999846_

Currently, burning NFT doesn't affect offers around the NFT at all. I suppose, this is not ideal since it would be only logical to have burning NFT with offers

[2022-07-27 10:48] petersopko commented on #3349
Still in dire need of bughunt and fix here:

[code]

above query is returning 0 PAY_ROYALTY events, even though, there was a set royalty and I have purchased it

![image](https://user-images.githubusercontent.com/73316633/181228676-ea7b7369-6aeb-4b4c-8e3c-5ac5bd028cea.png)
![image](https://user-images.githubusercontent.com/73316633/181228726-ee2cd85e-eefa-480d-ad47-e0c7a00e7182.png)

However, when

[2022-07-27 10:57] vikiival commented on #3584
The joke is:
- that you can burn the nft
- mint new under the same `id` (we do not support reminting).
- and then the offers are still valid :)

[2022-07-27 11:08] petersopko opened #3586 "BalanceInput.vue - Unit Test"
Expanding from @KngZhi here:

unit test for available actions:
- https://github.com/kodadot/nft-gallery/issues/2964

Made a thorough test by myself.

For the component unit test, maybe we can create a new issue for this since we have to add more packages to do that and solve some conflicts. Tried before, but there are some issues with *Buefy* that *vue-test-utils* can not find b-component to do te

[2022-07-27 11:15] Jarsen136 opened #3587 "Incorrect balance number after switching current chain"
tested on https://deploy-preview-3500--koda-nuxt.netlify.app/transfer

I could see an incorrect balance after I switch current chain from BSX to RMRK
<img width="1508" alt="image" src="https://user-images.githubusercontent.com/31397967/181217488-e1ca7d13-2269-439f-a17f-fc5e1aa37f9f.png">

After I reload the page, it works well as usual.
<img width="1551" alt="image" src="https://user-images.github

[2022-07-27 11:21] preschian commented on #1492
if we are good to go, I think it's better to move the repo under https://github.com/kodadot

I just realized og-image on vercel had a couple of downtimes in this three days
better to move [og-image repo](https://github.com/AndreyGrin/og-image) under kodadot also

<img width="2032" alt="Screen Shot 2022-07-27 at 18 00 24" src="https://user-images.githubusercontent.com/734428/181234040-9fcbe8af-f9bd

[2022-07-27 11:46] KngZhi commented on #3587
👋

[2022-07-27 11:47] KngZhi commented on #3349
Thanks, Peter I will check that. Snek is too black box for me, 😂

[2022-07-27 11:54] #3312 closed

[2022-07-27 11:54] #3364 closed

[2022-07-27 12:40] petersopko commented on #3587
Happens to me as well, testing currently on beta, can't get proper number of BSX (it's not zero):
![image](https://user-images.githubusercontent.com/73316633/181248912-982ebdb4-78f8-45a5-90ed-6c941240bdb1.png)

[2022-07-27 12:52] petersopko opened #3588 "Expiration: computing?"
It looks like the new api
- #3500

has broke our expirations estimates:
https://beta.kodadot.xyz/bsx/incomingoffers/
https://deploy-preview-3500--koda-nuxt.netlify.app/bsx/incomingoffers/
![image](https://user-images.githubusercontent.com/73316633/181250786-025bfd0c-f5f4-4669-807f-ca769d1e7cea.png)

still works in prod:
https://kodadot.xyz/bsx/incomingoffers
![image](https://user-images.githubuser

[2022-07-27 13:07] Jarsen136 commented on #3588
👋

[2022-07-27 13:12] JustLuuuu opened #3589 "Can't place offers"
The minimum offer was supposed to be 10 000 or more; I tried to make an offer and got error:
![image](https://user-images.githubusercontent.com/104380776/181254933-31735d6e-f555-41a8-9a26-13aa0e859375.png)

_Originally posted by @JustLuuuu in https://github.com/kodadot/nft-gallery/issues/3578#issuecomment-1196744902_

[2022-07-27 13:23] petersopko commented on #3589
zero price at listing is already being tracked here, seems that for the past three days, every NFT has price 0
- https://github.com/kodadot/nft-gallery/issues/3560

however, I'm facing the same error with offer, so I'll just rename this :)

[2022-07-27 13:26] petersopko commented on #3589
currently unable to place offer, happens both on beta and prod

[2022-07-27 13:51] #3568 closed

[2022-07-27 15:15] jkdizajn opened #3591 "Error: Unable to retrieve keypair"
### What happened?

Mint not working last 4 hours on RMRK network....

### Please reproduce in steps

classic NFT minting for the collection...

### Expected Behavior

classic NFT minting for the collection

### What browsers are you seeing the problem on?

Chrome, Firefox

### At which address did you encounter bug?

kodadot.xyz

### Are you logged in?

Yes

### Which wallet you are using?

Polka

[2022-07-27 16:17] yangwao commented on #3591
@KngZhi occurred this error recently 🤔🤔🤔

[2022-07-27 16:24] KngZhi commented on #3591
@jkdizajn  https://docs.kodadot.xyz/tutorials/how-to-fix-error-keypair.html

by the way, @yangwao could you merge [this PR](https://github.com/kodadot/docs/pull/71)?

[2022-07-27 16:43] zhengow commented on #3571
[snek#42](https://github.com/kodadot/snek/pull/42)
Made a PR for these two issues(#3570 #3571), @vikiival pls have a look when you are free:)

[2022-07-28 03:26] KngZhi commented on #3560
hi @vikiival
if I LISTing at 10,000 BSX, What I should pass to transaction function would be `10,000 * (10**12)`?

[2022-07-28 08:13] Shivaproject commented on #3544
The problem with the price. After signing the transaction everything is successful, but the price on the platform is zero.
bsx adress bXhHkrZkzV9LXuwk3AyQ186tVkz6wGQcrxM2cBByGEsNEE1c6
![Снимок экрана (142)](https://user-images.githubusercontent.com/108521974/181456065-197f5e20-1a68-4b9b-b658-83230fd6dd65.png)

[2022-07-28 08:17] yangwao commented on #3533
Continue to #3560 as seems same issue with formating ~

[2022-07-28 08:17] #3533 closed

[2022-07-28 08:17] yangwao commented on #3544
yes, we are aware of it; the anticipated hotfix will come today 😅🤞😁

continue tracking it in
- #3560

[2022-07-28 08:17] #3544 closed

[2022-07-28 08:22] Shivaproject commented on #3544
Thanks a lot)

[2022-07-28 08:52] cryptodamsky opened #3593 "When gifting out NFT, raw popup shows"
### What happened?

Went out to our nft gallery on rmrk to send out nft

### Please reproduce in steps

/

### Expected Behavior

For it to look normal

### What browsers are you seeing the problem on?

Firefox

### At which address did you encounter bug?

kodadot.xyz

### Are you logged in?

_No response_

### Which wallet you are using?

PolkadotJS

### At which chain did you encounter bug?

RMR

[2022-07-28 08:54] Jarsen136 commented on #3593
👋

[2022-07-28 11:44] petersopko opened #3594 "can't build with latest main"
tried everything I could think of up to this point:
- reinstalling pnpm
- making sure I have same version as @vikiival  (7.3.0)
- deleting and cloning app again
- turning off and on (everything 😆)
- clean install from latest main [fork](/petersopko/nft-gallery)

doesn't build anyways. Anybody facing similar errors/got any idea how to get around this?

[code]

[2022-07-28 11:45] petersopko commented on #3594
just a note, this became a problem after
- #3500

[2022-07-28 13:34] #3588 closed

[2022-07-28 13:36] yangwao commented on #3376
Seems we've got adjusted runtime to set nft metadata limit to 70 chars for metadata at Rococo 👀  https://github.com/galacticcouncil/Basilisk-node/pull/536

[2022-07-28 14:12] #3560 closed

[2022-07-28 14:12] #3589 closed

[2022-07-28 16:17] Jarsen136 opened #3597 "TypeError: balanceInputComponent.checkValidity is not a function"
### What happened?

When I type an address on the GIFT input, an error comes out.

`TypeError: balanceInputComponent.checkValidity is not a function`

https://beta.kodadot.xyz
<img width="1068" alt="image" src="https://user-images.githubusercontent.com/31397967/181585458-79472cd6-2935-4d81-800d-9a9b3c9edc0b.png">

local development environment. localhost:3000

![Kapture 2022-07-29 at 00 10 38](htt

[2022-07-28 17:03] #3580 closed

[2022-07-28 17:05] jcbm123143 opened #3599 "Spanish translations needs to be updated and other languages as well"
### What happened?

I changed the language from English to Espanol but not all the words changed to Espanol. Same in other languages.

### Please reproduce in steps

1) Go to change the language selection
2) Change language

### Expected Behavior

Other words should also be translated

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

beta.kodad

[2022-07-28 17:10] prachi00 commented on #3599
Hi , feel free to add your language content here, you can find more information on the [Kodadot documentation](https://docs.kodadot.xyz/contrib-helpers.html#translating-kodadot)

[2022-07-28 17:18] jcbm123143 opened #3600 "Price Bug E letter and +- symbol"
### What happened?

I input E letter and +- symbol and error show
**In order to list NFT, price has to be more than 0**

### Please reproduce in steps

1) List NFT
2) input E letter or + or -

### Expected Behavior

Letter and mathematical numbers should be disabled

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

beta.kodadot.xyz

### Are you

[2022-07-28 17:19] prachi00 commented on #3600
👋

[2022-07-28 17:28] jcbm123143 opened #3601 "Collections Sort Features"
### Is your feature request related to a problem?

Collections are hard to find

### Describe the solution you would like

There should be other sorting features such as lowest to highest, Alphabets A-Z, Hot and Favorites

### Describe alternatives you have considered

To speed up the search of users or collectors

### Screeenshots

![image](https://user-images.githubusercontent.com/22148449/18160

[2022-07-28 17:42] jcbm123143 opened #3602 "Profile QR code - unable to scan"
### What happened?

The profile QR code unable to scan using my phone

### Please reproduce in steps

1) Go to Profile
2) Click QR code
3) Scan

### Expected Behavior

It should be possible to scan my profile QR code using my phone

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

beta.kodadot.xyz

### Are you logged in?

Yes

### Which wallet

[2022-07-28 19:10] #3597 closed

[2022-07-28 23:06] prachi00 commented on #3600
I see that the type is already number, so it seems fine

[2022-07-29 01:47] #3567 closed

[2022-07-29 01:50] prachi00 commented on #3463
@yangwao need a little help with the ui ux part of this oneee

[2022-07-29 06:17] preschian commented on #3594
@petersopko, what OS and command are you running?

I'm unable to reproduce this on my local. tested with `pnpm generate` and `pnpm build`
maybe the error occurs on a specific OS only
because build command works on [main](https://github.com/kodadot/nft-gallery/commits/main) and successfully deployed

[2022-07-29 06:20] preschian commented on #3594
just realized currently github actions only test `pnpm build` https://github.com/kodadot/nft-gallery/blob/main/.github/workflows/build.yml#L39
the correct one should be `pnpm generate`, I will open PR for that

should we test another OS also? github actions support windows and mac https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardw

[2022-07-29 06:54] petersopko commented on #3594
I'm using Windows 11 Pro, `22000.795` build to be specific. Only time this worked without issues was when I spun up WSL with Ubuntu, however that's not a long term solution since it's slow af.

I'm usually building app with `nuxt dev`, since scripts such as `pnpm dev` are causing other issues;

[code]

Anyways, I've tried `pnpm build` which seems to only throw warnings, `pnpm generate` produces th

[2022-07-29 07:08] preschian commented on #3594
I see, able to reproduce the error in GitHub actions with windows build. the error output same as you https://github.com/preschian/nft-gallery/runs/7574085756?check_suite_focus=true

regarding `ENV` issue, we can use [cross-env](https://www.npmjs.com/package/cross-env)
and change the script command. with that package should be ok running on cross OS
[code]

cool 👍

[2022-07-29 08:32] jcbm123143 commented on #3600
Symbols and letters should be disabled to prevent more bugs or glitches or errors.

[2022-07-29 08:32] jcbm123143 commented on #3600
Symbols and letters should be disabled to prevent more bugs or glitches or errors.

[2022-07-29 08:52] yangwao opened #3604 "Price validation at Basilisk"
Let's move price validation under input and remove it from notification toasts.

https://buefy.org/documentation/input
probably using `message`

![image](https://user-images.githubusercontent.com/5887929/181722024-4b1d756f-83dc-4eb3-aef5-ae759bff0071.png)

[2022-07-29 08:54] zhengow commented on #3604
done in #3546

[2022-07-29 08:55] yangwao commented on #3601
Something like we have in the gallery?

![image](https://user-images.githubusercontent.com/5887929/181723018-e6361345-8bb0-4252-8514-a3a95a553728.png)

[2022-07-29 08:58] yangwao commented on #3602
https://user-images.githubusercontent.com/5887929/181723508-d54eb19c-1f0e-4f06-901e-8aad0fecec0b.mp4

Seems wfm, maybe you had glare or we can add some checksum to code? Not sure if that's speed's up

[2022-07-29 09:00] yangwao commented on #3597
pay 20 usd

[2022-07-29 09:00] yangwao commented on #3597
😍 Perfect, I’ve sent the payout
💵 $20 @ 64.29 USD/KSM ~ 0.311 $KSM
🧗 [Caiv9TbPz68q5dC8EcHu5xKYPRnremimGzqmEejDFNpWWLG](https://kusama.subscan.io/account/Caiv9TbPz68q5dC8EcHu5xKYPRnremimGzqmEejDFNpWWLG)
🔗 [0xebf508d3e390d6d04149edbdeb8d6be938b2665ef59513b6512c96302dd02f85](https://kusama.subscan.io/extrinsic/0xebf508d3e390d6d04149edbdeb8d6be938b2665ef59513b6512c96302dd02f85)

🪅 Let’s grab another i

[2022-07-29 09:26] petersopko commented on #3602
wfm without problems

[2022-07-29 09:31] petersopko commented on #3600
@prachi00 maybe let's leave this to @zhengow since he's already redoing this part of the component in #3546 :)

[2022-07-29 09:42] #2514 closed

[2022-07-29 09:55] vikiival commented on #3594
Wow nice!

[2022-07-29 09:58] yangwao commented on #3352
@cryptodamsky it's still an issue even after we've merged #3500 ?

[2022-07-29 10:01] #3593 closed

[2022-07-29 10:04] yangwao commented on #1209
Meanwhile done

[2022-07-29 10:06] yangwao commented on #3521
They've just recently launched live their XYK pools.
You can get BSX for KSM or aUSD.

https://app.basilisk.cloud/#/trade?assetIn=1&assetOut=0

![image](https://user-images.githubusercontent.com/5887929/181736388-f69dceec-33af-4232-aa1a-b2341da0ecd3.png)

[2022-07-29 10:06] #3521 closed

[2022-07-29 10:07] #3402 closed

[2022-07-29 10:09] yangwao commented on #3333
✅
@prachi00 let's proceed

[2022-07-29 10:11] yangwao commented on #3207
hey, let's start with the floor price

![image](https://user-images.githubusercontent.com/5887929/181737441-870215ed-fa91-44fc-9c76-ff4f7f52babf.png)

[2022-07-29 10:12] petersopko opened #3605 "RELIST + UNLIST action buttons"
to relist it for a different price. Make sense to adjust it for different verb once has some price set and I also notice we don't have that "Unlist" button there

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/3595#issuecomment-1198187387_

following up from the comment above:
1. let's change the wording of `LIST` button to reflect the action, I propose `RELIST` on

[2022-07-29 10:15] Jarsen136 commented on #3605
👋

[2022-07-29 10:19] petersopko commented on #3587
related:
- https://github.com/kodadot/nft-gallery/issues/3395

[2022-07-29 10:28] petersopko commented on #3476
closing for lack of communication here, most likely related to
- #3395

[2022-07-29 10:28] #3476 closed

[2022-07-29 10:30] vikiival opened #3606 "BSX Asset page"
### Is your feature request related to a problem?

Since BSX on Rococo / Kusama will support Kusama as the currency we will need new /bsx/assets page

### Describe the solution you would like

The solution is pretty straightforward:

- [ ] make a table - asset, balance, actions
- [ ] list tokens that are available to the user
- [ ] make it settable to the chain.

Where to get the data?
Best to sta

[2022-07-29 10:33] petersopko opened #3607 "hide pagination for 1 page offers"
Let's hide the pagination if there's only one page please, currently visible on gallery item detail
https://beta.kodadot.xyz/bsx/gallery/3612943633-2?page=1

![image](https://user-images.githubusercontent.com/73316633/181741109-93ea71bc-400c-4d9e-bf08-92ccf01c76ac.png)

[2022-07-29 10:34] zhengow commented on #3607
👋

[2022-07-29 10:38] vikiival commented on #3513
@jak-pan also reported issue with offers

![](https://cdn.discordapp.com/attachments/1002230980297363476/1002251074805170296/Screenshot_2022-07-28_at_18.26.27.png)

[2022-07-29 11:13] petersopko commented on #3513
it seems that bug got introduced here 81696ea78f6c5a91a21d97da62bfb8a3d5e793e5

[2022-07-29 11:29] #3513 closed

[2022-07-29 11:34] yangwao commented on #3395
Is this still happening?

[2022-07-29 11:46] petersopko commented on #3349
Okay @vikiival just figured it out, it all makes sense at works 😆, this wasn't a bug in the first place:
1. first transaction from `creator` to `first buyer` isn't supposed to emit event `PAY_ROYALTY` since the full price is being paid
2. `PAY_ROYALTY` should be emitted on second order trades -> this works well

[2022-07-29 11:46] #3349 closed

[2022-07-29 11:51] vikiival opened #3610 "BSX check which asset is used for the fees"
### Is your feature request related to a problem?

Since you can pay fees in multiple currencies it would be nice to have a visual component that talks about says about it.

<img width="242" alt="Screenshot 2022-07-29 at 13 48 44" src="https://user-images.githubusercontent.com/22471030/181752511-aa5f969d-5223-41a2-9c98-a228d1c82cb5.png">

### Describe the solution you would like

This component sh

[2022-07-29 12:31] yangwao opened #3611 "Can't see other columns at certain width if not mobile"
This seems quite a weird bug as on "mobile", I can scroll horizontally, but on certain widths when not mobile, I can't see other columns or scroll.

https://user-images.githubusercontent.com/5887929/181758479-d374f676-2e26-45fd-92e2-63b291698f14.mov

[2022-07-29 12:33] yangwao commented on #3513
I guess that was accepting the offer after he bought that NFT?

[2022-07-29 12:34] Jarsen136 commented on #3611
👋

[2022-07-29 12:35] jak-pan commented on #3513
Yes

[2022-07-29 12:46] yangwao opened #3612 "Hide own offer afterwards I bought item"
Seems we should "hide" own offers on NFT you already own? wyt?
performed at https://beta.kodadot.xyz/bsx/gallery/2362109764-1
![image](https://user-images.githubusercontent.com/5887929/181763517-8514a137-2ebd-4a5a-b08d-1d0b41bdb28c.png)

[2022-07-29 12:47] yangwao commented on #3513
Uploading Screen Recording 2022-07-29 at 14.36.17.mov…

Seems already fixed on `main`

[2022-07-29 12:47] zhengow commented on #3612
👋

[2022-07-29 12:53] yangwao opened #3613 "Why is there GIFT in history if I bought and accepted offer?"
I bought an item and then accepted the offer; why is there a GIFT in history?

https://beta.kodadot.xyz/bsx/gallery/2362109764-1

![image](https://user-images.githubusercontent.com/5887929/181764553-3a184c5b-6c5b-4265-b090-97af40eeee29.png)

[2022-07-29 12:54] Jarsen136 commented on #3613
👋

[2022-07-29 15:40] yangwao opened #3616 "Name down components we should split into smaller reusable components"
We should avoid having long and extensive components, which are, let's say, over 100-200 LOC.
If possible, we should rework them into smaller components which are more accessible to trackable and have fewer merge conflicts.

- https://github.com/kodadot/nft-gallery/blob/main/components/rmrk/Create/SimpleMint.vue
- https://github.com/kodadot/nft-gallery/blob/main/components/bsx/Gallery/Item/Gallery

[2022-07-29 17:21] KngZhi commented on #3395
This would happens after you switched chain, and refresh browser would update balance.

If you KUSAMA -> BSX, you balance would be KSM, if BSX -> KSM the balance would be BSX.

[2022-07-30 02:31] zhengow commented on #3514
So it is need to write a resolver right?

[2022-07-30 10:23] yangwao opened #3621 "Optimize expiration time for shorter format"
I guess expiration is an issue on smaller/mobile screens, and overall we don't need to show it longer if it's expiration longer than one day.

- Make mixin, which helps show expiration in the shorter format.
- Change everywhere in offer tables

I.e. example
13 days 15 hours 38 minutes -> 13 days
15 hours 38 minutes -> 15 hours
38 minutes -> 38 minutes

https://user-images.githubusercontent.com/588

[2022-07-30 10:24] petersopko commented on #3612
let's hide them and give user option to cancel these in other place (such as master offer component etc.)

[2022-07-30 10:25] Jarsen136 commented on #3621
👋

[2022-07-30 10:25] yangwao commented on #3591
Seems we should probably handle unable ot retrieve keypair better. Apparently it's some keyring issue?

https://user-images.githubusercontent.com/5887929/181906209-0ab7bcc2-cc2a-4554-ad7b-05434d1421f2.mp4

[2022-07-30 11:12] yangwao opened #3622 "Can't submit transfer even I have balance"
Seems we are checking the balance on the transfer before submit? If so, I have balance and can't send less than that.
The bug is I can't hit submit button

![image](https://user-images.githubusercontent.com/5887929/181908206-4d6707bc-bf4b-4784-9e83-2dfd042eb56b.png)

[2022-07-30 11:13] Jarsen136 commented on #3622
👋

[2022-07-30 12:47] #3520 closed

[2022-07-30 12:47] #3558 closed

[2022-07-30 12:59] Jarsen136 commented on #3622
Hey, this bug has been fixed in https://beta.kodadot.xyz @yangwao

Let's have a try and close this issue.

[2022-07-30 13:20] jrafaelangarita opened #3623 "It gets stuck sometimes in the mobile version - Novawallet"
### What happened?

sometimes it doesn't optimize well and won't let me navigate through the sections, this means it won't let me go down or up

### Please reproduce in steps

go to, novawallet, paste the link of the beta, and do it several times, at least once it must happen

sometimes when it refreshes it already lets me move freely

### Expected Behavior

that you can always navigate without pr

[2022-07-30 13:36] jrafaelangarita opened #3624 "I can't upload files from novawallet - to create a collection"
### What happened?

try to create a collection in novawallet, but it does not open the file folder, to be able to upload

### Please reproduce in steps

open novawallet, go to beta link, connect your account, click on create - classic - try to upload some file

### Expected Behavior

the file folder opens and you can upload your img or file

### What browsers are you seeing the problem on?

Mobile

[2022-07-30 14:00] jrafaelangarita opened #3626 "I can't sign any action from any mobile wallet"
### What happened?

any action that involves the signing of the tx, gives an error

### Please reproduce in steps

open novawallet, go to beta link, connect the account, try to buy, make a offer, etc,

### Expected Behavior

perform the action after signing

### What browsers are you seeing the problem on?

Mobile Android Chrome

### At which address did you encounter bug?

beta.kodadot.xyz

### A

[2022-07-30 14:38] #3607 closed

[2022-07-30 17:26] yangwao commented on #3622
Well this was from beta, I can try clear cache and try again 👀

[2022-07-30 18:23] yangwao commented on #3622
@Jarsen136 hey seems the same after clearing the cache. 👀

Like when I open this link it doesn't work https://beta.kodadot.xyz/transfer/?target=HsFee3QAwYrE4oiYGTjQvXQYCaxN5BTLKgJRwVNPZoYzxKE&usdamount=100

[2022-07-30 19:10] spacesmutje commented on #3599
Hey there, since I took it upon me to provide the german translation some questions popped up.

I made the fork and started to edit and also checked on some other translations how they went through it, I noticed that it's not making sense to translate every line e.g. gallery/Gallery. Since I want to do it right i would appreciate some guidance :)

Thank you 💯

[2022-07-30 19:42] spacesmutje commented on #3599
Since I want to do it right i would appreciate some guidance :)

[2022-07-30 20:58] #3611 closed

[2022-07-31 00:29] prachi00 commented on #3401
@vikiival @roiLeo `for Add a button which would unlock/sweep all expired offers for the user back to their account balance`
how do we sweep, like what query to use?

[2022-07-31 01:54] Jarsen136 commented on #3622
So weird. I still could not reproduce this bug even though I open your link.

https://beta.kodadot.xyz/transfer
![Kapture 2022-07-31 at 09 45 04](https://user-images.githubusercontent.com/31397967/182006154-6cbb4879-3e20-4807-b4d2-5805a53f807e.gif)

When I open https://kodadot.xyz/transfer, I could reproduce it.
<img width="604" alt="image" src="https://user-images.githubusercontent.com/31397967/1

[2022-07-31 06:51] prachi00 commented on #3207
how do we figure out the floor price?

[2022-07-31 08:20] petersopko commented on #3613
as discussed in PR and in
- https://github.com/kodadot/snek/issues/44

correct way to fix this is at the [indexer](https://github.com/kodadot/snek) level  cc: @zhengow @KngZhi 👀

[2022-07-31 08:22] petersopko commented on #3623
I can confirm, that current NovaWallet experience has it's flaws, I was unable to mint from my phone recently

[2022-07-31 08:27] petersopko opened #3628 "NovaWallet bugs"
Seems that recently there were several bugs reported with NovaWallet/mobile experience, let's track them here and get mobile back on track

- https://github.com/kodadot/nft-gallery/issues/3623
- https://github.com/kodadot/nft-gallery/issues/3624
- https://github.com/kodadot/nft-gallery/issues/3626

[2022-07-31 08:28] KngZhi commented on #3613
Okay, let me try it.

[2022-07-31 08:31] KngZhi commented on #3613
👋

[2022-07-31 08:36] petersopko commented on #3207
we're currently using floor price at least at one place, which is here: [CollectionActivity.vue](https://github.com/kodadot/nft-gallery/blob/main/components/rmrk/Gallery/CollectionActivity.vue) :) there's a query for magick there, I'm guessing we'd need to rewrite something similar in snek

[2022-07-31 08:50] petersopko opened #3629 "remove bar from item detail"
when there's empty offers tab in item detail, there's an ugly bar showing up for no reason, let's remove it
![image](https://user-images.githubusercontent.com/73316633/182018453-320b7057-4ed6-40e2-988e-1c608825609f.png)

[2022-07-31 08:51] KngZhi commented on #3629
:wave:

[2022-07-31 08:54] petersopko opened #3630 "minting on rmrk currently doesn't work"
we're once again facing problems with our minting, according to what I've gathered from @vikiival, there's an issue with our indexer and subsquid. we know about this and it should be hopefully resolved soon

[2022-07-31 09:32] KngZhi commented on #3613
https://github.com/kodadot/snek/pull/46

[2022-07-31 09:43] petersopko opened #3632 "BalanceInput.vue is broken - again"
It seems that we have, once again, merged into beta something which broke price setting. We're at the same problem as last time:

1. you cannot submit offer, because price is always too low
2. listing NFTs is possible, but most of the price is always turned to zero

Last time, this was a formatting problem iirc, check:
- https://github.com/kodadot/nft-gallery/pull/3595

[2022-07-31 09:45] Jarsen136 commented on #3632
👋

[2022-07-31 09:47] petersopko commented on #3632
@Jarsen136 please, trace back PR where this got broken and lmk either in PR comments or here :)

[2022-07-31 10:53] Jarsen136 opened #3634 "When I want to relist a nft, it tells me that the price I set should be lower than my balance"
I found another bug related to balanceInput on `https://beta.kodadot.xyz/`.

1. When I want to relist a nft, it tells me that the price I set should be lower than my balance.
<img width="377" alt="image" src="https://user-images.githubusercontent.com/31397967/182022340-a1e3f77b-6d3e-48c2-a0c7-f689b2e87176.png">

2. What's more, the price I set should be greater than 10000
<img width="345" alt="ima

[2022-07-31 11:44] yangwao commented on #3294
Seems we just need to figure out for live network rather for sandbox tho https://basilisk.subscan.io/

[2022-07-31 12:20] #3632 closed

[2022-07-31 12:20] #3634 closed

[2022-07-31 12:23] #3621 closed

[2022-07-31 13:37] DeluneClaire opened #3635 "Change the appearance when cancelling a transaction"
### Is your feature request related to a problem?

When you cancel the signing transaction, it shows Error - Canceled.

### Describe the solution you would like

Maybe we could have written something else than Error-Canceled since it is something you do and it's not really an error. Looks a little bit off. There could be only "Transaction cancelled". I think that would look better.

### Describe a

[2022-07-31 13:39] Jarsen136 commented on #3635
👋

[2022-07-31 22:21] #3629 closed

[2022-08-01 02:35] preschian commented on #3622
hmm, let me check it

[2022-08-01 02:35] preschian commented on #3622
👋

[2022-08-01 08:26] petersopko opened #3639 "expiration time detail tooltip"
can we somehow give user the ability to see the actual approximation of expiration time? Like full date popup on click or something. Maybe @roiLeo can think of something UX friendly 😅 I think sometimes it will matter, like what does 1 day mean except the information that it's >24 and <48

_Originally posted by @petersopko in https://github.com/kodadot/nft-gallery/issues/3625#issuecomment-120038276