[2022-10-03 06:41] roiLeo commented on #4058
ref #2759

[2022-10-03 06:45] roiLeo commented on #1766
meanwhile this has been done

[2022-10-03 06:45] #1766 closed

[2022-10-03 08:25] roiLeo opened #4065 "New Carousel landing: make difference between bsx & snek items"
On new landing design page, I would like to make a difference between bsx & snek items

[2022-10-03 09:23] petersopko commented on #4065
do we want to include snek (testnet) items at landing at all? I thought we're going to wait a bit for new items to appear at Basilisk and remove the Snek from the mix alltogether

[2022-10-03 09:32] roiLeo commented on #4065
for the moment I find that we don't really have much data on the bsx chain, nothing prevents us from keeping the Testnet for a while and then hiding it little by little. Plus it help a lot for testing bsx features.

[2022-10-03 09:36] petersopko commented on #4065
let's go with `Basilisk` and `Snek` then (I just remembered we chose to switch it to `Basilisk` here https://github.com/kodadot/nft-gallery/pull/4011)

[2022-10-03 09:38] petersopko commented on #3355
@Jarsen136 :rocket: ![image](https://user-images.githubusercontent.com/73316633/193546613-56ff9d60-d198-431f-b7a9-4ce58cae9090.png)

[2022-10-03 14:08] roiLeo commented on #2329
Tested on `/rmrk/u/GZDqGUs564c2pG9K6BjVnEgTnANc8Pr4FfqFr1USBDQ3r62`

**toJson**
[code]

**toHuman**
[code]

we have the information in the "additional" property but don't really know what to do with this stuff, can it be used?

[2022-10-03 14:36] yangwao commented on #1492
handovering from Discord from Vik

[code]

[2022-10-03 14:45] #4055 closed

[2022-10-04 00:48] preschian commented on #3745
aahh, I see. already aware before

what bao endpoint btw?

currently, I'm testing uploading ipfs file to r2 with cf-workers
- ipfs://ipfs/bafybeidnm5d2huok65e2f3irwdnfliioflttmqq4fkxl7oo27fkwpdx2qm
- k-ipfs-assets.preschian-cdn.workers.dev/ipfs/bafybeidnm5d2huok65e2f3irwdnfliioflttmqq4fkxl7oo27fkwpdx2qm

the worker domain compatible with ipfs URL, change `ipfs:/` to the worker domain should be wor

[2022-10-04 05:08] petersopko commented on #3928
solved in:
- https://github.com/kodadot/nft-gallery/pull/4011

ironed out in:
- https://github.com/kodadot/nft-gallery/pull/4066

[2022-10-04 05:08] #3928 closed

[2022-10-04 05:21] petersopko commented on #3756
closing this since we're tracking rest of the issues (not all of them bugs) in
- #3648

[2022-10-04 05:21] #3756 closed

[2022-10-04 07:17] preschian commented on #3745
this is the demo URL:
- https://475e2203.nft-gallery-1hj.pages.dev/
- changes: https://github.com/preschian/nft-gallery/pull/67/files

all the URLs from https://kodadot.mypinata.cloud/ should be changed to the CDN URL. when the CDN fails, it will be redirected to the pinata gateway. if the ipfs file does not exist in the R2/cache, it will hit the ipfs dedicated gateway for downloading/uploading it

[2022-10-04 07:21] preschian commented on #1492
hooo, I like that endpoint status 👍

hhmm, for next, how to update that endpoint automatically in the status repo 🤔

[2022-10-04 07:27] yangwao opened #4072 "More from this collection works weirdly on BSX"
Seems on particular item details I can't scroll more from this collection  https://kodadot.xyz/bsx/gallery/1781164051-1

https://user-images.githubusercontent.com/5887929/193759675-8e2067af-1135-46b2-9473-00ccf1948125.mp4

[2022-10-04 08:28] preschian commented on #4058
yes, correct, related to that issue. maybe we can improve https://github.com/preschian/prerender-cf-workers to use workers cache before hitting prerender.io

[2022-10-04 08:38] preschian commented on #834
do we still don't have a tracker on the client? https://sentry.io/welcome/ seems a good option

[2022-10-04 10:59] petersopko opened #4073 "Newest list contains items with empty metadata"
Redesigned multichain `Newest list` is now showing minted collection (without preview, but that's secondary). I assume this wasn't the plan and we should only be showing NFTs not whole collections
![image](https://user-images.githubusercontent.com/73316633/193802258-ffbecc19-21ce-4763-8f9b-2b9d2795cdc5.png)

[2022-10-04 12:07] roiLeo commented on #4056
Comes from https://github.com/kodadot/nft-gallery/blob/6c2e29b8270cb5ff8317ef31db637caf1cc02ccb/utils/config/chain.config.ts#L28

& https://github.com/kodadot/nft-gallery/blob/6c2e29b8270cb5ff8317ef31db637caf1cc02ccb/components/rmrk/Profile/NavbarProfileDropdown.vue#L126

something changed since #4049 ?

[2022-10-04 12:23] vikiival commented on #2329
yup this is legit, I would just spin up new indexer for on-chain identities

[2022-10-04 12:48] kkukelka commented on #4072
👋

[2022-10-04 13:59] roiLeo commented on #3966
closed by #4060

[2022-10-04 13:59] #3966 closed

[2022-10-04 14:03] roiLeo commented on #3927
meanwhile this has been done
![Capture d’écran 2022-10-04 à 4 02 19 PM](https://user-images.githubusercontent.com/9987732/193840205-61b9fe73-0a02-46ac-bd33-eb252d14fb2f.png)
![Capture d’écran 2022-10-04 à 4 01 49 PM](https://user-images.githubusercontent.com/9987732/193840221-2aa4636c-e789-4b72-a645-4bb3d53f5d0e.png)

[2022-10-04 14:03] #3927 closed

[2022-10-04 14:11] yangwao opened #4077 "External denyLists"
Right now, we need to do change to the codebase and release it to production when someone does copymint, which is not so flexible I guess for adding/removing.

Probably good opportunity to think some future-compatible system how we can implement it with future report system, so people could have ability to report us copymints for review.

I would propose some another repository so more people can

[2022-10-04 14:24] roiLeo commented on #4077
I was thinking of a "report abuse" feature with a moderation team behind (or [another solution](https://app.subsocial.network/2425/dealing-with-plagiarism-18790))

[2022-10-04 14:43] vikiival commented on #4077
Apart from solutions mentioned in https://github.com/kodadot/snek/issues/94:

we can calculate some "user score" and if the art goes below some treshold we can hide whole collection

[2022-10-04 15:16] yangwao commented on #4077
I'm looking for more on-chain native ways 🤔

[2022-10-05 04:49] preschian commented on #3745
cc @yangwao @vikiival need your approval to try this implementation in kodadot.xyz? yolo 🙈

demo URL: https://475e2203.nft-gallery-1hj.pages.dev/
source code: https://github.com/preschian/k-workers
workers:
- [k-ipfs-assets](https://github.com/preschian/k-workers/tree/main/workers/k-ipfs-assets): serve IPFS content or fallback to pinata gateway. upload IPFS content to r2 through the Infura gateway

[2022-10-05 10:02] preschian commented on #3908
stuck on this error, it seems the current version of `@nuxt/i18n` isn't compatible with the bridge
<img width="1025" alt="Screen Shot 2022-10-05 at 16 59 58" src="https://user-images.githubusercontent.com/734428/194034564-e9ef27fb-7aaa-4c08-961c-6cdf3d65ad00.png">

[2022-10-05 10:29] vikiival commented on #4056
git blame showed https://github.com/kodadot/nft-gallery/commit/7eb92280f3c25cbadea271e0a6e60fbafcf2c972

[2022-10-05 11:20] preschian commented on #4073
hhmm, maybe need to fix on the indexer side?
it should show `The Metadater` item, it works on Explore menu
<img width="1624" alt="Screen Shot 2022-10-05 at 18 11 48" src="https://user-images.githubusercontent.com/734428/194047654-02a8edc4-6e38-4cac-aa62-abe4c26446fb.png">

some properties from queries are missing
<img width="568" alt="Screen Shot 2022-10-05 at 18 17 09" src="https://user-images.gi

[2022-10-05 11:21] yangwao commented on #834
made kodadot team and invited you
https://docs.sentry.io/platforms/javascript/configuration/sampling/

[2022-10-05 11:45] yangwao commented on #4052
We had a chat on this topic w @exezbcz, he can drop some upcoming ones from the gallery item detail.
We are focused on simplicity right now as we are solving onboarding retail and first-timers into the ecosystem.
So I guess we will have two versions; one will be a simple chart (default), and the other would-be advanced (pro mode).

Right now, we would be focusing on that simple chart and keeping i

[2022-10-05 11:56] yangwao opened #4081 "Went from collections to gallery on Basilisk"
No error in the network console

![image](https://user-images.githubusercontent.com/5887929/194054614-47b85850-9e3f-4963-aeaf-10bb8d076e83.png)

![image](https://user-images.githubusercontent.com/5887929/194054567-02211967-e8f1-4fa9-ad48-09dd7120bb22.png)

[2022-10-05 12:52] yangwao opened #4082 "Drop MoonRiverBoredApeYacht from MoonRiver"
https://beta.kodadot.xyz/movr/gallery/0x8cce48f0cecfd2c3e8481e547b052ff117417d81-875

&c https://beta.kodadot.xyz/movr/gallery/0x8cce48f0cecfd2c3e8481e547b052ff117417d81-881?page=2

![image](https://user-images.githubusercontent.com/5887929/194064845-d946e67c-6e87-4d99-8e14-efddf6dad609.png)

[2022-10-05 16:43] yangwao opened #4084 "Sorting by price does work on Basilisk?"
https://beta.kodadot.xyz/bsx/explore?page=1&tab=GALLERY&sort=updatedAt_DESC&sort=blockNumber_DESC&sort=price_ASC&listed=true

Seems like different order by prices than from low to high?

![image](https://user-images.githubusercontent.com/5887929/194067111-9c85dfc3-f65e-4cbd-86cc-de420c08f1b8.png)

[2022-10-05 16:55] kkukelka commented on #3908
wow, how did you solve the postcss warning?

[2022-10-05 18:03] exezbcz commented on #4052
The pro mode could be in collection detail on the chart tab. This is how the chart is designed now. It's a minimalistic chart that will be a separate card.
![image](https://user-images.githubusercontent.com/90852205/194130115-3015ce45-e98c-48d4-83fe-0516abb198ea.png)
do you want Figma access?

[2022-10-06 08:49] #834 closed

[2022-10-06 09:17] Jarsen136 commented on #4084
If several sort options are selected, the first sort condition will take effect.

In this case, the order of nfts is based on `updated time`. If the nfts have the same `updated time`, then they will be sorted based on price.

So, If we would like to see the nfts sorted by priced first, the url would be https://beta.kodadot.xyz/bsx/explore/?page=1&tab=GALLERY&sort=price_ASC&sort=updatedAt_DESC&sort

[2022-10-06 09:20] preschian commented on #3908
I didn't get the postcss warning yet, maybe because I removed some config after I renamed `nuxt.config.js` to `nuxt.config.ts`

If anyone knows how to bypass `build.rollupOptions.external` error, please modify the PR https://github.com/kodadot/nft-gallery/pull/4079. I think it would be better if we could fix this together

[2022-10-06 11:11] yangwao opened #4085 "Detect installed wallets at user and offer only installed one"
It's possible to detect wallets and show user only those which has installed on the browser?

If none wallet is detected, probably offer links to install any of others?

https://forum.polkadot.network/t/the-best-ui-ux-in-the-polkadot-ecosystem/370/3

[2022-10-06 13:00] #4082 closed

[2022-10-07 08:01] preschian commented on #3944
hi @prachi00 how is the progress of this task?

[2022-10-07 08:06] prachi00 commented on #3944
Hi,I havent started working on this one yet, I'll start in a day or two if thats okay

[2022-10-07 08:49] #3790 closed

[2022-10-07 08:49] preschian commented on #3909
I'm not sure what we need to add in the canary branch, but let me start with upgrading nuxt-edge and trying to add oruga

I think migrating the vue component to composition API, it's better directly to the `main` branch

oruga + tailwindcss seems a good match, isn't it? tailwind has a good extension https://tailwindcss.com/docs/editor-setup#intelli-sense-for-vs-code, and we can put our sass variab

[2022-10-07 09:05] roiLeo commented on #3909
I'm okay with that, it can remain invisible to end users.

🤔?
Tailwind is a utility framework while Oruga is more of a UI component library, they are not the same thing and I don't see any advantage in coupling them (lmk if I'm missing something). You'll still able to customize Oruga sass variable ([Bulma Theme](https://github.com/oruga-ui/theme-bulma#customization-sassscss))

[2022-10-07 09:06] petersopko commented on #4022
price related features are hidden until we solve the price indexing in different way:
- https://github.com/kodadot/nft-gallery/pull/4057

[2022-10-07 09:07] yangwao commented on #4084
ah, in the first place, I'm wondering if having multiple checks was on purpose?

maybe it's something we can reflect in upcoming redesign of explorer, like having it through some checkbox styles rather than dropdown

[2022-10-07 09:39] #3948 closed

[2022-10-07 09:42] yangwao opened #4088 "Statemine: take two"
In the past, we've integrated Statemine, and we can put Unique V2 in our roadmap for integration.

We will expand this issue once we gain more insight into how we can leverage particular incoming features with other NFTs primitives within other parachains

## Ref
- https://forum.polkadot.network/t/uniques-pallet-nfts-september-update/410
- https://github.com/paritytech/substrate/issues/11783

---

[2022-10-07 10:17] yangwao commented on #3944
hey, I've chatted with @preschian and I would prefer him to finish this as it's the very last missing thing to do here to close #3844  :)

[2022-10-07 11:58] jsidorenko commented on #4088
Yay, happy to hear that guys! Feel free to ask any questions you'll get re Uniques V2, would be happy to answer them.

[2022-10-07 12:39] yangwao opened #4089 "Remove infinity scroll on collection on the top"
At https://beta.kodadot.xyz/movr/collection/0xb6e9e605aa159017173caa6181c522db455f6661?page=23

When the user wants to scroll to the top, it adds extra pictures, which is not good behaviour.
Same when the user go the next page, it resets me to the middle, add an extra 12(?) on the top and an extra 12(?) to the bottom.

The intended behaviour would be to remove the infinite scroll on the top, so th

[2022-10-07 12:43] exezbcz opened #4090 "Redesign: Landing page feedback"
Hello, I was looking at the https://beta.kodadot.xyz/?redesign=true and found a few things that need to be changed. I will mention everything I see as I open it. Some of these you may already know about, but I will try to highlight them all here.

## Hero section
- There should not be that much margin between "Discover, Collect And Sell" and "Kusama NFTs" It's maybe something like 10 or fewer px.

[2022-10-07 13:02] yangwao commented on #4077
👀
we can, for example leverage Statemine assets maybe... 👀
 https://twitter.com/MagicEden/status/1578190967433490433

[2022-10-07 13:43] antoine-dowgo opened #4091 "Error when tryying to create identity on basilisk"
### What happened?

Create on-chain identity on Basilisk with a zero KSM balance: clicking on the button does nothing and throws errors in the console.

https://kodadot.xyz/identity

![Screen Shot 2022-10-07 at 3 41 59 PM](https://user-images.githubusercontent.com/102977626/194567648-cf428460-fbd7-4484-8892-1e740d4a5333.png)

### Please reproduce in steps

https://kodadot.xyz/identity

zero balanc

[2022-10-07 15:16] Jarsen136 commented on #4089
👋

[2022-10-08 08:16] #4089 closed

[2022-10-08 08:44] yangwao opened #4094 "Keep description of collection between pagination"
After fixing
- #4089
- #4093

There is some weird thing happening fetching metadata of collection, especially in this case description of the collection.
Would it be possible to not re-render the component and keep it there when switching between pages of items?
Longer description collection has, worse it is :|

Test here
https://beta.kodadot.xyz/glmr/collection/0xfd86d63748a6390e4a80739e776463088

[2022-10-08 08:46] KngZhi commented on #4094
:wave:

[2022-10-08 16:52] yangwao commented on #3946
Circling back quickly, I had a call w/ @exezbcz, and we will quickly refresh the navbar; hopefully, in 1-2 days design should be ready to take over.

# Changes that are planned for navbarV2 are
- adding to explore drop-down to select network as we are getting rid of our current network switcher for cleaner design in the navbar and removing the quirky switch
- we will be splitting profiles and conn

[2022-10-09 16:57] zhengow commented on #4085
👋

[2022-10-10 08:19] roiLeo opened #4100 "Setting local graphql endpoint is not working"
in `/settings/?tab=general`

When setting graphql endpoint to local, queries still hit squid endpoint

[2022-10-10 10:08] yangwao opened #4101 "Hide testnet, movr & glmr on production"
Hide on the upcoming redesign at kodadot.xyz
- Snek
- MoonRiver
- MoonBeam

Keep it on beta.kodadot.xyz for development & testing purposes

![image](https://user-images.githubusercontent.com/5887929/194842327-a01a1b95-8ac9-4f92-89a7-8bd8c10d319c.png)

Seems this was done on chainselector
- https://github.com/kodadot/nft-gallery/issues/4019
- #4031

Just removed (Kusama) to match the designs
- http

[2022-10-10 10:18] yangwao opened #4102 "Showing placeholder instead item picture"
It seems no error in the console,
when checking in the newest list, there is showing a placeholder, and clicking on an item seems to asset load quite well
Not sure if this is already logged somewhere

https://user-images.githubusercontent.com/5887929/194844765-4efc64ed-33db-44a0-aff7-63a87caedaa0.mov

[2022-10-10 10:21] Jarsen136 commented on #4102
👋

[2022-10-10 10:21] yangwao opened #4103 "Gracefully handle if client didn't connect"
When a user goes to https://beta.kodadot.xyz/bsx/offers/ will see **computing** prop in expiration doesn't tell much.

I will probably add some refresh stuff in case the user can handle it?
Probably wasn't properly implemented subapi on connect handler?

btw on refresh is gone but on crappy networks might happen

![image](https://user-images.githubusercontent.com/5887929/194845091-ab898702-4b5a-4b

[2022-10-10 10:26] Jarsen136 commented on #4101
👋

[2022-10-10 13:04] Jarsen136 commented on #4102
Related to https://github.com/kodadot/nft-gallery/issues/4073

[2022-10-10 13:44] preschian commented on #3909
since we want to refactor the components. do we want/need to implement monorepo/workspace stuff?
so we can move the "new components" under local packages (folder)
[code]

the downside:
- git commit history?
- need to adjust deployment pipelines and GitHub actions

after we use the monorepo/workspace structure, maybe we can implement https://turborepo.org/showcase also and put our logo there

[2022-10-10 19:19] exezbcz commented on #3946
Hey, So, I have the designs. It's right on the second page of the landing page handoff Figma.
### Instructions
![navbar (1)](https://user-images.githubusercontent.com/90852205/194934603-4ce5290e-66f8-45f9-b99b-3774a34d2452.png)
Here is the navbar when you don't have a connected wallet
- when hovering over the profile icon, window should popup - language, profile, dark mode, etc. Similar to opensea

[2022-10-11 06:58] thea-exe commented on #2780
Hm, I made the issue thinking about an easier way to onboard both frontend
and backend developers (so people who already know how to code), so an
article can be helpful if others want to go MORE in depth (you can take
this up only if you want)

You don’t have to talk briefly about contributing to KodaDot (link the
contribution guide in the description or video). It would be great if you
showed how

[2022-10-11 07:17] preschian commented on #4102
just wondering, what if we use explore queries in the newest list? should be the same results, right?
which one is easier from the queries side? cc @Jarsen136 @vikiival

[2022-10-11 07:44] thea-exe commented on #830
Cool

On Tue, May 10, 2022 at 3:24 AM Peter Sopko ***@***.***>
wrote:

[2022-10-11 07:57] preschian commented on #2759
cc @yangwao @vikiival @roiLeo
need your approval to use prerender.io through workers. I think we need to use it until we find a better alternative
source code: https://github.com/preschian/prerender-cf-workers

[2022-10-11 08:05] preschian commented on #4091
It seems like same with this issue https://github.com/kodadot/nft-gallery/issues/3842#issuecomment-1256039281

hi @antoine-dowgo, could you try to relogin, does it fixed on your side?

[2022-10-11 08:50] vikiival commented on #4056
cc @petersopko #4080 by @roiLeo is a legit fix :)

[2022-10-11 09:54] yangwao opened #4105 "Transfer: copy link & view transaction"
Hey, I found a bug in copying the link to the transaction. When I made the transfer to a destination, I copied the link.
Seems both view transaction and copy link copy not so complete value

![image](https://user-images.githubusercontent.com/5887929/195058512-2d1081c7-e2ea-4519-ae45-5a679a1f1e29.png)

`https://kusama.subscan.io/account/G29NScLSew5zqwmJAPupvJWDCDkpxKUhDnMeVdD2BBcnHarextrinsic/0xf18

[2022-10-11 10:00] Jarsen136 commented on #4102
yes, but I guess the purpose to use event queries is to reuse in both `newest list` and `latest sales`.

`latest sales` may still have the problem 🤔

[2022-10-11 10:00] Jarsen136 commented on #4105
👋

[2022-10-11 10:08] roiLeo opened #4106 "new landing: Top Collection skeleton"
- missing placeholder for content to load

[2022-10-11 10:17] vikiival commented on #4102
Please track them in the repos where the problem occurs
- RMRK - kodadot/rubick
- BSX/SNEK - kodadot/snek

[2022-10-11 10:32] yangwao opened #4107 "Handler for non-ipfs data for on-chain art"
We would like slowly start showing on-chain NFTs as there is an existing project to demonstrate this on GLMR https://onchaindudes.com/

https://t.me/@Mohd429 is author for future consulting, check issue in package.

Generally, it should be a handler to render SVG in first prototype :)

## Ref
- https://github.com/kodadot/packages/issues/46

[2022-10-11 10:56] roiLeo commented on #2759
I tried to test it and it didn't work on `https://kodadot.preschian.xyz/bsx/collection/3813476019`

![Capture d’écran 2022-10-11 à 12 52 40 PM](https://user-images.githubusercontent.com/9987732/195071916-f5c19fa3-46da-4478-9cfb-5e7104607ec5.png)
![Capture d’écran 2022-10-11 à 12 52 26 PM](https://user-images.githubusercontent.com/9987732/195071926-8cab9f41-5e96-45d0-a033-637bf96072dc.png)

1,0

[2022-10-11 11:28] yangwao opened #4108 "Gifting portal"
Similar to #3668
Let's have a wallet-less, login less way to gift someone nft or POAP

## User interface
The user enters the email so we can ship the claimable link with an expiration time of 7d
After clicking the link user will be redirected to way to either
1. connect wallet if have one
2. create wallet flow

Let's wonder from here

## Ref
- https://youtu.be/02txnbucziY?t=168
- https://forum.pol

[2022-10-11 12:01] preschian commented on #2759
better test it with facebook debugger https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fkodadot.preschian.xyz%2Fbsx%2Fcollection%2F3813476019
opengraph.xyz has a custom user-agent, so need to update it again https://github.com/preschian/prerender-cf-workers/blob/main/src/constant.ts#L38

apart from that, prerender.io will take some time for the first page

need to find a better solution

[2022-10-11 12:02] roiLeo opened #4109 "Money component: comma replacement"
![Capture d’écran 2022-10-11 à 1 55 49 PM](https://user-images.githubusercontent.com/9987732/195084195-2a15486c-bbbd-469f-ab0a-fdee4ae37c11.png)

Instead of having `0,30` I would like to see `0.3`

may related with #3868

[2022-10-11 12:18] roiLeo commented on #2759
This could be doable, why did we change to cloudflare at some point? (can't find answer in repo issues)

We would benefit from this, I think that's the goal (in near future #4040 related) to migrate to SSR

- ok with fb sharing debugger
- don't work with twitter debugger
- don't work on discord

[2022-10-11 12:25] preschian commented on #2759
maybe since the beginning already used Cloudflare pages for production. I think @yangwao and @vikiival are the people who can answer this question

[2022-10-11 13:02] vikiival commented on #2759
We have a ton of minutes on Cloudflare for deployment. More CDNs on Cloudflare.

Should be logged somewhere in Metahours.

or we can fix kodadot/bao#11

[2022-10-11 13:38] exezbcz commented on #3946
There are still some changes to be made, I ran into a few issues I need to resolve, and I'll have it done today.

[2022-10-11 15:09] exezbcz commented on #3946
Okay, here it is. It's updated in figma.
### Mobile
Frames are named accordingly to what they show. When you don't have a connected wallet, there are a few versions. Once you connect your burger menu changes. The category of account and wallet are shown. There you can access your profile, identity, settings, and also after connecting the language switcher. At the bottom, there is information about

[2022-10-11 15:48] yangwao opened #4111 "Redesign Gallery item"
We've been working with @exezbcz on the new Gallery Item detail to bring a fresh design to the room.

I'll try briefly describe what will be made
- additional info from Exez was added.

We will go the same way as we did with landing, using `?redesign=true` as it turns out to be quite flexible.

I will be going from top left to right bottom.
![telegram-cloud-photo-size-4-5922397127227587100-y](http

[2022-10-11 15:48] yangwao opened #4112 "Redesign Wallet Connect popup"
Okay, here it is. It's updated in figma.
### Mobile
Frames are named accordingly to what they show. When you don't have a connected wallet, there are a few versions. Once you connect your burger menu changes. The category of account and wallet are shown. There you can access your profile, identity, settings, and also after connecting the language switcher. At the bottom, there is information about

[2022-10-11 15:54] yangwao commented on #3946
yes, let's go! :)

If you have questions @exezbcz will be around for sure

[2022-10-11 17:43] zhengow commented on #4112
👋

[2022-10-11 18:13] zhengow commented on #4112
@exezbcz
Hi, I am wonder what's the design about this, which is for wallets that is not installed.?
![image](https://user-images.githubusercontent.com/38389586/195167917-cb4c1567-a9ee-4bb5-81b9-b286b40862ec.png)

[2022-10-11 18:38] exezbcz commented on #4112
good q, I have updated the Figma:
![image](https://user-images.githubusercontent.com/90852205/195172566-1e1d587d-cc89-4c31-9d3a-813a12d75484.png)

[2022-10-11 19:00] razi429 commented on #4107
Adding some details about how the URL format along with examples:

Sample Contract: _0xa0c72e1c6616888cb5a9e6393F96183c1aA4f17d_

tokenURI call on the contract returns a string as following:

**Format:**
data:<Content Type>;base64,<Base64 Encoded String/JSON>

**Example:**
data:application/json;base64,eyJuYW1lIjogIk9uQ2hhaW4gRHV.....

The above mentioned URL is by default supported by any modern b

[2022-10-12 04:20] preschian commented on #2759
currently, a script on https://github.com/preschian/prerender-cf-workers quota for prerender.io will be counted and triggered when the user-agent is from social media. So, the link will not work like this screenshot for the first time. but after that, the open graph media will show up. I can update the script and trigger the prerender.io when the normal user-agent, which means the normal user visi

[2022-10-12 06:21] spacesmutje commented on #4111
This looks so cool. Will be great to see it in production 🎉

[2022-10-12 06:33] preschian commented on #2690
library/tools recommended for vue3: https://v3-migration.vuejs.org/recommendations.html#new-framework-level-recommendations

- New versions of Router, Devtools & test utils w/ Vue 3 support
- Build Toolchain: Vue CLI -> [Vite](https://vitejs.dev/)
- State Management: Vuex -> [Pinia](https://pinia.vuejs.org/)
- IDE Support: Vetur -> [Volar](https://marketplace.visualstudio.com/items?itemName=johnso

[2022-10-12 08:28] alabo-excel commented on #4109
Hello, I'll love to work on this task please assign it to me.

[2022-10-12 08:35] alabo-excel commented on #4015
Hello I'll love to work on this issue kindly assign it to me

[2022-10-12 09:11] vikiival commented on #2690
I already switched to Volar

[2022-10-12 09:41] alabo-excel commented on #4015
Yes sure

On Wed, 12 Oct 2022 at 10:40 AM, Exez ***@***.***> wrote:

[2022-10-12 09:42] roiLeo commented on #4111
some feedback:

I would like to see when Click on Avatar (Identicon) it will copy address & link address to user profile

I would have put "Report NFT" in more actions menu (...) and put it on far right after "Share" button
No need to show disabled features I find it's a bad pattern

What kind of animation? can we see it rendered on Figma?

Currently not implemented (% indexer)

I would rename it

[2022-10-12 12:43] vikiival commented on #4056
Yup they should import TokenMoney with corresponding `tokenId` (snek 5, bsx 1)

[2022-10-12 16:08] yangwao commented on #1489
Hence we've launched Basilisk weeks ago, would be nice to add it there and probably create a section for a cross-chain marketplace

https://wiki.polkadot.network/docs/learn-nft

Any takers?

---
- Basilisk section
  - NFTs based on Basilisk NFT marketplace, supporting offers on unlisted NFTs, royalties, proxy royalties to other address and in future multi-currency, which means mint/buy/sell for ot

[2022-10-12 19:48] exezbcz commented on #4111
I have added the link for the Figma. Thanks for the feedback @roiLeo

No need to show disabled features I find it's a bad pattern
Not sure if I understand that correctly but by default the report button isn't there. Its right after you click the more actions. If we won't have the report button till the launch, there is still a newly added download button.

I will closely describe it in the guide,

[2022-10-14 07:41] #4101 closed

[2022-10-14 13:21] yangwao opened #4114 "Probably needs adjust tests for only installed wallets"
Probably needs adjust tests for only installed wallets

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/4097#issuecomment-1279002157_

[2022-10-14 13:21] #4085 closed, assigned to nobody

[2022-10-14 13:23] #3944 closed

[2022-10-14 13:39] #4094 closed

[2022-10-14 13:42] #4105 closed

[2022-10-14 14:18] yangwao commented on #3909
`libs/` is maybe something that could be put into the packages repository? https://github.com/kodadot/packages

With Vik briefly chatted and his idea was to make it as components through packages iirc,
downside would be it would figure out release pipeline tho during changes ofc

otherwise I'm up to for new structure as now it's good time to change this

[2022-10-14 14:22] yangwao commented on #4090
Any takers? I guess this could be made in parallel 👀

[2022-10-14 14:25] yangwao opened #4115 "Enable Basilisk Collection Stats on redesigned Landing"
Like we have right now on RMRK

![image](https://user-images.githubusercontent.com/5887929/195870885-ea995d5c-d04a-4f7c-8899-de085b1f6230.png)

[2022-10-14 14:29] yangwao commented on #1012
Will be closed in #4111

![image](https://user-images.githubusercontent.com/5887929/195871606-b7293c8e-dfff-46c7-a3b2-20c06eeecd40.png)

[2022-10-14 14:29] #1012 closed

[2022-10-15 08:44] kkukelka commented on #4115
👋

[2022-10-15 14:00] vikiival commented on #3909
Maybe the best steps for now:
- 1. separate components from nft-gallery (as pointed out by @preschian)
- 2. make 90% of components
- 3. move them to separated repo so it can be used by anyone with Vuetsama stack (Vue + Web3 + polkadot/kusama)

[2022-10-15 17:37] exezbcz commented on #4111
Update in Figma file: Dark mode UI
- design guide soon

[2022-10-15 18:15] yangwao commented on #614
We will "resolve" it at
- https://github.com/kodadot/nft-gallery/discussions/3898

[2022-10-15 18:19] yangwao opened #4116 "Search background on dark mode in beta"
I guess the background shadow should not be pink?

📟 @exezbcz

<img width="725" alt="image" src="https://user-images.githubusercontent.com/5887929/196002139-71f22911-66fc-47af-ab53-52f8cb849a14.png">

[2022-10-15 18:20] prachi00 commented on #4116
👋

[2022-10-15 18:48] yangwao opened #4117 "New hover card"
Maybe it would be nice to redesign hovercard to neobrutalism as well.

Probably we can add it to landing page.

Currently would be interesting add to showing art under address created or collected.

<img width="373" alt="image" src="https://user-images.githubusercontent.com/5887929/196003090-a800c15a-7fc9-42e7-a5eb-3cf8bdc76d8a.png">

<img width="378" alt="image" src="https://user-images.githubuse

[2022-10-16 13:10] exezbcz commented on #4116
yup, it should be solid black.  Do you know if the search result is otherwise complete? I see several things that are incorrect about it.

[2022-10-16 13:24] exezbcz commented on #4117
In the case of the landing page, there are no addresses/profiles to hover over. We were talking about making something for collections because I think I already have something. But there is a profile that would need it in the gallery item. Does that make sense?

[2022-10-16 17:31] exezbcz commented on #4117
After a chat with @yangwao I think we have an idea of how it could be made.
The first thing would be to tweak nft card a bit. Adding something like "details" or "info" would work just fine. The position could be under the network.
Card:
- flexible
- reusable for other cases, so for example creator hover card would have the same layout/design as a single nft hovercard.
- simple with insights after

[2022-10-16 17:45] exezbcz commented on #4015
hey @alabo-excel , the design is in this Figma: https://www.figma.com/file/gHSzqGPeQ9qK4L0qIDcTjY/gallery-item-handoff?node-id=1270%3A5615, right next to search bar components.
How the button works:
- hover is accent light, in dark mode - accent.
- you can also see that if you play the prototype of the frame.
![image](https://user-images.githubusercontent.com/90852205/196050151-e0758d7f-648c-4638-

[2022-10-16 17:51] yangwao opened #4118 "Assets screen easily miss-leading KSM which is not on BSX"
Hey, seems we don't correctly show assets on the user address, i.e. KSM on Basilisk

<img width="1298" alt="image" src="https://user-images.githubusercontent.com/5887929/196051473-d62fc079-b3ff-48af-bdc4-5a527fb63b2a.png">

As user will check for example sub.id will be miss leaded that has KSM, but actually not KSM on Basilisk
<img width="910" alt="image" src="https://user-images.githubusercontent

[2022-10-16 18:24] vikiival commented on #4118
Sounds like trading pair

One option is to write that something like: "assets shown below are stored on chain ${chain}"

[2022-10-16 18:25] vikiival commented on #4035
Ref:
- #4036
- #4118

[2022-10-16 18:43] yangwao opened #4119 "Revamp XCM Teleport + Assets"
Right now, first-time users, especially that outside of Polkadot have no idea what Basilisk is, or what Ksm is at least, and they have way lot of issues getting assets on the chain to buy/mint/interact at least. To ease this good first step would be to implement XCM teleporting of KSM to Basilisk, so users can skip context switching going to Karura bridge and selecting stuff.
The goal is to mimic

[2022-10-16 18:45] yangwao commented on #4118
that would be `/`

<img width="103" alt="image" src="https://user-images.githubusercontent.com/5887929/196052488-c0b72a69-6cfb-4d68-8443-a9599c81abf6.png">

- #4119

[2022-10-16 18:45] #4118 closed

[2022-10-16 19:19] JustLuuuu opened #4121 "Change notifications to be more user-friendly"
### Is your feature request related to a problem?

I bought an NFT piece on BSX today (same on RMRK), + I burned one that I minted in the past. In both cases, I got a notification like this:
Buying:
![image](https://user-images.githubusercontent.com/104380776/196053725-17161fb1-75b1-4438-b15b-3d958eb4e1b3.png)

Burning:
 ![image](https://user-images.githubusercontent.com/104380776/196052125-72ba0e

[2022-10-16 19:38] vikiival opened #4122 "Buying and Make Offer is disabled for insufficient balance"
### What happened?

Want to buy NFT for 0.02 KSM and I have 0.5 KSM

The problem is that app checks for sufficient balance of BSX (I have 0)
For Basilisk It should check if the balance of KSM asset is sufficient.

### Please reproduce in steps

For Rococo
- Send All your BSX tokens to some other account (and keep only KSM)
- Open any NFT with price
- Button BUY is disabled

### Expected Behavior

[2022-10-16 19:42] yangwao commented on #4116
Here?
- #4090

[2022-10-16 19:56] vikiival opened #4123 "Cannot return null for non-nullable field LastEventEntity.collectionName"
### What happened?

I opened https://kodadot.xyz/bsx and I have seen error

### Please reproduce in steps

- open https://kodadot.xyz/bsx

### Expected Behavior

Fixed GraphQL query

Can be also some unimplemented feature of kodadot/snek

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

kodadot.xyz

### Are you logged in?

_No response_

### Wh

[2022-10-17 01:32] KngZhi commented on #4122
:wave:

[2022-10-17 01:33] KngZhi commented on #4123
:wave:

[2022-10-17 01:46] Jarsen136 opened #4125 "redesign neobrutalism of navbarV2 on mobile"
The functionality of navbarV2 on mobile is already as same as that on pc. However, there still more need to be done on mobile according to the redesign Figma.
Because UI structure and interaction are quite different from pc, we should implement a new component `MobileNavbarDropdown` according to `Navbar` component.

now:
<img width="309" alt="image" src="https://user-images.githubusercontent.com/3

[2022-10-17 01:49] Jarsen136 opened #4126 "Total usd value of account should be calculated based on the real time price of KSM/BSX/xxx"
On the wallet hover popover, the total usd value of the current account should be calculated based on the real time price of KSM/BSX/xxx, according to the design.

<img width="206" alt="image" src="https://user-images.githubusercontent.com/31397967/196071777-7b02e461-41fd-4781-80a9-d52ac843f19c.png">

<img width="307" alt="image" src="https://user-images.githubusercontent.com/31397967/196071728-51

[2022-10-17 07:01] roiLeo commented on #4115
related with #4059 & kodadot/snek#96 (kodadot/snek#95)

[2022-10-17 07:08] preschian commented on #3909
yes, I think that is the downside if the package/component is in a separate repo. but we can discuss it in more detail once we land vue3 in the components

so, here is a summary of todos:
- [ ] setup pnpm workspaces
- [ ] move nuxt app to `apps/marketplace` (any recommendation for folder naming?)
- [ ] initialise our neobrutalism components in `libs/components` (any recommendation for folder namin

[2022-10-17 07:27] preschian commented on #2690
Some notes to help us migrate to vue3/nuxt3:

We need to reduce using `nuxt-property-decorator` first and use composition API instead. It will help us to migrate to vue3/nuxt3
https://github.com/nuxt-community/nuxt-property-decorator/issues/83#issuecomment-1245139696. at least for newer components
related: https://github.com/kodadot/nft-gallery/issues/2893

And I think we face this problem also ht

[2022-10-17 07:34] preschian commented on #4090
![image](https://user-images.githubusercontent.com/90852205/194552801-738e0389-e0dd-48c9-9407-683b1eee4b5e.png)

can someone fix this carousel style? I'm not really good with CSS stuff, haha 🙈

[2022-10-17 09:01] roiLeo commented on #4090
I think we should open separate issue for each component change

Regarding TopCollection component:
- I find it better to show 3 column on large/wide screen
- we don't have % change data yet
- some for filters, we need to improve `Series` resolver (ref kodadot/rubick#26)
- noted! will change hover link

[2022-10-17 09:36] yangwao commented on #4125
😍

[2022-10-17 11:07] yangwao commented on #4119
I messaged @dudo50 to help us with #4035

[2022-10-17 11:34] vikiival opened #4128 "Add composition API as required contributon practice"
### Is your feature request related to a problem?

https://github.com/nuxt-community/nuxt-property-decorator/issues/83#issuecomment-1245139696. at least for newer components
related: https://github.com/kodadot/nft-gallery/issues/2893

_Originally posted by @preschian in https://github.com/kodadot/nft-gallery/issues/2690#issuecomment-1280409802_

### The task

- [ ] Edit style guide https://github.

[2022-10-17 11:36] vikiival commented on #4128
I am checking that the majority was written by @kkukelka

Would you like to take it sir?

https://github.com/kodadot/nft-gallery/blob/main/STYLE_GUIDE.md

[2022-10-17 11:51] marvelet opened #4129 "Burned NFTs still displayed"
### What happened?

I mistakenly mistakenly minted twice, I already burned the NFT as shown here :
https://basilisk.subscan.io/extrinsic/2005188-2
https://basilisk.subscan.io/extrinsic/2004274-2

but until now it's still shown in my collection. like in this screenshots
*crossmarked images are the burnt one

### Please reproduce in steps

here's my collection page
https://kodadot.xyz/bsx/collection

[2022-10-17 11:53] roiLeo commented on #4128
link it with #3789

[2022-10-17 12:54] kkukelka commented on #4128
👋

[2022-10-17 13:05] kkukelka commented on #2690
@preschian
just as a sidenote:
afaik Class API is not going to be supported in Vue3/Nuxt3 whatsoever. So we are kind of forced to rewrite everything to Composition API/Options API before we can upgrade to Nuxt3

[2022-10-17 13:43] vikiival commented on #2690
![Uploading Screenshot 2022-10-17 at 15.43.08.png…]()

[2022-10-17 13:46] vikiival commented on #3909
Updated with `(+ emit events if needed)`
For inputs you would need to emit something ;)
otherwise great summary.

[2022-10-17 14:19] roiLeo commented on #4123
I don't think it can be fixed on the frontend, we'll need to check the `lastEventQuery` from kodadot/snek repo

[2022-10-17 14:45] roiLeo commented on #3694
Meanwhile this has been replaced by `CarouselTypeSpotlight` on new landing

[2022-10-17 14:48] antoine-dowgo commented on #4091
Yes it works ;:)

[2022-10-17 14:48] #4091 closed

[2022-10-17 14:57] kkukelka commented on #4128
@vikiival the style guide you posted is only partially applicable to our codebase, as its examples use the Options API

[2022-10-18 10:28] #3946 closed

[2022-10-18 11:17] yangwao opened #4132 "Doesn't load particular collection on Basilisk"
Seems doesn't load picture, but metadata are there.
~~no errors in console~~

okay 504 on pinata seems like that

![image](https://user-images.githubusercontent.com/5887929/196415162-8c1814cd-e3b6-44f7-86a5-39cc3cfa9992.png)

![image](https://user-images.githubusercontent.com/5887929/196415208-e98b60cb-1a2a-49ba-a17b-2b6f113fcfa8.png)

![image](https://user-images.githubusercontent.com/5887929/196

[2022-10-18 14:00] #4112 closed

[2022-10-18 15:17] vikiival commented on #4123
@roiLeo can you please provide your addr in description?

[2022-10-18 15:17] #4123 closed

[2022-10-18 16:04] Jarsen136 opened #4133 "Redirect to incorrect place after click on collection on navbar"
### What happened?

Click on the `collection` button on navbar.
Then it does not lead to collection tab.
![image](https://user-images.githubusercontent.com/31397967/196482297-b71090b4-3aac-4f81-8bc0-3ba5e2e822fc.png)

<img width="1383" alt="image" src="https://user-images.githubusercontent.com/31397967/196482677-d2e09eef-1dd5-4319-a85c-4b33eebc8b6e.png">

### Please reproduce in steps

Click on th

[2022-10-19 00:23] prachi00 commented on #4015
@alabo-excel are you working on this one?

[2022-10-19 01:18] prachi00 opened #4136 "Redesign Search bar/results leftover fixes"
### Is your feature request related to a problem?

Originial issue: #4090
current status:
![image](https://user-images.githubusercontent.com/90852205/196338758-9cc29687-3538-40c8-b47b-068cc1ddfadc.png)
the design:
![image](https://user-images.githubusercontent.com/90852205/196338831-0b0b44c3-2ad1-41fb-967b-9f639e561658.png)
on page https://beta.kodadot.xyz/?page=1&redesign=true&search= there are n

[2022-10-19 01:21] prachi00 commented on #4136
@roiLeo how do I get the floor and units from the `collectionEntities` api?

@exezbcz
1. for the selection navbar thing, would it be like this everywhere? that is the selection wont be pink and hoverable?
2. isnt `see all` a url, so shouldnt it follow the url default css that is it should be accentLight on hover?

[2022-10-19 01:25] prachi00 commented on #4090
Just to keep track of these in separate issues:

- [ ] Heros
- [ ] Search Bar/results - #4136
- [ ] Spotlight
- [ ] Top collections
- [ ] NFT carousel section
- [ ] Footer
- [ ] Cards

[2022-10-19 01:30] KngZhi commented on #4129
Seems *burned* right now

<img width="1408" alt="image" src="https://user-images.githubusercontent.com/11361147/196575877-feebf596-31a5-46bd-aaee-ad0b6a4465ed.png">

[2022-10-19 01:41] prachi00 opened #4139 "Redesign Footer Leftovers"
### Is your feature request related to a problem?

Original Issue: #4090

## Footer
- We already discussed this one, but icons for socials in dark mode should have different hover effect. Icons should change to dark when hovering. See the picture below.
![image](https://user-images.githubusercontent.com/90852205/194555684-f90c3ea6-fefe-4b82-a40f-dab616702ceb.png)
- Links have hover state - bold

#

[2022-10-19 04:23] marvelet commented on #4129
I see all already fixed as expectes now. Many thanks

[2022-10-19 04:23] #4129 closed

[2022-10-19 06:50] KngZhi commented on #3114
hi @yangwao, we could close this issue since the PR was merged 🚀

[2022-10-19 07:17] roiLeo commented on #4136
not possible for now with `collectionEntities`, maybe with `seriesById` or with kodadot/snek#95

[2022-10-19 08:08] alabo-excel commented on #4015
Yes, I am!

On Wed, 19 Oct 2022 at 1:23 AM, Darshana Prachi ***@***.***>
wrote:

[2022-10-19 09:05] JustLuuuu commented on #4132
The ones that wao sent are visible now.
Another not-visible collection: https://kodadot.xyz/bsx/collection/3134362679?page=2
This piece also doesn't load: https://kodadot.xyz/bsx/gallery/2608295324-3
I hope it will work soon :)

[2022-10-19 09:51] #4128 closed

[2022-10-19 10:09] yangwao opened #4141 "On focus in search box we should suggest trending collections"
On focus in searchbox we should suggest trending collections + search history, like last 3 searched terms

@exezbcz can edit this to add Figma link but I guess it was in original one?

![image](https://user-images.githubusercontent.com/5887929/196662072-00fa0449-70b4-402b-85aa-77ac216293ff.png)

![image](https://user-images.githubusercontent.com/5887929/196662794-58a82762-1af3-4f87-94af-4dd0bf4b21

[2022-10-19 10:16] yangwao opened #4142 "Refactor get.balance()"
code lgtm
but i'm concerned that I see this part of code used in various places (CreateCollection, AvailableActions, Teleport, Transfer etc..)
[code]
shouldn't we change it too?

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/pull/4137#pullrequestreview-1146939777_

[2022-10-19 10:16] #4122 closed

[2022-10-19 10:23] yangwao commented on #4136
Oh, this is related with
- #4141

[2022-10-19 10:25] #4133 closed

[2022-10-19 10:31] yangwao commented on #4142
<img src="https://media0.giphy.com/media/VRhsYYBw8AE36/giphy.gif"/>

[2022-10-19 10:32] vikiival opened #4143 "New social media cards SEO/OG"
Finally we have new release out!

![Screenshot 2022-10-19 at 12 28 04](https://user-images.githubusercontent.com/22471030/196667380-55508887-17c5-4c6a-a90e-87cbd82bcb4c.png)

It would be cute to have new preview cards.
I bet that @exezbcz has something in his sleeve.

[2022-10-19 10:34] roiLeo commented on #4142
Since it's a Vuex getters I don't think we need to refactor it

Alright, but in `components/bsx/Gallery/item/AvailableActions.vue`:

[code]

[2022-10-19 10:35] vikiival commented on #4142
au

[2022-10-19 10:35] yangwao commented on #4132
and now smash hard reset on snek-dexer?

[2022-10-19 10:37] roiLeo opened #4144 "wallet connect new design remarks"
Hello! small notes with new design:
- no more change account button?
- disconnect is clearing `localStorage` so it will always ask for wallet authentification check
- how can I know wich extension is supported on kodadot since we hide the one that are not installed?
- mobile responsiveness & wallet selection are small:
![Screenshot 2022-10-19 at 10-38-30 KodaDot - Kusama NFT Market Explorer](https

[2022-10-19 10:42] brano-hozza opened #4145 "Navbar in Beta behaves glitchy on scroll"
### What happened?

When I tried to scroll down the new Beta page, the navbar glitched for a moment (probably because of a combination of the black line on top and the blurry effect of the navbar)

### Please reproduce in steps

- Go to https://beta.kodadot.xyz/
- Scroll a little down

### Expected Behavior

To be smooth and not glitchy

### What browsers are you seeing the problem on?

Chrome

##

[2022-10-19 10:50] yangwao opened #4146 "Mobile landing on new neobrutalism design"
Seems we need to check on mobile issues with view port and navbar tho :)

https://user-images.githubusercontent.com/5887929/196670975-071dff05-367b-4ac6-bc89-9e5e65e149d9.mov

## Ref
- https://github.com/kodadot/nft-gallery/issues/4125

[2022-10-19 10:54] Jarsen136 commented on #4146
👋

[2022-10-19 10:54] yangwao commented on #4145
Seems same in #4146 but on mobile

[2022-10-19 10:58] Jarsen136 commented on #4145
👋

[2022-10-19 12:43] exezbcz commented on #4141
![image](https://user-images.githubusercontent.com/90852205/196693899-cd8f8f85-9cf2-4a4c-95eb-33a3261c3a64.png)
yup it's in the original landing page handoff
https://www.figma.com/file/3iOjW12ERFRDSVnpLuhQmf/landing-page-handoff?node-id=1305%3A5613

[2022-10-19 12:54] yangwao commented on #4146
Could this be done with #4125 too?:)

[2022-10-19 13:06] exezbcz commented on #4144
Hey, I will response to this issue if you don't mind.
- no more change account, we can add this if will people really miss this.
- ad 2 -
- ad 3 in design, there are the wallets, it should be also in the final version.
- on mobile, it's obviously broken. Wallet selection could be bigger, maybe improvement for v1.2
- a few minor issues, hover on wallet selection ( I mean the specific addresses you

[2022-10-19 15:34] yangwao commented on #4125
https://github.com/kodadot/nft-gallery/pull/4148#pullrequestreview-1147802129

Maybe we could bump buttons on a mobile bit higher?
@exezbcz

[2022-10-19 15:35] #4146 closed

[2022-10-19 15:38] yangwao commented on #3844
let's continue to
- #4090

[2022-10-19 15:38] #3844 closed

[2022-10-19 15:48] yangwao opened #4149 "replace substack input placeholder"
would it be possible to replace substack input placeholder? (remove google/gmail brand)

probably replace with "jane.doe@kodadot.xyz"

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/pull/4140#pullrequestreview-1146949147_

[2022-10-19 15:48] #4139 closed

[2022-10-19 15:55] Jarsen136 commented on #4149
👋

[2022-10-19 16:21] yangwao opened #4151 "Caching failed response for gallery media object"
Right now when we are showing K placeholder at item detail, client fetches item, got empty response.
Next I'll manage to see item through other ipfs gateway like ipfs.io
I'll revisit same item detail, I see in network tab it fetches payload, receives object which is in chrome store viewable, but in gallery item detail still showing K placeholder.

Maybe is that we store failed response and client

[2022-10-19 16:27] yangwao commented on #4136
@exezbcz mic check

[2022-10-19 16:30] #4149 closed

[2022-10-20 03:55] prachi00 commented on #4136
yeah I mean everywhere we have tabs like in explore, settings

[2022-10-20 06:32] prachi00 opened #4153 "Redesign: Spotlight leftovers"
### Is your feature request related to a problem?

Originial issue - #4090
- All of the cards in the carousel, including single nft cards in Newest lists, Latest sales, etc. should overflow over the edges of the content. They should scale up/down to show only 4 in the case of the spotlight and single nfts. Once it overflows, it should change its opacity to 30% and mode to luminosity. That means we

[2022-10-20 08:13] #4145 closed

[2022-10-20 12:33] yangwao commented on #4143
more like with new neobrutalism background, keep current logo 🥹

[2022-10-20 13:02] Jarsen136 commented on #4141
You are right and we could bring them back.

[2022-10-20 13:33] Jarsen136 commented on #4141
For now only on RMRK, the trending suggestion would be show.
<img width="658" alt="image" src="https://user-images.githubusercontent.com/31397967/196959239-516cd154-90da-4219-b3e5-588556e1268f.png">

[2022-10-20 13:55] yangwao commented on #4117
Premise here to show second-order information which are not needed when you are browsing first order view

Hover card would be used on top of view of
**- profile**
  - you want to know more about a particular address on-chain activity
  - showing
    - collected - showing amount of on-chain buys address has made
    - created - the amount of NFTs created/minted
    - total sales, sales short - the

[2022-10-20 17:46] exezbcz commented on #4143
Hmm, what about this? It still keeps some elements from the old banner, but it's in a different style. :DDD
![Slide 16_9 - 2 (1)](https://user-images.githubusercontent.com/90852205/197020604-06cacef6-d300-47a9-ab17-f9a022d49420.png)

[2022-10-21 05:17] prachi00 opened #4155 "Redesign: Card leftovers"
### Is your feature request related to a problem?

![image](https://user-images.githubusercontent.com/90852205/196035695-278063a9-17c8-4843-99c8-405e05d947fe.png)
the card breaks when there is no collection/nft name. Also, In this case, it would be great to make max name length and then only add 3 dots behind if it is over.

### Describe the solution you would like

.

### Describe alternatives yo

[2022-10-21 06:34] prachi00 commented on #4090
@exezbcz whats wrong with the hero section? seems fine to me on 14 inch, is it an issue on smaller screens?

[2022-10-21 14:10] yangwao commented on #2229
![image](https://user-images.githubusercontent.com/5887929/197216017-c018fda0-258e-4b56-8f97-b1d4c1475c62.png)

[2022-10-21 14:15] yangwao commented on #4132
Turns out our Cloudflare images integration was discarded or accidentally deleted from Basilisk explorer?

It should hit fetch from this URL
https://imagedelivery.net/jk5b6spi_m_-9qC4VTnjpg/e7260d0c-4fc4-4d07-64c8-9dfccbadf100/public
at this item https://beta.kodadot.xyz/bsx/gallery/1437594557-1

[2022-10-21 14:29] Jarsen136 opened #4158 "Incorrect url of nft on 'More From This Collection'"
### What happened?

visit https://beta.kodadot.xyz/bsx/gallery/3813476019-44

click any item on 'More From This Collection'
<img width="1407" alt="image" src="https://user-images.githubusercontent.com/31397967/197219317-ffd30a78-f4ff-42b8-9f06-f9ed2328bea9.png">

error happen
<img width="1728" alt="image" src="https://user-images.githubusercontent.com/31397967/197219441-2f57d001-baf3-497f-ba68-bfb

[2022-10-21 14:54] vikiival commented on #4143
Waaaai love it!

[2022-10-21 15:22] #4158 closed

[2022-10-21 15:33] roiLeo opened #4160 "Landing page issue on scroll"
### What happened?
On new landing page I noticed that the vertical scroll was difficult when hovering a card
It might come from carousel component?

### Step to reproduce
- go to beta
- put your pointer on any carousel card
- scroll down or up
- it's difficult?

### Video
📹

___Tested on OSX 13-iinch___

[2022-10-21 15:46] yangwao opened #4161 "Connect wallet on mobile"
seems the mobile version needs tune 🥹

![image](https://user-images.githubusercontent.com/5887929/197236012-a20373e1-220e-4c1d-a4f3-e31ea74fba5f.png)

[2022-10-21 18:46] prachi00 commented on #4161
👋

[2022-10-22 01:37] prachi00 commented on #4153
@exezbcz @roiLeo  I tried doing this but just doesn't seem possible centering only 4 elements and adding opacity for elements after that, because from left it still has space, so even if I give margin left to make it centered, then it wouldnt left align with the rest of things on landing page, I feel like we need to rethink this one a little bit and get a version that works for all screen sizes
<i

[2022-10-22 03:52] Jarsen136 commented on #4161
I guess reloading the page on mobile could help.

<img width="326" alt="image" src="https://user-images.githubusercontent.com/31397967/197317926-e2d64b95-b1df-4d35-a9e2-3acb2afb8b36.png">

[2022-10-22 10:14] kkukelka commented on #4160
👋

[2022-10-22 10:14] kkukelka commented on #4160
btw this is firefox only. already found a fix

[2022-10-22 12:38] exezbcz commented on #4090
its a problem with the smaller screens. On the resolution 1200px and lower the graphics collapse into the text.
![image](https://user-images.githubusercontent.com/90852205/197339207-aad6cdcc-ea18-4385-8b67-ace7e64042d3.png)

Also, the graphics aren't aligned vertically with the hero container.
![image](https://user-images.githubusercontent.com/90852205/197339342-69513530-47ef-430f-b398-a95235b5e9b

[2022-10-22 12:54] exezbcz commented on #4090
Also, could someone please fix the .body color, which is currently set to something with a grey tone? It's not true white as it should be. Thanks!

[2022-10-22 17:54] exezbcz commented on #4117
where would you imagine nft view to be?
I mean the hovercard is for extending information on the card - could be collection or owner.

What is the use case for nft view? You don't usually have somewhere to hover for more info.
For example, here you hover over the collection and you get more info
![image](https://user-images.githubusercontent.com/90852205/197355440-d64ad071-dc04-4222-ba58-11587abf1

[2022-10-23 00:03] prachi00 commented on #4090
fixed in #4138

[2022-10-23 00:04] prachi00 commented on #4090
fixed in #4138

[2022-10-24 06:23] #4160 closed

[2022-10-24 08:11] roiLeo opened #4165 "More from this collection chain name"
follow up #4159
Tested on `/bsx/gallery/3929608780-23`
Should be `Basilisk` instead of `RMRK`
<img width="1249" alt="Capture d’écran 2022-10-24 à 10 07 52 AM" src="https://user-images.githubusercontent.com/9987732/197478865-6d773548-809e-4e0b-b1f7-278cdca0aa5e.png">

[2022-10-24 08:13] Jarsen136 commented on #4165
👋

[2022-10-24 08:18] roiLeo commented on #4165
nft `chain` is undefined, pretty sure it's coming from `formatNFT` method

[2022-10-24 10:11] #4161 closed

[2022-10-24 10:37] DeluneClaire opened #4166 "How looks new design on phone"
### Is your feature request related to a problem?

I have checked the beta with the new design on the phone, and it looks a little bit off... there is so much space on the top under the main line.

### Describe the solution you would like

I think it would look better if the letter is smaller, so it can fit better on the phone display.

### Describe alternatives you have considered

-

### Screeen

[2022-10-24 15:31] roiLeo commented on #3883
Reopen this since we introduce unused code (row, columns, filters & switch) in Landing & Navbar.
In other words, I would like to use `SearchBar` component outside `Search` component

[2022-10-24 16:00] Jarsen136 commented on #3868
👋

[2022-10-24 17:12] yangwao opened #4169 "Item/Video on landing doesn't show but it does shows on item detail"
This is quite weird that it shows on item but not on carousel?

https://user-images.githubusercontent.com/5887929/197585609-3ab1e33d-8237-4ed1-9f82-253fe1679e48.mov

[2022-10-25 01:34] prachi00 commented on #4144
Few adjustments by @exezbcz
### Visual:
- popup doesn't have a stroke.
- hover effect on each wallet should be different, not k-accent but in light mode: k-accentlight2 and in darkmode k-accentlight2dark, both are in landing page handoff - first page - colors
- "connect wallet" section should have the same height as the wallet selection (polkadot.js etc.)
### Functional:
- by default, it should fe

[2022-10-25 04:41] preschian commented on #4169
similar to these issues I guess:
- https://github.com/kodadot/nft-gallery/issues/4073
- https://github.com/kodadot/nft-gallery/issues/4102

[2022-10-25 08:28] roiLeo commented on #4143
Here are the rest of preview cards used on different pages

|  Collections | Gallery  | Mint  | Series | Spotlight |
|---|---|---|---|---|
|  ![k_card_collections](https://user-images.githubusercontent.com/9987732/197722726-8238054f-4598-461a-ad47-f16878ba2f73.png) | ![k_card_gallery](https://user-images.githubusercontent.com/9987732/197722831-2560c393-4203-436e-acff-e180e5bcd0cd.png) |  ![k_card_

[2022-10-25 09:32] #4165 closed

[2022-10-25 09:36] yangwao opened #4171 "Changing sizing in search while selecting by keyboard"
Changing sizing of see all while selecting by keyboard

https://user-images.githubusercontent.com/5887929/197739215-978161cf-e36a-4644-aa3c-84e98e0d9505.mov

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/4138#issuecomment-1290268582_

[2022-10-25 09:37] #4136 closed

[2022-10-25 09:39] #4004 closed

[2022-10-25 09:46] yangwao commented on #4132
Probably resolved by
- https://github.com/kodadot/snek/pull/104
- https://github.com/kodadot/snek/pull/103

But on landing, there is still some issue like
- #4169

[2022-10-25 09:46] yangwao commented on #4169
Seems same 👀

https://user-images.githubusercontent.com/5887929/197741223-24d23db4-b2b4-4901-9fba-d8d6b53d5091.mov

[2022-10-25 09:46] #4132 closed

[2022-10-25 09:50] yangwao opened #4172 "Missing link to collection"
Seems we don't show a link to collection.
https://beta.kodadot.xyz/bsx/gallery/3715754953-23

![image](https://user-images.githubusercontent.com/5887929/197742069-2d2a9a93-ccd3-49c1-91b3-0dabd91e92a2.png)

[2022-10-25 09:50] KngZhi commented on #4171
👋

[2022-10-25 09:54] roiLeo commented on #4172
it might be an issue for kodadot/snek

![Capture d’écran 2022-10-25 à 11 53 59 AM](https://user-images.githubusercontent.com/9987732/197743123-89eadb9f-462a-4af0-bdca-5cfd9111165a.png)

[2022-10-25 10:21] vikiival commented on #4169
This looks like the issue on the frontend sir

<img width="1011" alt="Screenshot 2022-10-25 at 12 19 55" src="https://user-images.githubusercontent.com/22471030/197748615-0bc2a69b-0453-4d85-9571-597a29e047a8.png">

[2022-10-25 10:47] vikiival commented on #4143
Let's just use one for now ?

[2022-10-25 10:53] preschian commented on #4169
oh, maybe I miss something, can you elaborate more on this

because currently, the carousel in the landing page uses `lastEvent` query, but in some of them the `name/collectionName` was an empty string. sometimes another query also faces a similar issue. I thought this one is a hint of the root cause  https://github.com/kodadot/snek/issues/100#issuecomment-1285030787, isn't it?

| `lastEvent` quer

[2022-10-25 11:24] DeluneClaire opened #4173 "Loading the NFT when using the NFT link"
### Is your feature request related to a problem?

When you want to share your NFT on socials or anywhere, and you use the link, it shows this:

<img width="592" alt="Snímek obrazovky 2022-10-25 v 13 21 54" src="https://user-images.githubusercontent.com/104791453/197760104-d3c832f1-b8c9-4c0b-9ced-dc2bf4ac7435.png">

### Describe the solution you would like

I would instead want to see my NFT and

[2022-10-25 11:32] KngZhi commented on #4172
👋

[2022-10-25 11:39] roiLeo commented on #4173
Closing this since it's a know issue ref #4058, #2759, #2388, #2136

[2022-10-25 11:39] #4173 closed

[2022-10-25 12:04] JustLuuuu opened #4174 ""New in NFTs?" link on main KodaDot page - add additional info"
### Is your feature request related to a problem?

Hello, one artist (new in web3) was confused after opening our **step-by-step** guide.
![image](https://user-images.githubusercontent.com/104380776/197766907-e0b9e557-f8bd-4277-ab2d-c2a2cf352cdc.png)

Here is his problem:
![image](https://user-images.githubusercontent.com/104380776/197766377-583046f9-692a-4c1a-8bcb-4d1d657e34d2.png)

He was expect

[2022-10-25 12:41] preschian commented on #2759
seems like I found another alternative

since netlify support prerender by default. so still use similar methods, but request to netlify instead of prerender.io. this is the source https://github.com/preschian/prerender-cf-workers/blob/main/src/index.ts#L23-L33. currently applied on https://kodadot.preschian.xyz/. feel free to test it

sometimes need to wait some seconds to load the open graph. bu

[2022-10-25 13:26] brano-hozza opened #4175 "Remove beta from logo on official website"
### Is your feature request related to a problem?

I am kinda confused if I am on the official site or the beta version of it

### Describe the solution you would like

I would like to have the pure logo of Koda without the beta sign and keep the beta sign only on the beta webpage

### Describe alternatives you have considered

???

### Screeenshots

<img width="146" alt="image" src="https://user-

[2022-10-25 13:32] exezbcz commented on #4143
Agree, I would use only this one or the former one. I will make the different pages once the final design is finished and the full rebrand is done.

[2022-10-25 13:56] Jarsen136 commented on #4175
Hey, @exezbcz wdyt about this issue?

[2022-10-25 14:02] roiLeo opened #4176 "Enkrypt Wallet integration"
[Enkrypt](https://www.enkrypt.com/) is A multichain crypto wallet

_Hold, buy, send, receive, and swap tokens. Manage your NFTs. Access web3 apps across multiple blockchains._

[2022-10-25 14:37] yangwao opened #4177 "Lot of errors on horizontal scrolling on landing"
Are lots of the same errors being generated on scroll on landing?
To me seems a bit slowing down the browser 🥹

https://user-images.githubusercontent.com/5887929/197803183-43d1ea85-13aa-493d-8626-0cf105a2fc39.mov

[2022-10-25 14:37] #4166 closed

[2022-10-25 14:53] yangwao commented on #4175
hey, thanks for reporting!

I guess hence we have a lot of moving parts even in production, I would stick with the beta labels everywhere.

It's, for example, same as with Nuxt RC versions, ppl use them in production, so there might still be some dragons, which we have from time to time, so ppl can might sense something might go wrong.

Of course we are trying our best and when we will have, let's

[2022-10-25 15:18] roiLeo commented on #3687
Can't this be fixed with kodadot/snek#99 since we do the same for rmrk chain?

[2022-10-25 22:40] Los commented on #4125
Thats my first issue taken and thats also my 2 cents on this architecture:

I dont think this should be splitted in two differents components (one navbar for mobile and on for desktop). I think we should create a new component for replacing the dropdown inside the mobile navbar, in that way we would use the same component. I will work with this approach since I don't see any change for non dropdow

[2022-10-26 01:34] Jarsen136 commented on #4125
Yup, that would be better and you could give it a shot.

Just FYI:
1. Be aware of the differences between pc and mobile navbar based on the fimga design.
2. Avoid big component files. Try to split the mobile part into a new component file.
3. use https://buefy.org/ & https://bulma.io/documentation/

[2022-10-26 05:47] KngZhi commented on #4172
it seems we did not combine the data from `metadata` and raw data;

e.g.,
[code]

[2022-10-26 08:32] #4177 closed

[2022-10-26 08:38] #4171 closed

[2022-10-26 08:44] yangwao opened #4183 "create these wallet instances by a list of configs"
Yes, as we have right now, at least 7 wallets in ecosystem, it would be really nice to have

ht @Jarsen136

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/4178#issuecomment-1291701410_

[2022-10-26 08:47] #4155 closed

[2022-10-26 08:55] vikiival commented on #3687
Unfortunately no. The Basilisk works way differently than "RMRK", If we unlist the token on the `snek's` side,the NFT is still available on-chain to buy :)

So the only possible options are two mentioned above

[2022-10-26 09:08] Jarsen136 commented on #4183
👋

[2022-10-26 09:11] #4176 closed

[2022-10-26 10:47] vikiival commented on #2759
Can you make a PR to kodadot/workers? so I can deploy it to our CF plan?

[2022-10-26 11:37] #4175 closed

[2022-10-26 17:10] yangwao opened #4185 "Neobrutalism landing page release"
Before we release, we would like to polish the very last cosmetic issues

## Searchbar
At the search bar, the link should navigate to explorer view like when click on Basilisk will land at https://beta.kodadot.xyz/bsx/explore/ , not changing the network and keeping user on landing - same with explore hover popup

<img width="705" alt="image" src="https://user-images.githubusercontent.com/5887929/1

[2022-10-26 17:12] yangwao opened #4186 "Network is not clickable at certain width"
At 2/3 of 13" is the network not clickable.

https://user-images.githubusercontent.com/5887929/198092158-c5877ec4-1046-4f99-bce6-792a494451d6.mov

[2022-10-26 17:23] Jarsen136 commented on #4186
👋

[2022-10-26 17:28] Jarsen136 commented on #4185
👋

[2022-10-27 02:36] prachi00 commented on #4144
so all the wallets should be always visible without any conditions?

[2022-10-27 06:52] roiLeo commented on #3671
closed in #3661

[2022-10-27 06:52] #3671 closed

[2022-10-27 06:58] roiLeo commented on #3481
Tested on Rococo and it worked! Imo we can close this one

[2022-10-27 08:22] exezbcz commented on #4144
yup, on the first slide yes. Basically its displays all wallet options even if you dont have them.

[2022-10-27 08:29] roiLeo commented on #4144
related with https://github.com/kodadot/nft-gallery/pull/4097

[2022-10-27 08:34] exezbcz commented on #4185
## History button
Is this button required because we display search history while the search bar is focused? @yangwao
![image](https://user-images.githubusercontent.com/90852205/198233453-d833900c-0713-40cd-bc71-4475c0f22660.png)

[2022-10-27 08:38] exezbcz commented on #4144
I guess I didn't know about this problem, are we continuing in this direction? I believed we were offering the user additional options and, if he didn't already have the wallet, guiding him through the installation process and providing information.

[2022-10-27 08:53] roiLeo commented on #4144
Yep, that was the original goal to show users all supported wallet by Kodadot.
Maybe @yangwao can enlighten us why #4085 has been introduced.

[2022-10-27 13:30] #4186 closed

[2022-10-27 15:10] yangwao commented on #4185
We can disable it for now I guess till we redesign it and put elsewhere 🥹

[2022-10-27 15:51] Jarsen136 commented on #4185
We are missing top collection for BSX

Related to https://github.com/kodadot/nft-gallery/issues/4059 https://github.com/kodadot/nft-gallery/issues/4115

[2022-10-27 17:26] Los commented on #4125
I've got a power outage in my area for the past 2 days. Getting back to work on this issue now.

Should we avoid writing multiple components that use the same styles and write a component that have a more reusable functionallity (like slots wrappers)? Because this is how I am approaching in this issue

[2022-10-27 17:41] Los commented on #4125
@exezbcz  How should I highlight the selected language?

<img width="316" alt="image" src="https://user-images.githubusercontent.com/4088193/198360794-91e11c72-9dcb-46ad-a066-504b8b7fae27.png">

[2022-10-27 17:54] green-jay opened #4189 "Royalty toggle reversed behaviour"
### What happened?

Royalty toggle turns on royalty when it's off and vice versa

### Please reproduce in steps

Mint NFT -> use royalty toggle

### Expected Behavior

When I turn toggle ON, i will be able to set royalty

### What browsers are you seeing the problem on?

_No response_

### At which address did you encounter bug?

_No response_

### Are you logged in?

_No response_

### Which wall

[2022-10-27 18:00] exezbcz commented on #4125
good q, active state is black bg, like it is now on desktop version:
![image](https://user-images.githubusercontent.com/90852205/198364404-55674032-3250-403a-9c70-4a1081a6a0fc.png)

[2022-10-27 18:02] Los commented on #4125
I've kept it :)

<img width="390" alt="image" src="https://user-images.githubusercontent.com/4088193/198364785-0ade339a-b859-41cc-95b9-2829c63fa395.png">

Does it looks okay in your side?

[2022-10-27 18:05] Los commented on #4125
@Jarsen136 FYI. I might not be able to finish the task in time due to power outage in my area for the past 2 days, but, I will commit my progress if anyone wants to continue it :)

[2022-10-27 18:05] exezbcz commented on #4125
yup, looks good, just change the color of the text to black and maybe if you can add white border between the two dark buttons?
![image](https://user-images.githubusercontent.com/90852205/198365375-8bea932b-46b0-444c-b0b7-cca42b59ee26.png)

[2022-10-27 19:34] exezbcz commented on #4185
After a brief discussion, I believe that the landing isn't yet prepared for the multichain use as it was originally intended.
How it works right now:

The selection under searchbar finally redirects to explore/network, that is good. The default network is BSX, where you cannot see top collection. Also now it could look like the bsx is the only active network - doesnt make sense if it redirects you

[2022-10-27 21:48] Los commented on #4125
👋

[2022-10-27 21:52] Los commented on #4125
:(

[2022-10-27 21:54] Los commented on #4125
@Jarsen136 can you please check if I can keep this issue? I would like to finish it since I already did a huge progress hehehe

[2022-10-27 22:08] prachi00 commented on #4125
@Los so you being unassigned doesn't mean you cant work on it, you can still work on it and raise the PR, its fine :)

[2022-10-28 00:57] Jarsen136 commented on #4125
That's a good idea.

Sure, you could still work on it. Look forward to your PR.

[2022-10-28 05:50] #2759 closed

[2022-10-28 06:54] roiLeo opened #4191 "Graphql error on landing"
on landing beta, might come from lastEvent query?

![Screenshot 2022-10-28 at 08-51-13 KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/198522329-9ef1dba2-1546-4f97-9784-b7e65c482eba.png)

[2022-10-28 06:57] KngZhi commented on #4191
yes, it is the same error with #4172

[2022-10-28 07:09] roiLeo commented on #4185
We need to release new version beforehand to have bsx/snek data (we have small issue with floorprice kodadot/snek#96)

How would you like to display all networks (on top collections) since it's sorted by volume, let's say N°10 collection on rmrk has 1800KSM volume when N°1 collection on bsx has like max 10KSM volume

[2022-10-28 07:46] roiLeo commented on #4189
Thanks for the feedback, here's how I see the feature.

Current behavior:
- when royalties switch is on: royalties are sent to the creator address
- when royalties switch is off: you can set an address where the royalties will be sent

it is true that it's disturbing for the user

[2022-10-28 08:14] KngZhi commented on #4172
IMO, it needs to fix it on the snek side, you could check `handleMetadata` and `handleCollectionCreate` on `src/mappings/index.ts`;

for some collection, their infos(name, images) are stored in a link on `ipfs/bafkreiexptpu6vf44qzsttopljeommxxpij2s777svdok5uv7pjvn66vnq`, but SNEK doesn't fetch those data successfully, thus we have these `null` values;

[2022-10-28 09:56] roiLeo opened #4193 "Nft History component wrong currency"
tested on `/bsx/gallery/945672150-19`
Amount should be KSM instead of BSX

![Screenshot 2022-10-28 at 11-54-35 MAGENTA KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/198559975-fd5ffc96-6f98-4272-bf01-876290c5b2cc.png)

### Note
- we should calculate royalty amount

[2022-10-28 10:52] green-jay commented on #4189
Ok I see, it is a bit confusing, I would expect the royalty to be disabled when the toggle is OFF. And when it is ON to have a possibility to change the default creator address.

A simple way how to achieve disabling it would be setting royalty to 0 - that also means it could never be set again by anyone else which should be exactly what we want given there is no scenario where you would like to s

[2022-10-28 11:30] #3207 closed

[2022-10-28 11:31] #4183 closed

[2022-10-28 11:42] yangwao opened #4194 "Missing browser history on search?"
Seems after user made search can't go back on landing?

https://user-images.githubusercontent.com/5887929/198579255-13129a46-8eab-4ff3-b966-a5e59cd20432.mov

[2022-10-28 11:53] yangwao opened #4195 "Error on Landing due snek@005"
<img width="1675" alt="image" src="https://user-images.githubusercontent.com/5887929/198580953-f3cf45ea-d02b-48fa-88dc-d2b2b79770cb.png">

[2022-10-28 11:56] vikiival commented on #4195
Exaclty 3 min ago I made hard reset.
<img width="1680" alt="Screenshot 2022-10-28 at 13 55 18" src="https://user-images.githubusercontent.com/22471030/198581450-8bd9aa75-a7de-4b5f-97e4-cf0fa5b3bc21.png">

[2022-10-28 11:59] yangwao opened #4196 "Probably redesign menu burger for mobile as well?"
I guess we can connect it with
- #4125

May @exezbcz provide some ideas for mobile? Or do we have something on this in Figma already?

https://user-images.githubusercontent.com/5887929/198581961-d8ecc569-3ceb-4765-8c9c-4efdb26141ab.mov

[2022-10-28 11:59] #4141 closed

[2022-10-28 12:02] yangwao commented on #4195
<img src="https://media0.giphy.com/media/45d2TL6t0JzaT46ofC/giphy.gif"/>

works meanwhile

[2022-10-28 12:02] #4195 closed

[2022-10-28 12:04] yangwao commented on #4172
Seems meanwhile is there with @005 release?

https://beta.kodadot.xyz/bsx/gallery/3700039981-24?page=1

<img width="231" alt="image" src="https://user-images.githubusercontent.com/5887929/198582755-e5664042-3a83-41d5-85db-49aadfcea814.png">

[2022-10-28 12:06] vikiival commented on #4172
It was imo fixed by https://github.com/kodadot/packages/pull/70

[2022-10-28 12:06] #3841 closed

[2022-10-28 12:08] yangwao commented on #4172
tentatively closing then

[2022-10-28 12:11] vikiival commented on #4169
Yup possible!

Hope it was fixed by your PR https://github.com/kodadot/packages/pull/70

[2022-10-28 12:28] yangwao opened #4198 "Overlay of networks while searching on landing"
Seems there is a bug while searching on https://kodadot.xyz (it's recent `main`, on production is `hyper-jpeg` )

<img width="645" alt="image" src="https://user-images.githubusercontent.com/5887929/198586910-674323cb-2225-4ec9-9033-a93e7f42f59a.png">

[2022-10-28 12:40] yangwao commented on #4169
Same on production rn, but on click it loads well https://kodadot.xyz/bsx/gallery/2373313459-6
<img width="641" alt="image" src="https://user-images.githubusercontent.com/5887929/198588967-e0184979-c76d-48e5-8815-4535e31ac312.png">

[2022-10-28 12:48] Jarsen136 commented on #4198
👋

[2022-10-28 12:56] yangwao opened #4199 "Missing name of collection on spotlight"
Seems the same issue with metadata or different one?

<img width="1403" alt="image" src="https://user-images.githubusercontent.com/5887929/198593586-cb85a42a-7010-4d97-9667-b7bc28fd50a7.png">

## Ref
- #4169

[2022-10-28 12:57] yangwao commented on #4015
hey @prachi00 if you can take it :)
Seems @alabo-excel did not deliver for 9 days:)

[2022-10-28 13:04] Jarsen136 commented on #4194
👋

[2022-10-28 13:41] exezbcz commented on #4185
Yup, thats essence of multichain trending collection. The goal is to display to the user the popular options rather than the average ones. Additionally, there should be a network filtering option. Please see this figma:https://www.figma.com/file/3iOjW12ERFRDSVnpLuhQmf/landing-page-handoff?node-id=0%3A1
Another thing is that it should not be all time volume, but something like 30 days volume on def

[2022-10-28 13:45] exezbcz commented on #4185
so, in few hours i will comment this issue with the network switch design co we can change the redirect from collection hover.

[2022-10-28 14:01] #4198 closed

[2022-10-28 14:55] yangwao commented on #4144
to lower cognitive load to the user for wallets don't have installed.
Probably if user don't have any installed, offer them all?

probably user won't be clicking on one that doesn't have installed?

Yeah things changed tho, or maybe we can make installed to be on the top and others make look less visible?
Point is to not disturb user with wallets they don't have :)

[2022-10-28 14:55] yangwao commented on #4169
<img src="https://media4.giphy.com/media/ZXKZWB13D6gFO/giphy.gif"/>

[2022-10-28 15:29] yangwao commented on #4169
hmm as short term fix oookay

[2022-10-28 15:30] yangwao commented on #4199
Temporary fix
- https://github.com/kodadot/nft-gallery/pull/4203

[2022-10-28 15:51] Jarsen136 commented on #4191
Merged

[2022-10-28 15:51] #4191 closed

[2022-10-28 15:59] vikiival commented on #4169
Plan to hack kodadot/snek#102 in the evening

[2022-10-28 17:01] prachi00 commented on #4015
sure I can take this one

[2022-10-29 00:36] KngZhi commented on #4193
👋

[2022-10-29 10:42] vikiival commented on #4169
Gonna publish your worker

[2022-10-29 10:52] yangwao opened #4204 "Redesign scroll up button"
I guess it's a small component, but it's really cutting my eyes now having round stuff 😅

Once @exezbcz provide the design, we can start working on that :)

https://beta.kodadot.xyz/bsx/explore/?page=2
<img width="97" alt="image" src="https://user-images.githubusercontent.com/5887929/198827309-f0ce7615-92cf-44d3-9368-4a7b5b79cced.png">

[2022-10-29 10:57] yangwao commented on #4169
if this helps

<img width="928" alt="image" src="https://user-images.githubusercontent.com/5887929/198827587-2cac8983-ad34-48a2-99f6-d7ffd00f983c.png">
<img width="272" alt="image" src="https://user-images.githubusercontent.com/5887929/198827595-e3bb21ce-b973-470f-9923-c8e2bb3cc2ac.png">

[2022-10-29 11:01] vikiival commented on #4169
So does it mean that our dedicated  pinata gateway is useless?

[2022-10-29 11:01] vikiival commented on #4169
Cc @preschian

[2022-10-29 11:13] vikiival commented on #4169
Maybe they get 429?

Btw as a cheap hack let's extend minipfs with your gateway and we should do a proper fix next week

[2022-10-29 11:22] yangwao opened #4205 "Priority is too low on Basilisk"
Seems we should gracefully handle situations like that even I think it's more issue which should be handled by wallet?

Is there something user can do in this?

bXn2WtSvE61qcDCJBuepdaSoy2HxpyBb8UE2hWvgZQiZ9hFnr

https://basilisk.subscan.io/account/bXn2WtSvE61qcDCJBuepdaSoy2HxpyBb8UE2hWvgZQiZ9hFnr

![telegram-cloud-photo-size-4-5974222367284639784-w](https://user-images.githubusercontent.com/588792

[2022-10-29 11:24] vikiival commented on #4205
This is issue that you made same tx twice

[2022-10-29 11:25] vikiival commented on #4169
ref https://github.com/kodadot/packages/issues/72

[2022-10-29 12:43] dudo50 commented on #4035
Hey @vikiival in order to securely transfer KSM token from Kusama to Basilisk or other way around, you can use `@paraspell/sdk`. Here is how to do it:
[code]
Once SDK is installed, you can import it and use it's functionality in screens you need.

[code]

[2022-10-29 13:10] Los commented on #4125
Okay guys, I think I've got a really good result, but, I have a few questions. Here's how it looks right now:

https://gyazo.com/0235eef90b48dbf4f54f70e9263f854f

1. About the icons, I am not being able to use mdi icons. Is there any secret that I should know about?
2. The behaviour looks good? Is there anything we can improve?

I should open the PR on monday :)

[2022-10-29 13:25] exezbcz commented on #4125
Is deploy preview somewhere, i see some minor issues here, i will write it down in the evening. Good job!

[2022-10-29 13:48] Los commented on #4125
It’s not deployed anywhere. Is there any guide to deploy it to some kind of staging environment?
________________________________
From: Exez ***@***.***>
Sent: Saturday, October 29, 2022 10:25:11 AM
To: kodadot/nft-gallery ***@***.***>
Cc: Lucas Souza ***@***.***>; Assign ***@***.***>
Subject: Re: [kodadot/nft-gallery] redesign neobrutalism of navbarV2 on mobile (Issue #4125)

Is deploy preview so

[2022-10-29 15:23] Jarsen136 commented on #4125
Looks great job!

Yes. If you raise a pull request to the master branch, your code will automatically deploy to preview env.

[2022-10-29 19:46] exezbcz commented on #4196
yup, we already have in landing page handoff figma
![image](https://user-images.githubusercontent.com/90852205/198849983-c4c8f5ac-acc3-4e50-b5ba-cac6bc7306ae.png)
components page
Can someone also change the search navbar on mobile? In current version of kodadot you dont have option to close it :D
![image](https://user-images.githubusercontent.com/90852205/198850054-b7461c5c-856a-4e47-b72b-2e72bdee

[2022-10-29 19:58] exezbcz commented on #4125
## changes
- text color here to black and the active button to true black, please

![image](https://user-images.githubusercontent.com/90852205/198850255-a977e818-d2ad-4516-ba55-ae09f34cbd42.png)
- disconnect account at the bottom should be in the section of the account, like this:
![image](https://user-images.githubusercontent.com/90852205/198850199-96df170d-a48e-4caa-b19c-7de5c91cc2e7.png)
- expl

[2022-10-29 22:49] prachi00 commented on #2638
@yangwao with the new design, I think this issue isn't valid anymore, so we can close this one?

[2022-10-29 23:13] prachi00 commented on #4015
@exezbcz do we have any notifications where we have button? As I only see this format without any buttons
![Screen Shot 2022-10-29 at 4 12 48 PM](https://user-images.githubusercontent.com/39299315/198855824-a18a6183-021b-4f45-a86f-7342b6d8f6d1.png)

[2022-10-29 23:18] prachi00 commented on #4015
Since we use https://buefy.org/documentation/notification
so I think the best we can do here is change the colors, adding button probably would not be possible and we would need to remove buefy to make custom notis, which would require changes in a lot of files.
Also, notifications have types like danger, info, success as you can see in buefy, are we going to use the same color for every case now?

[2022-10-29 23:30] prachi00 commented on #4144
@exezbcz so showing all and installed on top, but making the not installed wallet less visible seems okay right? can you let me know how to make it look less visible design wise?

[2022-10-29 23:40] prachi00 commented on #4144
or maybe we can add a divider with headings? like installed wallet and not installed wallet?

[2022-10-30 16:22] exezbcz commented on #4015
aand, the cross for close isnt button?

[2022-10-30 16:24] exezbcz commented on #4015
I haven't yet created this type, but I will give it some thought and get back to you.

[2022-10-30 16:45] exezbcz commented on #4144
makes sense, when user dont have any wallet installed, show them all - yup
Or maybe little dialog like: connect with one of supported wallets, supported wallets underlined and you can hover over it for more info.
I will try to come up with something better.

[2022-10-30 16:54] exezbcz commented on #4204
yup, here is quick redesign. Behavior of the button is same as button secondary, or social icons in the footer
![image](https://user-images.githubusercontent.com/90852205/198891024-8b873085-f3dd-4a88-851d-237dccba032a.png)
figma: components and prototypes: https://www.figma.com/file/3iOjW12ERFRDSVnpLuhQmf/landing-page-handoff?node-id=2995%3A3194

[2022-10-30 23:59] Jarsen136 commented on #4204
👋

[2022-10-31 05:18] prachi00 commented on #4144
sure let me know

[2022-10-31 05:19] prachi00 commented on #4015
okay can you just change the colours and font colours, because like I said since we use buefy, there isn't much customization we can do here

[2022-10-31 11:25] vikiival commented on #4169
Released
`npm notice 📦  @kodadot1/minipfs@0.1.1-rc.1`

[2022-10-31 11:31] vikiival commented on #2136
Soo since OG by @preschian was implemented and deployed:

ref impl: https://github.com/kodadot/workers/pull/12

![photo_2022-10-31 12 30 41](https://user-images.githubusercontent.com/22471030/198998148-31d1ff3c-52a1-41fd-8347-a363ff49a163.jpeg)

[2022-10-31 11:36] vikiival commented on #4058
https://kodadot.xyz/rmrk/gallery/15067511-7E982817A2D2575031-KDMN-KODAMONEY_002-0000000000000003

<img width="1082" alt="Screenshot 2022-10-31 at 12 33 52" src="https://user-images.githubusercontent.com/22471030/198998705-f56c772f-08e5-4219-95ac-2a88c968a986.png">

https://twitter.com/vikiival/status/1587045749451366400

[2022-10-31 11:37] vikiival commented on #4058
Looks like it is still an issue

[2022-10-31 11:49] vikiival opened #4211 "Introduce minting file limit"
### What happened?

An artist wanted to mint a file (it had 51MB) and the worker failed.

### Please reproduce in steps

- Open mint, fill and try to mint something really big

### Expected Behavior

- We should introduce both client and server protection and set max size for 20-30 MB

### Screenshots

![unknown-15](https://user-images.githubusercontent.com/22471030/199000865-ede61857-6650-45b4-b5

[2022-10-31 12:22] vikiival commented on #4058
WFM in incognito

<img width="588" alt="Screenshot 2022-10-31 at 13 22 18" src="https://user-images.githubusercontent.com/22471030/199006798-410e0e36-912c-4b5c-8177-c58053fcefbd.png">

[2022-10-31 20:16] exezbcz commented on #4185
![image](https://user-images.githubusercontent.com/90852205/199102098-b81042ef-1992-4531-921d-4c8dfddfb37f.png)
sometimes the page loads like this.

[2022-10-31 20:30] exezbcz opened #4213 "Add temporary network switch"
continue from #4185

How it works right now:

Collection card info - missing network
filter based on network, default is all networks
display collections from all networks

Lets add a temporary button for switching network until we complete the multichain features of the landing page.
![image](https://user-images.githubusercontent.com/90852205/199103440-63f6320c-101c-4e12-9574-f00870eca6d8.png)
Th

[2022-10-31 20:49] exezbcz commented on #4015
Well then, I don't think that's worth it. The colors look great as they do right now.

[2022-10-31 22:43] prachi00 commented on #4213
👋

[2022-10-31 23:56] Los commented on #4125
Addressed the comments @exezbcz, as soon as I open the PR, you can take a look on it.

Btw, I am not being able to push my changes into my branch, can you guys please check?

[code]

[2022-11-01 01:09] prachi00 commented on #4125
@Los can you check if your origin and upstream urls are correct?

<img width="569" alt="Screen Shot 2022-10-31 at 6 08 49 PM" src="https://user-images.githubusercontent.com/39299315/199136993-58c37309-c9ea-4bbc-aa19-5b9b1c31d623.png">

[2022-11-01 01:11] prachi00 commented on #4015
@yangwao @roiLeo what do you think?

[2022-11-01 05:10] Jarsen136 commented on #4125
---
Don't have access to push to the repository
You need to fork the repository, commit a change to your repository, and [create pull request](https://opensource.com/article/19/7/create-pull-request-github).
ref: https://github.com/kodadot/nft-gallery/blob/main/CONTRIBUTING.md#dont-have-access-to-push-to-the-repository
---

This guide would help. You could folk nft-gallery repository and then push

[2022-11-01 08:03] Julissa0001 opened #4215 "Wrong Token Ticker"
### What happened?

**Wrong Token Ticker.** When I add an NFT for sale (or change the price/relist) the platform asks me to enter the price for it in KSM. And it displays the price for the buyer in the same quantity, but in BSX.

### Please reproduce in steps

List or Relist > enter the new price > the KSM ticker is displayed for me
![nTOzNEe](https://user-images.githubusercontent.com/115104650/19

[2022-11-01 10:32] gigor commented on #4153
:wave:

[2022-11-01 10:40] Julissa0001 commented on #4215
I'm confused. So what is the correct price? In BSX or in KSM?
![ksm](https://user-images.githubusercontent.com/115104650/199215507-708cf640-4cbf-4e66-a631-4b73c33145bc.png)
![bsx](https://user-images.githubusercontent.com/115104650/199215512-5e78efb9-1fc0-4a4b-8752-6e5f396bf17f.png)

[2022-11-01 14:06] #4193 closed

[2022-11-01 14:14] yangwao commented on #4169
Can we finally have a proper fix now ? 😬

## Ref
- https://github.com/kodadot/nft-gallery/pull/4214

[2022-11-01 14:25] #4204 closed

[2022-11-01 14:44] yangwao commented on #4215
hey, can you check on https://beta.kodadot.xyz if you still have this issue?
On beta version, we have recent fixes which weren't pushed on production. I've made a recent push to production, so some of them should be there as well! :)

I guess it was recently fixed in
- https://github.com/kodadot/nft-gallery/pull/4210
- https://github.com/kodadot/nft-gallery/pull/4209

[2022-11-01 15:00] Julissa0001 commented on #4215
Hey! Yes, some of the problems have indeed been solved, the new version will correctly display the ticker floor and in the history. But still the wrong ticker is displayed if you select the "buy now" option  - BSX instead of KSM
![buy now still has problem](https://user-images.githubusercontent.com/115104650/199264823-1247e066-0454-40f3-879f-ecc413b7a462.png)

[2022-11-01 15:08] Jarsen136 commented on #4215
👋
I will check this.

[2022-11-01 16:08] yangwao commented on #4111
Hey, I guess starting at least giving a layout so others can start working on that would be doable; I've chatted quickly with @preschian & @Jarsen136.

I guess starting with some section per issue would be great.

I or @preschian can create issues, and let's go from here :)

[2022-11-01 16:35] yangwao commented on #4172
https://beta.kodadot.xyz/bsx/gallery/3715754953-25?page=1

<img width="184" alt="image" src="https://user-images.githubusercontent.com/5887929/199286924-c9cb2f12-74d6-4a62-bd73-e84d6bbd2372.png">

[2022-11-01 16:38] yangwao opened #4219 "Subscribe in footer overflows on tablet width"
https://beta.kodadot.xyz/bsx/u/bXjTmJPZCjeix1vXLBfBA9jP9ppLFcvtcKPv7qfvhDTAWV3q7?page=2

<img width="448" alt="image" src="https://user-images.githubusercontent.com/5887929/199287630-c3b15435-d890-440a-8421-95466d7c7f6e.png">

[2022-11-01 16:40] #4215 closed

[2022-11-01 16:42] yangwao commented on #4215
bot is now paying in ksm so let's see if it would work
pay 30

[2022-11-01 16:43] yangwao commented on #4215
😍 Perfect, I’ve sent the payout
💵 $30 @ 33.96 USD/KSM ~ 0.883 $KSM
🧗 [bXismpoTnigDrWfCGbHdp21gjECttbXPM6aQjo1a664LsFgGj](https://kusama.subscan.io/account/bXismpoTnigDrWfCGbHdp21gjECttbXPM6aQjo1a664LsFgGj)
🔗 [0x95b2b97e9a75a9501560b4a2cff458891c02ee03d2c31db2962fe8f9820db8d3](https://kusama.subscan.io/extrinsic/0x95b2b97e9a75a9501560b4a2cff458891c02ee03d2c31db2962fe8f9820db8d3)

🪅 Let’s grab anoth

[2022-11-01 16:51] Julissa0001 commented on #4215
Well received, many thanks! :)

[2022-11-01 17:08] prachi00 commented on #4219
👋

[2022-11-01 17:46] vikiival commented on #4119
https://github.com/kodadot/nft-gallery/issues/4035

@yangwao maybe lets close the other XCM related issues?

[2022-11-01 18:54] JustLuuuu opened #4221 "Artist has a problem with minting"
### What happened?

Problem with minting process. NFT did not load.

### Please reproduce in steps

After minting an NFt on RMRK, it did not mint. Weird notification - check screenshot.

Minting from this address: EF9zLDJj2cvMpUBwd4EeloPQHeEofKAl
Ro8XLKPP9V7dTZn

### Expected Behavior

loading minted NFT

### What browsers are you seeing the problem on?

Safari

### At which address did you encoun

[2022-11-02 03:59] prachi00 commented on #4213
@exezbcz what are the hover states?
Also, are we going to remove it form explore now?

[2022-11-02 07:57] exezbcz commented on #4213
hover - same as dropdowns when clicking/hovering on profile.

no, we are not going to remove it, it should redirect you to kodadot/network/explore(collecitons), like it was originally intended.

Thanks!

[2022-11-02 08:07] roiLeo commented on #4015
IMO this is related with #4121

We need notification system design, not necessarily the same colours since everything is customizable, but I'll keep:
- green or primary for success
- orange/yellow for warning
- red for error
- blue for info

Since the "Update new version" is not really a notification but a uniq component I have no problem with a different design.

Remember that we can use differen

[2022-11-02 09:33] roiLeo commented on #1017
![Capture d’écran 2022-11-02 à 10 12 52 AM](https://user-images.githubusercontent.com/9987732/199454830-7f77055f-93f1-4afd-a847-b773669df13d.png)

Closing this for https://github.com/kodadot/nft-gallery/issues/2136#issuecomment-1296541256

[2022-11-02 09:33] #1017 closed

[2022-11-02 10:40] vikiival commented on #4221
Is there any wallet on safari?

[2022-11-02 13:24] roiLeo opened #4225 "GalleryItem Chart wrong y axis label scale"
Tested on `/rmrk/gallery/9691296-b2ed7a9394517e712d-EBY6M-YG-0000000000000040`

![Screenshot 2022-11-02 at 14-19-29 Y G  KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/199500316-f1bf2d58-8ee8-4d06-aa43-ab50b88da386.png)

![Screenshot 2022-11-02 at 14-21-59 Y G  KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/199500471

[2022-11-02 13:55] Jarsen136 commented on #4225
👋

[2022-11-02 14:03] #4219 closed, assigned to nobody

[2022-11-02 14:15] yangwao opened #4226 "Update featured articles with new articles on landing"
The update featured articles on the landing page with new ones.

- https://kodadot.substack.com/p/a-few-words-about-dotbrno-and-ethbrno
- https://kodadot.substack.com/p/ride-on-art-4-keith
- https://kodadot.substack.com/p/ride-on-art-2-hookernft

[2022-11-02 14:16] #4153 closed

[2022-11-02 14:18] Jarsen136 commented on #4226
👋

[2022-11-02 14:19] yangwao commented on #4221
Related
https://docs.kodadot.xyz/tutorials/how-to-fix-error-keypair.html

[2022-11-02 14:21] yangwao commented on #4221
Enkrypt apparently?

https://www.reddit.com/r/Polkadot/comments/xvizuv/enkrypt_launches_on_safari_the_first_web3_wallet/

[2022-11-02 14:36] preschian opened #4228 "redesign: Media Component (histoire-able)"
description: https://github.com/kodadot/nft-gallery/issues/4111#media-section

[2022-11-02 14:37] preschian opened #4229 "redesign: Item and Collection name section"
requirements: https://github.com/kodadot/nft-gallery/issues/4111#item-section

[2022-11-02 14:37] preschian opened #4230 "redesign: Dropdown/misc actions"
requirements: https://github.com/kodadot/nft-gallery/issues/4111#misc-section

[2022-11-02 14:37] preschian opened #4231 "Redesign: Button action and Price section"
requirements: https://github.com/kodadot/nft-gallery/issues/4111#actions-section

## Figma

- [Design File](https://www.figma.com/file/gHSzqGPeQ9qK4L0qIDcTjY/gallery-item-handoff?node-id=1270%3A5615)

From issue:
## <a href="#actions-section" id="actions-section">Actions Buy & Offer</a>
![image](https://user-images.githubusercontent.com/5887929/195137794-d7d6bee6-e2ec-47f2-b2a6-973c727d7608.png)

[2022-11-02 14:37] preschian opened #4232 "redesign: Tabs Component + Properties/Description/Details"
requirements:
- https://github.com/kodadot/nft-gallery/issues/4111#properties-section
- https://github.com/kodadot/nft-gallery/issues/4111#description-section
- https://github.com/kodadot/nft-gallery/issues/4111#details-section

[2022-11-02 14:37] preschian opened #4233 "redesign: Offers section"
requirements: https://github.com/kodadot/nft-gallery/issues/4111#offers-section

## <a href="#offers-section" id="offers-section">Offers</a>
![image](https://user-images.githubusercontent.com/5887929/195137148-ba291855-4978-40d7-a07e-c4e0497826ec.png)
This would actually work only on Basilisk, as there support for offers.
We will show all offers on particular NFT.
Columns like we have in current o

[2022-11-02 14:37] preschian opened #4234 "redesign: Item Activity section"
requirements: https://github.com/kodadot/nft-gallery/issues/4111#activity-section

## <a href="#activity-section" id="activity-section">Item Activity</a>
![image](https://user-images.githubusercontent.com/5887929/195137490-44d1ca1e-668a-4e85-8456-00c11bddf315.png)
An important one, it's coming.
Instead of dropdown, we plan to have selecting boxes, where multi-checkbox is possible. So for example y

[2022-11-02 14:37] preschian opened #4235 "redesign: Chart Component and Tabs section"
requirements: https://github.com/kodadot/nft-gallery/issues/4111#chart-section

[2022-11-02 15:41] JustLuuuu opened #4237 "Identity creation fail"
### What happened?

Not possible to ceate identity

### Please reproduce in steps

Getting error after filling required info

### Expected Behavior

Creating identity without errors 😄

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

kodadot.xyz

### Are you logged in?

Yes

### Which wallet you are using?

PolkadotJS

### At which chain did yo

[2022-11-02 15:52] #4226 closed

[2022-11-02 15:53] roiLeo commented on #3584
I'm not able to `withdrawOffer` when I'm the nft creator & the offer has expired or is valid.

how to make it happen?

[2022-11-02 16:01] Jarsen136 commented on #4235
👋

[2022-11-02 16:01] Jarsen136 commented on #4229
👋

[2022-11-02 16:07] #4225 closed

[2022-11-02 16:21] roiLeo opened #4239 "Withdraw offers as token owner"
### Is your feature request related to a problem?

I can't withdraw offers from nfts I own/created

### Describe the solution you would like

I would like to be able to withdraw offers from my created nft

### Describe alternatives you have considered

- link [BSX pallet](https://github.com/galacticcouncil/Basilisk-node/blob/1a99f620661d5d6acff9e2f23fcc4e4f8c24fdc3/pallets/marketplace/src/lib.rs#L

[2022-11-02 17:05] prachi00 commented on #4231
👋

[2022-11-02 18:05] exezbcz commented on #4185
can someone pickup the navbar on scroll, if there isnt already pr created, please? Its I think the last major thing on the landing page. Mby @preschian @prachi00
thanks!

[2022-11-02 18:12] prachi00 commented on #4185
sure I can do it, do we already have a ticket for it? If not, can you let me know what is to be done, I am not aware

[2022-11-02 18:18] exezbcz commented on #4185
## Navbar
- navbar on scroll, if you scroll outside of the navbar section in the hero range, should look like this:
![image](https://user-images.githubusercontent.com/90852205/198366927-5f6b9d6e-3685-4cd2-a601-c2dfc21b5012.png)
- it should also have white fill.
![image](https://user-images.githubusercontent.com/90852205/198367381-f3d01736-620b-461f-8c30-ad47f2cb5749.png)
summary:
1) remove blur bg

[2022-11-02 18:25] prachi00 opened #4241 "Redesign: Navbar on scroll updates"
## Navbar
- navbar on scroll, if you scroll outside of the navbar section in the hero range, should look like this:
![image](https://user-images.githubusercontent.com/90852205/198366927-5f6b9d6e-3685-4cd2-a601-c2dfc21b5012.png)
- it should also have white fill.
![image](https://user-images.githubusercontent.com/90852205/198367381-f3d01736-620b-461f-8c30-ad47f2cb5749.png)
summary:
1) remove blur bg

[2022-11-03 02:27] prachi00 commented on #4117
@exezbcz @yangwao is this something that is ready to pick up?

[2022-11-03 02:29] prachi00 commented on #4015
but isnt this for all the notifications/snackbars we have? so how do we add a button there since we dont have it in buefy?

[2022-11-03 02:48] prachi00 opened #4244 "Redesign: Dark mode leftovers"
# Dark mode feedback
## Graphics
![image](https://user-images.githubusercontent.com/90852205/199102098-b81042ef-1992-4531-921d-4c8dfddfb37f.png)
sometimes the page loads like this.

## Navbar
please remove the hover bg on the nav links:
![image](https://user-images.githubusercontent.com/90852205/199102303-2aa0020a-843e-4774-bbe6-4eb0281d29bc.png)
and also same as the nav links in white mode, they

[2022-11-03 05:45] vikiival commented on #3584
Back then I made a check that owner should note make offer to its own NFT 🥲. It should be actually an easy fix in the OfferTable

[2022-11-03 07:48] roiLeo commented on #4015
This issue is refering to update "New version" toast, global notifications design can be done another time

[2022-11-03 08:57] exezbcz commented on #4117
Hey, not yet, i will ping you once its ready

[2022-11-03 11:02] Jarsen136 commented on #4235
That's a good idea. I will give it a shot.

[2022-11-03 20:30] exezbcz opened #4247 "search results popup not visible"
![image](https://user-images.githubusercontent.com/90852205/199827788-b75397d2-577e-4b5d-a89c-425b161bce3b.png)
its same on the dark mode.
I guess something with z-index?

[2022-11-03 20:37] prachi00 commented on #4247
👋

[2022-11-03 22:04] shashkovdanil commented on #4196
👋

[2022-11-04 01:34] prachi00 commented on #4015
yeah but the new version thing is also a buefy `notification` currently right?
<img width="636" alt="Screen Shot 2022-11-03 at 6 34 09 PM" src="https://user-images.githubusercontent.com/39299315/199866223-9e3de1df-97c4-4328-be56-2e401c7e6f07.png">

[2022-11-04 07:26] roiLeo commented on #4015
you can still change the component ([Dialog](https://buefy.org/documentation/dialog) could be suitable) and adapt with custom css class

[2022-11-04 07:32] roiLeo commented on #4059
We might need to remove `floorPrice_isNull: false` filter for now ref https://github.com/kodadot/snek/pull/116#issue-1433211484

[2022-11-04 09:01] roiLeo commented on #3654
Since we would like to add data on Offers should this go on a new route? (/bsx/series-insight) or on same page? (/series-insight)

[2022-11-04 11:19] roiLeo opened #4251 "minting on snek not displaying nft"
#### What happened

I've mint a new nft on BSX (Rococo) and it won't display after I'm redirected
Brought same nft with another wallet account, it worked nft owner changed but still don't have collection name nor creator

Tested on `/snek/gallery/331660682-4`

- ✅ mint
- ✅ buy success
- 🟥 return `null` on nftEntitybyId

#### Relevant log

[code]
[code]

[2022-11-04 11:51] yangwao opened #4252 "Redesign congrats message after mint"
Yes I was thinking same!

Once @exezbcz drops new design we can put this into work

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/pull/4250#issuecomment-1303317396_

[2022-11-04 13:14] JustLuuuu opened #4254 "Small visual details for consideration"
### Is your feature request related to a problem?

Not related to any problem, just minor details to consider.
kodadot.xyz:
- blurry logo
- too much text?

![image](https://user-images.githubusercontent.com/104380776/199978470-07671a63-9c81-459e-a75a-8d066646facf.png)

### Describe the solution you would like

First, **the logo** on the top-left corner of our webpage seems blurry and in bad qualit

[2022-11-04 14:33] yangwao commented on #4254
Try logging in and logging out in your wallet, seems your browser has an old version; this is from kodadot.xyz

![image](https://user-images.githubusercontent.com/5887929/200000468-6227cbd6-dfc7-46ea-b647-533e7b6d2e86.png)

With logo, yeah having svg version would be best I guess, or putting back that one with Koda

[2022-11-04 14:40] #4247 closed

[2022-11-04 14:51] #4059 closed

[2022-11-04 15:05] #4213 closed

[2022-11-04 15:09] yangwao commented on #4185
Is there anything left from this issue to make?

[2022-11-04 15:11] yangwao commented on #4090
Is there anything left in this issue that needs to be done?

[2022-11-04 16:45] shashkovdanil opened #4255 "A new Connect popup opens with every click"
### What happened?

If you click on the `Connect` button in the header, a new popup will open on each click

### Please reproduce in steps

1. Press the `Connect` button in the header several times

### Expected Behavior

If the popup is already open, it should close

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

beta.kodadot.xyz, kodadot.xy

[2022-11-04 18:18] exezbcz commented on #4252
heh. messing with assigning, but yeah, i will make that :D

[2022-11-04 18:32] exezbcz commented on #4090
Other than the data on the collection cards, it's finished.

[2022-11-05 02:44] Jarsen136 commented on #4255
👋

[2022-11-05 11:24] #4255 closed

[2022-11-05 11:24] #4241 closed

[2022-11-05 11:29] yangwao commented on #4172
it's "back" weird
![image](https://user-images.githubusercontent.com/5887929/200117624-a4d483d5-0547-45db-921a-7fab996d6fca.png)

[2022-11-05 11:30] #4172 closed

[2022-11-05 11:47] yangwao opened #4257 "Multi chain search hack"
Right now, we are missing essential parts to being more multi-chain robust.
Briefly chatted with Viki that we will have a cheap hack to aggregate results from other chains for search, for example

Current results show only one chain.

I guess we would leverage this on top collections too.
![image](https://user-images.githubusercontent.com/5887929/200118135-196b6fce-19d6-418b-b9a6-a0b402a4beca.png)

[2022-11-05 11:47] yangwao opened #4258 "Spotlight shrinks sometimes on landing"
Sometimes on landing, I got this
![telegram-cloud-photo-size-4-5994599397238881155-y](https://user-images.githubusercontent.com/5887929/200117983-d7c6c553-2fcc-4472-bd39-8824bb7456cd.jpg)

[2022-11-05 11:51] yangwao opened #4259 "Rankings & See All in search bar outside of landing page doesn't follow design"
"Rankings -->" & See All -->" don't follow the design like is on the landing page

![image](https://user-images.githubusercontent.com/5887929/200118421-a47b0f5a-b498-4476-ae6f-0861836e151e.png)

![image](https://user-images.githubusercontent.com/5887929/200118436-17aa6449-85ad-4277-88a3-a10cc72ed9c3.png)

how it should look like, same for See All

![image](https://user-images.githubusercontent.com

[2022-11-05 12:12] yangwao opened #4260 "Dark mode explore leftover Two"
I experience it frequently. Whenever I open the deploy preview, for instance. Another instance is when you switch to dark mode, open several tabs (such as explore and create), and then come back to the homepage.

tweet from clairee: https://twitter.com/De_luneClaire/status/1587457504895983617?s=20&t=n9oKEORCzlXOrWiLshyyJg
- the bug is there aswell

_Originally posted by @exezbcz in https://github.

[2022-11-05 12:13] yangwao commented on #4260
Demonstration video https://github.com/kodadot/nft-gallery/pull/4245#issuecomment-1304527408

Plus logo for the dark version is not there, but happens only once per while, not always I can replicate it.

[2022-11-05 12:14] #4244 closed

[2022-11-05 12:24] yangwao opened #4262 "Redesign Loading screen"
Time to redesign our most precious component, which people often see.
Especially if waiting for a transaction, indexer is down, some glitch happened on our backend or loading of the profile, collection,gallery, items, or explorer takes a while
### Old
![image](https://user-images.githubusercontent.com/5887929/200119577-fcf15e7f-2792-46c1-9e2b-ed2ddbab1a85.png)

### New
![image](https://user-images

[2022-11-05 12:29] yangwao commented on #4258
Screen size is width of screenshot 1:1 if that helps, happens on both light & dark

![image](https://user-images.githubusercontent.com/5887929/200119914-4afbd04b-dcf1-4346-8386-1ccd4f7f158c.png)

[2022-11-05 12:32] yangwao commented on #4196
Issue is still up for grab 👀

[2022-11-05 12:48] yangwao opened #4263 "Redesign: Top collection data on landing leftovers"
## Top collections
- On the bigger screens, there are 3 columns next to each other of top/trending collection cards.
![image](https://user-images.githubusercontent.com/90852205/194553600-4ed211e7-035c-47fb-80bb-8eb957febc65.png)
- In the design, there are only 2.
- content inside card:
![image](https://user-images.githubusercontent.com/90852205/194553736-0dafad53-e8b2-4c1b-9681-746695c64d0a.png)
n

[2022-11-05 12:48] yangwao commented on #4090
- #4263

<img src="https://media1.giphy.com/media/65WGIINB4VfA1JuXCH/giphy.gif"/>

[2022-11-05 12:48] #4090 closed

[2022-11-05 12:49] yangwao commented on #4185
Continue
- #4263

<img src="https://media1.giphy.com/media/65WGIINB4VfA1JuXCH/giphy.gif"/>

[2022-11-05 12:49] #4185 closed

[2022-11-05 13:02] vikiival commented on #4169
cc @preschian ?

[2022-11-05 13:11] yangwao opened #4264 "Top collection data volume and % change"
On landing, we need to add to component for RMRK & Basilisk

Make it future-comptabile for time-frame filter, right now we will make it fixed for 30d values

- total volume in KSM
- denomination in USD (we have coingecko price stored in Vuex iirc)
- % change

How it should look like

![image](https://user-images.githubusercontent.com/5887929/200121293-133b765f-53d2-4679-bc8b-a3ef31c4330e.png)

Rig

[2022-11-05 13:13] yangwao opened #4265 "Add floor to top collections on landing"
Missing Floor on Basilisk currently.

![image](https://user-images.githubusercontent.com/5887929/200121622-1e13adee-be81-421d-bc0e-c21e2c79fb58.png)

[2022-11-05 13:17] yangwao opened #4266 "Time based filter for top collections"
Make for RMRK and Basilisk time-filtered data based on these dates

Blocker
- #4264

![telegram-cloud-document-4-5994599396782640409](https://user-images.githubusercontent.com/5887929/200121773-7c265603-ddeb-4b27-a351-4bcd10e63f4e.jpg)

[2022-11-05 13:28] yangwao commented on #3587
Is this still thing?

[2022-11-05 13:47] exezbcz opened #4267 "network under the search bar"
## Design
- It should not indicate what network you are on.
- It has the same purpose as collection hover.
- Look should be a bit different:
![image](https://user-images.githubusercontent.com/90852205/200122873-7b3c1596-84cc-4fb3-bd3e-05a15890dc02.png)
- networks in a grey text are "soon" not clickable.
- Active networks, those that you can click on are bold with different hover effect. Its in the

[2022-11-05 14:01] yangwao opened #4268 "Add skeleton for explorer gallery and collections"
I know we have some sort of skeleton for explorer, but it does not always show up.

Add a skeleton for 2-3 rows until the client receives data from the indexer.

![image](https://user-images.githubusercontent.com/5887929/200123606-b368812e-84cd-4932-b988-fd596c10cc58.png)

[2022-11-05 15:45] Jarsen136 commented on #4260
👋

[2022-11-05 16:10] Jarsen136 commented on #4259
👋

[2022-11-05 16:22] Jarsen136 commented on #3587
I could not reproduce this bug now on https://beta.kodadot.xyz/. Let's close it.

[2022-11-05 16:22] #3587 closed

[2022-11-05 18:43] exezbcz commented on #4267
also the redirect in the explore hover redirects wrong, please, dont change that. When you click on the network the destination is explore/network/collection. Same as the selection under search bar.

[2022-11-05 19:55] exezbcz commented on #4262
updated

[2022-11-05 22:01] prachi00 commented on #4262
👋

[2022-11-05 22:02] prachi00 commented on #4267
👋

[2022-11-06 00:23] prachi00 opened #4271 "Adding change account button"
maybe we can just add change account btn for now?

_Originally posted by @prachi00 in https://github.com/kodadot/nft-gallery/issues/4222#issuecomment-1302838129_

[2022-11-06 00:57] prachi00 commented on #4271
![Screen Shot 2022-11-05 at 5 57 16 PM](https://user-images.githubusercontent.com/39299315/200149037-f6c6d96a-78e3-4369-8982-6dda941f3437.png)

added it here for now @roiLeo @exezbcz

[2022-11-06 01:45] prachi00 commented on #4262
![Screen Shot 2022-11-05 at 6 45 08 PM](https://user-images.githubusercontent.com/39299315/200150238-9fa0f95e-a3f2-4b5c-9986-4029f0079990.png)
@exezbcz font size of 12px for description is looking very small

[2022-11-06 11:31] spacesmutje opened #4273 "Can't make an offer below the listing price"
### What happened?

I wanted to make an offer for an NFT on Basilisk.

### Please reproduce in steps

go to: https://kodadot.xyz/bsx/gallery/2349262476-8
presets: not enough funds for this NFT (0.5 KSM) in the wallet
click on: make offer

### Expected Behavior

I wanted to make an offer below the listing price.

### What browsers are you seeing the problem on?

Chrome

### At which address did you

[2022-11-06 14:14] #4259 closed

[2022-11-06 14:41] #4260 closed

[2022-11-06 14:42] yangwao commented on #4271
Probably making them even would looks much nicer.
@exezbcz can drop some design on this

[2022-11-06 14:56] exezbcz commented on #4262
yup we can make it 20px the heading and 16px text - in figma its text-semilarge, 16px - textbutton
i will update the figma.

[2022-11-06 15:15] exezbcz commented on #4271
How about that? there should be add funds button instead of the change account, it will still do the job
![image](https://user-images.githubusercontent.com/90852205/200178960-70f59322-7611-413e-af84-f9db8cda0685.png)
also the whole container should be wider

[2022-11-06 15:17] yangwao commented on #4273
can you try it on https://beta.kodadot.xyz/bsx/gallery/2349262476-8 ? if it's same?

[2022-11-06 15:22] yangwao commented on #4273
I've just made an test offer at https://beta.kodadot.xyz/bsx/gallery/2608295324-6

![image](https://user-images.githubusercontent.com/5887929/200179321-0f0e6bc0-585b-4dc8-b33e-77d6b47e511a.png)

Can you try with error logs in your console?

[2022-11-06 16:34] yangwao commented on #4144
Suggestion from my crappy art garage while having call w @exezbcz

![image](https://user-images.githubusercontent.com/5887929/200182803-e6bb5433-1a7f-438b-a703-8fc00334c214.png)

![image](https://user-images.githubusercontent.com/5887929/200182814-97103f18-99eb-4746-a39d-2d872ebc4b2b.png)

[2022-11-06 16:48] yangwao opened #4274 "Broken centering on landing page on mobile at less than 1023px"
Seems it's broken centering between 669px and 1023px

![image](https://user-images.githubusercontent.com/5887929/200183179-eced44a7-a07a-465f-9ff4-6db909448bbd.png)

and mobile over 1024px is broken can't see whole navbar

![image](https://user-images.githubusercontent.com/5887929/200183378-6160cce9-5948-429c-ba35-624bab4cb9fe.png)

overflowing on mobile

![image](https://user-images.githubusercon

[2022-11-06 17:12] yangwao opened #4275 "Multichain Spotlight"
We are currently showing Spotlight per chain, as our original design intent was to have this multichain.

For that to happen, we will have a multi-chain indexer, which will make it possible
- #4257

Once the upper issue is resolved, we can update Spotlight to show multichain resources ^

Currently showing like this
- per Basilisk
![image](https://user-images.githubusercontent.com/5887929/200184670

[2022-11-06 17:15] yangwao commented on #4106
Mean skeleton?

[2022-11-06 19:21] exezbcz opened #4276 "Landing page visual change"
Hey, after some time, I am here with fresh designs for landing pages. I think it's not a very big change from the code perspective, but definitely from the visual one.
![image](https://user-images.githubusercontent.com/90852205/200190199-8e764aa2-5413-4d6b-ae8d-5ea8dea646f4.png)

The question is, how do you want to export it? It's basically a blurred shape with a noise texture on top. Is there any

[2022-11-06 20:53] exezbcz commented on #4117
hey @prachi00 here are the designs
- nft hover card tbd
![image](https://user-images.githubusercontent.com/90852205/200194560-844653fd-d5b7-44cd-8c4f-f954eb19b4c0.png)
figma: landing page handoff

[2022-11-06 22:14] prachi00 commented on #4276
👋

[2022-11-06 22:15] prachi00 commented on #4276
@exezbcz I think just providing the white outlined svg should work

[2022-11-06 22:17] prachi00 commented on #4271
@exezbcz can we add change account new design in figma?

[2022-11-06 22:41] prachi00 commented on #4144
so what is the final verdict 1 or 2?

[2022-11-06 23:01] prachi00 commented on #4271
I'll update this

[2022-11-06 23:17] prachi00 commented on #4274
👋

[2022-11-06 23:34] prachi00 commented on #4258
not able to reproduce this one

[2022-11-07 05:08] prachi00 commented on #4015
@roiLeo @yangwao One thing I don't understand about this is why we say 'close to upgrade', like isn't the user already upgraded? Its not like if they don't close, they wont upgrade?
<img width="509" alt="Screen Shot 2022-11-06 at 9 07 44 PM" src="https://user-images.githubusercontent.com/39299315/200230783-49b841b1-aa73-4e8f-9093-394fa495dc20.png">

[2022-11-07 07:37] roiLeo commented on #4144
New variant could tell to install instead connect
![Screenshot 2022-11-04 at 15-25-24 Polkapad - HMC Launchpad](https://user-images.githubusercontent.com/9987732/200252098-2257914f-bf8b-4043-996c-2b95d5776675.png)

[2022-11-07 07:43] roiLeo commented on #4015
Yes, take a look at https://github.com/kodadot/nft-gallery/blob/8761903fe507029066a2a1967fbe92b0bba3031e/plugins/pwa.ts#L31-L33 there is a hook on close to clear/flush session storage for cache utility

[2022-11-07 08:12] roiLeo commented on #4265
related with kodadot/snek#116

This is not really the floor price that is displaying on TopCollection component

[2022-11-07 08:32] RyGithubQ opened #4280 "i have enough fund but it's always rejected "error balance is not sufficient""
### What happened?

 I've tried to mint in kodadot several times but it always failed. It says "insufficient balance" eventhough there's enough balance on the wallet.
 I'm using KSM & i've already explored koda in rmrk.
I've reinstalled Google Chrome & the problem still persist

My internet connection is stable. It's 7.48 mbps download & 6.51 mbps upload
Is this perhaps caused by blocked connectio

[2022-11-07 09:53] exezbcz commented on #4276
yup, but i mean the blurred shapes. It is important that the shapes look accurate

[2022-11-07 10:25] roiLeo commented on #4115
closed by #4249

[2022-11-07 10:25] #4115 closed

[2022-11-07 11:49] yangwao commented on #4143
Agree, as we will be changing it soon in the future, one for every view would be enough I guess :)

[2022-11-07 12:23] yangwao commented on #4280
can you please drop transaction hash, best subscan link?

[2022-11-07 13:29] roiLeo commented on #4106
![276](https://user-images.githubusercontent.com/9987732/200322474-facec287-51c8-4bcd-9fed-5e8ad57f9532.gif)

[2022-11-07 20:07] #4258 closed

[2022-11-07 20:08] #4106 closed

[2022-11-07 20:24] yangwao opened #4283 "While searching from navbar, it put search over top of collection"
I guess it should not happen as it searches in name of NFT within collection and then user sees empty collection.

Probably global navbar searchbar shares search input state with collection searchbar?

https://user-images.githubusercontent.com/5887929/200407762-cdcee868-431b-424d-8575-fddbff87e478.mov

[2022-11-07 20:27] yangwao opened #4284 "Trending collections on Basilisk"
I guess same as we have on RMRK we are missing for Basilisk.

It should be done landing page searchbar and navbar searchbar

![image](https://user-images.githubusercontent.com/5887929/200408406-157ecdf3-e0c2-4ea9-bcc4-7ac797aa3d59.png)

[2022-11-07 20:52] prachi00 commented on #4283
👋

[2022-11-08 02:18] daiagi commented on #3273
:wave:

[2022-11-08 07:25] #4262 closed

[2022-11-08 08:26] RyGithubQ commented on #4280
https://kusama.subscan.io/extrinsic/15138864-2

[2022-11-08 08:34] roiLeo commented on #4229
👋

[2022-11-08 12:54] JustLuuuu opened #4286 "Join our community: adding Reddit link"
### Is your feature request related to a problem?

Since we are more active on Reddit, I would consider adding a Reddit link (https://www.reddit.com/r/KodaDot/) here:
![image](https://user-images.githubusercontent.com/104380776/200569607-27677b27-dbb7-4c43-9764-73768484b3f9.png).

### Describe the solution you would like

Add new icon

### Describe alternatives you have considered

-

### Screensh

[2022-11-08 13:45] yangwao commented on #4035
Hey, @Jarsen136 can you maybe pick up this?

[2022-11-08 14:26] Jarsen136 commented on #4035
OK, I would do some research and give it a shot.

[2022-11-08 14:27] Jarsen136 commented on #4035
👋

[2022-11-08 14:36] yangwao opened #4287 "Metaverse Championship hacker bounties"
We are attending Metaverse Championship with KodaDot team and we are pretty excited to be there!

We want to get to know **hackers like you** to help us **make KodaDot a much better experience for creators** and grow **KodaDot ecosystem together where you can be an essential part.**

## Brief
These issues would be best hacked during hackathon. Their complexity varies from easy ones to long-term ch

[2022-11-08 18:11] prachi00 commented on #4286
👋

[2022-11-08 20:58] spacesmutje commented on #4273
![Screenshot 2022-11-08 21 57 55](https://user-images.githubusercontent.com/106772187/200673914-e36284e4-9540-41df-8519-ffd32e783da1.png)
![Screenshot 2022-11-08 21 55 49](https://user-images.githubusercontent.com/106772187/200673918-add6b29b-7a70-4adb-be07-f1c4cf66029d.png)
@yangwao same issue on beta

[2022-11-09 02:33] Julissa0001 opened #4288 "Wrong ticker on the user's page"
### What happened?

The main and beta versions have the wrong currency - BSX instead of KSM

### Please reproduce in steps

You have to go to any buyers, for example, here:
 https://beta.kodadot.xyz/bsx/u/bXkaQPkcaNytoF6rAg5nbmrMy5wWGZrykUMGD39yqxvzivRTr?tab=offers&page=1
 and then click on the "offers made" tab.
 In addition, you can also see the wrong currency in the profile header.

### Expecte

[2022-11-09 03:57] KngZhi commented on #4264
👋

[2022-11-09 04:31] prachi00 commented on #4283
so do we expect at all to update the url when this search updates?
![Screen Shot 2022-11-08 at 8 30 53 PM](https://user-images.githubusercontent.com/39299315/200739044-bf184183-4fb1-425d-84d6-cccbaaec1cad.png)

[2022-11-09 04:33] prachi00 commented on #4276
@exezbcz can you provide the svgs?

[2022-11-09 05:59] #4274 closed

[2022-11-09 08:03] #4286 closed

[2022-11-09 09:46] nevermin9 commented on #4284
👋

[2022-11-09 11:54] nevermin9 commented on #4283
:wave

[2022-11-09 11:54] nevermin9 commented on #4283
👋

[2022-11-09 14:20] #4284 closed

[2022-11-09 14:36] nevermin9 commented on #4283
Hey, guys
@yangwao
**I think, we need to define a list, where query in the url are used for search purposes.**
I found bug on Gallery tab as well. After search bar in Navigation blur, hidden search bar in Gallery reacts on query change.
IMO Search & SearchCollection component too smart and do specific thing - changes $route. It is a lot for such a component, that defined in a bunch of other compon

[2022-11-09 14:37] preschian opened #4294 "feat: read mime-type in the dropzone"
since it already works on Firefox (and chrome with extension detection), I think we can go with this first

Let's open a new issue to read the file by mime type instead of extension

_Originally posted by @preschian in https://github.com/kodadot/nft-gallery/pull/4290#discussion_r1018017835_

[2022-11-09 15:14] nevermin9 commented on #4268
👋

[2022-11-09 17:04] vikiival commented on #4294
Joke is it returns `undefined` :)

[2022-11-09 17:05] yangwao opened #4296 "Differentiate minting between RMRK and Basilisk"
Right now I sense we had few issues where people though they're minting on Basilisk and turns out they minted on RMRK

We will be creating network selector for minting with network names and network logo. Once people click on that will land them to particular network minter.

- /bsx/create
- /rmrk/create

Will chat with @exezbcz and deliver designs

Once designs are around, someone can take it.

[2022-11-10 08:04] #3273 closed

[2022-11-10 08:47] yangwao commented on #4288
pay 30

[2022-11-10 08:47] yangwao commented on #4288
😍 Perfect, I’ve sent the payout
💵 $30 @ 27.05 USD/KSM ~ 1.109 $KSM
🧗 [bXismpoTnigDrWfCGbHdp21gjECttbXPM6aQjo1a664LsFgGj](https://kusama.subscan.io/account/bXismpoTnigDrWfCGbHdp21gjECttbXPM6aQjo1a664LsFgGj)
🔗 [0xa1e2eaba04d665d9f19e422d16ee138030036ed07d245094d6a693e9964a4f38](https://kusama.subscan.io/extrinsic/0xa1e2eaba04d665d9f19e422d16ee138030036ed07d245094d6a693e9964a4f38)

🪅 Let’s grab anoth

[2022-11-10 08:48] #4288 closed

[2022-11-10 08:54] #4228 closed

[2022-11-10 08:54] #4151 closed

[2022-11-10 09:33] exezbcz commented on #4117
yup, it should redirect you to the profile. For hover states please see #4111 section links.

[2022-11-10 09:36] exezbcz commented on #4296
imo it's associated with redesigning the minting process. Also, it could be done similarly to the portfolio(xcm + teleport) page - the selector of the network.

[2022-11-10 09:37] exezbcz commented on #4276
Its in the figma, landing page handoff. Lmk and i will export it for you.

[2022-11-10 14:30] roiLeo commented on #3874
closing this one since it's not related with new design

[2022-11-10 14:30] #3874 closed

[2022-11-10 14:36] roiLeo commented on #1929
meanwhile this has been done, closing it

[2022-11-10 14:36] #1929 closed

[2022-11-10 14:39] roiLeo commented on #1849
![Screenshot 2022-11-10 at 15-37-54 NFT Artist Profile on KodaDot KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/201120104-a131c395-3b83-4749-9917-fd18bc06d70a.png)

Closing it because it has been done

[2022-11-10 14:39] #1849 closed

[2022-11-10 14:42] roiLeo commented on #1541
Closing this one, design has been update so far continue to #4143

[2022-11-10 14:42] #1541 closed

[2022-11-10 14:46] nevermin9 commented on #4268
@yangwao I've fixed this and turned off tests for deactivated functionality to make tests run

[2022-11-10 14:49] roiLeo commented on #1191
waiting for kodadot/rubick#158

[2022-11-10 14:50] Julissa0001 commented on #4288
Fine! Thanks, but it looks like the transaction failed

[2022-11-10 14:56] roiLeo commented on #886
## Curent state

partially done

## To do
Use [custom-headers](https://buefy.org/documentation/table/#custom-headers) to inform users what kind of currency is used/displayed

[2022-11-10 15:12] Julissa0001 commented on #4288
Hmm.. I used the KSM address, the same as last time

[2022-11-10 15:15] roiLeo commented on #4288
pay 30

[2022-11-10 17:38] #4271 closed

[2022-11-10 17:39] yangwao opened #4302 "Add name of wallet you are logged in and show assets of address"
We should probably add the name of the account so users know under which name they are logged in.

@exezbcz will drop some ideas:)
<img width="328" alt="image" src="https://user-images.githubusercontent.com/5887929/201167301-8eea247a-c8de-4a19-be3d-a9ae5b80090d.png">

[2022-11-10 17:43] yangwao opened #4303 "Move the login box to be drop-down under connect menu"
We should probably move the select box to be drop-down under connect menu
@exezbcz will drop designs

Suggested look would be to have sliding sidebar

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/4222#issuecomment-1310659662_

[2022-11-11 02:17] Jarsen136 commented on #4273
👋

[2022-11-11 04:16] daiagi commented on #3706
:wave:

[2022-11-11 05:39] daiagi commented on #418
:wave:

[2022-11-11 05:48] daiagi commented on #418
@roiLeo
GIF preview is playing, what is missing?

![Screencast from 11-11-22 12 45 24](https://user-images.githubusercontent.com/22791238/201272152-570ba204-b4ef-4f4f-82e1-f8e15102bf76.gif)

[2022-11-11 12:36] yangwao commented on #4232
posted three times the same? 😬🥲

[2022-11-11 20:26] yangwao opened #4306 "Wider actionable space for buttons in navbar"
Right now, the user needs to precisely hit the icon on kodadot.
To make this easier, let's make this space wider around the icon, at least 20px on each side.
From top and bottom make it the same as rest buttons in navbar

ht @vlad

https://user-images.githubusercontent.com/5887929/201425210-ec580f66-8b23-4df5-a913-4f585d120015.mov

[2022-11-11 20:27] prachi00 commented on #4306
👋

[2022-11-12 11:49] yangwao opened #4308 "Remove empty search from history"
Probably we don't need to show an empty past search.

<img width="644" alt="image" src="https://user-images.githubusercontent.com/5887929/201472558-c723889f-abab-4382-b670-bb45b72bc9e2.png">

on white mode aswell:
![image](https://user-images.githubusercontent.com/90852205/201473013-3719f59f-7814-4852-8c1b-9a02d8c78043.png)
 but its invisible

[2022-11-12 11:57] petersopko commented on #4308
👋🏻

[2022-11-12 12:17] exezbcz opened #4309 "overlapping search bar results"
![image](https://user-images.githubusercontent.com/90852205/201473385-d81bb6c3-8d42-4d60-b3af-468060085ece.png)
when scrolling down on landing page, then focusing on search bar and then  quickly type something.

[2022-11-12 12:21] exezbcz opened #4310 "focus search bar"
![image](https://user-images.githubusercontent.com/90852205/201473600-aa8b2240-2f87-4aac-85d6-1399fea3d3a9.png)
focus search bar light mode has placeholder. It should be same as dark mode.

[2022-11-12 12:29] exezbcz opened #4311 "black drop shadow on dark mode"
![image](https://user-images.githubusercontent.com/90852205/201473947-391b7deb-4313-449d-8e4c-3b6426672d19.png)
black drop shadow on dark mode on default state.

[2022-11-12 12:44] exezbcz opened #4312 "wallet and profile icon dark mode"
production:
![image](https://user-images.githubusercontent.com/90852205/201474322-1d44f7d7-231f-4fa4-a3b2-a5df66f88c5c.png)
design:
![image](https://user-images.githubusercontent.com/90852205/201474392-8273dc8b-b69d-432e-9d8e-48715ca52ddc.png)

profile icon:
- white stroke missing

[2022-11-12 12:46] petersopko commented on #4312
👋🏻

[2022-11-12 13:22] petersopko commented on #4310
👋🏻

[2022-11-12 13:25] petersopko commented on #4311
👋🏻

[2022-11-12 13:49] exezbcz commented on #4312
assets are in figma: second page, above the landing page
https://www.figma.com/file/3iOjW12ERFRDSVnpLuhQmf/landing-page-handoff?node-id=3156%3A4046&t=e489tQhbffNg2Guk-0

[2022-11-12 13:57] VladoTheBoi opened #4313 "Text not colored in hover state"
### What happened?

Text is not colered in hover state in light mode (create).

### Please reproduce in steps

1. go to create
2. hover on collections of NFT

### Expected Behavior

Text should be pink same as the line under the section.

### What browsers are you seeing the problem on?

Chrome

### At which address did you encounter bug?

kodadot.xyz

### Are you logged in?

Yes

### Which wallet

[2022-11-12 14:02] VladoTheBoi opened #4314 "Footer should be fixed at the bottom"
### What happened?

Footer is floating

### Please reproduce in steps

1. go to create
2. select NFT

### Expected Behavior

Footer is fixed at the bottom of the page without the whitespace below it.

### What browsers are you seeing the problem on?

_No response_

### At which address did you encounter bug?

_No response_

### Are you logged in?

_No response_

### Which wallet you are using?

_N

[2022-11-12 14:26] daiagi commented on #4313
:wave:

[2022-11-12 16:48] yangwao opened #4317 "Add suport for CLV Extension Wallet"
Add support for new wallet, seems they have 60k+ installation by chrome store

- https://docs.clv.org/use-clv-wallet/clv-extension-wallet
- https://chrome.google.com/webstore/detail/clv-wallet/nhnkbkgjikgcigadomkphalanndcapjk

[2022-11-12 22:32] prachi00 commented on #4314
👋

[2022-11-13 01:34] Jarsen136 commented on #4317
👋

[2022-11-13 04:56] preschian opened #4322 "Support HEIC format"
### What happened?

some of the NFT using HEIC format, currently we still don't support to serve the images

### Please reproduce in steps

- open https://kodadot.xyz/rmrk/gallery/11486502-941bc42e5f2ec46355-NFT-HAPPY_DEVIL-0000000000000003

### Expected Behavior

it should be show the image

### What browsers are you seeing the problem on?

_No response_

### At which address did you encounter bu

[2022-11-13 04:58] preschian opened #4323 "NFT details for gallery item (contract address, token standard)"
How to get this data?
- contract address
- token standard
- floor price of each trait
- percentage trait
- rarity

_Originally posted by @preschian in https://github.com/kodadot/nft-gallery/issues/4232#issuecomment-1312638515_

[2022-11-13 12:54] yangwao commented on #4117
oh, I see now we forgot to add Twitter to the design.

making follow up issue from this one?

[2022-11-13 13:07] daiagi commented on #4309
@exezbcz
can you clarify?
I don't understand what is the issue / how to reproduce

[2022-11-13 13:07] #4313 closed

[2022-11-13 13:16] daiagi commented on #4264
:wave

[2022-11-13 13:57] daiagi commented on #4264
@yangwao
% change of what?

[2022-11-13 17:54] roiLeo commented on #4323
Might be related with kodadot/rubick#155

[2022-11-13 17:59] roiLeo commented on #4312
Are we removing polkadot Avatar?
Maybe it's time to introduce profile pic (#2329)

[2022-11-13 18:08] roiLeo commented on #4144
please don't let this issue sink

remaining:

[2022-11-13 18:11] roiLeo commented on #4117
Any chance that we can add a "Copy address" feature? I use it very often when hovering profile cards

[2022-11-13 22:27] petersopko opened #4328 "Uppercase history suggestions at navbar search"
### What happened?

![image](https://user-images.githubusercontent.com/73316633/201547710-499bbbc7-9ccc-474c-a7d6-1074fb224bd1.png)

### Please reproduce in steps

try to compare search suggestions from landing with the one at gallery/collections

### Expected Behavior

not highercase

### What browsers are you seeing the problem on?

_No response_

### At which address did you encounter bug?

_No

[2022-11-13 22:39] petersopko commented on #4312
prod:
![image](https://user-images.githubusercontent.com/73316633/201548086-a53108a2-3db2-4d4b-b2e5-c549fa42fe44.png)

design:
![image](https://user-images.githubusercontent.com/73316633/201548122-fd6ad666-e9c4-48de-b50e-431e569cce18.png)

@exezbcz can you please clarify the objective of this task? what exactly needs to be done? there are three icons in design, not sure whether we want to remove t

[2022-11-14 08:26] roiLeo commented on #4264
Collection Volume

[2022-11-14 10:40] Jarsen136 commented on #4322
👋

[2022-11-14 10:42] roiLeo commented on #4230
I've already started but I might need `oruga-ui` (from #4305) in order to create new button component

[2022-11-14 11:14] daiagi commented on #4264
@yangwao @roiLeo
Maybe I'm not understanding this issue correctly
I've got 2 questions:

1. I've added the following code to TopCollectionItem.Vue to display volume in last month
 but all values are 0, they stop being 0 if i increase the time range to 1 year!!!
I've did a sanity check, increased the time frame to 3 years, the number i get are the same as in the page
https://kodadot.xyz/rmrk/collec

[2022-11-14 11:19] roiLeo commented on #4264
Yes! % change over 1month. You'll need to compare with the previous month to calculate the evolution

[2022-11-14 12:27] exezbcz commented on #4232
Its also a solution. One that came to mind is switching the card to the second tab if there is no data, if that makes sense. We don't want to rearrange the tabs' order.

[2022-11-14 12:28] exezbcz commented on #4309
there are two search results opened at once. Idk if it was trigerred on lower internet speed, I just scrolled down and hit "K" and then quickly start typing.

[2022-11-14 12:30] exezbcz commented on #4144
I am going to do version 1.1

[2022-11-14 12:31] exezbcz commented on #4117
yup, i will make it. It should also be in the wallet icon hover.

[2022-11-14 12:45] exezbcz commented on #4312
![image](https://user-images.githubusercontent.com/90852205/201662782-6704a3fb-98b3-40a9-9e2e-8d2e2538b96c.png)
- profile icon is wrong when you are not connected
- when you connect wallet your profile icon changes to polkadot avatar - in dark mode only the stroke is wrong - which should be white.
- wallet icon, should be the type with only outlines.

we are not changing the functionality, only th

[2022-11-14 13:34] daiagi commented on #4264
:wave:

[2022-11-14 23:06] Julissa0001 commented on #4288
Hey! :) Any updates?

[2022-11-15 02:39] prachi00 commented on #4276
yes can you please export, I cant find the white shape ones

[2022-11-15 09:57] Tomen opened #4331 "Low contrast of buy button does not work well with low contrast screens"
### Is your feature request related to a problem?

The low contrast of the "Buy" button makes it hard to discover it quickly on older low contrast screens.

### Describe the solution you would like

better contrast for the primary CTA

### Describe alternatives you have considered

-

### Screenshots

![image](https://user-images.githubusercontent.com/317186/201889340-8e3282d2-32c7-49f4-83f8-c6486

[2022-11-15 10:53] daiagi commented on #4266
:wave:

[2022-11-15 10:57] Jarsen136 commented on #4235
Not yet. I will work on it these days.

Ok, I will check it.

[2022-11-15 13:22] #4317 closed

[2022-11-15 13:29] #418 closed

[2022-11-15 13:41] #4308 closed

[2022-11-15 13:43] #4311 closed

[2022-11-15 13:45] #4310 closed

[2022-11-15 13:52] yangwao commented on #4196
<img src="https://media2.giphy.com/media/MNp2LKs0P6s8pZLKAB/giphy.gif"/>

[2022-11-15 13:53] yangwao commented on #4125
This is still up for grabbing, feel free to connect it with
- #4196

[2022-11-15 18:01] prachi00 commented on #4231
not yet, I feel like we need other things to be done first before starting this?

[2022-11-15 20:37] exezbcz commented on #4276
![graphics right](https://user-images.githubusercontent.com/90852205/202020138-67ea9e16-c12c-4e73-8160-5cd61a89866f.svg)
![graphics left](https://user-images.githubusercontent.com/90852205/202020204-94c0a9f6-bf30-4c10-afad-6647861a8992.svg)

once again, everything is in the figma: https://www.figma.com/file/3iOjW12ERFRDSVnpLuhQmf/landing-page-handoff?node-id=0%3A1&t=mD0NiTVqlGNTZpuW-1
![image](htt

[2022-11-16 02:08] prachi00 commented on #4276
okay thanks

[2022-11-16 02:13] prachi00 commented on #4267
![Screen Shot 2022-11-15 at 6 12 50 PM](https://user-images.githubusercontent.com/39299315/202066778-79895886-6f7b-45df-b524-aba2679418fa.png)
we currently dont have any `soon` though, so it should all be in bold?

[2022-11-16 06:11] jkdizajn opened #4334 "Scrolled text in the mint popup"
### What happened?

After some time as the message "Stuck? Make sure to check for any popups and SIGN the transaction. ", the rest of the text will scroll out of the UI

![obrázok](https://user-images.githubusercontent.com/81104034/202095927-843d6154-ccd7-449d-ab6b-634644632b4e.png)

### Please reproduce in steps

https://user-images.githubusercontent.com/81104034/202097806-93edc962-d280-4105-a15a

[2022-11-16 06:13] prachi00 commented on #4334
👋

[2022-11-16 06:56] #4081 closed

[2022-11-16 06:56] #4232 closed

[2022-11-16 08:18] #4273 closed

[2022-11-16 08:24] yangwao commented on #4283
Hey sure, let's make follow up issue if this helps mitigate our tech debt let's do it!

Best if we can leverage in vue3 composition api?

[2022-11-16 08:25] yangwao opened #4336 "make Search & SearchCollection component customizable"
Hey sure, let's make follow up issue if this helps mitigate our tech debt let's do it!

Best if we can leverage in vue3 composition api?

ht @nevermin9 if you want to take this one, optionally can raise bounty if made well & quickly

## Ref
- #3883

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/4283#issuecomment-1316582691_

[2022-11-16 08:27] #4283 closed

[2022-11-16 08:41] roiLeo commented on #4336
could be link with #3883

[2022-11-16 11:18] daiagi commented on #4266
#4332   covers this issue as well

[2022-11-16 12:45] #4306 closed

[2022-11-16 12:50] #4268 closed

[2022-11-16 12:58] yangwao commented on #4117
Follow up for making for user hover card
- add a Twitter link to the design
- copy address feature

[2022-11-16 12:59] yangwao opened #4337 "User hover card v2"
Follow up for making for user hover card
- add a Twitter link to the design
- copy address feature

@exezbcz will drop updated design 👀

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/4117#issuecomment-1316983217_

[2022-11-16 13:03] #4117 closed

[2022-11-16 13:09] yangwao opened #4339 "Hover card collection view"
- **collection view**
  - hint collection numbers https://beta.kodadot.xyz/rmrk/collection/0a8ce195286c168f19-DONKEY
  - you want to know more about particular collection statistics
  - unique owners
  - highest sale
  - floor price
  - total volume in base currency
  - 3 pictures with highest sale/offer

Designs can be found in #4117

The card should show up, for example, when user hovers at NFT

[2022-11-16 13:13] yangwao opened #4340 "hover card NFT view"
I guess we originally intented plan to have it on collection view/explorer iirc?
Backloging till we figure out where we wanted to have this quick context info

- **NFT view**
  - collection - unique owners
  - traits rarity score open rarity score
  - highest offer in the collection
  - 3 highest sold NFTs

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/4117#issuec

[2022-11-16 13:27] yangwao commented on #4334
oh I seen this and forget to report it, valid
thank you for reporting!

pay 20

[2022-11-16 13:27] yangwao commented on #4334
😍 Perfect, I’ve sent the payout
💵 $20 @ 24.79 USD/KSM ~ 0.807 $KSM
🧗 [bXjrHpyJzSczJuuqmtN6nqCnd5b7KFa5LK1rBtF1tUHDYzp8N](https://kusama.subscan.io/account/bXjrHpyJzSczJuuqmtN6nqCnd5b7KFa5LK1rBtF1tUHDYzp8N)
🔗 [0x0d257d77490ae048e4aef43033b663724e4a47c275b1e81141e242326c4713e1](https://kusama.subscan.io/extrinsic/0x0d257d77490ae048e4aef43033b663724e4a47c275b1e81141e242326c4713e1)

🪅 Let’s grab anoth

[2022-11-16 13:30] yangwao commented on #4230
@vladtheboi iirc had ideas on dropdown custom one we could reuse somewhere in collection view 👀

[2022-11-16 13:57] exezbcz commented on #4232
yup, btw, the card should be fixed and if there are more rows then there will be scroll.
![image](https://user-images.githubusercontent.com/90852205/202199437-0f01155e-3a4e-4851-ab53-15900f4fd4d5.png)
like this:
![Uploading image.png…]()

[2022-11-16 14:00] yangwao opened #4341 "Redesign toast notification"
It can be triggered whenever you copy address for example

for example here Share -> Copy Link
https://deploy-preview-4330--koda-nuxt.netlify.app/bsx/gallery/2548799063-43?redesign=true

<img width="291" alt="image" src="https://user-images.githubusercontent.com/5887929/202200464-cea24880-df12-4872-9b34-757176fa98dd.png">

As always @exezbcz will drop some designs 😎✨

[2022-11-16 14:45] exezbcz opened #4342 "expanded container colors"
![image](https://user-images.githubusercontent.com/90852205/202210416-93f36b2a-1841-4098-9530-6b7ad0f1708f.png)
- bg colors behind buttons, please match the color to the bg.

[2022-11-16 15:07] #4342 closed

[2022-11-16 17:55] prachi00 commented on #4337
I can do this once designs are in

[2022-11-17 02:22] prachi00 commented on #4276
@roiLeo what do you think is the best way to update the bgs here, I feel like the blurred shapes should be a gradient? lmkwyt

[2022-11-17 02:32] prachi00 commented on #4015
yeah, I tried to do this with dialog as well, did not work well with css changes
anyone else can feel free to take this one up :)

[2022-11-17 02:38] prachi00 commented on #4231
so to run histoire, I did pnpm story:dev and I get errors
<img width="958" alt="Screen Shot 2022-11-16 at 6 38 41 PM" src="https://user-images.githubusercontent.com/39299315/202341211-56def0e0-4c76-45ee-9db5-08c04aa7fa65.png">

[2022-11-17 03:41] prachi00 commented on #4231
oh okay I'll try doing this, thank you

[2022-11-17 04:52] prachi00 commented on #4231
@preschian how are we handling different chains here? Like currently we have different components for rmrk and different for bsx, so are we merging that through refactoring?

[2022-11-17 10:28] exezbcz opened #4345 "profile dropdown text color"
![image](https://user-images.githubusercontent.com/90852205/202422355-f17f2f00-7516-4436-a113-7141f3b2db02.png)
wrong text color - should stay black

[2022-11-17 10:41] daiagi commented on #4345
:wave:

[2022-11-17 11:07] jkdizajn commented on #4334
THX <3

[2022-11-17 11:26] roiLeo commented on #4331
Hey! Thank you for reporting this, but it will be changed in the upcoming new design.

[2022-11-17 11:32] roiLeo commented on #4276
I don't know about that but you'll probably have to use css blur filter

Note: On new [nuxt3](https://nuxt.com/) website they have parts that look like this, you could use their solution as a model

[2022-11-17 12:34] exezbcz opened #4347 "focus searchbar placeholder"
Text placeholder is still there when you focus on search bar. I think it was already fixed before a while.
![image](https://user-images.githubusercontent.com/90852205/202447603-be415f21-47e3-43c8-896c-cfc0b01c0187.png)

- remove text on focus
- same for light mode

[2022-11-17 12:36] exezbcz commented on #4340
- there could be a list of properties instead of 3 highest sold nfts

i will post a prototype how it could look like

[2022-11-17 12:40] exezbcz commented on #4267
Yup in this instance with beta.kodadot.xyz. We can maybe add the (beta) to the position of top index and making it smaller? - same with rococo

[2022-11-17 12:48] exezbcz opened #4348 "expanded container color v2"
its happening again on kodadot.xyz
Description in #4342
![image](https://user-images.githubusercontent.com/90852205/202450241-ee826f96-41a3-46fa-8076-aaf70fb068cb.png)

[2022-11-17 13:06] roiLeo commented on #4348
Hey @exezbcz, when issue closed and PR merged refer to beta.kodadot.xyz not kodadot.xyz (production)
@yangwao will make a new release in the upcoming days

[2022-11-17 13:10] exezbcz commented on #4348
Ic, my bad, thanks!

[2022-11-17 13:10] #4348 closed

[2022-11-17 13:28] exezbcz commented on #4341
lets use this style for now. Its a 12px text (small) in a button secondary
![image](https://user-images.githubusercontent.com/90852205/202458902-a86a31a6-1da0-4f2c-ae55-44487b13fea0.png)
its in figma landing page handoff, next to the hover card.
![image](https://user-images.githubusercontent.com/90852205/202459002-48107190-fea9-4ebc-80f9-0b4c0fc850c3.png)
https://www.figma.com/file/3iOjW12ERFRDSVn

[2022-11-17 14:30] yangwao opened #4349 "New fun facts about the KodaDot ecosystem"
We should top up new fun facts about the KodaDot ecosystem. Maybe ambassadors can help us with this? :)

Let's drop down some fun facts you would like to see in KodaDot 😝

@spacesmutje probably know some good ones! :)

<img width="309" alt="image" src="https://user-images.githubusercontent.com/5887929/202473296-d841f839-18b9-40ee-beac-7b7da0f6f4e2.png">

Let's put it into code once we will accumul

[2022-11-17 14:38] yangwao commented on #4331
Hey @Tomen, thanks for reporting this; we already thought about this in the new design
- #4111
- feel free to explore more about what's coming to the new KodaDot 3.0 😏
- if that satisfies this, feel free to close issue or, if not elaborate on what could be done till we implement a new one till it's time
<img width="943" alt="image" src="https://user-images.githubusercontent.com/5887929/202474655-b

[2022-11-17 15:17] roiLeo commented on #4111
Hey @exezbcz can we redesign emojis box too? (on RMRK)
![Screenshot 2022-11-17 at 16-13-42 Dziko KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/202484585-6d3340ad-105b-4616-88cf-04edb027a5f2.png)

I don't see on Figma where the emojis/reactions will be displayed, it would be a shame to remove this feature

[2022-11-17 15:23] roiLeo opened #4350 "More from this collection & Visited NFTS show 0 KSM"
I'm a bit confused on why we are showing "0" on NFT which are no longer listed (can't buy)

Tested on `/rmrk/gallery/9546415-b4d42c2aa369ee1f27-PREZT-THINKER-0000000000000118`

![Screenshot 2022-11-17 at 16-21-05 Thinker KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/202486401-ed2cdd7e-1701-4131-ac18-c6c4a02f24d5.png)

### possible solution
- hide when pric

[2022-11-17 15:27] exezbcz commented on #4111
No worries, i believe we can add it with full screen view into the v1.1 and also once we have some more feedback.

[2022-11-17 15:42] Jarsen136 commented on #4347
👋

[2022-11-17 15:42] Jarsen136 commented on #4350
👋

[2022-11-17 15:55] #4230 closed

[2022-11-17 15:55] #4341 closed

[2022-11-18 07:10] roiLeo commented on #4350
IMO, I would just hide price section (or change 0 with "---") but if you have another solution let me know

[2022-11-18 09:48] roiLeo opened #4354 "redesign: GalleryItem MISC leftover"
## TODO:

- [x] fix font-awesome integration in histoire (#4782)
- [x] create NeoDropdown component based on o-dropdown in histoire (#4361)
- [x] NeoButton font familly in histoire (done in #4376)
- [x] NeoButton scss file?
- [ ] Small issue `history/getCurrentlyViewedItem` not updating
- [ ] border on arrow tooltip (https://github.com/kodadot/nft-gallery/issues/4354#issuecomment-1342719002)

*fro

[2022-11-18 13:10] vikiival commented on #3455
kodadot/workers#14

[2022-11-18 14:50] yangwao commented on #4350
But on Basilisk you can make offer even on unlisted tho.
We can figure it later

[2022-11-18 14:51] #4350 closed

[2022-11-19 13:33] exezbcz commented on #4340
what about this? hovering over nft name? Or we can add little text "details" on the cards
![image](https://user-images.githubusercontent.com/90852205/202853260-5e16691d-3829-4dcb-9ae0-e484d27f111e.png)

[2022-11-19 15:17] Tomen commented on #4331
looks good to me. godspeed!

[2022-11-19 15:17] #4331 closed

[2022-11-19 23:58] fabiogatti opened #4357 "Searchbar tries to navigate when empty"
### What happened?

When blurring the search bar on the 'gallery' and 'collections' tab, the page is trying to do a search with the contents of the empty searchBar.

### Please reproduce in steps

1. Go to Explore -> Categories/Collections
2. Click on the top search bar
3. Blur the element
4. Page reloads the same page without any changes to it

### Expected Behavior

It should not try to reload t

[2022-11-20 11:29] JustLuuuu opened #4358 "Unable to finish minting collection"
Artist have an issue with minting on RMRK. He minted 2 pieces, then this issue appeared:

![image](https://user-images.githubusercontent.com/104380776/202899401-1fc39c5f-1a27-4820-9ae0-a33193c34877.png)

He have enough ksm in wallet (Talisman).

[2022-11-20 14:24] exezbcz commented on #4267
hi! how does it look? 👀

[2022-11-21 00:50] prachi00 commented on #4267
Hi, I'll work on this one soon

[2022-11-21 07:23] roiLeo commented on #349
It might be interesting to use [vue-command-palette](https://github.com/xiaoluoboding/vue-command-palette)

[2022-11-21 08:05] daiagi commented on #4354
@roiLeo
I'd like to create the NeoDropdown. may I?

[2022-11-21 08:06] exezbcz commented on #4233
Yup, good points. Its mainly for future. It was also meant for collections with the same items. For example spirit keys - or other acces keys - same item, same properties, different listing price. If that doesnt make sense we can easilly remove it.
What do you think?

[2022-11-21 08:19] roiLeo commented on #4354
Sure! it's very good for a start with histoire

[2022-11-21 10:35] vikiival commented on #349
Wow, great find @roiLeo!

However there is just support for Vue3

[2022-11-21 12:31] daiagi opened #4361 "create NeoDropdown component based on o-dropdown in histoire"
from
- #4354

[2022-11-21 12:31] daiagi commented on #4361
:wave:

[2022-11-21 12:47] roiLeo commented on #349
You're right 😢
![Capture d’écran 2022-11-21 à 1 43 48 PM](https://user-images.githubusercontent.com/9987732/203058690-34398585-5340-4b45-ac73-15569eef4313.png)

Blocked by #2081

[2022-11-21 15:08] #4345 closed

[2022-11-21 15:20] #4337 closed

[2022-11-21 16:06] yangwao commented on #4119
soon closed by #4297
and then could be redesign made

[2022-11-21 16:19] exezbcz commented on #4341
![image](https://user-images.githubusercontent.com/90852205/203105324-3d2a9a8b-78bb-4a31-9d06-b3b06f120803.png)
btw, the font doesnt look like 12px, also make it please solid color so its not transparent.

[2022-11-21 16:33] roiLeo commented on #4341
On it.

[2022-11-21 16:44] vikiival opened #4363 "Create NeoSelect"
While reviewing #4297 I realized we do not have any common select :)

ref:
- #4354

[2022-11-21 17:27] yangwao opened #4364 "Follow up top collection data volume and & change v2"
// TODO:
- missing translation
- missing some types `(nft)`
- transform `<TopCollections />` component nuxt3 way
  - #4381
- refactor `timeFilters` with `<NeoButton />` from #4330
<details>
  <summary>Code</summary>

[code]

</details>

_Originally posted by @roiLeo in https://github.com/kodadot/nft-gallery/pull/4332#pullrequestreview-1183865135_

[2022-11-21 17:36] yangwao opened #4365 "Follow up top collection data volume and & change v3"
Small changes could be made in this issue

- design of time filter for black version, you can find them here https://www.figma.com/file/3iOjW12ERFRDSVnpLuhQmf/landing-page-handoff?node-id=798%3A3662

<img width="518" alt="image" src="https://user-images.githubusercontent.com/5887929/203122499-3a33ba66-69e6-4995-8fb9-3d27c4a8dcc0.png">

- we've meanwhile changed time frames as there is fewer data s

[2022-11-21 17:52] yangwao opened #4366 "Hover state seems lagging when circling with cursor around collections on landing"
Feel free to push your code so we can take a look.

https://github.com/kodadot/nft-gallery/issues/4264#issuecomment-1313765746

Introduced in
- #4332

is there something special about some running queries on background?
I don't see anything special in network tab tbh.

https://user-images.githubusercontent.com/5887929/203124941-8ce87118-a0ca-497c-8977-283e00201d65.mov

current beta at `main`

http

[2022-11-21 18:02] #4264 closed

[2022-11-21 18:02] #4266 closed

[2022-11-21 21:14] exezbcz opened #4367 "Landing page colors broken"
![image](https://user-images.githubusercontent.com/90852205/203159224-48fd3218-275d-4ebc-973a-a249463820e8.png)
beta.kodadot.xyz
- first heading invisible - light mode

![image](https://user-images.githubusercontent.com/90852205/203159864-83f7d4f7-0247-40fb-b936-855087be45f8.png)
- colors broken

![image](https://user-images.githubusercontent.com/90852205/203160309-68b3c62a-c937-4d70-a991-7d1a179a

[2022-11-21 21:32] prachi00 commented on #4367
👋

[2022-11-21 21:40] yangwao commented on #4367
Probably related

- #4364
- #4334

[2022-11-21 21:41] yangwao commented on #4367
Probably related

- #4346

[2022-11-22 02:56] prachi00 commented on #4367
yeah seems like, @daiagi would you mind taking a look at this one?

[2022-11-22 03:29] prachi00 commented on #4367
![Screen Shot 2022-11-21 at 7 29 33 PM](https://user-images.githubusercontent.com/39299315/203214314-bdf2d132-6dce-4a0a-a600-2076b2a7fb0a.png)
wallet popup text isnt visible either

[2022-11-22 03:43] daiagi commented on #4367
@prachi00

1. I'm not seeing that
![image](https://user-images.githubusercontent.com/22791238/203215484-005d1f90-a26a-46a9-9024-c35162e55067.png)

2. I've got the fixed css ready
should i submit a PR or paste it here or?

![image](https://user-images.githubusercontent.com/22791238/203215864-7c2c1a11-14f0-4cc1-aa07-e3645198491c.png)

[2022-11-22 04:54] preschian opened #4368 "wrap oruga `table`, `tabs` and `tooltip` in histoire"
unable to put `oruga-table` in histoire, will check later in seperate issue
![image](https://user-images.githubusercontent.com/734428/203224939-84236560-56dc-4819-a6f1-56a48933282d.png)

_Originally posted by @preschian in https://github.com/kodadot/nft-gallery/issues/4233#issuecomment-1323063536_

[2022-11-22 04:57] preschian opened #4370 "redesign: Listings section"
# Discussion

I see. I couldn't find a suitable case, for now, so will separate the issue

revive this file in case we need it [`4478860` (#4360)](https://github.com/kodadot/nft-gallery/pull/4360/commits/4478860c97c8b5ab8cf08e29c928b0103680a940)

_Originally posted by @preschian in https://github.com/kodadot/nft-gallery/issues/4233#issuecomment-1321851614_

# Requirements

https://github.com/kodad

[2022-11-22 05:15] prachi00 commented on #4231
@preschian had one doubt, so I was working on refactoring the ActionList component and there is this one function that returns a translated string
![Screen Shot 2022-11-21 at 9 14 35 PM](https://user-images.githubusercontent.com/39299315/203227502-c8062078-f57e-4db5-b484-ab25fdff7551.png)

do you know how to use `$t(`  in vue composition? I couldn't find it

[2022-11-22 05:23] prachi00 commented on #4231
@exezbcz
![Screen Shot 2022-11-21 at 9 23 18 PM](https://user-images.githubusercontent.com/39299315/203228723-136ca6ac-0cd6-4119-8da5-5b1eb4878bbb.png)
 the new design doesn't have offer expires in dropdown? is it removed?

[2022-11-22 06:21] daiagi opened #4371 "can't pass an @click handler to NeoButton"
should be able to pass a function to NeoButton to handle click events

[2022-11-22 06:21] daiagi commented on #4365
:wave:

[2022-11-22 07:13] daiagi commented on #4371
:wave:

[2022-11-22 07:54] roiLeo commented on #4371
Hey! I can't understand your problem on why would you need to do this, feel free to take a look some examples on [histoire repo](https://github.com/histoire-dev/histoire/tree/main/examples)

[2022-11-22 09:05] spacesmutje commented on #4349
Fun fact 1:
Did you know that in the first 6 months after opening Subwork Bled, x other teams paid a visit to work on the future of web3?

Fun fact 2:
Did you know that the team of KodaDot attended x events to promote and nurture the idea of the only open-source, cross-chain NFT marketplace?

Fun fact 3:
Did you know that KodaDot created and hosted x events in 2022, with a total of y on-site parti

[2022-11-22 09:05] spacesmutje commented on #4349
No idea what happened here 😅

[2022-11-22 09:15] #4367 closed

[2022-11-22 12:23] daiagi commented on #4371
Hey @roiLeo

have a look at this piece from TopCollections
[code]
 or this here NeoButton.story.vue

[code]

the "click" event handler is not fired.

I don't know why, I expected it to work out of the box

as a work around add this to NeoButton
[code]

and poof, it works

[2022-11-22 12:43] roiLeo commented on #4371
https://github.com/kodadot/nft-gallery/pull/4376#pullrequestreview-1189979329

[2022-11-22 12:53] #4371 closed

[2022-11-22 13:06] exezbcz commented on #4367
nope

[2022-11-22 13:15] roiLeo commented on #4367
related with https://github.com/kodadot/nft-gallery/commit/20b0212edd86a82798a0f47f1aed3643f6b81c93

[2022-11-22 17:40] yangwao commented on #4276
@prachi00 any updates on this?

[2022-11-22 17:54] yangwao opened #4378 "Explorer tweak before new design v0.9"
We will work with @exezbcz about some small and impactful changes to explorer before we come back to redesign the whole explorer after the collection view.

Primary, we will be putting filters on the side like any other marketplace has, which we will be pretty great about.
Plus, we can update buttons to upcoming styles too.
The thing is, we probably won't have time to circle back sooner than 6 wee

[2022-11-22 18:18] yangwao opened #4379 "Remove Network Switch"
Once all issues below are closed, we can remove the network switch for easier navigation in KodaDot.

### Needs to be closed first
- #4275
- #4263
- #4257
- #4267

[2022-11-22 18:21] yangwao opened #4380 "Add network filter to collections on landing"
Once we will have a multichain hack
- #4257

we can add a filter for collection on landing by network

![telegram-cloud-document-4-6046289976730062597](https://user-images.githubusercontent.com/5887929/203391490-79348152-64e0-4afd-ad0c-fe46a1b8753d.jpg)

## Ref
- #4263

[2022-11-22 19:51] exezbcz commented on #4231
i am going to make it, we are not going to remove it.

[2022-11-22 20:25] prachi00 commented on #4276
So, I was focusing on the p2 tasks , I'll be taking a look at this later this week as I am out for 3 days starting tomorrow, so if someone else wants to pick it up and finish it before, please go ahead.

[2022-11-23 08:44] daiagi opened #4381 "transform <TopCollections /> component nuxt3 way"
from
- #4364

[2022-11-23 08:44] daiagi commented on #4381
:wave:

[2022-11-23 09:19] roiLeo commented on #4378
A while ago (#2947) I had started to work on something like this.

![167655522-86e1d19c-dc6d-4503-a55d-19718f85259c](https://user-images.githubusercontent.com/9987732/203506689-19aa234f-500a-4c92-acf9-e8b9bdf5ccd1.png)

I would like to:
- be able to collapse side filters
- move sorting option in the top right
- change grid card size
- filter by media type (#1162)

Note:
- should we keep pagination

[2022-11-23 10:12] daiagi commented on #4364
@yangwao @roiLeo
Hi guys
I would be happy to add translations but tbh I don't know how
can you provide some guidance on that?
does it have to be all languages?

[2022-11-23 10:35] roiLeo commented on #4364
You can find some infos on [kodadot documentation](https://docs.kodadot.xyz/contrib-helpers.html#getting-started)
We use [nuxt-i18n](https://i18n.nuxtjs.org/) as translation system ([vue i18n](https://kazupon.github.io/vue-i18n/introduction.html) wrapper for nuxt), feel free to check any component and you can find out how it's implemented/working.

not necessarily but English is required

[2022-11-23 13:17] vikiival opened #4383 "Rewrite MetaTransactionMixin as composable"
Now our implementation is relying heavily on mixins that ofload a lot of logic.

It would be nice to replace it with some future proof implementation.

If you need to know how does it work feel free to ping me.

[2022-11-23 13:49] #4035 closed

[2022-11-23 14:12] JustLuuuu opened #4385 "Loading page - text does not fit"
### What happened?

Tried to mint a new collection, and the text on the loading page did not fit in it.
<img width="1383" alt="Screenshot 2022-11-23 at 14 07 20" src="https://user-images.githubusercontent.com/104380776/203567683-7b2b15c3-1c6c-4b21-bb57-38bdd8093691.png">
You can see that did you know fact is outside the frame

### Please reproduce in steps

creating new collection on Basilisk

###

[2022-11-23 14:38] roiLeo commented on #4385
might have been fix by #4344, feel free to test it again on [beta.kodadot.xyz](beta.kodadot.xyz/)

[2022-11-23 14:42] #4365 closed

[2022-11-23 14:45] #4143 closed

[2022-11-23 14:45] yangwao opened #4386 "New social media cards SEO/OG v2"
I think it's much better than the current one from the previous stuff, so I guess this one is not perfect, but we will follow up with @exezbcz on it later for a much better v2 for neobrutalism

We will look on it once we will finish collection view 😏
Not urgent tho

_Originally posted by @yangwao in https://github.com/kodadot/nft-gallery/issues/4384#issuecomment-1325183178_

[2022-11-23 14:47] exezbcz commented on #4312
Hi! How is it going? 👀

[2022-11-23 14:48] #4357 closed

[2022-11-23 14:52] yangwao commented on #2136
I can look on this 👀

[2022-11-23 15:23] yangwao commented on #614
@VladoTheBoi is working on it, maybe some updates are coming soon 😏

[2022-11-23 15:26] yangwao opened #4387 "Button in searchbar need some love"
🥺
<img src="https://media0.giphy.com/media/GFE5dagX3tKTqkRZg8/giphy.gif"/>

https://user-images.githubusercontent.com/5887929/203584387-8bce3773-932f-4561-8858-576aaafdb443.mp4

[2022-11-23 16:33] #4312 closed

[2022-11-23 16:50] exezbcz opened #4390 "Button hover effect"
looks like the small button still has wrong pink hover color
![image](https://user-images.githubusercontent.com/90852205/203602953-7f134461-e338-487c-b4a8-832e555ff08c.png)
changes:
- bg color to k-accent
- text color to black

[2022-11-23 16:59] exezbcz commented on #4378
Nice! good ideas.
For version 0.9, I believe we will keep things basic before returning to it once the collection detail and other tasks are completed.
Thus we won't be adding many new features to the makeover. It would be only layout change and bit of a reorganizational change.
Things that are going to be in the makeover:
- collapsible burger menu
- layout change of the filters
- items in grid

I

[2022-11-23 17:24] petersopko commented on #4312
didn't get back to this in time, looks like @roiLeo took care of it 👍🏻

[2022-11-23 17:26] petersopko commented on #4390
👋🏻

[2022-11-23 19:34] exezbcz commented on #4340
okay, i changed the section to percentage of the trait
![image](https://user-images.githubusercontent.com/90852205/203631837-5565f80c-333a-4205-90b1-fe9d19937101.png)
Once we find out where to hover over the explore cards so they can pop up, I believe someone can begin working on it.

[2022-11-23 23:11] shashkovdanil commented on #4387
👋🏻

[2022-11-24 00:45] daiagi opened #4393 "top collections doesn't look good on mobile"
The Collection cards overflow and can't be seen

![image](https://user-images.githubusercontent.com/22791238/203669868-05a78e44-4294-47fe-9ccc-709ecad91d79.png)

[2022-11-24 03:46] preschian opened #4396 "some `@polkadot` packages has multiple versions"
after syncing from the main branch got this warning message. some `@polkadot` use multiple version
![image](https://user-images.githubusercontent.com/734428/203689292-6f17c00c-ce56-454a-b6bd-3f61811da667.png)

![image](https://user-images.githubusercontent.com/734428/203689346-6f7b8810-0e88-4b4f-b436-1b79416fdcf5.png)

_Originally posted by @preschian in https://github.com/kodadot/nft-gallery/issu

[2022-11-24 11:21] #1483 closed

[2022-11-24 11:24] yangwao opened #4397 "Migration NFTs from Singular to Basilisk"
We want to sponsor this hack within Kodadot to enable people to move proto-NFTs using `system.remark` (known under RMRKv1) to Basilisk NFT marketplace, which uses native construct for NFTs on the runtime level.

## Migration should consist
- choose their address on RMRKv1 with logged wallet
- easy UI for people to select their collection for migration from list
- migration checks if items are
  -

[2022-11-24 11:42] JustLuuuu commented on #4385
@yangwao tested, its working, Im closing the issue

[2022-11-24 11:42] JustLuuuu commented on #4385
@yangwao tested, its working, Im closing this issue

[2022-11-24 11:42] #4385 closed

[2022-11-24 12:03] JustLuuuu opened #4399 "Not possible to mint new collection on Basilisk"
### What happened?

For some time, new artists cannot mint on Basilisk - KodaDot.

### Please reproduce in steps

Create a new collection - add NFT, name and description. Click on create - it's loading, but the collection will not be created. You will get this notification:
<img width="1405" alt="Screenshot 2022-11-23 at 14 02 56" src="https://user-images.githubusercontent.com/104380776/203778965-

[2022-11-24 12:16] yangwao commented on #4378
Yes, we can drop pagination (looking R & OS), doesn't make sense now and eats some space.
yet pimp infinite scroll to randomly not bounce on scroll up and test addressing properly. I recall we have bug when you go on item and return back it jumps you on different view port of page

[2022-11-24 12:20] vikiival commented on #4399
Looks like the step fails after the upload

<img width="260" alt="Screenshot 2022-11-24 at 12 20 23" src="https://user-images.githubusercontent.com/22471030/203783172-c8dfd113-ffb6-4ef3-8247-8272f185c790.png">

[2022-11-24 12:53] vikiival opened #4401 "Residuals from Unique v2 upgrade"
When Basilisk got stuck they upgraded underlying runtime pallet to V2 that changed names for collections and tokens.

I think that some residuals are still affected.

Task:

- check if sp,e calls can be affected:

old:
[code]

new:

[code]

[2022-11-24 13:01] #4399 closed

[2022-11-24 13:07] roiLeo opened #4402 "Wallet selection darkmode"
Small issue in **dark-mode** when selecting wallet on hover state

![Screenshot 2022-11-24 at 14-03-18 KodaDot - Kusama NFT Market Explorer](https://user-images.githubusercontent.com/9987732/203791285-302aac4d-0bc9-4bfd-9d43-548a7ec66bd3.png)

[2022-11-24 14:37] #4387 closed

[2022-11-24 16:41] yangwao opened #4403 "Redesign Gallery item v1.1"
This issue will carry feedback from the original redesign, as we decided to freeze the current addition for till another rollout

## Things we will be looking for next redesign
- can we redesign emojis box too? (on RMRK) ht @roiLeo
- rmrk v1 emotes
- with full-screen view
- feel free to drop what we should have
- next item in collection, left/right arrows ?
- we need pagination for activity tabs

[2022-11-24 16:43] yangwao commented on #4111
Feedback is still welcome, and features request is being frozen for this
- https://github.com/kodadot/nft-gallery/issues/4403

There are some leftovers for tasks, if anyone is looking to grab something.

- [ ] #4229
- [ ] #4231
- [ ] #4233
- [ ] #4234
- [ ] #4235

[2022-11-24 17:08] Jarsen136 commented on #4402
👋

[2022-11-24 17:27] Jarsen136 commented on #4383
👋

[2022-11-24 17:29] #4229 closed

[2022-11-24 18:28] exezbcz commented on #4254
i thought its a svg. I personally think that the shorter one would look better. I will upload it here

[2022-11-24 18:50] exezbcz opened #4405 "Wallet connect dialog v2"
connected with:
- #4144
- #4303
- https://github.com/kodadot/nft-gallery/issues/4720

## Basics
![landing page - main (2)](https://user-images.githubusercontent.com/90852205/213766870-627285be-7f00-4b82-bbf5-f7bd26660d42.png)

- this is how it will look like when you open the sidebar on
- darker screen, black bg with 17% opacity
- I experienced with background blur but its not that usable when the

[2022-11-24 19:25] exezbcz opened #4406 "Navbar profile icon"
continuation of #4389
Everything is good, however the current profile icon doesn't seem to fit the overall aesthetic.

- current one:
![image](https://user-images.githubusercontent.com/90852205/203728088-ec942880-0a54-41d9-a402-7f2a53adb8ee.png)
- it should look like this:
![image](https://user-images.githubusercontent.com/90852205/203728288-0931b758-4c4f-42fd-b7e5-6de78863a92d.png)

Figma has iss

[2022-11-24 23:06] shashkovdanil commented on #4406
👋🏻

[2022-11-25 08:56] #3694 closed

[2022-11-25 09:05] roiLeo commented on #3244
https://github.com/kodadot/packages/pull/77 might be related

[2022-11-25 11:45] exezbcz commented on #4234
do you mean tooltip for the exact date?

[2022-11-25 13:42] #4254 closed

[2022-11-25 13:45] #4211 closed

[2022-11-25 13:47] #4390 closed

[2022-11-25 13:48] #4406 closed

[2022-11-25 13:50] #4402 closed

[2022-11-25 14:13] shashkovdanil commented on #4169
👋🏻

[2022-11-25 14:52] yangwao commented on #4234
Yup I guess means for absolute date

[2022-11-25 15:32] yangwao opened #4415 "Item on Basilisk doesn't load"
This particular image doesn't load https://beta.kodadot.xyz/rmrk/gallery/1437594557-16

<img width="965" alt="image" src="https://user-images.githubusercontent.com/5887929/204018550-7b84861a-6856-4317-acf8-32bcd86d599e.png">

but from same collection this one does https://beta.kodadot.xyz/bsx/gallery/1437594557-13

Any ideas?

[2022-11-25 15:39] exezbcz opened #4416 "Profile drop down buttons"
- buttons should have top and bottom border
like this:
![image](https://user-images.githubusercontent.com/90852205/204017942-3b233f48-7899-4e63-af39-8a34e94dccca.png)

current version:
![image](https://user-images.githubusercontent.com/90852205/204018000-a4925b37-7bfc-47a4-9470-3d33f32e97ed.png)

[2022-11-25 15:51] Jarsen136 commented on #4416
👋

[2022-11-25 15:53] Jarsen136 commented on #4415
👋

[2022-11-25 16:04] Jarsen136 commented on #4415
@yangwao  hey, seem that you open an incorrect url of this nft. The prefix should be bsx

https://beta.kodadot.xyz/bsx/gallery/1437594557-16

<img width="758" alt="image" src="https://user-images.githubusercontent.com/31397967/204021825-ea135d28-47ed-4633-8835-22575dd3be07.png">

[2022-11-25 17:37] jkdizajn opened #4418 "Creating a multi-file music NFT"
### Is your feature request related to a problem?

I know a lot of artists who mint their music on Singular for the multi resources feature. Their NFT then looks like an album or EP. I have tried it myself on my ["Planet PO"](https://singular.app/collectibles/kusama/900d19dc7d3c444e4c-PLANETPO) collection. But there are a lot of limitations that make our life uncomfortable. Let's solve them on Kod

[2022-11-26 10:01] JustLuuuu commented on #4349
Did you know that during blockchain events, KodaDog Berry will try to steal your food on average five times?

Did you know that you can find on our Discord a special channel focused only on anime waifus?

[2022-11-26 11:20] daiagi opened #4419 "add translation to top collections"
translation

## Ref
- #4364

[2022-11-26 11:20] daiagi commented on #4419
:wave:

[2022-11-26 12:27] JustLuuuu opened #4420 "Making empty collections visible to creator"
### Is your feature request related to a problem?

When someone creates a collection and will not add NFT right after into it, this collection is not visible in his profile. I just chatted with a confused artist who wanted to report an issue because he could not find his (empty) collection. This is probably not an essential change, but it would make our platform a bit more user-friendly.

Artists

[2022-11-26 13:17] JustLuuuu opened #4421 "All the new collections are getting the same name: "Basilisk-Sama""
### What happened?

I tried to create a collection with a different name("Bridge"), and after creating it, it was named "Basilisk-Sama". I tried again twice with totally different names.... now I have 3 Basilisk Sama collections.

### Please reproduce in steps

Create new BSX collection - classic - fill everything.

### Expected Behavior

I want my collection to be named after what I came up with.

[2022-11-26 15:10] exezbcz opened #4422 "Remove green glow"
Hi! there is weird glow on the nft cards - it indicates that you are the owner.
Can we remove it?
![image](https://user-images.githubusercontent.com/90852205/204095678-e1399044-b238-4920-bbe1-892b385f06fd.png)

[2022-11-26 15:10] petersopko commented on #4422
👋🏻

[2022-11-26 23:24] prachi00 commented on #4231
@preschian so I tried to refactor the components we have but since I am new to the vue composition thing, its too complex for me, so I am thinking of starting with smaller refactors before tackling something this big with lots of logic  stuff
`feat-gallery-btns` this is my branch, I added the buttons in the histoire, primary and secondary and did a little bit of migration stuff

[2022-11-26 23:45] prachi00 commented on #4276
@exezbcz when I import this one , it also imports the white part with it but in the design we dont have nay white part, so using this makes it look like this
<img width="122" alt="Screen Shot 2022-11-26 at 3 44 44 PM" src="https://user
![Screen Shot 2022-11-26 at 3 45 06 PM](https://user-images.githubusercontent.com/39299315/204112938-73ff9a57-d12d-41b6-9a64-fe57022c1666.png)
-images.githubusercon

[2022-11-26 23:47] prachi00 commented on #4276
<img width="833" alt="Screen Shot 2022-11-26 at 3 46 45 PM" src="https://user-images.githubusercontent.com/39299315/204112997-6bc34075-1a18-4a75-acd6-a7f699934449.png">
also, can you give an image that has these white shapes on it?

[2022-11-27 04:30] prachi00 commented on #4231
yes that would be cool with me, you can take over this one :)

[2022-11-27 12:35] vikiival commented on #4415
Closing as wrong url was provided ^-^

[2022-11-27 12:35] #4415 closed

[2022-11-27 12:38] exezbcz commented on #4231
Nice! I'm still working on the offer expiration because I neglected to include it in the designs. It looks like there will be a separate UI for mobile buy/offer. I believe I could complete it in one or two days.

[2022-11-27 12:42] exezbcz commented on #4276
What do you mean by white part? Not sure if i understand it.
Is there better way to implement these visuals? I also changed it a bit and we are going to have these shapes/blurred colors only in the hero section and footer.

[2022-11-28 00:19] prachi00 commented on #4276
oh, can you update the latest design then on Figma and the blurred shapes as well?
I meant that the svg I imported from figma, its not all pink blurred, it has white space around it, would be nice to remove that extra spacing

[2022-11-28 15:51] shashkovdanil opened #4426 "`nuxt-img` for reduce images size"
### Is your feature request related to a problem?

There are images on the site that are over 5MB in size. It is so bad for people with a slow internet connection or a limited internet tariff plan. It also affects the Google Lighthouse ranking, and Google will lower the site in search results

### Describe the solution you would like

Using https://image.nuxtjs.org/components/nuxt-img

### Describ

[2022-11-28 21:37] shashkovdanil commented on #4196
👋

[2022-11-28 21:40] shashkovdanil commented on #4196
@yangwao @roiLeo, can I remove buefy header component? It's hard to customize

[2022-11-29 11:03] roiLeo commented on #4368
wfm
![Capture d’écran 2022-11-29 à 12 01 57 PM](https://user-images.githubusercontent.com/9987732/204512643-acc276df-67a5-4e21-b653-d33a899a3155.png)

[2022-11-29 20:19] exezbcz commented on #4233
Another thing I forgot to include in the designs was accepting and canceling offers. I'll try to add it soon.

[2022-11-30 08:20] fabiogatti opened #4429 "Wrong scroll behaviour on mobile"
### What happened?

There are some weird behaviours regarding the scroll on mobile, specifically talking about the burger menu and the search icon on the landing page.

### Please reproduce in steps

Burger scroll bug:
1. Be on mobile screen
2. Open burger menu
3. User can scroll through the page, not affecting the burger menu itself

Search icon bug:
1. Be on mobile
2. Go to landing page
3. Scrol

[2022-11-30 09:24] yeshealer commented on #4429
👋

[2022-11-30 14:04] yeshealer commented on #4429
@fabiogatti
If scrolling is disabled after opening the burger menu, the search icon should always be enabled. I think.
This is because the current search icon is only visible when scrolling down a bit.
do you think so?

[2022-11-30 16:37] #4393 closed

[2022-11-30 16:39] #4416 closed

[2022-11-30 17:07] yangwao commented on #4429
is this happening on https://beta.kodadot.xyz too?

[2022-11-30 17:47] fabiogatti commented on #4429
@yeshealer

You are correct, I think this should be the case.

@yangwao
Yep I just tested it on my mobile on the beta site and both bugs are present

[2022-11-30 19:27] exezbcz commented on #4302
hi! I think @fabiogatti intended to take this, as we addressed it in issue #4428.

[2022-11-30 20:39] exezbcz commented on #4276
Not sure how else i can edit it.
Updated place for the blurred shape is heree:
![landing page - main](https://user-images.githubusercontent.com/90852205/204902967-1d2a2cf1-7530-4289-9dbe-ace8e5ea969e.png)
- landing page handoff, nex to the dark theme.
- its going to be only in hero section and footer
May somebody advise me on how to export it so that it can be implemented @roiLeo @preschian?